﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@{
    ViewBag.Title = "Compliance Documents :: My Documents";
}

<style>
    .field-validation-error {
        color: #ff0000;
    }

    .k-current-page {
        display: none;
    }

    html .k-upload-empty {
        border-width: 1px;
    }

    .k-edit-form-container {
        position: relative;
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .k-grid-edit {
        height: 32px;
        width: 33px;
        padding: 6px 0px 10px 0;
        /*white-space: nowrap;*/
        overflow: hidden;
        /*border-radius: 20px;*/
    }

    .k-grid-delete {
        height: 32px;
        width: 33px;
        padding: 5px 0px 10px 0;
        overflow: hidden;
    }

    .fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 2em;
        }

        .fieldlist label {
            display: block;
            padding-bottom: 1em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

    .mt5 {
        margin-top: 5px;
    }

    .mt10 {
        margin-top: 10px;
    }

    .mt20 {
        margin-top: 14px;
    }

    .mt30 {
        margin-top: 18px;
    }

    .k-grid-add {
        float: right;
        /*background-color: #1fd9e1;*/
        /*color: white;*/
    }
    /*.k-add
    {
        background-image:url("'../../../../Images/Add_new_icon.png'")
    }*/
    .k-edit-buttons {
        height: 43px;
        text-align: center;
    }

    label {
        color: black;
    }

    .ml-mr {
        margin-left: 2%;
    }
</style>

<style>
        #gridMyCompliances.k-grid tbody tr {
            height: 40px;
        }

</style>

<!-- Filter Script-->
<script>
    function getFilters() {
        
        var filter = { logic: "and", filters: [] };

        var ddlMappingType = $("#ddlMappingType").data("kendoDropDownList");
        var mappingType = ddlMappingType.value();

        var ddlStatusFilter = $("#StatusFilter").data("kendoDropDownList");
        var statusFilter = ddlStatusFilter.value();

        
        if (mappingType > 0) {

            if (mappingType == 1) {
                var filterMapping = { logic: "or", filters: [] };

                filterMapping.filters.push({ field: "MappingType", operator: "eq", value: "M" });
                filterMapping.filters.push({ field: "MappingType", operator: "eq", value: "A" });

                filter.filters.push(filterMapping);
            } else if (mappingType == 2) {
                filter.filters.push({ field: "MappingType", operator: "eq", value: "S" });
            }
            else if(mappingType == 3) {
                filter.filters.push({ field: "MappingType", operator: "eq", value: "D" });
            }


            //var ddlMeetings = $("#ddlMeetings").data("kendoDropDownList");
            //var meetingID = ddlMeetings.value();
            //if (meetingID > 0) {
            //    filter.filters.push({ field: "MeetingID", operator: "eq", value: parseInt(meetingID) });
            //}

            var ddlMeetings = $("#ddlMeetings").data("kendoMultiSelect");
            var selectedValuesMeetings = ddlMeetings.value();

            var filterMeetings = { logic: 'or', filters: [] };
            if (selectedValuesMeetings.length > 0) {
                for (var i = 0; i < selectedValuesMeetings.length; i++) {
                    filterMeetings.filters.push({ field: "MeetingID", operator: "eq", value: parseInt(selectedValuesMeetings[i]) });
                }
                filter.filters.push(filterMeetings);
            }
            //
        }

        if (statusFilter != "" && statusFilter != "All") {
            filter.filters.push({ field: "StatusName", operator: "eq", value: statusFilter });
        }

        var ddlEntityId = $("#ddlEntity").data("kendoDropDownList");
        var selectedValues = ddlEntityId.value();     

        var filterEntity = { logic: 'or', filters: [] };
        if (selectedValues.length > 0) {
            for (var i = 0; i < selectedValues.length; i++) {
                filterEntity.filters.push({ field: "EntityId", operator: "eq", value: parseInt(selectedValues[i]) });
            }
            filter.filters.push(filterEntity);
        }

        var ddlDirector = $("#ddlDirector").data("kendoMultiSelect");
        var selectedValuesDirector = ddlDirector.value();

        var filterDirector = { logic: 'or', filters: [] };
        if (selectedValuesDirector.length > 0) {
            for (var i = 0; i < selectedValuesDirector.length; i++) {
                filterDirector.filters.push({ field: "DirectorId", operator: "eq", value: parseInt(selectedValuesDirector[i]) });
            }
            filter.filters.push(filterDirector);
        }

        return filter;
    }

    function filterChange() {
        var filter = getFilters();
        grid = $("#gridMyDocuments").data("kendoGrid");
        //grid.dataSource.filter(filter);
    }
</script>

<script>
    function ongridMyCompliancesDataBound(e) {

        //filterChange();
        $("#gridMyDocuments").kendoTooltip({
            filter: "td:nth-child(1)", //this filter selects the second column's cells
            position: "top",
            width: 400,
            content: function (e) {
                
                var dataItem = $("#gridMyDocuments").data("kendoGrid").dataItem(e.target.closest("tr"));
                var content = dataItem.CompanyName;
                return content;
            }
        }).data("kendoTooltip");

        $("#gridMyDocuments").kendoTooltip({
            filter: "td:nth-child(2)", //this filter selects the second column's cells
            position: "top",
            width: 400,
            content: function (e) {
                
                var dataItem = $("#gridMyDocuments").data("kendoGrid").dataItem(e.target.closest("tr"));
                var content = dataItem.Description;
                return content;
            }
        }).data("kendoTooltip");

        var grid = $("#gridMyDocuments").data("kendoGrid");
        //grid.thead.css("background-color", "green")
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

            $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
            $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 1px 0 #DDDDDD");
        });

        GetICons();
        //
    }

    function ddlRoleChanged() {
        filterChange();
    }

    function ddlEntityIdChanged() {
        ddlMappingTypeChanged();
        //filterChange();
    }

    function ddlDirectorChanged() {
        ddlMappingTypeChanged();
        // filterChange();
    }

    function ddlMappingTypeChanged() {
        var ddlMappingType = $("#ddlMappingType").data("kendoDropDownList");
        var selectedValues = ddlMappingType.value();
        if (selectedValues == "1") {
            //$("#ddlMeetings").data("kendoDropDownList").value("");
            $("#ddlMeetings").data("kendoMultiSelect").value("");
            //
            $("#divMeetingList").removeClass('hidden');

            fillMeetings();
        }
        else {
            $("#divMeetingList").addClass('hidden');
        }

        if (selectedValues == "3") {
            $("#ddlEntityId").data("kendoMultiSelect").value("");
            $("#divddlDirector").removeClass('hidden');
            $("#divddlEntityId").addClass('hidden');

        } else {
            $("#ddlDirector").data("kendoMultiSelect").value("");
            $("#divddlEntityId").removeClass('hidden');
            $("#divddlDirector").addClass('hidden');
        }

        filterChange();
    }

    function ddlStatusFilterChanged() {
        filterChange();
    }

    function LoadCompliance(id, s) {

        var divgridComplianceAssignMessage = $("#divGridParent");
        divgridComplianceAssignMessage[0].innerHTML = "<div id='gridMyDocuments'></div>";

        kendo.ui.progress($("#divGridParent"), true);

        var model = new Object();
        model.RoleId = id;
        model.StatusId = s;

        $.ajax({
            type: "POST",
            url: "@Url.Action("GetMyCompliances_Director", "MyCompliances")",
            data: JSON.stringify(model),//"{RoleId:" + id + ", StatusId : 1}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                kendo.ui.progress($("#divGridParent"), false);
                fillGridMyCompliances(response.MyCompliances);
                fillGridMyCompliancesMeetings(response.Meetings);
                fillDirectorDropdown(response.Directors);
            },
            failure: function (response) {
                kendo.ui.progress($("#divGridParent"), false);
            },
            error: function (response) {
                kendo.ui.progress($("#divGridParent"), false);
            }
        });
    }

    function Load_MyDocuments() {

        

        $.ajax({
            url: "/api/Dashboard/GetMyCompliances",
            type: "Get",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            //data: '{}',
            success: function (result) {
                fillGridMyCompliances(result);
            }
        });
    }

    function GetAll_MyDocuments(){

        kendo.ui.progress($("#divParentGridMyCompliances"), true);

        var loggedInUserID = @AuthenticationHelper.UserID;
        var customerID=@AuthenticationHelper.CustomerID;

        var ds = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '/api/ComplianceAPI/GetMyDocuments_Director?userID='+loggedInUserID+'&customerID='+customerID+'&statusID=-1&roleID=4',
                    dataType: "json",
                }
            },
            schema: {
                model: { id: "ScheduleOnID" },
                data: function (response) {
                    if (response != null && response != undefined) {
                        return response;
                    }
                },
                total: function (response) {
                    if (response != null && response != undefined) {
                        if (response.length > 0) {
                            alert(response.length);
                        }
                        return response.length;
                    }
                }
            },

            pageSize: 50
        });

        ds.read();

        BindGrid_MyDocuments(ds);
        fillGrid_MyDocuments_Hidden(ds);
    }

    function onRowSelect(arg) {
        
        console.log("The selected ids are: [" + this.selectedKeyNames().join(", ") + "]");
    }
    
    function BindGrid_MyDocuments(dsMyDocuments){

        $("#gridMyDocuments").kendoGrid({
            dataSource: dsMyDocuments,
            pageable: {
                alwaysVisible: true,
                pageSizes: [10]
            },
            change: onRowSelect,
            //dataBound: gridMyCompliances_RowDataBound,
            columns: [
                { selectable: true, width: "3%",  attributes: { style: 'text-align: center;' }},                
                //{ field: "RoleID", title: "RoleID" },
                { field: "CompanyName", title: "Company", width: "15%", attributes: { style: 'white-space: nowrap;' } },
                { field: "ShortDescription", title: "Compliance", width: "35%", attributes: { title: "#:Description#", style: 'white-space: nowrap;' } },
                //{ field: "Description", title: "Description", width: "300px;", attributes: { title: "#:Description#" } },
                { field: "ScheduleOn", title: "Due Date", width: "10%", template: "#= ScheduleOn == null ? '' : kendo.toString(kendo.parseDate(ScheduleOn), \"dd-MMM-yyyy\")#", attributes: { style: 'white-space: nowrap;' } },
                //{ field: "StatusName", title: "Status", width: "10%", attributes: { style: 'white-space: nowrap;' } },
                {
                    title: "Action", lock: true, width: "10%;",
                    command:
                        [
                            { name: "edit", text: "", iconClass: ".k-icon k-i-pencil", className: "ob-download", click: showScheduleDetailsClick },
                        ],
                }
            ],
            editable: false,
        });
    }
    
    function fillDirectorDropdown(d) {
        var ddlDirector = $("#ddlDirector").data("kendoMultiSelect");
        var dataSource = new kendo.data.DataSource({
            data: d
        });
        ddlDirector.setDataSource(dataSource);
    }

    kendo.data.DataSource.prototype.dataFiltered = function () {
        // Gets the filter from the dataSource
        var filters = this.filter();

        // Gets the full set of data from the data source
        var allData = this.data();

        // Applies the filter to the data
        var query = new kendo.data.Query(allData);

        // Returns the filtered data
        return query.filter(filters).data;
    }

    function fillMeetings() {

        
        // Gets the data source from the grid.
        var grid = $("#gridMyDocuments_Hidden").data("kendoGrid");

        if(grid!=null && grid!=undefined){
            var meetingData = grid.dataSource;
            meetingData.filter({});

            var ddlEntityId = $("#ddlEntity").data("kendoDropDownList");
            var selectedValues = ddlEntityId.value();

            var filter = { logic: "and", filters: [] };

            var filterEntity = { logic: 'or', filters: [] };
            if (selectedValues.length > 0) {
                for (var i = 0; i < selectedValues.length; i++) {
                    filterEntity.filters.push({ field: "EntityId", operator: "eq", value: parseInt(selectedValues[i]) });
                }
                filter.filters.push(filterEntity);
            }

            meetingData.filter(filter);

            var dataFiltered = meetingData.dataFiltered();           

            const result = [];
            const map = new Map();        

            $.each(dataFiltered, function(index, item){                
                if(!map.has(item.MeetingID)){
                    map.set(item.MeetingID, true);    // set any value to Map
                    result.push({
                        MeetingID: item.MeetingID,
                        MeetingID: item.MeetingTitle
                    });
                }
            });


            //var ddlMeetings = $("#ddlMeetings").data("kendoDropDownList");
            //var dataSource = new kendo.data.DataSource({
            //    data: meetingData.view()
            //});

            var ddlMeetings = $("#ddlMeetings").data("kendoMultiSelect"); 

            ddlMeetings.setDataSource(result);
        }
    }

    function fillGridMyCompliances(d) {
        var ds = new kendo.data.DataSource({
            data: d, //myJson.employees,
            schema: {
                model: {
                    id: "ScheduleOnID",
                    fields: {
                        ScheduleOnID: { editable: false },
                        Description: { editable: false },
                        RoleID: { editable: false },
                        EntityId: { editable: false },
                        MeetingID: { editable: false },
                        MappingType: { editable: false },
                    }
                }
            },
            pageSize: 10
        });
        
        var filter = getFilters();
        if (filter.filters.length > 0) {
            ds.filter(filter);
        }

        $("#gridMyDocuments").kendoGrid({
            //toolbar: kendo.template($("#myTemplateCompliance").html()),
            pageable: {
                alwaysVisible: true,
                refresh: false,
                pageSizes: [5, 10, 20, 100]
            },
            dataBound: ongridMyCompliancesDataBound,
            columns: [
                        //{ field: "RoleID", title: "RoleID" },
                        { field: "CompanyName", title: "Company", width: "15%", },
                        { field: "ShortDescription", title: "Compliance", width: "25%", attributes: { title: "#:Description#", style: 'white-space: nowrap;' } },
                        //{ field: "Description", title: "Description", width: "300px;", attributes: { title: "#:Description#" } },
                        { field: "Frequency", title: "Frequency", width: "5%", attributes: { style: 'white-space: nowrap;' } },
                        { field: "Period", title: "Period", width: "10%", attributes: { style: 'white-space: nowrap;' } },
                        { field: "StatusName", title: "Status", width: "10%", attributes: { style: 'white-space: nowrap;' } },
                        { field: "ScheduleOn", title: "Due Date", width: "10%", template: "#= ScheduleOn == null ? '' : kendo.toString(kendo.parseDate(ScheduleOn), \"dd-MMM-yyyy\")#", attributes: { style: 'white-space: nowrap;' } },
                        {
                            title: "Action", lock: true, width: "5%;",
                            command:[{ name: "edit", text: "", iconClass: ".k-icon k-i-pencil", className: "ob-download", click: showScheduleDetailsClick }],
                        }
            ],
            editable: false,
            noRecords: true,

            //sortable: true,
            //filterable: true,
            dataSource: ds
        });
    }

    function fillGrid_MyDocuments_Hidden(dataSource) {        
        $("#gridMyDocuments_Hidden").kendoGrid({
            columns: [
                        { field: "EntityId" },
                        { field: "CompanyName" },
                        { field: "FY" },
                        { field: "FYText" },
                        { field: "MeetingID" },
                        { field: "MeetingTitle" },
                        { field: "AgendaID" },
                        { field: "AgendaItemTextNew" },    
                        { field: "DirectorId" },
                        { field: "DirectorName" },                       
            ],
            editable: false,
            dataSource: dataSource
        });
    }

</script>

<!--popup schedule details-->
<script>
    function showScheduleDetailsClick(e) {
        e.preventDefault();

        

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var direction = "@Url.Action("ScheduleDetails","MyCompliances")" + "?id=" + dataItem.ScheduleOnID + " &entityID=" + dataItem.EntityId + "&roleID=" + dataItem.RoleID;

        $("#wndScheduleDetails").attr("style", "min-height:100px;");

        var wnd = $("#wndScheduleDetails").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndScheduleDetails").kendoWindow({
            actions: ["Close"],
            content: direction,
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () { onOpenWindow("wndScheduleDetails") },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            }
        }).data("kendoWindow");

        opts.width = "85%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();

        $('#wndScheduleDetails').parent().find('.k-window-titlebar,.k-window-actions').css('backgroundColor', '#f7f7f7');
    }

    function BindEntity() {
        
        var loggedInUserID = @AuthenticationHelper.UserID;
        var customerID=@AuthenticationHelper.CustomerID;

        $("#ddlEntity").kendoDropDownList({
            optionLabel: "Company",
            filter: "contains",
            //autoClose: false,
            tagMode: "single",
            checkboxes: true,
            checkAll: true,
            checkAllTemplate: "Select All",
            dataTextField: "EntityName",
            dataValueField: "Id",     
            change: function (e) {
                ddlEntityIdChanged();
            },
            dataSource: {
                transport: {
                    read: {
                        url: '/api/EntityMasterAPI/DirectorAssignedEntities?custID='+customerID+'&userID='+loggedInUserID,                       
                    }
                },
                schema: {
                    data: function (response) {
                        if(response!=null && response!=undefined)
                            return response;
                    }
                },
            },
        });
    }
</script>

<div class="Dashboard-white-widget">
    <div class="dashboard">

        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="col-md-2 colpadding0">
                    @(Html.Kendo().DropDownList()
                    .Name("StatusFilter")
                    .BindTo(new SelectList(new List<object> {
                                new {id="All",text="All"},
                                //new {id="Upcoming",text="Upcoming"},
                                new {id="Overdue",text="Overdue"},
                                new {id="Pending For Review",text="Pending for Review"},
                                //new {id="Not Complied",text="Not Complied"},
                                //new {id="Approved",text="Approved"},
                                //new {id="Rejected",text="Rejected"},
                                new {id="Closed-Timely",text="Closed-Timely"},
                                new {id="Closed-Delayed",text="Closed-Delayed"},
                    }, "id", "text"))
                    .Events(e => e.Change("ddlStatusFilterChanged"))
                    .HtmlAttributes(new { style = "width: 95%;" })
                    )
                </div>

                <div class="col-md-2 colpadding0">
                    @(Html.Kendo().DropDownList()
                .Name("ddlMappingType")
                .BindTo(new SelectList(new List<object> {
                            new {id=0,text="All"},
                            new {id=1,text="Meeting"},
                            new {id=2,text="Statutory"},
                            new {id=3,text="Self"}
                }, "id", "text"))
                .Events(e => e.Change("ddlMappingTypeChanged"))
                .HtmlAttributes(new { style = "width: 95%;" })
                    )
                </div>

                <div  id="divddlEntityId" class="col-md-3 colpadding0">
                    <input id="ddlEntity" data-placeholder="Company" style="width: 95%;" />
                </div>

                <div id="divMeetingList" class="col-md-3 colpadding0 hidden">
                    @(Html.Kendo().MultiSelect()
                .Name("ddlMeetings")
                //.OptionLabel("Meetings")
                .DataTextField("MeetingTitle")
                .DataValueField("MeetingID")
                .Placeholder("Select Meeting")
                .TagMode(TagMode.Single)
                .Events(e => e.Change("ddlRoleChanged"))
                .HtmlAttributes(new { style = "width: 95%;" })
                    )

                   
                </div>

                <div id="divddlDirector" class="col-md-3 colpadding0 hidden">
                    @(Html.Kendo().MultiSelect()
                .Name("ddlDirector")
                //.OptionLabel("Meetings")
                .DataTextField("CompanyName")
                .DataValueField("DirectorId")
                .Placeholder("Director")
                .TagMode(TagMode.Single)
                .Events(e => e.Change("ddlDirectorChanged"))
                .HtmlAttributes(new { style = "width: 95%;" })
                    )
                </div>
            </div>
        </div>

        <div class="row colpadding0 mt10">
            <div class="col-md-12 colpadding0">
                <div id="divGridParent" style="min-height:450px;">
                    <div id="gridMyDocuments"></div>
                </div>

                <div id="divHiddenGridParent" class="hidden">
                    <div id="gridMyDocuments_Hidden"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@(Html.Kendo().Window().Name("wndScheduleDetails").Title("Compliance").Visible(false).Modal(true).Draggable(true).Pinned(true).Scrollable(true))
@(Html.Kendo().Window().Name("wndDocViewer").Title("Viewer").Visible(false).Modal(true).Draggable(true).Pinned(true).Scrollable(true))

<script>
    $(document).ready(function () {

        var breadCrumbData = [
            {
                displayText: "My Documents",
                navigateUrl: "#",
            },
            {
                displayText: "Compliance Documents",
                navigateUrl: "#",
            }
        ];

        setBreadCrumb(breadCrumbData);
        
        BindEntity();
        //BindGrid_MyDocuments();
        GetAll_MyDocuments();
    });
</script>