﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@{
    ViewBag.Title = "Compliance Documents :: My Documents";
}

<script>
    $(document).ready(function () {
        
        kendo.ui.progress($("#divParentIframe"), true);        

        var breadCrumbData = [
            {
                displayText: "My Drive",
                navigateUrl: "/BM_Management/MyComplianceDocument/MyDrive",
            },            
        ];

        setBreadCrumb(breadCrumbData);

        $('#iFrameMyDrive').attr('src', '/Areas_Secretarial/MyDriveLevel1.aspx');
    });
</script>

<div class="row">
    <div id="divParentIframe" class="col-md-12 colpadding0" style="display: block; height: 100vh; max-height: 100vh">            
        <iframe id="iFrameMyDrive" src="about:blank" width="100%" height="100%" style="border: none;"></iframe>
    </div>
</div>



