﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Compliance.Master" AutoEventWireup="true" CodeBehind="Mailstatus.aspx.cs" Inherits="com.VirtuosoITech.ComplianceManagement.Portal.Users.Mailstatus" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="BodyContent" runat="server">
    <iframe src="../bounce.html" height="500px" width="100%" ></iframe>
</asp:Content>
