﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.FormTemplateDetails
<div id="divAddEditFormMaster" style="height:520px; overflow:hidden">

    <style>
        /*#FormTemplateEditor .k-content {
            height: 350px !important;
        }

        #wndFormTemplate .k-content {
            height: 400px !important;
        }*/
    </style>

        @using (Ajax.BeginForm("SaveFormDetailsData", "FormTemplet", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divAddEditFormMaster", InsertionMode = InsertionMode.ReplaceWith, OnBegin = "OnOpenTemplate", OnComplete = "OnRefresh" }, new { id = "frmUpdateFormDetails" }))
        {
            if (Model.Success)
            {
                <div class="row colpadding0">
                    <div class="col-md-12 colpadding0">
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @Model.Message
                        </div>
                    </div>
                </div>
            }
            else if (Model.Error)
            {
                <div class="row colpadding0">
                    <div class="col-md-12 colpadding0">
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @Model.Message
                        </div>
                    </div>
                </div>
            }

            @Html.HiddenFor(m => m.FormId)

            <div class="row colpadding0">
                <div class="col-md-12 colpadding0">
                    <div class="col-md-4 colpadding0">
                        <label for="Form Name">Form Name</label>
                        @(Html.Kendo().TextBoxFor(m => m.FormName).HtmlAttributes(new { style = "width:98%", @placeholder = "Please Enter Form Name" }))
                    </div>

                    <div class="col-md-2 colpadding0">
                        <label for="Master Name">Master</label>
                        @(Html.Kendo().DropDownList()
            .Name("MasterId")
            .DataTextField("MasterName")
            .DataValueField("ID")
            .OptionLabel("Select")
            .Filter("contains")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Url("/api/FormAPI/GetMasterForFormTemplet").Type(HttpVerbs.Get);
                })
              .ServerFiltering(false);
            })

             .HtmlAttributes(new { style = "width:98%", @Id = "MasterId", autocomplete = "off", onchange = "masterchange()" })
                        )
                    </div>

                    <div class="col-md-2 colpadding0">
                        <label for="ddlformtempateFormate">Fields</label>
                        @(Html.Kendo().DropDownList()
            .Name("FormFormate")
             .DataTextField("FieldName")
            .DataValueField("FieldValue")
            .OptionLabel("Select")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Url("/api/FormAPI/GetTempletFields").Data("filterProducts").Type(HttpVerbs.Get);
                })
                .ServerFiltering(true);
            })
             .Enable(false)
             .AutoBind(false)
             .CascadeFrom("MasterId")
             .HtmlAttributes(new { style = "width:98%", @Id = "ddlformtempateFormate", autocomplete = "off", onchange = "masterchange()" })
                        )
                    </div>

                    <div class="col-md-1 colpadding0" style="top:16px">
                        <input type="button" onclick="insertEditorFormTemplateField()" class="k-primary k-button k-grid-update k-button-icontext" value="Insert" id="InsertTemplet" />
                    </div>

                    <div class="col-md-3 colpadding0">
                        <div class="col-md-6 colpadding0">
                            <label for="StartDate">Form Date</label>
                            @(Html.Kendo().DatePickerFor(m => m.StartDate).Format("dd/MM/yyyy").HtmlAttributes(new { @placeholder = "DD/MM/YYYY", onchange = "checkDate(this);" }))
                            @Html.ValidationMessageFor(m => m.StartDate)
                        </div>
                        <div class="col-md-6 colpadding0">
                            <label for="EndDate">Form End Date</label>
                            @(Html.Kendo().DatePickerFor(m => m.EndDate).Format("dd/MM/yyyy").HtmlAttributes(new { @placeholder = "DD/MM/YYYY", onchange = "checkDate(this);" }))
                        </div>
                    </div>
                </div>
            </div>
            <div class="row colpadding0 mt30">
                <div class="col-md-12 colpadding0">

                    @(Html.Kendo().EditorFor(m => m.FormFormat)
                                            .HtmlAttributes(new { style = "height:320px", @Id = "FormTemplateEditor" })
                                            .Events(e => e.Paste("onPasteRemoveTag"))
                                            //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                            .Encode(false)
                                            .Tools(tools => tools
                                            .Clear().Formatting()
                                            .FontName(fonts => fonts
                                                .Add("Andale Mono", "Andale Mono")
                                                .Add("Arial", "Arial")
                                                .Add("Arial Black", "Arial Black")
                                                .Add("Book Antiqua", "Book Antiqua")
                                                .Add("Bookman Old Style", "Bookman Old Style")
                                                .Add("Comic Sans MS", "Comic Sans MS")
                                                .Add("Courier New", "Courier New")
                                                .Add("Georgia", "Georgia")
                                            )
                                            .FontSize(size => size
                                            .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                            .Bold().Italic().Underline().Strikethrough()
                                            .SubScript().SuperScript()
                                            .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                            .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                            //.TableEditing()
                                            .CleanFormatting()
                                                                ))
                </div>
            </div>
            <div class="row colpadding0">
                <div class="col-md-12 colpadding0">
                    <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;margin-top:2%; text-align:center">
                        <input type="button" onclick="OpenPreview(@Model.FormId)" class="k-primary k-button k-grid-update k-button-icontext" value="Preview" id="PreviewFormTemplet"/>
                        <button type="submit" id="btnsaveForm" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
                    </div>
                </div>
            </div>
        }

    <script>
    var validator1 = $("#frmUpdateFormDetails").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
    </script>

    <script>

    $(document).ready(function () {
        
        templetInsertHideandShow();

        $("#StartDate").removeAttr("data-val-date");
        if ($("#StartDate").val() == "01/01/0001") {
            $("#StartDate").val('');
        }

        $("#EndDate").removeAttr("data-val-date");
        if ($("#EndDate").val() == "01/01/0001") {
            $("#EndDate").val('');
        }

    });

    function checkDate(e) {
        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }
    </script>
</div>