﻿@model BM_ManegmentServices.VM.VM_FormTemplet


<div class="row colpadding0" style="height:500px !important;overflow-y:scroll">
    <div class="col-md-12 colpadding0">
@if(Model!=null)
{
    @(Html.Raw(Model.FormFormate))
}
</div>
</div>
