﻿
@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VM_NewMeetingModule




<div id="viewPlaceHolder">
    <div class="row colpadding0 mt30">
        <div class="col-md-12 colpadding0">
            @Html.Partial("_AddEditNewMeeting", Model)
        </div>
    </div>
</div>



<script>
    function sync_handler(e) {
        this.read();
    }

    function toolTipContent(e) {
        return e.target.context.innerText;
    }


    $(document).ready(function () {

    });


    function OnOpen(e) {
        debugger;
        //kendo.ui.progress($("#viewPlaceHolder"), true);

    }

    function OnRefresh(e) {
        //kendo.ui.progress($("#viewPlaceHolder"), false);
    }

</script>
