﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.ComplianceScheduleDetailsVM
@{ 
    var hideDateClass = "";
    if (Model.Is_ICSIMODE != null)
    {
        if (Model.Is_ICSIMODE == true)
        {
            hideDateClass = "hidden";
        }
    }
}
<style>
    .k-grid-View {
        height: 32px;
        width: 33px;
        padding: 6px 0px 10px 0;
        /*white-space: nowrap;*/
        overflow: hidden;
        /*border-radius: 20px;*/
    }

    .k-grid-Download {
        height: 32px;
        width: 33px;
        padding: 6px 0px 10px 0;
        /*white-space: nowrap;*/
        overflow: hidden;
        /*border-radius: 20px;*/
    }

    #theImg1 {
        margin-top: -40%;
        margin-left: -15%;
        margin-bottom: -23%;
    }

    #theImg2 {
        margin-top: -40%;
        margin-left: 3%;
        margin-bottom: -17%;
    }
</style>


<style type="text/css">
    .reviewdoc {
        height: 100%;
        width: auto;
        display: inline-block;
        font-size: 22px;
        position: relative;
        margin: 0;
        line-height: 34px;
        font-weight: 400;
        letter-spacing: 0;
        color: #666;
    }

    tr.spaceUnder > td {
        padding-bottom: 1em;
    }

    .circle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 20px;
    }

    #wndScheduleDetails.k-content {
        background-color: #f7f7f7;
    }
</style>

<style>
    #divComplianceDetails .Dashboard-white-widget {
        margin-bottom: 7px;
        padding: 5px 10px 2px 10px;
    }

    #divComplianceDetails .panel {
        margin-bottom: 5px;
    }

        #divComplianceDetails .panel .panel-heading {
            height: 21px;
        }

            #divComplianceDetails .panel .panel-heading h2 {
                font-size: 16px;
                margin-left: 10px;
                line-height: 20px;
            }

            #divComplianceDetails .panel .panel-heading .panel-actions {
                height: 25px;
                padding-top: 0px;
            }

    #divComplianceDetails fieldset {
        margin-top: 10px;
    }
</style>
<script>
    function btnminimize(obj) {
        var s1 = $(obj).find('i');
        if ($(obj).hasClass('collapsed')) {

            $(s1).removeClass('fa-chevron-up');
            $(s1).addClass('fa-chevron-down');
        } else {
            $(s1).removeClass('fa-chevron-down');
            $(s1).addClass('fa-chevron-up');
        }
    }

    function onRowBoundsDoc(e) {
        GetICons();
    }
    
    function DownloadComplianceDoc(e) {
        
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location.href = "@Url.Action("DownloadFile", "FileData")?id=" + dataItem.FileID;
    }
</script>

<!--popup viewer details-->
<script>
    function showDocViewer(e) {
        
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        var direction = "@Url.Content("~/Areas_Secretarial/Doc_Viewer.aspx")" + "?docurl=" + dataItem.FileID ;

        var titleFile = dataItem.FileName;
        $("#wndDocViewer").kendoWindow({
            title: titleFile
        });

        $("#wndDocViewer").attr("style", "min-height:100px;");

        var wnd = $("#wndDocViewer").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndDocViewer").kendoWindow({
                actions: ["Close"],
                content: direction,
                visible: false,
                modal: true,
                iFrame :true,
                refresh: function () { this.center(); },
                open: function () { onOpenWindow("wndDocViewer") },
                close: function (e) {
                    $(this.element).empty();
                    $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                }
            }).data("kendoWindow");

            opts.width = "95%";
            wnd.setOptions(opts);
            wnd.center();
        wnd.open();

        var role = "@Model.RoleID";
        if (role == "4") {
            $("#btnUpdateStatus").removeAttr("disabled");
            $("#btnRejectStatus").removeAttr("disabled");
        }
    }

    $('#wndDocViewer').parent().find('.k-window-titlebar,.k-window-actions').css('backgroundColor', '#f7f7f7');

</script>

<script>
    function ddlStatusIdChanged() {
            var ddlStatus = $("#StatusId").data("kendoDropDownList");
            var StatusId = ddlStatus.value();
            if (('@Model.RoleID' == "3" && StatusId == "3") || ('@Model.RoleID' == "4" && StatusId == "5")) {
                $("#spRemark").removeClass("hidden");
                $("#Remarks").attr("data-val", "true");
                $("#Remarks").attr("data-val-required", "Please enter remark");
            } else {
                $("#spRemark").addClass("hidden");
                $("#Remarks").removeAttr("data-val");
                $("#Remarks").removeAttr("data-val-required");
            }
    }
</script>

@(Html.Kendo().Window().Name("wndDocViewer").Title("Viewer").Visible(false).Modal(true).Draggable(true).Pinned(true).Scrollable(true))

<div style="min-height:520px; max-height:530px;overflow-y:auto;overflow-x:hidden">
    <div id="divComplianceDetails" style="margin-top: 1px; margin-left:10px; margin-right:10px; margin-bottom:5px;">
        <div style="margin-left: 10px; margin-bottom:7px;">

            <label ID="Label2" Style="font-weight: bold; font-size: 13px; color: #333;">This is a  </label>
            @if (Model.Compliance.RiskType == 0)
            {
                <div id="divRiskType1" class="circle" style="background-color:red;"></div>
                <label ID="lblRiskType1" Style="width: 300px; margin-left: -17px; font-weight: bold; font-size: 13px; color: #333;"
                       maximunsize="300px" autosize="true">HIGH risk compliance.</label>
            }
            else if (Model.Compliance.RiskType == 1)
            {
                <div id="divRiskType1" class="circle" style="background-color:yellow;"></div>
                <label ID="lblRiskType1" Style="width: 300px; margin-left: -17px; font-weight: bold; font-size: 13px; color: #333;"
                       maximunsize="300px" autosize="true">MEDIUM risk compliance.</label>
            }
            else
            {
                <div id="divRiskType1" class="circle" style="background-color:green;"></div>
                <label ID="lblRiskType1" Style="width: 300px; margin-left: -17px; font-weight: bold; font-size: 13px; color: #333;"
                       maximunsize="300px" autosize="true">LOW risk compliance.</label>
            }

        </div>

        <div id="ActDetails1" class="Dashboard-white-widget hidden">
            <div class="dashboard">
                <div class="col-md-12 colpadding0">
                    <div class="panel panel-default">
                        <div class="panel panel-default" style="margin-bottom: 1px; background-color: #f7f7f7;">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseActDetails1">
                                    <h2>Act Details</h2>
                                </a>
                                <div class="panel-actions">
                                    <a class="btn-minimize" onclick="btnminimize(this)" data-toggle="collapse" data-parent="#accordion" href="#collapseActDetails1"><i class="fa fa-chevron-up"></i></a>
                                </div>
                            </div>
                        </div>
                        <div id="collapseActDetails1" class="collapse">
                            <fieldset style="border-style: solid; border-width: 1px; border-color: #dddddd; width: 98%;">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 colpadding0 fixwidth" style="width: 98%;">
                                    <table style="width: 100%;">
                                        <tr class="spaceUnder">
                                            <td style="width: 15%; font-weight: bold;">Act Name</td>
                                            <td style="width: 2%; font-weight: bold;">: </td>
                                            <td style="width: 83%;">
                                                @Model.Act.ActName
                                            </td>
                                        </tr>
                                        <tr class="spaceUnder">
                                            <td style="width: 15%; font-weight: bold;">Section /Rule</td>
                                            <td style="width: 2%; font-weight: bold;">: </td>
                                            <td style="width: 83%;"></td>
                                        </tr>
                                    </table>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="ComplianceDetails1" class="Dashboard-white-widget">
            <div class="row dashboard">
                <div class="col-md-12 colpadding0">
                    <div class="panel panel-default">

                        <div class="panel panel-default" style="margin-bottom: 1px;">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseComplianceDetails1">
                                    <h2>Compliance Details</h2>
                                </a>
                                <div class="panel-actions">
                                    <a class="btn-minimize" onclick="btnminimize(this)" data-toggle="collapse" data-parent="#accordion" href="#collapseComplianceDetails1"><i class="fa fa-chevron-down"></i></a>
                                </div>
                            </div>
                        </div>

                        <div id="collapseComplianceDetails1" class="in" style="height: auto;">
                            <fieldset style="border-style: solid; border-width: 1px; border-color: #dddddd; width: 98%;">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 colpadding0 fixwidth" style="width: 98%;">
                                    <table style="width: 100%">

                                        @if (!string.IsNullOrEmpty(Model.DirectorName))
                                        {
                                            <tr class="spaceUnder">
                                                <td style="width: 15%; font-weight: bold; vertical-align:top;">Director</td>
                                                <td style="width: 2%; font-weight: bold; vertical-align:top;">: </td>
                                                <td style="width: 83%;">
                                                    @Html.Raw(Model.DirectorName)
                                                </td>
                                            </tr>
                                        }

                                        @if (!string.IsNullOrEmpty(Model.MeetingTitle))
                                        {
                                            <tr class="spaceUnder">
                                                <td style="width: 15%; font-weight: bold; vertical-align:top;">Meeting</td>
                                                <td style="width: 2%; font-weight: bold; vertical-align:top;">: </td>
                                                <td style="width: 83%;">
                                                    @Model.MeetingTitle
                                                </td>
                                            </tr>

                                            if (!string.IsNullOrEmpty(Model.AgendaItem))
                                            {
                                                <tr class="spaceUnder">
                                                    <td style="width: 15%; font-weight: bold; vertical-align:top;">Agenda</td>
                                                    <td style="width: 2%; font-weight: bold; vertical-align:top;">: </td>
                                                    <td style="width: 83%;">
                                                        @Html.Raw(Model.AgendaItem)
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        <tr class="spaceUnder">
                                            <td style="width: 15%; font-weight: bold; vertical-align:top;">Compliance Id</td>
                                            <td style="width: 2%; font-weight: bold; vertical-align:top;">: </td>
                                            <td style="width: 83%;">
                                                @Model.ComplianceId
                                            </td>
                                        </tr>
                                        <tr class="spaceUnder">
                                            <td style="width: 15%; font-weight: bold; vertical-align:top;">Short Description</td>
                                            <td style="width: 2%; font-weight: bold; vertical-align:top;">: </td>
                                            <td style="width: 83%;">
                                                @Model.Compliance.Description
                                            </td>
                                        </tr>
                                        <tr class="spaceUnder">
                                            <td style="width: 15%; font-weight: bold; vertical-align:top;">Detailed Description</td>
                                            <td style="width: 2%; font-weight: bold; vertical-align:top;">: </td>
                                            <td style="width: 83%;">
                                                @Model.Compliance.DetailedDescription
                                            </td>
                                        </tr>
                                        <tr class="spaceUnder hidden">
                                            <td style="width: 15%; font-weight: bold;">Penalty</td>
                                            <td style="width: 2%; font-weight: bold;">: </td>
                                            <td style="width: 83%;">
                                                <label ID="lblPenalty1" Style="width: 300px; font-size: 13px; color: #333;"
                                                       maximunsize="300px" autosize="true" />
                                            </td>
                                        </tr>
                                        <tr class="spaceUnder hidden">
                                            <td style="width: 15%; font-weight: bold;">Frequency</td>
                                            <td style="width: 2%; font-weight: bold;">: </td>
                                            <td style="width: 83%;">
                                                <label ID="lblFrequency1" Style="width: 300px; font-size: 13px; color: #333;"
                                                       maximunsize="300px" autosize="true" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </fieldset>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div id="OthersDetails1" class="Dashboard-white-widget hidden">
            <div class="dashboard">
                <div class="col-md-12 colpadding0">
                    <div class="panel panel-default">
                        <div class="panel panel-default" style="margin-bottom: 1px;">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOthersDetails1">
                                    <h2>Additional Details</h2>
                                </a>
                                <div class="panel-actions">
                                    <a class="btn-minimize" onclick="btnminimize(this)" data-toggle="collapse" data-parent="#accordion" href="#collapseOthersDetails1"><i class="fa fa-chevron-up"></i></a>
                                </div>
                            </div>
                        </div>

                        <div id="collapseOthersDetails1" class="collapse">
                            <fieldset style="border-style: solid; border-width: 1px; border-color: #dddddd; width: 98%;">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 colpadding0 fixwidth" style="width: 98%;">
                                    <table style="width: 100%">
                                        <tr class="spaceUnder">
                                            <td style="width: 25%; font-weight: bold;">Risk Type</td>
                                            <td style="width: 2%; font-weight: bold;">: </td>
                                            <td style="width: 73%;">
                                                @if (Model.Compliance.RiskType == 0)
                                                {
                                                    <label ID="lblRisk1" Style="width: 300px; font-size: 13px; color: #333;">HIGH</label>
                                                }
                                                else if (Model.Compliance.RiskType == 1)
                                                {
                                                    <label ID="lblRisk1" Style="width: 300px; font-size: 13px; color: #333;">MEDIUM</label>
                                                }
                                                else
                                                {
                                                    <label ID="lblRisk1" Style="width: 300px; font-size: 13px; color: #333;">LOW</label>
                                                }

                                            </td>
                                        </tr>
                                        <tr class="spaceUnder">
                                            <td style="width: 25%; font-weight: bold;">Sample Form/Attachment</td>
                                            <td style="width: 2%; font-weight: bold;">: </td>
                                            <td style="width: 73%;">
                                                @if (!string.IsNullOrEmpty(Model.Compliance.SampleFormLink))
                                                {
                                                    <a href="@Model.Compliance.SampleFormLink" target="_blank">@Model.Compliance.SampleFormLink</a>
                                                }


                                            </td>
                                        </tr>
                                        <tr class="spaceUnder">
                                            <td style="width: 25%; font-weight: bold;">Regulatory website link</td>
                                            <td style="width: 2%; font-weight: bold;">: </td>
                                            <td style="width: 73%;"></td>
                                        </tr>
                                        <tr class="spaceUnder">
                                            <td style="width: 25%; font-weight: bold;">Additional/Reference Text </td>
                                            <td style="width: 2%; font-weight: bold;">: </td>
                                            <td style="width: 73%;"></td>
                                        </tr>
                                        <tr class="spaceUnder">
                                            <td style="width: 25%; font-weight: bold;">Location</td>
                                            <td style="width: 2%; font-weight: bold;">: </td>
                                            <td style="width: 73%;"></td>
                                        </tr>
                                        <tr class="spaceUnder">
                                            <td style="width: 25%; font-weight: bold;">Period</td>
                                            <td style="width: 2%; font-weight: bold;">: </td>
                                            <td style="width: 73%;"></td>
                                        </tr>
                                        <tr class="spaceUnder">
                                            <td style="width: 25%; font-weight: bold;">Due Date</td>
                                            <td style="width: 2%; font-weight: bold;">: </td>
                                            <td style="width: 73%;"></td>
                                        </tr>
                                    </table>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="Step1Download" class="Dashboard-white-widget">
            <div class="dashboard">
                <div class="col-md-12 colpadding0">
                    <div class="panel panel-default">
                        <div class="panel panel-default" style="margin-bottom: 1px;">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion" href="#Step1DownloadReview1">
                                    <h2>Review Compliance Document</h2>
                                </a>
                                <div class="panel-actions">
                                    <a class="btn-minimize" onclick="btnminimize(this)" data-toggle="collapse" data-parent="#accordion" href="#Step1DownloadReview1"><i class="fa fa-chevron-up"></i></a>
                                </div>
                            </div>
                        </div>

                        <div id="Step1DownloadReview1" class="in">
                            <fieldset style="border-style: solid; border-width: 1px; border-color: #dddddd; width: 98%;" id="fieldsetdownloadreview">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 colpadding0 fixwidth" style="width: 100%;">

                                    @(Html.Kendo().Grid<BM_ManegmentServices.VM.FileDataDocumentVM>()
                                                            .Name("gridComplianceDoc")
                                                            .Columns(columns =>
                                                            {
                                                                //columns.Template(t => { }).Title("Sr No").ClientTemplate("#= renderNumber(data) #").HtmlAttributes(new { @style = "width:5%" });
                                                                columns.Bound(o => o.FileID).Visible(false);
                                                                columns.Bound(o => o.FileName).Title("File Name").Width("65%");
                                                                columns.Bound(o => o.Version).Title("Version").ClientTemplate("#=Version#.0").Width("10%");
                                                                columns.Bound(o => o.UploadedBy).Title("Uploaded By").Width("15%");
                                                                //columns.Bound(o => o.UploadedOn).Title("Uploaded On").Format("{0:dd/MM/yyyy}").HtmlAttributes(new { @style = "width:40%" });
                                                                columns.Command(command =>
                                                                {
                                                                    command.Custom("Download").Click("DownloadComplianceDoc").HtmlAttributes(new { @class = "k-grid-download" });
                                                                    command.Custom("View").Click("showDocViewer").HtmlAttributes(new { @class = "k-grid-view" });
                                                                })
                                                                .Title("Action");
                                                            })
                                                            .EnableCustomBinding(true)

                                                            .Events(e => e.DataBound("onRowBoundsDoc"))
                                                            .Navigatable()
                                                            .Pageable(pageable => pageable
                                                            .Refresh(false)
                                                            .PageSizes(true)
                                                            .ButtonCount(10))
                                                            .Filterable()
                                                            .Sortable()
                                                            .Reorderable(reorderable => reorderable.Columns(true))
                                                            .Resizable(resizable => resizable.Columns(true))
                                                            .ColumnMenu()
                                                            .DataSource(dataSource => dataSource
                                                            .WebApi()
                                                            .PageSize(5)
                                                            .ServerOperation(false)
                                                                  .Model(model =>
                                                                  {
                                                                      model.Id(o => o.FileID);
                                                                  })
                                                            .Read(read => read.Action("ComplianceSchedule_Documents", "Meeting_Compliances", new { id = Model.ScheduleOnID }).Type(HttpVerbs.Get))
                                                                           ))

                                </div>

                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (ViewBag.ComplianceUpdateStatus != null)
        {
            if (((List<BM_ManegmentServices.VM.Compliance.ComplianceStatusVM>)ViewBag.ComplianceUpdateStatus).Count > 0)
            {
                <div id="divUpdateComplianceStatus" class="Dashboard-white-widget">
                    @Html.Partial("_ComplianceStatusUpdate", new BM_ManegmentServices.VM.Compliance.ComplianceTransactionVM() { TransactionID = 0, ComplianceScheduleOnID = Model.ScheduleOnID, MeetingID_ = Model.Meeting_ID, EntityID_ = Model.EntityId, DaysOrHours = Model.DaysOrHours, RoleID = Model.RoleID })
                </div>
            }
        }

        <div id="Log1" class="Dashboard-white-widget">
            <div class="dashboard">
                <div class="col-md-12 colpadding0">
                    <div class="panel panel-default">
                        <div class="panel panel-default" style="margin-bottom: 1px;">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion" href="#AuditLog1">
                                    <h2>Audit Log</h2>
                                </a>
                                <div class="panel-actions">
                                    <a class="btn-minimize" onclick="btnminimize(this)" data-toggle="collapse" data-parent="#accordion" href="#AuditLog1"><i class="fa fa-chevron-up"></i></a>
                                </div>
                            </div>
                        </div>
                        <div id="AuditLog1" class="collapse">
                            <div" id="log" style="text-align: left;">
                                <fieldset style="border-style: solid; border-width: 1px; border-color: #dddddd; margin-top: 5px;">
                                    <div style="margin-bottom: 7px; clear: both; margin-top: 10px">
                                        <div style="margin-bottom: 7px; clear: both; margin-top: 10px">
                                            @if (Model.TransactionLog != null)
                                            {
                                                if (Model.TransactionLog.Count > 0)
                                                {
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Created By</th>
                                                                <th class="@hideDateClass">Date</th>
                                                                <th>Remark</th>
                                                                <th>Status</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in Model.TransactionLog)
                                                            {
                                                                <tr>
                                                                    <td>@item.CreatedByText</td>
                                                                    <td class="@hideDateClass">@item.Dated.ToString("dd/MM/yyyy")</td>
                                                                    <td>@item.Remarks</td>
                                                                    <td>@item.Status</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                }
                                            }


                                        </div>
                                    </div>
                                </fieldset>
                                <asp:Label ID="lblNote" runat="server" Text="*Please download the attached document to verify and then changed the status." Style="font-size: 10px; color: #666;" Visible="false"></asp:Label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            @(Html.Kendo().Tooltip()
                                .For("#gridComplianceDoc")
                                .Filter(".k-grid-view")
                                .Position(TooltipPosition.Top)
                                .AutoHide(true)
                                .Content("View")
                                .Width(100)
            )

            @(Html.Kendo().Tooltip()
                                .For("#gridComplianceDoc")
                                .Filter(".k-grid-download")
                                .Position(TooltipPosition.Top)
                                .AutoHide(true)
                                .Content("Download")
                                .Width(100)
            )
        </div>

    </div>
</div>
