﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Compliance.ComplianceTransactionVM

@using (Ajax.BeginForm("ComplianceStatusUpdate", "MyCompliances", new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "divUpdateComplianceStatus", OnBegin = "onComplianceStatusRequest", OnComplete = "onComplianceStatusResponse" }, new { id = "frmComplianceStatusUpdate", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.ComplianceScheduleOnID)
    @Html.HiddenFor(model => model.MeetingID_)
    @Html.HiddenFor(model => model.EntityID_)
    @Html.HiddenFor(model => model.DaysOrHours)
    @Html.HiddenFor(model => model.RoleID)

    <div class="dashboard">
        <div class="col-md-12 colpadding0">
            <div class="panel panel-default">
                <div class="panel panel-default" style="margin-bottom: 1px;">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseUpdateComplianceStatus">
                            <h2>Update Compliance Status</h2>
                        </a>
                        <div class="panel-actions">
                            <a class="btn-minimize" onclick="btnminimize(this)" data-toggle="collapse" data-parent="#accordion" href="#collapseUpdateComplianceStatus"><i class="fa fa-chevron-up"></i></a>
                        </div>
                    </div>
                </div>
                <div id="collapseUpdateComplianceStatus" class="panel-collapse collapse in">
                    <fieldset style="border-style: solid; border-width: 1px; border-color: #dddddd; width: 98%;">

                        <div style="margin-bottom: 7px">
                            <table style="width: 98%">
                                <tr>
                                    <td style="width: 100%;">
                                        @if (Model.Success)
                                        {
                                            <div class="alert alert-success alert-dismissible">
                                                <button class="close" type="button" onclick="hideAlert();">×</button>
                                                <lable id="lblsuccessI">@Html.Raw(Model.Message)</lable>
                                            </div>
                                        }
                                        else if (Model.Error)
                                        {
                                            <div class="alert alert-danger alert-dismissible">
                                                <button class="close" type="button" onclick="hideAlert();">×</button>
                                                <lable id="lblerrormsgI">@Html.Raw(Model.Message)</lable>
                                            </div>
                                        }
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="divHideDetailsOnSuccess">
                            <div style="margin-bottom: 7px">
                                <table style="width: 98%">
                                    <tr>
                                        <td style="width: 25%;">
                                            <label style="font-weight: bold; vertical-align: text-top;">Status</label><span style="color:red">*</span>
                                        </td>

                                        <td style="width: 2%; font-weight: bold; vertical-align: text-top;">: </td>
                                        <td style="width: 73%;">
                                            @(Html.Kendo().DropDownListFor(model => model.StatusId)
                                                                    .DataValueField("StatusId")
                                                                    .DataTextField("StatusName")
                                                                    .Events(e => e.Change("ddlStatusIdChanged"))
                                                                    .BindTo((System.Collections.IEnumerable)ViewBag.ComplianceUpdateStatus)
                                                                    .HtmlAttributes(new { @style = "width:30%" })
                                            )
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div style="margin-bottom: 7px" id="divUploadDocument">
                                <table style="width: 100%">
                                    <tr>
                                        <td style="width: 25%;">
                                            <label style="font-weight: bold; vertical-align: text-top;">Upload Compliance Document(s)</label><span id="lblDocComplasary" style="color:red">*</span>
                                        </td>
                                        <td style="width: 2%; font-weight: bold;">: </td>
                                        <td style="width: 73%;">
                                            @Html.TextBox("complianceDoc", null, new { type = "file", style = "width:50%", multiple = "multiple" })
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div style="margin-bottom: 7px" id="divWorkingfiles">
                                <table style="width: 100%">
                                    <tr>
                                        <td style="width: 25%;">
                                            <label style="font-weight: bold; vertical-align: text-top;">Upload Working Files(s)</label><span style="color:red"></span>
                                        </td>
                                        <td style="width: 2%; font-weight: bold;">: </td>
                                        <td style="width: 73%;">
                                            @Html.TextBox("workingDoc", null, new { type = "file", style = "width:50%", multiple = "multiple" })
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div style="margin-bottom: 7px">
                                <table style="width: 100%">
                                    <tr class="spaceUnder">
                                        <td style="width: 25%;">
                                            <label style="font-weight: bold; vertical-align: text-top;">Date</label><span style="color:red">*</span>
                                        </td>
                                        <td style="width: 2%; font-weight: bold;">: </td>
                                        <td style="width: 73%;">
                                            @*@(Html.Kendo().DatePicker().Name("Dated").Min(DateTime.Now).Format("dd/MM/yyyy")
                                                                    .HtmlAttributes(new { style = "width: 20%", @Id = "Dated", onchange = "checkDate(this);", autocomplete = "off", placeholder = "DD/MM/YYYY" }))*@
                                            @(Html.Kendo().DatePicker().Name("Dated").Max(DateTime.Now).Format("dd/MM/yyyy")
                                                                    .HtmlAttributes(new { style = "width: 20%", @Id = "Dated", onchange = "checkDate(this);", autocomplete = "off", placeholder = "DD/MM/YYYY" }))
                                            @Html.ValidationMessageFor(model => model.Dated, "", new { @class = "text-danger" })
                                            &nbsp;
                                            <span id="spClosedTime">
                                                @(Html.Kendo().TimePicker().Name("ClosedTime").Format("hh:mm tt").Min("9:00 AM").Max("8:30 AM")
                                                                    .HtmlAttributes(new { style = "width: 14%", @Id = "ClosedTime", onchange = "checkClosedTime(this);", autocomplete = "off" }))
                                            </span>

                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div style="margin-bottom: 7px">
                                <table style="width: 100%">
                                    <tr>
                                        <td style="width: 25%;">
                                            <label style="font-weight: bold; vertical-align: text-top;">Remarks</label><span id="spRemark" class="hidden" style="color:red">*</span>
                                        </td>
                                        <td style="width: 2%; font-weight: bold;">: </td>
                                        <td style="width: 73%;">
                                            @(Html.TextAreaFor(m => m.Remarks, new { @class = "form-control k-textbox", style = "width: 80%; height:69px;", autocomplete = "off" }))
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            
                            <div style="margin-bottom: 7px; margin-left: 42%; margin-top: 10px;">
                                @if (Model.RoleID == 4)
                                {
                                    <button id="btnUpdateStatus" type="Submit" value="Save" class="k-primary k-button k-grid-update k-button-icontext">Approve</button>
                                    <button id="btnRejectStatus" name="btnRejectStatus" type="Submit" value="Reject" class="k-primary k-button k-grid-update k-button-icontext">Reject</button>
                                }
                                else
                                {
                                    <button id="btnUpdateStatus" type="Submit" value="Save" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
                                }
                            </div>
                        </div>
                        
                    </fieldset>
                </div>
            </div>
        </div>

    </div>

    <script>
    $(document).ready(function () {
        $("#Dated").removeAttr("data-val-date");

        if ($("#Dated").val() == "01/01/0001" || $("#Dated").val() == "01-01-0001"){
            $("#Dated").val('');
        }
        var lstStatusCount = "@(((List<BM_ManegmentServices.VM.Compliance.ComplianceStatusVM>)ViewBag.ComplianceUpdateStatus).Count)";
        var role = "@Model.RoleID";
        if (lstStatusCount > 0) {
            $("#divHideDetailsOnSuccess").removeClass("hidden");
        } else {
            $("#divHideDetailsOnSuccess").addClass("hidden");
        }

        if (role == "4" && lstStatusCount > 0) {
            $("#btnUpdateStatus").attr("disabled", "disabled");
            $("#btnRejectStatus").attr("disabled", "disabled");
        }

        debugger;
        if ("@Model.DaysOrHours" == "H" || "@Model.DaysOrHours" == "M") {
            $("#ClosedTime").attr("data-val", "true");
            $("#ClosedTime").attr("data-val-required", "Please Enter Time");
        }
        else {
            var timepicker = $("#ClosedTime").data("kendoTimePicker");
            timepicker.value();
            $("#spClosedTime").addClass("hidden");
        }
        var validator1 = $("#frmComplianceStatusUpdate").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

        

        if ("@Model.Success" == "True" || "@Model.Success" == "true") {
            debugger;
            var gridMyCompliances = $('#gridMyCompliances').data('kendoGrid');
            var gridMeetingComplianceSchedule = $('#gridMeetingComplianceSchedule').data('kendoGrid');
            var gridComplianceDoc = $('#gridComplianceDoc').data('kendoGrid');

            if (gridMyCompliances != null && gridMyCompliances != undefined) {
                $('#gridMyCompliances').data('kendoGrid').dataSource.read();
            }

            if (gridMeetingComplianceSchedule != null && gridMeetingComplianceSchedule != undefined) {
                $('#gridMeetingComplianceSchedule').data('kendoGrid').dataSource.read();
            }

            if (gridComplianceDoc != null && gridComplianceDoc != undefined) {
                $('#gridComplianceDoc').data('kendoGrid').dataSource.read();
            }
        }
    });

    function checkDate(e){
        if(moment(e.value, "DD/MM/YYYY").isValid() ==false){
            e.value = '';
        }
    }

    function checkClosedTime(e) {
        debugger;
        if (moment('01/01/2020 '+e.value, 'DD/MM/YYYY h:mm a').isValid() == false) {
            e.value = '';
        }
        }
    </script>
}