﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AVANTIS - Products that simplify">
    <meta name="author" content="FortuneCookie - Development Team">
    <title>@ViewBag.Title</title>
    @*<title>DASHBOARD :: AVANTIS - Products that simplify</title>*@
    <!-- Bootstrap CSS -->

    <link href="~/NewCSS/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- bootstrap theme -->
    <link href="~/NewCSS/bootstrap-theme.css" rel="stylesheet" />

    <link href="~/NewCSS/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- full calendar css-->
    <!-- owl carousel -->
    <link type="text/css" href="@Url.Content("~/NewCSS/owl.carousel.css")" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="~/NewCSS/stylenew.css" rel="stylesheet" type="text/css" />
    <link href="~/NewCSS/jquery-ui-1.10.4.min.css" rel="stylesheet" type="text/css" />


    <link href="~/Newjs/bxslider/jquery.bxslider.css" rel="stylesheet" type="text/css" />

    <link href="~/NewCSS/colorbucket.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Newjs/jquery.js"></script>

    <script type="text/javascript" src="~/Newjs/jquery-ui-1.9.2.custom.min.js"></script>

    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/NewCSS/SimpleIcons.css" rel="stylesheet" />
    <link href="~/Content/css/kendo/2014.2.903/kendo.common-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/kendo/2014.2.903/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/kendo/2014.2.903/kendo.web.min.js"></script>
    <script src="~/Scripts/kendo/2014.2.903/kendo.all.min.js" type="text/javascript"></script>
    <link href="~/NewCSS/kendo.default.min.css" rel="stylesheet" />
    <script src="~/Scripts/kendo/2014.2.903/kendo.aspnetmvc.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD50uFhROVysfZducuIgGl1ltBV3Hx-Ig8"></script>
    @*<link href="~/CSS/Kendouicss.css" rel="stylesheet" />*@


    <script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/Content/css/Kendouicss.css" rel="stylesheet" />
    <script src="~/Scripts/BM_Validation/BM-requiredIf.js"></script>

    <title>@ViewBag.Title</title>

    <style type="text/css">
        .newtestcss {
            position: fixed;
            left: 248px;
            background: white;
            width: 250px !important;
            z-index: 15;
            border: 1px solid #e5e5e5;
        }

            .newtestcss > li {
                padding: 5px;
            }

        .nicescroll-rails {
            width: 11px !important;
        }

            .nicescroll-rails > div {
                width: 10px !important;
                background-color: #1FD9F7 !important;
            }

        ul.level1.gw-nav.gw-nav-list.static {
            width: 100% !important;
        }

        #CMPMenuBar a.level1 {
            margin-left: 5px;
        }

        .chosen-container .chosen-results {
            max-height: 150px !important;
        }

        ul.sidebar-menu li a {
            text-decoration: none;
            display: block;
            padding: 10px 0 10px 10px;
            font-size: 16px;
            font-weight: 300;
            outline: 0;
            transition: all .3s ease;
        }
    </style>

    <style>
        .k-state-selected {
            color: #fff;
            background-color: #f3f3f3;
            border-color: #1a87cd;
        }

            .k-panelbar > li.k-state-default > .k-link.k-state-selected, .k-panelbar > li > .k-state-selected, .k-state-selected > .k-link {
                color: #515967;
            }

        .k-block, .k-draghandle, .k-grid-header, .k-grouping-header, .k-header, .k-pager-wrap, .k-toolbar, .k-treemap-tile, html .km-pane-wrapper .k-header {
            background-color: white;
        }

            .k-autocomplete, .k-colorpicker, .k-combobox, .k-datepicker, .k-datetimepicker, .k-dropdown, .k-dropdowntree, .k-listbox, .k-multiselect, .k-numerictextbox, .k-selectbox, .k-textbox, .k-timepicker, .k-toolbar .k-split-button {
                position: relative;
                display: inline-block;
                width: 9.4em;
            }
    </style>

    <script type="text/javascript">


        $(document).ready(function ()
        {
            fmenustyle();
        });

        $('.btn-minimize').click(function () {
            var s1=$(this).find('i');
            if($(this).hasClass('collapsed')){
                $(s1).removeClass('fa-chevron-down');
                $(s1).addClass('fa-chevron-up');
            }else
            {
                $(s1).removeClass('fa-chevron-up');
                $(s1).addClass('fa-chevron-down');
            }
        });

        function btnminimize(obj) {
            var s1=$(obj).find('i');
            if($(obj).hasClass('collapsed')){

                $(s1).removeClass('fa-chevron-up');
                $(s1).addClass('fa-chevron-down');
            }else
            {
                $(s1).removeClass('fa-chevron-down');
                $(s1).addClass('fa-chevron-up');
            }
        }

    </script>

</head>

<body>
    @*<form id="frmnew">*@
    <div>
        <section id="container" class="">

            <header class="gray-bg" style="max-height:5px;">
                <div class="nav">
                    <!--  search form start -->
                    <ul class="nav top-menu">
                        
                        <li>
                            <div class="toggle-nav" style="float: right; padding-top: 0px !important;">
                                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom">
                                 
                                </div>
                            </div>
                        </li>

                    </ul>
                    <!--  search form end -->
                </div>


            </header>

            <div class="row " style="background: #fff; height: 50px;">
                <section class="wrapper ">
                    <div class="col-lg-5 col-md-5 colpadding0">
                        <h1 id="pagetype" style="margin-top:15px">Board Meeting Q4 FY-2019-20</h1>
                    </div>
                    <div class="col-lg-7 col-md-7 dashboard-weather ">
              
                            <div class="col-lg-10 col-md-10 colpadding0">
                                <h1 id="clockone" style="/*border: 1px solid #e1e5e9; */padding: 1px; float: right; margin-top: 1%;"></h1>
                            </div>
                            <div class="col-lg-2 col-md-2 colpadding0">
                                <p style="float:right;">@DateTime.Now.ToString("MMM dd yyyy")</p>
                            </div>



                    </div>
                    </section>
</div>


            <!--header end-->
            <!--sidebar start-->
            <aside>
                <div id="sidebar" class="nav-collapse" style="width:50px;">

                    <!--logo end-->
                    <!-- sidebar menu start-->

                    <ul class="sidebar-menu">
             
                        <li class="text-center">
                            <a href="#home" data-toggle="tab" data-placement="right" title="Home">
                                <i class="icon_house" style="color:black;"></i>
                            </a>
                        </li>

                        <li class="text-center">
                            <a class="" href="#menu1" data-toggle="tab" data-placement="right" title="Attendees">
                                <i class="icon_document" style="color:black;"></i>
                            </a>
                        </li>


                        <li class="text-center">
                            <a class="" href="#menu2" data-toggle="tab" data-placement="right" title="Agenda">
                                <i class="icon-task-l"></i>
                            </a>
                        </li>

                    </ul>
                    <!-- sidebar menu end-->
                </div>
               
            </aside>
            <!--sidebar end-->
            <!--main content start-->
            <section id="main-contentnew" style="margin-left:48px;">
                



                <div class="clearfix" style="height: 5px"></div>
                <section class="wrapper">
                    <div class="" id="childrow">
                        <div class="dashboard">
                            <div class="Dashboard-white-widget">

                                <div class="row">
                                    <div class="col-md-12 colpadding0">
                                        <div class="text-center" style="color:black;"><strong>Avantis Regtech Private Limited</strong></div>
                                    </div>
                                </div>

                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </section>

                <!--collapse start-->
                <!--collapse end-->
            </section>


        </section>
    </div>


    <script type="text/javascript">
            function openemail() {
                $('#emailicon').hide();
                $('#idemail').show();
            }

            function openticket(){
                $('#ticketicon').hide();
                $('#idticket').show();
            }

            function hideticket() {
                $('#ticketicon').show();
                $('#idticket').hide();
            }

            function hidemessage() {
                $('#emailicon').show();
                $('#idemail').hide();
            }

            $("#txttomail").blur(function () {
                if ($(this).val() == '')
                {
                    $(this).val('To');
                }
            });

            $("#txttomail").focus(function () {
                if ($(this).val() == 'To') {
                    $(this).val('');
                }
            });

            $("#txtsub").blur(function () {
                if ($(this).val() == '') {
                    $(this).val('Subject');
                }
            });

            $("#txtsub").focus(function () {
                if ($(this).val() == 'Subject') {
                    $(this).val('');
                }
            });

            $("#txtmsgbody").blur(function () {                    
                if ($(this).val() == '') {
                    $(this).val('Message');
                }
            });

            $("#txtmsgbody").focus(function () {
                if ($(this).val() == 'Message') {
                    $(this).val('');
                }
            });

            $("#ticketmessage").blur(function () {                    
                if ($(this).val() == '') {
                    $(this).val('Message');
                }
            });

            $("#ticketmessage").focus(function () {
                if ($(this).val() == 'Message') {
                    $(this).val('');
                }
            });

            $("#ticketsubject").blur(function () {
                if ($(this).val() == '') {
                    $(this).val('Subject');
                }
            });

            $("#ticketsubject").focus(function () {
                if ($(this).val() == 'Subject') {
                    $(this).val('');
                }
            });

            function TicketClose(){
                $('#ticketsubject').val('Subject');
                $('#ticketmessage').val('Message');
                $('#issues').val('0');
            }

            function Displays() {
                $('#updateProgress').show();
                setTimeout(function() {  $("#updateProgress").hide(); $("#updateProgress").html(); }, 3000);
                return true;
            };
    </script>


    <script src="~/Newjs/bxslider/jquery.bxslider.js" type="text/javascript"></script>
    <script src="~/Newjs/bootstrap.min.js"></script>
    <!-- nice scroll -->
    <script src="~/Newjs/jquery.scrollTo.min.js"></script>

    <script src="~/Newjs/jquery.nicescroll.js"></script>

    <!-- charts scripts -->
    <script src="~/assets/jquery-knob/js/jquery.knob.js"></script>

    <script src="~/Newjs/owl.carousel.js"></script>

    <!-- jQuery full calendar -->


    <script src="~/Newjs/jquery.rateit.min.js"></script>
    <!-- custom select -->

    <script src="~/Newjs/jquery.customSelect.min.js"></script>
    <!--custome script for all page-->

    <script src="~/Newjs/scripts.js"></script>


    <!-- custom script for this page-->
    <script type="text/javascript">
            function WeatherInfo(city)
            {
                var k = 0;
                $.ajax({
                    async: true,
                    type: 'Get',
                    url: '/dailyupdateservice.svc/GetWhetherInfo?city=' + $('#dCity').html(),
                    content: 'application/json;charset=utf-8',
                    processData: true,
                    success: function (result) {
                        $("#temp").html(parseInt(parseInt(parseInt(((result.main.temp - 273) * 1.8) + 32) -32) *(5/9)) + '<span><sup>o</sup>C</span>');
                        if (result.weather[0].main.toLowerCase() == "clear") {
                            $("#daytype").html("Sunny day");
                            $("#whetherpic").attr("src","../../img/icon-sunnyday.png");
                        } else if (result.weather[0].main.toLowerCase() == "haze" || result.weather[0].main.toLowerCase() == "Mist") {
                            $("#daytype").html("Mostly Cloudy");
                            $("#whetherpic").attr("src","../../img/cloudy.png");
                        }
                        else if (result.weather[0].main.toLowerCase() == "Sunn") {
                            $("#daytype").html("Mostly Cloudy");
                            $("#whetherpic").attr("src", "../../img/icon-sunnyday.png");
                        }

                    },
                    error: function (e, t) { }
                })
            }

           // var geocoder2;
            if (navigator.geolocation)
            {
                try{
                    navigator.geolocation.getCurrentPosition(successFunction, errorFunction);
                }catch(e){}
            }
            //Get the latitude and the longitude;
            //function successFunction(position)
            //{

            //    var lat = position.coords.latitude;
            //    var lng = position.coords.longitude;
            //    var latlng = new google.maps.LatLng(lat, lng);
            //    geocoder2.geocode({ 'latLng': latlng }, function (results, status) {
            //        if (status == google.maps.GeocoderStatus.OK) {
            //            // console.log(results)
            //            if (results[1]) {
            //                //formatted address
            //                for (var i = 0; i < results[0].address_components.length; i++) {
            //                    for (var b = 0; b < results[0].address_components[i].types.length; b++) {
            //                        if (results[0].address_components[i].types[b] == "administrative_area_level_2") {
            //                            //this is the object you are looking for
            //                            var city = results[0].address_components[i].long_name;
            //                            $('#dCity').html(city);

            //                            WeatherInfo();
            //                        }
            //                        if (results[0].address_components[i].types[b] == "country") {
            //                            var country = results[0].address_components[i].long_name;
            //                            $('#dCountry').html(country);
            //                        }
            //                    }
            //                }

            //            } else {

            //            }
            //        } else {

            //        }
            //    });

            //}
            //function errorFunction() { }; //geocoder2 = new google.maps.Geocoder();

    $("html").mouseover(function () {
    $("html").getNiceScroll().resize();
    });

    </script>
    <script type="text/javascript">
            $(document).ready(function () {
                getdateclock();
            });

            function getdateclock(){
                var today = new Date();
                var h = today.getHours();
                var m = today.getMinutes();
                var s = today.getSeconds();

                if(m<10){
                    m = "0"+m;
                }
                if(s<10){
                    s = "0"+s;
                }

                $("#clockone").html(h+" : "+m+" : "+s);
                setTimeout(function(){
                    getdateclock()
                }, 500);
            }

            //custom select box
            $(function () {
                $('select.styled').customSelect();
            });

            function fmenustyle()
            {

                var vales=$('#CMPMenuBar').find('ul.level1');
                var lienl= $(vales).find('li.has-popup');
                for(var i=0; i< $(lienl).length;i++)
                {
                    var limenu=$(lienl)[i];

                    if(typeof(limenu)!='undefined'){
                        var ulmenu=$(limenu).find('ul');

                        $(ulmenu).removeClass('level2');
                        $(ulmenu).removeClass('dynamic');
                        $(ulmenu).addClass('gw-');
                        $(ulmenu).removeAttr("style");
                        $(ulmenu).css('display','none');
                        $(ulmenu).css('padding-left','5px');
                        $(ulmenu).addClass('newtestcss');
                        $(limenu).removeClass('has-popup');
                        $(limenu).removeClass('static');
                        $(limenu).css('cursor','pointer');
                    }

                }
                var hgtsubmenu=$('ul.newtestcss');
                for(var h=0; h< $(hgtsubmenu).length;h++)
                {
                    var hgtsubmenu1=$(hgtsubmenu)[h];
                    var lisubmenu=$(hgtsubmenu1).find('li').length;

                    if(lisubmenu>16)
                    {

                        $(hgtsubmenu1).css('margin-top','-300px');
                    }else if(lisubmenu>10)
                    {
                        $(hgtsubmenu1).css('margin-top','-150px')

                    }else if(lisubmenu<=7)
                    {
                        $(hgtsubmenu1).css('margin-top','-50px');

                    }
                }
            }

            function setactivemenu(id)
            {

                fmenustyle();
                //auditmenu active to set
                for(var ii=0; ii< $('.level2').length ; ii++)
                {
                    var inneranchor=$('.level2')[ii];
                    if($(inneranchor).html().toLowerCase()==id.toLowerCase())
                    {
                        var mainli=$(inneranchor).closest('li');
                        var mainul=$(mainli).closest('ul');
                        $(inneranchor).addClass('highlighted');
                        $(mainli).addClass('active');
                        $(mainul).css('display','block');

                        $(mainul).addClass('active');
                        return true;
                    }
                    $(inneranchor).removeClass('highlighted');
                }

                $('.leftdummy').removeClass("menuactive");
                $('#' + id).addClass("menuactive");
            };

            /*script to showHide Div*/
            function closeDiv(id) {
                if (document.getElementById(id + 'Checkbox') != null && document.getElementById(id + 'Checkbox') != undefined) {
                    document.getElementById(id + 'Checkbox').className = 'menucheckbox-notchecked';
                    document.getElementById(id).style.display = 'none';
                    widgets(id, 'False');
                    // do something
                }
            }

            function showDiv(id) {
                if (document.getElementById(id + 'Checkbox') != null && document.getElementById(id + 'Checkbox') != undefined) {
                    if (document.getElementById(id).style.display != 'none' && document.getElementById(id).style.display != '') {
                        document.getElementById(id + 'Checkbox').className = 'menucheckbox-notchecked';
                        document.getElementById(id).style.display = 'none';
                        widgets(id, 'False');
                    }
                    else {
                        //if (document.getElementById(id + 'Checkbox').className == 'menucheckbox-checked') {
                        document.getElementById(id).style.display = 'block';
                        document.getElementById(id + 'Checkbox').className = 'menucheckbox-checked';
                        widgets(id, 'True');
                        // }
                    }
                }
                $('li.dropdown').addClass('open')
            }

            function closeDiv1(id) {
                if (document.getElementById(id + 'Checkbox') != null && document.getElementById(id + 'Checkbox') != undefined) {
                    document.getElementById(id + 'Checkbox').className = 'menucheckbox-notchecked';
                    document.getElementById(id).style.display = 'none';
                    // do something
                }
            }

            function showDiv1(id) {
                if (id != null) {
                    if (document.getElementById(id + 'Checkbox') != null && document.getElementById(id + 'Checkbox') != undefined) {

                        //typeof (locationsInternal1) !== 'undefined'
                        if (typeof (document.getElementById(id)) != 'undefined' && document.getElementById(id)!=null) {
                            if (document.getElementById(id).style.display != 'none' && document.getElementById(id).style.display != '') {
                                document.getElementById(id + 'Checkbox').className = 'menucheckbox-notchecked';
                                document.getElementById(id).style.display = 'none';
                            } else {
                                //if (document.getElementById(id + 'Checkbox').className == 'menucheckbox-checked') {
                                document.getElementById(id).style.display = 'block';
                                document.getElementById(id + 'Checkbox').className = 'menucheckbox-checked';

                            }
                        }
                    }
                }
            }

            function widgets(id,Yes) {
                var k = 0;
                $.ajax({
                    async: true,
                    type: 'GET',
                    url: '/dailyupdateservice.svc/widget?id=@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID&control=' + id + '&yes=' + Yes,
                    //  data: JSON.stringify({ "id": <%= com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID %>, "control": id, "yes": Yes }),
                    content: 'application/json;charset=utf-8',
                    processData: true,
                    success: function (result) {
                    },
                    error: function (e, t) { }
                });
            }

            function msg() {
                if(validateemail()){
                    var k = 0;
                    $.ajax({
                        async: true,
                        type: 'Post',
                        url: '/dailyupdateservice.svc/UserMessaging',
                        data: JSON.stringify({"recepient": $('#txttomail').val(),"sender": @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID, "subject":  $('#txtsub').val(), "message":  $('#txtmsgbody').val()}),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        processData: true,
                        success: function (result) {

                            if(result.UserMessagingResult==true)
                            {
                                $("#idemail").hide();
                                $("#emailicon").show();
                                if(result.sendmailresult==true)
                                {
                                    $("#mailSuccess").show();
                                    $("#mailSuccess").html('Message sent successfully');
                                    setTimeout(function() {  $("#mailSuccess").hide(); $("#mailSuccess").html(); }, 5000);
                                }
                                else
                                {
                                    $("#mailSuccess").show();
                                    $("#mailSuccess").html('Message sent fail');
                                    setTimeout(function() {  $("#mailSuccess").hide(); $("#mailSuccess").html(); }, 5000);
                                }
                                $('#txttomail').val('To');
                                $('#txtmsgbody').val('Message');
                                $('#txtsub').val('Subject');

                            }
                        },
                        error: function (e, t) { }
                    });
                }
            }


            $(function () {
                $('#btnsendmailNew').click(function () {
                    if(validateemail()){
                        var fileUpload = $('#FileUpload1').get(0);
                        var files = fileUpload.files;
                        test = new FormData();
                        for (var i = 0; i < files.length; i++) {
                            test.append(files[i].name, files[i]);
                        }
                        test.append('txttomail',$('#txttomail').val());
                        test.append('txtsub',$('#txtsub').val());
                        test.append('txtmsgbody',$('#txtmsgbody').val());
                        test.append('Sender',('@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID'))
                        $.ajax({
                            url:"/FileUploadHandler.ashx",
                            type: "POST",
                            contentType: false,
                            processData: false,
                            data: test,

                            success: function (result) {

                                $("#idemail").hide();
                                $("#emailicon").show();
                                if(Displays()==true)
                                {
                                    if(result=='True')
                                    {
                                        $("#mailSuccess").show();
                                        $("#mailSuccess").html('Message sent successfully');
                                        setTimeout(function() {  $("#mailSuccess").hide(); $("#mailSuccess").html(); }, 5000);
                                    }
                                    else
                                    {
                                        //Displays();
                                        $("#mailSuccess").show();
                                        $("#mailSuccess").html('Message sent fail');
                                        setTimeout(function() {  $("#mailSuccess").hide(); $("#mailSuccess").html(); }, 5000);
                                    }
                                }
                                $('#txttomail').val('To');
                                $('#txtmsgbody').val('Message');
                                $('#txtsub').val('Subject');
                                $('#FileUpload1').val('');
                            },
                            error: function (err) {

                            }
                        });
                    }
                });
            })

            function ticket() {
                if(validateticket()){
                    var k = 0;
                    $.ajax({
                        async: true,
                        type: 'Post',
                        url: '/dailyupdateservice.svc/ticket',
                        //  url: '/dailyupdateservice.svc/UserMessaging?recepient='+$('#txttomail').val()+'&sender=<%= com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID %>'+'&subject='+ $('#txtsub').val() +'&message='+$('#txtmsgbody').val(),
                        data: JSON.stringify({"subject": $('#ticketsubject').val(),"message":$('#ticketmessage').val(),"requestor":@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID,"tickettype":$('#issues').val()}),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        processData: true,
                        success: function (result)
                        {
                            if(Displays() ==true)
                            {
                                if(result.ticketResult==true)
                                {
                                    $("#idticket").hide();
                                    $("#ticketicon").show();
                                    $("#mailSuccess").show();
                                    $("#mailSuccess").html('Ticket raised successfully');
                                    setTimeout(function() {  $("#mailSuccess").hide(); $("#mailSuccess").html(); }, 5000);
                                    $('#ticketsubject').val('Subject');
                                    $('#ticketmessage').val('Message');
                                    $('#issues').val('0');
                                }
                            }
                        },
                        error: function (e, t) { }
                    });
                }
            }

            function fvideostop(){
                $('#dicviewer').attr('src','about:blank');
            }

            function openhelp(){

                var a=document.getElementById("pagetype").innerHTML;

                if(document.location.href.toLowerCase().indexOf('litigationmanagementdashboard') >-1 && a.toLowerCase()=='my dashboard'){
                    a='managementDashboard';
                }

                var url=("../Common/LitigationHelp.aspx?id="+a);
                $('#docViewer').modal('show');
                $('#dicviewer').attr('src',url);
            }

            function openFirsthelp(){
                var url=("../Help.aspx?id=");

                $('#docViewer').modal('show');

                $('#dicviewer').attr('src',url);
            }

            getmailscnt();

            function getmailscnt()
            {
                var k = 0;
                $.ajax({
                    async: true,
                    type: 'GET',
                    url: '/dailyupdateservice.svc/Mailscnt?userid=@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID',
                    content: 'application/json;charset=utf-8',
                    processData: true,
                    success: function (result) {

                        $('#mailcount').html(result);
                    },
                    error: function (e, t) { }
                });
            }

            function getmails()
            {
                var k = 0;
                $.ajax({
                    async: true,
                    type: 'GET',
                    url: '/dailyupdateservice.svc/Mails?userid=@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID',
                    content: 'application/json;charset=utf-8',
                    processData: true,
                    success: function (result) {

                        var str='';
                        for(var i=0;i < result.length;i++)
                        {
                            if(result[i].IsRead==true)
                                str+='<li style="background-color:gray;color:white"><a href="../mailsdetails.aspx?id='+result[i].Id+'">'+result[i].Subjecttext+'</a></li>' ;
                            else
                                str+='<li ><a href="../maildetails.aspx?id='+result[i].Id+'">'+result[i].Subjecttext+'</a></li>' ;
                        }
                        if(result.length>0)
                        {
                            str+='<li ><a href="../Emails.aspx">View all</a></li>' ;
                        }
                        $('.maillistclass').html(str);
                    },
                    error: function (e, t) { }
                });
            }

            $(".topmailbox").click(function ()
            {
                // getmails();
            });

            // A $( document ).ready() block.
            $(document).ready(function ()
            {
                if ($("#Ishome").val() == "false")
                {
                    $("#childrow").addClass("Dashboard-white-widget");
                    //$("p").addClass("myClass yourClass");
                    $('.rev_dr').hide();
                }

                $(document).tooltip({ selector: '[data-toggle="tooltip"]' });
            });

            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
                var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
                s1.async=true;
                s1.src='https://embed.tawk.to/5841474b3d413a0ca09c6a2a/default';
                s1.charset='UTF-8';
                s1.setAttribute('crossorigin','*');
                s0.parentNode.insertBefore(s1,s0);
            })();

            window.onload = function() {
                Tawk_API = Tawk_API || {};
                Tawk_API.onLoad = function()
                {
                    //place your code here
                };
            };

            Tawk_API = Tawk_API || {};
            Tawk_API.visitor = {
                name :'@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.User'
            };

            //$('.btn-search').on('click', function() {
            //    $(document).tooltip({ selector: '[data-toggle="tooltip"]' });
            //});

            function fhead(val)
            {
                $('#pagetype').html(val);
                //  $('#sppagetype').html(val)
            }

            //// validation mail
            function IsValidEmail(email)
            {
                var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
                return expr.test(email);
            };

            function validateticket()
            {
                var message =$('#ticketmessage').val();
                var Subject = $('#ticketsubject').val();
                var tickettype= $('#issues').val();
                var emailsvalid=true;
                if (Subject == "" || Subject.toLowerCase() == "subject")
                {
                    $('#ticketsubject').closest('div').css('border-bottom-color','#FF0000');
                    return false;
                }
                else
                {
                    $('#ticketsubject').closest('div').css('border-bottom-color','#eeeeee');
                }

                if (tickettype == "0")
                {
                    $('#issues').closest('div').css('border-bottom-color','#FF0000');
                    return false;
                }
                else
                {
                    $('#issues').closest('div').css('border-bottom-color','#eeeeee');
                }

                return true;
            };

            function validateemail() {
                var Email =$('#txttomail').val();
                var Subject = $('#txtsub').val();
                var emailsvalid=true;
                if (Email == "" || Email.toLowerCase() == "to")
                {
                    $('#txttomail').closest('div').css('border-bottom-color','#FF0000');
                    return false;
                }
                else
                {
                    var emailarray=Email.split(',');
                    for(var i=0;i<emailarray.length;i++)
                    {
                        if(!IsValidEmail(emailarray[i]))
                        {
                            emailsvalid=false;
                        }
                    }
                    if(!emailsvalid)
                    {
                        $('#txttomail').closest('div').css('border-bottom-color','#FF0000');
                    }else
                    {
                        $('#txttomail').closest('div').css('border-bottom-color','#eeeeee');
                    }
                    if (Subject == "" || Subject.toLowerCase() == "subject")
                    {
                        $('#txtsub').closest('div').css('border-bottom-color','#FF0000');
                        return false;
                    }else
                    {
                        $('#txtsub').closest('div').css('border-bottom-color','#eeeeee');
                    }

                    return true;
                }
            };

            function GetUnreadNotifications() {
                var k = 0;
                $.ajax({
                    async: true,
                    type: 'GET',
                    url: '/dailyupdateservice.svc/NotificationMail?userid=@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID',
                    content: 'application/json;charset=utf-8',
                    processData: true,
                    success: function (result) {
                        $('#Notecount').html(result);
                    },
                    error: function (e, t) { }
                });
            }

            GetUnreadNotifications();

            function fred(obj)
            {
                document.location.href= $(obj).attr('data-ref');
            }

            function initializeJQueryUI(textBoxID, divID) {
                $("#" + textBoxID).unbind('click');

                $("#" + textBoxID).click(function () {
                    $("#" + divID).toggle("blind", null, 500, function () { });
                });
            }
            function fmaters(){
                $('#Mastersubmenu').css('display','block');
            }
            $("#Mastersubmenu").mouseleave(function() {
                $('#Mastersubmenu').css('display','none');
            });

            function fcspace(){

                $('#Workspacesubmenuc').css('display','block');
            }
            $("#Workspacesubmenuc").mouseleave(function() {
                $('#Workspacesubmenuc').css('display','none');
            });

            function fworkspace(){
                $('#Workspacesubmenu').css('display','block');
            }
            $("#Workspacesubmenu").mouseleave(function() {
                $('#Workspacesubmenu').css('display','none');
            });

    </script>

    <!-- Secretarial Script for show progress -->
    <script>
        function onOpenWindow(e) {
            var wnd = $("#"+e).data("kendoWindow");
            kendo.ui.progress(wnd.element, true);
        }

        function onRefreshWindow(e) {
            var wnd = $("#"+e).data("kendoWindow");
            kendo.ui.progress(wnd.element, false);
        }
    </script>
</body>
</html>
