﻿@model BM_ManegmentServices.VM.VM_MastersData

@if (Model.pageId.Contains(4))
{
<li role="menuitem" class="dynamic" style="position: relative;">
    <a class="level2 dynamic" href="~/BM_Management/User/UserList" tabindex="-1" style="padding:0px">User</a>
</li>
}

@if (Model.pageId.Contains(6))
{
<li role="menuitem" class="dynamic" style="position: relative;">
    <a class="level2 dynamic" href="~/BM_Management/EntityMaster/GetEntityDtls" tabindex="-1" style="padding:0px">Entity Master</a>
</li>
}
@if (Model.pageId.Contains(7))
{
<li role="menuitem" class="dynamic" style="position: relative;">
    <a class="level2 dynamic" href="~/BM_Management/CommitteeComposition/Index" tabindex="-1" style="padding:0px">Committee Composition Master</a>
</li>
}
@if (Model.pageId.Contains(8))
{
<li role="menuitem" class="dynamic" style="position: relative;">
    <a class="level2 dynamic" href="~/BM_Management/CommitteeMaster/GetCommitteeNew" tabindex="-1" style="padding:0px">Committee Master</a>
</li>
}
@if (Model.pageId.Contains(8))
{
<li role="menuitem" class="dynamic" style="position: relative;">
    <a class="level2 dynamic" href="~/BM_Management/Director_Master/Index" tabindex="-1" style="padding:0px">Director Master</a>
</li>
}
@if (Model.pageId.Contains(8))
{
<li role="menuitem" class="dynamic" style="position: relative;">
    <a class="level2 dynamic" href="~/BM_Management/BoardOF_Director/Index" tabindex="-1" style="padding:0px">Board of Directors Rule</a>
</li>
}
@if (Model.pageId.Contains(8))
{
<li role="menuitem" class="dynamic" style="position: relative;">
    <a class="level2 dynamic" href="~/BM_Management/KMPMaster/Index" tabindex="-1" style="padding:0px">KMP Master</a>
</li>
}
@if (Model.pageId.Contains(8))
{
<li role="menuitem" class="dynamic" style="position: relative;">
    <a class="level2 dynamic" href="~/BM_Management/CountryCityStateMaster/GetCountry" tabindex="-1" style="padding:0px">Country Master</a>
</li>
}
@if (Model.pageId.Contains(8))
{
<li role="menuitem" class="dynamic" style="position: relative;">
    <a class="level2 dynamic" href="~/BM_Management/CountryCityStateMaster/GetState" tabindex="-1" style="padding:0px">State Master</a>
</li>
}
@if (Model.pageId.Contains(8))
{
<li role="menuitem" class="dynamic" style="position: relative;">
    <a class="level2 dynamic" href="~/BM_Management/CountryCityStateMaster/GetCity" tabindex="-1" style="padding:0px">City Master</a>
</li>
}
@if (Model.pageId.Contains(8))
{
<li role="menuitem" class="dynamic" style="position: relative;">
    <a class="level2 dynamic" href="~/BM_Management/Designation/Index" tabindex="-1" style="padding:0px">Designation Master</a>
</li>
}
@if (Model.pageId.Contains(8))
{
<li role="menuitem" class="dynamic" style="position: relative;">
    <a class="level2 dynamic" href="~/BM_Management/AgendaMaster/Agenda" tabindex="-1" style="padding:0px">Agenda Item Master</a>
</li>
}

@if (Model.pageId.Contains(8))
{
<li role="menuitem" class="dynamic" style="position: relative;">
    <a class="level2 dynamic" href="~/BM_Management/AuditorMaster/AuditorMaster" tabindex="-1" style="padding:0px">Auditor Master</a>
</li>
}


<div id="sidebar" class="nav-collapse">
    <!--logo start-->
    <div class="col-md-12" style="display: flex; align-items: center; width: 100%;">
        <img src="~/Images/TeamLeaseAvantisLogo.png" height="60" style="margin-left: auto; margin-right: auto;" />
    </div>
    <!--logo end-->

    <div class="clearfix"></div>

    <!-- sidebar menu start-->
    <div class="items">
        <ul id="panelbar" style="border-right: 0px; border-bottom: 0px; border-top: 1px solid #f4f4f4;" data-role="panelbar" class="k-widget k-reset k-header k-panelbar" tabindex="0" role="menu">
            @*Home*@
            <li id="lefthomemenu" class="k-item k-state-default k-first" role="menuitem">
                <a class="k-link k-header" href="../../ProductMapping/ProductMappingStructure.aspx">
                    <img src="~/Areas/BM_Management/img/Sidemenu/home.svg" class="k-image" />Home
                    @*<i class="icon_house" style="margin-right: 1em;"></i>Home*@
                </a>
            </li>
            @*Home*@

            @*My Dashboard*@
            <li id="leftdashboardmenu" class="k-item k-state-default k-first" role="menuitem">
                <a class="k-link k-header" href="~/BM_Management/Dashboard/">
                    <img src="~/Areas/BM_Management/img/Sidemenu/dashboard.svg" class="k-image" />My Dashboard
                    @*<i class="icon_desktop" style="margin-right: 1em;"></i>My Dashboard*@
                </a>
            </li>
            @*My DashBoard*@

            @*My Workspace*@
            <li id="myWorkspacemenu" aria-expanded="false" class="k-item k-state-default k-last" role="menuitem">
                <span class="k-link k-header">
                    <img src="~/Areas/BM_Management/img/Sidemenu/workspace.svg" class="k-image" />My Workspace
                    @*<i class="icon_briefcase" style="margin-right: 1em;"></i>My Workspace*@
                    <span class="k-icon  k-panelbar-expand k-i-arrow-60-down"></span>
                </span>
                <ul class="k-group k-panel" role="group" aria-hidden="true" style="display: none;">

                    <li class="k-item k-state-default k-first" role="menuitem">
                        <a class="k-menu-level2 k-link" href="~/BM_Management/Meetings/Meetings">
                            My Meetings
                        </a>
                    </li>

                    <li class="k-item k-state-default k-last" role="menuitem">
                        <a class="k-menu-level2 k-link" href="~/BM_Management/Meetings/Meetings?Stage=Completed">
                            @*href="~/BM_Management/Meetings/Past"*@
                            Concluded Meetings
                        </a>
                    </li>

                    <li class="k-item k-state-default k-first" role="menuitem">
                        <a class="k-menu-level2 k-link" href="~/BM_Management/MyCompliances/Upcoming">
                            My Compliances
                        </a>
                    </li>

                    <li class="k-item k-state-default k-last" role="menuitem">
                        <a class="k-menu-level2 k-link" href="~/BM_Management/Task/MyTask">
                            My Tasks
                        </a>
                    </li>
                </ul>
            </li>
            @*My Workspace*@

            @*My Document*@
            <li id="myDocumentMenu" aria-expanded="false" class="k-item k-state-default" role="menuitem">
                <span class="k-link k-header">
                    <img src="~/Areas/BM_Management/img/Sidemenu/documents.svg" class="k-image" />My Documents
                    @*<i class="icon_documents" style="margin-right: 1em;"></i>My Documents*@
                    <span class="k-icon  k-panelbar-expand k-i-arrow-60-down"></span>
                </span>
                <ul class="k-group k-panel" role="group" aria-hidden="true" style="display: none;">
                    <li class="k-item k-state-default k-first" role="menuitem">
                        <a class="k-menu-level2 k-link" href="~/BM_Management/MyComplianceDocument/index">
                            Compliance Documents
                        </a>
                    </li>
                    <li class="k-item k-state-default k-first" role="menuitem">
                        <a class="k-menu-level2 k-link" href="~/BM_Management/Registers/Index">
                            Registers
                        </a>
                    </li>
                    <li class="k-item k-state-default k-first" role="menuitem">
                        <a class="k-menu-level2 k-link" href="~/BM_Management/MyComplianceDocument/MyDrive">
                            My Drive
                        </a>
                    </li>
                </ul>
            </li>
            @*My Document*@

            @*My Reports*@
            <li id="myReportMenu" aria-expanded="false" class="k-item k-state-default" role="menuitem">
                <span class="k-link k-header">
                    <img src="~/Areas/BM_Management/img/Sidemenu/reports.svg" class="k-image" />My Reports
                    @*<i class="icon_documents_alt" style="margin-right: 1em;"></i>*@
                    <span class="k-icon  k-panelbar-expand k-i-arrow-60-down"></span>
                </span>
                <ul class="k-group k-panel" role="group" aria-hidden="true" style="display: none;">
                    <li class="k-item k-state-default k-first" role="menuitem">
                        <a class="k-menu-level2 k-link" href="~/BM_Management/MyReports/Index">
                            Compliance Status Report
                        </a>
                    </li>
                    <li class="k-item k-state-default k-first" role="menuitem">
                        <a class="k-menu-level2 k-link" href="~/BM_Management/MyReports/AttedanceReports">
                            Attendance Report
                        </a>
                    </li>
                </ul>
            </li>
            @*My Reports*@

            @*Master*@
            <li id="Mastermenu" class="k-item k-state-default k-last" aria-expanded="false" role="menuitem">
                <span class="k-link k-header">
                    <img src="~/Areas/BM_Management/img/Sidemenu/masters.svg" class="k-image" />Masters
                    @*<i class="icon_toolbox" style="margin-right: 1em;"></i>Masters*@
                    <span class="k-icon  k-panelbar-collapse k-i-arrow-60-up"></span>
                </span>
                <ul class="k-group k-panel" role="group">
                    <li class="k-item k-state-default k-first" role="menuitem">
                        <a class="k-menu-level2 k-link" href="~/BM_Management/EntityMaster/GetEntityDtls">
                            Entity
                        </a>
                    </li>

                    <li class="k-item k-state-default k-first" role="menuitem">
                        <a class="k-menu-level2 k-link" href="~/BM_Management/Director_Master/Index">
                            Director
                        </a>
                    </li>

                    <li class="k-item k-state-default" role="menuitem">
                        <a class="k-menu-level2 k-link" href="~/BM_Management/CommitteeComposition/Index">
                            Committee
                        </a>
                    </li>

                    <li class="k-item k-state-default" role="menuitem">
                        <a class="k-menu-level2 k-link" href="~/BM_Management/CommitteeMaster/GetCommitteeNew">
                            Committee Composition
                        </a>
                    </li>

                    <li class="k-item k-state-default k-first" role="menuitem">
                        <a class="k-menu-level2 k-link" href="~/BM_Management/KMPMaster/Index">
                            Key Managerial Personnel
                        </a>
                    </li>

                    <li class="k-item k-state-default k-first" role="menuitem">
                        <a class="k-menu-level2 k-link" href="~/BM_Management/AuditorMaster/AuditorMaster">
                            Auditor
                        </a>
                    </li>

                    <li class="k-item k-state-default k-first" role="menuitem">
                        <a class="k-menu-level2 k-link" href="~/BM_Management/AgendaMaster/Agenda">
                            Agenda Items
                        </a>
                    </li>

                    <li class="k-item k-state-default k-first" role="menuitem">
                        <a class="k-menu-level2 k-link" href="~/BM_Management/Configuration/Configuration">
                            Configuration
                        </a>
                    </li>

                    <li class="k-item k-state-default k-first" role="menuitem">
                        <a class="k-menu-level2 k-link" href="~/BM_Management/User/UserList">
                            User
                        </a>
                    </li>

                    <li class="k-item k-state-default k-first" role="menuitem">
                        <a class="k-menu-level2 k-link" href="~/BM_Management/EntitiesUserAssignment/UserAssignment">
                            User Entity Assignment
                        </a>
                    </li>

                    <li class="k-item k-state-default k-last" role="menuitem">
                        <a class="k-menu-level2 k-link" href="~/BM_Management/TemplateMaster/TemplateMaster">
                            Mail Template
                        </a>
                    </li>

                    <li class="k-item k-state-default k-first" role="menuitem">
                        <a class="k-menu-level2 k-link" href="~/BM_Management/ComplianceAssign/Meeting">
                            Compliance Assignment
                        </a>
                    </li>

                    <li class="k-item k-state-default k-last" role="menuitem">
                        <a class="k-menu-level2 k-link" href="~/BM_Management/TemplateMaster/MeetingTemplateMaster">
                            Meeting Mail Template
                        </a>
                    </li>

                    <li class="k-item k-state-default k-first" role="menuitem">
                        <a class="k-menu-level2 k-link" href="~/BM_Management/Setting/Mail">
                            Mail Setting
                        </a>
                    </li>

                    @*<li class="k-item k-state-default k-last" role="menuitem">
                            <a class="k-menu-level2 k-link" href="~/BM_Management/RegisterMaster/Register">
                                Statutory Register
                            </a>
                        </li>

                        <li class="k-item k-state-default k-last" role="menuitem">
                            <a class="k-menu-level2 k-link" href="~/BM_Management/CountryCityStateMaster/GetCountry">
                                Country Master
                            </a>
                        </li>

                        <li class="k-item k-state-default k-last" role="menuitem">
                            <a class="k-menu-level2 k-link" href="~/BM_Management/CountryCityStateMaster/GetState">
                                State Master
                            </a>
                        </li>

                        <li class="k-item k-state-default k-last" role="menuitem">
                            <a class="k-menu-level2 k-link" href="~/BM_Management/CountryCityStateMaster/GetCity">
                                City Master
                            </a>
                        </li>*@

                </ul>
            </li>
            @*Master*@

            @*Legal Updates*@
            <li id="leftupdatemenu" class="k-item k-state-default k-first" role="menuitem">
                <a class="k-link k-header" href="~/BM_Management/LegalUpdates">
                    <img src="~/Areas/BM_Management/img/Sidemenu/updates.svg" class="k-image" />Legal Updates
                    @*<i class="icon_house" style="margin-right: 1em;"></i>Home*@
                </a>
            </li>
            @*Legal Updates*@
        </ul>
        <!-- sidebar menu end-->
    </div>
</div>

<div id="sidebar-small" class="nav-collapse">
    <!--logo start-->
    <div class="col-md-12" style="display: flex; align-items: center; width: 100%;">
        <img src="~/img/Avantislogosmall.png" height="60" style="margin-left: auto; margin-right: auto;" />
    </div>
    <!--logo end-->

    <div class="clearfix"></div>

    <!-- sidebar-small-menu start-->
    <div class="menu">
        <ul id="menu">
            @*Home*@
            <li id="lefthomemenu" class="k-item k-state-default k-first text-center" role="menuitem">
                <a class="k-link k-header" href="~/ProductMapping/ProductMappingStructure.aspx">
                    <img src="~/Areas/BM_Management/img/Sidemenu/home.svg" class="k-image" />
                    @*<i class="icon_house"></i>*@
                </a>
                <ul class="sub-level-items">
                    <li>
                        <a href="~/ProductMapping/ProductMappingStructure.aspx">
                            <strong class="fly-out-top-item-name">
                                Home
                            </strong>
                        </a>
                    </li>
                </ul>
            </li>
            @*Home*@

            @*My DashBoard*@
            <li id="leftdashboardmenu" class="k-item k-state-default k-first text-center" role="menuitem">
                <a class="k-link k-header" href="~/BM_Management/Dashboard/">
                    <img src="~/Areas/BM_Management/img/Sidemenu/dashboard.svg" class="k-image" />
                    @*<i class="icon_desktop"></i>*@
                </a>
                <ul class="sub-level-items">
                    <li>
                        <a href="~/BM_Management/Dashboard/">
                            <strong class="fly-out-top-item-name">
                                My Dashboard
                            </strong>
                        </a>
                    </li>
                </ul>
            </li>
            @*My DashBoard*@

            @*My Workspace*@
            <li id="myWorkspacemenu" class="k-item k-state-default text-center" role="menuitem">
                <a class="k-link k-header">
                    <img src="~/Areas/BM_Management/img/Sidemenu/workspace.svg" class="k-image" />
                    @*<i class="icon_briefcase"></i>*@
                </a>
                <ul class="sub-level-items">
                    <li>
                        <a href="#">
                            <strong class="fly-out-top-item-name">
                                My Workspace
                            </strong>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="~/BM_Management/Meetings/Meetings">
                            <span>My Meetings</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/BM_Management/Meetings/Meetings?Stage=Completed">
                            @*href="~/BM_Management/Meetings/Past"*@
                            <span>Concluded Meetings</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/BM_Management/MyCompliances/Upcoming">
                            <span>My Compliances</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/BM_Management/Task/MyTask">
                            <span>My Tasks</span>

                        </a>
                    </li>
                </ul>
            </li>
            @*My Workspace*@

            @*My Document*@
            <li id="Documentmenu" class="k-item k-state-default text-center" role="menuitem">
                <a class="k-link k-header">
                    <img src="~/Areas/BM_Management/img/Sidemenu/documents.svg" class="k-image" />
                    @*<i class="icon_documents"></i>*@
                </a>

                <ul class="sub-level-items">
                    <li>
                        <a href="#">
                            <strong class="fly-out-top-item-name">
                                My Documents
                            </strong>
                        </a>
                    </li>
                    <li class="divider"></li>

                    <li>
                        <a href="~/BM_Management/MyComplianceDocument/index">
                            <span>Compliance Documents</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/BM_Management/Registers/Index">
                            <span>Registers</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/BM_Management/MyComplianceDocument/MyDrive">
                            <span>My Drive</span>

                        </a>
                    </li>
                </ul>
            </li>
            @*My Document*@

            @*My Reports*@
            <li id="myReportMenu" class="k-item k-state-default text-center" role="menuitem">
                <a class="k-link k-header">
                    <img src="~/Areas/BM_Management/img/Sidemenu/reports.svg" class="k-image" />
                    @*<i class="icon_documents"></i>*@
                </a>

                <ul class="sub-level-items">
                    <li>
                        <a href="#">
                            <strong class="fly-out-top-item-name">
                                My Reports
                            </strong>
                        </a>
                    </li>
                    <li class="divider"></li>

                    <li>
                        <a href="~/BM_Management/MyReports/Index">
                            <span>Compliance Status Report</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/BM_Management/MyReports/AttedanceReports">
                            <span> Attendance Report</span>
                        </a>
                    </li>
                </ul>
            </li>
            @*My Reports*@

            @*Masters*@
            <li id="Mastermenu" class="k-item k-state-default text-center" role="menuitem">
                <a class="k-link k-header" href="~/BM_Management/EntityMaster/GetEntityDtls">
                    <img src="~/Areas/BM_Management/img/Sidemenu/masters.svg" class="k-image" />
                    @*<i class="icon_toolbox"></i>*@
                </a>

                <ul class="sub-level-items">
                    <li>
                        <a href="#">
                            <strong class="fly-out-top-item-name">
                                Masters
                            </strong>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="~/BM_Management/EntityMaster/GetEntityDtls">
                            <span>Entity</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/BM_Management/Director_Master/Index">
                            <span>Director</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/BM_Management/CommitteeComposition/Index">
                            <span>Committee</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/BM_Management/CommitteeMaster/GetCommitteeNew">
                            <span>Committee Composition</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/BM_Management/KMPMaster/Index">
                            <span>Key Managerial Personnel</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/BM_Management/AuditorMaster/AuditorMaster">
                            <span>Auditor</span>
                        </a>
                    </li>

                    <li>
                        <a href="~/BM_Management/AgendaMaster/Agenda">
                            <span>Agenda Items</span>
                        </a>
                    </li>

                    <li>
                        <a href="~/BM_Management/Configuration/Configuration">
                            <span>Configuration</span>
                        </a>
                    </li>

                    <li>
                        <a href="~/BM_Management/User/UserList">
                            <span>User</span>
                        </a>
                    </li>

                    <li>
                        <a href="~/BM_Management/EntitiesUserAssignment/UserAssignment">
                            <span>User-Entity Assignment</span>
                        </a>
                    </li>

                    <li>
                        <a href="~/BM_Management/ComplianceAssign/Meeting">
                            <span>Compliance Assignment</span>
                        </a>
                    </li>

                    <li>
                        <a href="~/BM_Management/TemplateMaster/TemplateMaster">
                            <span>Mail Template</span>
                        </a>
                    </li>

                    <li>
                        <a href="~/BM_Management/TemplateMaster/MeetingTemplateMaster">
                            <span>Meeting Mail Template</span>
                        </a>
                    </li>

                    @*<li>
                            <a href="~/BM_Management/RegisterMaster/Register">
                                <span>Statutory Register</span>
                            </a>
                        </li>

                        <li>
                            <a href="~/BM_Management/CountryCityStateMaster/GetCountry">
                                <span>Country</span>
                            </a>
                        </li>

                        <li>
                            <a href="~/BM_Management/CountryCityStateMaster/GetState">
                                <span>State</span>
                            </a>
                        </li>

                        <li>
                            <a href="~/BM_Management/CountryCityStateMaster/GetCity">
                                <span>City</span>
                            </a>
                        </li>*@
                </ul>
            </li>
            @*Masters*@

            @*Legal Updates*@
            <li id="leftupdatemenu" class="k-item k-state-default k-first text-center" role="menuitem">
                <a class="k-link k-header" href="~/BM_Management/LegalUpdates">
                    <img src="~/Areas/BM_Management/img/Sidemenu/updates.svg" class="k-image" />
                    @*<i class="icon_house"></i>*@
                </a>
                <ul class="sub-level-items">
                    <li>
                        <a href="~/BM_Management/LegalUpdates">
                            <strong class="fly-out-top-item-name">
                                Legal Updates
                            </strong>
                        </a>
                    </li>
                </ul>
            </li>
            @*Legal Updates*@

        </ul>
    </div>

    <!-- sidebar-small-menu end-->
</div>
