﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.FileStorageDataVM
@{
    ViewBag.Title = "Upload";
}
<script>
    function onRowBoundFilesGrid(e) {
        GetICons();
    }
    function downloadFiles(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            window.location.href = "@Url.Action("DownloadFileFromStorage", "FileData")?id=" + dataItem.FileID;
    }
    function filterDownloadsFiles() {
        return {
            meetingId: "@Model.MeetingId"
        }
    }
</script>
<div id="divUploadDetails">

    @using (Ajax.BeginForm("UploadFile", "FileData", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divUploadDetails", OnBegin = "OnOpenUploadFilesOnStorage", OnComplete = "OnRefreshUploadFilesOnStorage" }, new { id = "frmUploadDetails", enctype = "multipart/form-data" }))
    {
        @Html.Hidden("meetingId", Model.MeetingId)
        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">

                <div class="col-md-3 colpadding0">
                    <div class="col-md-10 colpadding0">
                        <span style="color:red"></span><label class="control-label">Upload</label>
                        @Html.TextBox("Files", "", new { type = "file", style = "width:100%" })
                    </div>
                    <div class="col-md-2 colpadding0" style="top:16px;">
                    </div>
                </div>

                <div class="col-md-3 colpadding0">
                    <input type="submit" value="Upload" class="btn btn-primary" />
                </div>

            </div>
        </div>
       
    }

    <div class="row colpadding0">
        <div class="col-md-12 colpadding0">
            @(Html.Kendo().Grid<BM_ManegmentServices.VM.FileDataVM>()
                                .Name("gridFiles")
                                .Columns(columns =>
                                {
                                    columns.Bound(o => o.FileID).Visible(false);
                                    columns.Bound(o => o.FileName).Title("File Name");
                                    columns.Command(command =>
                                    {
                                        command.Custom("Download").Click("downloadFiles").HtmlAttributes(new { @class = "k-grid-download" });
                                    })
                                .Title("Action");
                                })
                                //.EnableCustomBinding(true)
                                .Events(e => e.DataBound("onRowBoundFilesGrid"))
                                .Navigatable()
                                .Pageable(pageable => pageable
                                .Refresh(false)
                                .PageSizes(true)
                                .ButtonCount(5))
                                .Filterable()
                                .Sortable()

                                .Reorderable(reorderable => reorderable.Columns(true))
                                .Resizable(resizable => resizable.Columns(true))
                                .ColumnMenu()
                                .ColumnMenu()
                                .DataSource(dataSource => dataSource
                                .WebApi()
                                .PageSize(5)
                                .ServerOperation(false)

                                .Model(model =>
                                {
                                    model.Field(p => p.FileID);
                                })

                                .Read(read => read.Action("GetUploadedFilesByMeetingId", "FileData").Data("filterDownloadsFiles").Type(HttpVerbs.Get))
                                        ))

        </div>
    </div>
</div>