﻿@model long
@using Kendo.Mvc.UI;

<style>
    #KendoDirectorSecurityDetails .k-grid-content {
        position: relative;
        width: 100%;
        overflow: hidden;
        overflow-x: auto;
        height: auto;
        /* overflow-y: scroll; */
        /* zoom: 1; */
    }


    #KendoDirectorSecurityDetails .k-grid td {
        line-height: 2em;
    }
</style>

<script>
    function EditSecrity(e)
    {

        e.preventDefault();

        $("#wndAddSecurityDetailsofDirector").attr("style", "min-height:100px;");


        $("#wndAddSecurityDetailsofDirector").kendoWindow({
            title: "Edit - Director Security",
        });
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        direction = "CreateSecurity?KmpId=" +@Model+"&SecurityId="+dataItem.Id ;
        var wnd = $("#wndAddSecurityDetailsofDirector").data("kendoWindow");
        var opts = wnd.options;


        wnd = $("#wndAddSecurityDetailsofDirector").kendoWindow({
            title: "Edit - Entity Master",
            actions: [
                         "Pin",
                         "Minimize",
                         "Maximize",
                         "Close"
            ],
            content: direction,
            width: "95%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresh(); },
            close: function (e) {
                $(this.element).empty();
                $('#KendoDirectorSecurityDetails').data('kendoGrid').dataSource.read();
                $('#KendoDirectorSecurityDetails').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {
                OnOpen();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "95%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();
    }

    function onRowBound(e) {
        GetICons();

    }

    $("#btnAddSecurity").click(function (e) {
        e.preventDefault();
        OnOpene('a');

        $("#wndAddSecurityDetailsofDirector").attr("style", "min-height:100px;");
        direction = "CreateSecurity?KmpId=" +@Model +"&SecurityId="+0;
        var wnd = $("#wndAddSecurityDetailsofDirector").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAddSecurityDetailsofDirector").kendoWindow({

            actions: ["Close"],
            content: direction,
            width: "95%",
            visible: false,
            modal: true,
            actions: [
                        "Pin",
                        "Minimize",
                        "Maximize",
                        "Close"
            ],
            refresh: function () { this.center(); OnRefreshe(); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                //33.4531px
            },
            open: function (e) {

                OnOpene();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(this.element).closest(".k-window").css("top", "22px")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");

        opts.width = "95%";
        wnd.setOptions(opts);
        wnd.refresh(direction);
        wnd.center();
        wnd.open();
    });
    function adjustSize() {
        // if ($(window).width() < 500 || $(window).height() < 400) {
        //   this.maximize();
        // }
    }

    function OnOpene(e) {
        var wnd = $("#wndAddSecurityDetailsofDirector").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");

    }

    function OnRefreshe() {
        var wnd = $("#wndAddSecurityDetailsofDirector").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }
</script>

<div class="row colpadding0" style="overflow-x:hidden;height:430px">
    <div class="col-md-12 col-lg-pull-0">
        @(Html.Kendo().Window()
        .Name("wndAddSecurityDetailsofDirector")
        .Title("Add - Security Details")
        .Visible(false)
        .Modal(true)
        .Draggable(true)
        .Actions(m =>
        {
        m.Pin();
        m.Close();
        })
        .Events(e => e.Open("adjustSize"))
        .Events(e => e.Refresh("OnRefresh"))
        )
        <div class="row colpadding0">
            <div class="col-md-11 colpadding0">
                @*@Html.Partial("_SecurityUpload", @Model)*@
            </div>
            <div class="col-md-1 colpadding0">
                <button type="submit" class="k-grid-add k-button k-button-icontext" id="btnAddSecurity" style="margin-top: 18%;
    margin-right:21%;">
                    <span class="k-icon k-add k-i-plus-outline"></span>Add
                </button>
            </div>

        </div>
        <div class="row colpadding0 mt30" style="width:100%">
            <div class="col-md-12 colpadding0">                    
                    @(Html.Kendo().Grid<BM_ManegmentServices.Data.BM_SecurityDetail>()                    
                    .Name("KendoDirectorSecurityDetails")
                    .ColumnResizeHandleWidth(2300)
                    .Columns(columns =>
                    {
                    columns.Bound(o => o.Id).Visible(false);
                    columns.Bound(o => o.CompanyName).Width(200);
                    columns.Bound(o => o.securities_No).Title("Securities Number").Width(200);
                    columns.Bound(o => o.Dis_of_securities).Title("Secrities Discription").Width(200);
                    columns.Bound(o => o.Nominam_valSecurities).Width(200);
                    columns.Bound(o => o.acquisition_Date).Title("Acquisition Date").Format("{0:dd/MM/yyyy}").Width(200);
                    columns.Bound(o => o.acquisition_pricePaid).Title("Price paid for acquisition of securities").Width(200);
                    columns.Bound(o => o.Other_ConsiPaid_acquisition).Title("Other consideration paid for acquisition").Width(200);
                    columns.Bound(o => o.Date_disposal).Title("Date of disposal").Format("{0:dd/MM/yyyy}").Width(200);
                    columns.Bound(o => o.Price_Received_disposal).Title("Price received on disposal").Width(200);
                    columns.Bound(o => o.otherconsideration_disposal_RescPrice).Title("Other consideration received on disposal").Width(200);
                    columns.Bound(o => o.Mode_of_acquisitionSecurities).Title("Mode of acquisition of securities").Width(200);
                    columns.Bound(o => o.Cbal_No_securities_afterTransaction).Title("Cumulative balance and number of securities held after each transaction").Width(200);
                    columns.Bound(o => o.DematerializedorPhysical).Title("Mode of holding physical or in dematerialized form").Width(200);
                    columns.Bound(o => o.Securities_encumbrance).Title("Securities have been pledged or any encumbrance has been created").Width(200);
                    columns.Command(commnd =>
                    {
                    commnd.Custom("Edit").Click("EditSecrity").HtmlAttributes(new { @class = "k-grid-edit" });

                    }).Title("Action").Width(130);
                    })
                    .Events(e => e.DataBound("onRowBound"))
                    .NoRecords("No Records Found.")
                    .EnableCustomBinding(true)
                    .Navigatable()
                    .Pageable(pageable => pageable
                    .Refresh(false)
                    .PageSizes(true)
                    .ButtonCount(5))
                    .Sortable()
                    .Reorderable(reorderable => reorderable.Columns(true))
                    .Resizable(resizable => resizable.Columns(true))
                    .ColumnMenu()
                    .Scrollable(s => s.Enabled(true).Height("auto"))
                    .DataSource(dataSource => dataSource
                    .WebApi()
                    .PageSize(50)

                    .ServerOperation(false)
                    .Model(model =>
                    {
                    model.Id(o => o.Id);
                    })
                    .Read(read => read.Url("/api/KMIMasterAPI/GetKMPSecurities?KMPId=" + Model).Type(HttpVerbs.Get))
                    ).HtmlAttributes(new { }))

            </div>
        </div>

    </div>
</div>

<script>

    function DownloadDirectorSecurityDocument()
    {
        window.location="@Url.Action("DownloadSampleFormateforDirectorSecurity", "Director_Master")";
    }
</script>
