﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AVANTIS - Products that simplify">
    <meta name="author" content="FortuneCookie - Development Team">
    <title>@ViewBag.Title</title>

    <link href="~/NewCSS/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/NewCSS/bootstrap-theme.css" rel="stylesheet" />

    <link href="~/NewCSS/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!-- Custom styles -->
    <link href="~/NewCSS/stylenew.css" rel="stylesheet" type="text/css" />
    <link href="~/NewCSS/jquery-ui-1.10.4.min.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="~/Newjs/jquery.js"></script>

    <script type="text/javascript" src="~/Newjs/jquery-ui-1.9.2.custom.min.js"></script>

    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/NewCSS/SimpleIcons.css" rel="stylesheet" />

    @Styles.Render("~/Content/2018.3.1017/css/cssKendo")
    @Scripts.Render("~/Content/2018.3.1017/js/jskendo")

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/Content/css/Kendouicss.css" rel="stylesheet" />
    <script src="~/Scripts/BM_Validation/BM-requiredIf.js"></script>
    <link href="~/Content/css/Layoutcss.css" rel="stylesheet" />
    <link href="~/Content/css/DirectorCSS.css" rel="stylesheet" />
    <link href="~/Content/css/AgendaViewer.css" rel="stylesheet" />
    <script src="~/Content/js/LayoutjsFile.js"></script>

    <script src="~/Content/JS/matomo.js"></script>

    <style>
        #sidebar-small {
            background: #0e1630;
        }

        .companyName {
            text-decoration: none;
            text-decoration: none;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal !important;
            font-size: 24px;
            padding: 5px;
        }

            .companyName b {
                text-decoration: none;
                text-decoration: none;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal !important;
                font-size: 24px;
                padding: 5px;
            }
    </style>
    <script>
        $(document).ready(function () {
            setInterval(function () { fcallpage(); }, 5000);
        });

        function fcallpage() {
            $.ajax({
                url: "/blank.aspx", success: function (result) {
                }
            });
        }
        function openvideo() {
            $('#VideoViewer').modal('show');
            $('#iframeVideoViewer').attr('src', '/Video1Sec.htm');
        }
    </script>
</head>
<body>
    @*<form id="frmnew">*@
    <div>
        <section id="container" class="">
            <!--header end-->
            <!--sidebar start-->
            <aside>
                @*@Html.Partial("_sidebarMenu")*@
                @Html.Action("TopMenu", "Home")
            </aside>
            <!--sidebar end-->
            <!--main content start-->
            <section id="main-content">
                <header class="header">

                    <div class="col-md-6 colpadding0">
                        <div class="nav-toggle" data-original-title="Toggle Navigation Menu" data-placement="bottom" onclick="ToggleHideSideMenu();">
                            <img class="imgDynamic" src="~/Areas/BM_Management/img/ToggleMenu.png" height="40" />
                        </div>
                        <ul class="breadcrumbs"></ul>
                    </div>
                    <div class="col-md-6 colpadding0">
                        <div class="top-nav notification-row">
                            <ul class="nav pull-right top-menu">
                                @if (HttpContext.Current.Session["CustomerName"] != null)
                                {
                                    <li>
                                        <label class="companyName"><b>@Session["CustomerName"]</b></label>
                                    </li>
                                }
                                else
                                {
                                    Context.Response.Redirect("~/BM_Management/Dashboard/");
                                }

                                <li id="helpVideo">
                                    <a style="cursor:pointer" onclick="openvideo()">
                                        <i class="fa fa-file-video-o" style="color: #0090d6" data-toggle="tooltip" data-placement="bottom" title="Help Center"></i>
                                    </a>
                                </li>

                                <li id="License_Agreement">
                                    <a id="A3" style="cursor:pointer" onclick="openAgreement()">
                                        <i data-toggle="tooltip" data-placement="bottom" title="End User License Agreement">
                                            <span class="badge bg-important" id="Notecount1"></span>
                                            <img src="../../Images/LicenseAgreementIcon.png" alt="" id="itemImg" />
                                        </i>
                                    </a>
                                </li>

                                <li>
                                    <a style="cursor:pointer;" onclick="openhelp()">
                                        <img class="hoverCircle" src="~/Areas/BM_Management/img/help-center.svg" data-toggle="tooltip" data-placement="bottom" data-original-title="Help Center" />
                                    </a>
                                </li>

                                <!-- inbox notification start-->
                                @*<li>
                                        <a id="A2">
                                            <img class="hoverCircle" src="~/Areas/BM_Management/img/message-center.svg" data-toggle="tooltip" data-placement="bottom" data-original-title="Message Center" />
                                        </a>
                                    </li>*@
                                <!-- inbox notification end -->
                                <!-- alert notification start-->
                                @*<li>
                                        <a id="A1">
                                            <img class="hoverCircle" src="~/Areas/BM_Management/img/notification.svg" data-toggle="tooltip" data-placement="bottom" data-original-title="Notification Center" />
                                        </a>
                                    </li>*@
                                <!-- alert notification end-->
                                @*<li>
                                        <a style="cursor:pointer">
                                            <img class="hoverCircle" src="~/Areas/BM_Management/img/my-apps.svg" />
                                        </a>
                                    </li>*@

                                <!-- user login dropdown start-->
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                        <span class='customer-photo1 textimage1' id="userIcon1"></span>
                                        @*<span class="profile-ava">
                                                <img src="~/Areas/BM_Management/img/UserIcon.png" id="userIcon1" />
                                            </span>*@
                                        <b class="caret"></b>
                                    </a>

                                    <ul class="dropdown-menu extended logout">
                                        <div class="log-arrow-up"></div>

                                        @if (com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role == "DRCTR")
                                        {
                                            <li class="eborder-top" onclick="return fRedirect(this)" data-ref="/BM_Management/MyProfile/DirectorProfile" style="cursor:pointer">
                                                <a>My Profile</a>
                                            </li>
                                        }

                                        <li class="eborder-top" onclick="return fRedirect(this)" data-ref="/Account/Changepassword.aspx" style="cursor:pointer">
                                            <a>Change Password</a>
                                        </li>
                                        <li onclick="return fRedirect(this)" data-ref="/securityquestion/ResetSecurityQuestions.aspx" style="cursor:pointer">
                                            <a>Change Security Questions</a>
                                        </li>

                                        <li onclick="return fRedirect(this)" data-ref="../../logout.aspx" style="cursor:pointer">
                                            <a>
                                                Logout
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- user login dropdown end -->
                            </ul>
                        </div>
                    </div>
                </header>

                <div class="clearfix" style="height: 10px"></div>

                <section class="wrapper">
                    <div class="row" id="childrow">
                        <div class="dashboard">
                            @RenderBody()
                        </div>
                    </div>
                </section>
            </section>

            <!--main content end-->

            <div class="hidden" onclick="openemail()" id="emailicon" data-toggle="tooltip" data-placement="top" title="Create Internal Message"
                 style="height: 83px; bottom: 0px; cursor: pointer; line-height: 14px; opacity: 1.5; padding-bottom: 6px; padding-top: 0px; position: fixed; left: 5.7%; margin-right: 68px; text-align: center; width: 80px; z-index: 22; display: none;">
                <img style="width:80px;height:80px" src="../../images/manager-email.png" />
            </div>

            <div id="idemail" style="height: 350px; display: none; background-color: white; border-radius: 3px; bottom: 0px; cursor: pointer; line-height: 14px; opacity: 11.5; padding-bottom: 6px; padding-top: 0px; position: fixed; left: 5.5%; margin-right: 100px; text-align: center; width: 518px; border: 1px solid #eeeeee; z-index: 1000;">
                <div>
                    <table style="width: 100%; text-align: left; height: 100%;">
                        <tr style="height: 50px;">
                            <td onclick="hidemessage()" style="background-color: #ff7473; color: white; padding-left: 20px; font-size: 18px;font-family: 'Roboto',sans-serif;">
                                <div style="float: left">New Message   </div>
                                <div style="float: right">
                                    <button type="button" class="close" style="margin-right: 5px; font-size: 18px; margin-top: -16px;"><b>×</b></button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="margin-left: 20px;border-bottom: 1px solid #eeeeee;">
                                    <input ID="txttomail" Style="border: none; color: #8b8b8b;font-family: 'Roboto',sans-serif;" Height="35px" Width="358px" value="To" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="border-bottom: 1px solid #eeeeee; margin-left: 20px;">
                                    <input ID="txtsub" Style="border: none; color: #8b8b8b;font-family: 'Roboto',sans-serif;" Height="30px" Width="359px" value="Subject" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="margin-left: 20px;">
                                    <input ID="txtmsgbody" Style="border: none; color: #8b8b8b;font-family: 'Roboto',sans-serif;" Text="Message"
                                           TextMode="MultiLine" Height="120px" Width="99%" />
                                    <div style="margin-left:0px">
                                        <input ID="FileUpload1" AllowMultiple="true" type="file" /><br />
                                        <div style="display:none;">
                                            <input type="button" value="Upload" id="btnUpload" />
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="button" style="width: 100%; border: 0px; height: 50px; background-color: #1fd9e1; color: white; font-size: 22px;
                                         font-family: 'Roboto',sans-serif;" id="btnsendmailNew" value="Send" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div id="mailSuccess" style="margin-bottom: 9px; background-color: #ff7473; height: 38px; border: 3px solid #d6d6d6; bottom: 0px; cursor: pointer; line-height: 14px; opacity: 1.5; padding-bottom: 6px; padding-top: 8px; position: fixed; left: 46%; margin-right: 548px; text-align: center; width: 198px; z-index: 22; display: none; top: 0px"></div>

            <div class="hidden" onclick="openticket()" data-toggle="tooltip" data-placement="top" title="Create a Support Ticket" id="ticketicon" style="height: 83px; bottom: 0px; cursor: pointer; line-height: 14px; opacity: 1.5; padding-bottom: 6px; padding-top: 0px; position: fixed; left: 11%; margin-right: 140px; text-align: center; width: 80px; z-index: 22; display: none;">
                <img style="width:80px;height:80px" src="../../images/manager-support.png" />
            </div>

            <div id="idticket" style="height: 277px; display: none; background-color: white; border-radius: 3px; bottom: 0px; cursor: pointer; line-height: 14px; opacity: 11.5; padding-bottom: 6px; padding-top: 0px; position: fixed; left: 6%; margin-right: 100px; text-align: center; width: 518px; border: 1px solid #eeeeee; z-index: 1000;">
                <div>
                    <table style="width: 100%; text-align: left; height: 100%;">
                        <tr style="height: 50px;">

                            <td onclick="hideticket()" style="background-color: #ff7473; color: white; padding-left: 20px; font-size: 18px;font-family: 'Roboto',sans-serif;">
                                <div style="float: left">Support Ticket</div>
                                <div style="float: right">
                                    <button type="button" class="close" style="margin-right: 5px; font-size: 18px; margin-top: -16px;" onclick="TicketClose()"><b>×</b></button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="border-bottom: 1px solid #eeeeee;margin-left: 20px;">
                                    <input ID="ticketsubject" Style="border: none; color: #8b8b8b;font-family: 'Roboto',sans-serif;" Height="30px" Width="359px" value="Subject" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="border-bottom: 1px solid #eeeeee; margin-left: 20px;">
                                    <select id="issues" style="border: 0px solid; width: 90%; height: 25px; color: #8b8b8b; margin-left: -3px;font-family: 'Roboto',sans-serif;">
                                        <option value="0">Select Issue</option>
                                        <option value="1">General Enquiry</option>
                                        <option value="5">Legal Issue</option>
                                        <option value="3">Sales Issue</option>
                                        <option value="2">Technical Issue</option>
                                    </select>
                                </div>
                            </td>
                        </tr>

                        <tr>

                            <td>
                                <div style="margin-left:20px;">
                                    <input ID="ticketmessage" Style="border: none; color: #8b8b8b;font-family: 'Roboto',sans-serif;" Text="Message" TextMode="MultiLine" Height="100px" Width="99%" />
                                </div>
                            </td>
                        </tr>
                        <tr>

                            <td>
                                <input type="button" style="width: 100%; border: 0px; height: 50px; background-color: #1fd9e1; color: white; font-size: 22px;" id="btnsendmail" value="Create Ticket" onclick="ticket();" />

                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </section>
    </div>

    <div class="modal fade" id="docViewer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 85%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="fvideostop()">×</button>
                </div>
                <div class="Help_logo" style="position: absolute; width: 50%; background-image: url(../../Images/TeamLeaseAvantisLogo.png); background-size: 100% 100%; position: absolute; width: 20%; height: 76px; top: 0%;">
                </div>
                <div class="Help_Back" style="color: #688a7e; height: 75px; border-radius: 0px 9px 0px 0px; margin-left: 14.1%; width: 86%; margin-top: -3.1%;"></div>
                <div class="modal-body">
                    <iframe src="about:blank" id="dicviewer" width="100%" height="550px" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="VideoViewer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 60%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="fvideostop()">×</button>
                </div>
                <div class="Help_logo" style="position: absolute; width: 50%; background-image: url(../../Images/TeamLeaseAvantisLogo.png); background-size: 100% 100%; position: absolute; width: 30%; height: 76px; top: 0%;">
                </div>
                <div class="Help_Back" style="color: #688a7e; height: 75px; border-radius: 0px 9px 0px 0px; margin-left: 14.1%; width: 86%; margin-top: -3.1%;"></div>
                <div class="modal-body">
                    <iframe src="about:blank" id="iframeVideoViewer" width="100%" height="550px" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="DivLicenseAgreement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="display: none; text-align: center; position: fixed; top: 51%; left: 50%; transform: translate(-52%, -50%); width: 50%; overflow-x: hidden; height: 100%; overflow-y: hidden;">
        <div class="modal-dialog" style="width: 90%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: -9px !important;" onclick="fAgreementstop();">&times;</button>
                </div>
                <div class="Help_logo"></div>
                <div class="Help_Back"></div>
                <div class="modal-body">
                    <iframe id="showdetailsLicenseAgreement" src="about:blank" style="width: 100% !important" height="500px" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function openemail() {
            $('#emailicon').hide();
            $('#idemail').show();
        }

        function openticket() {
            $('#ticketicon').hide();
            $('#idticket').show();
        }

        function hideticket() {
            $('#ticketicon').show();
            $('#idticket').hide();
        }

        function hidemessage() {
            $('#emailicon').show();
            $('#idemail').hide();
        }

        $("#txttomail").blur(function () {
            if ($(this).val() == '') {
                $(this).val('To');
            }
        });

        $("#txttomail").focus(function () {
            if ($(this).val() == 'To') {
                $(this).val('');
            }
        });

        $("#txtsub").blur(function () {
            if ($(this).val() == '') {
                $(this).val('Subject');
            }
        });

        $("#txtsub").focus(function () {
            if ($(this).val() == 'Subject') {
                $(this).val('');
            }
        });

        $("#txtmsgbody").blur(function () {
            if ($(this).val() == '') {
                $(this).val('Message');
            }
        });

        $("#txtmsgbody").focus(function () {
            if ($(this).val() == 'Message') {
                $(this).val('');
            }
        });

        $("#ticketmessage").blur(function () {
            if ($(this).val() == '') {
                $(this).val('Message');
            }
        });

        $("#ticketmessage").focus(function () {
            if ($(this).val() == 'Message') {
                $(this).val('');
            }
        });

        $("#ticketsubject").blur(function () {
            if ($(this).val() == '') {
                $(this).val('Subject');
            }
        });

        $("#ticketsubject").focus(function () {
            if ($(this).val() == 'Subject') {
                $(this).val('');
            }
        });

        function TicketClose() {
            $('#ticketsubject').val('Subject');
            $('#ticketmessage').val('Message');
            $('#issues').val('0');
        }

        function Displays() {
            $('#updateProgress').show();
            setTimeout(function () { $("#updateProgress").hide(); $("#updateProgress").html(); }, 3000);
            return true;
        };
    </script>


    <script src="~/Newjs/bxslider/jquery.bxslider.js" type="text/javascript"></script>
    <script src="~/Newjs/bootstrap.min.js"></script>
    <!-- nice scroll -->
    <script src="~/Newjs/jquery.scrollTo.min.js"></script>

    <script src="~/Newjs/jquery.nicescroll.js"></script>

    <!-- charts scripts -->
    <script src="~/assets/jquery-knob/js/jquery.knob.js"></script>

    <script src="~/Newjs/owl.carousel.js"></script>

    <!-- jQuery full calendar -->


    <script src="~/Newjs/jquery.rateit.min.js"></script>
    <!-- custom select -->

    <script src="~/Newjs/jquery.customSelect.min.js"></script>
    <!--custome script for all page-->

    <script src="~/Newjs/scripts.js"></script>


    <!-- custom script for this page-->
    <script type="text/javascript">
        function WeatherInfo(city) {
            var k = 0;
            $.ajax({
                async: true,
                type: 'Get',
                url: '/dailyupdateservice.svc/GetWhetherInfo?city=' + $('#dCity').html(),
                content: 'application/json;charset=utf-8',
                processData: true,
                success: function (result) {
                    $("#temp").html(parseInt(parseInt(parseInt(((result.main.temp - 273) * 1.8) + 32) - 32) * (5 / 9)) + '<span><sup>o</sup>C</span>');
                    if (result.weather[0].main.toLowerCase() == "clear") {
                        $("#daytype").html("Sunny day");
                        $("#whetherpic").attr("src", "../../img/icon-sunnyday.png");
                    } else if (result.weather[0].main.toLowerCase() == "haze" || result.weather[0].main.toLowerCase() == "Mist") {
                        $("#daytype").html("Mostly Cloudy");
                        $("#whetherpic").attr("src", "../../img/cloudy.png");
                    }
                    else if (result.weather[0].main.toLowerCase() == "Sunn") {
                        $("#daytype").html("Mostly Cloudy");
                        $("#whetherpic").attr("src", "../../img/icon-sunnyday.png");
                    }

                },
                error: function (e, t) { }
            })
        }

        // var geocoder2;
        if (navigator.geolocation) {
            try {
                // navigator.geolocation.getCurrentPosition(successFunction, errorFunction);
            } catch (e) { }
        }
        //Get the latitude and the longitude;
        //function successFunction(position)
        //{

        //    var lat = position.coords.latitude;
        //    var lng = position.coords.longitude;
        //    var latlng = new google.maps.LatLng(lat, lng);
        //    geocoder2.geocode({ 'latLng': latlng }, function (results, status) {
        //        if (status == google.maps.GeocoderStatus.OK) {
        //            // console.log(results)
        //            if (results[1]) {
        //                //formatted address
        //                for (var i = 0; i < results[0].address_components.length; i++) {
        //                    for (var b = 0; b < results[0].address_components[i].types.length; b++) {
        //                        if (results[0].address_components[i].types[b] == "administrative_area_level_2") {
        //                            //this is the object you are looking for
        //                            var city = results[0].address_components[i].long_name;
        //                            $('#dCity').html(city);

        //                            WeatherInfo();
        //                        }
        //                        if (results[0].address_components[i].types[b] == "country") {
        //                            var country = results[0].address_components[i].long_name;
        //                            $('#dCountry').html(country);
        //                        }
        //                    }
        //                }

        //            } else {

        //            }
        //        } else {

        //        }
        //    });

        //}
        //function errorFunction() { }; //geocoder2 = new google.maps.Geocoder();

        $("html").mouseover(function () {
            $("html").getNiceScroll().resize();
        });

    </script>

    <script type="text/javascript">

        //custom select box
        $(function () {
            $('select.styled').customSelect();
        });

        function setactivemenu(id)
        {
            fmenustyle();
            //auditmenu active to set
            for(var ii=0; ii< $('.level2').length ; ii++)
            {
                var inneranchor=$('.level2')[ii];
                if($(inneranchor).html().toLowerCase()==id.toLowerCase())
                {
                    var mainli=$(inneranchor).closest('li');
                    var mainul=$(mainli).closest('ul');
                    $(inneranchor).addClass('highlighted');
                    $(mainli).addClass('active');
                    $(mainul).css('display','block');

                    $(mainul).addClass('active');
                    return true;
                }
                $(inneranchor).removeClass('highlighted');
            }

            $('.leftdummy').removeClass("menuactive");
            $('#' + id).addClass("menuactive");
        };

        /*script to showHide Div*/
        function closeDiv(id) {
            if (document.getElementById(id + 'Checkbox') != null && document.getElementById(id + 'Checkbox') != undefined) {
                document.getElementById(id + 'Checkbox').className = 'menucheckbox-notchecked';
                document.getElementById(id).style.display = 'none';
                widgets(id, 'False');
                // do something
            }
        }

        function showDiv(id) {
            if (document.getElementById(id + 'Checkbox') != null && document.getElementById(id + 'Checkbox') != undefined) {
                if (document.getElementById(id).style.display != 'none' && document.getElementById(id).style.display != '') {
                    document.getElementById(id + 'Checkbox').className = 'menucheckbox-notchecked';
                    document.getElementById(id).style.display = 'none';
                    widgets(id, 'False');
                }
                else {
                    //if (document.getElementById(id + 'Checkbox').className == 'menucheckbox-checked') {
                    document.getElementById(id).style.display = 'block';
                    document.getElementById(id + 'Checkbox').className = 'menucheckbox-checked';
                    widgets(id, 'True');
                    // }
                }
            }
            $('li.dropdown').addClass('open')
        }

        function closeDiv1(id) {
            if (document.getElementById(id + 'Checkbox') != null && document.getElementById(id + 'Checkbox') != undefined) {
                document.getElementById(id + 'Checkbox').className = 'menucheckbox-notchecked';
                document.getElementById(id).style.display = 'none';
                // do something
            }
        }

        function showDiv1(id) {
            if (id != null) {
                if (document.getElementById(id + 'Checkbox') != null && document.getElementById(id + 'Checkbox') != undefined) {

                    //typeof (locationsInternal1) !== 'undefined'
                    if (typeof (document.getElementById(id)) != 'undefined' && document.getElementById(id)!=null) {
                        if (document.getElementById(id).style.display != 'none' && document.getElementById(id).style.display != '') {
                            document.getElementById(id + 'Checkbox').className = 'menucheckbox-notchecked';
                            document.getElementById(id).style.display = 'none';
                        } else {
                            //if (document.getElementById(id + 'Checkbox').className == 'menucheckbox-checked') {
                            document.getElementById(id).style.display = 'block';
                            document.getElementById(id + 'Checkbox').className = 'menucheckbox-checked';

                        }
                    }
                }
            }
        }

        function widgets(id,Yes) {
            var k = 0;
            $.ajax({
                async: true,
                type: 'GET',
                url: '/dailyupdateservice.svc/widget?id=@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID&control=' + id + '&yes=' + Yes,
                //  data: JSON.stringify({ "id": <%= com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID %>, "control": id, "yes": Yes }),
                content: 'application/json;charset=utf-8',
                processData: true,
                success: function (result) {
                },
                error: function (e, t) { }
            });
        }

        function msg() {
            if(validateemail()){
                var k = 0;
                $.ajax({
                    async: true,
                    type: 'Post',
                    url: '/dailyupdateservice.svc/UserMessaging',
                    data: JSON.stringify({"recepient": $('#txttomail').val(),"sender": @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID, "subject":  $('#txtsub').val(), "message":  $('#txtmsgbody').val()}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    processData: true,
                    success: function (result) {

                        if(result.UserMessagingResult==true)
                        {
                            $("#idemail").hide();
                            $("#emailicon").show();
                            if(result.sendmailresult==true)
                            {
                                $("#mailSuccess").show();
                                $("#mailSuccess").html('Message sent successfully');
                                setTimeout(function() {  $("#mailSuccess").hide(); $("#mailSuccess").html(); }, 5000);
                            }
                            else
                            {
                                $("#mailSuccess").show();
                                $("#mailSuccess").html('Message sent fail');
                                setTimeout(function() {  $("#mailSuccess").hide(); $("#mailSuccess").html(); }, 5000);
                            }
                            $('#txttomail').val('To');
                            $('#txtmsgbody').val('Message');
                            $('#txtsub').val('Subject');

                        }
                    },
                    error: function (e, t) { }
                });
            }
        }


        $(function () {
            $('#btnsendmailNew').click(function () {
                if(validateemail()){
                    var fileUpload = $('#FileUpload1').get(0);
                    var files = fileUpload.files;
                    test = new FormData();
                    for (var i = 0; i < files.length; i++) {
                        test.append(files[i].name, files[i]);
                    }
                    test.append('txttomail',$('#txttomail').val());
                    test.append('txtsub',$('#txtsub').val());
                    test.append('txtmsgbody',$('#txtmsgbody').val());
                    test.append('Sender',('@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID'))
                    $.ajax({
                        url:"/FileUploadHandler.ashx",
                        type: "POST",
                        contentType: false,
                        processData: false,
                        data: test,

                        success: function (result) {

                            $("#idemail").hide();
                            $("#emailicon").show();
                            if(Displays()==true)
                            {
                                if(result=='True')
                                {
                                    $("#mailSuccess").show();
                                    $("#mailSuccess").html('Message sent successfully');
                                    setTimeout(function() {  $("#mailSuccess").hide(); $("#mailSuccess").html(); }, 5000);
                                }
                                else
                                {
                                    //Displays();
                                    $("#mailSuccess").show();
                                    $("#mailSuccess").html('Message sent fail');
                                    setTimeout(function() {  $("#mailSuccess").hide(); $("#mailSuccess").html(); }, 5000);
                                }
                            }
                            $('#txttomail').val('To');
                            $('#txtmsgbody').val('Message');
                            $('#txtsub').val('Subject');
                            $('#FileUpload1').val('');
                        },
                        error: function (err) {

                        }
                    });
                }
            });
        })

        function ticket() {
            if(validateticket()){
                var k = 0;
                $.ajax({
                    async: true,
                    type: 'Post',
                    url: '/dailyupdateservice.svc/ticket',
                    //  url: '/dailyupdateservice.svc/UserMessaging?recepient='+$('#txttomail').val()+'&sender=<%= com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID %>'+'&subject='+ $('#txtsub').val() +'&message='+$('#txtmsgbody').val(),
                    data: JSON.stringify({"subject": $('#ticketsubject').val(),"message":$('#ticketmessage').val(),"requestor":@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID,"tickettype":$('#issues').val()}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    processData: true,
                    success: function (result)
                    {
                        if(Displays() ==true)
                        {
                            if(result.ticketResult==true)
                            {
                                $("#idticket").hide();
                                $("#ticketicon").show();
                                $("#mailSuccess").show();
                                $("#mailSuccess").html('Ticket raised successfully');
                                setTimeout(function() {  $("#mailSuccess").hide(); $("#mailSuccess").html(); }, 5000);
                                $('#ticketsubject').val('Subject');
                                $('#ticketmessage').val('Message');
                                $('#issues').val('0');
                            }
                        }
                    },
                    error: function (e, t) { }
                });
            }
        }

        function fvideostop(){
            $('#dicviewer').attr('src','about:blank');
        }

        //function openhelp(){

        //    var url = ("/Areas/Document/SampleDocument/Help/User Manual_Secretarial.pdf#toolbar=0");

        //    $('#docViewer').modal('show');
        //    $('#dicviewer').attr('src',url);
        //}

        function openhelp() {

            var url = ("/HelpViewer.aspx?docurl=" + "/HelpCenter/UserManual_Secretarial.pdf#toolbar=0");
            $('#docViewer').modal('show');
            $('#dicviewer').attr('src', url);
        }

        function openAgreement() {
            $('#DivLicenseAgreement').modal('show');
            $('#showdetailsLicenseAgreement').attr('width', '1250px');
            $('#showdetailsLicenseAgreement').attr('height', '500px');
            $('.modal-dialog','#DivLicenseAgreement').css('width', '100%');
            $('#showdetailsLicenseAgreement').attr('src', '../../RiskManagement/AuditTool/EndUserLicenseAgreementApproved.html');
        }

        function openFirsthelp(){
            var url=("../Help.aspx?id=");

            $('#docViewer').modal('show');

            $('#dicviewer').attr('src',url);
        }

        function injectJS() {
            debugger;
            var frame = $('iframe');
            var contents = frame.contents();
            var body = contents.find('body').attr("oncontextmenu", "return false");
            var body = contents.find('body').append('<div>New Div</div>');
        }

        //getmailscnt();

        function getmailscnt()
        {
            var k = 0;
            $.ajax({
                async: true,
                type: 'GET',
                url: '/dailyupdateservice.svc/Mailscnt?userid=@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID',
                content: 'application/json;charset=utf-8',
                processData: true,
                success: function (result) {

                    $('#mailcount').html(result);
                },
                error: function (e, t) { }
            });
        }

        function getmails()
        {
            var k = 0;
            $.ajax({
                async: true,
                type: 'GET',
                url: '/dailyupdateservice.svc/Mails?userid=@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID',
                content: 'application/json;charset=utf-8',
                processData: true,
                success: function (result) {

                    var str='';
                    for(var i=0;i < result.length;i++)
                    {
                        if(result[i].IsRead==true)
                            str+='<li style="background-color:gray;color:white"><a href="../mailsdetails.aspx?id='+result[i].Id+'">'+result[i].Subjecttext+'</a></li>' ;
                        else
                            str+='<li ><a href="../maildetails.aspx?id='+result[i].Id+'">'+result[i].Subjecttext+'</a></li>' ;
                    }
                    if(result.length>0)
                    {
                        str+='<li ><a href="../Emails.aspx">View all</a></li>' ;
                    }
                    $('.maillistclass').html(str);
                },
                error: function (e, t) { }
            });
        }

        $(".topmailbox").click(function ()
        {
            // getmails();
        });

        // A $( document ).ready() block.
        $(document).ready(function ()
        {
            if ($("#Ishome").val() == "false")
            {
                $("#childrow").addClass("Dashboard-white-widget");
                //$("p").addClass("myClass yourClass");
                $('.rev_dr').hide();
            }

            $(document).tooltip({ selector: '[data-toggle="tooltip"]' });

            $('.toggle-nav').click();
        });

        @*var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
                var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
                s1.async=true;
                s1.src='https://embed.tawk.to/5841474b3d413a0ca09c6a2a/default';
                s1.charset='UTF-8';
                s1.setAttribute('crossorigin','*');
                s0.parentNode.insertBefore(s1,s0);
            })();

            window.onload = function() {
                Tawk_API = Tawk_API || {};
                Tawk_API.onLoad = function()
                {
                    //place your code here
                };
            };

            Tawk_API = Tawk_API || {};
            Tawk_API.visitor = {
                name :'@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.User'
            };*@

        //$('.btn-search').on('click', function() {
        //    $(document).tooltip({ selector: '[data-toggle="tooltip"]' });
        //});

        function fhead(val)
        {
            $('#pagetype').html(val);
            //  $('#sppagetype').html(val)
        }

        //// validation mail
        function IsValidEmail(email)
        {
            var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            return expr.test(email);
        };

        function validateticket()
        {
            var message =$('#ticketmessage').val();
            var Subject = $('#ticketsubject').val();
            var tickettype= $('#issues').val();
            var emailsvalid=true;
            if (Subject == "" || Subject.toLowerCase() == "subject")
            {
                $('#ticketsubject').closest('div').css('border-bottom-color','#FF0000');
                return false;
            }
            else
            {
                $('#ticketsubject').closest('div').css('border-bottom-color','#eeeeee');
            }

            if (tickettype == "0")
            {
                $('#issues').closest('div').css('border-bottom-color','#FF0000');
                return false;
            }
            else
            {
                $('#issues').closest('div').css('border-bottom-color','#eeeeee');
            }

            return true;
        };

        function validateemail() {
            var Email =$('#txttomail').val();
            var Subject = $('#txtsub').val();
            var emailsvalid=true;
            if (Email == "" || Email.toLowerCase() == "to")
            {
                $('#txttomail').closest('div').css('border-bottom-color','#FF0000');
                return false;
            }
            else
            {
                var emailarray=Email.split(',');
                for(var i=0;i<emailarray.length;i++)
                {
                    if(!IsValidEmail(emailarray[i]))
                    {
                        emailsvalid=false;
                    }
                }
                if(!emailsvalid)
                {
                    $('#txttomail').closest('div').css('border-bottom-color','#FF0000');
                }else
                {
                    $('#txttomail').closest('div').css('border-bottom-color','#eeeeee');
                }
                if (Subject == "" || Subject.toLowerCase() == "subject")
                {
                    $('#txtsub').closest('div').css('border-bottom-color','#FF0000');
                    return false;
                }else
                {
                    $('#txtsub').closest('div').css('border-bottom-color','#eeeeee');
                }

                return true;
            }
        };
        //GetUnreadNotifications();
        function GetUnreadNotifications() {
            var k = 0;
            $.ajax({
                async: true,
                type: 'GET',
                url: '/dailyupdateservice.svc/NotificationMail?userid=@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID',
                content: 'application/json;charset=utf-8',
                processData: true,
                success: function (result) {
                    $('#Notecount').html(result);
                },
                error: function (e, t) { }
            });
        }



        function fred(obj)
        {
            document.location.href= $(obj).attr('data-ref');
        }

        function initializeJQueryUI(textBoxID, divID) {
            $("#" + textBoxID).unbind('click');

            $("#" + textBoxID).click(function () {
                $("#" + divID).toggle("blind", null, 500, function () { });
            });
        }

        $("#Mastersubmenu").mouseleave(function() {
            $('#Mastersubmenu').css('display','none');
        });

        function fcspace(){
            $('#Workspacesubmenuassignment').css('display','block');
        }

        $("#Workspacesubmenuassignment").mouseleave(function() {
            $('#Workspacesubmenuassignment').css('display','none');
        });

        function fmycompliance(){
            $('#Workspacesubmenuc').css('display','block');
        }
        $("#Workspacesubmenuc").mouseleave(function() {
            $('#Workspacesubmenuc').css('display','none');
        });

        function fworkspace(){
            $('#Workspacesubmenu').css('display','block');
        }
        $("#Workspacesubmenu").mouseleave(function() {
            $('#Workspacesubmenu').css('display','none');
        });

        function fMyDocumentspace(){
            $('#MyDocumentspacesubmenu').css('display','block');
        }
        $("#MyDocumentspacesubmenu").mouseleave(function() {
            $('#MyDocumentspacesubmenu').css('display','none');
        });

        function fSetting(){
            $('#WorkspacesubmenuSetting').css('display','block');
        }
        $("#WorkspacesubmenuSetting").mouseleave(function() {
            $('#WorkspacesubmenuSetting').css('display','none');
        });

        function fMyDocumentspace(){
            $('#MyDocumentspacesubmenu').css('display','block');
        }
        $("#MyDocumentspacesubmenu").mouseleave(function() {
            $('#MyDocumentspacesubmenu').css('display','none');
        });

    </script>

    <!-- Secretarial Script for show progress -->
    <script>
        function onOpenWindow(e) {
            var wnd = $("#" + e).data("kendoWindow");
            kendo.ui.progress(wnd.element, true);
        }

        function onRefreshWindow(e) {
            var wnd = $("#" + e).data("kendoWindow");
            kendo.ui.progress(wnd.element, false);
        }
    </script>

    <script>
        $(document).ready(function(){
            $("#panelbar").kendoPanelBar({
                expandMode: "single"
            });

            ProfileCount();
            loadUserImage('@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.User');
        });
    </script>

    <script>
        function ProfileCount() {
            $.ajax({
                url: "/api/DirectorMasterAPI/CountProfileUpdate",
                type: 'POST',
                success: function (data) {
                    if (data > 0) {
                        $("#countprofiledata").show();
                        $("#countprofiledata").html(data)
                    }
                    else {
                        $("#countprofiledata").hide();
                    }
                }
            });
        }

        function loadUserImage(userName) {
            if (userName != "" && userName != null) {
                Colors = ["#42A5F5", "#008391", "#846600", "#CC0060", "#330099", "#219999"];
                var result1 = Colors[Math.floor(Math.random() * Colors.length)];
                var firstName = userName;

                var intials = firstName.charAt(0);
                $(".textimage1").text(intials);
                $(".textimage1").css("background-color", "#219999");
                //$(".textimage1").css("background-color", result1)
                $(".textimage1").css("color", "white");
                $(".textimage1").css("text-align", "center");

                $(".textimage1").css("line-height", "202%");
            }
        }
    </script>
</body>
</html>