﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMHolidayMaster

<link href="~/Content/Css/DirectorCSS.css" rel="stylesheet" />


<title></title>


<script>
    $(document).ready(function () {

        $(".k-i-refresh")[0].innerHTML = "";
    })
    function onRowBound(e) {
        var grid = $("#gridKendo").data("kendoGrid");
        GetICons();
        getGridborder(grid);
    }
</script>

<div class="row Dashboard-white-widget">
    <div class="dashboard">
        @*<div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                @Html.Partial("_partialviewforHolidayUpload", Model)
            </div>
        </div>*@
        <div class="row master-Headre">
            <div class="col-md-12">
                <div class="col-md-10 colpadding0">
                    @*<div class="col-md-6 colpadding0">
                        <input id='filter' placeholder="Search by Name/CIN/LLPIN/Registration" class='k-textbox' style="width:90%" autocomplete="off" onchange="filterChange(this)" />
                    </div>
                    <div class="col-md-2 colpadding0 btnUpload" id="clearfillter" style="display:none">
                        <button type="button" class="btn btn-default btn-sm ClearFilterbtn" onclick="clearfilter()">

                            <img src="~/Areas/BM_Management/img/Vector.png" /> Clear Filter
                        </button>
                    </div>

                    <div class="col-md-4 colpadding0">

                    </div>*@
                </div>
                <div class="col-md-1 colpadding0 btnUpload">
                    <button class="btn btn-primary add-button" href="/#" id="customCommand" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</button>
                </div>

                <div class="col-md-1 btnUpload colpadding0" style="text-align:right">
                    <input type="button" class="btn btn-primary add-button" href="/#" title="Upload" value="Upload"/>
                </div>
            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                @Html.AntiForgeryToken()

                @(Html.Kendo().Grid<BM_ManegmentServices.VM.VMHolidayMaster>()
        .Name("gridKendo")
               .Columns(columns =>
               {
                   columns.Bound(o => o.Id).Visible(false);
                   columns.Bound(o => o.HolidaysDate).Title("Date").Format("{0:dd-MM-yyyy}").HtmlAttributes(new { style = "width:20%" });
                   columns.Bound(o => o.stateName_StockExchangeName).Title("State or Stock Exchange").HtmlAttributes(new { style = "width:50%" });

                   columns.Bound(o => o.Holiday_Discription).Title("Holiday").HtmlAttributes(new { style = "width:20%" });
                   columns.Command(command =>
                   {
                       command.Custom("Edit").Click("CreateNew").HtmlAttributes(new { @class = "k-grid-edit" });
                       //command.Custom("Delete").Click("openWindow").HtmlAttributes(new { @class = "k-grid-delete" });
                   })
                   .Title("Action").HtmlAttributes(new { style = "width:10%" }); ;

               })
        .EnableCustomBinding(true)
        //.ToolBar(
        //toolbar => toolbar.Custom().Name("CreateNew").Text("New").HtmlAttributes(new { id = "customCommand", @class = "k-grid-add k-button k-button-icontext" })
        //)
        .Events(e => e.DataBound("onRowBound"))
        .Navigatable()
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .Filterable()
        .Sortable()

        .Reorderable(reorderable => reorderable.Columns(true))
        .Resizable(resizable => resizable.Columns(true))
        .ColumnMenu()
        .DataSource(dataSource => dataSource
        .WebApi()

        .PageSize(5)
        .ServerOperation(false)
              .Model(model =>
              {
                  model.Id(o => o.Id);
              })
        .Read(read => read.Url("/api/HolidayMasterApi/GetHolidayList").Type(HttpVerbs.Get))
                       ))

            </div>
        </div>


      

        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-edit")
        .Position(TooltipPosition.Bottom)
        .Width(100)
        .AutoHide(true)
        .Content("Edit")
        )

        @(Html.Kendo().Window()
    .Name("wndPopup")
    .Title("Add/EditHoliday")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Scrollable(false)
    .Events(e => e.Open("adjustSize"))
    .Events(e => e.Refresh("OnRefreshe"))
        )

    </div>
</div>
<script>
    function toolTipContent(e) {

        return e.target.context.innerText;
    }

    function getTooltipContent(e) {

        if (e.target.context.innerText == 'New') {
            return "Add new Holiday";
        }

    }

    $(document).ready(function () {
        setactivemenu('leftmastermenu');
        fhead('Masters / Holiday');
    });

    $("#customCommand").click(function (e) {
        e.preventDefault();
        CreateNew(e);
    });


    function CreateNew(e) {
        e.preventDefault();
        OnOpen('a');
        $("#wndPopup").attr("style", "min-height:100px;");
        var direction = "Edit_AddHolidays?id=" + 0;
        if (e.currentTarget.innerText != "New") {
            $("#wndPopup").kendoWindow({
                title: "Add/Edit Holidays",
            });
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            direction = "Edit_AddHolidays?id=" + dataItem.Id;
            var wnd = $("#wndPopup").data("kendoWindow");
            var opts = wnd.options;
        }
        else {
            $("#wndPopup").kendoWindow({
                title: "Add/Edit Holidays",
            });
            $("#wndPopup").attr("style", "min-height:100px;");
            direction = "Edit_AddHolidays?id=" + 0;
            var wnd = $("#wndPopup").data("kendoWindow");
            var opts = wnd.options;
        }
        wnd = $("#wndPopup").kendoWindow({
            title: "Edit - Entity Master",
            actions: [
                         "Pin",
                         "Minimize",
                         "Maximize",
                         "Close"
            ],
            content: direction,
            width: "60%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefreshe(); },
            close: function (e) {
                $(this.element).empty();
                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {

                OnOpen();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "60%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();
    }
    function OnOpen(e) {
        var wnd = $("#wndPopup").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }

    function OnRefreshe() {
        var wnd = $("#wndPopup").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function adjustSize() {
        // if ($(window).width() < 500 || $(window).height() < 400) {
        //   this.maximize();
        // }
    }
    
    function RefreshGrid()
    {
        $('#gridKendo').data('kendoGrid').dataSource.read();
        $('#gridKendo').data('kendoGrid').refresh();
        $(".k-overlay").attr('style', "opacity:0.5; display:none;");
    }

    $(document).on("change", "input[name='IsStateorStockex']", function () {
        
        if (this.value == "True") {
            var dataSource = $("#ddlStockExchangeId").data("kendoDropDownList");
            dataSource.readonly();
            var dataSource = $("#ddlState").data("kendoDropDownList");
            dataSource.enable(true);
            $("#ddlState").attr('required', true);
            $("#ddlStockExchangeId").attr('required', false);
        }
        else {
            var dataSource = $("#ddlState").data("kendoDropDownList");
            dataSource.readonly();
            var dataSource = $("#ddlStockExchangeId").data("kendoDropDownList");
            dataSource.enable(true);
            $("#ddlState").attr('required', false);
            $("#ddlStockExchangeId").attr('required', true);
        }
    })
</script>