﻿@model com.VirtuosoITech.ComplianceManagement.Portal.AppCode.Models.EmployeeMasterVModel
@{
    ViewBag.Title = "CreateEmplodyeeMaster";
    Html.EnableClientValidation(true);
}


<script src="~/Newjs/3.3.1/jquery.min.js"></script>
<script src="~/Newjs/jquery-ui.js"></script>
<link href="~/NewCSS/jquery-ui.css" rel="stylesheet" />
<!-- Latest compiled JavaScript -->
<script src="~/Newjs/3.3.7/bootstrap.min.js"></script>
<link href="~/NewCSS/3.3.7/bootstrap.min.css" rel="stylesheet" />

<link href="~/NewCSS/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/Newjs/bootstrap-datepicker.min.js"></script>
<script src="~/Newjs/jquery.validate.min.js"></script>
<script src="~/Newjs/jquery.validate.unobtrusive.js"></script>

<link href="../NewCSS/kendo.common.min.css" rel="stylesheet" />
<link href="../NewCSS/kendo.rtl.min.css" rel="stylesheet" />
<link href="../NewCSS/kendo.silver.min.css" rel="stylesheet" />
<link href="../NewCSS/kendo.mobile.all.min.css" rel="stylesheet" />
<script type="text/javascript" src="../Newjs/kendo.all.min.js"></script>
<script type="text/javascript" src="../Newjs/jszip.min.js"></script>
<link href="~/NewCSS/font-awesome.min.css" rel="stylesheet" />

<script type="text/javascript">

    $(document).ready(function(){
        var d = new Date();
        if(d != undefined )
        {
            debugger;
            var currentMonth = d.getMonth();
            var year = d.getFullYear() - 15;
            d.setFullYear(year);
            $("#EM_DOB").datepicker({
                maxDate: new Date(year, currentMonth, d),
                changeYear: true, changeMonth: true,
                yearRange: '1920:' + year + '',
                format: "dd/mm/yyyy",
                autoclose: true,
            });
        }

        // $('#BirthDate').datepicker({ changeYear: true, changeMonth: true, yearRange: '1920:' + year + '', defaultDate: d});

        $("#EM_DOJ").datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
        });

        $("#EffectChangeDate").datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
        });

        $("#EM_Training_Date").datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
        });

        $("#EM_NumberandDateOfExemptingOrder").datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
        });

        $("#CertiDate").datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
        });

        $("#ClothsgivenDate").datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
        });
        $("#ExemptingDate").datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
        });
    });

    $(function () {
        var sd = new Date(), ed = new Date();

        $('#PassvalidFDate').datepicker({
            pickTime: false,
            format: "dd/mm/yyyy",
            autoclose: true
        }) .on('changeDate', function(selected){
            startDate = new Date(selected.date.valueOf());
            startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
            $('#PassvalidTDate').datepicker('setStartDate', startDate);
        }); ;

        $('#PassvalidTDate').datepicker({
            pickTime: false,
            format: "dd/mm/yyyy",
            autoclose: true,
        }) .on('changeDate', function(selected){
            FromEndDate = new Date(selected.date.valueOf());
            FromEndDate.setDate(FromEndDate.getDate(new Date(selected.date.valueOf())));
            $('#PassvalidFDate').datepicker('setEndDate', FromEndDate);
        });

        $('#EM_DOJ').datepicker({
            pickTime: false,
            format: "dd/mm/yyyy",
            autoclose: true

        }) .on('changeDate', function(selected){
            startDate = new Date(selected.date.valueOf());
            startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
            $('#EM_DOL').datepicker('setStartDate', startDate);
        }); ;

        $('#EM_DOL').datepicker({
            pickTime: false,
            format: "dd/mm/yyyy",
            autoclose: true,
        }) .on('changeDate', function(selected){
            FromEndDate = new Date(selected.date.valueOf());
            FromEndDate.setDate(FromEndDate.getDate(new Date(selected.date.valueOf())));
            $('#EM_DOJ').datepicker('setEndDate', FromEndDate);

        });
    });
    function CummDateForNewEmployee()
    {
        if($("#EM_ClientDateOfCommencement").val()==""){
            $.post( "/Setup/GetCommDateforNewEmployee", { BranchID: $('#AVACOM_BranchID').val()})
                .done(function( data ) {
                    $("#EM_ClientDateOfCommencement").val(data);
                });
        }
    }
    function CheckDate(){
        var BirthDate=$("#EM_DOB").val();
        var JoiningDate=  $("#EM_DOJ").val();
        var CommencementDate= $("#EM_ClientDateOfCommencement").val();
        var JDate = process(JoiningDate);
        var BDate = process(BirthDate);
        var CDate = process(CommencementDate);
        if(JDate > CDate){
            if(JDate < BDate)
            {
                alert("Please Select Joining Date  greater than Birth Date.");
                return false;
            }
            else{
                return true;
            }
        }
        else{
            alert("Please Select Joining Date  greater than Commencement Date.");
            return false;
        }
    }
    function process(date){
        var parts = date.split("/");
        return new Date(parts[2], parts[1] - 1, parts[0]);
    }
</script>

<script>
    $('#divcertiD input').datepicker({
        autoclose: true
    });

    $('#EM_State').on("change", function () {
        var State = $('#EM_State option:selected').val();
        LoadCities(State);
    });

    $('#btnreset').click(function () {

    });

    function LoadCities(state) {
        $.ajax({
            url: "/Setup/GetLocations",
            data: { state },
            type: "GET",
            content: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (data) {
                var dset = [];
                dset = data;
                $("#EM_Location").empty();
                var optionhtml1 = '<option value="' +
                   0 + '">' + "Select Location" + '</option>';
                $("#EM_Location").prepend(optionhtml1);
                $.each(dset, function (data, value) {
                    $("#EM_Location").append($("<option></option>").val(value.LM_Code).html(value.LM_Name));
                });
            },
            error: function () {
                alert(" An error occurred.");
            },
        });
    }

</script>

<style>
    .form-control {
        margin-bottom: 8px;
        height: 31px;
        font-family: 'sans-serif';
    }

    .text-danger {
        color: #ef2723;
        font-family: 'sans-serif';
        font-size: small;
    }

    .control-label {
        font-family: 'sans-serif';
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }

    .mr-20 {
        margin-top: 15px;
    }

    span.k-widget.k-tooltip-validation {
        display: inline-block;
        width: 160px;
        font-family: sans-serif;
        text-align: left;
        border: 0;
        padding: 0;
        margin: 0;
        background: none;
        box-shadow: none;
        color: red;
    }

    .k-icon .k-i-warning, .k-tooltip-validation .k-warning {
        display: none;
    }
</style>

<div class="wrapper">

    <ul class="nav nav-tabs">
        <li id="basicli" class="active"><a data-toggle="tab" id="mytab1" href="#home">Personal Details</a></li>
        <li id="empli"><a class="disabled" id="mytab2" href="#menu1">Employment Details</a></li>
        <li id="otherli"><a class="disabled" id="mytab3" href="#menu2">Other Details</a></li>
    </ul>
    @using (Html.BeginForm())
    {
        <div class="tab-content" id="tabemployee">
            <div id="home" class="tab-pane fade in active">
                <div class="container-fluid">
                    <br />
                    @if (Model.Message)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                                    <strong></strong> Details Save Successfully
                                    <script>
                                        setTimeout(function () {
                                            if (window.parent.$("#divRLCSEmployeeAddDialog") != null && window.parent.$("#divRLCSEmployeeAddDialog") != undefined)
                                                window.parent.$("#divRLCSEmployeeAddDialog").data("kendoWindow").close();
                                        }, 3000);
                                        //alert("shreee");
                                    </script>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Employee Name<span id="spCM_ClientID" style="color: red;">*</span></label>
                                <div class="col-xs-7">
                                    @Html.HiddenFor(m => m.EM_ID)
                                    @Html.HiddenFor(m => m.EM_ClientDateOfCommencement)
                                    @Html.TextBoxFor(m => m.EM_EmpName, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_EmpName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Father/Husband Name@*<span id="spCM_ClientID" style="color: red;">*</span>*@</label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_FatherName, null, new { @class = "form-control" })
                                    @*@Html.ValidationMessageFor(m => m.EM_FatherName, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Gender<span id="spCM_ClientID" style="color: red;">*</span></label>
                                <div class="col-xs-7">
                                    @Html.DropDownListFor(m => m.EM_Gender, new SelectList(new List<SelectListItem> {
                                        new SelectListItem { Text="Female",Value="F"},
                                        new SelectListItem { Text="Male",Value="M"} }, "Value", "Text"), "--Select--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_Gender, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Relationship<span id="spCM_ClientID" style="color: red;">*</span></label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_Relationship, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_Relationship, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Date of Birth<span id="spCM_ClientID" style="color: red;">*</span> </label>
                                <div class="col-xs-7" id='divBirthD'>
                                    @Html.TextBoxFor(m => m.EM_DOB, "{0:dd/MM/yyyy}", new { @class = "form-control", @autocomplete = "off", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(m => m.EM_DOB, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Address</label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_Address, null, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Martial Status@*<span id="spCM_ClientID" style="color: red;">*</span>*@</label>
                                <div class="col-xs-7">
                                    @Html.DropDownListFor(m => m.EM_MaritalStatus, new SelectList(new List<SelectListItem> {
                                        new SelectListItem { Text="Married",Value="M"},
                                        new SelectListItem { Text="Unmarried",Value="U"} }, "Value", "Text"), "--Select--", new { @class = "form-control" })
                                    @*@Html.ValidationMessageFor(m => m.EM_MaritalStatus, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Email</label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_Emailid, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_Emailid, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Mobile No</label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_MobileNo, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_MobileNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Nationality</label>
                                <div class="col-xs-7">
                                    @Html.DropDownListFor(m => m.EM_Nationality, new SelectList(Model.Countries, "CNT_ID", "CNT_Name"), "--Select--", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">PAN</label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_PAN, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_PAN, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Aadhar</label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_Aadhar, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_Aadhar, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Physically Challenged<span id="spCM_ClientID" style="color: red;">*</span></label>
                                <div class="col-xs-7">
                                    @Html.DropDownListFor(m => m.EM_PhysicallyChallenged, new SelectList(new List<SelectListItem> {
                                        new SelectListItem { Text="Yes",Value="Y"},
                                        new SelectListItem { Text="No",Value="N"}}, "Value", "Text"), "--Select--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_PhysicallyChallenged, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Permanent Address</label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_PermanentAddress, null, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Passport No </label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_PassportNo, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_PassportNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Passport Issued</label>
                                <div class="col-xs-7">
                                    @Html.DropDownListFor(m => m.EM_PassportIssued_Country, new SelectList(Model.Countries, "CNT_ID", "CNT_Name"), "--Select--", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Passport Valid From </label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_Passport_Valid_From, "{0:dd/MM/yyyy}", new { @class = "form-control", @id = "PassvalidFDate", @autocomplete = "off", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Passport Valid To</label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_Passport_Valid_Upto, "{0:dd/MM/yyyy}", new { @class = "form-control", @id = "PassvalidTDate", @autocomplete = "off", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">
                                    Identification Mark
                                </label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_Markof_Identification, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_Markof_Identification, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Emergency contact Address </label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_Emergency_contact_Address, null, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">
                                    Emergency Contact No.
                                </label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_Emergency_contact_mobile_no, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_Emergency_contact_mobile_no, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top:10px; margin-bottom:10px;text-align:center">
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="button" id="btnnext" class="btn btn-primary">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="menu1" class="tab-pane fade">
                <div class="container-fluid">
                    <div class="row mr-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Employee ID<span id="spCM_ClientID" style="color: red;">*</span></label>
                                <div class="col-xs-7">
                                    @if (Model.update == false)
                                    {
                                        @Html.TextBoxFor(m => m.EM_EmpID, null, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.EM_EmpID, "", new { @class = "text-danger" })
                                        <span id="EmpIDExistCheck" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.EM_EmpID, null, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(m => m.EM_EmpID, "", new { @class = "text-danger" })

                                    }

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Employment Type<span id="spCM_ClientID" style="color: red;">*</span></label>
                                <div class="col-xs-7">
                                    @Html.DropDownListFor(m => m.EM_Employmenttype, new SelectList(new List<SelectListItem> {
                                        new SelectListItem { Text="Contract",Value="C"},
                                        new SelectListItem { Text="Permanent",Value="P"} }, "Value", "Text"), "--Select Employee Type--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_Employmenttype, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Enity/Branch<span id="spCM_ClientID" style="color: red;">*</span></label>
                                <div class="col-xs-7">
                                    @Html.HiddenFor(m => m.EM_Branch)
                                    <div class="demo-section k-content">

                                        <input id="@Html.IdFor(m => m.AVACOM_BranchID)" name="@Html.NameFor(m => m.AVACOM_BranchID)" style="width: 100%;" />
                                        @Html.ValidationMessageFor(m => m.AVACOM_BranchID, "", new { @class = "text-danger" })
                                        @**@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">PT State</label>
                                <div class="col-xs-7">
                                    @Html.DropDownListFor(m => m.EM_PT_State, new SelectList(Model.PTStates, "SM_Code", "SM_Name"), "--Select--", new { @class = "form-control" })
                                    @*@Html.ValidationMessageFor(m => m.EM_PT_State, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Skills<span id="spCM_ClientID" style="color: red;">*</span></label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_SkillCategory, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_SkillCategory, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Joining Date<span id="spCM_ClientID" style="color: red;">*</span> </label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_DOJ, "{0:dd/MM/yyyy}", new { @class = "form-control", @id = "EM_DOJ", @autocomplete = "off", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(m => m.EM_DOJ, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Leaving Date</label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_DOL, "{0:dd/MM/yyyy}", new { @class = "form-control", @id = "EM_DOL", @autocomplete = "off", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Is International Worker<span id="spCM_ClientID" style="color: red;">*</span></label>
                                <div class="col-xs-7">
                                    @Html.DropDownListFor(m => m.EM_International_workers, new SelectList(new List<SelectListItem> {
                                        new SelectListItem { Text="Yes",Value="Y"},
                                        new SelectListItem { Text="No",Value="N"} }, "Value", "Text"), "--Select--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_International_workers, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Effective Change From</label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_ChangeEffective_from, "{0:dd/MM/yyyy}", new { @class = "form-control", @id = "EffectChangeDate", @autocomplete = "off", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">IFSC</label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_IFSC, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_IFSC, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">PF Number</label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_PFNO, null, new { @maxlength = "22", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_PFNO, "", new { @class = "text-danger" })
                                    <br /> <span id="spanPFNO" class="text-danger">PF NO already exist in database!.</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">UAN</label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_UAN, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_UAN, "", new { @class = "text-danger" })
                                    <span id="spanUANNO" class="text-danger">UAN NO already exist in database!.</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Bank Name</label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_BankName, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_BankName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Bank A/C No</label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_Bankaccountnumber, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_Bankaccountnumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">ESIC Number</label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_ESICNO, null, new { @maxlength = "10", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_ESICNO, "", new { @class = "text-danger" })
                                    <span id="spanESICNO" class="text-danger">ESIC NO already exist in database!.</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Department</label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_Department, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_Department, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Designation</label>
                                <div class="col-xs-7">
                                    @*@Html.TextBoxFor(m => m.EM_Designation, null, new { @class = "form-control" })*@
                                    <input id="@Html.IdFor(m => m.EM_Designation)" name="@Html.NameFor(m => m.EM_Designation)" style="width: 98%" data-placeholder="Designation" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Status<span id="spCM_ClientID" style="color: red;">*</span> </label>
                                <div class="col-xs-7">
                                    @*@Html.TextBoxFor(m => m.EM_Status, null, new { @class = "form-control" })*@
                                    @Html.DropDownListFor(m => m.EM_Status, new SelectList(new List<SelectListItem> {
                                        new SelectListItem { Text="Active",Value="A"},
                                        new SelectListItem { Text="InActive",Value="I"}}, "Value", "Text"), "--Select--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_Status, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Courage Year<span id="spCM_ClientID" style="color: red;">*</span></label>
                                <div class="col-xs-7">
                                    @Html.DropDownListFor(m => m.EM_ESI_Out_of_Courage_Year, new SelectList(new List<SelectListItem> {
                                        new SelectListItem { Text="2016",Value="2016"},
                                        new SelectListItem { Text="2017",Value="2017"},
                                        new SelectListItem { Text="2018",Value="2018"},
                                        new SelectListItem { Text="2019",Value="2019"},
                                        new SelectListItem { Text="2020",Value="2020"}}, "Value", "Text"), "--Select--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_ESI_Out_of_Courage_Year, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">EPFO Bank A/c</label>
                                <div class="col-xs-7">
                                    @Html.DropDownListFor(m => m.EM_EPFO_Bank_Ac_Upload, new SelectList(new List<SelectListItem> {
                                        new SelectListItem { Text="Yes",Value="Y"},
                                        new SelectListItem { Text="No",Value="N"}}, "Value", "Text"), "--Select--", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">PF Capping Applicability<span id="spCM_ClientID" style="color: red;">*</span> </label>
                                <div class="col-xs-7">
                                    @Html.DropDownListFor(m => m.EM_PF_Capping_Applicability, new SelectList(new List<SelectListItem> {
                                        new SelectListItem { Text="Yes",Value="Y"},
                                        new SelectListItem { Text="No",Value="N"}}, "Value", "Text"), "--Select--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_PF_Capping_Applicability, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">ESI Applicability</label>
                                <div class="col-xs-7">
                                    @Html.DropDownListFor(m => m.EM_ESI_Applicability, new SelectList(new List<SelectListItem> {
                                        new SelectListItem { Text="Yes",Value="Y"},
                                        new SelectListItem { Text="No",Value="N"}}, "Value", "Text"), "--Select--", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">EPFO Aadhar</label>
                                <div class="col-xs-7">
                                    @Html.DropDownListFor(m => m.EM_EPFO_Aadhar_Upload, new SelectList(new List<SelectListItem> {
                                        new SelectListItem { Text="Yes",Value="Y"},
                                        new SelectListItem { Text="No",Value="N"}}, "Value", "Text"), "--Select--", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Courage Month<span id="spCM_ClientID" style="color: red;">*</span> </label>
                                <div class="col-xs-7">
                                    @Html.DropDownListFor(m => m.EM_ESI_Out_of_Courage_Month, new SelectList(new List<SelectListItem> {
                                        new SelectListItem { Text="January",Value="1"},
                                        new SelectListItem { Text="February",Value="2"},
                                        new SelectListItem { Text="March",Value="3"},
                                        new SelectListItem { Text="April",Value="4"},
                                        new SelectListItem { Text="May",Value="5"},
                                        new SelectListItem { Text="June",Value="6"},
                                        new SelectListItem { Text="July",Value="7"},
                                        new SelectListItem { Text="August",Value="8"},
                                        new SelectListItem { Text="September",Value="9"},
                                        new SelectListItem { Text="October",Value="10"},
                                        new SelectListItem { Text="November",Value="11"},
                                        new SelectListItem { Text="December",Value="12"},
                                        }, "Value", "Text"), "--Select--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_ESI_Out_of_Courage_Month, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">PMRPY </label>
                                <div class="col-xs-7">
                                    @Html.DropDownListFor(m => m.EM_PMRPY, new SelectList(new List<SelectListItem> {
                                        new SelectListItem { Text="Yes",Value="Y"},
                                        new SelectListItem { Text="No",Value="N"}}, "Value", "Text"), "--Select--", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">PT Applicability</label>
                                <div class="col-xs-7">
                                    @Html.DropDownListFor(m => m.EM_PT_Applicability, new SelectList(new List<SelectListItem> {
                                        new SelectListItem { Text="Yes",Value="Y"},
                                        new SelectListItem { Text="No",Value="N"}}, "Value", "Text"), "--Select--", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Employment<span id="spCM_ClientID" style="color: red;">*</span></label>
                                <div class="col-xs-7">
                                    @Html.DropDownListFor(m => m.EM_Firsttime_secondtime, new SelectList(new List<SelectListItem> {
                                        new SelectListItem { Text="First Time",Value="F"},
                                        new SelectListItem {Text="Second Time",Value="S" }
                                        }, "Value", "Text"), "--Select--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_Firsttime_secondtime, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">PF Applicability</label>
                                <div class="col-xs-7">
                                    @Html.DropDownListFor(m => m.EM_PF_Applicability, new SelectList(new List<SelectListItem> {
                                        new SelectListItem { Text="Yes",Value="Y"},
                                        new SelectListItem { Text="No",Value="N"}}, "Value", "Text"), "--Select--", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Payroll Month<span id="spCM_ClientID" style="color: red;">*</span>  </label>
                                <div class="col-xs-7">
                                    @Html.DropDownListFor(m => m.EM_PayrollMonth, new SelectList(new List<SelectListItem> {
                                        new SelectListItem { Text="January",Value="1"},
                                        new SelectListItem { Text="February",Value="2"},
                                        new SelectListItem { Text="March",Value="3"},
                                        new SelectListItem { Text="April",Value="4"},
                                        new SelectListItem { Text="May",Value="5"},
                                        new SelectListItem { Text="June",Value="6"},
                                        new SelectListItem { Text="July",Value="7"},
                                        new SelectListItem { Text="August",Value="8"},
                                        new SelectListItem { Text="September",Value="9"},
                                        new SelectListItem { Text="October",Value="10"},
                                        new SelectListItem { Text="November",Value="11"},
                                        new SelectListItem { Text="December",Value="12"},
                                        }, "Value", "Text"), "--Select--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_PayrollMonth, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">LWF Exempted</label>
                                <div class="col-xs-7">
                                    @Html.DropDownListFor(m => m.EM_IsLwf_Exempted, new SelectList(new List<SelectListItem> {
                                        new SelectListItem { Text="Yes",Value=true.ToString()},
                                        new SelectListItem { Text="No",Value=false.ToString()}}, "Value", "Text"), "--Select--", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Payroll Year<span id="spCM_ClientID" style="color: red;">*</span></label>
                                <div class="col-xs-7">
                                    @Html.DropDownListFor(m => m.EM_PayrollYear, new SelectList(new List<SelectListItem> {
                                        new SelectListItem { Text="1981",Value="1981"},
                                        new SelectListItem { Text="1982",Value="1982"},
                                        new SelectListItem { Text="1983",Value="1983"},
                                        new SelectListItem { Text="1984",Value="1984"},
                                        new SelectListItem { Text="1985",Value="1985"},
                                        new SelectListItem { Text="1986",Value="1986"},
                                        new SelectListItem { Text="1987",Value="1987"},
                                        new SelectListItem { Text="1988",Value="1988"},
                                        new SelectListItem { Text="1989",Value="1989"},
                                        new SelectListItem { Text="1990",Value="1990"},
                                        new SelectListItem { Text="1991",Value="1991"},
                                        new SelectListItem { Text="1992",Value="1992"},
                                        new SelectListItem { Text="1993",Value="1993"},
                                        new SelectListItem { Text="1994",Value="1994"},
                                        new SelectListItem { Text="1995",Value="1995"},
                                        new SelectListItem { Text="1996",Value="1996"},
                                        new SelectListItem { Text="1997",Value="1997"},
                                        new SelectListItem { Text="1998",Value="1998"},
                                        new SelectListItem { Text="1999",Value="1999"},
                                        new SelectListItem { Text="2000",Value="2000"},
                                        new SelectListItem { Text="2001",Value="2001"},
                                        new SelectListItem { Text="2002",Value="2002"},
                                        new SelectListItem { Text="2003",Value="2003"},
                                        new SelectListItem { Text="2004",Value="2004"},
                                        new SelectListItem { Text="2005",Value="2005"},
                                        new SelectListItem { Text="2006",Value="2006"},
                                        new SelectListItem { Text="2007",Value="2007"},
                                        new SelectListItem { Text="2008",Value="2008"},
                                        new SelectListItem { Text="2009",Value="2009"},
                                        new SelectListItem { Text="2010",Value="2010"},
                                        new SelectListItem { Text="2011",Value="2011"},
                                        new SelectListItem { Text="2012",Value="2012"},
                                        new SelectListItem { Text="2013",Value="2013"},
                                        new SelectListItem { Text="2014",Value="2014"},
                                        new SelectListItem { Text="2015",Value="2015"},
                                        new SelectListItem { Text="2016",Value="2016"},
                                        new SelectListItem { Text="2017",Value="2017"},
                                        new SelectListItem { Text="2018",Value="2018"},
                                        new SelectListItem { Text="2019",Value="2019"},
                                        new SelectListItem { Text="2020",Value="2020"}
                                        }, "Value", "Text"), "--Select--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_PayrollYear, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Training No.</label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_Training_Number, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_Training_Number, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">
                                    Training Date
                                </label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_Training_Date, null, new { @class = "form-control", @id = "EM_Training_Date", @autocomplete = "off", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">EPFO PAN </label>
                                <div class="col-xs-7">
                                    @Html.DropDownListFor(m => m.EM_EPFO_PAN_Upload, new SelectList(new List<SelectListItem> {
                                        new SelectListItem { Text="Yes",Value="Y"},
                                        new SelectListItem { Text="No",Value="N"}}, "Value", "Text"), "--Select--", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top:10px; margin-bottom:10px;text-align:center">
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="button" id="btnnext1" class="btn btn-primary">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="menu2" class="tab-pane fade">
                <div class="container-fluid">

                    <div class="row mr-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Place of work</label>
                                <div class="col-xs-7">
                                    @Html.DropDownListFor(m => m.EM_Placeof_work, new SelectList(new List<SelectListItem> {
                                        new SelectListItem { Text="Underground",Value="Underground"},
                                        new SelectListItem { Text="Open cast",Value="Open cast"},
                                        new SelectListItem { Text="Surface",Value="Surface"}}, "Value", "Text"), "--Select--", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">
                                    Remarks
                                </label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_Remarks, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_Remarks, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Eduction Level</label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_EductionLevel, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_EductionLevel, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">
                                    Place of Employment
                                </label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_Place_of_Employment, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_Place_of_Employment, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">No Of Certificate </label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_NoOf_Certificate, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_NoOf_Certificate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Certificate Date</label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_NoOf_Certificate_Date, "{0:dd/MM/yyyy}", new { @class = "form-control", id = "CertiDate", @autocomplete = "off", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Token No </label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_TokenNo, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_TokenNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Relay Assigned</label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_Relay_Assigned, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_Relay_Assigned, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Letter Group </label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_Letter_Of_Group, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_Letter_Of_Group, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">
                                    Women Working Night Shift
                                </label>
                                <div class="col-xs-7">
                                    @Html.DropDownListFor(m => m.EM_WomenWorkingNightshift, new SelectList(new List<SelectListItem> {
                                        new SelectListItem { Text="No",Value="N"},
                                        new SelectListItem { Text="Yes",Value="Y"}}, "Value", "Text"), new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Transport Mode</label>
                                <div class="col-xs-7">
                                    @Html.DropDownListFor(m => m.EM_ModeofTransport, new SelectList(new List<SelectListItem> {
                                        new SelectListItem { Text="Cab",Value="Cab"},
                                        new SelectListItem { Text="Transport facility",Value="Transport facility"}}, "Value", "Text"), "--Select--", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">
                                    Security Provided
                                    <span id="spCM_ClientID" style="color: red;">*</span>
                                </label>
                                <div class="col-xs-7">
                                    @Html.DropDownListFor(m => m.EM_SecurityProvided, new SelectList(new List<SelectListItem> {
                                        new SelectListItem { Text="Yes",Value="Y"},
                                        new SelectListItem { Text="No",Value="N"}}, "Value", "Text"), "--Select--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_SecurityProvided, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label"> Experience (yrs)</label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_YearsOfExperience, null, new { @maxlength = "4", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_YearsOfExperience, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">
                                    Date of Clothes Given
                                </label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_DateWhenClothesGiven, "{0:dd/MM/yyyy}", new { @class = "form-control", id = "ClothsgivenDate", @autocomplete = "off", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Date Of Exempting Order </label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_NumberandDateOfExemptingOrder, "{0:dd/MM/yyyy}", new { @class = "form-control", id = "ExemptingDate", @autocomplete = "off", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">
                                    Particulars Of Transfer
                                </label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_ParticularsOfTransferFromOneGroupToAnother, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_ParticularsOfTransferFromOneGroupToAnother, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Sales Promotion </label>
                                <div class="col-xs-7">
                                    @Html.DropDownListFor(m => m.EM_SalesPromotion, new SelectList(new List<SelectListItem> {
                                        new SelectListItem { Text="Yes",Value="Y"},
                                        new SelectListItem { Text="No",Value="N"}}, "Value", "Text"), "--Select--", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">
                                    Payment Mode
                                </label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_PaymentMode, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_PaymentMode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">EPS Applicability </label>
                                <div class="col-xs-7">
                                    @Html.DropDownListFor(m => m.EM_EPS_Applicabilty, new SelectList(new List<SelectListItem> {
                                        new SelectListItem { Text="Yes",Value="Y"},
                                        new SelectListItem { Text="No",Value="N"} }, "Value", "Text"), "--Select--", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">
                                    Client ESI No.
                                </label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_Client_ESI_Number, null, new { @maxlength = "17", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EM_Client_ESI_Number, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Client PT State </label>
                                <div class="col-xs-7">
                                    @Html.DropDownListFor(m => m.EM_Client_PT_State, new SelectList(Model.PTStates, "SM_Code", "SM_Name"), "--Select--", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group" style="display:none;">
                                <label class="col-xs-4 control-label">Effective Change From</label>
                                <div class="col-xs-7">
                                    @Html.TextBoxFor(m => m.EM_ChangeEffective_from, "{0:dd/MM/yyyy}", new { @class = "form-control", @id = "EffectChangeDate", @autocomplete = "off", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top:10px; margin-bottom:10px;text-align:center">
                        <div class="form-group">
                            <div class="col-md-6 text-right">
                                <button type="submit" id="btnsave" class="btn btn-primary">Save</button>
                            </div>
                            @if (Model.update == false)
                            {
                                <div class="col-md-6 text-left">
                                    <button type="reset" id="btnreset" class="btn btn-primary">Reset</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>

    }
</div>

@section Scripts {

}

<script>



    $(document).ready(function(){
        $('#spanPFNO').hide();
        $('#spanESICNO').hide();

        $('#spanUANNO').hide();
        //$('#EM_EmpID').attr('data-val-remote-url','/Setup/CheckExistingEmployee');
    })
</script>

<script>
    $('#EM_PFNO').on('change',function(){
        var EM_PFNO=$('#EM_PFNO').val();

        $.post( "/Setup/CheckPFExist", { EM_PFNO: EM_PFNO})
        .done(function( data ) {

            if(data === true)
                $('#spanPFNO').show();
            else
                $('#spanPFNO').hide();
        });

    });

    $('#EM_UAN').on('change',function(){
        debugger;
        var EM_UAN=$('#EM_UAN').val();
        $.post( "/Setup/CheckUANExist", { UAN: EM_UAN})
        .done(function( data ) {
            debugger;
            if(data === true)
                $('#spanUANNO').show();
            else
                $('#spanUANNO').hide();
        });
    });

    $('#EM_ESICNO').on('change',function(){
        debugger;
        var EM_ESICNO=$('#EM_ESICNO').val();
        $.post( "/Setup/CheckESICExist", { ESIC: EM_ESICNO})
        .done(function( data ) {
            debugger;
            if(data === true)
                $('#spanESICNO').show();
            else
                $('#spanESICNO').hide();
        });
    });

    $(document).ready(function () {
        $("#spanBranch").hide();
        // var dropdowntree={};
        var bname="";

        var CustID = @Html.Raw(Json.Encode(Model.CustId));
        var Profile = @Html.Raw(Json.Encode(Model.ProfileID));
        var UserId = @Html.Raw(Json.Encode(Model.UserId));
        var Path1 = @Html.Raw(Json.Encode(Model.Path1));
        var Branch =@Html.Raw(Json.Encode(Model.AVACOM_BranchID));

        var dropdowntree =   $("#AVACOM_BranchID").kendoDropDownTree({
            placeholder: "Entity/State/Location/Branch",
            autoWidth: true,
            checkAllTemplate: "Select All",
            dataTextField: "Name",
            dataValueField: "ID",
            //optionLabel: "All",
            change: function (e) {
                bname= this.text();
                $('#EM_Branch').val(bname);
                $('#AVACOM_BranchID').val(this.value());
                $.post("/Setup/CheckBranch", {AVACOM_BranchID: bname}, function(result){
                    if(result ===false)
                        $("#spanBranch").show();
                    else
                        $("#spanBranch").hide();
                });
                CummDateForNewEmployee();

            },
            dataSource: {
                severFiltering: true,
                transport: {
                    read: {
                        url: Path1+"GetAllEntitiesLocationsList?customerId="+CustID,
                        beforeSend: function (request) {
                            request.setRequestHeader('Authorization', '5E8E3D45-172D-4D58-8DF8-EB0B0E');
                            request.setRequestHeader('X-User-Id-1', 'f2UKmAm0KlI98bEYGGxEHQ==');
                            request.setRequestHeader('Content-Type', 'application/json');
                        },
                        dataType: 'json',
                    }
                },
                schema: {
                    data: function (response) {
                        return response.Result;
                    },
                    model: {
                        children: "Children"
                    }
                }
            },
            dataBound: function(e) {
                // alert('databound-'+Branch);
                $("#AVACOM_BranchID").data("kendoDropDownTree").value(Branch);

            }
        });
    });

</script>

<script>
    $(document).ready(function () {



    });


    // var validatable = $("form").kendoValidator().data("kendoValidator");

    //validate the state on button click
    //$("#btnnext").click(function() {

    //    if ($('form').valid()){
    //        alert('done');
    //    }
    //    //$('form').kendoValidator().data("kendoValidator");
    //    //$('form').validate();
    //    $('#home').removeClass('active');
    //    //validate the input elements and check if there are any errors
    //    //if (validatable.validate()) {
    //    //    //save the form
    //    //}
    //});
    //$('#btnsave').click(function(){
    //    var validator1 = $('form').kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
    //});
</script>

<script type="text/javascript">
    $(function () {
        $('#btnnext').click(function () {
            debugger;
            @*var Design =@Html.Raw(Json.Encode(Model.EM_Designation));

            var a=$("#EM_Designation").data("kendoDropDownList");
            a.value(Design);*@

            $('form').validate();
            if ($('form').valid()) {

                $('#home').removeClass('active in');
                $('#basicli').removeClass('active');
                $('.disabled').attr("data-toggle","tab");
                $('#empli').addClass('active');
                $('#menu1').addClass('active in');


            } else {
                $('#mytab2').removeAttr("data-toggle","tab");
                $('#mytab3').removeAttr("data-toggle","tab");

                //  tabStripSelector.data('kendoTabStrip').disable($('#mytab3'));
            }

            return false;
        });


        $('#btnnext1').click(function () {

            if(CheckDate()){
                $('form').validate();
                if ($('form').valid()) {

                    $('#menu1').removeClass('active in');
                    $('#empli').removeClass('active');
                    $('.disabled').attr("data-toggle","tab");
                    $('#otherli').addClass('active');
                    $('#menu2').addClass('active in');

                } else {
                    $('#mytab2').removeAttr("data-toggle","tab");
                    $('#mytab3').removeAttr("data-toggle","tab");

                    //  tabStripSelector.data('kendoTabStrip').disable($('#mytab3'));
                }

                return false;
            }
        });
    });


    $('#EM_EmpID').on('change', function () {
        debugger;
        var CustID = @Html.Raw(Json.Encode(Model.CustId));
        var EmpID = $('#EM_EmpID').val();
        if (EmpID != undefined) {

            $.ajax({
                url: "/Setup/ISEmpIDExistCheckExist",
                data: { EmpID, CustID },
                type: "POST",
                content: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if (data === true)
                    {
                        $("#EmpIDExistCheck").text("Employee ID Already Exist!");
                        $('#EmpIDExistCheck').show();
                    }
                    else
                    {
                        $("#EmpIDExistCheck").text("");
                        $('#EmpIDExistCheck').hide();
                    }
                }

            });

        }
    });

    $(document).ready(function () {
        var tabStripSelector = $('#tabemployee');
        BindDesignation();
    });
    function BindDesignation()
    {
        var Path = @Html.Raw(Json.Encode(Model.Path1));
        var Design =@Html.Raw(Json.Encode(Model.EM_Designation));

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: function (options) {
                    $.ajax({
                        type: 'GET',
                        url: Path+"GetAll_DesignationMaster?Filter="+Design,
                        dataType: "json", // "jsonp" is required for cross-domain requests; use "json" for same-domain requests

                        beforeSend: function (request) {
                            request.setRequestHeader('Authorization', '5E8E3D45-172D-4D58-8DF8-EB0B0E');
                            request.setRequestHeader('X-User-Id-1', 'f2UKmAm0KlI98bEYGGxEHQ==');
                            request.setRequestHeader('Content-Type', 'application/json');
                        },
                        success: function (result) {
                            options.success(result);

                        },
                        error: function (result) {
                            options.error(result);
                        }
                    })

                },
            },

            schema: {
                data: function (response) {
                    debugger;

                    //alert(response.Result);
                    return response.Result;
                },
                total: function (response) {
                    //alert(response.Result.length);
                    return response.Result.length;
                }
            },

        });


        $("#EM_Designation").kendoDropDownList({
            filter: "contains",
            dataTextField: "Long_designation",
            dataValueField: "Long_designation",
            dataSource: dataSource,
            optionLabel: "Please select ..",
            pageSize: 80,
            serverPaging: true,
            serverFiltering: true,
            delay: 500,
            virtual: {
                itemHeight: 26,
                valueMapper: function (dataSource) {
                    dataSource;
                }

            },

        });

        $("#EM_Designation").data("kendoDropDownList").value(Design);
    }
    $('#btnsave').click(function () {
        $('form').validate();
        if ($('form').valid()) {
            $('#btnsave').html('<span class="fa fa-refresh fa-spin" role="status" aria-hidden="true"></span>Loading...').addClass('disabled');
        }
        else
        {
            $('#btnsave').html('<span class="" role="status" aria-hidden="true"></span>Save').removeClass('disabled');
        }
    });

</script>