﻿
@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.EntityMasterVM

<div id="example" style="overflow-x:hidden">
    <div id="window">
        <!-- this will be the content of the popup -->

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Entity_Type)

        @Html.HiddenFor(m => m.Id)
        @{ bool flag = true;

            if (Model == null)
            {
                if (Model.Id > 0)
                {
                    flag = false;
                }
            }
        }

        <div class="row col-md-12 colpadding0">
            <div class="col-md-2 colpadding0">

                <span style="color:red"></span><label class="control-label">Entity Type</label>
                @(Html.Kendo().DropDownListFor(m => m.Entity_Type)
                                .DataTextField("EntityTypeName")
                                .DataValueField("EntityTypeId")
                                .OptionLabel("Select")
                                .DataSource(source =>
                                {

                                    source.Read(read =>
                                    {
                                        read.Url("/api/EntityMasterAPI/GetDropDownforEntityTypeVM").Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(true);
                                })
                                .Events(e => e.Change("entity_Change"))
                                .HtmlAttributes(new { style = "width: 100%", @Id = "ddlEntityType" })
                                .Enable(flag)
                )
                @Html.ValidationMessageFor(model => model.Entity_Type, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-10 colpadding0">
            </div>
        </div>


        <div id="viewPlaceHolder">

            @if (Model == null)
                {
                @Html.Partial("_PublicPrivatePartialView", new BM_ManegmentServices.VM.Pravate_PublicVM());
                }
                else if (Model.Id == 0)
                {
                @Html.Partial("_PublicPrivatePartialView", new BM_ManegmentServices.VM.Pravate_PublicVM());
                }

                else if (Model.Entity_Type == 1 || Model.Entity_Type == 2 || Model.Entity_Type == 9 || Model.Entity_Type == 10)
                {
                @Html.Partial("_PublicPrivatePartialView", Model.Pravate_PublicVM);
                }
                else if (Model.Entity_Type == 3)
                {
                @Html.Partial("_LLPPartialView", Model.LLPVM);
                }
                else if (Model.Entity_Type == 4)
                {
                @Html.Partial("_TrustPartialView", Model.TrustVM);
                }
                else if (Model.Entity_Type == 5)
                {
                @Html.Partial("_BodyCorporatePartialView", Model.BodyCorporateVM);
                }

        </div>
    </div>
</div>

@if(Model.Id>0)
{
    <script>
        var dropdownlist = $("#ddlEntityType").data("kendoDropDownList");

        // makes dropdownlist readonly
        dropdownlist.readonly();
    </script>
}
else
{
    <script>
    var dropdownlist = $("#ddlEntityType").data("kendoDropDownList");

    // makes dropdownlist readonly
    dropdownlist.readonly(false);
    </script>
}

