﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.BodyCorporateVM



<script>
    $(document).ready(function () {
        $("#PanelbarEditPrivatepublicCompany").kendoPanelBar({
            expandMode: "Multiple"
        });
    });
</script>

<div id="DivEntityMasterBodyCorporate">
    @using (Ajax.BeginForm("CreateBodyCorporate", "EntityMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivEntityMasterBodyCorporate", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmUpdateEntitybodyCorporate" }))
    {

    <div class="row">
        @if (Model.Message)
            {
            <div class="col-md-12">
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    @if (!(string.IsNullOrEmpty(@Model.successErrorMessage)))
                        {
                        <lable>@Model.successErrorMessage</lable>
                        }
                </div>
            </div>
            }
    </div>

    <div class="row">
        @if (Model.errorMessage)
            {
            <div class="col-md-12">
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    @if (!(string.IsNullOrEmpty(@Model.successErrorMessage)))
                        {
                        <lable>@Model.successErrorMessage</lable>
                        }
                </div>
            </div>
            }
    </div>

        // @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Entity_Type)
    @Html.HiddenFor(m => m.CustomerBranchId)
    @Html.HiddenFor(m => m.Id)

    <div class="row colpadding0 mt30">
        <div class="col-md-12 colpadding0">
            <div class="demo-section k-content">
                <ul class="k-widget k-panelbar k-reset k-header" id="PanelbarEditPrivatepublicCompany" data-role="panelbar" tabindex="0" role="menu">
                    <li class="k-item k-state-default k-first k-state-active" aria-expanded="true" role="menuitem">
                        <span class="k-link k-header k-state-selected">
                            Details <span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span>
                        </span>
                        <span id='notification'></span>
                        <div class="row col-md-12 colpadding0 mt30" style="display: block; margin-left: 1%;margin-right: 1%;margin-bottom:1%">
                            <div class="row colpadding0">
                                <div class="col-md-12 colpadding0">
                                    <div class="col-md-4 colpadding0">
                                        <label for="txtEntityName" class="control-label">Name</label><span style="color:red">*</span>
                                        @(Html.Kendo().TextBoxFor(m => m.BodyCorporateEntityName).HtmlAttributes(new { @class = "k-textbox", @Id = "txtEntityNamebodyCorporate", style = "width: 95%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.BodyCorporateEntityName, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-2 colpadding0">
                                        <label class="control-label">Registration Number</label><span style="color:red">*</span>
                                        @(Html.Kendo().TextBoxFor(m => m.BodyCorporateRegistration_No).HtmlAttributes(new { @class = "k-textbox", @Id = "txtBodyCorporateRegistration_No", style = "width: 90%", autocomplete = "off" ,max=10}))
                                        @Html.ValidationMessageFor(model => model.BodyCorporateRegistration_No, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-2 colpadding0">
                                        <label class="control-label">GLN:</label><span></span>
                                        @(Html.Kendo().TextBoxFor(m => m.BodyCorporateGLN).HtmlAttributes(new { @class = "k-textbox", @Id = "txtBodyCorporateGLN", style = "width: 90%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.BodyCorporateGLN, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-2 colpadding0">
                                        <label class="control-label">Date of Incorporation</label><span style="color:red">*</span>
                                        @(Html.Kendo().DatePicker()
        .Name("BodyCorporateDateofIncorporate")
.Max(DateTime.Today).Format("dd/MM/yyyy").Enable(true)
.HtmlAttributes(new { style = "width: 90%", @Id = "dateofIncorporationBodytrust", placeholder = "DD/MM/YYYY", autocomplete = "off" })
                                        )
                                        @Html.ValidationMessageFor(model => model.BodyCorporateDateofIncorporate, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="col-md-2 colpadding0">
                                        <label class="control-label">TIN</label><span style="color:red">*</span>
                                        @(Html.Kendo().TextBoxFor(m => m.TIN).HtmlAttributes(new { @class = "k-textbox", @Id = "txtTIN", style = "width: 100%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.TIN, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>

                            <div class="row colpadding0 mt30">
                                <div class="col-md-12 colpadding0">
                                    <div class="col-md-2 colpadding0">
                                        <label class="control-label">Email ID:</label><span style="color:red">*</span>
                                        @(Html.Kendo().TextBoxFor(m => m.BodyCorporateEmail_Id).HtmlAttributes(new { @class = "k-textbox", @Id = "txtBodyCorporateEmail_Id", style = "width:90%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.BodyCorporateEmail_Id, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2 colpadding0">

                                        <label class="control-label">Governing Body:</label><span></span>
                                        @(Html.Kendo().DropDownListFor(model => model.GoverningBody).BindTo(new SelectList(new List<object> {
                        new {id="-1",text="Select"},
                        new {id="1",text="Sole Entity"},
                        new {id="2",text="Governing Body"},
                    }, "id", "text")).Events(m => m.Change("getgoverningval"))

                                    .HtmlAttributes(new { style = "width: 90%" }))

                                        @Html.ValidationMessageFor(model => model.GoverningBody, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="col-md-4 colpadding0">
                                        <div class="col-md-8 colpadding0">

                                            <label class="control-label">Number of members in Governing Board:</label>

                                            @(Html.Kendo().TextBoxFor(m => m.Gov_Body_Members).HtmlAttributes(new { @class = "k-textbox", @Id = "txtGov_Body_Members", style = "width:90%", @readonly = "readonly", autocomplete = "off" }))
                                            @Html.ValidationMessageFor(model => model.Gov_Body_Members, "", new { @class = "text-danger" })


                                        </div>
                                        <div class="col-md-4 colpadding0">

                                            <label for="txtWebsite" class="control-label">FY</label><span style="color:red">*</span>
                                            @(Html.Kendo().DropDownList()
          .Name("BCFY")
          .DataTextField("Text")
          .DataValueField("Value")

          .BindTo(new List<SelectListItem>() {
               new SelectListItem() {
                  Text = "Select",
                  Value = ""
              },
              new SelectListItem() {
                  Text = "1 Jan - 31 Dec",
                  Value = "1 Jan - 31 Dec"
              },
              new SelectListItem() {
                  Text = "1 Apr - 31 Mar",
                  Value = "1 Apr - 31 Mar"
              },
          })

          .HtmlAttributes(new { style = "width: 90%" })
                                            )
                                            @Html.ValidationMessageFor(model => model.BCFY, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-2 colpadding0">
                                        <label class="control-label">Regulatory Jurisdiction:</label><span style="color:red">*</span>
                                        @(Html.Kendo().TextBoxFor(m => m.BodyCorporatRegulatoryJurisdiction).HtmlAttributes(new { @class = "k-textbox", @Id = "txtBodyCorporatRegulatoryJurisdiction", style = "width: 90%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.BodyCorporatRegulatoryJurisdiction, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row colpadding0 mt30">
                                <div class="col-md-12 colpadding0">
                                    <div class="col-md-4 colpadding0">
                                        <span></span><label class="control-label">Website:</label>
                                        @(Html.Kendo().TextBoxFor(m => m.BodyCorporateWebSite).HtmlAttributes(new { @class = "k-textbox", @Id = "txtBodyCorporateWebSite", style = "width: 95%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.BodyCorporateWebSite, "", new { @class = "text-danger" })

                                    </div>

                                    </div>
                                </div>
                                </div>
</li>

                    <li class="k-item k-state-default k-last k-state-highlight k-state-active" aria-expanded="true" role="menuitem">
                        <span class="k-link k-header" id="spanAgendaItemB">Address<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>

                        <div id="step1Content" style="display: block; margin-left: 1%;margin-right: 1%;margin-top:1%;margin-bottom:1%">
                            <div class="row colpadding0">
                                <div class="col-md-12 colpadding0">

                                    <div class="col-md-3 colpadding0">

                                        <label class="control-label">Address Line 1:</label><span style="color:red">*</span>

                                        @(Html.Kendo().TextBoxFor(m => m.BodyCorporateRegi_Address_Line1).HtmlAttributes(new { @class = "k-textbox", @Id = "txtBodyCorporateRegi_Address_Line1", style = "width:90%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.BodyCorporateRegi_Address_Line1, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="col-md-3 colpadding0">

                                        <label class="control-label">Address Line 2</label><span style="color:red">*</span>
                                        @(Html.Kendo().TextBoxFor(m => m.BodyCorporateRegi_Address_Line2).HtmlAttributes(new { @class = "k-textbox", @Id = "txtBodyCorporateRegi_Address_Line2", style = "width: 90%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.BodyCorporateRegi_Address_Line2, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="col-md-2 colpadding0">

                                       <label class="control-label">Country</label><span style="color:red">*</span>
                                        @(Html.Kendo().DropDownListFor(m => m.BodyCorporateRegi_CountryID)
                  .DataTextField("CountryName")
                  .DataValueField("CountryId")
                  .OptionLabel("Select")
                  .Filter(FilterType.Contains)
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Url("/api/EntityMasterAPI/GetDropDownEntityForCountry").Type(HttpVerbs.Get);
                      })
                      .ServerFiltering(false);
                  })

                   .HtmlAttributes(new { style = "width: 90%", @Id = "llpRegstateId", autocomplete = "off" })
                                        )
                                        @Html.ValidationMessageFor(model => model.BodyCorporateRegi_CountryID, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="col-md-2 colpadding0">

                                        <label class="control-label">City</label><span style="color:red">*</span>
                                        @(Html.Kendo().DropDownListFor(m => m.BodyCorporateRegi_CityId)
                  .DataTextField("Name")
                  .DataValueField("Reg_cityId")
                  .OptionLabel("Select")
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Url("/api/EntityMasterAPI/GetDropDownEntityForBodyCorporateCity").Data("filterProductllp").Type(HttpVerbs.Get);
                      })
                      .ServerFiltering(true);
                  })
                   .Enable(false)
                   .AutoBind(false)
                   .CascadeFrom("llpRegstateId")
                   .HtmlAttributes(new { style = "width:90%", @Id = "llpcityId", autocomplete = "off" })
                                        )

                                        @Html.ValidationMessageFor(model => model.BodyCorporateRegi_CityId, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-2 colpadding0">

                                        <span></span><label class="control-label">PIN</label>
                                        @(Html.Kendo().TextBoxFor(m => m.BodyCorporateRegi_PINCode).HtmlAttributes(new { @class = "k-textbox", @Id = "txtPINbodyCorporate", style = "width: 100%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.BodyCorporateRegi_PINCode, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div>
                        </div>
                    </li>

                    </ul>
            </div>
        </div>


        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0" style="text-align:center">
                <button type="submit" id="btnBodyCorporate" class="btn btn-primary button1">Save</button>

                <button type="button" id="btnclose4" class="btn btn-primary button1">Close</button>
            </div>
        </div>
    </div>
            }

</div>
<script>
    var validator1 = $("#frmUpdateEntitybodyCorporate").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
    //Pop-up Close
    $("#btnclose4").click(function (z) {


        z.preventDefault();
        z.stopPropagation();
        $('#wndAddEntity').data("kendoWindow").close();
        $('#gridKendo').data('kendoGrid').dataSource.read();
        $('#gridKendo').data('kendoGrid').refresh();
    })

</script>
