﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.LLPVM

<script>
    $(document).ready(function () {

        $("#PanelbarEditPrivatepublicCompany").kendoPanelBar({
            expandMode: "Multiple"
        });
    });
</script>

<div id="DivEntityMasterLLP">

    @using (Ajax.BeginForm("CreateLLP", "EntityMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivEntityMasterLLP", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmUpdateEntityLLP" }))
    {

        <div class="row">
            @if (Model.Message)
            {
            <div class="col-md-12">
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    @if (!(string.IsNullOrEmpty(@Model.successErrorMessage)))
                        {
                        <lable>@Model.successErrorMessage</lable>
                        }
                </div>
            </div>
            }
        </div>

        <div class="row">
            @if (Model.errorMessage)
            {
            <div class="col-md-12">
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    @if (!(string.IsNullOrEmpty(@Model.successErrorMessage)))
                        {
                        <lable>@Model.successErrorMessage</lable>
                        }
                </div>
            </div>
            }
        </div>

        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Entity_Type)
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.CustomerBranchId)

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">

                <ul class="k-widget k-panelbar k-reset k-header" id="panelbar_LLPDetails" data-role="panelbar" tabindex="0" role="menu">
                    <li class="k-item k-state-default k-first k-state-active" aria-expanded="true" role="menuitem">
                        <span class="k-link k-header k-state-selected">
                            Details <span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span>
                        </span>
                        <span id='notification'></span>
                        <div class="row colpadding0" style="display: block; margin-left: 1%;margin-right: 1%;margin-bottom:1%">
                            <div class="row colpadding0 mt30">
                                <div class="col-md-12 colpadding0">
                                    <div class="col-md-4 colpadding0">

                                        <label for="txtEntityName" class="control-label">Name:</label><span style="color:red">*</span>

                                        @(Html.Kendo().TextBoxFor(m => m.EntityName).HtmlAttributes(new { @class = "k-textbox", @Id = "txtllpEntityName", style = "width: 94%;text-transform: uppercase;", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.EntityName, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="col-md-2 colpadding0">

                                        <label class="control-label">LLPIN</label><span style="color:red">*</span>
                                        @(Html.Kendo().TextBoxFor(m => m.LLPIN).HtmlAttributes(new { @class = "k-textbox", @Id = "txtCINllp", style = "width: 90%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.LLPIN, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="col-md-2 colpadding0">

                                        <label class="control-label">GLN:</label><span></span>
                                        @(Html.Kendo().TextBoxFor(m => m.llpGLN).HtmlAttributes(new { @class = "k-textbox", @Id = "txtGLNllp", style = "width:90%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.llpGLN, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="col-md-2 colpadding0">

                                        <label class="control-label">Date of Incorporation</label><span style="color:red">*</span>
                                        @(Html.Kendo().DatePicker().Name("llpIncorporationDate")
.Max(DateTime.Today).Format("dd/MM/yyyy").Enable(true).Format("dd/MM/yyyy").Enable(true).ParseFormats(new[] { "dd/MM/yyyy" })
.HtmlAttributes(new { style = "width: 90%", @Id = "dateofIncorporationllp", placeholder = "DD/MM/YYYY", autocomplete = "off" })
                                        )
                                        @Html.ValidationMessageFor(model => model.llpIncorporationDate, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="col-md-2 colpadding0">


                                        <label class="control-label">GSTN:</label><span></span>
                                        @(Html.Kendo().TextBoxFor(m => m.llpGST).HtmlAttributes(new { @class = "k-textbox", @Id = "txtGstnllp", style = "width: 100%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.llpGST, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                            </div>

                            <div class="row mt30 colpadding0">
                                <div class="col-md-12 colpadding0">
                                    <div class="col-md-2 colpadding0">

                                        <label class="control-label">ROC Jurisdiction:</label><span style="color:red">*</span>
                                        @(Html.Kendo().DropDownListFor(m => m.llpROC_Code)

                      .DataTextField("Name")
                      .DataValueField("Id")

                     .Filter(FilterType.Contains)
                      .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Url("/api/EntityMasterAPI/GetDropDownforROCCode").Type(HttpVerbs.Get);
                          })
                          .ServerFiltering(false);
                      })

                       .HtmlAttributes(new { style = "width: 90%", @Id = "llpRocJurisdiction", autocomplete = "off" })
                                        )
                                        @Html.ValidationMessageFor(model => model.llpROC_Code, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="col-md-2 colpadding0">

                                        <label class="control-label">Email [As per ROC Records]:</label><span style="color:red">*</span>
                                        <div class="demo-section k-content">
                                            @(Html.Kendo().TextBoxFor(m => m.llpEmail_Id).HtmlAttributes(new { @class = "k-textbox", @Id = "txtEmailIdllp", style = "width: 90%", autocomplete = "off" }))
                                            @Html.ValidationMessageFor(model => model.llpEmail_Id, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="col-md-2 colpadding0">
                                        <label class="control-label">PAN</label><span style="color:red">*</span>
                                        @(Html.Kendo().TextBoxFor(m => m.llpPAN).HtmlAttributes(new { @class = "k-textbox", @Id = "txtPANllp", style = "width:90%; text-transform: uppercase;", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.llpPAN, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="col-md-2 colpadding0">
                                        <label class="control-label">Number of Partners</label><span></span>

                                        @(Html.Kendo().TextBoxFor(m => m.llpNo_Of_Partners).HtmlAttributes(new { @class = "k-textbox", @Id = "txtNoofPartnerllp", style = "width:90%", autocomplete = "off",type="number",max=100 }))
                                        @Html.ValidationMessageFor(model => model.llpNo_Of_Partners, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="col-md-2 colpadding0">

                                        <span></span><label class="control-label">Designated Partners(Number)</label>
                                        @(Html.Kendo().TextBoxFor(m => m.llpNo_Of_DesignatedPartners).HtmlAttributes(new { @class = "k-textbox", @Id = "txtNoofDesigPartnerllp", style = "width: 90%", autocomplete = "off", type = "number", max = 100 }))
                                        @Html.ValidationMessageFor(model => model.llpNo_Of_DesignatedPartners, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="col-md-2 colpadding0">

                                        <span></span><label class="control-label">Total Obligation of Contribution</label>
                                        @(Html.Kendo().TextBoxFor(m => m.llpObligation_Of_Contribution).HtmlAttributes(new { @class = "k-textbox", @Id = "txtNoofObligationofContrillp", style = "width: 100%", autocomplete = "off", type = "number", max = 100 }))
                                        @Html.ValidationMessageFor(model => model.llpObligation_Of_Contribution, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row colpadding0 mt30">
                                <div class="col-md-12 colpadding0">

                                    <div class="col-md-4 colpadding0">
                                        <span></span><label class="control-label">Website:</label>
                                        @(Html.Kendo().TextBoxFor(m => m.llpWebSite).HtmlAttributes(new { @class = "k-textbox", @Id = "txtWebsitellp", style = "width:95%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.llpWebSite, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-3 colpadding0">

                                        <label class="control-label">Main division of business activity</label><span></span>

                                        @(Html.Kendo().DropDownListFor(m => m.llpbusinessActivityID)
              .DataTextField("DivisionCode")
              .DataValueField("Id")
           .Filter(FilterType.Contains)
              .OptionLabel("Select")
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Url("/api/EntityMasterAPI/GetDropDownforDiscriptionofBusinessActivity").Type(HttpVerbs.Get);
                  })
                  .ServerFiltering(false);
              })

              .HtmlAttributes(new { style = "width: 90%", @Id = "ddlllpbusinessActivity", autocomplete = "off" })
                                        )


                                    </div>

                                    <div class="col-md-3 colpadding0">

                                        <span></span><label class="control-label">Description</label>
                                        @(Html.Kendo().DropDownListFor(m => m.llpbusinessADesc)
              .DataTextField("Description")
              .DataValueField("Id")
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Url("/api/EntityMasterAPI/GetDropDownforBusinessActivity").Data("BusinessCode").Type(HttpVerbs.Get);
                  })
                  .ServerFiltering(true);
              })
               .Enable(false)
.AutoBind(false)
.CascadeFrom("ddlllpbusinessActivity")

              .HtmlAttributes(new { style = "width: 95%", @Id = "ddlllpbusinessActivityDesc", autocomplete = "off" }))


                                    </div>

                                    <div class="col-md-2 colpadding0">


                                        <label for="txtWebsite" class="control-label">FY</label><span style="color:red">*</span>
                                        @(Html.Kendo().DropDownList()
          .Name("llpFY")
          .DataTextField("Text")
          .DataValueField("Value")

          .BindTo(new List<SelectListItem>() {
               new SelectListItem() {
                  Text = "Select",
                  Value = ""
              },
              new SelectListItem() {
                  Text = "1 Jan - 31 Dec",
                  Value = "1 Jan - 31 Dec"
              },
              new SelectListItem() {
                  Text = "1 Apr - 31 Mar",
                  Value = "1 Apr - 31 Mar"
              },
          })

          .HtmlAttributes(new { style = "width: 100%" })
                                        )
                                        @Html.ValidationMessageFor(model => model.llpFY, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <ul class="k-widget k-panelbar k-reset k-header" id="panelbar_LLPAddress" data-role="panelbar" tabindex="0" role="menu">
                    <li class="k-item k-state-default k-last k-state-active" aria-expanded="true" role="menuitem">
                        <span class="k-link k-header" id="spanAgendaItemB">Address<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>

                        <div id="step1Content" style="display: block; margin-left: 1%;margin-right: 1%;margin-top:1%;margin-bottom:1%">
                            <div class="row">
                                <div class="col-md-12 colpadding0">
                                    <div class="col-md-3 colpadding0">
                                        <label class="control-label">Registered Address Line 1</label><span style="color:red">*</span>
                                        @(Html.Kendo().TextBoxFor(m => m.llpRegi_Address_Line1).HtmlAttributes(new { @class = "k-textbox", @Id = "txtRegAddressllp1", style = "width:90%;text-transform: uppercase;", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.llpRegi_Address_Line1, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-3 colpadding0">
                                        <label class="control-label">Registered Address Line 2</label><span style="color:red">*</span>
                                        @(Html.Kendo().TextBoxFor(m => m.llpRegi_Address_Line2).HtmlAttributes(new { @class = "k-textbox", @Id = "txtRegAddress2llp", style = "width: 90%;text-transform: uppercase;", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.llpRegi_Address_Line2, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-2 colpadding0">
                                        <label class="control-label">State</label><span style="color:red">*</span>
                                        @(Html.Kendo().DropDownListFor(m => m.llpRegi_StateId)
                  .DataTextField("Name")
                  .DataValueField("SIdPublic")
 .Filter(FilterType.Contains)
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Url("/api/EntityMasterAPI/GetDropDownforState").Type(HttpVerbs.Get);
                      })
                      .ServerFiltering(false);
                  })

                   .HtmlAttributes(new { style = "width: 90%", @Id = "llpRegstateId", autocomplete = "off" })
                                        )
                                        @Html.ValidationMessageFor(model => model.llpRegi_StateId, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="col-md-2 colpadding0">
                                        <label class="control-label">City</label><span style="color:red">*</span>
                                        @(Html.Kendo().DropDownListFor(m => m.llpRegi_CityId)
                  .DataTextField("Name")
                  .DataValueField("Reg_cityId")

                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Url("/api/EntityMasterAPI/GetDropDownforCity").Data("filterProductllp").Type(HttpVerbs.Get);
                      })
                      .ServerFiltering(true);
                  })
                   .Enable(false)
                   .AutoBind(false)
                   .CascadeFrom("llpRegstateId")
                   .HtmlAttributes(new { style = "width:90%", @Id = "llpcityId", autocomplete = "off" })
                                        )
                                        @Html.ValidationMessageFor(model => model.llpRegi_CityId, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="col-md-1 colpadding0">
                                        <label class="control-label">PIN</label><span></span>
                                        @(Html.Kendo().TextBoxFor(m => m.llpRegi_PINCode).HtmlAttributes(new { @class = "k-textbox", @Id = "txtEntityPINllp", style = "width: 100%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.llpRegi_PINCode, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row mt30">
                                <div class="col-md-12 colpadding0">
                                    <div class="col-md-3 colpadding0">
                                        <label class="control-label">Whether the Company has Corporate Office?</label><span style="color:red">*</span>
                                    </div>
                                    <div class="col-md-3 colpadding0">
                                        @(Html.Kendo().RadioButtonFor(m => m.llpIscorporateforllp).Label("Yes").Value(true).HtmlAttributes(new { }))
                                        &nbsp; &nbsp;
                                        @(Html.Kendo().RadioButtonFor(m => m.llpIscorporateforllp).Label("No").Value(false).HtmlAttributes(new { }))
                                        @Html.ValidationMessageFor(model => model.llpIscorporateforllp, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            <div id="Corporatedivllp" style="display:none">
                                <div class="col-md-12 colpadding0 row mt30">
                                    <div class="col-md-3 colpadding0">
                                        <span style="color:red"></span><label class="control-label">Whether the corporate office is same as registered office</label>
                                    </div>
                                    <div class="col-md-3 colpadding0">
                                        @(Html.Kendo().RadioButtonFor(m => m.Is_SameAddressllp).Label("Yes").Value(true).HtmlAttributes(new { }))
                                        &nbsp; &nbsp;
                                        @(Html.Kendo().RadioButtonFor(m => m.Is_SameAddressllp).Label("No").Value(false).HtmlAttributes(new { }))

                                        @Html.ValidationMessageFor(model => model.Is_SameAddressllp, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row mt30">
                                <div class="colpadding0 col-md-12">
                                    <div class="col-md-3 colpadding0">
                                        <label class="control-label">Corporate Office Address Line 1</label><span style="color:red">*</span>
                                        @(Html.Kendo().TextBoxFor(m => m.llpCorp_Address_Line1).HtmlAttributes(new { @class = "k-textbox", @Id = "txtCorpAddress1llp", style = "width: 90%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.llpCorp_Address_Line1, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-3 colpadding0">
                                        <label for="txtCorpAddress2llp" class="control-label">Address Line 2</label><span style="color:red">*</span>
                                        @(Html.Kendo().TextBoxFor(m => m.llpCorp_Address_Line2).HtmlAttributes(new { @class = "k-textbox", @Id = "txtCorpAddress2llp", style = "width:98%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.llpCorp_Address_Line2, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-2 colpadding0">
                                        <label class="control-label">State</label><span style="color:red">*</span>
                                        @(Html.Kendo().DropDownListFor(m => m.llpCorp_StateId)
             .DataTextField("Name")
              .DataValueField("SIdPublic")
            .Filter(FilterType.Contains)
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Url("/api/EntityMasterAPI/GetDropDownforState").Type(HttpVerbs.Get);
                  })
                  .ServerFiltering(false);
              })

               .HtmlAttributes(new { style = "width:98%", @Id = "ddlcorStatellp", autocomplete = "off" })
                                        )
                                        @Html.ValidationMessageFor(model => model.llpCorp_StateId, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-2 colpadding0">
                                        <label class="control-label">City</label><span style="color:red">*</span>
                                        @(Html.Kendo().DropDownListFor(m => m.llpCorp_CityId)
              .DataTextField("Name")
              .DataValueField("Reg_cityId")
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Url("/api/EntityMasterAPI/GetDropDownforCity").Data("filterProductllpcor").Type(HttpVerbs.Get);
                  })
                  .ServerFiltering(true);
              })
               .Enable(false)
               .AutoBind(false)
               .CascadeFrom("ddlcorStatellp")
              .HtmlAttributes(new { style = "width: 90%", @Id = "ddlllpcorCity", autocomplete = "off" })
                                        )
                                        @Html.ValidationMessageFor(model => model.llpCorp_CityId, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="col-md-1 colpadding0">
                                        <span></span><label class="control-label">PIN</label>
                                        @(Html.Kendo().TextBoxFor(m => m.llpCorp_PINCode).HtmlAttributes(new { @class = "k-textbox", @Id = "txtCorpPINCodellp", style = "width: 100%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.llpCorp_PINCode, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </li>
                </ul>
            </div>
        </div>

        <div class="row col-md-12 colpadding0 text-center mt30">
            <button type="submit" id="btnllp" class="btn btn-primary">Save</button>
            <button type="button" id="btnclose2" class="btn btn-primary">Close</button>
        </div>
    }
</div>

<script>
    var validator1 = $("#frmUpdateEntityLLP").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

    $("#btnclose2").click(function (z) {
        z.preventDefault();
        z.stopPropagation();
        $('#wndAddEntity').data("kendoWindow").close();
        $('#gridKendo').data('kendoGrid').dataSource.read();
        $('#gridKendo').data('kendoGrid').refresh();
    })

    $(document).on("change", "input[name='llpIscorporateforllp']", function () {

        if (this.value == "True") {
            document.getElementById('Corporatedivllp').style.display = 'block';

        }
        else {
            document.getElementById('Corporatedivllp').style.display = 'none';
        }
    })

    $(document).ready(function () {

        var Iscorpoval = document.getElementById("llpIscorporateforllp_True");
        var iscorpovalfalse = document.getElementById("llpIscorporateforllp_False");
        if (Iscorpoval.checked) {
            document.getElementById('Corporatedivllp').style.display = 'block';
        }
        else if (iscorpovalfalse.checked) {
            document.getElementById('Corporatedivllp').style.display = 'none';
        }

    })

    function dropdownlist_dataBound() {

        var ddlReg_CityId = $("#llpcityId").data("kendoDropDownList");
        var ddlCorp_CityId = $("#ddlllpcorCity").data("kendoDropDownList");
        var cityId = ddlReg_CityId.value();
        ddlCorp_CityId.value(cityId);
    }

    $(document).on("change", "input[name='Is_SameAddressllp']", function () {

        if (this.value == "True") {
            $('#txtCorpAddress1llp').val($('#txtRegAddressllp1').val());
            $('#txtCorpAddress2llp').val($('#txtRegAddress2llp').val());
            $('#txtCorpPINCodellp').val($('#txtEntityPINllp').val());

            var ddlReg_StateId = $("#llpRegstateId").data("kendoDropDownList");
            var ddlCor_StateId = $("#ddlcorStatellp").data("kendoDropDownList");
            var Reg_StateId = ddlReg_StateId.value();
            var Corp_StateId = ddlCor_StateId.value();
            ddlCor_StateId.value(Reg_StateId);

            var ddlCorp_CityId = $("#ddlllpcorCity").data("kendoDropDownList");
            if (Reg_StateId == Corp_StateId) {
                var ddlReg_CityId = $("#llpcityId").data("kendoDropDownList");
                var ddlCorp_CityId = $("#ddlllpcorCity").data("kendoDropDownList");
                var cityId = ddlReg_CityId.value();
                ddlCorp_CityId.value(cityId);
            }
            else {

                ddlCorp_CityId.bind("dataBound", dropdownlist_dataBound);
            }
        }

        else {
            $('#txtCorpAddress2llp').val("");
            $('#txtCorpAddress1llp').val("");
            $('#txtCorpPINCodellp').val("");
            $("#ddlcorStatellp").data("kendoDropDownList").value("");
            $("#ddlllpcorCity").data("kendoDropDownList").value("");
        }
    })


</script>
