﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.BM_Rule

<style>

    input[type=radio][disabled] {
        padding-left: 0px;
    }

    .table-bordered > thead > tr > th {
        border-bottom-width: 2px;
        background: #E9EAEA;
        font-family: 'Roboto',sans-serif;
        font-weight: bold;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.5);
    }
</style>

<div id="divfrmApplicability">
    @using (Ajax.BeginForm("SaveApplicability", "EnityMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divfrmApplicability", OnBegin = "OnOpen1", OnComplete = "OnRefresh1" }, new { id = "frmApplicability" }))
    {
        string SMEClass = "";
        <div id="divfrmApplicability1" style="overflow-y:auto;">

            @if (Model.Messages != null)
            {
                <div class="row">
                    <div class="col-md-2 colpadding0">
                    </div>
                    <div class="col-md-8 colpadding0">
                        @Html.Partial("_Response", Model.Messages)
                    </div>
                    <div class="col-md-2 colpadding0">
                    </div>
                </div>
            }

            @Html.HiddenFor(model => model.Entity_Id)
            @Html.HiddenFor(model => model.Entity_Type)
            @Html.HiddenFor(model => model.SMEListed)

            <div style="padding: 10px;">
                @if (Model.Entity_Type == 20 && Model.SMEListed == false)
                {
                    SMEClass = "hidden";

                    <fieldset class="col">
                        <legend style="margin-bottom: 10px;"><label style="font-size:17px"></label></legend>
                        <div class="row form-group">

                            <div class="col-md-12 colpadding0">
                                <div class="col-md-6">
                                    <span style="color:red">*</span><label>Whether SME Listed</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="radio" name="rbtnSME" value="True" id="rbtnSME"> Yes

                                    <input type="radio" name="rbtnSME" value="False" id="rbtnSME"> No
                                </div>
                                <div class="col-md-3">
                                    <button type="submit" id="command_name" name="command_name" value="SME" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                }

                <fieldset class="col @SMEClass">                    
                    <div class="row colpadding0">
                        <div class="col-md-4 colpadding0">
                            <div class="col-md-4 colpadding0"><label style="font-size:17px"><b>Amount in INR</b></label></div>
                            <div class="col-md-6">
                                @(Html.Kendo().DropDownList()
                                  .Name("AmountInvariable")
                                  .DataTextField("Text")
                                  .DataValueField("Value")
                                  .HtmlAttributes(new { style = "width: 60%" , onchange = "val_changed();" })
                                  .BindTo(new List<SelectListItem>()
                                  {
                                    new SelectListItem() { Text = "Crore", Value ="C" },
                                    new SelectListItem() { Text = "Lakh", Value ="L" },
                                    new SelectListItem() { Text = "Thousand", Value ="T" },
                                  }))
                            </div>
                        </div>
                        <div class="col-md-8 colpadding0"></div>
                    </div>
                    <div class="row form-group mt30">
                        <div id="divAmount" class="col-md-12 colpadding0">
                            <div class="amp-ml">
                                <div class="col-md-2 colpadding0">
                                    <label class="control-label">Paid up share capital</label>
                                    @Html.HiddenFor(model => model.PaidupShareCapital)
                                    @(Html.Kendo().TextBox().Name("txtPaidupShareCapital").Value(Convert.ToString(Model.PaidupShareCapital)).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%", readOnly = "true", autocomplete = "off", type="number",lang = "en-150" }))
                                    @Html.ValidationMessageFor(model => model.PaidupShareCapital, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-2 colpadding0">
                                    <div class="col-md-1 colpadding0"></div>
                                    <div class="col-md-11 colpadding0">
                                        <label class="control-label">Turnover</label>
                                        @(Html.Kendo().TextBoxFor(m => m.Turnover).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%", onchange = "val_changed();", autocomplete = "off"}))
                                        @Html.ValidationMessageFor(model => model.Turnover, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2 colpadding0">
                                    <div class="col-md-1 colpadding0"></div>
                                    <div class="col-md-11 colpadding0">
                                        <label class="control-label">Net Worth</label>
                                        @(Html.Kendo().TextBoxFor(m => m.NetWorth).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%", onchange = "val_changed();", autocomplete = "off", type = "number", lang = "en-150" }))
                                        @Html.ValidationMessageFor(model => model.NetWorth, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2 colpadding0">
                                    <div class="col-md-1 colpadding0"></div>
                                    <div class="col-md-11 colpadding0">
                                        <label class="control-label">Net Profit</label>
                                        @(Html.Kendo().TextBoxFor(m => m.NetProfit).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%", onchange = "val_changed();", autocomplete = "off", type = "number" }))
                                        @Html.ValidationMessageFor(model => model.NetProfit, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="col-md-2 colpadding0">
                                    <div class="col-md-1 colpadding0"></div>
                                    <div class="col-md-11 colpadding0">
                                        <label class="control-label">Borrowings</label>
                                        @(Html.Kendo().TextBoxFor(m => m.Borrowings).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%", onchange = "val_changed();", autocomplete = "off", type = "number" }))
                                        @Html.ValidationMessageFor(model => model.Borrowings, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2 colpadding0">
                                    <div class="col-md-1 colpadding0"></div>
                                    <div class="col-md-11 colpadding0">
                                        <label class="control-label">Deposit from Members</label>
                                        @(Html.Kendo().TextBoxFor(m => m.Deposit).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%", onchange = "val_changed();", autocomplete = "off", type = "number" }))
                                        @Html.ValidationMessageFor(model => model.Deposit, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="hidden col-md-12 colpadding0 text-center" style="top:16px;">
                            <div class="col-md-1 colpadding0"></div>
                            <div class="col-md-11 colpadding0">
                                <button type="button" id="btnEditApplicability" class="k-button k-button-icontext k-grid-edit" style="border-radius:25px;"><span class="k-icon k-edit"></span></button>
                                <button type="button" id="btnAddApplicability" class="hidden k-button k-button-icontext k-grid-edit" style="border-radius:25px;"><span class="k-icon k-add"></span></button>
                                <button type="button" id="btnCancelApplicability" class="hidden k-button k-button-icontext k-grid-edit" style="border-radius:25px;"><span class="k-icon k-cancel"></span></button>
                            </div>
                        </div>

                        <div class="col-md-12 colpadding0">
                            <div class="amp-ml">

                            </div>
                        </div>

                    </div>
                </fieldset>
            </div>

            @if (Model != null)
            {
                if (Model.Rules != null)
                {
                    if (Model.Rules.Count > 0)
                    {
                        <div class="row @SMEClass">
                            <div class="col-md-12 colpadding0">
                                <div style="padding: 10px;">
                                    <table id="tblDetailsOfSon" class="table table-bordered">
                                        <colgroup>
                                            <col style="width:10%" />
                                            <col style="width:70%" />
                                            <col style="width:20%" />
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th data-field="SrNo" class="text-center">Sr.No.</th>
                                                <th data-field="Applicabillity">Compliance</th>
                                                <th data-field="Action" class="text-center">Applicability</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Rules != null)
                                            {
                                                int i = -1;
                                                foreach (var item1 in Model.Rules)
                                                {
                                                    i++;
                                                    <tr>
                                                        <td class="text-center">
                                                            @(i + 1)
                                                            @Html.HiddenFor(model => model.Rules[i].SrNo)
                                                            @Html.HiddenFor(model => model.Rules[i].ApplicabilityId)
                                                            @if (item1.Editable == false)
                                                            {
                                                                @Html.HiddenFor(model => model.Rules[i].Answer)
                                                            }
                                                        </td>
                                                       
                                                        <td>
                                                            @Html.DisplayFor(m => m.Rules[i].Name)
                                                        </td>

                                                        <td class="text-center">
                                                            @(Html.Kendo().RadioButtonFor(model => model.Rules[i].Answer).Label("Yes").Checked(Model.Rules[i].Answer).Value(true).Enable(Model.Rules[i].Editable).HtmlAttributes(new { style = "margin-left:0.5em;" }))
                                                            &nbsp; &nbsp;
                                                            @(Html.Kendo().RadioButtonFor(model => model.Rules[i].Answer).Label("No").Checked(!Model.Rules[i].Answer).Value(false).Enable(Model.Rules[i].Editable).HtmlAttributes(new { style = "margin-left:0.5em;" }))
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>

        <div class="row col-md-12 colpadding0 mt30 text-center">
            @if (Model.Rules != null)
                {
                    if (Model.Rules.Count > 0)
                    {
                    @*<button type="submit" id="command_name" name="command_name" value="save" class="k-primary k-button k-grid-update k-button-icontext @SMEClass">Save</button>*@
                    <button type="submit" id="command_name" class="btn btn-primary @SMEClass" value="save" name="command_name"><span class=""></span>Save</button>
                }
            }
            <button type="button" id="btnclose1" class="btn btn-primary">Close</button>
        </div>

        <script>

                $("#btnclose1").click(function (e) {
                    $("#wndAdd1").data("kendoWindow").close();
                });

                function saveApplicability() {
                    $("#frmApplicability").attr(
                           "action",
                           "@Url.Action("SaveApplicability", "EnityMaster", new { command_name="save" })"
                           ).submit();
                }


                function val_changed() {
                    var validator = $("#divfrmApplicability").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
                    if (validator.validate()) {
                        $("#frmApplicability").submit();
                    }
                }

                $(document).ready(function () {
                    if ($(window).height() > 500) {
                        $("#divfrmApplicability").height($(window).height() - 100);
                    }

                    //$("#tblDetailsOfSon").kendoGrid({
                    //    sortable: false,
                    //    scrollable: false
                    //});


                    $("#btnEditApplicability").click(function () {
                        $("#btnEditApplicability").addClass('hidden');
                        $("#btnAddApplicability").removeClass('hidden');
                        //$("#divAmount").find("input,textarea,select").removeAttr("disabled", "disabled");
                    });

                    $("#btnAddApplicability").click(function () {
                        $("#btnEditApplicability").removeClass('hidden');
                        $("#btnAddApplicability").addClass('hidden');
                        //$("#divAmount").find("input,button,textarea,select").attr("disabled", "disabled");
                    });

                    $("#btnCancelApplicability").click(function () {
                    });
                });

        </script>
    }

</div>
