﻿<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta name="description" content="The HTML5">
    <link href="~/select2/select2.min.css" rel="stylesheet" />
    <link href="~/content/bootstrap.css" rel="stylesheet" />
    <link href="~/content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.common.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.rtl.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.silver.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="~/content/datepicker3.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../Newjs/jquery-1.12.4.min.js"></script>
    <script src="~/masters/bootstrap.min.js"></script>
    <script src="~/select2/select2.min.js"></script>
    <script src="~/select2/select2.full.js"></script>
    <script src="~/Scripts/anjular(1.5.0).min.js"></script>
    <script src="~/masters/angular.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/Scripts/ng-file-upload.min.js"></script>
    <script src="~/masters/dirpagination.js"></script>
    <script type="text/javascript" src="../../Newjs/kendo.all.min.js"></script>
    <script type="text/javascript" src="../../Newjs/jszip.min.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls.js"></script>
    <script src="~/js/lodash.js"></script>
    <script src="~/js/angularjs-dropdown-multiselect.min.js"></script>*

    <script type="text/javascript">
        //var app = angular.module('myApp', []);
        var app = angular.module("myApp", ['ngFileUpload', 'angularUtils.directives.dirPagination', "kendo.directives", 'angularjs-dropdown-multiselect']);
        //var myApp = angular.module('myApp', []);

        app.directive("select2", function ($timeout, $parse) {
            return {
                restrict// Code goes here
            : 'AC',
                require: 'ngModel',
                link: function (scope, element, attrs) {
                    console.log(attrs);
                    $timeout(function () {
                        element.select2();
                        element.select2Initialized = true;
                    });

                    var refreshSelect = function () {
                        if (!element.select2Initialized) return;
                        $timeout(function () {
                            element.trigger('change');
                        });
                    };

                    var recreateSelect = function () {
                        if (!element.select2Initialized) return;
                        $timeout(function () {
                            element.select2('destroy');
                            element.select2();
                        });
                    };

                    scope.$watch(attrs.ngModel, refreshSelect);

                    if (attrs.ngOptions) {
                        var list = attrs.ngOptions.match(/ in ([^ ]*)/)[1];
                        // watch for option list change
                        scope.$watch(list, recreateSelect);
                    }

                    if (attrs.ngDisabled) {
                        scope.$watch(attrs.ngDisabled, refreshSelect);
                    }
                }
            };
        });
        app.controller('myCtrl', function ($scope, $http) {

           
            Bindgrid();
            function Bindgrid() {
                $.post("../Question/getAllCompliancesNew/", { actid: JSON.stringify(2) }, function (r) {
                  
                    $scope.salesexpanses = [];
                    for (var i = 0; i < r.length; i++) {
                       
                        var time = {};
                        time.ActID = r[i].ActID;
                        time.ActName = r[i].ActName;
                        time.ComplianceID = r[i].ComplianceID;
                        $scope.LicenseList = [];
                        $scope.LicenseList = r[i].LTADetails
                        $scope.licensetypes = [];
                        $scope.licensetypes = r[i].LinkedToALicenseTypeDetails

                        $scope.salesexpanses.push(time);
                       
                    }
                    $scope.$apply();
                });
                $scope.userselected = 0;
            }


            

            $scope.country = {};
            $scope.state = {};
            $scope.city = {};
            var allCountries = [{
                Id: 1,
                CountryName: "USA"
            }, {
                Id: 2,
                CountryName: "Australia"
            }];
            var allStates = [{
                Id: 1,
                StateName: "Washington",
                CountryId: 1
            }, {
                Id: 2,
                StateName: "New York",
                CountryId: 1
            }, {
                Id: 3,
                StateName: "Queensland",
                CountryId: 2
            }];
            var allCities = [{
                Id: 1,
                CityName: "Washington DC",
                StateId: 1
            }, {
                Id: 2,
                CityName: "New York City",
                StateId: 2
            }, {
                Id: 3,
                CityName: "Brisbane",
                StateId: 3
            }];


            var allStates1 = [{
                id: 1,
                label: "Washington",
                CountryId: 1
            }, {
                id: 2,
                label: "New York",
                CountryId: 1
            }, {
                id: 3,
                label: "Queensland",
                CountryId: 2
            }];


            var allCountries1 = [{
                id: 1,
                label: "USA"
            }, {
                id: 2,
                label: "Australia"
            }];

            $scope.countries = allCountries;


            $scope.CategoriesSelected = [];
            $scope.Categories = [];
            $scope.dropdownSetting = {
                scrollable: true,
                scrollableHeight: '200px'
            }
            //fetch data from database for show in multiselect dropdown
            //$http.get('/home/getcategories').then(function (data) {
           
            //})

            $scope.GetSelectedCountry = function ( val) {
               
                this.states = allStates.filter(a=>a.CountryId == val.Id);

                this.Categories = allStates1.filter(a=>a.CountryId == val.Id);
                this.CategoriesSelected = [];
                
              
                $scope.city = {};
                $scope.state = {};
                $scope.cities = [];
                
            };
            //$scope.CategoriesSelected1 = [];
            //$scope.Categories1 = allCountries1;
            //this.CategoriesSelected1 = [];
            //angular.forEach(allCountries1, function (value, index) {
            //    debugger;
            //    $scope.Categories1.push({ id: value.id, label: value.label });
            //    this.CategoriesSelected1 = [];
            //    //$scope.Categories[index].push({ id: value.Id, label: value.StateName });
            //});
            //this.Categories1 = allCountries1;
            //$scope.CategoriesSelected1 = [];
            //$scope.Categories1 = allCountries1;
            //this.CategoriesSelected1 = [];

            $(document).ready(function () {
                $scope.CategoriesSelected1 = [];
                $scope.Categories1 = allCountries1;
                this.CategoriesSelected1 = [];
            });
            //$scope.myEventListeners = {                
            //    //onSelectAll: onSelectAll,
            //    //onDeselectAll: onDeselectAll,
            //    onItemSelect: onItemSelect,
            //    //onItemDeselect: onItemDeselect,

            //};
            $scope.onItemSelect = function (property) {
                debugger;
                //alert(1)
                //$scope.CategoriesSelected1 = [];
                //$scope.Categories1 = allCountries1;
                //this.CategoriesSelected1 = [];
                this.CategoriesSelected1 = property;
                //e.stopPropagation();

            }
           
            
            //$scope.onItemDeselect = function (property) {
              
            //    console.log('deselect : ' + property);
            //}
            //// MultiSelect Drop down select - Event
            //function onItemSelect(property) {
              //alert(1)
                //console.log('select > ' + property);
                //var cat1 = [];
                //for (var i = 0; i < $scope.CategoriesSelected.length; i++) {//4                                    
                //    cat1.push($scope.CategoriesSelected[i].id);
                //}                
            //}
        });
      
        //document.ready()
       

    </script>
</head>
<body>

    <div ng-controller="myCtrl">
        <form class="form-inline" name="form">
            <table id="tblOrders" cellpadding="12" class="table table-bordered table-hover table-striped display nowrap" style="margin-left: 0px; margin-right: 0px;">

                <thead style="background-color:#6db6ec;color:white;font-size:12px;">
                    <tr>
                        <th ng-click="sort('ActID')"><b>ActID</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='ActID'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th style="cursor: pointer;" ng-click="sort('ActName')"><b>ActName</b><span class="glyphicon sort-icon" ng-show="sortKey=='ActName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                    </tr>
                </thead>

                <tbody dir-paginate="salesexpanse in salesexpanses|orderBy:'ActID'|filter:search|itemsPerPage:10" ng-model="search">
                    <tr>
                        <td style="font-size:12px; width:50px">
                            {{salesexpanse.ActID}}
                        </td>
                        <td style="font-size:12px ; width:150px">
                            {{salesexpanse.ActName}}
                        </td>
                        <td style="font-size:12px ; width:150px">
                            {{salesexpanse.ComplianceID}}
                        </td>
                        <td>

                            <div class="form-group">
                                <label for="country" class="control-label">Country</label>
                                <select   name='country' id="country" class="form-control" ng-model="country" 
                                          ng-change="GetSelectedCountry(country)"
                                        ng-options="country as country.CountryName for country in countries" required>
                                    <option value="" disabled>Select</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div ng-dropdown-multiselect="" extra-settings="dropdownSetting"
                                 options="Categories1" selected-model="CategoriesSelected1" checkboxes="true"   events="onSelectionChanged(CategoriesSelected1)" ></div>
                        </td>
                       

                        <td>
                            <div class="form-group">
                                <label for="state" class="control-label">State</label>
                                <select name='state' required id="state" class="form-control" ng-disabled="states.length == 0" ng-model="state" ng-options="state as state.StateName for state in states">
                                    <option value="" disabled>Select</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div ng-dropdown-multiselect="" extra-settings="dropdownSetting"
                                 options="Categories" selected-model="CategoriesSelected" checkboxes="true" >   </div>
                        </td>

                        <td>
                            <multiselect-dropdown model="CategoriesSelected1" options="Categories1 "></multiselect-dropdown>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="city" class="control-label">City</label>
                                <select name='city' required id="city" class="form-control" ng-disabled="cities.length == 0" ng-model="city" ng-options="city as city.CityName for city in cities">
                                    <option value="" disabled>Select</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>
</html>

