﻿@{
    ViewBag.Title = "Index";
}
<h2>Multiselect dropdown with checkbox in angularjs</h2>
<link href="~/select2/select2.min.css" rel="stylesheet" />
<link href="~/content/bootstrap.css" rel="stylesheet" />
<link href="~/content/bootstrap.min.css" rel="stylesheet" />
<link href="../../NewCSS/kendo.common.min.css" rel="stylesheet" />
<link href="../../NewCSS/kendo.rtl.min.css" rel="stylesheet" />
<link href="../../NewCSS/kendo.silver.min.css" rel="stylesheet" />
<link href="../../NewCSS/kendo.mobile.all.min.css" rel="stylesheet" />
<script type="text/javascript" src="../../Newjs/jquery-1.12.4.min.js"></script>
<script src="~/masters/bootstrap.min.js"></script>
<script src="~/select2/select2.min.js"></script>
<script src="~/select2/select2.full.js"></script>
<script src="~/scripts/anjular(1.5.0).min.js"></script>
<script src="~/masters/angular.js"></script>
<script src="~/scripts/angular.js"></script>
<script src="~/scripts/angular.min.js"></script>
<script type="text/javascript" src="../../Newjs/kendo.all.min.js"></script>
<script type="text/javascript" src="../../Newjs/jszip.min.js"></script>
<script src="~/js/lodash.js"></script>
<script src="~/js/angularjs-dropdown-multiselect.min.js"></script>
@* HTML Code *@

@* I have added some css here for looks good *@
<style>
    .body-content {
        padding-top: 50px;
    }

    .checkbox {
        padding: 0;
        margin: 0;
    }

    .dropdown-menu {
        overflow: auto !important;
    }

    .form-group div {
        display: inline-block;
        margin-right: 10px;
    }
</style>

<script>
   // var app = angular.module("KendoDemos", ["kendo.directives"]);
    var app = angular.module('MyApp', ['angularjs-dropdown-multiselect']);
    app.controller('MyCtrl', ['$scope', '$http', function ($scope, $http) {
        //define object 
        $scope.CategoriesSelected = [];
        $scope.Categories = [];
        $scope.dropdownSetting = {
            scrollable: true,
            scrollableHeight: '200px'
        }
        //fetch data from database for show in multiselect dropdown
        $http.get('/Question/getcategories').then(function (data) {
            angular.forEach(data.data, function (value, index) {
                $scope.Categories.push({ id: value.CategoryID, label: value.CategoryName });
            });
        })
        //post or submit selected items from multiselect dropdown to server
        $scope.SubmittedCategories = [];
        $scope.SubmitData = function () {
            var categoryIds = [];
            angular.forEach($scope.CategoriesSelected, function (value, index) {
                categoryIds.push(value.id);
            });

            var data = {
                categoryIds: categoryIds
            };

            $http({
                method: "POST",
                url: "/Question/savedata",
                data: JSON.stringify(data)
            }).then(function (data) {
                $scope.SubmittedCategories = data.data;
            }, function (error) {
                alert('Error');
            })
        }
    }])
</script>

<div ng-app="MyApp" ng-controller="MyCtrl">
    <div class="container" style="margin:50px">
        <form class="form-inline" name="myForm" role="form" ng-submit="SubmitData()">
            <div class="form-group">
                <label>Subscribe for categories : </label>
                @* Directive *@
                <div ng-dropdown-multiselect="" extra-settings="dropdownSetting"
                     options="Categories" selected-model="CategoriesSelected" checkboxes="true"></div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        @* Show posted categories (from server) *@
        <div style="margin-top:40px" ng-if="SubmittedCategories.length > 0">
            <h2>Selected Categories</h2>
            <table class="table table-responsive table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Category Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cat in SubmittedCategories">
                        <td>{{cat.CategoryID}}</td>
                        <td>{{cat.CategoryName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>