﻿
<!DOCTYPE html>
<html>
<head>
    <link href="~/select2/select2.min.css" rel="stylesheet" />
    <link href="~/content/bootstrap.css" rel="stylesheet" />
    <link href="~/content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.common.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.rtl.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.silver.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="~/content/datepicker3.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../Newjs/jquery-1.12.4.min.js"></script>
    <script src="~/masters/bootstrap.min.js"></script>
    <script src="~/select2/select2.min.js"></script>
    <script src="~/select2/select2.full.js"></script>
    <script src="~/Scripts/anjular(1.5.0).min.js"></script>
    <script src="~/masters/angular.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/Scripts/ng-file-upload.min.js"></script>
    <script src="~/masters/dirpagination.js"></script>
    <script type="text/javascript" src="../../Newjs/kendo.all.min.js"></script>
    <script type="text/javascript" src="../../Newjs/jszip.min.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls.js"></script>
    <script src="~/js/lodash.js"></script>
    <script src="~/js/angularjs-dropdown-multiselect.min.js"></script>
    <style type="text/css">
        .div.k-grid-footer, div.k-grid-header {
            border-top-style: solid;
            border-top-width: 1px;
        }

        .k-state-default > .k-select {
            border-color: #ceced2;
            margin-top: -6px;
        }

        .k-pager-wrap > .k-link > .k-icon {
            margin-top: -2px !important;
            color: inherit;
        }

        .btn .caret {
            margin-left: 170px;
        }

        ul.dropdown-menu.dropdown-menu-form.ng-scope {
            width: 280px;
        }

        .btn-default {
            color: #333;
            background-color: #fff;
            border-color: #ccc;
            height: 28px;
            padding-top: 3px;
            width: 280px;
            padding-right: 116px;
            /*margin-left: 50px;*/
        }

        .dropdown-menu .divider {
            height: 1px;
            margin: 3px 0;
            overflow: hidden;
            background-color: #e5e5e5;
        }

        html {
            color: #666666;
            font-size: 15px;
            font-weight: normal;
            font-family: 'Roboto',sans-serif;
        }

        .modal-content {
            position: relative;
            background-color: #fff;
            border: 1px solid #999;
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 6px;
            outline: 0;
            -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
            box-shadow: 0 3px 9px rgba(0,0,0,0.5);
            background-clip: padding-box;
            height: 369px;
        }

        .select2-container--open .select2-dropdown {
            left: 0;
            /*margin-left: -66px;*/
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: grey !important;
            line-height: 28px;
            /*margin-right: 48px;*/
            text-align: left;
        }

        .select2-container {
            box-sizing: border-box;
            display: inline-block;
            margin: 0;
            position: relative;
            vertical-align: middle;
        }

        .k-checkbox-label, .k-radio-label {
            display: inline;
        }

        .myKendoCustomClass {
            z-index: 999 !important;
        }

        .k-header .k-grid-toolbar {
            background: white;
            float: left;
            width: 100%;
        }

        .k-grid td {
            line-height: 1.0em;
        }

        .k-i-more-vertical:before {
            content: "\e006";
        }

        .k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
            background-color: #1fd9e1;
            background-image: none;
        }

        k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
            color: #000000;
            border-color: #1fd9e1;
            background-color: #f6f6f6;
        }

        #grid .k-grid-toolbar {
            background: white;
        }


        .k-pager-wrap > .k-link > .k-icon {
            margin-top: 5px;
            color: inherit;
        }

        .toolbar {
            float: left;
        }

        html .k-grid tr:hover {
            background: #E4F7FB;
        }

        html .k-grid tr.k-alt:hover {
            background: #E4F7FB;
            min-height: 30px;
        }

        .k-grid tbody .k-button {
            min-width: 30px;
            min-height: 30px;
            border-radius: 35px;
        }

        .k-button-icontext .k-icon, .k-button-icontext .k-image, .k-button-icontext .k-sprite {
            margin-right: 0px;
            margin-right: 0px;
            margin-left: 0px;
            margin-left: 0px;
        }

        .k-auto-scrollable {
            overflow: hidden;
        }

        .k-grid-header {
            padding-right: 0px !important;
        }

        .k-multicheck-wrap .k-item {
            line-height: 1.2em;
            font-size: 14px;
            margin-bottom: 5px;
        }

        label {
            display: inline-block;
            margin-bottom: 0px;
        }

        .k-filter-menu .k-button {
            width: 27%;
        }

        .k-label input[type="checkbox"] {
            margin: 0px 5px 0 !important;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            font-size: 15px;
            background: #f8f8f8;
            font-family: 'Roboto',sans-serif;
            color: #2b2b2b;
            font-weight: 400;
        }

        .k-primary {
            border-color: #1fd9e1;
            background-color: #1fd9e1;
        }

        .k-pager-wrap {
            background-color: #f8f8f8;
            color: #2b2b2b;
        }

        td.k-command-cell {
            border-width: 0 1px 0 1px;
        }

        .k-grid-pager {
            border-width: 1px 1px 1px 1px;
        }

        span.k-icon.k-i-calendar {
            margin-top: 6px;
        }

        .col-md-2 {
            width: 20%;
        }

        .k-filter-row > th:first-child, .k-grid tbody td:first-child, .k-grid tfoot td:first-child, .k-grid-header th.k-header:first-child {
            border-left-width: 1px;
            line-height: 14px;
        }

        .k-grid tbody tr {
            height: 38px;
        }

        .select2-container .select2-selection--single {
            box-sizing: border-box;
            cursor: pointer;
            display: block;
            height: 35px !important;
            user-select: none;
            -webkit-user-select: none;
        }
    </style>


    <script>

        var app = angular.module("KendoDemos", ['ngFileUpload', 'angularUtils.directives.dirPagination', "kendo.directives"]);
        angular.element(document).ready(function () {
            //angular.bootstrap(document, ["app"]);
        })
        app.directive("select2", function ($timeout, $parse, $window) {
            return {
                restrict// Code goes here
            : 'AC',
                require: 'ngModel',
                link: function (scope, element, attrs) {
                    console.log(attrs);
                    $timeout(function () {
                        element.select2();
                        element.select2Initialized = true;
                    });

                    var refreshSelect = function () {
                        if (!element.select2Initialized) return;
                        $timeout(function () {
                            element.trigger('change');
                        });
                    };

                    var recreateSelect = function () {
                        if (!element.select2Initialized) return;
                        $timeout(function () {
                            element.select2('destroy');
                            element.select2();
                        });
                    };

                    scope.$watch(attrs.ngModel, refreshSelect);

                    if (attrs.ngOptions) {
                        var list = attrs.ngOptions.match(/ in ([^ ]*)/)[1];
                        // watch for option list change
                        scope.$watch(list, recreateSelect);
                    }

                    if (attrs.ngDisabled) {
                        scope.$watch(attrs.ngDisabled, refreshSelect);
                    }
                }
            };
        });
        app.controller("MyCtrl", function ($scope, $http, myService, $window) {
            $scope.services = [
           { ServiceID: 1, ServiceName: '<' },
           { ServiceID: 2, ServiceName: '>' },
           { ServiceID: 3, ServiceName: '=' }
            ];


            $scope.IsValid = null;
            $scope.form = false;
            $scope.form1 = false;
            $scope.editminus = false;
            $scope.tabs = false;
            $scope.addplus = true;
            $scope.addminus = false;
            $scope.tables = false;
            $scope.ShowLoader = false;

            $scope.questionanswers = [];
            GetQuestions();
            function GetQuestions() {
                $scope.questionanswers = [];
                $http({
                    method: 'Get',
                    url: '../Question/GetQuestionsDropDown',
                }).success(function (data, status, headers, config) {
                    $scope.questionanswers = data;
                    $scope.QuestionID = -1;
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }
            Bindgrid();
            function Bindgrid() {
                debugger;
                $http({

                    method: 'Get',
                    url: '../Question/getAll1',
                    //url: '../Question/getAllCompliances',
                    //params: { actid: JSON.stringify(val) }
                }).success(function (data, status, headers, config) {
                    debugger;

                    $scope.salesexpanses = [];
                    for (var i = 0; i < data.length; i++) {
                        var time = {};

                        time.ActID = data[i].ActID;
                        time.ActName = data[i].ActName;
                        time.ComplianceID = data[i].ComplianceID;
                        time.Sections = data[i].Sections;
                        time.Compliancedec = data[i].Compliancedec;
                        time.Question = data[i].Question;
                        time.typeofquestion = data[i].typeofquestion;
                        time.IsEQNotEQLessorGreater = data[i].IsEQNotEQLessorGreater;
                        time.Answer = data[i].Answer;
                        time.disabledValuedropdown = data[i].disabledValuedropdown;
                        time.disabledValuetextbox = data[i].disabledValuetextbox;
                        time.disabledRange = data[i].disabledRange;
                        $scope.salesexpanses.push(time);
                        debugger;
                    }

                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }

            $scope.onChanges = function (val, testItem) {
                debugger;
                $scope.datamasters = [];
                if (val != undefined) {
                    $http({
                        method: 'Get',
                        url: '../Question/GetControllsfromQuestion',
                        params: { qID: val }
                    }).success(function (data, status, headers, config) {
                        debugger;
                        $scope.datamasters = data;
                        if (data["ControlId"] == 1) {
                            testItem.disabledValuedropdown = 0;
                            testItem.disabledValuetextbox = 1;
                            testItem.disabledRange = 0;
                            testItem.ServiceID = -1;
                            testItem.txtvalue = "";
                            testItem.min = "";
                            testItem.max = "";
                            $scope.ControlId = 1;
                        }
                        else if (data["ControlId"] == 2) {
                            testItem.disabledValuedropdown = 0;
                            testItem.disabledValuetextbox = 1;
                            testItem.disabledRange = 0;
                            testItem.ServiceID = -1;
                            testItem.txtvalue = "";
                            testItem.min = "";
                            testItem.max = "";
                            $scope.ControlId = 2;
                        }
                        else if (data["ControlId"] == 3) {

                            testItem.disabledValuedropdown = 0;
                            testItem.disabledValuetextbox = 0;
                            testItem.disabledRange = 1;
                            testItem.ServiceID = -1;
                            testItem.txtvalue = "";
                            testItem.min = "";
                            testItem.max = "";
                            $scope.ControlId = 3;
                        }
                        else if (data["ControlId"] == 4) {

                            testItem.disabledValuedropdown = 1;
                            testItem.disabledValuetextbox = 1;
                            testItem.disabledRange = 0;
                            testItem.ServiceID = -1;
                            testItem.txtvalue = "";
                            testItem.min = "";
                            testItem.max = "";
                            $scope.ControlId = 4;
                        }
                        else {
                            testItem.disabledValuedropdown = 0;
                            testItem.disabledValuetextbox = 0;
                            testItem.disabledRange = 0;
                            $scope.ControlId = -1;
                        }
                    });
                } else {
                    debugger;
                    testItem.disabledValuedropdown = 0;
                    testItem.disabledValuetextbox = 0;
                    testItem.disabledRange = 0;
                    $scope.ControlId = -1;
                }
            };


            $scope.sort = function (keyname) {
                $scope.sortKey = keyname;
                $scope.reverse = !$scope.reverse;
            }

            //Back Functionality
            $scope.close = function () {
                $scope.DisplayForm = false;
                $scope.tabs = false;
                $scope.adtabls = false;
                $scope.form = false;
                $scope.form1 = false;
                $scope.addminus = false;
                $scope.addplus = true;
                $scope.editminus = false;
                clearFields();
                $scope.DisplayForm = false;
                // Reset Error.
                $scope.userForm.$setPristine();
            }
            //cancel Functionality
            $scope.cancel = function () {
                $scope.DisplayForm = false;
                $scope.tabs = false;
                $scope.adtabls = false;
                $scope.form = false;
                $scope.form1 = false;
                $scope.addminus = false;
                $scope.addplus = true;
                $scope.editminus = false;
                clearFields();
                $scope.DisplayForm = false;
                loadPaytypes();
                // Reset Error.
                $scope.userForm.$setPristine();
            }
            //clear Fileds
            function clearFields() {
                $scope.IsRecoverable = false;
                $scope.displaydraft = true;
                $scope.displayComment = false;
                $scope.Disabled = true;
                $scope.ControlId = -1;
                $scope.userForm.$setPristine();
            }
            $scope.remove2 = function (index, ATTD_Id) {
                var pId = ATTD_Id;
                if ($window.confirm("Do you want to delete? ")) {
                    $scope.attendances[index].punchtimes.splice(ATTD_Id, 1);
                }
            }
            $scope.DeletedTranscationDetails = [];
            //delete punch items
            $scope.DeletedTranscationDetail = function (salesexpanse) {               
                var index = $scope.salesexpanses.indexOf(salesexpanse);                
                if ($window.confirm("Do you want to delete? ")) {
                    $scope.salesexpanses.splice(index, 1);
                }
            }
            $scope.Addrow = function (salesexpanse) {
                var time = {};
                time.ActID = salesexpanse.ActID;
                time.ActName = salesexpanse.ActName;
                time.ComplianceID = salesexpanse.ComplianceID;
                time.Sections = salesexpanse.Sections;
                time.Compliancedec = salesexpanse.Compliancedec;
                time.Question = salesexpanse.Question;
                time.typeofquestion = salesexpanse.typeofquestion;
                time.IsEQNotEQLessorGreater = salesexpanse.IsEQNotEQLessorGreater;
                time.Answer = salesexpanse.Answer;
                time.disabledValuedropdown = 0;
                time.disabledValuetextbox = 0;
                time.disabledRange = 0;
                $scope.salesexpanses.push(time);
            };
            $scope.Updaterow = function (salesexpanse) {
                debugger;
                $scope.userForm.$setPristine();
                var detail = {};
                detail.Id = 0;
                detail.ActID = salesexpanse.ActID;
                detail.ComplianceID = salesexpanse.ComplianceID;
                detail.QuestionID = salesexpanse.QuestionID;
                detail.ControlId = $scope.ControlId;
                if ($scope.ControlId == 4) {
                    detail.ServiceID = salesexpanse.ServiceID;
                    detail.AnswerValue = salesexpanse.txtvalue;
                    detail.AnsweSingleMulti = 0;
                }
                else {
                    detail.ServiceID = -1;
                    detail.AnswerValue = 0;
                    detail.AnsweSingleMulti = salesexpanse.txtvalue;
                }
                if (salesexpanse.min == "") {
                    detail.min = 0;
                }
                else {
                    detail.min = salesexpanse.min;
                }
                if (salesexpanse.max == "") {
                    detail.max = 0;
                }
                else {
                    detail.max = salesexpanse.max;
                }
                var getData = myService.updateActivity(detail);
                getData.then(function (msg) {
                    debugger;
                    $scope.msg = msg.data;
                    if (msg.data == "Details save Successfully!") {
                        clearFields();
                        Bindgrid();
                        $scope.ShowLoader = false;
                        $scope.DisplayForm = false;
                        $scope.addminus = false;
                        $scope.addplus = true;
                        $scope.editminus = false;
                        $scope.DeleteAlert = false;
                        $scope.AddAlert = false;
                        $scope.EditAlert = true;
                        $scope.IsValid = true;
                    }
                    else if (msg.data == "Question name already exists") {
                        clearFields();
                        Bindgrid();
                        $scope.ShowLoader = false;
                        $scope.DisplayForm = false;
                        $scope.addminus = false;
                        $scope.addplus = true;
                        $scope.editminus = false;
                        $scope.DeleteAlert = false;
                        $scope.AddAlert = false;
                        $scope.EditAlert = true;
                        $scope.IsValid = true;
                    }
                }, function (msg) {
                    $scope.msg = msg.data;
                });
            };



        });


        app.service("myService", function ($http) {
            // Update Activity by Id
            this.updateActivity = function (activitie) {
                var response = $http({
                    method: "post",
                    url: "../Question/AddQuestionActComplianceMapping",
                    data: JSON.stringify(activitie),
                    dataType: "json"
                });
                return response;
            }
            // Add Activity by Id
            this.AddActivity = function (activitie) {
                var response = $http({
                    method: "post",
                    url: "../Question/AddActivity",
                    data: JSON.stringify(activitie),
                    dataType: "json"
                });

                return response;
            }
        });


    </script>

    <style>
        .container {
            max-width: 1450px;
        }
    </style>
    <style>
        .active {
            background: yellow;
            border: 1px solid;
        }

        #div3, #div4 {
            width: 190px;
            float: left;
        }

        #div1 {
            width: 68px;
            float: left;
        }

        #div2 {
            width: 320px;
            float: left;
        }

        .main1 {
            border-radius: 5px;
            float: left;
        }


        .main2 {
            border-radius: 5px;
            float: left;
            width:200px;
        }

        #div5 {
            width: 63px;
            float: left;
        }

        #div6 {
            width: 68px;
            float: left;
        }
         #div7 {
            width: 68px;
            float: left;
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="example" ng-app="KendoDemos">
            <div ng-controller="MyCtrl">
                <div class="alert alert-danger" ng-show="DeleteAlert" ng-model="delete">
                    <strong>{{delete}}</strong>
                </div>
                <div class="alert alert-success" ng-show="AddAlert" ng-model="add">
                    <strong>{{msg}}</strong>
                </div>
                <div class="alert alert-info" ng-show="EditAlert" ng-model="edit">
                    <strong>{{msg}}</strong>
                </div>
              
                <div>
                    <div id="wrapper" class="clearfix" scroll-bookmark="bookmark" style="margin-top: 26px;">
                        <form name="userForm" novalidate>

                            <input type="hidden" ng-model="TransactionID" />
                            <div class="form-group"></div>
                            <div>
                                <div id="table">
                                    <div class="table-responsive " style="" scroll-bookmark="bookmark2">
                                        <table id="tblOrders" cellpadding="12" class="table table-bordered table-hover table-striped display nowrap" style="margin-left: 0px; margin-right: 0px;">

                                            <thead style="background-color:#6db6ec;color:white;font-size:12px;">
                                                <tr>
                                                    <th ng-click="sort('ActID')"><b>ActID</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='ActID'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                    <th style="cursor: pointer;" ng-click="sort('ActName')"><b>ActName</b><span class="glyphicon sort-icon" ng-show="sortKey=='ActName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                    <th ng-click="sort('ComplianceID')"><b>ComplianceID</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='ComplianceID'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                    <th ng-click="sort('Sections')"><b>Sections</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Sections'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                    <th ng-click="sort('Compliancedec')"><b>Compliance Shortdescription</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Compliancedec'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                    <th ng-click="sort('Question')"><b>Question</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Question'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                    <th ng-click="sort('Answers')"><b>Answers</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Answers'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>

                                            <tbody dir-paginate="salesexpanse in salesexpanses|orderBy:'ComplianceID'|filter:search|itemsPerPage:15" ng-model="search">
                                                <tr>
                                                    <td style="font-size:12px; width:50px">
                                                        {{salesexpanse.ActID}}
                                                    </td>
                                                    <td style="font-size:12px ; width:150px">
                                                        {{salesexpanse.ActName}}
                                                    </td>

                                                    <td style="font-size:12px; width:50px;">
                                                        {{salesexpanse.ComplianceID}}
                                                    </td>
                                                    <td style="font-size:12px; width:50px;">
                                                        {{salesexpanse.Sections}}
                                                    </td>
                                                    <td style="font-size:12px; width:150px;">
                                                        {{salesexpanse.Compliancedec}}
                                                    </td>
                                                    <td>
                                                        <select class="form-control" style="display: inline; width: 252px;" select2="" name="QuestionID" ng-model="salesexpanse.QuestionID"
                                                                containerCssClass="all" ng-options="r.ID as r.QuestionName for r in questionanswers" ng-change="onChanges(salesexpanse.QuestionID,salesexpanse)"
                                                                ng-disabled="disabled" required>
                                                            <option value="">Select Question</option>
                                                        </select>
                                                    </td>
                                                    <td>

                                                        <div class="main1" style="width:400px;">
                                                            <div id="div1" ng-show="salesexpanse.disabledValuedropdown">
                                                                <select name="service_id" class="form-control"
                                                                        style="display: inline; padding: 2px; width:70px;" select2=""
                                                                        ng-model="salesexpanse.ServiceID"
                                                                        ng-options="service.ServiceID as service.ServiceName for service in services"
                                                                        required>
                                                                    <option value="">Select</option>
                                                                </select>

                                                            </div>
                                                            <div id="div2" style="margin-left:10px;">
                                                                <input ng-show="salesexpanse.disabledValuetextbox" type="text" style="display: inline;color:#333; width: 300px;height: 35px;"
                                                                       class="form-control" name="txtvalue" ng-model="salesexpanse.txtvalue" required />
                                                                <p style="color:red" ng-show="userForm.txtvalue.$error.required  && !userForm.txtvalue.$pristine" class="help-block"> Value is required.</p>
                                                            </div>
                                                            <div id="div3">
                                                                <label ng-show="salesexpanse.disabledRange">Min:</label>
                                                                <input ng-show="salesexpanse.disabledRange" name="minnumber"
                                                                       style="display: inline;color:#333; width:150px;height: 35px;" class="form-control" type="number" ng-model="salesexpanse.min">
                                                                <p style="color:red" ng-show="userForm.min.$error.required  && !userForm.min.$pristine" class="help-block"> Value is required.</p>
                                                            </div>
                                                            <div id="div4">
                                                                <label ng-show="salesexpanse.disabledRange">Max:</label>
                                                                <input ng-show="salesexpanse.disabledRange" name="maxnumber" style="display: inline;color:#333; width:150px;height: 35px;"
                                                                       class="form-control" type="number" ng-model="salesexpanse.max">
                                                                <p style="color:red" ng-show="userForm.max.$error.required  && !userForm.max.$pristine" class="help-block"> Value is required.</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="main2">
                                                            <div id="div5">
                                                                <button type="button" class="btn btn-primary btn-sm" ng-click="Addrow(salesexpanse)">
                                                                    <span class="glyphicon glyphicon-plus"></span>
                                                                </button>
                                                            </div>
                                                            <div id="div6">
                                                                <button type="button" class="btn btn-primary btn-sm" ng-click="Updaterow(salesexpanse)">
                                                                    <span class="glyphicon glyphicon-floppy-saved"></span>
                                                                </button>
                                                            </div>
                                                            <div id="div7">
                                                                <button class="btn btn-primary btn-sm"
                                                                        ng-click="DeletedTranscationDetail(salesexpanse);">
                                                                    <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </td>
                                            </tbody>
                                        </table>
                                        <dir-pagination-controls max-size="10"
                                                                 direction-links="true"
                                                                 boundary-links="true">
                                        </dir-pagination-controls>
                                    </div>
                                </div>
                            </div>
                            <div style="display:none;">
                                <div class="form-group" style="width: 120%; text-align: center; padding: 10px;">
                                    <div class="col-md-offset-2 col-md-5">
                                        <p>
                                            <button class="btn btn-primary btn-sm" ng-show="displaydraft" ng-click="Save(userForm.$valid);Delete()">{{Action}}</button>
                                            <button class="btn btn-primary btn-sm" ng-click="Save1(userForm.$valid);Delete()">Submit for Approval</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
