﻿
<!DOCTYPE html>
<html>
<head>
    <link href="~/select2/select2.min.css" rel="stylesheet" />
    <link href="~/content/bootstrap.css" rel="stylesheet" />
    <link href="~/content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.common.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.rtl.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.silver.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="~/content/datepicker3.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../Newjs/jquery-1.12.4.min.js"></script>
    <script src="~/masters/bootstrap.min.js"></script>
    <script src="~/select2/select2.min.js"></script>
    <script src="~/select2/select2.full.js"></script>
    <script src="~/Scripts/anjular(1.5.0).min.js"></script>
    <script src="~/masters/angular.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/Scripts/ng-file-upload.min.js"></script>
    <script src="~/masters/dirpagination.js"></script>
    <script type="text/javascript" src="../../Newjs/kendo.all.min.js"></script>
    <script type="text/javascript" src="../../Newjs/jszip.min.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls.js"></script>
    <script src="~/js/lodash.js"></script>
    <script src="~/js/angularjs-dropdown-multiselect.min.js"></script>
    <style type="text/css">
        .div.k-grid-footer, div.k-grid-header {
            border-top-style: solid;
            border-top-width: 1px;
        }

        .k-state-default > .k-select {
            border-color: #ceced2;
            margin-top: -6px;
        }

        .k-pager-wrap > .k-link > .k-icon {
            margin-top: -2px !important;
            color: inherit;
        }

        .btn .caret {
            margin-left: 170px;
        }

        ul.dropdown-menu.dropdown-menu-form.ng-scope {
            width: 280px;
        }

        .btn-default {
            color: #333;
            background-color: #fff;
            border-color: #ccc;
            height: 28px;
            padding-top: 3px;
            width: 280px;
            padding-right: 116px;
            /*margin-left: 50px;*/
        }

        .dropdown-menu .divider {
            height: 1px;
            margin: 3px 0;
            overflow: hidden;
            background-color: #e5e5e5;
        }

        html {
            color: #666666;
            font-size: 15px;
            font-weight: normal;
            font-family: 'Roboto',sans-serif;
        }

        .modal-content {
            position: relative;
            background-color: #fff;
            border: 1px solid #999;
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 6px;
            outline: 0;
            -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
            box-shadow: 0 3px 9px rgba(0,0,0,0.5);
            background-clip: padding-box;
            height: 369px;
        }

        .select2-container--open .select2-dropdown {
            left: 0;
            /*margin-left: -66px;*/
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: grey !important;
            line-height: 28px;
            /*margin-right: 48px;*/
            text-align: left;
        }

        .select2-container {
            box-sizing: border-box;
            display: inline-block;
            margin: 0;
            position: relative;
            vertical-align: middle;
        }

        .k-checkbox-label, .k-radio-label {
            display: inline;
        }

        .myKendoCustomClass {
            z-index: 999 !important;
        }

        .k-header .k-grid-toolbar {
            background: white;
            float: left;
            width: 100%;
        }

        .k-grid td {
            line-height: 1.0em;
        }

        .k-i-more-vertical:before {
            content: "\e006";
        }

        .k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
            background-color: #1fd9e1;
            background-image: none;
        }

        k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
            color: #000000;
            border-color: #1fd9e1;
            background-color: #f6f6f6;
        }

        #grid .k-grid-toolbar {
            background: white;
        }


        .k-pager-wrap > .k-link > .k-icon {
            margin-top: 5px;
            color: inherit;
        }

        .toolbar {
            float: left;
        }

        html .k-grid tr:hover {
            background: #E4F7FB;
        }

        html .k-grid tr.k-alt:hover {
            background: #E4F7FB;
            min-height: 30px;
        }

        .k-grid tbody .k-button {
            min-width: 30px;
            min-height: 30px;
            border-radius: 35px;
        }

        .k-button-icontext .k-icon, .k-button-icontext .k-image, .k-button-icontext .k-sprite {
            margin-right: 0px;
            margin-right: 0px;
            margin-left: 0px;
            margin-left: 0px;
        }

        .k-auto-scrollable {
            overflow: hidden;
        }

        .k-grid-header {
            padding-right: 0px !important;
        }

        .k-multicheck-wrap .k-item {
            line-height: 1.2em;
            font-size: 14px;
            margin-bottom: 5px;
        }

        label {
            display: inline-block;
            margin-bottom: 0px;
        }

        .k-filter-menu .k-button {
            width: 27%;
        }

        .k-label input[type="checkbox"] {
            margin: 0px 5px 0 !important;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            font-size: 15px;
            background: #f8f8f8;
            font-family: 'Roboto',sans-serif;
            color: #2b2b2b;
            font-weight: 400;
        }

        .k-primary {
            border-color: #1fd9e1;
            background-color: #1fd9e1;
        }

        .k-pager-wrap {
            background-color: #f8f8f8;
            color: #2b2b2b;
        }

        td.k-command-cell {
            border-width: 0 1px 0 1px;
        }

        .k-grid-pager {
            border-width: 1px 1px 1px 1px;
        }

        span.k-icon.k-i-calendar {
            margin-top: 6px;
        }

        .col-md-2 {
            width: 20%;
        }

        .k-filter-row > th:first-child, .k-grid tbody td:first-child, .k-grid tfoot td:first-child, .k-grid-header th.k-header:first-child {
            border-left-width: 1px;
            line-height: 14px;
        }

        .k-grid tbody tr {
            height: 38px;
        }

        .select2-container .select2-selection--single {
            box-sizing: border-box;
            cursor: pointer;
            display: block;
            height: 35px !important;
            user-select: none;
            -webkit-user-select: none;
        }

        .container {
            max-width: 3000px;
        }

        #div3, #div4 {
            width: 190px;
            float: left;
        }

        #div1 {
            width: 68px;
            float: left;
        }

        #div2 {
            width: 320px;
            float: left;
        }

        .main1 {
            border-radius: 5px;
            float: left;
        }

        .main2 {
            border-radius: 5px;
            float: left;
            width: 130px;
        }

        #div5 {
            width: 40px;
            float: left;
        }

        #div6 {
            width: 40px;
            float: left;
        }

        #div7 {
            width: 40px;
            float: left;
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="example" ng-app="KendoDemos">
            <div ng-controller="MyCtrl">

                <div class="row">
                    <div class="col-md-12">
                        <div style="float: left; margin: 5px; width: 130px;">
                            <label for="lblQuestion" style="color:dimgray;">ACT</label>
                        </div>
                        <div style="width: 50%; float: left; margin: 5px">
                            <select class="form-control" style="display: inline; width: 400px;" select2="" name="ActID" ng-model="ActID"
                                    containerCssClass="all" ng-options="r.ID as r.Name for r in actslist" ng-change="onTopactChanges(ActID)"
                                    ng-disabled="disabled" required>
                                <option value="">Select Act</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="alert alert-danger" ng-show="DeleteAlert" ng-model="delete">
                    <strong>{{delete}}</strong>
                </div>
                <div class="alert alert-success" ng-show="AddAlert" ng-model="add">
                    <strong>{{msg}}</strong>
                </div>
                <div class="alert alert-info" ng-show="EditAlert" ng-model="edit">
                    <strong>{{msg}}</strong>
                </div>
                <br />

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab1" (click)="DoSomeActionForTab1()">Tagged</a></li>
                    <li><a data-toggle="tab" href="#tab2" (click)="DoSomeActionForTab2()">UnTagged</a></li>
                </ul>

                <div class="tab-content">
                    <div id="tab1" class="tab-pane fade in active">
                        @*Tagged*@
                        <div>
                            <div id="wrapper" class="clearfix" scroll-bookmark="bookmark">
                                <form name="userForm" novalidate>
                                    <div class="form-group"></div>
                                    <div>
                                        <div id="table">
                                            <div class="table-responsive " style="" scroll-bookmark="bookmark2">
                                                <table id="tblOrders" cellpadding="12" class="table table-bordered table-hover table-striped display nowrap" style="margin-left: 0px; margin-right: 0px;">

                                                    <thead style="background-color:#6db6ec;color:white;font-size:12px;">
                                                        <tr>
                                                            <th align="left">
                                                                <label>
                                                                    <input type="checkbox" ng-model="TaggedIsAllChecked" ng-change="TaggedCheckUncheckAll()" />
                                                                    Select All
                                                                </label>
                                                            </th>
                                                            <th ng-click="sort('TaggedActID')">
                                                                <b>ActID</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='TaggedActID'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                <input type="text" ng-model="TaggedActID" style="display: inline;color:#333; width: 100px;height: 35px;" class="form-control" />
                                                            </th>
                                                            <th style="cursor: pointer;" ng-click="sort('TaggedActName')">
                                                                <b>ActName</b><span class="glyphicon sort-icon" ng-show="sortKey=='TaggedActName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                <input type="text" ng-model="TaggedActName" style="display: inline;color:#333; width: 300px;height: 35px;" class="form-control" />
                                                            </th>
                                                            <th ng-click="sort('TaggedComplianceID')">
                                                                <b>ComplianceID</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='TaggedComplianceID'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                <input type="text" ng-model="TaggedComplianceID" style="display: inline;color:#333; width: 100px;height: 35px;" class="form-control" />
                                                            </th>
                                                            <th ng-click="sort('TaggedSections')">
                                                                <b>Sections</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='TaggedSections'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                <input type="text" ng-model="TaggedSections" style="display: inline;color:#333; width: 200px;height: 35px;" class="form-control" />
                                                            </th>
                                                            <th ng-click="sort('TaggedComplianceShortDescription')">
                                                                <b>Compliance Shortdescription</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='TaggedComplianceShortDescription'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                <input type="text" ng-model="TaggedComplianceShortDescription" style="display: inline;color:#333; width: 300px;height: 35px;" class="form-control" />
                                                            </th>
                                                            <th ng-click="sort('TaggedQuestionID')"><b>Question</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='TaggedQuestionID'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                            <th style="width: 100px;" ng-click="sort('Answers')"><b>Answers</b>   <span class="glyphicon sort-icon" ng-show="sortKey=='Answers'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                            <th>License / Registration (Y/N)</th>
                                                            <th>License / Registration</th>
                                                            <th>Activity Categorization</th>
                                                            <th>Activity Sub-Categorization</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody dir-paginate="AllTaggedCompliance in AllTaggedCompliances|orderBy:'TaggedComplianceID'|filter:TaggedComplianceID | filter:TaggedComplianceShortDescription | filter:TaggedActName | filter:TaggedActID | filter:TaggedSections |itemsPerPage:10" ng-model="search">
                                                        <tr>
                                                            <td style="font-size:12px;">
                                                                <label for="chkUpdateTagged_{{AllTaggedCompliance}}">
                                                                    <input id="chkUpdateTagged__{{AllTaggedCompliance.TaggedQACMMappingID}}" type="checkbox"
                                                                           ng-model="AllTaggedCompliance.TaggedSelected" ng-change="TaggedCheckUncheckHeader()" />
                                                                    <p style="display:none;">
                                                                        {{AllTaggedCompliance.TaggedQACMMappingID}}
                                                                    </p>
                                                                </label>
                                                                <input type="hidden" ng-model="AllTaggedCompliance.TaggedActID" />
                                                                <input type="hidden" ng-model="AllTaggedCompliance.TaggedQuestionID" />
                                                                <input type="hidden" ng-model="AllTaggedCompliance.TaggedServiceID" />
                                                                <input type="hidden" ng-model="AllTaggedCompliance.TaggedIslicenseID" />
                                                                <input type="hidden" ng-model="AllTaggedCompliance.TaggedLicenseTypeID" />
                                                                <input type="hidden" ng-model="AllTaggedCompliance.TaggedCategoryID" />
                                                                <input type="hidden" ng-model="AllTaggedCompliance.TaggedSubCategoryID" />
                                                                <div style="display:none;">
                                                                    {{AllTaggedCompliance.TaggedSelected}}
                                                                </div>
                                                            </td>

                                                            <td style="font-size:12px; width:50px">
                                                                {{AllTaggedCompliance.TaggedActID }}
                                                            </td>
                                                            <td style="font-size:12px ; width:150px">
                                                                {{AllTaggedCompliance.TaggedActName}}
                                                            </td>

                                                            <td style="font-size:12px; width:50px;">
                                                                {{AllTaggedCompliance.TaggedComplianceID}}
                                                            </td>
                                                            <td style="font-size:12px; width:50px;">
                                                                {{AllTaggedCompliance.TaggedSections}}
                                                            </td>
                                                            <td style="font-size:12px; width:150px;">
                                                                {{AllTaggedCompliance.TaggedComplianceShortDescription}}
                                                            </td>
                                                            <td>
                                                                <select class="form-control" style="display: inline; width: 252px;" select2="" name="TaggedQuestionID" ng-model="AllTaggedCompliance.TaggedQuestionID"
                                                                        containerCssClass="all" ng-options="r.ID as r.QuestionName for r in Taggedquestionanswers"
                                                                        ng-change="onTaggedQuestionChanges(AllTaggedCompliance.TaggedQuestionID,AllTaggedCompliance)"
                                                                        ng-disabled="disabled" required>
                                                                    <option value="">Select Question</option>
                                                                </select>
                                                            </td>
                                                            <td>

                                                                <div class="main1" style="width:400px;">
                                                                    <div id="div1" ng-show="AllTaggedCompliance.TaggeddisabledValuedropdown">
                                                                        <select name="TaggedServiceID" class="form-control"
                                                                                style="display: inline; padding: 2px; width:70px;" select2=""
                                                                                ng-model="AllTaggedCompliance.TaggedServiceID"
                                                                                ng-options="service.ServiceID as service.ServiceName for service in services"
                                                                                required>
                                                                            <option value="">Select</option>
                                                                        </select>

                                                                    </div>
                                                                    <div id="div2">
                                                                        <input ng-show="AllTaggedCompliance.TaggeddisabledValuedropdown" type="text" style="margin-left: 10px; display: inline;color:#333; width: 300px;height: 35px;"
                                                                               class="form-control" name="TaggedAnswer" ng-model="AllTaggedCompliance.TaggedAnswer" required />
                                                                        <p style="color:red" ng-show="userForm.TaggedAnswer.$error.required  && !userForm.TaggedAnswer.$pristine"
                                                                           class="help-block">Value is required.</p>

                                                                        <input ng-show="AllTaggedCompliance.TaggeddisabledValuetextbox" type="text" style="display: inline;color:#333; width: 380px;height: 35px;"
                                                                               class="form-control" name="TaggedAnswerSingleMultiple"
                                                                               ng-model="AllTaggedCompliance.TaggedAnswerSingleMultiple" required />
                                                                        <p style="color:red" ng-show="userForm.TaggedAnswerSingleMultiple.$error.required  && !userForm.TaggedAnswerSingleMultiple.$pristine" class="help-block"> Value is required.</p>

                                                                    </div>
                                                                    <div id="div3">
                                                                        <label ng-show="AllTaggedCompliance.TaggeddisabledRange">Min:</label>
                                                                        <input ng-show="AllTaggedCompliance.TaggeddisabledRange" name="TaggedAnsweRangeMin"
                                                                               style="display: inline;color:#333; width:150px;height: 35px;" class="form-control" type="number"
                                                                               ng-model="AllTaggedCompliance.TaggedAnsweRangeMin">
                                                                        <p style="color:red" ng-show="userForm.TaggedAnsweRangeMin.$error.required  && !userForm.min.$pristine" class="help-block"> Value is required.</p>
                                                                    </div>
                                                                    <div id="div4">
                                                                        <label ng-show="AllTaggedCompliance.TaggeddisabledRange">Max:</label>
                                                                        <input ng-show="AllTaggedCompliance.TaggeddisabledRange" name="TaggedAnsweRangeMax" style="display: inline;color:#333; width:150px;height: 35px;"
                                                                               class="form-control" type="number" ng-model="AllTaggedCompliance.TaggedAnsweRangeMax">
                                                                        <p style="color:red" ng-show="userForm.TaggedAnsweRangeMax.$error.required  && !userForm.max.$pristine" class="help-block"> Value is required.</p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>

                                                                <select class="form-control" style="display: inline; width: 150px;" select2=""
                                                                        ng-model="AllTaggedCompliance.TaggedIslicenseID"
                                                                        containerCssClass="all" ng-options="e.ID as e.Name for e in LicenseList"
                                                                        ng-disabled="disabled"
                                                                        ng-change="onTaggedIsLicenseChanges(AllTaggedCompliance.TaggedIslicenseID,AllTaggedCompliance)"
                                                                        name="IslicenseID" required>
                                                                    <option value="">Select</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <div @*ng-show="AllTaggedCompliance.TaggeddisabledLic"*@>
                                                                    <select class="form-control" style="display: inline; width: 252px;" select2=""
                                                                            id="TaggedLicenseTypeID" ng-model="AllTaggedCompliance.TaggedLicenseTypeID"
                                                                            containerCssClass="all" ng-options="r.LID as r.LName for r in Taggedlicensetypes"
                                                                            required>
                                                                        <option value="">Select LicenseType</option>
                                                                    </select>
                                                                </div>
                                                            </td>

                                                            <td>
                                                                <select class="form-control" style="display: inline; width: 252px;" select2="" name="TaggedCategoryID"
                                                                        ng-model="AllTaggedCompliance.TaggedCategoryID"
                                                                        containerCssClass="all" ng-options="r.ID as r.Name for r in TaggedCategorytypes"
                                                                        ng-change="onTaggedSubMasterChanges(AllTaggedCompliance.TaggedCategoryID,AllTaggedCompliance)"
                                                                        ng-disabled="disabled" required>
                                                                    <option value="">Select Category</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <div @*ng-show="AllTaggedCompliance.Taggeddisabledsubcate"*@>
                                                                    <select class="form-control" style="display: inline; width: 252px;" select2=""
                                                                            name="TaggedSubCategoryID" ng-model="AllTaggedCompliance.TaggedSubCategoryID"
                                                                            containerCssClass="all" ng-options="r.ID as r.Name for r in TaggedSubCategorytypes"
                                                                            ng-disabled="disabled" required>
                                                                        <option value="">Select Sub Category</option>
                                                                    </select>
                                                                </div>
                                                            </td>
                                                            <td style="width: 100px;">
                                                                <div class="main2">
                                                                    <div id="div5">
                                                                        <button type="button" class="btn btn-primary btn-sm" ng-click="TaggedSaverow(AllTaggedCompliance)">
                                                                            <span class="glyphicon glyphicon-edit"></span>
                                                                        </button>
                                                                    </div>
                                                                    <div id="div6">

                                                                    </div>
                                                                    <div id="div7">

                                                                    </div>
                                                                </div>
                                                            </td>
                                                    </tbody>
                                                </table>
                                                <dir-pagination-controls max-size="10"
                                                                         direction-links="true"
                                                                         boundary-links="true">
                                                </dir-pagination-controls>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group" style="text-align: center; float: left;">
                                            <p>
                                                <button class="btn btn-primary btn-sm" ng-click="BulkUpdate(true);">Update</button>
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="tab2" class="tab-pane fade">

                        @*UnTagged*@
                        <div>
                            <div id="wrapper" class="clearfix" scroll-bookmark="bookmark">
                                <form name="userForm" novalidate>
                                    <div class="form-group"></div>
                                    <div>
                                        <div id="table">
                                            <div class="table-responsive " style="" scroll-bookmark="bookmark2">
                                                <table id="tblOrders" cellpadding="12" class="table table-bordered table-hover table-striped display nowrap" style="margin-left: 0px; margin-right: 0px;">

                                                    <thead style="background-color:#6db6ec;color:white;font-size:12px;">
                                                        <tr>
                                                            <th align="left">
                                                                <label>
                                                                    <input type="checkbox" ng-model="IsAllChecked" ng-change="CheckUncheckAll()" />
                                                                    Select All
                                                                </label>
                                                            </th>
                                                            <th ng-click="sort('ActID')">
                                                                <b>ActID</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='ActID'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                <input type="text" ng-model="ActID" style="display: inline;color:#333; width: 100px;height: 35px;" class="form-control" />
                                                            </th>
                                                            <th style="cursor: pointer;" ng-click="sort('ActName')">
                                                                <b>ActName</b><span class="glyphicon sort-icon" ng-show="sortKey=='ActName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                <input type="text" ng-model="ActName" style="display: inline;color:#333; width: 300px;height: 35px;" class="form-control" />
                                                            </th>
                                                            <th ng-click="sort('ComplianceID')">
                                                                <b>ComplianceID</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='ComplianceID'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                <input type="text" ng-model="ComplianceID" style="display: inline;color:#333; width: 100px;height: 35px;" class="form-control" />
                                                            </th>
                                                            <th ng-click="sort('Sections')">
                                                                <b>Sections</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Sections'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                <input type="text" ng-model="Sections" style="display: inline;color:#333; width: 200px;height: 35px;" class="form-control" />
                                                            </th>
                                                            <th ng-click="sort('Compliancedec')">
                                                                <b>Compliance Shortdescription</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Compliancedec'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                <input type="text" ng-model="Compliancedec" style="display: inline;color:#333; width: 300px;height: 35px;" class="form-control" />
                                                            </th>
                                                            <th ng-click="sort('Question')"><b>Question</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Question'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                            <th style="width: 100px;" ng-click="sort('Answers')"><b>Answers</b>   <span class="glyphicon sort-icon" ng-show="sortKey=='Answers'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                            <th>License / Registration (Y/N)</th>
                                                            <th>License / Registration</th>
                                                            <th>Activity Categorization</th>
                                                            <th>Activity Sub-Categorization</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody dir-paginate="salesexpanse in salesexpanses|orderBy:'ComplianceID'|filter:ComplianceID | filter:Compliancedec | filter:ActName | filter:ActID | filter:Sections |itemsPerPage:10" ng-model="search">
                                                        <tr>
                                                            <td style="font-size:12px;">
                                                                <label for="chkEmployee_{{salesexpanse}}">
                                                                    <input id="chkEmployee_{{salesexpanse.ComplianceID}}" type="checkbox" ng-model="salesexpanse.Selected" ng-change="CheckUncheckHeader()" />
                                                                    <p style="display:none;">
                                                                        {{salesexpanse.ComplianceID}}
                                                                    </p>
                                                                </label>
                                                                <input type="hidden" ng-model="salesexpanse.ActID" />
                                                                <input type="hidden" ng-model="salesexpanse.QuestionID" />
                                                                <input type="hidden" ng-model="salesexpanse.ServiceID" />
                                                                <input type="hidden" ng-model="salesexpanse.IslicenseID" />
                                                                <input type="hidden" ng-model="salesexpanse.LicenseTypeID" />
                                                                <input type="hidden" ng-model="salesexpanse.CategoryID" />
                                                                <input type="hidden" ng-model="salesexpanse.SubCategoryID" />
                                                                {{salesexpanse.selected}}
                                                            </td>

                                                            <td style="font-size:12px; width:50px">

                                                                {{salesexpanse.ActID }}
                                                            </td>
                                                            <td style="font-size:12px ; width:150px">
                                                                {{salesexpanse.ActName}}
                                                            </td>

                                                            <td style="font-size:12px; width:50px;">
                                                                {{salesexpanse.ComplianceID}}
                                                            </td>
                                                            <td style="font-size:12px; width:50px;">
                                                                {{salesexpanse.Sections}}
                                                            </td>
                                                            <td style="font-size:12px; width:150px;">
                                                                {{salesexpanse.Compliancedec}}
                                                            </td>
                                                            <td>
                                                                <select class="form-control" style="display: inline; width: 252px;" select2="" name="QuestionID" ng-model="salesexpanse.QuestionID"
                                                                        containerCssClass="all" ng-options="r.ID as r.QuestionName for r in UnTaggedquestionanswers" ng-change="onUnTaggedQuestionChanges(salesexpanse.QuestionID,salesexpanse)"
                                                                        ng-disabled="disabled" required>
                                                                    <option value="">Select Question</option>
                                                                </select>
                                                            </td>
                                                            <td>

                                                                <div class="main1" style="width:400px;">
                                                                    <div id="div1" ng-show="salesexpanse.disabledValuedropdown">
                                                                        <select name="ServiceID" class="form-control"
                                                                                style="display: inline; padding: 2px; width:70px;" select2=""
                                                                                ng-model="salesexpanse.ServiceID"
                                                                                ng-options="service.ServiceID as service.ServiceName for service in services"
                                                                                required>
                                                                            <option value="">Select</option>
                                                                        </select>

                                                                    </div>
                                                                    <div id="div2" style="margin-left:10px;">
                                                                        <input ng-show="salesexpanse.disabledValuetextbox" type="text" style="display: inline;color:#333; width: 300px;height: 35px;"
                                                                               class="form-control" name="txtvalue" ng-model="salesexpanse.txtvalue" required />
                                                                        <p style="color:red" ng-show="userForm.txtvalue.$error.required  && !userForm.txtvalue.$pristine" class="help-block"> Value is required.</p>
                                                                    </div>
                                                                    <div id="div3">
                                                                        <label ng-show="salesexpanse.disabledRange">Min:</label>
                                                                        <input ng-show="salesexpanse.disabledRange" name="minnumber"
                                                                               style="display: inline;color:#333; width:150px;height: 35px;" class="form-control" type="number" ng-model="salesexpanse.min">
                                                                        <p style="color:red" ng-show="userForm.min.$error.required  && !userForm.min.$pristine" class="help-block"> Value is required.</p>
                                                                    </div>
                                                                    <div id="div4">
                                                                        <label ng-show="salesexpanse.disabledRange">Max:</label>
                                                                        <input ng-show="salesexpanse.disabledRange" name="maxnumber" style="display: inline;color:#333; width:150px;height: 35px;"
                                                                               class="form-control" type="number" ng-model="salesexpanse.max">
                                                                        <p style="color:red" ng-show="userForm.max.$error.required  && !userForm.max.$pristine" class="help-block"> Value is required.</p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>

                                                                <select class="form-control" style="display: inline; width: 150px;" select2=""
                                                                        ng-model="salesexpanse.IslicenseID"
                                                                        containerCssClass="all" ng-options="e.ID as e.Name for e in LicenseList"
                                                                        ng-disabled="disabled"
                                                                        ng-change="onUnTaggedIsLicenseChanges(salesexpanse.IslicenseID,salesexpanse,this)"
                                                                        name="IslicenseID" required>
                                                                    <option value="">Select</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <div ng-show="salesexpanse.disabledLic">
                                                                    <select class="form-control" style="display: inline; width: 252px;" select2=""
                                                                            id="LicenseTypeID" ng-model="salesexpanse.LicenseTypeID"
                                                                            containerCssClass="all" ng-options="r.LID as r.LName for r in UnTaggedlicensetypes"
                                                                            required>
                                                                        <option value="">Select LicenseType</option>
                                                                    </select>
                                                                </div>
                                                            </td>

                                                            <td>
                                                                <select class="form-control" style="display: inline; width: 252px;" select2="" name="CategoryID" ng-model="salesexpanse.CategoryID"
                                                                        containerCssClass="all" ng-options="r.ID as r.Name for r in UnTaggedCategorytypes"
                                                                        ng-change="onUnTaggedSubMasterChanges(salesexpanse.CategoryID,salesexpanse)"
                                                                        ng-disabled="disabled" required>
                                                                    <option value="">Select Category</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <div ng-show="salesexpanse.disabledsubcate">
                                                                    <select class="form-control" style="display: inline; width: 252px;" select2="" name="SubCategoryID" ng-model="salesexpanse.SubCategoryID"
                                                                            containerCssClass="all" ng-options="r.ID as r.Name for r in UnTaggedSubCategorytypes"
                                                                            ng-disabled="disabled" required>
                                                                        <option value="">Select Sub Category</option>
                                                                    </select>
                                                                </div>
                                                            </td>
                                                            <td style="width: 100px;">
                                                                <div class="main2">
                                                                    <div id="div5">
                                                                        <button type="button" class="btn btn-primary btn-sm" ng-click="UntaggedAddrow(salesexpanse)">
                                                                            <span class="glyphicon glyphicon-plus"></span>
                                                                        </button>
                                                                    </div>
                                                                    <div id="div6">
                                                                        <button type="button" class="btn btn-primary btn-sm" ng-click="UntaggedSaverow(salesexpanse)">
                                                                            <span class="glyphicon glyphicon-floppy-saved"></span>
                                                                        </button>
                                                                    </div>
                                                                    <div id="div7">
                                                                        <button class="btn btn-primary btn-sm"
                                                                                ng-click="DeletedUnTaggedDetail(salesexpanse);">
                                                                            <span class="glyphicon glyphicon-trash"></span>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                    </tbody>
                                                </table>
                                                <dir-pagination-controls max-size="10"
                                                                         direction-links="true"
                                                                         boundary-links="true">
                                                </dir-pagination-controls>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group" style="text-align: center; float: left;">

                                            <p>
                                                <button class="btn btn-primary btn-sm" ng-click="BulkSaveAdd(true);">Save</button>
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var app = angular.module("KendoDemos", ['ngFileUpload', 'angularjs-dropdown-multiselect', 'angularUtils.directives.dirPagination', "kendo.directives"]);
        angular.element(document).ready(function () {
            //angular.bootstrap(document, ["app"]);
        })
        app.directive("select2", function ($timeout, $parse) {
            return {
                restrict// Code goes here
            : 'AC',
                require: 'ngModel',
                link: function (scope, element, attrs) {
                    console.log(attrs);
                    $timeout(function () {
                        element.select2();
                        element.select2Initialized = true;
                    });

                    var refreshSelect = function () {
                        if (!element.select2Initialized) return;
                        $timeout(function () {
                            element.trigger('change');
                        });
                    };

                    var recreateSelect = function () {
                        if (!element.select2Initialized) return;
                        $timeout(function () {
                            element.select2('destroy');
                            element.select2();
                        });
                    };

                    scope.$watch(attrs.ngModel, refreshSelect);

                    if (attrs.ngOptions) {
                        var list = attrs.ngOptions.match(/ in ([^ ]*)/)[1];
                        // watch for option list change
                        scope.$watch(list, recreateSelect);
                    }

                    if (attrs.ngDisabled) {
                        scope.$watch(attrs.ngDisabled, refreshSelect);
                    }
                }
            };
        });
        app.controller("MyCtrl", function ($scope, $http, myService) {

            $scope.example5customTexts = { buttonDefaultText: 'Select Value' };
            //define object
            $scope.CategoriesSelected = [];
            //$scope.Categories = [];
            $scope.dropdownSetting = {
                checkBoxes: true,
                scrollableHeight: '200px',
                scrollable: true,
                enableSearch: true,
                showCheckAll: true,
                showUncheckAll: true,
                GetChecked: true,
                width: '200px',
            }
            $scope.services = [
                { ServiceID: 1, ServiceName: '<' },
                { ServiceID: 2, ServiceName: '>' },
                { ServiceID: 3, ServiceName: '=' }
            ];
            $scope.LicenseList = [
                { ID: 1, Name: 'Yes' },
                { ID: 2, Name: 'No' }
            ];
            $scope.IsValid = null;
            $scope.form = false;
            $scope.form1 = false;
            $scope.editminus = false;
            $scope.tabs = false;
            $scope.addplus = true;
            $scope.addminus = false;
            $scope.tables = false;
            $scope.ShowLoader = false;

            GetAct();
            function GetAct() {
                $scope.actslist = [];
                $http({
                    method: 'Get',
                    url: '../Question/GetAct',
                }).success(function (data, status, headers, config) {
                    $scope.actslist = data;
                    $scope.ActID = -1;
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }

            $scope.UnTaggedquestionanswers = [];
            $scope.Taggedquestionanswers = [];
            GetQuestions();
            function GetQuestions() {
                $scope.UnTaggedquestionanswers = [];
                $scope.Taggedquestionanswers = [];
                $http({
                    method: 'Get',
                    url: '../Question/GetQuestionsDropDown',
                }).success(function (data, status, headers, config) {
                    $scope.UnTaggedquestionanswers = data;
                    $scope.Taggedquestionanswers = data;
                    $scope.QuestionID = -1;
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }

            $scope.UnTaggedCategorytypes = [];
            $scope.TaggedCategorytypes = [];
            GetCategoryTypes();
            function GetCategoryTypes() {
                $scope.UnTaggedCategorytypes = [];
                $http({
                    method: 'Get',
                    url: '../Question/GetCategorizationDropDown',
                }).success(function (data, status, headers, config) {
                    $scope.UnTaggedCategorytypes = data;
                    $scope.TaggedCategorytypes = data;
                    $scope.CategoryID = -1;
                    $scope.TaggedCategoryID = -1
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }

            GetsubCategoryTypes()
            var AllSubCategorytypes = [];
            function GetsubCategoryTypes() {
                $http({
                    method: 'Get',
                    url: '../Question/GetSubCategorizationDropDown'
                }).success(function (data, status, headers, config) {
                    AllSubCategorytypes = data;
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }

            GetLicenseTypes();
            var AllLicensetypes = [];
            function GetLicenseTypes() {
                $http({
                    method: 'Get',
                    url: '../Question/GetLicenseTypesDropDown'
                }).success(function (data, status, headers, config) {
                    AllLicensetypes = data;
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }


            function GetTaggedGetLicenseTypes() {
                $http({
                    method: 'Get',
                    url: '../Question/GetLicenseTypesDropDown'
                }).success(function (data, status, headers, config) {
                    $scope.Taggedlicensetypes = data;
                    //$scope.TaggeddisabledLic = 1
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }

            function GetTaggedsubCategoryTypes() {
                $http({
                    method: 'Get',
                    url: '../Question/GetSubCategorizationDropDown'
                }).success(function (data, status, headers, config) {
                    $scope.TaggedSubCategorytypes = data;
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }

            $scope.onUnTaggedQuestionChanges = function (val, testItem) {
                $scope.datamasters = [];
                if (val != undefined) {
                    $http({
                        method: 'Get',
                        url: '../Question/GetControllsfromQuestion',
                        params: { qID: val }
                    }).success(function (data, status, headers, config) {
                        $scope.datamasters = data;
                        if (data["ControlId"] == 1) {
                            testItem.disabledValuedropdown = 0;
                            testItem.disabledValuetextbox = 1;
                            testItem.disabledRange = 0;
                            testItem.ServiceID = -1;
                            testItem.txtvalue = "";
                            testItem.min = "";
                            testItem.max = "";
                            testItem.ControlId = 1;
                            $scope.ControlId = 1;
                        }
                        else if (data["ControlId"] == 2) {
                            testItem.disabledValuedropdown = 0;
                            testItem.disabledValuetextbox = 1;
                            testItem.disabledRange = 0;
                            testItem.ServiceID = -1;
                            testItem.txtvalue = "";
                            testItem.min = "";
                            testItem.max = "";
                            testItem.ControlId = 2;
                            $scope.ControlId = 2;
                        }
                        else if (data["ControlId"] == 3) {

                            testItem.disabledValuedropdown = 0;
                            testItem.disabledValuetextbox = 0;
                            testItem.disabledRange = 1;
                            testItem.ServiceID = -1;
                            testItem.txtvalue = "";
                            testItem.min = "";
                            testItem.max = "";
                            testItem.ControlId = 3;
                            $scope.ControlId = 3;
                        }
                        else if (data["ControlId"] == 4) {

                            testItem.disabledValuedropdown = 1;
                            testItem.disabledValuetextbox = 1;
                            testItem.disabledRange = 0;
                            testItem.ServiceID = -1;
                            testItem.txtvalue = "";
                            testItem.min = "";
                            testItem.max = "";
                            testItem.ControlId = 4;
                            $scope.ControlId = 4;
                        }
                        else {
                            testItem.disabledValuedropdown = 0;
                            testItem.disabledValuetextbox = 0;
                            testItem.disabledRange = 0;
                            testItem.ControlId = -1;
                            $scope.ControlId = -1;
                        }
                    });
                } else {
                    testItem.disabledValuedropdown = 0;
                    testItem.disabledValuetextbox = 0;
                    testItem.disabledRange = 0;
                    testItem.ControlId = -1;
                    $scope.ControlId = -1;
                }
            };

            function UnTaggedBindgrid(actidval) {
                $http({
                    method: 'Get',
                    url: '../Question/getAllCompliances',
                    params: { actid: JSON.stringify(actidval) }
                }).success(function (data, status, headers, config) {
                    $scope.salesexpanses = [];
                    var c = 0;
                    for (var i = 0; i < data.length; i++) {
                        var time = {};
                        time.ActID = data[i].ActID;
                        time.ActName = data[i].ActName;
                        time.ComplianceID = data[i].ComplianceID;
                        time.Sections = data[i].Sections;
                        time.Compliancedec = data[i].Compliancedec;
                        time.Question = data[i].Question;
                        time.typeofquestion = data[i].typeofquestion;
                        time.IsEQNotEQLessorGreater = data[i].IsEQNotEQLessorGreater;
                        time.Answer = data[i].Answer;
                        time.disabledValuedropdown = data[i].disabledValuedropdown;
                        time.disabledValuetextbox = data[i].disabledValuetextbox;
                        time.disabledRange = data[i].disabledRange;
                        time.disabledLinkedtoLic = data[i].disabledLinkedtoLic;
                        time.disabledLic = data[i].disabledLic;
                        time.disabledcate = data[i].disabledcate;
                        time.disabledsubcate = data[i].disabledsubcate;
                        $scope.salesexpanses.push(time);
                    }

                    $scope.CheckUncheckHeader = function () {
                        $scope.IsAllChecked = false;
                        for (var i = 0; i < $scope.salesexpanses.length; i++) {
                            if (!$scope.salesexpanses[i].Selected) {
                                $scope.IsAllChecked = false;
                                break;
                            }
                        };
                    };
                    $scope.CheckUncheckHeader();
                    $scope.CheckUncheckAll = function () {
                        for (var i = 0; i < $scope.salesexpanses.length; i++) {
                            $scope.salesexpanses[i].Selected = $scope.IsAllChecked;
                        }
                    };
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }
            $scope.onTopactChanges = function (val) {
                if (val != undefined) {
                    $scope.ActID = val;
                    UnTaggedBindgrid($scope.ActID);
                    GetTaggedGetLicenseTypes();
                    GetTaggedsubCategoryTypes();
                    TaggedBindgrid($scope.ActID);
                }
            };
            $scope.sort = function (keyname) {
                $scope.sortKey = keyname;
                $scope.reverse = !$scope.reverse;
            }

            $scope.onUnTaggedIsLicenseChanges = function (val, testItem1) {
                if (val != undefined) {
                    testItem1.disabledLic = 1;
                    this.UnTaggedlicensetypes = AllLicensetypes.filter(a=>a.LinkedID == val);
                }
            };
            $scope.onUnTaggedSubMasterChanges = function (val, testItem2) {
                if (val != undefined) {
                    testItem2.disabledsubcate = 1
                    this.UnTaggedSubCategorytypes = AllSubCategorytypes.filter(a=>a.categorid == val);
                }
            };
            $scope.BulkSaveAdd = function (isValid) {
                $scope.IsValid = false;
                if (isValid) {
                    $scope.userForm.$setPristine();
                    var entry = {};
                    var details = new Array();
                    for (var i = 0; i < $scope.salesexpanses.length; i++) {
                        if ($scope.salesexpanses[i].Selected) {
                            var detail = {};
                            detail.ActID = this.salesexpanses[i].ActID;
                            detail.ComplianceID = this.salesexpanses[i].ComplianceID;
                            detail.QuestionID = this.salesexpanses[i].QuestionID;
                            detail.ControlId = this.salesexpanses[i].ControlId;
                            if (this.salesexpanses[i].ControlId == 4) {
                                detail.ServiceID = this.salesexpanses[i].ServiceID;
                                detail.AnswerValue = this.salesexpanses[i].txtvalue;
                                detail.AnsweSingleMulti = 0;
                            }
                            else {
                                detail.ServiceID = -1;
                                detail.AnswerValue = 0;
                                detail.AnsweSingleMulti = this.salesexpanses[i].txtvalue;
                            }
                            if ($scope.salesexpanses[i].min == "") {
                                detail.min = 0;
                            }
                            else {
                                detail.min = this.salesexpanses[i].min;
                            }
                            if (this.salesexpanses[i].max == "") {
                                detail.max = 0;
                            }
                            else {
                                detail.max = this.salesexpanses[i].max;
                            }

                            detail.IslicenseID = this.salesexpanses[i].IslicenseID;
                            detail.LicenseTypeID = this.salesexpanses[i].LicenseTypeID;
                            detail.CategoryID = this.salesexpanses[i].CategoryID;

                            if (this.salesexpanses[i].SubCategoryID == undefined) {
                                detail.SubCategoryID = -1;
                            }
                            else {
                                detail.SubCategoryID = this.salesexpanses[i].SubCategoryID;
                            }
                            details.push(detail);
                        }
                        else {
                        }
                    }
                    entry.Approvals = details;
                    $http({
                        method: "post",
                        url: "../Question/SaveApprovals",
                        dataType: 'json',
                        headers: { "Content-Type": "application/json" },
                        data: '{TimeSheets: ' + JSON.stringify(entry) + '}'
                    }).then(function (response) {
                        $scope.msg = response.data;

                        if (response.data == "Details Saved Successfully!") {
                            if ($scope.ActID != -1) {
                                UnTaggedBindgrid($scope.ActID)
                            }
                            $scope.tabs = false;
                            $scope.adtabls = false;
                            $scope.form = false;
                            $scope.form1 = false;
                            $scope.DisplayForm = false;
                            $scope.addplus = true;
                            $scope.addminus = false;
                            $scope.editminus = false;
                            $scope.DeleteAlert = false;
                            $scope.AddAlert = true;
                            $scope.EditAlert = false;
                            clearFields();
                        }
                        else {
                            $scope.tabs = true;
                        }

                    }), function (error) {
                        $scope.Message = error.Message;
                    }

                }
                else {
                    // Show error Message if Form not valid.
                    if ($scope.userForm.$error.required != undefined) {
                        for (var i = 0; i < $scope.userForm.$error.required.length; i++) {
                            $scope.userForm.$error.required[i].$pristine = false;
                        }
                    }
                }
            };
            //Back Functionality
            $scope.close = function () {
                $scope.DisplayForm = false;
                $scope.tabs = false;
                $scope.adtabls = false;
                $scope.form = false;
                $scope.form1 = false;
                $scope.addminus = false;
                $scope.addplus = true;
                $scope.editminus = false;
                clearFields();
                $scope.DisplayForm = false;
                // Reset Error.
                $scope.userForm.$setPristine();
            }
            //cancel Functionality
            $scope.cancel = function () {
                $scope.DisplayForm = false;
                $scope.tabs = false;
                $scope.adtabls = false;
                $scope.form = false;
                $scope.form1 = false;
                $scope.addminus = false;
                $scope.addplus = true;
                $scope.editminus = false;
                clearFields();
                $scope.DisplayForm = false;
                loadPaytypes();
                // Reset Error.
                $scope.userForm.$setPristine();
            }
            //clear Fileds
            function clearFields() {
                $scope.IsRecoverable = false;
                $scope.displaydraft = true;
                $scope.displayComment = false;
                $scope.Disabled = true;
                $scope.ControlId = -1;
                $scope.userForm.$setPristine();
            }

            //delete punch items
            $scope.DeletedUnTaggedDetail = function (salesexpanse) {
                var index = $scope.salesexpanses.indexOf(salesexpanse);
                if ($window.confirm("Do you want to delete? ")) {
                    $scope.salesexpanses.splice(index, 1);
                }
            }
            $scope.UntaggedAddrow = function (salesexpanse) {
                var time = {};
                time.ActID = salesexpanse.ActID;
                time.ActName = salesexpanse.ActName;
                time.ComplianceID = salesexpanse.ComplianceID;
                time.Sections = salesexpanse.Sections;
                time.Compliancedec = salesexpanse.Compliancedec;
                time.Question = salesexpanse.Question;
                time.typeofquestion = salesexpanse.typeofquestion;
                time.IsEQNotEQLessorGreater = salesexpanse.IsEQNotEQLessorGreater;
                time.Answer = salesexpanse.Answer;
                time.disabledValuedropdown = 0;
                time.disabledValuetextbox = 0;
                time.disabledRange = 0;
                $scope.salesexpanses.push(time);
            };
            $scope.UntaggedSaverow = function (salesexpanse) {
                $scope.userForm.$setPristine();
                var detail = {};
                detail.Id = 0;
                detail.ActID = salesexpanse.ActID;
                detail.ComplianceID = salesexpanse.ComplianceID;
                detail.QuestionID = salesexpanse.QuestionID;
                detail.ControlId = $scope.ControlId;
                if ($scope.ControlId == 4) {
                    detail.ServiceID = salesexpanse.ServiceID;
                    detail.AnswerValue = salesexpanse.txtvalue;
                    detail.AnsweSingleMulti = 0;
                }
                else {
                    detail.ServiceID = -1;
                    detail.AnswerValue = 0;
                    detail.AnsweSingleMulti = salesexpanse.txtvalue;
                }
                if (salesexpanse.min == "") {
                    detail.min = 0;
                }
                else {
                    detail.min = salesexpanse.min;
                }
                if (salesexpanse.max == "") {
                    detail.max = 0;
                }
                else {
                    detail.max = salesexpanse.max;
                }
                detail.IslicenseID = salesexpanse.IslicenseID
                detail.LicenseTypeID = salesexpanse.LicenseTypeID
                detail.CategoryID = salesexpanse.CategoryID
                detail.SubCategoryID = salesexpanse.SubCategoryID

                var getData = myService.updateActivity(detail);
                getData.then(function (msg) {
                    $scope.msg = msg.data;
                    if (msg.data == "Details Saved Successfully!") {
                        if ($scope.ActID != -1) {
                            UnTaggedBindgrid($scope.ActID)
                        }
                        clearFields();
                        $scope.ShowLoader = false;
                        $scope.DisplayForm = false;
                        $scope.addminus = false;
                        $scope.addplus = true;
                        $scope.editminus = false;
                        $scope.DeleteAlert = false;
                        $scope.AddAlert = false;
                        $scope.EditAlert = true;
                        $scope.IsValid = true;
                    }
                    else if (msg.data == "Question name already exists") {
                        if ($scope.ActID != -1) {
                            UnTaggedBindgrid($scope.ActID)
                        }
                        clearFields();
                        $scope.ShowLoader = false;
                        $scope.DisplayForm = false;
                        $scope.addminus = false;
                        $scope.addplus = true;
                        $scope.editminus = false;
                        $scope.DeleteAlert = false;
                        $scope.AddAlert = false;
                        $scope.EditAlert = true;
                        $scope.IsValid = true;
                    }
                }, function (msg) {
                    $scope.msg = msg.data;
                });
            };



            //Tagged Source Code

            function TaggedBindgrid(actidval) {
                $http({
                    method: 'Get',
                    url: '../Question/getAllTaggedCompliances',
                    params: { actid: JSON.stringify(actidval) }
                }).success(function (data, status, headers, config) {
                    debugger;
                    $scope.AllTaggedCompliances = [];
                    var c = 0;
                    for (var i = 0; i < data.length; i++) {
                        var time = {};
                        time.TaggedQACMMappingID = data[i].TaggedQACMMappingID;
                        time.TaggedActID = data[i].TaggedActID;
                        time.TaggedActName = data[i].TaggedActName;
                        time.TaggedComplianceID = data[i].TaggedComplianceID;
                        time.TaggedSections = data[i].TaggedSections;
                        time.TaggedComplianceShortDescription = data[i].TaggedComplianceShortDescription;
                        time.TaggedQuestionID = data[i].TaggedQuestionID;
                        time.TaggedControllID = data[i].TaggedControllID;
                        time.TaggedServiceID = data[i].TaggedServiceID;
                        time.TaggedIslicenseID = data[i].TaggedIslicenseID;
                        time.TaggedLicenseTypeID = data[i].TaggedLicenseTypeID;
                        time.TaggedCategoryID = data[i].TaggedCategoryID;
                        time.TaggedSubCategoryID = data[i].TaggedSubCategoryID;
                        time.TaggedAnswer = data[i].TaggedAnswer;
                        time.TaggedAnswerSingleMultiple = data[i].TaggedAnswerSingleMultiple;
                        time.TaggedAnsweRangeMax = data[i].TaggedAnsweRangeMax;
                        time.TaggedAnsweRangeMin = data[i].TaggedAnsweRangeMin;
                        time.TaggeddisabledValuetextbox = data[i].TaggeddisabledValuetextbox;
                        time.TaggeddisabledRange = data[i].TaggeddisabledRange;
                        time.TaggeddisabledValuedropdown = data[i].TaggeddisabledValuedropdown;
                        time.TaggeddisabledLic = data[i].TaggeddisabledLic;
                        time.Taggeddisabledcate = data[i].Taggeddisabledcate;
                        time.Taggeddisabledsubcate = data[i].Taggeddisabledsubcate;
                        $scope.AllTaggedCompliances.push(time);
                    }
                    $scope.TaggedCheckUncheckHeader = function () {
                        $scope.TaggedIsAllChecked = false;
                        for (var i = 0; i < $scope.AllTaggedCompliances.length; i++) {
                            if (!$scope.AllTaggedCompliances[i].TaggedSelected) {
                                $scope.TaggedIsAllChecked = false;
                                break;
                            }
                        };
                    };
                    $scope.TaggedCheckUncheckHeader();
                    $scope.TaggedCheckUncheckAll = function () {
                        for (var i = 0; i < $scope.AllTaggedCompliances.length; i++) {
                            $scope.AllTaggedCompliances[i].TaggedSelected = $scope.TaggedIsAllChecked;
                        }
                    };
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }


            $scope.onTaggedIsLicenseChanges = function (val, testItem1) {
                if (val != undefined) {
                    testItem1.TaggeddisabledLic = 1;
                    this.Taggedlicensetypes = AllLicensetypes.filter(a=>a.LinkedID == val);
                }
            };

            $scope.onTaggedSubMasterChanges = function (val, testItem2) {
                if (val != undefined) {
                    testItem2.Taggeddisabledsubcate = 1
                    this.TaggedSubCategorytypes = AllSubCategorytypes.filter(a=>a.categorid == val);
                }
            };
            $scope.onTaggedQuestionChanges = function (val, testItem) {
                $scope.datamasters = [];
                if (val != undefined) {
                    $http({
                        method: 'Get',
                        url: '../Question/GetControllsfromQuestion',
                        params: { qID: val }
                    }).success(function (data, status, headers, config) {
                        $scope.datamasters = data;
                        if (data["ControlId"] == 1) {
                            testItem.TaggeddisabledValuedropdown = 0;
                            testItem.TaggeddisabledValuetextbox = 1;
                            testItem.TaggeddisabledRange = 0;
                            testItem.TaggedServiceID = -1;
                            testItem.TaggedAnswer = "";
                            testItem.TaggedAnsweRangeMin = "";
                            testItem.TaggedAnsweRangeMax = "";
                            testItem.TaggedControllID = 1;
                            $scope.TaggedControllID = 1;
                        }
                        else if (data["ControlId"] == 2) {
                            testItem.TaggeddisabledValuedropdown = 0;
                            testItem.TaggeddisabledValuetextbox = 1;
                            testItem.TaggeddisabledRange = 0;
                            testItem.TaggedServiceID = -1;
                            testItem.TaggedAnswer = "";
                            testItem.TaggedAnsweRangeMin = "";
                            testItem.TaggedAnsweRangeMax = "";
                            testItem.TaggedControllID = 1;
                            $scope.TaggedControllID = 2;
                        }
                        else if (data["ControlId"] == 3) {

                            testItem.TaggeddisabledValuedropdown = 0;
                            testItem.TaggeddisabledValuetextbox = 1;
                            testItem.TaggeddisabledRange = 0;
                            testItem.TaggedServiceID = -1;
                            testItem.TaggedAnswer = "";
                            testItem.TaggedAnsweRangeMin = "";
                            testItem.TaggedAnsweRangeMax = "";
                            testItem.TaggedControllID = 1;
                            $scope.TaggedControllID = 3;
                        }
                        else if (data["ControlId"] == 4) {

                            testItem.TaggeddisabledValuedropdown = 0;
                            testItem.TaggeddisabledValuetextbox = 1;
                            testItem.TaggeddisabledRange = 0;
                            testItem.TaggedServiceID = -1;
                            testItem.TaggedAnswer = "";
                            testItem.TaggedAnsweRangeMin = "";
                            testItem.TaggedAnsweRangeMax = "";
                            testItem.TaggedControllID = 1;
                            $scope.TaggedControllID = 4;
                        }
                        else {
                            testItem.TaggeddisabledValuedropdown = 0;
                            testItem.TaggeddisabledValuetextbox = 1;
                            testItem.TaggeddisabledRange = 0;
                            testItem.TaggedControllID = -1;
                            $scope.TaggedControllID = -1;
                        }
                    });
                } else {
                    testItem.TaggeddisabledValuedropdown = 0;
                    testItem.TaggeddisabledValuetextbox = 1;
                    testItem.TaggeddisabledRange = 0;
                    testItem.TaggedControllID = -1;
                    $scope.TaggedControllID = -1;
                }
            };
            $scope.TaggedSaverow = function (alltaggedcompliance) {
                debugger;
                $scope.userForm.$setPristine();
                var detail = {};
                detail.TaggedQACMMappingID = alltaggedcompliance.TaggedQACMMappingID;
                detail.TaggedActID = alltaggedcompliance.TaggedActID;
                detail.TaggedComplianceID = alltaggedcompliance.TaggedComplianceID;
                detail.TaggedQuestionID = alltaggedcompliance.TaggedQuestionID;
                detail.TaggedControllID = alltaggedcompliance.TaggedControllID;// $scope.TaggedControllID;

                if ($scope.TaggedControllID != undefined) {
                    if ($scope.TaggedControllID == 4) {
                        detail.TaggedServiceID = alltaggedcompliance.TaggedServiceID;
                        detail.TaggedAnswer = alltaggedcompliance.TaggedAnswer;
                        detail.TaggedAnswerSingleMultiple = 0;
                    }
                    else {
                        detail.TaggedServiceID = -1;
                        detail.TaggedAnswer = 0;
                        detail.TaggedAnswerSingleMultiple = alltaggedcompliance.TaggedAnswerSingleMultiple;
                    }
                    if (salesexpanse.TaggedAnsweRangeMin == "") {
                        detail.TaggedAnsweRangeMin = 0;
                    }
                    else {
                        detail.TaggedAnsweRangeMin = alltaggedcompliance.TaggedAnsweRangeMin;
                    }
                    if (salesexpanse.TaggedAnsweRangeMax == "") {
                        detail.TaggedAnsweRangeMax = 0;
                    }
                    else {
                        detail.TaggedAnsweRangeMax = alltaggedcompliance.TaggedAnsweRangeMax;
                    }
                }
                else
                {
                    if (detail.TaggedControllID == 4) {
                        detail.TaggedServiceID = alltaggedcompliance.TaggedServiceID;
                        detail.TaggedAnswer = alltaggedcompliance.TaggedAnswer;
                        detail.TaggedAnswerSingleMultiple = 0;
                    }
                    else {
                        detail.TaggedServiceID = -1;
                        detail.TaggedAnswer = 0;
                        detail.TaggedAnswerSingleMultiple = alltaggedcompliance.TaggedAnswerSingleMultiple;
                    }
                    if (salesexpanse.TaggedAnsweRangeMin == "") {
                        detail.TaggedAnsweRangeMin = 0;
                    }
                    else {
                        detail.TaggedAnsweRangeMin = alltaggedcompliance.TaggedAnsweRangeMin;
                    }
                    if (salesexpanse.TaggedAnsweRangeMax == "") {
                        detail.TaggedAnsweRangeMax = 0;
                    }
                    else {
                        detail.TaggedAnsweRangeMax = alltaggedcompliance.TaggedAnsweRangeMax;
                    }
                }
                detail.TaggedIslicenseID = alltaggedcompliance.TaggedIslicenseID
                detail.TaggedLicenseTypeID = alltaggedcompliance.TaggedLicenseTypeID
                detail.TaggedCategoryID = alltaggedcompliance.TaggedCategoryID
                detail.TaggedSubCategoryID = alltaggedcompliance.TaggedSubCategoryID

                var getData = myService.TaggedupdateActivity(detail);
                getData.then(function (msg) {
                    $scope.msg = msg.data;
                    if (msg.data == "Details Updated Successfully!") {
                        if ($scope.ActID != -1) {
                            TaggedBindgrid($scope.ActID)
                        }
                        clearFields();
                        $scope.ShowLoader = false;
                        $scope.DisplayForm = false;
                        $scope.addminus = false;
                        $scope.addplus = true;
                        $scope.editminus = false;
                        $scope.DeleteAlert = false;
                        $scope.AddAlert = false;
                        $scope.EditAlert = true;
                        $scope.IsValid = true;
                    }
                    else if (msg.data == "Question name already exists") {
                        if ($scope.ActID != -1) {
                            TaggedBindgrid($scope.ActID)
                        }
                        clearFields();
                        $scope.ShowLoader = false;
                        $scope.DisplayForm = false;
                        $scope.addminus = false;
                        $scope.addplus = true;
                        $scope.editminus = false;
                        $scope.DeleteAlert = false;
                        $scope.AddAlert = false;
                        $scope.EditAlert = true;
                        $scope.IsValid = true;
                    }
                }, function (msg) {
                    $scope.msg = msg.data;
                });
            };

            $scope.BulkUpdate = function (isValid) {
                debugger;

                $scope.IsValid = false;
                if (isValid) {
                    $scope.userForm.$setPristine();
                    var entry = {};
                    var details = new Array();
                    for (var i = 0; i < $scope.AllTaggedCompliances.length; i++) {
                        if ($scope.AllTaggedCompliances[i].TaggedSelected) {
                            var detail = {};
                            detail.TaggedQACMMappingID = this.AllTaggedCompliances[i].TaggedQACMMappingID;
                            detail.TaggedActID = this.AllTaggedCompliances[i].TaggedActID;
                            detail.TaggedComplianceID = this.AllTaggedCompliances[i].TaggedComplianceID;
                            detail.TaggedQuestionID = this.AllTaggedCompliances[i].TaggedQuestionID;
                            detail.TaggedControllID = this.AllTaggedCompliances[i].TaggedControllID;
                            if (this.AllTaggedCompliances[i].TaggedControllID == 4) {
                                detail.TaggedServiceID = this.AllTaggedCompliances[i].TaggedServiceID;
                                detail.TaggedAnswer = this.AllTaggedCompliances[i].TaggedAnswer;
                                detail.TaggedAnswerSingleMultiple = 0;
                            }
                            else {
                                detail.TaggedServiceID = -1;
                                detail.TaggedAnswer = 0;
                                detail.TaggedAnswerSingleMultiple = this.AllTaggedCompliances[i].TaggedAnswerSingleMultiple;
                            }
                            if ($scope.AllTaggedCompliances[i].TaggedAnsweRangeMin == "") {
                                detail.TaggedAnsweRangeMin = 0;
                            }
                            else {
                                detail.TaggedAnsweRangeMin = this.AllTaggedCompliances[i].TaggedAnsweRangeMin;
                            }
                            if (this.AllTaggedCompliances[i].TaggedAnsweRangeMax == "") {
                                detail.TaggedAnsweRangeMax = 0;
                            }
                            else {
                                detail.TaggedAnsweRangeMax = this.AllTaggedCompliances[i].TaggedAnsweRangeMax;
                            }

                            detail.TaggedIslicenseID = this.AllTaggedCompliances[i].TaggedIslicenseID;
                            detail.TaggedLicenseTypeID = this.AllTaggedCompliances[i].TaggedLicenseTypeID;
                            detail.TaggedCategoryID = this.AllTaggedCompliances[i].TaggedCategoryID;

                            if (this.AllTaggedCompliances[i].TaggedSubCategoryID == undefined) {
                                detail.TaggedSubCategoryID = -1;
                            }
                            else {
                                detail.TaggedSubCategoryID = this.AllTaggedCompliances[i].TaggedSubCategoryID;
                            }
                            details.push(detail);
                        }
                        else {
                        }
                    }
                    entry.BulkUpdates = details;
                    $http({
                        method: "post",
                        url: "../Question/BulkUpdateTaggedQuestion",
                        dataType: 'json',
                        headers: { "Content-Type": "application/json" },
                        data: '{bupdate: ' + JSON.stringify(entry) + '}'
                    }).then(function (response) {
                        $scope.msg = response.data;

                        if (response.data == "Details Updated Successfully!") {
                            if ($scope.ActID != -1) {
                                TaggedBindgrid($scope.ActID)
                            }
                            $scope.tabs = false;
                            $scope.adtabls = false;
                            $scope.form = false;
                            $scope.form1 = false;
                            $scope.DisplayForm = false;
                            $scope.addplus = true;
                            $scope.addminus = false;
                            $scope.editminus = false;
                            $scope.DeleteAlert = false;
                            $scope.AddAlert = true;
                            $scope.EditAlert = false;
                            clearFields();
                        }
                        else {
                            $scope.tabs = true;
                        }

                    }), function (error) {
                        $scope.Message = error.Message;
                    }

                }
                else {
                    // Show error Message if Form not valid.
                    if ($scope.userForm.$error.required != undefined) {
                        for (var i = 0; i < $scope.userForm.$error.required.length; i++) {
                            $scope.userForm.$error.required[i].$pristine = false;
                        }
                    }
                }
            };
        });


        app.service("myService", function ($http) {
            // Update Activity by Id
            this.updateActivity = function (activitie) {
                var response = $http({
                    method: "post",
                    url: "../Question/AddQuestionActComplianceMapping",
                    data: JSON.stringify(activitie),
                    dataType: "json"
                });
                return response;
            }
            this.TaggedupdateActivity = function (activitie) {
                var response = $http({
                    method: "post",
                    url: "../Question/UpdateTaggedQuestion",
                    data: JSON.stringify(activitie),
                    dataType: "json"
                });
                return response;
            }
            // Add Activity by Id
            this.AddActivity = function (activitie) {
                var response = $http({
                    method: "post",
                    url: "../Question/AddActivity",
                    data: JSON.stringify(activitie),
                    dataType: "json"
                });

                return response;
            }
        });
    </script>
</body>
</html>




