﻿@model IEnumerable<BM_ManegmentServices.VM.MenuItem>

@foreach (var item in Model)
{
    @*<li role="menuitem" class="dynamic" style="position: relative;">
        <a class="level2 dynamic" href="@item.Link" tabindex="-1" style="padding:0px">@item.LinkName</a>
    </li>*@

    <li>
        <a class="k-menu-level2" href="@item.Link" style="padding-left: 3em">
            <img src="../Images/monthly_comp.png" />@item.LinkName
        </a>
    </li>
}


