﻿@using Kendo.Mvc.UI;
@model long


<script>
    $("#btnSaveCompliancedetails").kendoButton({
        click: function (e) {
            
            var grid = $("#gridAgendaComplianceDetails").data("kendoGrid");
            grid.saveChanges();
        }
    })
</script>
<script type="text/javascript">
    function error_handlerT(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "<br>";
                    });
                }
            });
            alert(message);
            var divgridNewMessage = $("#divgridNewMessage");
            divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> " + message + "</div></div></div>";

        }
        else {
            //alert('Save Successfully.');
        }
    }

    function Request_EndT(e) {
        
       if (e.type == "create" || e.type == "update") {
        //    if(e.response.Errors == null)
        //    {
        //        var divgridNewMessage = $("#divgridNewMessage");
        //        divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>Save Successfully.</lable></div></div></div>";
        //    }
        }
    }

    function setDataItemforAttendance(item) {
        
        var grid = $("#gridAgendaComplianceDetails").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);

        if ($(item).val() == "true") {
            dataItem.Autoclose = true;
        } else if ($(item).val() == "false") {
            dataItem.Autoclose = false;
        }
        dataItem.dirty = true;
    };



    $("#btncloseTemplate").kendoButton({
        click: function (e) {
            $("#wndAddTemplate").data("kendoWindow").close();
        }
    })

    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }
</script>

<script>
    function onChange(e) {
        
        if (e.action == "itemchange") {
            if (e.field == "DaysOrHoursNames") {
                var model = e.items[0];
                if (model.DaysOrHoursNames.DaysOrHours != "D") {
                    var grid = $("#gridAgendaComplianceMappingDetails").data("kendoGrid");
                    var currentUid = model.uid;
                    var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                    currenRow[0].cells[4].innerText = "";
                    model.set("DayTypeNames.DayType", "");
                    //model.set("DayTypeNames.DayTypeName", "");
                }
            }
        }
        if (e.action == "remove") {
            DeleteMapping(e);
        }
    }


    function getCurrentEditedModel() {
        
        var grid = $("#gridAgendaComplianceDetails").data("kendoGrid");
        var editRow = grid.tbody.find("tr:has(.k-edit-cell)");
        return grid.dataItem(editRow);
    }

    function filterdayhouresminutes() {
        var model = getCurrentEditedModel();
        
        return {
            DayTypeNames: model.DaysOrHoursNames.DaysOrHours
        };
    }

   
    function DeletebyId(id) {
        
        $.ajax({
            url: "/api/AgendaMasterAPI/DeleteAgendaComplianceMapping?Id=" + id,
            method: "DELETE",
            success: function () {
                alert("Deleted Successfully");
                $('#gridAgendaComplianceDetails').data('kendoGrid').dataSource.read();
                $('#gridAgendaComplianceDetails').data('kendoGrid').refresh();
            }
        });
    }

    function DeleteMapping(e) {
        
        e.preventDefault();
        
        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.Agenda_ComplianceId;
        wnd.center().open();
        $("#yes").click(function () {
            DeletebyId(id)
            grid.removeRow(row);
            wnd.close();
        });

        $("#no").click(function () {
            wnd.close();
        });
    }

    var wnd;
    $(document).ready(function () {
        wnd = $("#modalWindow").kendoWindow({
            title: "Delete confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");
    });
</script>


<div>
    <div id="modalWindow">
        <h5>Are you sure you want to delete this data?</h5>
        <button id="yes" class="k-button">Yes</button>
        <button id="no" class="k-button">No</button>
    </div>

    @(Html.Kendo().Tooltip()
        .For("#gridAgendaComplianceDetails")
        .Filter(".k-grid-add")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Add - ComplianceMapping")
        .Width(120)
    )

    @(Html.Kendo().Tooltip()
        .For("#gridAgendaComplianceDetails")
        .Filter(".k-grid-delete")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Delete")
        .Width(120)
    )

    @(Html.Kendo().Tooltip()
        .For("#gridAgendaComplianceDetails")
        .Filter("td:nth-child(1)")
        .ContentHandler("toolTipContent_gridNew")
        .Position(TooltipPosition.Top)
        .Width(200)
        .AutoHide(true) )


</div>

<div id="divgridNewMessage">

</div>
<div>
    @(Html.Kendo().Window().Name("wndComplianceMapping").Title("Add ComplianceMapping").Visible(false).Modal(true).Draggable(true).Scrollable(true))
</div>
<div>
    @(Html.Kendo().Grid<BM_ManegmentServices.VM.AgendaComplianceEditorVM>()
    .Name("gridAgendaComplianceDetails")
    .Columns(columns =>
    {
    columns.Bound(p => p.TriggerOn).EditorTemplateName("TriggerOn").ClientTemplate("#:TriggerOn.TriggerOnName#").Title("TriggerOn").HtmlAttributes(new { @style = "width:10%" });
    columns.Bound(p => p.ComplianceShortDesc).Title("Compliance").HtmlAttributes(new { @style = "width:35%" }).Sortable(false);
    columns.Bound(p => p.BeforeAfterNames).EditorTemplateName("_BeforeAfter").ClientTemplate("#:BeforeAfterNames.BeforeAfterName#").Title("Before/After").HtmlAttributes(new { @style = "width:10%" });
    columns.Bound(p => p.Numbers).Title("No of Day/Hour/Minute").HtmlAttributes(new { @style = "width:10%" });
    columns.ForeignKey(e => e.DaysOrHoursNames, (System.Collections.IEnumerable)ViewData["listDayorHoureData"], "DaysOrHoursName", "DaysOrHours").ClientTemplate("#:DaysOrHoursNames.DaysOrHoursName#").Title("Type").Title("Days/Hours/Minutes").HtmlAttributes(new { @style = "width:10%" });//.EditorTemplateName("MaterialCategoryID");
    columns.ForeignKey(e => e.DayTypeNames, (System.Collections.IEnumerable)ViewData["listDayType"], "DayTypeName", "DayType").ClientTemplate("#:DayTypeNames.DayTypeName#").Title("Day Type").HtmlAttributes(new { @style = "width:15%" });
    //columns.Bound(c => c.Autoclose).ClientTemplate("<label class='container' style='margin-left: 9%;'><input type='checkbox' id= 'chkAutoclose#=data.uid#' onchange='setDataItemIsAutoclose(this);'value=#=Autoclose#   #= Autoclose== true ? 'checked=checked' : '' # ><span class='checkmark'></span></label>").HtmlAttributes(new { @style = "width:5%" });
    //columns.Bound(c => c.Autoclose).ClientTemplate("<label class='container1' for='rdbAutocloseYes#=data.uid#'>Yes<input id = 'rdbAutocloseYes#=data.uid#' name='#=data.uid#' onclick='setDataItemforAttendance(this);' #= Autoclose== true ? 'checked=checked' : '' #  style='margin-left:0.5em;' type='radio' value=true class='k-radio'><span class='checkmark1'></span></label>" + "&nbsp; &nbsp;" +
    //      
    columns.Bound(p => p.Type).EditorTemplateName("Type").ClientTemplate("#:Type.TypeName#").Title("Type").HtmlAttributes(new { @style = "width:10%" });
       
        columns.Command(command => command.Destroy()).Title("Action");
        //columns.Command(c => c.Custom("D").Click("DeleteMapping").HtmlAttributes(new { @class= "k-button k-button-icontext k-grid-delete" , @style = "width:5%" }));
    })
    .ToolBar(toolBar =>
    {
                toolBar.Create().Text("Add New").HtmlAttributes(new { @ID = "AddComplianceMapping", @class = "k-grid-add", title = "Add New Template Field" });
            })
    .Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Bottom))
    .Pageable()
    .Sortable()
    //.Scrollable()
    //.HtmlAttributes(new { style = "height:500px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .ServerOperation(false)
        .Events(events => events.Error("error_handlerT")
        .RequestEnd("Request_EndT"))
        .Events(e => e.Change("onChange"))
        .Model(model =>
        {
                model.Id(p => p.Agenda_ComplianceId);
                model.Field(p => p.ComplianceShortDesc).Editable(false);
                model.Field(p => p.Agenda_ComplianceId).Editable(false);
                //model.Field(p => p.BeforeAfterNames.BeforeAfter);
                //model.Field(p => p.DaysOrHoursNames.DaysOrHours);
                //model.Field(p => p.DayTypeNames.DayType);
            })
        .PageSize(10)
        .Read(read => read.Action("AgendaMappingDetails", "AgendaMasterCompliances", new { AgendaMasterId = Model }))
        .Create(create => create.Action("ComplianceDetails_Create", "AgendaMasterCompliances"))
        .Update(update => update.Action("ComplianceDetails_Create", "AgendaMasterCompliances"))
        .Destroy(destroy => destroy.Action("DeleteComplianceAgendaMapping", "AgendaMasterCompliances"))
    ).HtmlAttributes(new { style = "width:100%" }))

</div>  

<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <p style="color:red"><b>Notes:</b>Drag and Drop Compliance in sequence way.</p><br />
        <p style="color:red"><b>Notes:</b>Make sure Compliance is in sequence way.</p>
    </div>
</div>  
         
<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;">
            <button type="button" id="btnSaveCompliancedetails" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
            <button type="button" id="btncloseTemplate" class="k-button">Close</button>
        </div>
    </div>
</div>

<script>
    $("#AddComplianceMapping").click(function (e) {
        
        e.preventDefault();
        CreateMapping();
    });

    function CreateMapping(e) {
        $("#wndComplianceMapping").kendoWindow({
            title: "Compliance Mapping",
            modal: true
        });

        var direction = "@Url.Action("Create", "AgendaMasterCompliances", new { id = Model })";
        showComplianceMappingPopup(direction);
    }

    function EditMapping(e) {
        e.preventDefault();
        
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var direction = "@Url.Action("GetMapping", "AgendaMasterCompliances")" + "?agendaMasterId=@Model&id=" + dataItem.Agenda_ComplianceId;

        showComplianceMappingPopup(direction);
    }

    function showComplianceMappingPopup(direction) {
        $("#wndComplianceMapping").attr("style", "min-height:100px;");

        var wnd = $("#wndComplianceMapping").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndComplianceMapping").kendoWindow({
            pinned: true,
            actions: ["Close"],
            content: direction,
            width: "95%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () {
                $(this.element).closest(".k-window").css("top", "29px")
                OnOpenComplianceMapping();
            },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                //$('#gridNewAgendaCompliance').data('kendoGrid').dataSource.read();
            }
        }).data("kendoWindow");

        opts.width = "95%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function OnOpenComplianceMapping(e) {
        var wnd = $("#wndComplianceMapping").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }

    function OnRefreshComplianceMapping() {
        var wnd = $("#wndComplianceMapping").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

</script>

