.clsDropDownTextBox {
    padding: 0px;
    padding-left: 10px;
    margin: 0px;
    height: 32px;
    width: 95%;
    border: 1px solid #c7c7cc;
    border-radius: 4px;
    color: #8e8e93;
    font-family: 'Roboto', sans-serif !important;
    font-size: 13px;
}
.text_NlinesusingCSS {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 18px;
    max-height: 50px;
    /* The number of lines to be displayed */
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.clsPageNo{
        margin-top: 5%;
    margin-left: 35%;
    color: #666666;
}

.dd_chk_select {
    height: 81px;
    height: 3px !important;
    /*text-align: center;*/
    border-radius: 4px !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.428571429;
    color: #8e8e93 !important;
    background-color: #fff !important;
    border: 1px solid #c7c7cc !important;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    font-family: Roboto sans-serif !important;
    margin-bottom: 0px !important;
}

.chosen-results {
    max-height: 75px !important;
}

.chosen-container-single .chosen-single {
    background: none !important;
    border: 1px solid #c7c7cc !important;
    height: 32px !important;
    padding: 3px 0px 0px 14px !important;
    font-family: 'Roboto', sans-serif !important;
}

.clock_container {
    float:left;
    margin-right:2px;
    width:70px;
    position: relative;
}
.clock_container .lbl {
    font-size:10px;
    color: #333333;
    line-height: 22px;
    background: url(../images/clock_label.png);
    text-align: center;
    height: 27px;
    width: 68px;
    margin: 0 auto;
}
.clockHolder {
    width:100px; 
    margin:0 auto;
    position:relative;
}
.clock {
    margin-left:5px;
}

.sec {
    display:block;
    position:absolute;
}
.min {
    display:block;
    position:absolute;
}
.hour {
    display:block;
    position:absolute;
}

.rotatingWrapper {
    position:absolute;
    width:50px;
    height:50px;
    left: 5px;

}
.digital {
    font-weight:bold;
    font-size: 14px;
    color: #444444;
    text-align:center;
}
   /* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/0eC6fl06luXEYWpBSJvXCBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/Fl4y0QdOxyyTHEGMXX8kcRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/-L14Jk06m6pUHB-5mXQQnRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/I3S1wsgSg9YCurV6PUkTORJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/NYDWBdD4gIq26G5XYbHsFBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/Pru33qjShpZSmG3z6VYwnRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/-2n2p-_Y08sg57CNWQfKNvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/u0TOpm082MNkS5K0Q4rhqvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/NdF9MtnOpLzo-noMoG0miPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/ZLqKeelYbATG60EpZBSDyxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/oHi30kwQWvpCWqAhzHcCSBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/rGvHdJnr2l75qb0YND9NyBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/mx9Uck6uB63VIKFYnEMXrRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/mbmhprMH69Zi6eEPBYVFhRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/oOeFwZNlrTefzLYmlVV1UBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/77FXFjRbGzN4aCrSFhlh3hJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/isZ-wbCXNKAbnjo6_TwHThJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/UX6i4JxQDm3fVTc1CPuwqhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/jSN2CGVDbcVyCnfJfjSdfBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/PwZc-YbIL414wB9rB1IAPRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/97uahxiqZRoncBaCEI3aWxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.btn {
    display: inline-block;
    padding: 3px 8px;
    margin-bottom: 0;
    line-height: 25px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-weight: 300;
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    transition: all .15s;
}

@import url(line-icons.css);
/*Widgets.css*/
.activity,.chats,.file-upload,.latest-news,.project,.recent,.task{list-style-type:none}.chats{margin:0}.chats li{margin-bottom:8px;padding-bottom:8px}.chats .by-me img{margin-top:5px;margin-right:10px;padding:1px;background:#fff;border:1px solid #ccc}.chats .by-me .chat-meta{font-size:11px;color:#999}.chats .by-me .chat-content{margin-left:60px;position:relative;background:#fff;border:1px solid #ddd;padding:7px 10px;border-radius:5px;font-size:13px}.chats .by-me .chat-content:after,.chats .by-me .chat-content:before{right:100%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none}.chats .by-me .chat-content:after{border-color:rgba(255,255,255,0);border-right-color:#fff;border-width:10px;top:30%;margin-top:-10px}.chats .by-me .chat-content:before{border-color:rgba(238,238,238,0);border-right-color:#ccc;border-width:11px;top:30%;margin-top:-11px}.chats .by-other img{margin-top:5px;margin-left:10px;padding:1px;background:#fff;border:1px solid #ccc}.chats .by-other .chat-meta{font-size:11px;color:#999}.chats .by-other .chat-content{margin-right:60px;position:relative;background:#fff;border:1px solid #ddd;padding:7px 10px;border-radius:5px;font-size:13px}.chats .by-other .chat-content:after,.chats .by-other .chat-content:before{left:100%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none}.chats .by-other .chat-content:after{border-color:rgba(255,255,255,0);border-left-color:#fff;border-width:10px;top:30%;margin-top:-10px}.chats .by-other .chat-content:before{border-color:rgba(238,238,238,0);border-left-color:#ccc;border-width:11px;top:30%;margin-top:-11px}.recent-content .btn{font-size:11px!important;margin-top:5px}.recent-meta{font-size:11px;color:#999}.recent{margin:0;font-size:12px;line-height:16px}.recent img{margin-top:5px;margin-right:10px;padding:1px;background:#fff;border:1px solid #ccc}.recent li{margin-bottom:8px;padding-bottom:8px;border-bottom:1px solid #eee}.file-upload{margin:0;padding:0}.file-upload li{padding:5px 10px;background-color:#fafafa;background:-webkit-gradient(linear,left top,left bottom,from(#fafafa),to(#f6f6f6));background:-webkit-linear-gradient(top,#fafafa,#f6f6f6);background:-moz-linear-gradient(top,#fafafa,#f6f6f6);background:-ms-linear-gradient(top,#fafafa,#f6f6f6);background:-o-linear-gradient(top,#fafafa,#f6f6f6);background:linear-gradient(top,#fafafa,#f6f6f6);border-top:1px solid #ccc}.file-upload li:first-child{border-top:0}.file-upload li:hover{background:#f0f0f0}.file-upload .file-meta{font-size:11px}.file-upload .progress{margin:5px 0!important}.task{margin:0;padding:0}.task li{padding:10px;background-color:#fafafa;background:-webkit-gradient(linear,left top,left bottom,from(#fafafa),to(#f6f6f6));background:-webkit-linear-gradient(top,#fafafa,#f6f6f6);background:-moz-linear-gradient(top,#fafafa,#f6f6f6);background:-ms-linear-gradient(top,#fafafa,#f6f6f6);background:-o-linear-gradient(top,#fafafa,#f6f6f6);background:linear-gradient(top,#fafafa,#f6f6f6);border-top:1px solid #ccc}.task li:first-child{border-top:0}.task li:hover{background:#f0f0f0}.task i{width:17px;height:17px;background:#ccc;text-align:center;border-radius:50px;font-size:10px;line-height:17px}.task .label{margin-left:5px}.task a{color:#999}.referrer img{max-width:20px;width:20px;display:block;margin:0 auto}.latest-news{margin:0;padding:0}.latest-news li{border-bottom:1px solid #ddd;padding-bottom:5px;margin-bottom:5px}.latest-news li:last-child{border-bottom:0;margin-bottom:0;padding-bottom:0}.latest-news h6{line-height:13px}.latest-news h6 span{font-weight:400;font-size:11px;color:#666}.quick-post{margin-top:20px}.project{margin:0;padding:0}.project li{padding:10px;background-color:#fafafa;background:-webkit-gradient(linear,left top,left bottom,from(#fafafa),to(#f6f6f6));background:-webkit-linear-gradient(top,#fafafa,#f6f6f6);background:-moz-linear-gradient(top,#fafafa,#f6f6f6);background:-ms-linear-gradient(top,#fafafa,#f6f6f6);background:-o-linear-gradient(top,#fafafa,#f6f6f6);background:linear-gradient(top,#fafafa,#f6f6f6);border-top:1px solid #ccc}.project li:first-child{border-top:0}.project li:hover{background:#f0f0f0}.project p{font-weight:700;margin:0!important;padding:0!important}.project .p-meta{font-size:11px;font-weight:400;margin-left:26px!important;margin-bottom:5px!important}.project .progress{margin:0 0 0 26px!important;padding:0!important}.activity{margin:0;padding:0}.activity li{padding:8px 10px;background-color:#fafafa;background:-webkit-gradient(linear,left top,left bottom,from(#fafafa),to(#f6f6f6));background:-webkit-linear-gradient(top,#fafafa,#f6f6f6);background:-moz-linear-gradient(top,#fafafa,#f6f6f6);background:-ms-linear-gradient(top,#fafafa,#f6f6f6);background:-o-linear-gradient(top,#fafafa,#f6f6f6);background:linear-gradient(top,#fafafa,#f6f6f6);border-top:1px solid #ccc}.activity li:first-child{border-top:0}.activity li:hover{background:#f0f0f0}.activity i{margin-right:5px}.gmap iframe{width:100%;margin:0;padding:0}.user img{max-width:100px;border:1px solid #aaa;padding:1px;background:#fff;margin-top:5px}.user .user-pic{float:left;width:110px}.user .user-details{margin-left:115px}

/* Import fonts */
#imgUpdateProgress{top: 30% !important; left: 40% !important;}/*35%  , 50%*/
/*stylenew.css*/
.notification {
    background: #00a0df;
    border-radius: 9px !important;
    color: #fff;
}
.login-form .btn-login,.page-header,a.logo{text-transform:uppercase}.chats,.today-datas{list-style-type:none}body{color:#f1f1f1;background:#eee;font-family:'Roboto',sans-serif;padding:0!important;margin:0!important;font-size:14px!important}h1,h2,h3,h4,h5,label{font-weight:300}.login-form .checkbox,table tr th{font-weight:400;font-family:'Roboto',sans-serif}ul li{list-style:none}a,a:focus,a:hover{text-decoration:none;outline:0}:focus,input:focus,textarea:focus{outline:0}table tr th{color:#666;font-size:15px}table tr td{color:#666;font-size:14px}::selection{background:#688a7e;color:#fff}::-moz-selection{background:#688a7e;color:#fff}#container{width:100%;height:100%}.Creative-pro,.Creative-pro h3{display:block;position:fixed;bottom:0;z-index:100000;width:100%;overflow:hidden;height:50px;margin:0}.Creative-pro h3{padding-bottom:10px;padding-top:10px}.lite{color:#00a0df!important}.login-form{max-width:350px;margin:100px auto 0;background:#f9f9f9}.login-form a{color:#688a7e!important}.login-form-head{max-width:350px;min-height:80px;background:#fff;text-align:center}.login-form h1{font-size:18px;color:#555;padding:0 0 10px;margin:0 0 10px}.login-form h2{font-size:16px;color:#555}.login-form h3{font-size:14px;color:#555}.login-form-captcha{height:100px;margin:15px 0 0 5px}.login-form .checkbox{margin-bottom:14px;font-weight:300}.login-form .form-control{position:relative;font-size:16px;height:auto;padding:10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.login-form .form-control:focus{z-index:2}.login-form .login-img{font-size:50px;font-weight:300;text-align:center}.login-form .input-group{margin-bottom:15px;border:1px solid #ccc}.login-form .input-group-addon{padding:6px 12px;font-size:16px;color:#8b9199;font-weight:400;line-height:1;text-align:center;background-color:#fff;border:none;border-radius:0}.login-form input[type=text],.login-form input[type=password]{border:none;box-shadow:none;font-size:14px;border-radius:0;color:#999}#sidebar,#sidebar-small{height:100%;position:fixed;border-right:1px solid #e1e5e9}.login-form .btn{border-radius:0}.login-form .btn-login{background:#1fd9e1;color:#fff;font-weight:300;font-family:'Roboto',sans-serif;box-shadow:0 4px #e56b60;margin-bottom:20px}.login-form p{text-align:left;color:#b6b6b6;font-size:12px}.login-form a:hover{color:#34aadc}.form .required{font-size:16px;color:#00a0df}.login-wrap{padding:20px}.login-social-link{display:inline-block;margin-top:20px;margin-bottom:15px}.login-social-link a{color:#fff;padding:15px 28px;border-radius:4px}.login-social-link a:hover{color:#fff}.login-social-link a i{font-size:20px;padding-right:10px}.login-social-link a.facebook{background:#5193ea;margin-right:22px;box-shadow:0 4px #2775e2;float:left}.login-social-link a.twitter{background:#44ccfe;box-shadow:0 4px #2bb4e8;float:left}.modal-content{border-radius:10px;background:#fff}.modal-header .close{font-weight:300;font-size:30px}#sidebar{width:250px;background:#fff;z-index:10}#sidebar-small{width:80px;background:#fff;z-index:9999;display:none}.nav-collapse.collapse{display:inline}ul.sidebar-menu,ul.sidebar-menu li ul.sub{margin:-2px 0 0;padding:0}ul.sidebar-menu{margin-top:0}#sidebar>ul>li>ul.sub{display:none}#sidebar>ul>li.active>ul.sub,#sidebar>ul>li>ul.sub>li>a{display:block}ul.sidebar-menu li ul.sub li{background:#f8f8f8;margin-bottom:0;margin-left:0;margin-right:0}ul.sidebar-menu li ul.sub li:last-child{border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px}ul.sidebar-menu li ul.sub li a{padding:0 0 0 32px;line-height:35px;height:35px;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;color:#2b2b2b;font-size:14px}ul.sidebar-menu li a,ul.sidebar-menu li ul.sub li a:hover,ul.sidebar-menu li ul.sub li.active a{-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;-ms-transition:all .3s ease;color:#2b2b2b}ul.sidebar-menu li ul.sub li a:hover,ul.sidebar-menu li ul.sub li.active a{transition:all .3s ease;display:block}ul.sidebar-menu li{line-height:20px!important}ul.sidebar-menu li.sub-menu{line-height:15px;font-size:16px}ul.sidebar-menu li a span{display:inline-block}ul.sidebar-menu li a{text-decoration:none;display:block;padding:20px 0 20px 10px;font-size:16px;font-weight:300;outline:0;transition:all .3s ease}.search,ul.sidebar-menu li a:focus,ul.sidebar-menu li a:hover,ul.sidebar-menu li.active a{-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease}ul.sidebar-menu li a:focus,ul.sidebar-menu li a:hover,ul.sidebar-menu li.active a{background:#f8f8f8;color:#2b2b2b;display:block;transition:all .3s ease}.menuactive{background:#f8f8f8}ul.sidebar-menu .sub-menu li.active a,ul.sidebar-menu li a:focus,ul.sidebar-menu li a:hover{border-bottom:1px solid #d0d8df}ul.sidebar-menu li a i{font-size:18px;padding-right:6px}ul.sidebar-menu li a:focus i,ul.sidebar-menu li a:hover i{color:#000}ul.sidebar-menu li.active a i{color:#fff}#sidebar ul>li>a .arrow{border-bottom:4px solid transparent;border-left:4px solid #A0A0A0;border-top:4px solid transparent;float:right;height:0;margin-right:10px;margin-top:6px;width:0}#sidebar ul>li>a .menu-arrow{float:right;margin-right:8px;margin-top:6px}#sidebar>ul>li>a .arrow.open{border-left:4px solid transparent;border-right:4px solid transparent;border-top:5px solid #A0A0A0;float:right;height:0;margin-right:10px;margin-top:8px;width:0}#sidebar ul>li.active>a .arrow,#sidebar ul>li>a:focus .arrow,#sidebar ul>li>a:hover .arrow{float:right;margin-top:6px;margin-right:10px;width:0;height:0;border-left:4px solid #d0d8df;border-top:4px solid transparent;border-bottom:4px solid transparent}#sidebar>ul>li.active>a .arrow.open,#sidebar>ul>li>a:focus .arrow.open,#sidebar>ul>li>a:hover .arrow.open{float:right;margin-top:8px;margin-right:10px;width:0;height:0;border-top:5px solid #d0d8df;border-left:4px solid transparent;border-right:4px solid transparent}#top_menu .nav>li,a.logo,ul.top-menu>li{float:left}.mail-info,.mail-info:hover{margin:3px 6px 0 0;font-size:11px}.online-profile li a i{position:relative;left:-12px;top:-10px}.online-profile li a span i{position:relative;top:10px}.chat-online-profile li a i{position:relative;left:-12px;top:-10px}.chat-online-profile li a span i{position:relative;top:10px}.chat-online-profile li a{border-bottom:1px solid #D7D7D7}.chat-online-profile li a:active,.chat-online-profile li a:focus,.chat-online-profile li a:hover{background:#eee!important;border-bottom:1px solid #688a7e!important}.dark-bg,.white-bg{border-bottom:1px solid #f1f2f7}.chat-online-profile li a:active span i,.chat-online-profile li a:focus span i,.chat-online-profile li a:hover span i{color:#688a7e}.right-chat-panel{max-height:600px}.compose-mail{width:95%;font-size:16px;border-radius:0}#main-content{margin-left:250px}.footer,.header{min-height:101px;padding:15px 15px 0 10px}.box1{font-size:16px;display:inline-block;width:25%;padding:.25em .5em;margin:20px 10px 0 0}.header{z-index:1002}.panel-content{padding:10px}.wrapper{display:inline-block;width:96%;margin-left:1.8%}a.logo{font-size:22px;font-weight:300;color:#fed189;padding:10px 0 0 25px}a.logo:focus,a.logo:hover{text-decoration:none;outline:0}a.logo span{color:#688a7e}.search-row{float:left;margin-top:10px;margin-left:16px}.notification-row{float:right;margin-top:15px;margin-left:65px}#alert_notificatoin_bar,#mail_notificatoin_bar,#task_notificatoin_bar{margin-top:15px}ul.top-menu>li>a{color:#fed189;font-size:18px;padding:2px 6px;margin-right:15px}ul.top-menu>li>a:focus,ul.top-menu>li>a:hover{background:0 0!important;color:#D7D7D7!important}.badge,.notification-row .badge{border-radius:2px;min-width:17px;height:14px;text-align:center;padding:2px 5px;background:#ffffff}.notification-row .badge{position:absolute;right:-4px;top:0;z-index:100;font-weight:400}.dropdown-menu.extended{max-width:300px!important;min-width:160px!important;top:42px;width:235px!important;padding:0;box-shadow:0 2px 5px rgba(0,0,0,.176)!important;border:none!important;border-radius:4px;-webkit-border-radius:4px}.navbar-form{padding:0;margin:0 0 0 10px}.navbar-form .form-control{width:250px;height:45px;padding-left:24px;margin-top:1px}@media screen and (-webkit-min-device-pixel-ratio:0){.dropdown-menu.extended{box-shadow:0 2px 8px rgba(0,0,0,.176)!important}}#editor{max-height:250px;height:250px;background-color:#fff;border-collapse:separate;border:1px solid #ccc;padding:4px;box-sizing:content-box;-webkit-box-shadow:rgba(0,0,0,.0745098) 0 1px 1px 0 inset;box-shadow:rgba(0,0,0,.0745098) 0 1px 1px 0 inset;overflow:scroll;outline:0;border-radius:3px}.inbox-wrapper,.pro-box{border-collapse:collapse;border-spacing:0;table-layout:fixed}.dd-empty,.dd-handle,.dd-placeholder{-webkit-box-sizing:border-box;-moz-box-sizing:border-box}#voiceBtn{width:20px;color:transparent;background-color:transparent;transform:scale(2,2);-webkit-transform:scale(2,2);-moz-transform:scale(2,2);border:transparent;cursor:pointer;box-shadow:none;-webkit-box-shadow:none}div[data-role=editor-toolbar]{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.dropdown-menu.extended li p{background-color:#F1F2F7;color:#666;margin:0;padding:10px}.dropdown-menu.extended li p.green{background-color:#4cd964;color:#fff}.dropdown-menu.extended li p.red{background-color:#00a0df;color:#fff}.dropdown-menu.extended li p.blue{background-color:#688a7e;color:#fff}.dropdown-menu.extended li p.yellow{background-color:#fcb322;color:#fff}.dropdown-menu.extended li a{border-bottom:1px solid #EBEBEB!important;font-size:12px;list-style:none;padding:15px 10px!important;width:100%;display:inline-block}.dropdown-menu.extended li a:hover{background-color:#F7F8F9!important;color:#2E2E2E;border-bottom:1px solid #688a7e!important}.dropdown-menu.tasks-bar .task-info .desc{font-size:13px;font-weight:400}.dropdown-menu.tasks-bar .task-info .percent{display:inline-block;float:right;font-size:13px;font-weight:600;padding-left:10px;margin-top:-4px}.dropdown-menu.extended .progress{margin-bottom:0!important;height:10px}.dropdown-menu.inbox li a .photo img{border-radius:2px;float:left;height:40px;margin-right:4px;width:40px}.dropdown-menu.inbox li a .subject{display:block}.dropdown-menu.inbox li a .subject .from{font-size:12px;font-weight:600}.dropdown-menu.inbox li a .subject .time{font-size:11px;font-style:italic;font-weight:700;position:absolute}.dropdown-menu.inbox li a .message{display:block!important;font-size:11px}.top-nav{margin-top:0}.top-nav ul.top-menu>li .dropdown-menu.logout{width:220px!important}.top-nav li.dropdown .dropdown-menu{float:right;right:0;left:auto}.dropdown-menu.extended.logout>li{float:left;text-align:left;width:100%}.dropdown-menu.extended.logout>li.eborder-top{border-top:0 solid #688a7e!important}.dropdown-menu.extended.logout>li:last-child>a:hover>i{color:#fff}.dropdown-menu>li>a{color:#999}.dropdown-menu.extended.logout>li>a{border-bottom:1px solid #EBEBEB!important;font-size:15px;list-style:none;padding:13px 10px!important;width:100%;display:inline-block}.dropdown-menu.extended.logout>li>a:hover{background-color:#F7F8F9!important;border-bottom:1px solid #999!important}.dropdown-menu.extended.logout>li>a:hover i{color:#688a7e}.dropdown-menu.extended.logout>li>a i{font-size:17px}.dropdown-menu.extended.logout>li>a>i{display:inline-block;padding-right:10px}.top-nav .username{font-size:13px;color:#fff}.top-nav ul.top-menu>li>a{padding:8px;background:0 0;margin-right:0}.top-nav ul.top-menu>li{margin-left:15px}.top-nav ul.top-menu>li>a:focus,.top-nav ul.top-menu>li>a:hover{background:#F1F2F7}.top-nav .dropdown-menu.extended.logout{top:80px}.top-nav .nav .caret{border-bottom-color:#A4AABA;border-top-color:#A4AABA}.top-nav ul.top-menu>li>a:hover .caret{border-bottom-color:#7498f1;border-top-color:#7498f1}.log-arrow-up{width:20px;height:11px;position:absolute;right:20px;top:-10px}.page-header{margin:12px 0 20px;border-bottom:none;opacity:.7}.page-header i{color:#acb1b8;margin-right:10px;float:left;font-size:30px;line-height:22px;opacity:.8}.breadcrumb{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;height:34px;position:relative;margin:0 0 19px;overflow:hidden}.breadcrumb li{position:relative;margin-right:0}.breadcrumb li i{Font-size:15px;margin-right:5px}.breadcrumb>.active{color:#d4d4d4}.info-box{min-height:140px;margin-bottom:18px;width:95%;border-radius:10px;padding: 10px 10px 0px 10px;color:#666;-webkit-box-shadow:inset 0 0 1px 1px rgba(255,255,255,.35),0 1px 1px -1px rgba(0,0,0,.1);-moz-box-shadow:inset 0 0 1px 1px rgba(255,255,255,.35),0 1px 1px -1px rgba(0,0,0,.1);box-shadow:inset 0 0 1px 1px rgba(255,255,255,.35),0 1px 1px -1px rgba(0,0,0,.1)}.info-box .count{font-size:23px;color:#1fd9e1;text-align:center;margin-left:-7px}.info-box .countMD{font-size:30px;color:#fff;text-align:center}.info-box .title{font-size:18px;color:#666;text-align:center}.info-box .titleMD{font-size:18px;color:#fff;text-align:center}.info-box .desc{font-size:12px;text-align:center}.info-box.danger{background:#ff5454;border:1px solid #ff2121}.info-box.warning{background:#fabb3d;border:1px solid #f9aa0b}.info-box.primary{background:#20a8d8;border:1px solid #1985ac}.info-box.info{background:#67c2ef;border:1px solid #39afea}.info-box.success{background:#79c447;border:1px solid #61a434}.dark-heading-bg{background:#4c4f53;border:1px solid #4c4f53}.main-bg{background:#e6e8ea}.white-bg{color:#768399;background:#fff}.red-bg{color:#fff;background:#d95043}.blue-bg{color:#fff;background:#57889c}.bluenew-bg{color:#fff;background:#008bcf}.indigo-bg{color:#fff;background:#1d293a}.seablue-bg{color:#fff;background:#19dbe4}.rednew-bg{color:#fff;background:#dc524b}.greennew-bg{color:#fff;background:#03b19a}.amber-bg{color:#fff;background:#f59d00}.green-bg{color:#fff;background:#26c281}.greenLight-bg{color:#71843f;background:#71843f}.yellow-bg{color:#fff;background:#fc6}.orange-bg{color:#fff;background:#f4b162}.purple-bg{color:#fff;background:#af91e1}.pink-bg{color:#fff;background:#f78db8}.lime-bg{color:#fff;background:#a8db43}.magenta-bg{color:#fff;background:#e65097}.teal-bg{color:#fff;background:#97d3c5}.brown-bg{color:#fff;background:#d1b993}.gray-bg{color:#fff;background:#1fd9e1}.dark-bg{color:#fff;background:#1a2732}.facebook-bg{color:#fff;background:#3b5998}.twitter-bg{color:#fff;background:#00aced}.linkedin-bg{color:#fff;background:#4875b4}.panel{border:none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.panel .panel-heading{border:none;background:#eee;padding:0}.panel .panel-heading .panel-title{line-height:40px}.panel .panel-heading i{width:10px;display:inline-block;font-size:14px}.panel .panel-heading ul li{border:none}.panel .panel-heading h2{height:100%;width:auto;display:inline-block;font-size:22px;position:relative;margin:0;line-height:34px;font-weight:400;letter-spacing:0}.panel .panel-heading .panel-actions{float:right;height:40px;font-size:0;padding-top:4px}.panel .panel-heading .panel-actions i{display:inline-block;text-align:center;width:20px;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;transition:all .1s ease-in-out;text-decoration:none;font-size:10px}.panel-actions a{font-size:10px!important}.panel .panel-heading .panel-actions a{text-decoration:none;font-size:14px;text-align:center;display:inline-block;line-height:20px;padding:0;margin:0;color:#999;border:1px solid rgba(0,0,0,.09);background:#fff;border-radius:5px}.panel-actions .btn-close:hover,.panel-actions .btn-minimize:hover,.panel-actions .btn-setting:hover{background-color:rgba(0,0,0,.05)}.panel .panel-heading .switch{margin:10px}.panel .panel-body.no-padding{padding:0}.panel .panel-body.padding-horizontal{padding:0 15px}.panel .panel-body.no-padding-bottom{padding-bottom:0}.panel-footer{padding:10px 15px;background-color:#f5f5f5;border-top:1px solid #ddd;border-bottom-right-radius:0;border-bottom-left-radius:0}.panel .panel-footer{border-width:0 1px 2px;border-style:solid;border-top:none;border-right-color:#ccc!important;border-bottom-color:#ccc!important;border-left-color:#ccc!important;position:relative}.panel.panel-default.panel-heading{background:#97d3c5}.panel.panel-default .panel-footer{background:#f5f5f5}.panel.panel-primary{border-color:#20a8d8}.panel.panel-primary .panel-footer,.panel.panel-primary .panel-heading{background:#5dc3e7;color:#092f3d;border-color:#20a8d8}.panel.panel-success{border-color:#79c447}.panel.panel-success .panel-footer,.panel.panel-success .panel-heading{background:#a3d781;color:#284315;border-color:#79c447}.panel.panel-info{border-color:#67c2ef}.panel.panel-info .panel-footer,.panel.panel-info .panel-heading{background:#acdef6;color:#106894;border-color:#67c2ef}.panel.panel-warning{border-color:#fabb3d}.panel.panel-warning .panel-footer,.panel.panel-warning .panel-heading{background:#fcd588;color:#815703;border-color:#fabb3d}.panel.panel-danger{border-color:#ff5454}.panel.panel-danger .panel-footer,.panel.panel-danger .panel-heading{background:#ffa1a1;color:#a10000;border-color:#ff5454}.chats{margin:0}.chats li{margin-bottom:8px;padding-bottom:8px}.chats .by-me img{margin-top:5px;margin-right:10px;padding:1px;background:#fff;border:1px solid #ccc}.chats .by-me .chat-meta{font-size:11px;color:#999}.chats .by-me .chat-content{margin-left:60px;position:relative;background:#fff;border:1px solid #ddd;padding:7px 10px;border-radius:5px;font-size:13px}.chats .by-me .chat-content:after,.chats .by-me .chat-content:before{right:100%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none}.chats .by-me .chat-content:after{border-color:rgba(255,255,255,0);border-right-color:#fff;border-width:10px;top:30%;margin-top:-10px}.chats .by-me .chat-content:before{border-color:rgba(238,238,238,0);border-right-color:#ccc;border-width:11px;top:30%;margin-top:-11px}.chats .by-other img{margin-top:5px;margin-left:10px;padding:1px;background:#fff;border:1px solid #ccc}.chats .by-other .chat-meta{font-size:11px;color:#999}.chats .by-other .chat-content{margin-right:60px;position:relative;background:#fff;border:1px solid #ddd;padding:7px 10px;border-radius:5px;font-size:13px}.dd,.dd-list{display:block;padding:0;list-style:none}.chats .by-other .chat-content:after,.chats .by-other .chat-content:before{left:100%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none}.chats .by-other .chat-content:after{border-color:rgba(255,255,255,0);border-left-color:#fff;border-width:10px;top:30%;margin-top:-10px}.chats .by-other .chat-content:before{border-color:rgba(238,238,238,0);border-left-color:#ccc;border-width:11px;top:30%;margin-top:-11px}.sz1{width:200px;height:160px}.sz0{margin:2em 0 0;width:100px;height:80px}.dd,.dd-list{margin:0;position:relative}.dd{font-size:13px;line-height:20px}.dd-list .dd-list{padding-left:30px}.dd-collapsed .dd-list{display:none}.dd-empty,.dd-item,.dd-placeholder{display:block;position:relative;margin:0;padding:0;min-height:20px;font-size:13px;line-height:20px}.dd-handle{display:block;height:30px;margin:5px 0;padding:4px 10px;text-decoration:none;border:1px solid #d4d4d4;background:#eee;-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;box-sizing:border-box}.dd-handle:hover{color:#20a8d8;background:#fff}.dd-handle .icon{float:right;font-size:16px;margin-left:10px}.dd-handle .icon:hover{text-decoration:none}.dd-item>button{display:block;position:relative;cursor:pointer;float:left;width:25px;height:20px;margin:5px 0;padding:0;text-indent:100%;white-space:nowrap;overflow:hidden;border:0;background:0 0;font-size:12px;line-height:1;text-align:center;font-weight:700}.dd-item>button:before{content:'+';display:block;position:absolute;width:100%;text-align:center;text-indent:0}.dd-item>button[data-action=collapse]:before{content:'-'}.dd-empty,.dd-placeholder{margin:5px 0;padding:0;min-height:30px;background:#f2fbff;border:1px dashed #b6bcbf;box-sizing:border-box}.dd-empty{border:1px dashed #bbb;min-height:100px;background-color:#e5e5e5;background-size:60px 60px;background-position:0 0,30px 30px}.dd-dragel{position:absolute;pointer-events:none;z-index:9999}.dd-dragel>.dd-item .dd-handle{margin-top:0}.dd-dragel .dd-handle{-webkit-box-shadow:2px 4px 6px 0 rgba(0,0,0,.1);-moz-box-shadow:2px 4px 6px 0 rgba(0,0,0,.1);box-shadow:2px 4px 6px 0 rgba(0,0,0,.1)}* /Widget-Content */ .widget-content .error .form-inline button{margin-left:-2px;padding:8px 12px}.widget .widget-head .widget-icons i,.widget.wblack .widget-head .widget-icons i{font-size:14px;margin:0 4px}.modal-header,.widget .widget-head{background:#fff;border-top-right-radius:10px;border-top-left-radius:10px;text-shadow:0 1px #fff;color:#666;font-size:14px;font-weight:700;padding:8px 15px}.modal-header{border-bottom:0}.widget.wblack .widget-head{background-color:#e8ece9;background:-webkit-gradient(linear,left top,left bottom,from(#e8ece9),to(#111));background:-webkit-linear-gradient(top,#e8ece9,#111);background:-moz-linear-gradient(top,#e8ece9,#111);background:-ms-linear-gradient(top,#e8ece9,#111);background:-o-linear-gradient(top,#e8ece9,#111);background:linear-gradient(top,#e8ece9,#111);text-shadow:0 1px #000;box-shadow:inset 0 1px 1px #444;color:#ccc}.widget .widget-head .widget-icons a{color:#aaa}.widget .widget-head .widget-icons a:hover{color:#999}.modal-footer,.widget .widget-foot{background-color:#f8f8f8;background:-webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f2f2f2));background:-webkit-linear-gradient(top,#f8f8f8,#f2f2f2);background:-moz-linear-gradient(top,#f8f8f8,#f2f2f2);background:-ms-linear-gradient(top,#f8f8f8,#f2f2f2);background:-o-linear-gradient(top,#f8f8f8,#f2f2f2);background:linear-gradient(top,#f8f8f8,#f2f2f2);border-bottom-right-radius:3px;border-bottom-left-radius:3px;text-shadow:0 1px #fff;border-bottom:1px solid #fff;border-top:1px solid #ccc;padding:8px 15px;font-size:12px;color:#555;box-shadow:inset 0 1px 1px #fff}.widget-content .error .form-inline button{margin-left:-2px;padding:8px 12px}.chats,.recent{padding-left:0;margin-left:0}.widget-foot .form-inline button{margin-left:-3px;padding:7px 12px}.widget-content .form-inline button{margin-left:0;padding:7px 12px}.widget .padd .modal-body{padding:13px 15px}.buttons button{margin-top:10px}.widget-content ol#slist{padding:0}.task i{display:inline-block;width:30px;height:17px;background:#ccc;text-align:center;border-radius:50px;font-size:10px;line-height:17px}.pagination li a{color:#777}.widget .nav-tabs{margin-bottom:5px}.widget .tab-content{margin-bottom:10px}.modal-body,.widget .padd{padding:13px 15px}.portlets{min-height:50px}.portlets .widget-head{cursor:move}* Google maps */ .gmap iframe{width:100%;margin:0;padding:0}.today-datas{padding:0;margin:10px 0}.today-datas li{display:inline-block;margin-bottom:5px;margin-right:10px;padding:10px;text-shadow:0 1px 0 #fff;max-width:100%;text-align:center}.weather-bg-img,.weather-bg-img .weather-category,.weather-bg-img i,.weather-days-img{text-shadow:0 1px 5px #fed189}.today-datas li .datas-text{font-size:13px;padding:7px 0 0;font-weight:400}.notify-arrow{border-style:solid;border-width:0 9px 9px;height:0;position:absolute;right:7px;top:-18px;transition:all .25s ease 0s;width:0;z-index:10;margin-top:10px;opacity:1}.notify-arrow-blue{border-color:transparent transparent #688a7e;border-bottom-color:#688a7e!important;border-top-color:#688a7e!important}.notify-arrow-yellow{border-color:transparent transparent #FCB322;border-bottom-color:#FCB322!important;border-top-color:#FCB322!important}.notify-arrow-red{border-color:transparent transparent #00a0df;border-bottom-color:#00a0df!important;border-top-color:#00a0df!important}.notify-arrow-green{border-color:transparent transparent #4cd964;border-bottom-color:#4cd964!important;border-top-color:#4cd964!important}.search{margin-top:6px;width:20px;transition:all .3s ease;border:1px solid #fff;box-shadow:none;background:url(../img/search-icon.jpg) 10px 8px no-repeat;padding:0 5px 0 35px;color:#fff}.search:focus{margin-top:5px;width:180px;border:1px solid #eaeaea;box-shadow:none;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;color:#c8c8c8;font-weight:300}.toggle-nav{float:left;padding-right:15px;padding-top:8px}.toggle-nav .icon-reorder{cursor:pointer;display:inline-block;font-size:20px}.sidebar-closed>#sidebar>ul{display:none}.sidebar-closed #main-content{margin-left:0}.sidebar-closed #sidebar{margin-left:-250px}.state-overview .symbol,.state-overview .value{display:inline-block;text-align:center}.state-overview .value h1{margin:0;padding:0;color:#688a7e;font-weight:300;font-weight:30px}.state-overview .value p{margin:0;padding:0;color:#fed189}.state-overview .symbol i{color:#688a7e;font-size:30px}.state-overview .symbol{width:30%;padding:25px 15px}.state-overview .value{float:right;width:68%;padding-top:21px}.state-overview .terques{background:#34AADC}.state-overview .red{background:#00a0df}.state-overview .yellow{background:#FCB322}.state-overview .blue{background:#688a7e}.state .panel-body{padding:0}.panel-body.chart-texture{background:url(../img/chart-texture.jpg);-webkit-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;padding:0}.task-thumb{width:90px;float:left}.task-thumb img{border-radius:4px;-webkit-border-radius:4px}.task-thumb-details{display:inline-block;margin:25px 0 0 10px}.task-progress{float:left}.task-progress h1,.task-progress h1 a,.task-thumb-details h1,.task-thumb-details h1 a{color:#688a7e;font-size:18px;margin:0;padding:0;font-weight:300}.task-progress p,.task-thumb-details p{padding-top:5px;color:#fed189}.personal-task tbody tr td{padding:11px 15px;border-color:#eeeff1}.personal-task tbody tr td i{font-size:16px;color:#c7cbd4;position:relative;right:6px;top:6px}.personal-task.table-hover>tbody>tr:hover>td,.table-hover>tbody>tr:hover>th{background-color:#f7f8fc}.personal-task.table-hover>tbody>tr:hover>td i{color:#688a7e}.personal-task>tbody>tr>td:last-child{text-align:right}.task-option{float:right}.task-option select{height:35px;border:1px solid #eaeaea;border-radius:4px;-webkit-border-radius:4px;padding:8px;color:#a4abbb}.progress-panel{padding-bottom:5px}.badge.bg-dashboard,.badge.bg-documents,.badge.bg-reports,.badge.bg-workspace{font-size:11px;padding:3px 15px 0;float:right;margin-right:30px;margin-top:3px;font-family:'Roboto',sans-serif}.badge.bg-primary{background:#688a7e}.badge.bg-success{background:#4cd964}.badge.bg-warning{background:#FCB322}.badge.bg-important{background:#00a0df;font-family:'Roboto',sans-serif;font-size:11px}.badge.bg-dashboard{background:#01c0c8}.badge.bg-workspace{background:#03a9f3}.badge.bg-reports{background:#9675ce}.badge.bg-documents{background:#fb9678}.badge.bg-info{background:#34aadc}.badge.bg-inverse{background:#797979}.revenue-head{background:#688a7e;color:#fff;line-height:50px;text-align:center}.revenue-head span{text-align:left;line-height:normal;padding:16px;font-weight:300}.revenue-head span i{font-size:18px}.revenue-head h3{display:inline;padding:0 10px;font-size:16px;font-weight:400}.chart-info,.chart-info .decrease,.chart-info .increase,.easy-pie-chart{display:inline-block}.revenue-head span.rev-combo{text-align:right;padding:16px;line-height:normal;font-weight:300}.easy-pie-chart{padding:30px 0}.chart-info{width:100%;margin-bottom:5px}.chart-position{margin-top:70px}.chart-info span{margin:0 3px}.chart-info .increase{background:#688a7e;width:10px;height:10px}.chart-info .decrease{background:#f2f2f2;width:10px;height:10px}.panel-footer.revenue-foot{background-color:#e6e7ec;-webkit-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;border:none;padding:0;width:100%;display:inline-block}@media screen and (-webkit-min-device-pixel-ratio:0){.panel-footer.revenue-foot{margin-bottom:-4px}}.panel-footer.revenue-foot ul{margin:0;padding:0;width:100%;display:inline-flex}.panel-footer.revenue-foot ul li{float:left;width:33.33%}.panel-footer.revenue-foot ul li.first a,.panel-footer.revenue-foot ul li.first a:hover{-webkit-border-radius:0 0 0 4px;border-radius:0 0 0 4px}.panel-footer.revenue-foot ul li.last a,.panel-footer.revenue-foot ul li.last a:hover{-webkit-border-radius:0 0 4px;border-radius:0 0 4px;border-right:none}.panel-footer.revenue-foot ul li a{display:inline-block;width:100%;padding:14px 15px;text-align:center;border-right:1px solid #d5d8df;color:#797979}.panel-footer.revenue-foot ul li a:hover,.panel-footer.revenue-foot ul li.active a{background:#fff;position:relative}.panel-footer.revenue-foot ul li a i{color:#c6cad5;display:block;font-size:16px}.panel-footer.revenue-foot ul li a:hover i,.panel-footer.revenue-foot ul li.active a i{color:#688a7e;display:block;font-size:16px}a.view-all,ul.ft-link li{display:inline-block;text-align:center}.flat-carousal{background:#00a0df;padding:10px;color:#fff;position:relative}.owl-buttons,.owl-next,.owl-prev{position:absolute}.flat-carousal h1{text-align:center;font-size:16px;margin:30px 20px;line-height:20px;font-weight:300;font-style:italic}a.view-all,ul.ft-link li a{font-size:12px;text-transform:uppercase}a.view-all{color:#fff;background:rgba(0,0,0,.1);padding:8px 15px;border-radius:25px;-webkit-border-radius:25px;margin-bottom:18px}ul.ft-link{margin:0;padding:0}ul.ft-link li{border-right:1px solid #E6E7EC;line-height:30px;margin:8px 0;width:24%}ul.ft-link li a{color:#74829c}ul.ft-link li a:hover,ul.ft-link li.active a{color:#00a0df}ul.ft-link li:last-child{border-right:none}ul.ft-link li a i{display:block}#owl-slider .item img{display:block;width:100%;height:auto}.owl-buttons{top:70px;width:100%}.owl-buttons .owl-next,.owl-buttons .owl-prev{text-indent:-9999px;width:6px;height:10px;display:inline-block}.owl-next{right:0}.owl-buttons .owl-prev{background:url(../img/left-arrow.png) no-repeat}.owl-buttons .owl-next{background:url(../img/right-arrow.png) no-repeat}.post-wrap aside{display:table-cell;float:none;height:100%;padding:0;vertical-align:top}.pro-box{display:table;width:100%}.post-info{position:relative}.arrow-pro.right:after{border-left-color:#FFF;border-right-width:0;top:85px;content:" "}.arrow-pro.left:after{border-right-color:#FFF;border-left-width:0;top:80px;content:" "}.arrow-pro.left{left:-8px}.arrow-pro:after{border-width:7px;content:""}.arrow-pro,.arrow-pro:after{border-color:transparent;border-style:solid;display:block;height:0;position:absolute;width:0;right:-5px}.post-info .desk,.pro-thumb{display:inline-block}.post-highlight.yellow{background:#FCB322}.post-highlight.terques{background:#688a7e}.post-info h1{margin:0;font-size:18px;color:#a19899;font-weight:300}.post-highlight.terques h2{font-size:16px;color:#fff;font-style:italic;padding:0 20px;line-height:22px;margin:0;font-weight:300}.post-highlight.terques h2 a,.post-highlight.terques h2 span{color:#92faf3}.post-info h1 strong{text-transform:uppercase;color:#937b7b}.post-info .desk h3{font-size:16px}.post-info .desk.yellow h3{color:#FCB322}.post-btn a{float:left;margin-right:8px;font-size:18px;color:#9a9a9a}.post-btn a:hover{color:#727272}.pro-thumb{text-align:center;border-radius:50%;-webkit-border-radius:50%;border:10px solid rgba(256,256,256,.4)}.pro-thumb img{text-align:center;width:112px;height:112px;border-radius:50%;-webkit-border-radius:50%}.v-align{vertical-align:middle!important}.twite h1{margin:50px 0}.social-footer{display:inline;text-align:center}.social-footer ul{text-align:center;margin:0;padding:0}.social-footer ul li{display:inline-block;margin:0 20px}.social-footer ul li a{font-size:25px;color:#ceced0}.social-footer ul li a:hover i.icon-facebook,.social-footer ul li.active a i.icon-facebook{color:#486eac}.social-footer ul li a:hover i.icon-twitter,.social-footer ul li.active a i.icon-twitter{color:#00a0df}.social-footer ul li a:hover i.icon-google-plus,.social-footer ul li.active a i.icon-google-plus{color:#4a4a4a}.social-footer ul li a:hover i.icon-pinterest,.social-footer ul li.active a i.icon-pinterest{color:#d1282d}.pie-foot{background:#6b6b6b;padding:18px 15px;color:#fff;border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;text-align:center;font-size:16px;font-weight:300}.profile-widget{color:#fff;text-align:center}.profile-widget-img{background:url(../img/backgrounds/bg-11-small.jpg) no-repeat!important}.profile-nav .profile-widget-img .bg-layer,.profile-widget-img .panel-body{background:rgba(0,0,0,.5)!important}.profile-widget-img .profile-widget-foot{background:rgba(0,0,0,.8)}.profile-widget p{font-weight:300}.profile-widget .twt-category{display:inline-block;margin-bottom:0;margin-top:10px;width:100%;padding:0}.profile-widget .twt-category ul li{color:#fff}.knob-charts{margin-top:10px}.follow-task{padding:5px}.follow-task a{color:#fff;width:15%;display:inline-block}.follow-task a span.badge{top:-12px;position:relative;left:-8px;background:#FFF;color:#34AADC}.profile-foot,.profile-widget-foot{padding:8px 5px 5px;background:rgba(0,0,0,.1);font-weight:300}.follow-task i{font-size:20px}.profile-widget-foot{color:#757575}.profile-foot{color:#fff;overflow:hidden}.profile-foot a{color:#fff}.profile-widget-foot ul{padding:0;margin:0}.profile-widget-foot ul li{display:inline-block;text-align:center;width:48%;line-height:normal}.profile-widget-foot ul li h5{margin:5px 0 0}.follow-info{text-align:left;padding-top:20px;padding-bottom:10px}.profile-widget h4{margin:5px;font-size:18px;font-weight:300}.profile-widget h6{margin:0;font-size:12px;color:rgba(255,255,255,.9);font-weight:300}.profile-widget h6 span i{padding-right:4px}.profile-widget h6 span{padding-right:8px}.panel-title,.progress-panel,.project-team{background:#F7F7F7}.profile-ava img{border-radius:50%;-webkit-border-radius:50%;display:inline-block}.follow-ava,.profile-ava img.simple{border-radius:50%;display:inline-block}.profile-ava img.simple{-webkit-border-radius:50%;border:2px solid rgba(0,112,255,.4)}.profile-name{margin:0;font-size:16px}.profile-occupation{margin:0;font-size:12px}.follow-ava{-webkit-border-radius:50%;border:5px solid rgba(0,0,0,.1)}.timeline-ava{border-radius:50%;-webkit-border-radius:50%;border:5px solid #688a7e;display:inline-block}.timeline-ava img{border-radius:50%;-webkit-border-radius:50%;width:50px;height:50px}.profile-widget img{border-radius:50%;-webkit-border-radius:50%;width:62px;height:62px}.social-box{min-height:158px;background:#fff;margin-bottom:30px;text-align:center}.social-box i{display:block;font-size:40px;line-height:90px;background:#f5f5f5}.social-box ul{list-style:none;padding:10px 0}.social-box ul li{display:block;width:50%;float:left}.social-box ul li:first-child{border-right:1px solid #f5f5f5}.social-box ul li strong{display:block;font-size:20px}.social-box ul li span{color:#d4d4d4;font-weight:500;text-transform:uppercase;font-size:10px}.social-box.facebook i{background:#3b5998;color:#fff;margin:-1px -1px 1px}.social-box.twitter i{background:#00aced;color:#fff;margin:-1px -1px 1px}.social-box.linkedin i{background:#4875b4;color:#fff;margin:-1px -1px 1px}.social-box.google-plus i{background:#d34836;color:#fff;margin:-1px -1px 1px}.weather-bg,.weather-days,.weather-info{background:#34AADC}.weather-bg{color:#fff;text-align:center;font-size:16px;font-weight:300}.weather-bg i{font-size:60px;display:block}.weather-bg h3{font-weight:300;font-size:28px}.weather-bg .degree{padding-top:10px;font-size:60px}.weather-category{padding:15px 0;color:#fff}.weather-category ul{padding:0 0 10px;margin:0;width:100%;text-align:center;border-top:1px solid #e6e6e6;border-left:1px solid #e6e6e6;border-right:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;display:inline-block}.weather-category ul li{width:70%;padding-top:10px;padding-bottom:10px;text-align:center;display:inline-block}.weather-category ul li i{margin-bottom:10px}.weather-category ul li h4{margin:10px 0 0;text-transform:uppercase;font-weight:300}.weather-days{color:#fff}.weather-days ul{padding:0;margin:0;display:inline-block;width:100%}.weather-days ul li{width:16.6%;text-align:center;display:inline-block;margin-right:-2.9px;padding:5px 0}.weather-days ul li.day1{background:rgba(0,0,0,.05)}.weather-days ul li.day2{background:rgba(0,0,0,.1)}.weather-days ul li.day3{background:rgba(0,0,0,.15)}.weather-days ul li.day4{background:rgba(0,0,0,.2)}.weather-days ul li.day5{background:rgba(0,0,0,.25)}.weather-days ul li.day6{background:rgba(0,0,0,.3)}.weather-days ul li h5{margin:0 0 5px;text-transform:uppercase;font-weight:300}.weather-category ul li:last-child,.weather-days ul li:last-child{border-right:none}.weather-bg-img{background:url(../img/backgrounds/bg-14-small.jpg) center center no-repeat;color:#fff;text-align:center;font-size:16px;font-weight:300}.weather-bg-img i{font-size:60px;display:block}.weather-bg-img h3{font-weight:300;font-size:28px}.weather-bg-img .degree{padding-top:10px;font-size:60px}.weather-bg-img .weather-category{padding:15px 0;color:#fff;background:0 0}.weather-bg-img .weather-category ul{padding:0;margin:0;display:inline-block;width:100%}.weather-bg-img .weather-category ul li{width:32%;text-align:center;border-right:1px solid #e6e6e6;display:inline-block}.weather-bg-img .weather-category ul li h5{margin:0 0 5px;text-transform:uppercase;font-weight:300;text-shadow:0 1px 5px #fed189}.weather-bg-img .panel-body,footer.weather-bg-img ul{background:rgba(0,0,0,.5)}.weather-days-img{color:#fff;background:0 0!important}.fontawesome-icon-list h2{margin-top:0;font-size:20px;font-weight:300}.fontawesome-icon-list .col-sm-3{margin-bottom:10px}.fontawesome-icon-list .page-header{border-bottom:1px solid #C9CDD7}.fontawesome-icon-list i{font-size:16px;padding-right:10px}#brand,#currency,#directional,#medical,#text-editor,#video-player,#web-application{margin-top:10px}.inbox-wrapper{display:table;width:100%}.inbox-wrapper aside{display:table-cell;float:none;height:100%;padding:0;vertical-align:top}.inbox-wrapper .inbox-left{width:20%;background:#e5e8ef}.inbox-wrapper .inbox-middle{width:25%;background:#fff}.inbox-wrapper .inbox-right{width:65%;background:#f5f5f5}.inbox-wrapper .inbox-left .inbox-left-menu{background:#688a7e}.starred,.table-inbox .icon_star_alt:hover{color:#FCB322}.inbox-wrapper .inbox-left .user-head{background:rgba(0,0,0,.2);padding:10px;color:#fff;min-height:80px}.inbox-wrapper .inbox-middle .inbox-mail{background:#688a7e;padding:10px;color:#fff;min-height:80px}.user-head .inbox-avatar{width:65px;float:left}.user-head .inbox-avatar img{border-radius:4px;-webkit-border-radius:4px}.user-head .user-name{display:inline-block;margin:0 0 0 10px}.user-head .user-name h5{font-size:14px;margin-top:-15px;margin-bottom:0;font-weight:300}.user-head .user-name h5 a{color:#fff}.user-head .user-name span a{font-size:12px;color:rgba(255,255,255,.9)}a.mail-dropdown{background:#80d3d9;padding:3px 5px;font-size:10px;color:#01a7b3;border-radius:2px;margin-top:20px}.inbox-body{padding:20px}.btn-compose{background:#00a0df;padding:12px 0;text-align:center;width:100%;color:#fff}.btn-compose:hover{background:#f5675c;color:#fff}ul.mail-nav{display:inline-block;width:100%;margin:0;padding:0}.mail-divider{border-bottom:1px solid #d5d8df}ul.mail-nav li{display:inline-block;line-height:20px;padding:10px;width:100%;border-right:1px solid #D7D7D7;border-bottom:1px solid #D7D7D7}ul.inbox-nav li,ul.inbox-nav li a{line-height:45px;width:100%;display:inline-block}ul.mail-nav li a{color:#6a6a6a;width:100%;display:inline-block;padding:0 20px}ul.mail-nav .mail-info{padding:5px;font-size:14px}ul.mail-nav p{font-size:12px}ul.mail-nav li.active,ul.mail-nav li:focus,ul.mail-nav li:hover{color:#6a6a6a;background:#f5f5f5;border-bottom:1px solid #688a7e;border-right:none}ul.mail-nav li a i{padding-right:10px;font-size:16px;color:#6a6a6a}ul.mail-nav li a span.label{margin-top:13px}ul.inbox-nav{display:inline-block;width:100%;margin:0;padding:0}.inbox-divider{border-bottom:1px solid #d5d8df}ul.inbox-nav li a{color:#6a6a6a;padding:0 20px}ul.inbox-nav li a:focus,ul.inbox-nav li a:hover,ul.inbox-nav li.active a{color:#6a6a6a;background:#d5d7de}ul.inbox-nav li a i{padding-right:10px;font-size:16px;color:#6a6a6a}ul.inbox-nav li a span.label{margin-top:13px}ul.labels-info li h4{padding-left:15px;padding-right:15px;padding-top:5px;color:#5c5c5e;font-size:13px;text-transform:uppercase}ul.labels-info li{margin:0}ul.labels-info li a{color:#6a6a6a;border-radius:0}ul.labels-info li a:focus,ul.labels-info li a:hover{color:#6a6a6a;background:#d5d7de}ul.labels-info li a i{padding-right:10px}.nav.nav-pills.nav-stacked.labels-info p{margin-bottom:0;padding:0 22px;color:#9d9f9e;font-size:11px}.inbox-head{padding:10px;background:#688a7e;color:#fff;border-bottom:1px solid #D7D7D7;min-height:80px}.inbox-head h3{margin:0;display:inline-block;padding-top:6px;font-weight:300}.inbox-head .sr-input{height:40px;border:none;box-shadow:none;padding:0 10px;float:left;border-radius:4px 0 0 4px;color:#8a8a8a}.inbox-head .sr-btn{height:40px;border:none;background:#00a6b2;color:#fff;padding:0 20px;border-radius:0 4px 4px 0;-webkit-border-radius:0 4px 4px 0}.table-inbox{border:1px solid #d3d3d3;margin-bottom:0}.table-inbox tr td{padding:12px!important}.table-inbox tr td:hover{cursor:pointer}.table-inbox tr td .icon-star.inbox-started,.table-inbox tr td .icon-star:hover{color:#f78a09}.table-inbox tr td .icon-star{color:#d5d5d5}.table-inbox tr.unread td{font-weight:600;background:#f7f7f7}ul.inbox-pagination{float:right}.activity,.bio-chart,.bio-desk,.bio-row,ul.inbox-pagination li{float:left}.mail-option{display:inline-block;margin-bottom:0;width:100%;margin-top:18px}.open-mail-action i{padding-right:5px;font-size:14px}.inbox-mail .navbar-form{margin-top:15px}.mail-option .btn-group,.mail-option .chk-all{margin-right:5px}.mail-option .btn-group a.btn,.mail-option .chk-all{border:1px solid #e7e7e7;padding:5px 10px;display:inline-block;background:#fff;color:#688a7e;border-radius:0!important;-webkit-border-radius:0!important}.inbox-pagination a.np-btn{border:1px solid #e7e7e7;padding:5px 15px;display:inline-block;background:#fcfcfc;color:#afafaf;border-radius:0!important;-webkit-border-radius:0!important;margin-left:5px}.mail-option .chk-all input[type=checkbox]{margin-top:0}.mail-option .btn-group a.all{padding:0;border:none}.inbox-pagination li span{display:inline-block;margin-top:7px;margin-right:5px}.fileinput-button{border:1px solid #e6e6e6;background:#eee}.inbox-body .modal .modal-body input,.inbox-body .modal .modal-body textarea{border:1px solid #e6e6e6;box-shadow:none}.btn-send,.btn-send:hover{background:#00A8B3;color:#fff}.btn-send:hover{background:#009da7}.modal-header h4.modal-title{font-weight:300;font-family:'Roboto',sans-serif}.modal-body label{font-weight:400;font-family:'Roboto',sans-serif}.modal-body h2{font-size:25px;color:#666}.modal-body h3{font-size:20px;color:#666;font-weight:400;padding-top:0;margin-top:5px}.modal-body p{font-size:15px;color:#666;text-align:justify}.bio-graph-heading,.page-404,.summary-head,.text-404,ul.summary-list>li{text-align:center}.page-404{position:relative;width:350px;height:200px;margin:100px auto}.text-404{font-size:138px;background:url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQTdWeWNteABnbzguiXSBxmfc8Z8nh_HHoWoK35QL81x4HnpVmgvQ) 100% 100% no-repeat #e9e3dd;background-size:200% 200%;-webkit-animation:square 3s linear infinite;-ms-animation:square 3s linear infinite;animation:square 3s linear infinite;-webkit-background-clip:text;color:transparent;line-height:200px;position:relative}.text-404:nth-of-type(2){text-shadow:none;z-index:2;position:absolute;top:-139px;left:-1px}@-webkit-keyframes square{0%,100%{background-position:0 0}25%{background-position:100% 0}50%{background-position:100% 100%}75%{background-position:0 100%}}@-ms-keyframes square{0%,100%{background-position:0 0}25%{background-position:100% 0}50%{background-position:100% 100%}75%{background-position:0 100%}}@keyframes square{0%,100%{background-position:0 0}25%{background-position:100% 0}50%{background-position:100% 100%}75%{background-position:0 100%}}.profile-nav .user-heading{background:#688a7e;color:#fff;padding:30px;text-align:center}.profile-nav .user-heading.round a{border-radius:50%;-webkit-border-radius:50%;border:10px solid rgba(256,256,256,.3);display:inline-block}.profile-nav .user-heading a img{width:112px;height:112px;border-radius:50%;-webkit-border-radius:50%}.profile-nav .user-heading h1{font-size:22px;font-weight:300;margin-bottom:5px}.profile-nav .user-heading p{font-size:12px}.profile-nav ul{margin-top:1px}.profile-nav ul>li{margin-top:0;line-height:30px}.profile-nav ul>li:last-child{border-bottom:none}.profile-nav ul>li>a{border-radius:0;-webkit-border-radius:0;color:#89817f;border-left:5px solid #fff}.profile-nav ul li.active a,.profile-nav ul>li>a:focus,.profile-nav ul>li>a:hover{background:#f8f7f5!important;border-left:5px solid #688a7e;color:#89817f!important}.profile-nav ul>li:last-child>a:last-child{border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px}.profile-nav ul>li>a>i{font-size:16px;padding-right:10px;color:#bcb3aa}.r-activity{margin:6px 0 0;font-size:12px}.profile-widget-info{background:#324c57!important}.profile-widget-success{background:#4cd964!important}.profile-widget-primary{background:#688a7e!important}.profile-widget-warning{background:#fc0!important}.profile-widget-danger{background:#00a0df!important}.profile-widget-name{padding:0}.p-text-area,.p-text-area:focus{border:none;font-weight:300;box-shadow:none;color:#c3c3c3;font-size:16px}.profile-info .panel-footer{background-color:#f8f7f5;border-top:1px solid #e7ebee}.profile-info .panel-footer ul li a{color:#7a7a7a}.bio-graph-heading{background:#263a4f;color:#fff;font-style:italic;padding:40px 110px;font-size:16px;font-weight:300}.bio-graph-info{color:#89817e}.bio-graph-info h1{font-size:22px;font-weight:300;margin:0 0 20px}.bio-row{width:50%;margin-bottom:10px;padding:0 15px}.bio-row p span{width:100px;display:inline-block}.bio-chart{width:40%}.bio-desk{width:60%}.bio-desk h4{font-size:15px;font-weight:400}.bio-desk h4.terques{color:#34aadc}.bio-desk h4.red{color:#e26b7f}.bio-desk h4.green{color:#97be4b}.bio-desk h4.purple{color:#caa3da}.file-pos{margin:6px 0 10px}.profile-activity h5{font-weight:300;margin-top:0;color:#c3c3c3}.summary-head{background:#ee7272;color:#fff;border-bottom:1px solid #ee7272}.summary-head h4{font-weight:300;text-transform:uppercase;margin-bottom:5px}.summary-head p{color:rgba(256,256,256,.6)}ul.summary-list{display:inline-block;padding-left:0;width:100%;margin-bottom:0}ul.summary-list>li{display:inline-block;width:19.5%;border-right:1px solid #eaeaea}.activity,.activity.alt{width:100%;margin-bottom:10px}ul.summary-list>li>a>i{display:block;font-size:18px;padding-bottom:5px}ul.summary-list>li>a{padding:10px 0;display:inline-block;color:#818181}ul.summary-list>li:last-child{border-right:none}.activity.alt{float:right}.activity span{float:left}.activity.alt span{float:right}.activity.terques span{background:#8dd7d6}.activity.terques h4{color:#8dd7d6}.activity.purple span{background:#b984dc}.activity.purple h4{color:#b984dc}.activity.blue span{background:#90b4e6}.activity.blue h4{color:#90b4e6}.activity.green span{background:#4cd964}.activity.green h4{color:#4cd964}.activity h4{margin-top:0;font-size:16px}.activity p{margin-bottom:0;font-size:13px}.activity .activity-desk i,.activity.alt .activity-desk i{float:left;font-size:18px;margin-right:10px;color:#bebebe}.invoice-btn a,.invoice-list h4{font-size:16px;font-weight:300}.activity .activity-desk{margin-left:70px;position:relative}.activity.alt .activity-desk{margin-right:70px;position:relative}.activity .activity-desk .panel{background:#F4F4F4;display:inline-block}.activity.alt .activity-desk .panel{float:right;position:relative;border-radius:10px;-webkit-border-radius:10px;background:#688a7e;color:#fff;display:inline-block}.activity .activity-desk .arrow,.activity-desk .arrow-alt{border-bottom:8px solid transparent;border-top:8px solid transparent;display:block;height:0;top:13px;width:0;position:absolute}.activity .activity-desk .arrow{border-right:8px solid #F4F4F4!important;left:-7px}.activity-desk .arrow-alt{border-left:8px solid #688a7e!important;right:-7px}.activity-desk .album{display:inline-block;margin-top:10px}.activity-desk .album a{margin-right:10px}.activity-desk .album a:last-child{margin-right:0}.invoice-list{margin-bottom:30px}.invoice-block{text-align:right}.invoice-paid{color:#4cd964}ul.amounts li{background:#f5f5f5;margin-bottom:5px;padding:10px;border-radius:4px;-webkit-border-radius:4px;font-weight:300}.invoice-btn a{margin:0 5px}.company-logo{margin:30px}.modal-header,.panel-heading{background:#fff;color:#688a7e;height: 27px;}.panel-heading h3{margin:0!important}.panel-primary>.panel-heading.navyblue{background-color:#2A3542;border-color:#2A3542;color:#FFF}.table-advance tr td{vertical-align:middle!important}.no-border{border-bottom:none}.dataTables_filter,.dataTables_length{padding:15px}.dataTables_info{padding:0 15px}.dataTables_filter{float:right}.dataTables_length select{width:65px;padding:5px 8px}.dataTables_filter label,.dataTables_length label{font-weight:300}.dataTables_filter label{width:100%}.dataTables_filter label input{width:78%}.border-top{border-top:1px solid #ddd}.dataTables_paginate.paging_bootstrap.pagination li{float:left;margin:0 1px;border:1px solid #ddd;border-radius:3px;-webkit-border-radius:3px}.dataTables_paginate.paging_bootstrap.pagination li.disabled a{color:#c7c7c7}.dataTables_paginate.paging_bootstrap.pagination li a{color:#797979;padding:5px 10px;display:inline-block}.dataTables_paginate.paging_bootstrap.pagination li.active a,.dataTables_paginate.paging_bootstrap.pagination li:hover a{color:#797979;background:#eee;border-radius:3px;-webkit-border-radius:3px}.dataTables_paginate.paging_bootstrap.pagination{float:right;margin-right:15px;margin-top:-5px;margin-bottom:15px}.dataTable tr:last-child{border-bottom:1px solid #ddd}.btn-row{margin-bottom:10px}.tab-head{background:#688a7e;display:inline-block;width:100%;margin-top:60px}.tab-container{margin-top:10px}.tab-head .nav-tabs>li>a{border-radius:0;margin-right:1px;color:#fff}.tab-head .nav-tabs>li.active>a,.tab-head .nav-tabs>li.active>a:focus,.tab-head .nav-tabs>li.active>a:hover,.tab-head .nav-tabs>li>a:hover{background-color:#f1f2f7;border-color:#f1f2f7;color:#797979}.progress-xs{height:8px}.progress-sm{height:12px}.panel-heading .nav{border:none;font-size:13px;margin:-10px -15px -11px 0}.tab-bg-primary{background:#688a7e;border-bottom:none}.tab-bg-info{background:#324c57;border-bottom:none}.tab-bg-info.panel-heading .nav>li.active>a,.tab-bg-info.panel-heading .nav>li>a:hover{color:#36464d}.tab-bg-info.panel-heading .nav{margin:-10px 15px -11px}.panel-heading .nav>li.active>a,.panel-heading .nav>li.active>a:focus,.panel-heading .nav>li.active>a:hover,.panel-heading .nav>li>a{border-width:0;border-radius:0}.panel-heading .nav>li>a{color:#666;font-size:20px;font-family:'Roboto',sans-serif;font-weight:400;padding-left:0!important;padding-right:0!important;border-bottom:2px solid #fff}.panel-heading .nav .active,.panel-heading .nav>li.active>a,.panel-heading .nav>li>a:hover{color:#1fd9e1;background-color:#fff}.panel-heading .nav>li{margin-right:25px!important}.panel-heading .nav .active{border-bottom:2px solid #1fd9e1}.tab-pane table td img{float:none}.tab-pane p{color:#999;font-size:15px;text-align:left}.btn-advanceSearch,.btn-search{color:#fff;font-family:'Roboto',sans-serif}.tab-pane .entrycount{min-width:180px}.tab-pane .entrycount p{padding-top:5px;padding-left:3px}.tab-right{height:38px}.search-select{width:27%;margin-right:2%;float:left;max-width:110px}.search-select-location{width:38%;margin-right:3%;float:left;max-width:130px}.btn-search{background:#1fd9e1;float:left}.btn-advanceSearch{background:#ff7473}.table-download{width:100%;float:left}.table-paging{width:100%;float:right;text-align:right;max-width:130px}.table-paging-left{width:30%;float:left;text-align:left;cursor:pointer}.table-paging .arrowInactive{opacity:.3}.table-paging-text{width:40%;float:left;text-align:center}.table-paging-text p{color:#555;text-align:center;font-size:14px;padding-top:7px}.table-paging-right{width:30%;float:right;text-align:right;cursor:pointer}.table-advanceSearch-selectOpt{width:200px;float:left;margin-right:15px}.table-advanceSearch-Dates{width:300px;float:left}.table-advanceSearch-buttons{height:50px;width:280px;margin:30px auto}.table-advanceSearch-buttons .btn-search{    padding: 6px 15px;margin-right: 20px;font-size: 18px;width: 87px;}.table-Selecteddownload{float:left;text-align:right;width:200px}.table-Selecteddownload-text{float:left;text-align:right;width:90px;margin-top:7px}.AdvanceSearchScrum{padding:0;margin-top:10px;margin-bottom:20px}.AdvanceSearchScrum p{width:auto;float:left;padding-right:30px;font-size:14px;color:#999}.AdvanceSearchScrum p a{color:#1fd9e1}.panel-heading.tab-right .nav>li:first-child.active>a,.tab-right.panel-heading .nav>li:first-child>a:hover{border-radius:0;-webkit-border-radius:0}.panel-heading.tab-right .nav>li:last-child.active>a,.tab-right.panel-heading .nav>li:last-child>a:hover{border-radius:0 4px 0 0;-webkit-border-radius:0 4px 0 0}.panel-heading.tab-right .nav-tabs>li>a{margin-left:1px;margin-right:0}.m-bot20{margin-bottom:20px}.m-bot-none{margin-bottom:0}.wht-color{color:#fff}.close-sm{font-size:14px}.carousel-indicators li{background:rgba(0,0,0,.2);border:none;transition:background-color .25s ease 0s;-moz-transition:background-color .25s ease 0s;-webkit-transition:background-color .25s ease 0s}.carousel-indicators .active{background:#00a0df;height:10px;margin:1px;width:10px}.carousel-indicators.out{bottom:-5px}.carousel-control{color:#999;text-shadow:none;width:45px}.carousel-control i{display:inline-block;height:25px;left:50%;margin-left:-10px;margin-top:-10px;position:absolute;top:50%;width:20px;z-index:5}.carousel-control.left,.carousel-control.right{background:0 0;filter:none}.carousel-control:focus,.carousel-control:hover{color:#CCC;opacity:.9;text-decoration:none}.carousel-inner h3{font-weight:300;font-size:16px;margin:0}.carousel-inner{margin-bottom:15px}.gritter-close{left:auto!important;right:3px!important}.sm-input{width:175px}.form-horizontal .form-group{border-bottom:1px solid #eff2f7;padding-bottom:15px;margin-bottom:15px}.form-horizontal .form-group:last-child{border-bottom:none;padding-bottom:0;margin-bottom:0}.form-horizontal .form-group .help-block{margin-bottom:0}.round-input{border-radius:500px;-webkit-border-radius:500px}.m-bot15{margin-bottom:5px}.form-horizontal .checkbox-inline>input{margin-top:1px;border:none}.form-validate .form-group label.error{display:inline;margin:5px 0;color:#00a0df;font-weight:400}.form-validate .form-group input.error,.form-validate .form-group textarea.error,input:focus:invalid:focus,select:focus:invalid:focus,textarea:focus:invalid:focus{border-color:#00a0df!important}#register_form label.error{display:inline;margin:5px 0;width:auto;color:#00a0df}.checkbox,.checkbox:focus,.checkbox:hover{border:none}table.sliders tr td{padding:30px 0;border:none}.slider{margin-top:3px}.slider-info{padding-top:10px}.sliders .ui-widget-header{background:#688a7e!important;border-radius:15px!important;-webkit-border-radius:15px!important}.ui-corner-all,.ui-corner-bottom,.ui-corner-br,.ui-corner-right{border-bottom-right-radius:0!important}.ui-corner-all,.ui-corner-bl,.ui-corner-bottom,.ui-corner-left{border-bottom-left-radius:0!important}.ui-corner-all,.ui-corner-right,.ui-corner-top,.ui-corner-tr{border-top-right-radius:0!important}.ui-corner-all,.ui-corner-left,.ui-corner-tl,.ui-corner-top{border-top-left-radius:0!important}#eq span{height:120px;float:left;margin:15px}.ui-widget-content{background:#f0f2f7!important;border:none!important;}.ui-slider-horizontal{height:8px!important}.ui-slider-horizontal .ui-slider-handle{top:-.57em!important}.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{background:#fff!important;}.ui-slider-vertical{width:8px!important}.ui-slider-vertical .ui-slider-handle{left:-.5em!important}.ui-slider .ui-slider-handle{cursor:default;height:1.6em;position:absolute;width:1.6em;z-index:2}.has-switch label,.has-switch span{float:left;height:29px;-webkit-backface-visibility:hidden}.bound-s{width:90px;margin-bottom:15px}.has-switch{border-radius:30px;-webkit-border-radius:30px;display:inline-block;cursor:pointer;line-height:1.231;overflow:hidden;position:relative;text-align:left;width:80px;-webkit-mask:url(../img/mask.png) 0 0 no-repeat;mask:url(../img/mask.png) 0 0 no-repeat;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}.has-switch.deactivate,.has-switch.deactivate label,.has-switch.deactivate span{cursor:default!important}.has-switch.deactivate{opacity:.5;filter:alpha(opacity=50)}.has-switch>div{width:162%;position:relative;top:0}.has-switch>div.switch-animate{-webkit-transition:left .25s ease-out;-moz-transition:left .25s ease-out;-o-transition:left .25s ease-out;transition:left .25s ease-out;-webkit-backface-visibility:hidden}.has-switch>div.switch-off{left:-63%}.has-switch>div.switch-off label{background-color:#7f8c9a;border-color:#bdc3c7;-webkit-box-shadow:-1px 0 0 rgba(255,255,255,.5);-moz-box-shadow:-1px 0 0 rgba(255,255,255,.5);box-shadow:-1px 0 0 rgba(255,255,255,.5)}.has-switch>div.switch-on{left:0}.has-switch>div.switch-on label{background-color:#34aadc}.has-switch input[type=checkbox]{display:none}.has-switch span{cursor:pointer;font-size:14.99px;font-weight:700;line-height:19px;margin:0;padding-bottom:6px;padding-top:5px;position:relative;text-align:center;width:50%;z-index:1;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-transition:.25s ease-out;-moz-transition:.25s ease-out;-o-transition:.25s ease-out;transition:.25s ease-out}.has-switch span.switch-left{border-radius:30px 0 0 30px;background-color:#2A3542;color:#34aadc;border-left:1px solid transparent}.has-switch span.switch-right{border-radius:0 30px 30px 0;background-color:#bdc3c7;color:#fff;text-indent:7px}.has-switch span.switch-right [class*=fui-]{text-indent:0}.has-switch label{border:4px solid #2A3542;border-radius:50%;-webkit-border-radius:50%;margin:0 -21px 0 -14px;padding:0;position:relative;vertical-align:middle;width:29px;z-index:100;-webkit-transition:.25s ease-out;-moz-transition:.25s ease-out;-o-transition:.25s ease-out;transition:.25s ease-out}.switch-square{border-radius:6px;-webkit-border-radius:6px;-webkit-mask:url(../img/mask.png) 0 0 no-repeat;mask:url(../img/mask.png) 0 0 no-repeat}.switch-square>div.switch-off label{border-color:#7f8c9a;border-radius:6px 0 0 6px}.switch-square span.switch-left{border-radius:6px 0 0 6px}.switch-square label,.switch-square span.switch-right{border-radius:0 6px 6px 0}.switch-square span.switch-left [class*=fui-]{text-indent:-10px}.switch-square span.switch-right [class*=fui-]{text-indent:5px}.switch-square label{border-color:#34aadc}.tagsinput{border:1px solid #e3e6ed;border-radius:6px;height:100px;padding:6px 1px 1px 6px;overflow-y:auto;text-align:left}.tagsinput .tag{border-radius:4px;background-color:#688a7e;color:#fff;cursor:pointer;margin-right:5px;margin-bottom:5px;overflow:hidden;line-height:15px;padding:6px 13px 8px 19px;position:relative;vertical-align:middle;display:inline-block;zoom:1;-webkit-transition:.14s linear;-moz-transition:.14s linear;-o-transition:.14s linear;transition:.14s linear;-webkit-backface-visibility:hidden}.tagsinput .tag:hover{background-color:rgba(0,122,255,.7);color:#fff;padding-left:12px;padding-right:20px}.tagsinput .tag:hover .tagsinput-remove-link{color:#fff;opacity:1;display:block\9}.tagsinput input{background:0 0;border:none;color:#34495e;font-family:'Roboto',sans-serif;font-size:14px;margin:0 5px 5px 0;padding:0 0 0 5px;outline:0;width:12px}.tagsinput-remove-link{bottom:0;color:#fff;cursor:pointer;font-size:12px;opacity:0;padding:7px 7px 5px 0;position:absolute;right:0;text-align:right;text-decoration:none;top:0;width:100%;z-index:2;display:none\9}.add-on,.stepy-tab{text-align:center}.tagsinput-remove-link:before{color:#fff;content:"\f00d";font-family:FontAwesome}.tagsinput-add-container{vertical-align:middle;display:inline-block;zoom:1}.tagsinput-add{background-color:#d6dbdf;border-radius:3px;color:#fff;cursor:pointer;margin-bottom:5px;padding:6px 9px;display:inline-block;zoom:1;-webkit-transition:.25s;-moz-transition:.25s;-o-transition:.25s;transition:.25s;-webkit-backface-visibility:hidden}.tagsinput-add:hover{background-color:#688a7e}.tagsinput-add:before{content:"\f067";font-family:FontAwesome}.tags_clear{clear:both;width:100%;height:0}.checkboxes label,.radios label{display:block;cursor:pointer;line-height:20px;padding-bottom:7px;font-weight:300}.radios{padding-top:18px}.label_check input,.label_radio input{margin-right:5px}.has-js .label_check,.has-js .label_radio{padding-left:34px}.has-js .label_radio{background:url(../img/checkbox/radio-off.png) no-repeat}.has-js .label_check{background:url(../img/checkbox/check-off.png) no-repeat}.has-js label.c_on{background:url(../img/checkbox/check-on.png) no-repeat}.has-js label.r_on{background:url(../img/checkbox/radio-on.png) no-repeat}.has-js .label_check input,.has-js .label_radio input{position:absolute;left:-9999px}.act-time,.profile-activity,.profile-activity .act-in,.profile-activity .act-out,.twt-feed{position:relative}.add-on{border:1px solid #E2E2E4;border-radius:4px;-webkit-border-radius:4px;float:right;margin-right:-37px;margin-top:-34px;padding:8px;background:#EEE}.button-back,.stepy-tab ul li{float:left}.daterangepicker .ranges .range_inputs>div:nth-child(2){margin-bottom:10px;padding-left:0}.daterangepicker .ranges label{padding-bottom:0;padding-top:8px}.datepicker td span.active.active,.datepicker td span.active.disabled,.datepicker td span.active:active,.datepicker td span.active:hover,.datepicker td span.active[disabled],.datepicker td.active.active,.datepicker td.active.active:hover,.datepicker td.active.disabled,.datepicker td.active.disabled:hover,.datepicker td.active:active,.datepicker td.active:hover,.datepicker td.active:hover:active,.datepicker td.active:hover:hover,.datepicker td.active[disabled],.datepicker td.active[disabled]:hover,.daterangepicker td.active,.daterangepicker td.active:hover{background:#688a7e}.daterangepicker .calendar td,.daterangepicker .calendar th{font-family:'Roboto',sans-serif;font-weight:300;text-align:center;white-space:nowrap}.datepicker td span.active,.datepicker td.active,.datepicker td.active:hover,.daterangepicker td.active,.daterangepicker td.active:hover{text-shadow:none}.datepicker th.switch{width:125px}.datepicker td span{height:40px;line-height:40px}.cke_bottom,.cke_top{background:#F5F5F5!important;background:-moz-linear-gradient(center top,#F5F5F5,#F5F5F5) #F5F5F5!important;background:-webkit-linear-gradient(center top,#F5F5F5,#F5F5F5) #F5F5F5!important;background:-o-linear-gradient(center top,#F5F5F5,#F5F5F5) #F5F5F5!important;box-shadow:none;padding:6px 8px 2px}.cke_top{border-bottom:1px solid #ccc!important}.cke_chrome{border:1px solid #ccc!important;box-shadow:none!important;display:block;padding:0}.stepy-tab ul{display:inline-block}.step label,.stepy-titles li span{display:block}.step legend{border:none}.button-next,.finish{float:right}.button-back,.button-next,.finish{cursor:pointer;text-decoration:none}.step{clear:left}.stepy-titles li{color:#757575;cursor:pointer;float:left;margin:10px 15px}.stepy-titles li.current-step div{color:#fff;cursor:auto;background:#688a7e;border-radius:50%;-webkit-border-radius:50%;width:80px;height:80px;line-height:80px}.stepy-titles li div{font-size:16px;font-weight:300;background:#eee;border-radius:50%;-webkit-border-radius:50%;width:80px;height:80px;line-height:80px}.user-heading.alt{display:inline-block;width:100%;text-align:left}.alt.green-bg{background:#4cd964}.profile-nav.alt.green-border ul li.active a,.profile-nav.alt.green-border ul>li>a:focus,.profile-nav.alt.green-border ul>li>a:hover{border-left:5px solid #4cd964}.user-heading.alt a{float:left;margin-right:15px;margin-left:-10px;display:inline-block;border:5px solid rgba(255,255,255,.3);border-radius:50%;-webkit-border-radius:50%}.user-heading.alt a img{width:100px;height:100px;border-radius:50%;-webkit-border-radius:50%}.twt-feed{border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;color:#FFF;padding:10px;text-align:center}.twt-feed.blue-bg{background:#00a0df}.twt-feed h1{font-size:22px;font-weight:300;margin-bottom:5px}.twt-feed a{border:8px solid #fff;border-radius:50%;-webit-border-radius:50%;display:inline-block;margin-bottom:-55px}.twt-feed a img{height:112px;width:112px;border-radius:50%;-webit-border-radius:50%}.twt-category{display:inline-block;margin-bottom:11px;margin-top:55px;width:100%}.profile-widget-data{display:inline-block;margin-bottom:10px;margin-top:15px;width:100%}.profile-nav ul>li,.profile-widget-data ul li,.twt-category ul li{color:#89817f;font-size:13px;border-bottom:none}.twt-category h5{font-size:20px;font-weight:300}.twt-write .t-text-area{border:1px solid #eee;border-radius:0}.twt-footer{padding:10px 15px}.btn-space{padding-left:11.6%;padding-right:11%}.p-head{color:#f77b6f;font-weight:400;font-size:14px}.cmt-head{font-weight:400;font-size:13px}.p-thumb img{width:50px;border-radius:3px;-webkit-border-radius:3px}.chat-form{margin-top:25px;clear:both}.chat-form .input-cont{margin-bottom:10px}.chat-form .input-cont input{margin-bottom:0;border:1px solid #d3d3d3!important;margin-top:0;min-height:45px;background-color:#fff!important}.chat-features a{margin-left:10px}.chat-features a i{color:#d0d0d0}.profile-activity:before{background:rgba(0,0,0,.1);bottom:0;top:0;width:2px}.profile-activity .act-in .arrow,.profile-activity .act-out .arrow{border-bottom:8px solid transparent;border-top:8px solid transparent;display:block;height:0;left:-8px;position:absolute;top:13px;width:0}.message,.messages-wrapper{position:relative}.act-time:first-child:before{margin-top:16px}.act-time:before{background:#CCC;border:2px solid #FAFAFA;border-radius:100px;-moz-border-radius:100px;-webkit-border-radius:100px;height:14px;margin:23px 0 0 -6px;width:14px}.act-time:hover:before{background:#34aadc}.act-time:first-child{padding-top:0}.activity-img{float:left;margin-right:30px;overflow:hidden}.activity-img img{display:block;height:44px;width:44px}.act-time .act-in .text,.act-time .act-out .text{border:1px solid #e3e6ed;padding:10px;border-radius:4px;-webkit-border-radius:4px}.act-time p{margin:0}.act-time .attribution{font-size:11px;margin:0 0 5px}.act-in a,.act-in a:hover,.act-out a,.act-out a:hover{margin-right:10px;font-weight:400;font-size:13px;text-decoration:none}.act-time{overflow:hidden;padding:8px 0}.act-in a,.act-in a:hover{color:#b64c4c;border-radius:50%;-webkit-border-radius:50%}.act-out a,.act-out a:hover{color:#288f98;border-radius:4px;-webkit-border-radius:4px}.dashboard-weather h4,.dashboard-weather-icon{font-family:'Roboto',sans-serif;font-weight:300}.message{border-radius:20px;margin:0 15px 10px;padding:5px 20px}.message.to{background-color:#2095FE;color:#fff;margin-left:80px}.message.from{background-color:#E5E4E9;color:#363636;margin-right:80px}span.customSelect,span.customSelect.changed{background-color:#fff}.message.from+.message.from,.message.to+.message.to{margin-top:-7px}.message:before{border-color:#2095FE;border-radius:50%;border-style:solid;border-width:0 20px;bottom:0;clip:rect(20px,35px,42px,0);content:" ";height:40px;position:absolute;right:-50px;width:30px;z-index:-1}.message.from:before{border-color:#E5E4E9;left:-50px;-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);transform:rotateY(180deg)}span.customSelect{font-size:12px;padding:10px;border:1px solid #EAEAEA;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;color:#A4AABA}.customSelectInner{background:url(../img/customSelect-arrow.gif) center right no-repeat}.dashboard{width:100%;margin:0;padding:0}.dashboard h1{font-size:22px;color:#555;padding:0 0 10px;margin:0 0 10px}.dashboard-scrum h4,.dashboard-scrum h4 span{font-size:18px;padding:0 0 10px;margin:20px 0 10px}.dashboard-scrum h4{color:#999}.dashboard-scrum h4 span{color:#666}.dashboard-weather h4{padding-bottom:0;margin-bottom:3px;color:#1fd9e1;font-size:16px}.dashboard-weather p{color:#999}.dashboard-weather-icon{font-size:37px;padding-top:10px;color:#1fd9e1}.dashboard-weather-icon span{font-size:12px;float:right}.borderright{border-right:1px solid #1fd9e1}.dashboardProgressbar{height:10px;margin-top:25px}.progress{margin-bottom:5px}.Dashboard-white-widget{background:#fff;padding:13px 10px 10px;margin-bottom:20px;border-radius:10px}.Dashboard-white-widget .panel .panel-heading{background:#fff}.menucheckbox-checked,.menucheckbox-notchecked{height:18px;width:18px;float:left;margin-right:15px;background-repeat:no-repeat}.dailyupdates h3{font-size:16px;color:#666;text-align:justify}.dailyupdates p{font-size:14px;color:#999;text-align:justify}.dailyupdates p a{color:#1fd9e1;text-decoration:none}.menucheckbox-checked{background-image:url(../img/checkbox-select.png)}.menucheckbox-notchecked{background-image:url(../img/checkbox-unselect.png)}.colpadding0{margin:0;padding:0}.div-location,.div-select_location{float:none;height:auto;padding-left:2px}.div-location{min-height:85px;padding-top:7px}.div-select_location{background-color:#F8F8F8;width:auto;min-height:100%}.div-dropdown,.div-dropdown-text{float:left;min-height:20px;min-width:20px}.select_Date{width:43%;margin-right:3%;float:left;max-width:130px}.select_location{width:100%;margin-right:3%;float:left;max-width:310px}.select-location-dropdown{float:left;margin-right:3%;max-width:231px;width:100%}.div-dropdown-text{padding-top:5px}.div-newsLetter-footer{padding-top:20px;padding-left:50px;float:none}.mail-header,.modal-btn-submit{padding-left:15px;padding-right:5px}.location-state{width:100px;color:#666}.user-dropdown-text{color:#666}.div-popup{bottom:0;position:fixed;right:0;text-align:right;width:500px}.mail-header{background-color:#FF7473;min-height:80px;border-radius:3px;color:#fff;padding-top:20px}.chat-header,.modal-btn-submit{background-color:#1FD9E1;min-height:80px;border-radius:3px}.mail-header h2{color:#FFF}.modal-btn-submit{color:#fff;text-align:center;padding-top:2px}.chat-header,.popup-header{padding-left:15px;padding-right:5px;padding-top:20px}.modal-btn-submit h3{color:#FFF}.chat-header{color:#fff}.chat-header h2{color:#FFF}.modal_footer{background-color:#E7E7E7;color:#B8B8B8;border-radius:5px;min-height:50px}.modal_footer .form-control::-moz-placeholder{color:#000}.input-type{border-style:none none solid}.input-type-message{border-style:none}.input-enquuiry-dropdown{float:none;max-width:500px;width:100%;border-style:none none solid}.popup-header{min-height:60px;border-radius:3px}.td-custom-style{color:#1FD9E1;font-weight:700;font-size:18px}.ui-widget-header{border:0!important;background:inherit;font-size:20px;color:#666;font-weight:400;padding-top:0;margin-top:5px}.table>tbody>tr>th,.table>tbody>tr>th>a{vertical-align:bottom;border-bottom:2px solid #ddd}.clsROWgrid,.clsheadergrid{padding:8px!important;line-height:1.428571429!important}.table>tbody>tr>th>a{color:#666!important;text-decoration:none!important}.clsheadergrid,.table tr th{color:#666;font-size:15px;font-weight:400;font-family:'Roboto',sans-serif}.clsheadergrid{vertical-align:bottom!important;border-bottom:2px solid #ddd!important;text-align:left}.clsROWgrid{vertical-align:top!important;border-top:1px solid #ddd!important;color:#666!important;font-size:14px!important;font-family:'Roboto',sans-serif!important}
.count:hover {color: #FF7473;font-weight: 500;-webkit-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);}  

/*style-responsive.css*/
 @media (min-width:768px) and (max-width:979px){.inbox-wrapper .inbox-left{width:30%}.inbox-wrapper .inbox-right{width:70%}}@media (max-width:768px){#sidebar,.header{position:absolute}#sidebar>ul>li>a,#sidebar>ul>li>a>span{line-height:35px}#sidebar,#sidebar>ul>li>a,#sidebar>ul>li>ul.sub>li{width:100%}#sidebar>ul>li>ul.sub>li>a,.fc-state-default,.fc-state-default .fc-button-inner{background:0 0!important}#sidebar{height:auto;overflow:hidden;z-index:1001}#main-content{margin:0!important;position:none!important}#sidebar>ul>li{margin:0 10px 5px}#sidebar>ul>li>a{height:35px;padding:0 10px;text-align:left}.mail-info,.mail-info:hover{display:none!important}#sidebar ul>li>a .arrow,#sidebar>ul>li>a .arrow.open{margin-right:10px;margin-top:15px}#sidebar ul>li.active>a .arrow,#sidebar ul>li>a:focus .arrow,#sidebar ul>li>a:hover .arrow,#sidebar>ul>li.active>a .arrow.open,#sidebar>ul>li>a:focus .arrow.open,#sidebar>ul>li>a:hover .arrow.open{margin-top:15px}#sidebar{margin:0!important}#sidebar .btn-navbar.collapsed .arrow{display:none}#sidebar .btn-navbar .arrow{position:absolute;right:35px;width:0;height:0;top:48px;border-bottom:15px solid #282e36;border-left:15px solid transparent;border-right:15px solid transparent}.btn{margin-bottom:5px}.inbox-wrapper aside{display:block}.inbox-wrapper .inbox-left,.inbox-wrapper .inbox-right{width:100%}.fc-header-right{left:25px;position:absolute}.fc-header-left .fc-button{margin:0!important;top:-10px!important}.fc-header-right .fc-button{margin:0!important;top:-50px!important}.fc-state-active,.fc-state-active .fc-button-inner,.fc-state-hover,.fc-state-hover .fc-button-inner{background:0 0!important;color:#FFF!important}.fc-button{border:none!important;margin-right:2px}.fc-view{top:0!important}.fc-button .fc-button-inner{margin:0 2px 0 0!important;padding:2px!important;background-color:#fafafa!important;background-image:-moz-linear-gradient(top,#fafafa,#efefef)!important;background-image:-webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#efefef))!important;background-image:-webkit-linear-gradient(top,#fafafa,#efefef)!important;background-image:-o-linear-gradient(top,#fafafa,#efefef)!important;background-image:linear-gradient(to bottom,#fafafa,#efefef)!important;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0)!important;-webkit-box-shadow:0 1px 0 rgba(255,255,255,.8)!important;-moz-box-shadow:0 1px 0 rgba(255,255,255,.8)!important;box-shadow:0 1px 0 rgba(255,255,255,.8)!important;-webkit-border-radius:3px!important;-moz-border-radius:3px!important;border-radius:3px!important;color:#646464!important;border:1px solid #ddd!important;text-shadow:0 1px 0 rgba(255,255,255,.6)!important;text-align:center}.fc-button.fc-state-disabled .fc-button-inner{color:#bcbbbb!important}.fc-button.fc-state-active .fc-button-inner{background-color:#e5e4e4!important;background-image:-moz-linear-gradient(top,#e5e4e4,#dddcdc)!important;background-image:-webkit-gradient(linear,0 0,0 100%,from(#e5e4e4),to(#dddcdc))!important;background-image:-webkit-linear-gradient(top,#e5e4e4,#dddcdc)!important;background-image:-o-linear-gradient(top,#e5e4e4,#dddcdc)!important;background-image:linear-gradient(to bottom,#e5e4e4,#dddcdc)!important;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#e5e4e4', endColorstr='#dddcdc', GradientType=0)!important}.fc-content{margin-top:50px}.fc-header-title h2{line-height:40px!important;font-size:12px!important}.fc-header{margin-bottom:0!important}.timeline-desk .album a{margin-bottom:5px;margin-right:4px}.stepy-titles li{margin:10px 3px}.mail-option .btn{margin-bottom:0}}@media (max-width:740px){#alert_notificatoin_bar,#mail_notificatoin_bar,#task_notificatoin_bar{display:none}}@media (max-width:480px){.dont-show,.inbox-head .sr-btn,.inbox-head .sr-input,.knob-charts,.notification-row,.search-row,.task_notificatoin_bar{display:none}.inbox-wrapper aside{display:block}.inbox-wrapper .inbox-left,.inbox-wrapper .inbox-right{width:100%}#top_menu .nav>li,ul.top-menu>li{float:right}.hidden-phone{display:none!important}.dataTables_filter{float:left}.dataTables_info{margin-bottom:10px}.mail-option .btn{margin-bottom:0}.mail-option .inbox-pagination{margin-top:10px;float:left}.chart-position{margin-top:0}}@media (max-width:320px){.login-social-link a{padding:15px 17px!important}.dont-show,.inbox-head .sr-btn,.inbox-head .sr-input,.notification-row,.search{display:none}.inbox-wrapper aside{display:block}.inbox-wrapper .inbox-left,.inbox-wrapper .inbox-right{width:100%}#top_menu .nav>li,ul.top-menu>li{float:right}.hidden-phone{display:none!important}.dataTables_filter{float:left}.dataTables_info{margin-bottom:10px}.mail-option .btn{margin-bottom:0}.mail-option .inbox-pagination{margin-top:10px;float:left}.chart-position{margin-top:0}}
/*xcharts.min.css*/
.xchart .line{stroke-width:3px;fill:none}.xchart .fill{stroke-width:0}.xchart circle{stroke:#FFF;stroke-width:3px}.xchart .axis .domain{fill:none}.xchart .axis .tick line{stroke:#EEE;stroke-width:1px}.xchart .axis text{font-family:Helvetica,Arial,Verdana,sans-serif;fill:#666;font-size:12px}.xchart .color0 .line{stroke:#3880aa}.xchart .color0 .line .fill{pointer-events:none}.xchart .color0 rect,.xchart .color0 circle{fill:#3880aa}.xchart .color0 .fill{fill:rgba(56,128,170,0.1)}.xchart .color0.comp .line{stroke:#89bbd8}.xchart .color0.comp rect{fill:#89bbd8}.xchart .color0.comp .fill{display:none}.xchart .color0.comp circle,.xchart .color0.comp .pointer{fill:#89bbd8}.xchart .color1 .line{stroke:#4da944}.xchart .color1 .line .fill{pointer-events:none}.xchart .color1 rect,.xchart .color1 circle{fill:#4da944}.xchart .color1 .fill{fill:rgba(77,169,68,0.1)}.xchart .color1.comp .line{stroke:#9dd597}.xchart .color1.comp rect{fill:#9dd597}.xchart .color1.comp .fill{display:none}.xchart .color1.comp circle,.xchart .color1.comp .pointer{fill:#9dd597}.xchart .color2 .line{stroke:#f26522}.xchart .color2 .line .fill{pointer-events:none}.xchart .color2 rect,.xchart .color2 circle{fill:#f26522}.xchart .color2 .fill{fill:rgba(242,101,34,0.1)}.xchart .color2.comp .line{stroke:#f9b99a}.xchart .color2.comp rect{fill:#f9b99a}.xchart .color2.comp .fill{display:none}.xchart .color2.comp circle,.xchart .color2.comp .pointer{fill:#f9b99a}.xchart .color3 .line{stroke:#c6080d}.xchart .color3 .line .fill{pointer-events:none}.xchart .color3 rect,.xchart .color3 circle{fill:#c6080d}.xchart .color3 .fill{fill:rgba(198,8,13,0.1)}.xchart .color3.comp .line{stroke:#f8555a}.xchart .color3.comp rect{fill:#f8555a}.xchart .color3.comp .fill{display:none}.xchart .color3.comp circle,.xchart .color3.comp .pointer{fill:#f8555a}.xchart .color4 .line{stroke:#672d8b}.xchart .color4 .line .fill{pointer-events:none}.xchart .color4 rect,.xchart .color4 circle{fill:#672d8b}.xchart .color4 .fill{fill:rgba(103,45,139,0.1)}.xchart .color4.comp .line{stroke:#a869ce}.xchart .color4.comp rect{fill:#a869ce}.xchart .color4.comp .fill{display:none}.xchart .color4.comp circle,.xchart .color4.comp .pointer{fill:#a869ce}.xchart .color5 .line{stroke:#ce1797}.xchart .color5 .line .fill{pointer-events:none}.xchart .color5 rect,.xchart .color5 circle{fill:#ce1797}.xchart .color5 .fill{fill:rgba(206,23,151,0.1)}.xchart .color5.comp .line{stroke:#f075cb}.xchart .color5.comp rect{fill:#f075cb}.xchart .color5.comp .fill{display:none}.xchart .color5.comp circle,.xchart .color5.comp .pointer{fill:#f075cb}.xchart .color6 .line{stroke:#d9ce00}.xchart .color6 .line .fill{pointer-events:none}.xchart .color6 rect,.xchart .color6 circle{fill:#d9ce00}.xchart .color6 .fill{fill:rgba(217,206,0,0.1)}.xchart .color6.comp .line{stroke:#fff75a}.xchart .color6.comp rect{fill:#fff75a}.xchart .color6.comp .fill{display:none}.xchart .color6.comp circle,.xchart .color6.comp .pointer{fill:#fff75a}.xchart .color7 .line{stroke:#754c24}.xchart .color7 .line .fill{pointer-events:none}.xchart .color7 rect,.xchart .color7 circle{fill:#754c24}.xchart .color7 .fill{fill:rgba(117,76,36,0.1)}.xchart .color7.comp .line{stroke:#c98c50}.xchart .color7.comp rect{fill:#c98c50}.xchart .color7.comp .fill{display:none}.xchart .color7.comp circle,.xchart .color7.comp .pointer{fill:#c98c50}.xchart .color8 .line{stroke:#2eb9b4}.xchart .color8 .line .fill{pointer-events:none}.xchart .color8 rect,.xchart .color8 circle{fill:#2eb9b4}.xchart .color8 .fill{fill:rgba(46,185,180,0.1)}.xchart .color8.comp .line{stroke:#86e1de}.xchart .color8.comp rect{fill:#86e1de}.xchart .color8.comp .fill{display:none}.xchart .color8.comp circle,.xchart .color8.comp .pointer{fill:#86e1de}.xchart .color9 .line{stroke:#0e2e42}.xchart .color9 .line .fill{pointer-events:none}.xchart .color9 rect,.xchart .color9 circle{fill:#0e2e42}.xchart .color9 .fill{fill:rgba(14,46,66,0.1)}.xchart .color9.comp .line{stroke:#2477ab}.xchart .color9.comp rect{fill:#2477ab}.xchart .color9.comp .fill{display:none}.xchart .color9.comp circle,.xchart .color9.comp .pointer{fill:#2477ab} .xchart .errorLine path {stroke: #C6080D;stroke-width: 3px;}.ex-tooltip{position:absolute;background:#EEE;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;padding:5px;-webkit-box-shadow:0 1px 3px #000;-moz-box-shadow:0 1px 3px #000;-ms-box-shadow:0 1px 3px #000;-o-box-shadow:0 1px 3px #000;box-shadow:0 1px 3px #000;border-collapse:separate;display:none}
