﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Template_MasterVM

@using (Ajax.BeginForm("saveDetailsmaster", "TemplateMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divTempletMasterEmailFormate" }, new { id = "frmAddTempletMasterEmailFormate" }))
{
    if (Model.Success)
    {
        <div class="row">
            <div class="col-md-12 colpadding0">
                <div class="alert alert-success alert-dismissible">
                    @*<button class="close" type="button" onclick="hideAlert();">×</button>*@
                    <lable>@Model.Message</lable>
                </div>
            </div>
        </div>
    }
    else if (Model.Error)
    {
        <div class="row">
            <div class="col-md-12 colpadding0" id="DiverrorI">
                <div class="alert alert-danger alert-dismissible">
                    <button class="close" type="button" onclick="hideAlert();">×</button>
                    <lable id="lblerrormsgI">@Model.Message</lable>
                </div>
            </div>
        </div>
    }

    <div>
        @(Html.Kendo().Tooltip()
                    .For("#btnInsertNoticeEditorTemplate")
                    .Position(TooltipPosition.Top)
                    .AutoHide(true)
                    .Content("Insert Template Field")
                    .Width(150)
        )

        @(Html.Kendo().Tooltip()
                    .For("#btnNoticeMailPreview")
                    .Position(TooltipPosition.Top)
                    .AutoHide(true)
                    .Content("Mail Preview")
                    .Width(150)
        )

        @(Html.Kendo().Tooltip()
                    .For("#command_name1")
                    .Position(TooltipPosition.Top)
                    .AutoHide(true)
                    .Content("Save")
                    .Width(150)
        )

        @(Html.Kendo().Tooltip()
                    .For("#command_name")
                    .Position(TooltipPosition.Top)
                    .AutoHide(true)
                    .Content("Send")
                    .Width(150)
        )


    </div>

    <div class="row colpadding0">

        <div class="col-md-2 colpadding0">
            @Html.RadioButtonFor(model => model.IsShorter, "false") <span style="color:black">Regular</span>&nbsp; &nbsp;
            @Html.RadioButtonFor(model => model.IsShorter, "true") <span style="color:black">Shorter</span>
            @Html.ValidationMessageFor(model => model.IsShorter, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-3 colpadding0">
            @(Html.Kendo().DropDownListFor(m => m.MeetingTypeId)
    //.Name("MeetingTypeId")
    .DataValueField("Id")
    .DataTextField("MeetingTypeName")
    .OptionLabel("Meeting")
    .DataSource(source =>
    {
        source.Read(read =>
        {
            read.Url("/api/CommitteeCompAPI/GetMeetingTypeForDropDown").Type(HttpVerbs.Get);
        })
        .ServerFiltering(false);

    })

    .HtmlAttributes(new { style = "width: 98%;", })
            )

        </div>

        <div class="col-md-3 colpadding0">
            @Html.Kendo().DropDownListFor(model => model.TemplateType).OptionLabel("Template").BindTo(new SelectList(new List<object> {
                                                new {id="SA",text="Availability"},
                                                new {id="A",text="Agenda"},
                                                new {id="N",text="Notice"},
                                                new {id="AN",text="Agenda+Notice"},
                                                new {id="C",text="Circular"},
                                                }, "id", "text")).HtmlAttributes(new { style = "width: 95%;" })
        </div>

        @if (Model.Quarter_ == "Quarter")
        {
            <div id="divQuarter" class="col-md-3 colpadding0 hidden">
                @Html.Kendo().DropDownListFor(model => model.Quarter_).BindTo(new SelectList(new List<object> {
                                                new {id="Quarter",text="Quarter"},
                                                new {id="",text="Other"},
                                                }, "id", "text")).SelectedIndex(0).HtmlAttributes(new { style = "width: 95%;" })
            </div>
        }
        else
        {
            <div id="divQuarter" class="col-md-3 colpadding0 hidden">
                @Html.Kendo().DropDownListFor(model => model.Quarter_).BindTo(new SelectList(new List<object> {
                                                new {id="Quarter",text="Quarter"},
                                                new {id="",text="Other"},
                                                }, "id", "text")).SelectedIndex(1).HtmlAttributes(new { style = "width: 95%;" })
            </div>
        }

    </div>

    <div class="row colpadding0 chart-loading" style="margin-top:10px;">
        <div class="col-md-12 colpadding0">

            @(Html.Kendo().EditorFor(m => m.MailTemplate)
.HtmlAttributes(new { style = "height:380px" })
.Encode(false)
.Events(e => e.Paste("onPasteRemoveTag"))
//.Resizable(resizable => resizable.Content(false).Toolbar(true))
.Tools(tools => tools
.CustomTemplate(ct => ct.Template("<label for='templateToolNotice' class='' style='vertical-align:middle;'>Fields:</label> <select id='templateToolNotice'class='' style='width:280px;'>" +
"<option value='{{ Letter Head of the Company }}'>Letter Head of the Company</option>" +
"<option value='{{ Name of the Company }}'>Name of the Company</option>" +
"<option value='{{ Name of the Director }}'>Name of the Director</option>" +
"<option value='{{ Designation in the Company }}'>Designation in the Company</option>" +
"<option value='{{ Today }}'>Today's Date</option>" +
"<option value='{{ No. of the Meeting }}'>No. of the Meeting</option>" +
"<option value='{{ Type of Meeting }}'>Type of Meeting</option>" +
"<option value='{{ Purpose }}'>Purpose</option>" +
"<option value='{{ Meeting Date }}'>Meeting Date</option>" +
"<option value='{{ Meeting Time }}'>Meeting Time</option>" +
"<option value='{{ Meeting Venue }}'>Meeting Venue</option>" +
"<option value='{{ Quarter }}'>Quarter</option>" +
"<option value='{{ Quarter End Date }}'>Quarter End Date</option>" +
"<option value='{{ Registered office Address }}'>Registered office Address</option>" +
"<option value='{{ Corporate office Address }}'>Corporate office Address</option>" +
"<option value='{{ Name of Company Secretary/Director }}'>Name of Company Secretary/Director</option>" +
"<option value='{{ Due Date }}'>Due Date</option>" +
"<option value='{{ AgendaList }}'>Agenda List</option>" +
"</select>"
))
.CustomTemplate(ct => ct.Template("<input type='button' id='btnInsertNoticeEditorTemplate' value='Insert' class='btn btn-primary editorbutton'  onclick='insertEditorTemplateFieldNotice();'>"))
//.CustomTemplate(ct => ct.Template("<input type='button' id='btnNoticeMailPreview' name='btnNoticeMailPreview' value='Preview' class='k-primary k-button'>"))
)
            )

        </div>
    </div>

    <div class="row colpadding0 mt30">
        <div class="col-md-12 colpadding0" style="text-align:center">
            <button type="Submit" id="command_name1" name="command_name" value="save" class="btn btn-primary  templetbutton">Save</button>
        </div>
    </div>
}
<script>

    $(document).ready(function () {
        $("#templateToolNotice").kendoDropDownList({});
        showHideQuarter();
    });

    function insertEditorTemplateFieldNotice() {
        
        var ddltemplateToolParent = $("#templateToolNotice").data("kendoDropDownList");
        var val = ddltemplateToolParent.value();
        if (val != "") {
            $("#NoticeMail").data("kendoEditor").body.innerHTML += val;
        }
    }

</script>
