<head><title>

</title>
<script src="/cdn-cgi/apps/head/wJ-d6Wf0vtDL3SAEw42RUStKs6k.js"></script><script src="/cdn-cgi/apps/body/9ez4O41ihtsBKiMc6IPNmeloV48.js"></script><style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 600px;
                  /*margin:125px;*/
    }
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color:#F5F2F4;
      height: 1000px;

      
    }
     .MainContainer {
     
      
      border:groove;
      border-color:#f1f3f4;
      
    }
       .img1{
        border:ridge;
        border-color:lightgrey;
    }
   
   
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        *height: auto;
        *padding: 15px;
      
      }
      .row.content {height: auto;} 
    }
  </style>
<style>
       
 .container {
  /*padding: 16px;*/
  background-color: white;
  margin:10px;
  /*margin-right:50px;
  margin-top:50px;*/
  height:1000px;
  width:1000px;

  
}
 body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#1fd9e1;
}

* {
  box-sizing: border-box;
}

    </style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<style>

    .panel-group .panel {
        border-radius: 5px;
        border-color: #EEEEEE;
        padding:0;
    }

    .panel-default > .panel-heading {
        color:black;
        background-color: white;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 14px;
    }

    .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }

    .short-full {
        float: right;
        color: black;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border: solid 1px #EEEEEE;
        /*background-color: #B7FFB7;*/
        
    }

</style>
<script src="https://analytics.avantis.co.in/piwik.js"></script></head>
<body>
&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;
<div class="container">
<div class="row content">
<div class="col-sm-3 sidenav">
<ul class="nav nav-pills nav-stacked">
    <li style="font-size:18px"><a href="contract_help.html" style="color:#333"><b>Standard Dashboard</b></a>
    </li><li style="font-size:14px"><a href="contract_dashboard.html" style="color:#333"><i class="fas fa-desktop"></i>&nbsp;&nbsp;&nbsp;<b>My Dashboard</b></a>
    <ul style="line-height:25px;font-size:13px">
    <li><a href="contract_draft.html" style="color:#333">Draft</a></li>
    <li><a href="contract_pending_review.html" style="color:#333">Pending Review</a></li>
    <li><a href="contract_reviewd.html" style="color:#333">Reviewd</a></li>
    <li> <a href="contract_pending_approval.html" style="color:#333">Pending Approval</a></li>
    <li> <a href="contract_approved.html" style="color:#333">Approved</a></li>
    <li> <a href="contract_active.html" style="color:#333">Active</a></li>
    <li> <a href="contract_expired.html" style="color:#333">Expired</a></li>
    <li> <a href="contract_graphs.html" style="color:#333">Graphs And Charts</a></li>
    <li> <a href="contract_tasksummary.html" style="color:#333">Task Summary</a></li>

    </ul>
    </li>
    <li style="font-size:14px"><a href="contract_workspace.html" style="color:#333;"><i class="fas fa-briefcase"></i>&nbsp;&nbsp;&nbsp;<b>My Workspace</b></a></li>
    <li style="font-size:14px"><a href="contract_documents.html" style="color:#333;"><i class="fas fa-briefcase"></i>&nbsp;&nbsp;&nbsp;<b>My Documents</b></a></li>
    <li style="font-size:14px"><a href="contract_reports.html" style="color:#333"><i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>My Reports</b></a></li>
    <li style="font-size:14px"><a href="contract_masters.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Masters</b> </a></li>
    <li style="font-size:14px"><a href="contract_upload_utility.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Upload Utility</b> </a></li>
    <li style="font-size:14px"><a href="contract_bulkupload.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Bulk Documents Upload</b> </a></li>
    
</ul>
<br>
</div>
<div class="col-sm-9 MainContainer">
<br>
<h3><b>Bulk Document Upload :</b></h3><br>
<p style="font-size:16px;text-align:justify;"> Since huge amount of contract are getting tracked through system under various entity branches, similarly vast amount of relating documents are to be uploaded, attached for each of the contract registered. In-order to reduce the burden of uploading similar number of documents, this section creates an impact by providing the facility to upload documents in bulk easily.</p>
<p style="font-size:16px;text-align:justify;"> Just click on the ‘Choose Files’ button to select multiple documents which can then by uploaded easily by clicking on the upload button which can then be processed by clicking on the ‘Process’ button.</p>
<p style="font-size:16px;text-align:justify;"> Also, all the uploaded documents can be viewed in the same section in a list format against specific contract number for which the documents got uploaded.</p>
<img class="img1" style="width: 600px; margin-left: 30px;  height: 300px" src="../Contract/Contract_images"><br><br>

<br><br>




</div>

</div>
</div>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>

    function toggleIcon(e) {
        $(e.target)
            .prev('.panel-heading')
            .find(".short-full")
            .toggleClass('glyphicon-plus glyphicon-minus');
    }
    $('.panel-group').on('hidden.bs.collapse', toggleIcon);
    $('.panel-group').on('shown.bs.collapse', toggleIcon);
</script>


</body>