﻿
@if (ViewBag.lstMeetings != null)
{
    int counter = 0;
    <fieldset class="col" style="margin-right:5px;">
        <legend class="amp-mb5"><label style="font-size:17px">Configuration List Details</label></legend>

        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <div id="example">
                    <table class="table table-bordered col-md-12 colpadding0">
                        <thead>
                            <tr>

                                <th class="col-md-2">Entity</th>

                                <th class="col-md-3">Type</th>
                                <th class="col-md-2">Date</th>
                                <th class="col-md-1">Number Type</th>
                                <th class="col-md-1">Number</th>
                                <th class="col-md-1">Last Page No</th>
                                <th class="col-md-1">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.lstMeetings)
                            {
                                counter++;
                                <tr>

                                    <td class="col-md-2">@item.EntityName</td>

                                    <td class="col-md-3">@item.Meeting_TypeName</td>
                                    <td class="col-md-2">@item.MeetingDate.ToString(string.Format("dd/MM/yyyy"))</td>
                                    <td class="col-md-1">@item.MeetingNoType</td>
                                    <td class="col-md-1">@item.MeetingNo</td>
                                    <td class="col-md-1">@item.Minutes_Pageno</td>
                                    @*<td class="col-md-1"><button type="button" class="k-grid-edit" style="min-width:25px;"><span class="k-icon k-edit"></span></button></td>*@
                                    <td><a role="button" class="k-grid-Edit k-grid-edit" href="#" onclick="EditMeeting(@item.EntityId, @item.Id)" style="min-width: 39px; font-size: 13px; padding: 0px;"><span class="fa fa-pencil fa-fw"></span></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </fieldset>
}