﻿@using Kendo.Mvc.UI;
@model long

<script>
    $("#btnAddDirectorRelativest").click(function (e) {
        e.preventDefault();
        var grid = $("#gridRelatives").data("kendoGrid");
        grid.addRow();
    });

    function onRowBoundrelaives(e) {

        GetICons();

        var grid = $("#gridRelatives").data("kendoGrid");
        //grid.thead.css("background-color", "green")
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

            $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
            $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 1px 0 #DDDDDD");
        })

    }
</script>

<div class="Dashboard-white-widget">
    <div class="dashboard">

        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="col-md-2 pull-right text-right">
                    <a class="btn btn-primary" id="btnAddDirectorRelativest" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</a>
                </div>
            </div>
        </div>

        <div class="row colpadding0  mt30">
            <div class="col-md-12 colpadding0">
                @(Html.Kendo().Grid<BM_ManegmentServices.VM.DirectorRelativesVM>()
                          .Name("gridRelatives")
                          .Columns(columns =>
                          {
                              //columns.Bound(p => p.Id).Hidden(true);
                              columns.Bound(p => p.Relation).HtmlAttributes(new { @style = "width:10%" }).Filterable(ftb => ftb.Multi(true).Search(true));
                              columns.Bound(p => p.Name).HeaderTemplate("Relative").HtmlAttributes(new { @style = "width:20%" }).Filterable(ftb => ftb.Multi(true).Search(true));
                              columns.Bound(p => p.Minor_or_Adult).HeaderTemplate("Minor/Adult").ClientTemplate("#:getMinorAdult(Minor_or_Adult, data.Relation)#").HtmlAttributes(new { @style = "width:20%" });
                              columns.Bound(p => p.MaritalStatus).HeaderTemplate("Marital Status").ClientTemplate("#:getMaritalStatus(MaritalStatus, data.Relation)#").HtmlAttributes(new { @style = "width:20%" });
                              columns.Bound(p => p.Spouse).HeaderTemplate("Relative's Spouse Name").HtmlAttributes(new { @style = "width:20%" }).Filterable(ftb => ftb.Multi(true).Search(true));
                              columns.Command(command => { command.Edit();}).Title("Action").HtmlAttributes(new { @style = "width:10%" });
                          })
                          //.ToolBar(tools =>
                          //{
                          //    tools.Create();
                          //})
                          .Editable(editable =>
                          {
                              editable.Mode(GridEditMode.PopUp).TemplateName("_AddEditRelative").Window(w => w.Title("Add/Edit Relative").Width(620));
                              editable.DisplayDeleteConfirmation("Are you sure you want to delete State?");
                          })
                          .Events(e => e.Edit("onEdit"))
                          //.Sortable()
                          //.Pageable()
                          //.Filterable()

                          .Navigatable()
                            .Pageable(pageable => pageable
                            .Refresh(false)
                            .PageSizes(true)
                            .ButtonCount(5))
                            .Filterable()
                            .ColumnMenu(col => col.Columns(false))
                            .Sortable()
                            .Reorderable(reorderable => reorderable.Columns(true))
                            .Resizable(resizable => resizable.Columns(true))                            
                          .DataSource(dataSource =>
                              dataSource
                                .WebApi()
                                .Model(model =>
                                {
                                    model.Id(p => p.Id);
                                    model.Field(p => p.Director_ID).DefaultValue(Model);
                                    model.Field(p => p.Name);
                                    model.Field(p => p.Minor_or_Adult).DefaultValue(true);
                                    model.Field(p => p.MaritalStatus).DefaultValue(false);
                                    model.Field(p => p.ChangeTypeId);
                                    model.Field(p => p.ChangeDate);

                                })

                               .Events(events => events.RequestEnd("req_End"))
                               .Read(read => read.Url("/api/DirectorRelativeAPIController/GetRelative?Director_Id=" + Model).Type(HttpVerbs.Get))
                               .Create(create => create.Url("/api/DirectorRelativeAPIController/AddRelative").Type(HttpVerbs.Post))
                               .Update(update => update.Url("/api/DirectorRelativeAPIController/UpdateRelative").Type(HttpVerbs.Put))
                               .Destroy(destroy => destroy.Url("/api/DirectorRelativeAPIController/DeleteRelative").Type(HttpVerbs.Put))
                          ).Events(e => e.DataBound("onRowBoundrelaives"))
                )

                @(Html.Kendo().Tooltip()
        .For("#gridRelative")
        .Filter(".k-grid-delete")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Delete")
        .Width(120)
                )

                @(Html.Kendo().Tooltip()
    .For("#gridRelative")
    .Filter(".k-grid-edit")
    .Position(TooltipPosition.Top)
     .Width(100)
        .AutoHide(true)
    .Content("Edit")
                )

            </div>
        </div>

    </div>
</div>

<script>
    function error_handler(e) {
        var errors = $.parseJSON(e.xhr.responseText);

        console.log("Error :" + errors);
        if (errors) {
            alert("Errors:\n" + errors.join("\n"));
        }
    }
</script>

<script>
    function EditRelative(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
    }

    function onEdit(e) {

        e.container.find(".k-grid-cancel,.k-i-close").bind("click", function () {
            var grid = $("#gridRelative").data("kendoGrid");
            grid.dataSource.read();
        });

        $('#gridRelative').data().kendoGrid.editable.element.closest('.k-window')
      .find('.k-window-action:has(.k-i-close)').click(function () {
          var grid = $("#gridRelative").data("kendoGrid");
          grid.dataSource.read();
      })

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        var ddlRelation = $("#Relation").data("kendoDropDownList");

        if (e.model.isNew()) {

            $('.k-grid-update').text("Save");
            $('.k-grid-cancel').text("Close");

            ddlRelation.readonly(false);

            fillRelation("new");
            //$("#gridRelative .k-grid-content table tr:first").remove();
            var tableRef = document.getElementById('gridRelative').getElementsByTagName('tbody')[0];

            if (tableRef.rows.length > 0) {
                tableRef.deleteRow(0);
            }

            $("#divChangeType").hide();
            $("#divChangeDate").hide();

            var grid = $("#gridRelative").data("kendoGrid");
            var dataSource = grid.dataSource;
            //if (dataSource.total() == 0)
            if (tableRef.rows.length == 0) {
                e.model.Relation = "HUF";
                e.model.Name = "None";

                var ddlRelation = $("#Relation").data("kendoDropDownList");
                ddlRelation.value('HUF');
                ddlRelationChanged();

                $("#Name").val('None');
            }
        }
        else {
            $('.k-grid-update').text("Update");
            $('.k-grid-cancel').text("Close");

            ddlRelation.readonly();

            MinorAdultChanged(e.model.Minor_or_Adult);
            MaritalStatusChanged(e.model.MaritalStatus);
            ddlRelationChanged();

            fillRelation("edit");

            $("#divChangeType").show();
            $("#divChangeDate").show();
        }

    };

    function fillRelation(o) {
        if (o == "new") {
            $("#Relation").kendoDropDownList({
                dataSource: {
                    transport: {
                        read: {
                            url: "/api/DirectorRelativeAPIController/GetRelation?Director_Id=" +@Model +""
                        }
                    },
                    serverFiltering: false
                },
                dataTextField: "text",
                dataValueField: "id"
            });

        } else {
            $("#Relation").kendoDropDownList({
                dataSource: {
                    transport: {
                        read: {
                            url: "/api/DirectorRelativeAPIController/GetRelation?Director_Id"
                        }
                    },
                    serverFiltering: false
                },
                dataTextField: "text",
                dataValueField: "id"
            });

        }

    }


    function removeDirty() {
        var grid = $("#gridRelative").data("kendoGrid");
        var data = grid.dataSource.data();

        for (var i = 0; i < data.length; i++) {
            var d = data[i];
        }
    }

    function req_End(e) {
        if (e.type == "create" || e.type == "update") {

            var grid = $("#gridRelative").data("kendoGrid");
            grid.one("dataBinding", function (e) {
                e.preventDefault();   // cancel grid rebind if error occurs
            });

            kendo.ui.progress(grid.element, false);

            if (e.response == "Save Successfully" || e.response == "Update Successfully") {
                $("#Divsuccess").show();
                $("#Diverror").hide();
                $('#lblsuccess').text(e.response);

                if (e.type == "create") {
                    fillRelation("new");

                    $("#Name").val('');
                    $("#Spouse").val('');
                }
            }
            else {
                $("#Diverror").show();
                $("#Divsuccess").hide();
                $('#lblerrormsg').text(e.response);
            }
        }
    }

    function getMinorAdult(o, r) {
        if (r == "HUF") {
            return "";
        }
        else {
            if (o == true) {
                return "Minor";
            } else {
                return "Adult";
            }
        }
    }

    function getMaritalStatus(o, r) {
        if (r == "HUF" || r == "Brother" || r == "Sister") {
            return "";
        } else {
            if (o == true) {
                return "Married";
            } else {
                return "Unmarried";
            }
        }

    }
</script>