﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Director_MasterVM
<style>
    #dirprofilepic {
        height: 91px;
        width: 99px;
        margin-top: -14px;
    }

    /*legend {
        margin-bottom: 0px;
    }*/
    @@media (min-width: 1200px)
    {
        .container {
            max-width: 1259px;
        }
}

    .k-radio:checked + .k-radio-label:after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 4px;
    left: 4px;
}
</style>

<script>
    $(document).ready(function () {
         
                    $("#FirstName").attr('readonly', 'true');
                    $("#MiddleName").attr('readonly', 'true');
                    $("#LastName").attr('readonly', 'true');

                    $("#FatherFirstName").attr('readonly', 'true');
                    $("#FatherMiddleName").attr('readonly', 'true');
                    $("#FatherLastName").attr('readonly', 'true');

                    $("#Nationality").data("kendoDropDownList").readonly();

                    $("#DateOfBirth").data("kendoDatePicker").readonly();


                    $("#Gender").data("kendoDropDownList").readonly(true);

                    $("#PAN").attr('readonly', 'true');

                    $("#PassportNo").attr('readonly', 'true');


                    $("#EmailId").attr('readonly', 'true');
                    $("#EmailId_Official").attr('readonly', 'true');

                    $("#MobileNo").attr('readonly', 'true');


                    $("#Permenant_Address_Line1").attr('readonly', 'true');
                    $("#Permenant_Address_Line2").attr('readonly', 'true');
                    $("#Permenant_PINCode").attr('readonly', 'true');

                    $("#ddlPermenant_StateId").data("kendoDropDownList").readonly();

                    $("#ddlPermenant_CityId").data("kendoDropDownList").readonly();


                    $("#Present_Address_Line1").attr('readonly', 'true');
                    $("#Present_Address_Line2").attr('readonly', 'true');
                    $("#Present_PINCode").attr('readonly', 'true');

                    $("#ddlPresent_StateId").data("kendoDropDownList").readonly();

                    $("#ddlPresent_CityId").data("kendoDropDownList").readonly();

                    $("#ResidentInIndia").data("kendoDropDownList").readonly();


                    $("#Adhaar").attr('readonly', 'true');

                    $("#DIN").attr('readonly', 'true');
    })
</script>

<div class="container bootstrap snippet colpadding0" style="margin-bottom:18px">

    <div class="row colpadding0">
        @using (Ajax.BeginForm("UpdateDirectorDetails", "MyProfile", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divDetails" }, new { id = "frmUpdateofDirectorProfile" }))
        {
            @Html.HiddenFor(m => m.ID)
            <div class="row colpadding0">
                <div class="col-md-12 colpadding0">
                    <fieldset class="col">
                        <legend class="amp-mb5"><label style="font-size:17px">Details</label></legend>
                        <div class="row form-group colpadding0">
                            <div class="col-sm-2 colpadding0" style="float: right;margin-top: -20px;">
                                <!--left col-->
                                @*<div class="k-text-right colpadding0">*@
                                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar" id="dirprofilepic">
                                <h6>Upload a different photo...</h6>
                                <input type="file" class="text-center center-block file-upload">
                                @*</div><br>*@

                            </div><!--/col-3-->


                            <div class="col-md-10 colpadding0">
                                <div class="row colpadding0">
                                    <div class="col-md-1 colpadding0">
                                        <div class="form-group required">
                                            <label class="control-label">Salutation</label>
                                            @Html.Kendo().DropDownListFor(model => model.Salutation).BindTo(new SelectList(new List<object> {
                        new {id="",text="Select"},
                        new {id="Mr.",text="Mr."},
                        new {id="Mrs.",text="Mrs."},
                        new {id="Ms.",text="Ms."},
                    }, "id", "text")).HtmlAttributes(new { style = "width:98%",@Id= "ddlSalutation" })
                                            @Html.ValidationMessageFor(model => model.Salutation, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-3 colpadding0">
                                        <div class="form-group required">
                                            <label class="control-label">First Name</label>
                                            @(Html.Kendo().TextBoxFor(m => m.FirstName).HtmlAttributes(new { @class = "k-textbox", style = "width: 98%", autocomplete = "off" }))
                                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-3 colpadding0">
                                        <div class="form-group">
                                            <label class="control-label">Middle Name</label>
                                            @(Html.Kendo().TextBoxFor(m => m.MiddleName).HtmlAttributes(new { @class = "k-textbox", style = "width: 98%", autocomplete = "off" }))
                                            @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-3 colpadding0">
                                        <div class="form-group required">
                                            <label class="control-label">Last Name</label>
                                            @(Html.Kendo().TextBoxFor(m => m.LastName).HtmlAttributes(new { @class = "k-textbox", style = "width: 98%", autocomplete = "off" }))
                                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-1 colpadding0">

                                    </div>
                                </div>


                                <div class="col-md-10 colpadding0">
                                    <div class="row colpadding0">

                                        <div class="col-md-4 colpadding0">
                                            <div class="form-group required">
                                                <label class="control-label">Father's First Name</label>
                                                @(Html.Kendo().TextBoxFor(m => m.FatherFirstName).HtmlAttributes(new { @class = "k-textbox", style = "width: 98%", autocomplete = "off" }))
                                                @Html.ValidationMessageFor(model => model.FatherFirstName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-4 colpadding0">

                                            <div class="form-group required">
                                                <label class="control-label">Middle Name</label>
                                                @(Html.Kendo().TextBoxFor(m => m.FatherMiddleName).HtmlAttributes(new { @class = "k-textbox", style = "width: 98%", autocomplete = "off" }))
                                                @Html.ValidationMessageFor(model => model.FatherMiddleName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-4 colpadding0">
                                            <div class="form-group required">
                                                <label class="control-label">Last Name</label>
                                                @(Html.Kendo().TextBoxFor(m => m.FatherLastName).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%", autocomplete = "off" }))
                                                @Html.ValidationMessageFor(model => model.EmailId_Official, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-1 colpadding0">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group colpadding0">
                            <div class="col-md-12 colpadding0">
                                <div class="col-md-2 colpadding0">
                                    <div class="form-group required">
                                        <label class="control-label">Date of Birth</label>
                                        @(Html.Kendo().DatePicker().Name("DateOfBirth").Max(DateTime.Today).Format("dd/MM/yyyy").HtmlAttributes(new { style = "width: 98%", @Id = "ddDateOfBirth", onchange = "checkDate(this);", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2 colpadding0">
                                    <div class="form-group required" id="divDSCexpiryDate">
                                        <label class="control-label">DSC Expiry Date</label>

                                        @(Html.Kendo().DatePicker().Name("DESC_ExpiryDate")
.Min(DateTime.Today)
.Format("dd/MM/yyyy")
.HtmlAttributes(new { style = "width: 98%", @Id = "ddlDESC_ExpiryDate", onchange = "checkDate(this);", autocomplete = "off" })
                                        )

                                        @Html.ValidationMessageFor(model => model.DESC_ExpiryDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="col-md-2 colpadding0">
                                    <div class="form-group required">
                                        <label class="control-label">DIN</label>
                                        @(Html.Kendo().TextBoxFor(m => m.DIN).HtmlAttributes(new { @class = "k-textbox", style = "width: 98%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.DIN, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2 colpadding0">

                                    <div class="form-group required">
                                        <label class="control-label">Mobile No</label>
                                        @(Html.Kendo().TextBoxFor(m => m.MobileNo).HtmlAttributes(new { @class = "k-textbox", style = "width:98%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2 colpadding0">
                                    <div class="form-group required">
                                        <label class="control-label">Email (Personal)</label>
                                        @(Html.Kendo().TextBoxFor(m => m.EmailId).HtmlAttributes(new { @class = "k-textbox", style = "width: 98%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2 colpadding0">
                                    <div class="form-group required">
                                        <label class="control-label">Email (Official)</label>
                                        @(Html.Kendo().TextBoxFor(m => m.EmailId_Official).HtmlAttributes(new { @class = "k-textbox", style = "width: 98%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.EmailId_Official, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                            </div>

                        </div>

                        <div class="row colpadding0">
                            <div class="col-md-12 colpadding0">
                                <div class="col-md-2 colpadding0">
                                    <label class="control-label"><span style="color:red">*</span>Resident in India</label>
                                    @Html.Kendo().DropDownListFor(model => model.ResidentInIndia).BindTo(new SelectList(new List<object> {
                        new {id="True",text="Yes"},
                        new {id="False",text="No"},
                    }, "id", "text")).Events(e => e.Change("onResidentInIndia")).HtmlAttributes(new { style = "width: 98%",@Id= "ddlResidentInIndia" })

                                    @Html.ValidationMessageFor(model => model.ResidentInIndia, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-2 colpadding0">
                                    <div class="form-group required">
                                        <label class="control-label">Nationality</label>
                                        @Html.Kendo().DropDownListFor(model => model.Nationality).BindTo(new SelectList(new List<object> {
                        new {id="-1",text="Select"},
                        new {id="1",text="Indian"},
                        new {id="2",text="other"},
                    }, "id", "text")).HtmlAttributes(new { style = "width: 98%", @Id = "ddlNationality" })
                                        @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2 colpadding0">
                                    @*<span id="spAdhaar" style="color:red">*</span>*@
                                    <div class="form-group" id="DivAadhar">
                                        <label class="control-label">Aadhaar No</label>
                                        @(Html.Kendo().TextBoxFor(m => m.Adhaar).HtmlAttributes(new { @class = "k-textbox", style = "width:98%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.Adhaar, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2 colpadding0">
                                    @*<span id="spanPassport" style="color:red" hidden="true">*</span>*@
                                    <div class="form-group" id="divPassport">
                                        <label class="control-label">Passport</label>
                                        @(Html.Kendo().TextBoxFor(m => m.PassportNo).HtmlAttributes(new { @class = "k-textbox", style = "width: 98%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.PassportNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-1 colpadding0">
                                    <div class="form-group required">
                                        <label class="control-label">Gender</label>
                                        @Html.Kendo().DropDownListFor(model => model.Gender).BindTo(new SelectList(new List<object> {
                                           new {id="0",text="Select"},
                        new {id="1",text="Male"},
                        new {id="2",text="Female"},
                        new {id="3",text="Other"},
                    }, "id", "text")).HtmlAttributes(new { style = "width: 98%",@Id= "ddlGender" })
                                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>

                    <fieldset class="col">
                        <legend class="amp-mb5"><label style="font-size:17px">Address</label></legend>

                        <div class="row colpadding0">
                            <div class="colpadding0 col-md-12">
                                <label>Permanent residential address</label>
                            </div>

                            <div class="colpadding0 col-md-12">
                                <div class="col-md-3 colpadding0">

                                    <div class="form-group required">
                                        <label class="control-label">Line 1</label>
                                        @(Html.Kendo().TextBoxFor(m => m.Permenant_Address_Line1).HtmlAttributes(new { @class = "k-textbox", style = "width: 98%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.Permenant_Address_Line1, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3 colpadding0">
                                    <div class="form-group required">
                                        <label for="txtCorpAddress2llp" class="control-label">Line 2</label>
                                        @(Html.Kendo().TextBoxFor(m => m.Permenant_Address_Line2).HtmlAttributes(new { @class = "k-textbox", style = "width:98%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.Permenant_Address_Line2, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2 colpadding0">
                                    <div class="form-group required">
                                        <label class="control-label">State</label>
                                        @(Html.Kendo().DropDownListFor(m => m.Permenant_StateId)
         .DataTextField("Name")
          .DataValueField("SIdPublic")
          .OptionLabel("Select State")
          .Filter("contains")
          .DataSource(source =>
          {
              source.Read(read =>
              {
                  read.Url("/api/EntityMasterAPI/GetDropDownforState").Type(HttpVerbs.Get);
              })
              .ServerFiltering(false);
          })

           .HtmlAttributes(new { style = "width: 98%", @Id = "ddPermenant_StateId", onchange = "load(this,'ddPermenant_CityId')" })
                                        )
                                        @Html.ValidationMessageFor(model => model.Permenant_StateId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2 colpadding0">

                                    <div class="form-group required">
                                        <label class="control-label">City</label>
                                        @(Html.Kendo().DropDownListFor(m => m.Permenant_CityId)
          .DataTextField("Name")
          .Value("" + Model.Permenant_CityId)
          .DataValueField("Reg_cityId")
          .Filter(FilterType.Contains)
          .DataSource(source =>
          {
              source.Read(read =>
              {
                  read.Url("/api/EntityMasterAPI/GetDropDownforCity").Data("filterPermentState").Type(HttpVerbs.Get);
              })
              .ServerFiltering(false);
          })
           //.Enable(false)
           .AutoBind(true)
           //.CascadeFrom("ddlPermenant_StateId")
           .OptionLabel("Select City")
          .HtmlAttributes(new { style = "width: 98%", @Id = "ddPermenant_CityId" })
                                        )
                                        @Html.ValidationMessageFor(model => model.Permenant_CityId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2 colpadding0">
                                    <div class="form-group required">
                                        <label class="control-label">PIN</label>
                                        @(Html.Kendo().TextBoxFor(m => m.Permenant_PINCode).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.Permenant_PINCode, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt20 mt30 colpadding0">
                            <div class="colpadding0 col-md-6">
                                <div class="col-md-8 colpadding0">
                                    <div class="form-group required">
                                        <label class="control-label">Whether present address is same as permanent address</label>
                                    </div>
                                </div>
                                <div class="col-md-4 colpadding0">
                                    @(Html.Kendo().RadioButtonFor(m => m.IsSameAddress).Label("Yes").Value(true))
                                    &nbsp; &nbsp;
                                    @(Html.Kendo().RadioButtonFor(m => m.IsSameAddress).Label("No").Value(false))
                                    @Html.ValidationMessageFor(model => model.IsSameAddress, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div id="divPresentAddress">
                            <div class="row mt10 colpadding0">
                                <div class="colpadding0 col-md-12">
                                    <label>Present residential address</label>
                                </div>
                                <div class="col-md-12 colpadding0">
                                    <div class="col-md-3 colpadding0">
                                        <div class="form-group required">
                                            <label class="control-label">Line 1</label>
                                            @(Html.Kendo().TextBoxFor(m => m.Present_Address_Line1).HtmlAttributes(new { @class = "k-textbox", style = "width: 98%", autocomplete = "off" }))
                                            @Html.ValidationMessageFor(model => model.Present_Address_Line1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-3 colpadding0">

                                        <div class="form-group required">
                                            <label class="control-label">Line 2</label>
                                            @(Html.Kendo().TextBoxFor(m => m.Present_Address_Line2).HtmlAttributes(new { @class = "k-textbox", style = "width: 98%", autocomplete = "off" }))
                                            @Html.ValidationMessageFor(model => model.Present_Address_Line2, "", new { @class = "text-danger" })

                                        </div>
                                    </div>

                                    <div class="col-md-2 colpadding0">
                                        <div class="form-group required">
                                            <label class="control-label">State</label>
                                            @(Html.Kendo().DropDownListFor(m => m.Present_StateId)
      .DataTextField("Name")
      .DataValueField("SIdPublic")
      .OptionLabel("Select State")
      .Filter("contains")
      .DataSource(source =>
      {
          source.Read(read =>
          {
              read.Url("/api/EntityMasterAPI/GetDropDownforState").Type(HttpVerbs.Get);
          })
          .ServerFiltering(false);
      })
       .HtmlAttributes(new { style = "width: 98%", @Id = "ddPresent_StateId", onchange = "load(this,'ddPresent_CityId')" })
                                            //.HtmlAttributes(new { style = "width: 100%", @Id = "ddlPresent_StateId" })
                                            )
                                            @Html.ValidationMessageFor(model => model.Present_StateId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-2 colpadding0">
                                        <div class="form-group required">
                                            <label class="control-label">City</label>
                                            @(Html.Kendo().DropDownListFor(m => m.Present_CityId)
      .DataTextField("Name")
      .DataValueField("Reg_cityId")
      .Filter(FilterType.Contains)
      .DataSource(source =>
      {
          source.Read(read =>
          {
              read.Url("/api/EntityMasterAPI/GetDropDownforCity").Data("filterPresentState").Type(HttpVerbs.Get);
          })
          .ServerFiltering(false);
      })
       //.Enable(false)
       .AutoBind(true)
       //.CascadeFrom("ddlPresent_StateId")
       .OptionLabel("Select City")
       .HtmlAttributes(new { style = "width:98%", @Id = "ddPresent_CityId" })
                                            )
                                            @Html.ValidationMessageFor(model => model.Present_CityId, "", new { @class = "text-danger" })

                                        </div>
                                    </div>

                                    <div class="col-md-2 colpadding0">
                                        <div class="form-group">
                                            <label class="control-label">PIN</label>
                                            @(Html.Kendo().TextBoxFor(m => m.Present_PINCode).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%", autocomplete = "off" }))
                                            @Html.ValidationMessageFor(model => model.Present_PINCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>

                    <fieldset class="col">
                        <legend class="amp-mb5"><label style="font-size:17px">Education &amp; Occupation </label></legend>

                        <div class="row form-group">
                            <div class="col-md-12 colpadding0">
                                <div class="col-md-2 colpadding0">
                                    <div class="form-group required">
                                        <label class="control-label">Educational Qualification</label>
                                        @Html.Kendo().DropDownListFor(model => model.EducationalQualification).BindTo(new SelectList(new List<object> {
                                           new {id="-1",text="Select"},
                        new {id="1",text="X/SSLC/Junior/Equivalent"},
                        new {id="2",text="XII/SSC/High/Equivalent"},
                        new {id="3",text="Graduation/Bachelor/Equivalent"},
                        new {id="4",text="Post-Graduation/Master/Equivalent"},
                        new {id="5",text="Professional"},
                        new {id="6",text="Executive Program"},
                        new {id="7",text="Doctorate"},
                        new {id="8",text="Diploma"},
                        new {id="0",text="Others"},
                    }, "id", "text")).Events(e => e.Change("onEducationalQualification")).HtmlAttributes(new { style = "width: 98%",@Id= "ddlEducationalQualification" })
                                        @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2 colpadding0">
                                    <span id="spOtherQualification" style="color:red" hidden="true">*</span><label class="control-label">Other Qualification</label>
                                    @(Html.Kendo().TextBoxFor(m => m.OtherQualification).HtmlAttributes(new { @class = "k-textbox", style = "width: 98%", autocomplete = "off" }))
                                    @Html.ValidationMessageFor(model => model.OtherQualification, "", new { @class = "text-danger" })
                                </div>


                                <div class="col-md-2 colpadding0">

                                    <span style="color:red">*</span><label class="control-label">Occupation</label>

                                    @Html.Kendo().DropDownListFor(model => model.Occupation).BindTo(new SelectList(new List<object> {
                                           new {id="-1",text="Select"},
                        new {id="1",text="Self Employed"},
                        new {id="2",text="Professional"},
                        new {id="3",text="Homemaker"},
                        new {id="4",text="Student"},
                        new {id="5",text="Serviceman"},
                    }, "id", "text")).Events(e => e.Change("onOccupationChange")).HtmlAttributes(new { style = "width:98%",@Id= "ddlOccupation" })
                                    @Html.ValidationMessageFor(model => model.Occupation, "", new { @class = "text-danger" })

                                </div>


                                <div class="col-md-2 colpadding0">
                                    <span id="spAreaOfOccupation" style="color:red" hidden="true">*</span><label class="control-label">Area of Occupation</label>
                                    @Html.Kendo().DropDownListFor(model => model.AreaOfOccupation).BindTo(new SelectList(new List<object> {
                       new {id="-1",text="Select"},
                        new {id="1",text="Government"},
                        new {id="2",text="Teaching"},
                        new {id="0",text="Others"},
                    }, "id", "text")).Events(e => e.Change("onAreaOfOccupation")).HtmlAttributes(new { style = "width: 98%",@Id = "ddlonAreaOfOccupation" })
                                    @Html.ValidationMessageFor(model => model.AreaOfOccupation, "", new { @class = "text-danger" })

                                </div>

                                <div id="divOtherOccupation" class="col-md-2 colpadding0">
                                    <span id="spOtherOccupation" style="color:red" hidden="true">*</span><label class="control-label">Other Occupation</label>
                                    @(Html.Kendo().TextBoxFor(m => m.OtherOccupation).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%", autocomplete = "off" }))
                                    @Html.ValidationMessageFor(model => model.OtherOccupation, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>

                        <div id="divAreaOfOccupation" class="row mt30">
                            <div class="col-md-12 colpadding0">
                            </div>
                        </div>

                    </fieldset>


                </div>
            </div>
        }

        @if (Model.NumberofTypeChange > 0)
        {
            <div class="row colpadding0" style="margin-top:10px;margin-bottom:10px">
                <div class="col-md-12 colpadding0" style="text-align:center">
                    @*<input type="button" id="btnsub" class="k-primary k-button" style="width:8%" name="submit" value="Approve" onclick="ad(@Model.ID)"/>*@
                    <button type="button" id="btnNextMeetingAttendence" onclick="updatedirectorProfile(@Model.ID)" class="k-primary k-button k-grid-update k-button-icontext">Approve</button>
                    <input type="button" id="btnsub1" class="k-primary k-button" style="width:8%" name="submit" value="Reject" />
                </div>
            </div>
        }

        @(Html.Kendo().Window()
    .Name("wndonEditable")
    .Title("Edit On")
    .Visible(false)
    .Modal(true)
    .Draggable(true)

        )

        @(Html.Kendo().Window()
    .Name("wndoAssignment")
    .Title("Edit On")
    .Visible(false)
    .Modal(true)
    .Draggable(true)

        )
    </div><!--/tab-pane-->
</div><!--/tab-content-->

<script>

    $(document).ready(function () {
        $("#DateOfBirth").removeAttr("data-val-date");
        $("#DESC_ExpiryDate").removeAttr("data-val-date");

        if ($("#DateOfBirth").val() == "01/01/0001") {
            $("#DateOfBirth").val('');
        }

        if ($("#DESC_ExpiryDate").val() == "01/01/0001") {
            $("#DESC_ExpiryDate").val('');
        }

    });
    function checkDate(e) {
        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }
</script>
<script>
    function OpendirectirEditon(meetingID) {
        

        $("#wndonEditable").attr("style", "min-height:100px;");
        var direction = "Type of Changes";

        $("#wndonEditable").kendoWindow({
            title: "Type of Changes",
        });
        $("#wndonEditable").attr("style", "min-height:100px;");
        direction = "OpenOneditDirector?DirectorID=" + meetingID;
        var wnd = $("#wndonEditable").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndonEditable").kendoWindow({
            pinned: true,
            content: direction,
            width: "68%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresheupload(); },
            close: function (e) {
                $(this.element).empty();

                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {

                OnOpenupload();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "68%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();

        function OnOpenupload() {
            //$('#wndAdd').data("kendoWindow").close();
        }
        function OnRefresheupload() {

        }
    }
</script>

<script>
    //function ad(ID)
    //{
    //    updatedirectorProfile(ID);
    //}
    function updatedirectorProfile(ID) {
        
        $("#wndoAssignment").attr("style", "min-height:100px;");
        var direction = "Type of Changes";

        $("#wndoAssignment").kendoWindow({
            title: "Type of Changes",
        });
        $("#wndoAssignment").attr("style", "min-height:100px;");
        direction = "OpenOneditAssignment?ID=" + ID;
        var wnd = $("#wndoAssignment").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndoAssignment").kendoWindow({
            pinned: true,
            content: direction,
            width: "68%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresheassignment(); },
            close: function (e) {
                $(this.element).empty();

                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {

                OnOpenassignmet();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "68%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();

        function OnOpenassignmet() {

        }
        function OnRefresheassignment() {

        }

        //$("#frmUpdateofDirectorProfile").submit();


    }
</script>