﻿@using Kendo.Mvc.UI;
@model int

<script>
    function onRowBounds(e) {
        
       
        GetICons();


        var grid = $("#grid").data("kendoGrid");
        //grid.thead.css("background-color", "green")
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

            $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
            $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 1px 0 #DDDDDD");
        })

    }
</script>


            <div class="row colpadding0 mt30">
                <div class="col-md-12 colpadding0">
                    <div>
                        @(Html.Kendo().Grid<BM_ManegmentServices.VM.DirectorList_ForEntity>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Director_ID).Title("Director")
                            .ClientTemplate("<div>#= getImage(data)#</div>")
                              .HtmlAttributes(new { style="width:7%"});
            columns.Bound(c => c.FirstName).Title("Name").HtmlAttributes(new { style = "width:53%" });
            columns.Bound(c => c.DIN).HtmlAttributes(new { style = "width:10%" });
            columns.Bound(c => c.Designation).HtmlAttributes(new { style = "width:20%" });
            //columns.Bound(c => c.Designation).Title("Date of Appointment").ClientTemplate("");
            columns.Bound(c => c.DSC_ExpiryDate).Format("{0:dd/MM/yyyy}").Title("DSC Expiry Date").HtmlAttributes(new { style = "width:10%" });
        })
       
        .DataSource(dataSource => dataSource
            .WebApi()
            .Read(read => read.Url("/api/DirectorMasterAPI/BODforEntity?EntityId=" + @Model).Type(HttpVerbs.Get))
              .PageSize(20)
        )
           .Events(e => e.DataBound("onRowBounds"))
                        )

                    </div>


                    <script>

                        $("#btnclose2").click(function (e) {
                            $("#wndAdd1").data("kendoWindow").close();
                        });

                        function getImage(data) {

                            
                            var Colors = {};

                            var html;

                            if (data.Director_ID > 0 && data.ImagePath != null) {
                                html = "<img class='customer-photo' src='/Areas/BM_Management/Documents/Director/" + data.Director_ID + "/" + data.ImagePath + "'/>";
                            }
                            else {
                                Colors = [
                               "#42A5F5",
                               "#008391",
                               "#846600",
                              "#CC0060",
                              "#330099", ];
                                var result;
                                var count = 0;
                                //for (var prop in Colors)
                                //    if (Math.random() < 1 / ++count) {
                                //        result = prop;
                                result = Colors[Math.floor(Math.random() * Colors.length)];
                                var firstName = data.FirstName;
                                var lastName = data.LastName;
                                var intials = firstName.charAt(0) + lastName.charAt(0);

                                html = "<span class='customer-photo textimage' style='text-align: center;color:white;background-color:" + result + "'><b>" + intials + "</b></span>"

                                //}
                            }
                            return html;
                        }
                    </script>

                </div>

            </div>

       