﻿@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Committee List";

}
<link href="~/Content/2018.3.1017/css/DirectorCSS.css" rel="stylesheet" />

<script>
    function onRowBoundscommity()
    {
        GetICons();
        var grid = $("#gridKendo").data("kendoGrid");
        //grid.thead.css("background-color", "green")
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

            $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
            $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 1px 0 #DDDDDD");
        })
    }
</script>
<div class="row Dashboard-white-widget">
    <div class="dashboard">

        <div class="row colpadding0">
           
        </div>
        <div class="row master-Headre">
            <div class="col-md-12">
                <div class="col-md-10 colpadding0">
                    <div class="col-md-4 colpadding0 btnUpload">
                        @(Html.Kendo().DropDownList()
                  .Name("ddlEntityId")
                  .DataTextField("EntityName")
                  .DataValueField("Id")
                  //.Events(e => e.Change("Change"))
                  .OptionLabel("Select Entity")
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Url("/api/EntityMasterAPI/EntityListCommittewise").Type(HttpVerbs.Get);
                      })
                      .ServerFiltering(false);
                  })
                   .HtmlAttributes(new { style = "width: 90%", @Id = "ddlEntityId", autocomplete = "off" })
                        )
                    </div>

                    <div class="col-md-4 colpadding0 btnUpload">
                        <div class="col-md-1"></div>
                        <div class="col-md-11 colpadding0">
                            @(Html.Kendo().DropDownList()
                  .Name("ddlCommitteeId")
                  .OptionLabel("Select Committee")
                  .DataTextField("Name")
                  .DataValueField("Id")
                  .Events(e => e.Change("Change"))
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Url("/api/CommitteeCompAPI/GetCommitteeCompForCommitteeDropDown").Type(HttpVerbs.Get);
                      })
                      .ServerFiltering(true);
                  })
                   //    .Enable(false)
                   //.AutoBind(false)
                   //.CascadeFrom("ddlEntityId")
                   .HtmlAttributes(new { style = "width: 100%", @Id = "ddlCommitteeId", autocomplete = "off" })
                            )
                        </div>
                    </div>
                </div>
                <div class="col-md-1 colpadding0 btnUpload">
                   
                </div>

                <div class="col-md-1 btnUpload colpadding0" style="text-align:right">
                   
                </div>
            </div>
        </div>
        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                @Html.AntiForgeryToken()
                @(Html.Kendo().Grid<BM_ManegmentServices.VM.CommitteeMasterVM>()
.Name("gridKendo")
.Columns(columns =>
{
    columns.Bound(p => p.Id).Hidden(true).HeaderHtmlAttributes(new { @title = "Id" });
    columns.Bound(p => p.Committee_Id).Width(20).HeaderTemplate("Committee").ClientTemplate(" ").Hidden(true);
    columns.Bound(c => c.Director_Id).Title("Director")
        .ClientTemplate(@"<div class='customer-photo'
                         style='background-image: url(#= GetImage(data.Director_Id,data.ImagePath) #);'></div><div class='customer-name'>#:data.DirectorName#</div>")
          .Width(300);
    columns.Bound(p => p.Designation_Id).Title("Designation").ClientTemplate("#= GetDesignation(Designation_Id)#");
    columns.Bound(p => p.Committee_Type_Name).Title("Type");

    //columns.Command(command =>
    //{
    //    command.Edit();
    //    command.Destroy();
    //})
    //.Title("Action").HtmlAttributes(new { @style = "width:10%" });
})
    //.ToolBar(
    //toolbar => toolbar.Create()
    //)
    //.Editable(editable =>
    //{
    //    editable.Mode(GridEditMode.PopUp).TemplateName("_AddEditCommitteeMasterNew").Window(w => w.Title("Add/Edit").Draggable(true).Resizable(x => x.MaxWidth(900)));
    //    //editable.Mode(GridEditMode.PopUp).Window(w => w.Title("Add/Edit").Width(500).Draggable(true).Resizable(x => x.MaxWidth(900)));
    //    //editable.DisplayDeleteConfirmation("Are you sure you want to delete State?");
    //})
    //.Events(e => e.DataBound("onRowBound"))
    //.Events(e => e.Edit("onEdit"))
    //.Events(x => x.Save("onSave"))
    //.Events(x => x.SaveChanges("SaveChanges"))
    .Navigatable()
    .Pageable(pageable => pageable
    .Refresh(true)
    .PageSizes(true)
    .ButtonCount(5))
    .Filterable()
    .Sortable()
    .Reorderable(reorderable => reorderable.Columns(true))
    .Resizable(resizable => resizable.Columns(true))
    .ColumnMenu()
    .DataSource(dataSource => dataSource
    .WebApi()
    .PageSize(10)
          .Model(model =>
          {
              model.Id(o => o.Id);
              model.Field(o => o.Entity_Id);
          })
          .ServerOperation(true)
    //.Events(x => x.RequestEnd("Request_End"))
    //{
    //    aggregates.Add(p => p.CommitteeName).Count();
    //})
    //.Group(groups => groups.Add(c => c.CommitteeName))
    .Sort(sort => sort.Add("Committee_Id").Ascending())
    .Sort(sort => sort.Add("Designation").Ascending())
        .Read(read => read.Url("/api/CommitteeMasterNewAPIController/GetCommitteeMasterNew").Data("additionalInfo").Type(HttpVerbs.Get))

                       )
                         .Events(e => e.DataBound("onRowBoundscommity")))
            </div>



        </div>
    </div>
</div>

<style>
    .k-grid td {
        border-width: 0;
    }

    .customer-photo {
        display: inline-block;
        width: 75px;
        height: 65px;
        border-radius: 50%;
        background-size: 75px 65px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }

    .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }
</style>

<script>
    function GetSalutation(value) {
        if (value == "1") {
            return "Mr.";
        } else if (value == "2") {
            return "Mrs.";
        } else if (value == "3") {
            return "Ms.";
        } else {
            return "Error";
        }
    }

    function GetImage(did, file) {
        if (did == 0) {
            return "/Images/User-Profile-pic.png";
        }
        else {
            return "/Areas/BM_Management/Documents/Director/" + did + "/" + file;
        }
    }

    function GetDesignation(value) {
        if (value == "1") {
            return "Chairperson";
        } else if (value == "2") {
            return "Member";
        } else {
            return "";
        }
    }

    var additionalDataObject;
    function additionalInfo() {
        var dropdownlist = $("#ddlEntityId").data("kendoDropDownList");
        var ddlCommitteeId = $("#ddlCommitteeId").data("kendoDropDownList");

        if (dropdownlist.value() != "") {
            additionalDataObject = {
                EntityId: dropdownlist.value(),
                CommitteeId: ddlCommitteeId.value()
            };
        }
        else {
            additionalDataObject = {
                EntityId: 0,
                CommitteeId: 0
            };
        }

        return additionalDataObject;
    }

    function Change() {
        var grid = $("#gridKendo").data("kendoGrid");
        grid.dataSource.read();

        CheckIsValidCommittee();
    }

    function CheckIsValidCommittee() {
        var entityId = $("#ddlEntityId").data("kendoDropDownList").value();
        var committeeId = $("#ddlCommitteeId").data("kendoDropDownList").value();

        $.ajax({
            url: "@Url.Action("CheckIsValidCommittee", "CommitteeMaster")",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: '{EntityId: ' + entityId + ',CommitteeId: ' + committeeId + '}',
            success: function (result) {
                ProcessData(result);
            }
        });
    }
</script>

