﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Director_MasterVM
@{
    ViewBag.Title = "Type of Changes";

}

<script>
    function filterPermentState() {
        return {
            stateId: $("#ddlPermenant_StateId").val()
        };
    }

    function filterPresentState() {
        return {
            stateId: $("#ddlPresent_StateId").val()
        };
    }

    function load(e, t) {

        var ddlState = $("#" + e.id).data("kendoDropDownList");
        var val = ddlState.value();

        $("#" + t).kendoDropDownList({
            dataSource: {
                transport: {
                    read: {
                        url: "/api/EntityMasterAPI/GetDropDownforCity?stateId=" + val + ""
                    }
                },
                serverFiltering: false
            },
            dataTextField: "Name",
            dataValueField: "Reg_cityId",
            filter: "contains"
        });
        //var ddlState = $("#" + t).data("kendoDropDownList");
        //ddlState.dataSource.read();
        //ddlState.refresh();
    }

    function checkDate(e) {
        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }
</script>
<div class="row Dashboard-white-widget">
    <div class="dashboard">
        <div class="container colpadding0">
            <div class="row colpadding0">
                <div class="col-md-12 colpadding0">
                    <div class="row colpadding0">
                        <div class="col-md-12 colpadding0">
                            <table class="table-hover">
                                <tr>
                                    <th>
                                        <b>Name</b>
                                    </th>
                                </tr>

                                <tr>
                                    <th>First Name</th>
                                    <th>Middle Name</th>
                                    <th>Last Name</th>
                                    <th></th>
                                    <th></th>
                                    <th>Action</th>
                                </tr>
                                <tr>
                                    <td>
                                        @(Html.Kendo().TextBoxFor(m => m.FirstName).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                    </td>

                                    <td>
                                        @(Html.Kendo().TextBoxFor(m => m.MiddleName).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                                    </td>
                                    <td>

                                        @(Html.Kendo().TextBoxFor(m => m.LastName).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <input type="button" class="btn-success" value="Accept" /> &nbsp; &nbsp;
                                        <input type="button" class="btn-danger" value="Reject" />
                                    </td>
                                    <td>

                                    </td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <th>
                                        <b>Father's Name</b>
                                    </th>
                                </tr>

                                <tr>
                                    <th>First Name</th>
                                    <th>Middle Name</th>
                                    <th>Last Name</th>
                                  
                                    <th></th><th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>
                                        @(Html.Kendo().TextBoxFor(m => m.FatherFirstName).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.FatherFirstName, "", new { @class = "text-danger" })
                                    </td>

                                    <td>
                                        @(Html.Kendo().TextBoxFor(m => m.FatherMiddleName).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.FatherMiddleName, "", new { @class = "text-danger" })
                                    </td>
                                    <td>

                                        @(Html.Kendo().TextBoxFor(m => m.FatherLastName).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.FatherLastName, "", new { @class = "text-danger" })
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <input type="button" class="btn-success" value="Accept" /> &nbsp; &nbsp;
                                        <input type="button" class="btn-danger" value="Reject" />
                                    </td>
                                </tr>

                                <tr>
                                    <th>
                                        <b>Nationality</b>
                                    </th>
                                </tr>
                                <tr>
                                    <td>@Html.Kendo().DropDownListFor(model => model.Nationality).BindTo(new SelectList(new List<object> {
                        new {id="-1",text="Select"},
                        new {id="1",text="Indian"},
                        new {id="2",text="other"},
                    }, "id", "text")).HtmlAttributes(new { style = "width: 100%" })
                                    @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <input type="button" class="btn-success" value="Accept" /> &nbsp; &nbsp;
                                        <input type="button" class="btn-danger" value="Reject" />
                                    </td>
                                </tr>


                                <tr>
                                    <th>
                                        <b>Date of Birth</b>
                                    </th>
                                </tr>


                                <tr>
                                    <td>
                                        @(Html.Kendo().DatePicker().Name("DateOfBirth").Max(DateTime.Today).Format("dd/MM/yyyy").HtmlAttributes(new { style = "width: 100%", @Id = "DateOfBirth", onchange = "checkDate(this);", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                                    </td>

                                    <td></td>
                                    <td></td>
                                    <td></td><td></td>
                                    <td>
                                        <input type="button" class="btn-success" value="Accept" /> &nbsp; &nbsp;
                                        <input type="button" class="btn-danger" value="Reject" />
                                    </td>
                                </tr>

                              

                                <tr>
                                    <th>
                                        <b>Gender</b>
                                    </th>
                                </tr>


                                <tr>
                                    <td>
                                        @Html.Kendo().DropDownListFor(model => model.Gender).BindTo(new SelectList(new List<object> {
                                           new {id="0",text="Select"},
                        new {id="1",text="Male"},
                        new {id="2",text="Female"},
                        new {id="3",text="Other"},
                    }, "id", "text")).HtmlAttributes(new { style = "width: 100%" })
                                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                    </td>

                                    <td></td>
                                    <td></td>
                                    <td>
                                        <input type="button" class="btn-success" value="Accept" /> &nbsp; &nbsp;
                                        <input type="button" class="btn-danger" value="Reject" />
                                    </td>
                                </tr>

                                <tr>
                                    <th>
                                        <b>Income-tax PAN</b>
                                    </th>
                                </tr>


                                <tr>
                                    <td>
                                       @(Html.Kendo().TextBoxFor(m => m.PAN).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%", autocomplete = "off" }))
                                    @Html.ValidationMessageFor(model => model.PAN, "", new { @class = "text-danger" })
                                    </td>

                                    <td></td>
                                    <td></td>
                                    <td>
                                        <input type="button" class="btn-success" value="Accept" /> &nbsp; &nbsp;
                                        <input type="button" class="btn-danger" value="Reject" />
                                    </td>
                                </tr>

                                <tr>
                                    <th>
                                        <b>Passport number</b>
                                    </th>
                                </tr>


                                <tr>
                                    <td>
                                        @(Html.Kendo().TextBoxFor(m => m.PassportNo).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.PassportNo, "", new { @class = "text-danger" })
                                    </td>

                                    <td></td>
                                    <td></td>
                                    <td>
                                        <input type="button" class="btn-success" value="Accept" /> &nbsp; &nbsp;
                                        <input type="button" class="btn-danger" value="Reject" />
                                    </td>
                                </tr>

                                <tr>
                                    <th>
                                        <b>EmailID</b>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <b>Presonal</b>
                                    </th>
                                    <th>
                                        <b>Official</b>
                                    </th>
                                </tr>

                                <tr>
                                    <td>
                                        @(Html.Kendo().TextBoxFor(m => m.EmailId).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                                    </td>

                                    <td>
                                        @(Html.Kendo().TextBoxFor(m => m.EmailId_Official).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.EmailId_Official, "", new { @class = "text-danger" })
                                    </td>
                                    <td></td>
                                    <td>
                                        <input type="button" class="btn-success" value="Accept" /> &nbsp; &nbsp;
                                        <input type="button" class="btn-danger" value="Reject" />
                                    </td>
                                </tr>

                               

                                <tr>
                                    <th>
                                        <b>Mobile</b>
                                    </th>
                                </tr>


                                <tr>
                                    <td>
                                        @(Html.Kendo().TextBoxFor(m => m.MobileNo).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                                    </td>

                                    <td></td>
                                    <td></td>
                                    <td>
                                        <input type="button" class="btn-success" value="Accept" /> &nbsp; &nbsp;
                                        <input type="button" class="btn-danger" value="Reject" />
                                    </td>
                                </tr>

                                <tr>
                                    <th>
                                        <b>Permanent residential address</b>
                                    </th>
                                </tr>

                                <tr>
                                    <th>
                                        <b>Address line1</b>
                                    </th>
                                    <th>
                                        <b>Address line2</b>
                                    </th>
                                    <th>
                                        <b>State</b>
                                    </th>

                                    <th>
                                        <b>City</b>
                                    </th>

                                    <th>
                                        <b>Pin code</b>
                                    </th>

                                </tr>
                                <tr>
                                    <td>
                                        @(Html.Kendo().TextBoxFor(m => m.Permenant_Address_Line1).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.Permenant_Address_Line1, "", new { @class = "text-danger" })
                                    </td>

                                    <td>
                                        @(Html.Kendo().TextBoxFor(m => m.Permenant_Address_Line2).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.Permenant_Address_Line2, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        @(Html.Kendo().DropDownListFor(m => m.Permenant_StateId)
                                         .DataTextField("Name")
                                          .DataValueField("SIdPublic")
                                          .OptionLabel("Select State")
                                          .Filter("contains")
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Url("/api/EntityMasterAPI/GetDropDownforState").Type(HttpVerbs.Get);
                                              })
                                              .ServerFiltering(false);
                                          })

                                           .HtmlAttributes(new { style = "width: 100%", @Id = "ddlPermenant_StateId", onchange = "load(this,'ddlPermenant_CityId')" })
                                        )
                                        @Html.ValidationMessageFor(model => model.Permenant_StateId, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        @(Html.Kendo().DropDownListFor(m => m.Permenant_CityId)
                                          .DataTextField("Name")
                                          //.Value("" + Model.Permenant_CityId)
                                          .DataValueField("Reg_cityId")
                                          .Filter(FilterType.Contains)
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Url("/api/EntityMasterAPI/GetDropDownforCity").Data("filterPermentState").Type(HttpVerbs.Get);
                                              })
                                              .ServerFiltering(false);
                                          })
                                           //.Enable(false)
                                           .AutoBind(true)
                                           //.CascadeFrom("ddlPermenant_StateId")
                                           .OptionLabel("Select City")
                                          .HtmlAttributes(new { style = "width: 100%", @Id = "ddlPermenant_CityId" })
                                        )
                                        @Html.ValidationMessageFor(model => model.Permenant_CityId, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        @(Html.Kendo().TextBoxFor(m => m.Permenant_PINCode).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.Permenant_PINCode, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        <input type="button" class="btn-success" value="Accept" /> &nbsp; &nbsp;
                                        <input type="button" class="btn-danger" value="Reject" />
                                    </td>
                                </tr>

                                <tr>
                                    <th>
                                        <b>Present residential address</b>
                                    </th>
                                </tr>

                                <tr>
                                    <th>
                                        <b>Address line1</b>
                                    </th>
                                    <th>
                                        <b>Address line2</b>
                                    </th>
                                    <th>
                                        <b>State</b>
                                    </th>

                                    <th>
                                        <b>City</b>
                                    </th>

                                    <th>
                                        <b>Pin code</b>
                                    </th>

                                </tr>
                                <tr>
                                    <td>
                                        @(Html.Kendo().TextBoxFor(m => m.Present_Address_Line1).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.Present_Address_Line1, "", new { @class = "text-danger" })
                                    </td>

                                    <td>
                                        @(Html.Kendo().TextBoxFor(m => m.Present_Address_Line2).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.Present_Address_Line2, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                       @(Html.Kendo().DropDownListFor(m => m.Present_StateId)
                                          .DataTextField("Name")
                                          .DataValueField("SIdPublic")
                                          .OptionLabel("Select State")
                                          .Filter("contains")
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Url("/api/EntityMasterAPI/GetDropDownforState").Type(HttpVerbs.Get);
                                              })
                                              .ServerFiltering(false);
                                          })
                                           .HtmlAttributes(new { style = "width: 100%", @Id = "ddlPresent_StateId", onchange = "load(this,'ddlPresent_CityId')" })
                            //.HtmlAttributes(new { style = "width: 100%", @Id = "ddlPresent_StateId" })
                                    )
                                    @Html.ValidationMessageFor(model => model.Present_StateId, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        @(Html.Kendo().DropDownListFor(m => m.Present_CityId)
                                          .DataTextField("Name")
                                          .DataValueField("Reg_cityId")
                                          .Filter(FilterType.Contains)
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Url("/api/EntityMasterAPI/GetDropDownforCity").Data("filterPresentState").Type(HttpVerbs.Get);
                                              })
                                              .ServerFiltering(false);
                                          })
                                           //.Enable(false)
                                           .AutoBind(true)
                                           //.CascadeFrom("ddlPresent_StateId")
                                           .OptionLabel("Select City")
                                           .HtmlAttributes(new { style = "width: 100%", @Id = "ddlPresent_CityId" })
                                        )
                                        @Html.ValidationMessageFor(model => model.Present_CityId, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        @(Html.Kendo().TextBoxFor(m => m.Present_PINCode).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.Present_PINCode, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        <input type="button" class="btn-success" value="Accept" /> &nbsp; &nbsp;
                                        <input type="button" class="btn-danger" value="Reject" />
                                    </td>
                                </tr>

                            

                                <tr>
                                    <th>
                                        <b>Gender</b>
                                    </th>
                                </tr>


                                <tr>
                                    <td>
                                        @Html.Kendo().DropDownListFor(model => model.Gender).BindTo(new SelectList(new List<object> {
                                           new {id="0",text="Select"},
                        new {id="1",text="Male"},
                        new {id="2",text="Female"},
                        new {id="3",text="Other"},
                    }, "id", "text")).HtmlAttributes(new { style = "width: 100%" })
                                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                    </td>

                                    <td></td>
                                    <td></td>
                                    <td>
                                        <input type="button" class="btn-success" value="Accept" /> &nbsp; &nbsp;
                                        <input type="button" class="btn-danger" value="Reject" />
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

