﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMBoard_Director

<div id="divcommitteeRulesDetails">
    <div id="divRules_Directors">
        @using (Ajax.BeginForm("SaveUpdateDirector_Rules", "BoardOF_Director", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divRules_Directors", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmUpdateDirector_Rules" }))
        {
            <div class="row">
                <div class="col-md-12 colpadding0">
                    @if (Model.Messages != null)
                    {

                        @Html.Partial("_Response", Model.Messages)

                    }
                </div>
            </div>
            @Html.HiddenFor(m => m.BDId)
            @Html.HiddenFor(m => m.EntityType)
            @Html.Hidden("RuleType", "DD")

            <div class="row form-group">
                <div class="col-md-12 colpadding0">
                    <div class="col-md-3 colpadding0">
                        <label class="control-label" style="margin-bottom:10px;">Designation</label>
                        @(Html.Kendo().DropDownListFor(m => m.Designation_dirId)
                        .DataValueField("Id")
                        .DataTextField("Name")
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Url("/api/DesignationMasterAPI/GetDirectors_DesignationDropdown").Type(HttpVerbs.Get);
                            });
                        })
                        .OptionLabel("--Select--")
            .HtmlAttributes(new { style = "width: 90%;", Id = "ddldirectorDesig" }))
                    </div>

                    <div class="col-md-2">
                        <label class="control-label" style="margin-bottom:10px;">Gender</label>
                        @Html.Kendo().DropDownListFor(m => m.Gender).BindTo(new SelectList(new List<object> {
                                    new {id="0",text="Select"},
                                    new {id="1",text="Female"},
                                    new {id="2",text="Male"},
                                    new {id="3",text="Others"}}, "id", "text")).HtmlAttributes(new { style = "width: 80%;" })
                    </div>

                    <div class="col-md-5 colpadding0">
                        <div class="col-md-1 colpadding0"></div>
                        <div class="col-md-11 colpadding0">
                            @*<label class="control-label">Total Strength</label>*@
                            <table id="directorDetails">
                                <thead>
                                    <tr>
                                        <td rowspan="2">Min</td>
                                        <td></td>
                                        <td rowspan="2">Max</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td rowspan="2">@Html.Kendo().TextBoxFor(m => m.Min).HtmlAttributes(new { style = "width: 50px;" })</td>
                                        <td rowspan="2"></td>
                                        <td>@Html.Kendo().TextBoxFor(m => m.Max).HtmlAttributes(new { style = "width: 50px; " })</td>
                                        <td rowspan="2">&nbsp;</td>
                                        <td rowspan="2">
                                            @if (Model.BDId > 0)
                                            {
                                                <button type="submit" value="update" class="k-primary k-button k-grid-update k-button-icontext">Update</button>
                                            }
                                            else
                                            {
                                                <button type="submit" value="Save" class="k-primary k-button k-grid-update k-button-icontext">Add</button>
                                            }

                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="col-md-2">

                    </div>

                </div>

            </div>

            <div class="row form-group">
                @if (Model.Directors.Count > 0)
                {
                    int counter = 0;
                    <div class="col-md-12 colpadding0">
                        <table id="tblDetailsOfQuorum">
                            <thead>
                                <tr>
                                    <th data-field="SrNo">SrNo</th>
                                    @*<th data-field="Max">Max</th>
                                        <th data-field="Min">Min</th>*@
                                    <th data-field="Rules">Rules</th>
                                    <th data-field="Action">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Directors)
                                {

                                    counter++;
                                    <tr>
                                        <td>@counter </td>

                                        <td>@Html.Raw(item.Rules)</td>

                                        <td>
                                            <button type="button" onclick="EditMinimumDirector(@item.Id,@item.Entity_type)" class="k-button k-button-icontext k-grid-edit" style="min-width:25px;"><span class="k-icon k-edit"></span></button>
                                            @*<button type="button" onclick="DeleteMinimumDirector(@item.Id)" class="k-button k-button-icontext k-grid-delete" style="min-width:25px;"><span class="k-icon k-delete"></span></button>*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }

            </div>
        }
    </div>

</div>

<script>
    $(document).ready(function () {
        $("#tblDetailsOfQuorum").kendoGrid({
            sortable: false,
            scrollable: false
        });
    });

    function EditMinimumDirector(Id, EntityType) {
        
        $("#frmUpdateDirector_Rules").attr(
                        "action",
                        "@Url.Action("EditMinimumDirector", "BoardOF_Director")" + "?Id=" + Id + "&Entity_Type=" + EntityType
                    ).submit();
    }

    function DeleteMinimumDirector(id, committeeId) {
        $("#frmUpdateDirector_Rules").attr(
                        "action",
                        "@Url.Action("", "BoardOF_Director")" + "?Rule_Id=" + id + "&Committee_Id=" + committeeId + "&command_name=deleteRule"
                    ).submit();
    }

    //function OnOpen(e) {
    //    
    //    kendo.ui.progress($("#directorDetails"), true);

    //}

    //function OnRefresh(e) {
    //    kendo.ui.progress($("#directorDetails"), false);
    //}
</script>
