﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Directors_Relatives

    @using (Ajax.BeginForm("EditDirectorsRelatives", "Director_Master", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divfrmUpdateRelatives", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmUpdateRelatives" }))
    {
        string tbl_class = "";
        string tbl_class1 = "";

        <div id="divfrmUpdateRelatives12" >
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.Director_ID)

            @if(Model.Response != null)
            {
                <div class="row">
                    <div class="col-md-2 colpadding0">
                    </div>
                    <div class="col-md-8 colpadding0">
                        @Html.Partial("_Response", Model.Response)
                    </div>
                    <div class="col-md-2 colpadding0">
                    </div>
                </div>
            }
            <div style="margin-left:0%; margin-right:2%;">
                <fieldset class="col">
                    <legend style="margin-bottom: 10px;"><label style="font-size:17px">Relatives </label></legend>

                    <div class="row form-group">
                        <div class="col-md-12 colpadding0">
                            <div class="amp-ml">
                                <div class="col-md-2 colpadding0">
                                    <label class="control-label">Name of the HUF, if any</label>
                                    @(Html.Kendo().TextBoxFor(m => m.HUF).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%" }))
                                    @Html.ValidationMessageFor(model => model.HUF, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-2 colpadding0">
                                    <div class="col-md-1 colpadding0"></div>
                                    <div class="col-md-11 colpadding0">
                                        <label class="control-label">Name of the Spouse</label>
                                        @(Html.Kendo().TextBoxFor(m => m.Spouse).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%" }))
                                        @Html.ValidationMessageFor(model => model.Spouse, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2 colpadding0">
                                    <div class="col-md-1 colpadding0"></div>
                                    <div class="col-md-11 colpadding0">
                                        <label class="control-label">Name of the Father</label>
                                        @(Html.Kendo().TextBoxFor(m => m.Father).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%" }))
                                        @Html.ValidationMessageFor(model => model.Father, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2 colpadding0">
                                    <div class="col-md-1 colpadding0"></div>
                                    <div class="col-md-11 colpadding0">
                                        <label class="control-label">Name of the Mother</label>
                                        @(Html.Kendo().TextBoxFor(m => m.Mother).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%" }))

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-7 colpadding0">
                                <div class="col-md-12 colpadding0">
                                    <div id="example1235" class="amp-ml">
                                        <ul id="pnlSon">
                                            <li class="k-item k-state-default k-first k-last k-state-highlight k-state-active">
                                                <span>Details of Son</span>
                                                <div style="padding: 10px;">

                                                    @if (@Model.lstSon.Count == 0)
                                                    {
                                                        tbl_class = "hidden";
                                                    }
                                                    else
                                                    {
                                                        tbl_class1 = "hidden";
                                                        tbl_class = "";
                                                    }

                                                    <div id="divbtn">
                                                        <div class="col-md-12 colpadding0">
                                                            <span style="color:red">*</span><label class="control-label">Number of entries to be made</label>
                                                            <input type="text" class="k-textbox" id="txtNoOfSon" maxlength="1" onchange="txtNoOfSonChanged('0');" value="@Model.lstSon.Count" style = "width:40px;height :29px;" />
                                                            <button class="hidden" type="button" id="btnNoofSon" onclick="txtNoOfSonChanged('0');"><span class="k-icon k-add"></span>Add</button>
                                                        </div>
                                                    </div>

                                                    <div id="divtable" class="@tbl_class">
                                                        <table id="tblDetailsOfSon" style="width:100%; border-collapse: separate; border-spacing: 0 1em;">
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-center" style="width:3%;"><lable class="control-label">SrNo</lable></th>
                                                                    <th style="width:0.5%;">&nbsp;</th>
                                                                    <th class="text-center" style="width:12%;"><lable class="control-label">Name of Son</lable></th>
                                                                    <th class="text-center" style="width:9%;"><lable class="control-label">Is Minor</lable></th>
                                                                    <th style="width:0.5%;">&nbsp;</th>
                                                                    <th class="text-center" style="width:14%;"><lable class="control-label">Marital Status</lable></th>
                                                                    <th style="width:0.5%;">&nbsp;</th>
                                                                    <th class="text-center" style="width:12%;"><lable class="control-label">Name of Son's Wife</lable></th>
                                                                </tr>
                                                            </thead>

                                                            <tbody>

                                                                @{
                                                        if (@Model.lstSon.Count > 0)
                                                        {
                                                            int count = 0, i = -1;

                                                            if (Model.lstSon != null)
                                                            {

                                                                foreach (var item1 in Model.lstSon)
                                                                {
                                                                    count++;
                                                                    i++;
                                                                    if (count > 1)
                                                                    {

                                                                    }

                                                            <tr style="grid-row-sizing:500px;">
                                                                <td class="text-center">@count</td>
                                                                <td><span style="color:red">*</span></td>
                                                                <td>
                                                                    @(Html.Kendo().TextBoxFor(model => model.lstSon[i].Name).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%"}))
                                                                    @Html.ValidationMessageFor(model => model.lstSon[i].Name, "", new { @class = "text-danger" })
                                                                </td>
                                                                <td>&nbsp;&nbsp;<span style="color:red">*</span>&nbsp;&nbsp;@(Html.Kendo().RadioButtonFor(model => model.lstSon[i].Minor_or_Adult).Label("Yes").Checked(Model.lstSon[i].Minor_or_Adult).Value(true).HtmlAttributes(new { @Id = "rdbMinor_or_Adult", onchange = "MyEvent(this,event,'tblDetailsOfSon')" }))&nbsp; &nbsp;@(Html.Kendo().RadioButtonFor(model => model.lstSon[i].Minor_or_Adult).Label("No").Checked(!Model.lstSon[i].Minor_or_Adult).Value(false).HtmlAttributes(new { @Id = "rdbMinor_or_Adult", onchange = "MyEvent(this,event,'tblDetailsOfSon')" }))
                                                                </td>
                                                                <td><span id="spMaritalStatus" style="color:red" hidden="true">*</span></td>
                                                                <td>
                                                                    @(Html.Kendo().RadioButtonFor(model => model.lstSon[i].MaritalStatus).Label("Unmarried").Checked(!Model.lstSon[i].MaritalStatus).Value(false).HtmlAttributes(new { @Id = "rdbMaritalStatus", onchange = "MyEvent_MaritalStatus(this,event,'tblDetailsOfSon')" }))
                                                                    &nbsp; &nbsp;
                                                                    @(Html.Kendo().RadioButtonFor(model => model.lstSon[i].MaritalStatus).Label("Married").Checked(Model.lstSon[i].MaritalStatus).Value(true).HtmlAttributes(new { @Id = "rdbMaritalStatus", onchange = "MyEvent_MaritalStatus(this,event,'tblDetailsOfSon')" }))
                                                                </td>
                                                                <td><span id="spSpouse" style="color:red" hidden="true">*</span></td>
                                                                <td>
                                                                    @(Html.Kendo().TextBoxFor(model => model.lstSon[i].Spouse).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%" }))
                                                                    @Html.ValidationMessageFor(model => model.lstSon[i].Spouse, "", new { @class = "text-danger" })
                                                                    @Html.HiddenFor(model => model.lstSon[i].Id)
                                                                </td>

                                                            </tr>

                                                                }
                                                            }
                                                        }
                                                                }
                                                            </tbody>

                                                        </table>
                                                    </div>

                                                    <div id="divtablebtns" class="hidden">
                                                        <div class="col-md-12 colpadding0 text-center">
                                                            <button type="button" id="btnAddRows" class="k-button"><span class="k-icon k-add"></span></button>
                                                            <button type="button" id="btnDelRows" class="k-button"><span class="k-icon k-delete"></span></button>
                                                        </div>
                                                    </div>


                                                </div>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div><br /></div>
                                <div class="col-md-12 colpadding0">
                                    <div id="example1236" class="amp-ml">
                                        <ul id="pnlDaughter">
                                            <li class="k-item k-state-default k-first k-last k-state-highlight k-state-active">
                                                Details of Daughter
                                                <div style="padding: 10px;">
                                                    @if (Model.lstDaughter.Count == 0)
                                                    {
                                                        tbl_class = "hidden";
                                                    }
                                                    else
                                                    {
                                                        tbl_class1 = "hidden";
                                                        tbl_class = "";
                                                    }
                                                    <div id="divbtn">
                                                        <div class="col-md-12 colpadding0">
                                                            <span style="color:red">*</span><label class="control-label">Number of entries to be made</label>
                                                            <input type="text" class="form-control k-textbox" id="txtNoOfDaughter" onchange="txtNoOfDaughterChanged('0');"  value="@Model.lstDaughter.Count" maxlength="1" style = "width:40px;height :29px;" />
                                                            <button type="button" class="hidden" id="btnNoofSon" onclick="txtNoOfDaughterChanged('0');"><span class="k-icon k-add"></span>Add</button>
                                                        </div>
                                                    </div>

                                                    <div id="divDaughterTable" class="@tbl_class">
                                                        <table id="tblDetailsOfDaughter" style="width:100%; border-collapse: separate; border-spacing: 0 1em;">
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-center" style="width:3%;"><lable class="control-label">SrNo</lable></th>
                                                                    <th style="width:0.5%;">&nbsp;</th>
                                                                    <th class="text-center" style="width:12%;"><lable class="control-label">Name of Daughter</lable></th>
                                                                    <th class="text-center" style="width:9%;"><lable class="control-label">Is Minor</lable></th>
                                                                    <th style="width:0.5%;">&nbsp;</th>
                                                                    <th class="text-center" style="width:14%;"><lable class="control-label">Marital Status</lable></th>
                                                                    <th style="width:0.5%;">&nbsp;</th>
                                                                    <th class="text-center" style="width:12%;"><lable class="control-label">Name of Daughter's Husband</lable></th>
                                                                </tr>
                                                            </thead>

                                                            <tbody>

                                                                @{if (Model.lstDaughter.Count > 0)
                                                                {
                                                                    int count = 0, i = -1;

                                                                    if (Model.lstDaughter != null)
                                                                    {

                                                                        foreach (var item1 in Model.lstDaughter)
                                                                        {
                                                                            count++;
                                                                            i++;
                                                                            if (count > 1)
                                                                            {

                                                                            }

                                                            <tr style="grid-row-sizing:500px;">
                                                                <td class="text-center">@count
                                                                </td>
                                                                <td><span style="color:red">*</span></td>
                                                                <td>
                                                                    @(Html.Kendo().TextBoxFor(model => model.lstDaughter[i].Name).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%" }))
                                                                    @Html.ValidationMessageFor(model => model.lstDaughter[i].Name, "", new { @class = "text-danger" })
                                                                </td>
                                                                <td>&nbsp;&nbsp;<span style="color:red">*</span>&nbsp;&nbsp;@(Html.Kendo().RadioButtonFor(model => model.lstDaughter[i].Minor_or_Adult).Label("Yes").Checked(Model.lstDaughter[i].Minor_or_Adult).Value(true).HtmlAttributes(new { @Id = "rdbMinor_or_Adult", onchange = "MyEvent(this,event,'tblDetailsOfDaughter')" }))&nbsp; &nbsp;@(Html.Kendo().RadioButtonFor(model => model.lstDaughter[i].Minor_or_Adult).Label("No").Checked(!Model.lstDaughter[i].Minor_or_Adult).Value(false).HtmlAttributes(new { @Id = "rdbMinor_or_Adult", onchange = "MyEvent(this,event,'tblDetailsOfDaughter')" }))
                                                                </td>
                                                                <td><span id="spMaritalStatus" style="color:red" hidden="true">*</span></td>
                                                                <td>
                                                                    @(Html.Kendo().RadioButtonFor(model => model.lstDaughter[i].MaritalStatus).Label("Unmarried").Checked(!Model.lstDaughter[i].MaritalStatus).Value(false).HtmlAttributes(new { @Id = "rdbMaritalStatus", onchange = "MyEvent_MaritalStatus(this,event,'tblDetailsOfDaughter')" }))
                                                                    &nbsp; &nbsp;
                                                                    @(Html.Kendo().RadioButtonFor(model => model.lstDaughter[i].MaritalStatus).Label("Married").Checked(Model.lstDaughter[i].MaritalStatus).Value(true).HtmlAttributes(new { @Id = "rdbMaritalStatus", onchange = "MyEvent_MaritalStatus(this,event,'tblDetailsOfDaughter')" }))
                                                                </td>
                                                                <td><span id="spSpouse" style="color:red" hidden="true">*</span></td>
                                                                <td>
                                                                    @(Html.Kendo().TextBoxFor(model => model.lstDaughter[i].Spouse).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%" }))
                                                                    @Html.ValidationMessageFor(model => model.lstDaughter[i].Spouse, "", new { @class = "text-danger" })
                                                                    @Html.HiddenFor(model => model.lstDaughter[i].Id)
                                                                </td>
                                                            </tr>
                                                                        }
                                                                    }
                                                                }
                                                                }
                                                            </tbody>

                                                        </table>
                                                    </div>

                                                    <div id="divtablebtns" class="hidden">
                                                        <div class="col-md-12 colpadding0 text-center">
                                                            <button type="button" id="btnAddRows" class="k-button"><span class="k-icon k-add"></span></button>
                                                            <button type="button" id="btnDelRows" class="k-button"><span class="k-icon k-delete"></span></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 colpadding0">
                                <div class="col-md-12 colpadding0">
                                    <div id="example1237" class="amp-ml-md">
                                        <ul id="pnlBrother">
                                            <li class="k-item k-state-default k-first k-last k-state-highlight k-state-active">
                                                Details Of Brother
                                                <div style="padding: 10px;">
                                                    @if (Model.lstBrother.Count == 0)
                                                    {
                                                        tbl_class = "hidden";
                                                    }
                                                    else
                                                    {
                                                        tbl_class1 = "hidden";
                                                        tbl_class = "";
                                                    }
                                                    <div id="divbtn">
                                                        <div class="col-md-12 colpadding0">
                                                            <span style="color:red">*</span><label class="control-label">Number of entries to be made</label>
                                                            <input type="text" class="form-control k-textbox" id="txtNoOfBrother" onchange="txtNoOfBrotherChanged('0');"  value="@Model.lstBrother.Count" maxlength="1" style="width:40px;height :29px;" />
                                                        </div>
                                                    </div>

                                                    <div id="divBrotherTable" class="@tbl_class">
                                                        <table id="tblDetailsOfBrother" style="width:100%; border-collapse: separate; border-spacing: 0 1em;">
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-center" style="width:2%;"><lable class="control-label">SrNo</lable></th>
                                                                    <th style="width:0.5%;">&nbsp;</th>
                                                                    <th class="text-center" style="width:9%;"><lable class="control-label">Name of Brother</lable></th>
                                                                    <th style="width:0.5%;">&nbsp;</th>
                                                                    <th class="text-center" style="width:7%;"><lable class="control-label">Is Minor</lable></th>
                                                                </tr>
                                                            </thead>

                                                            <tbody>

                                                                @{
                                                                    if (@Model.lstBrother.Count > 0)
                                                                    {
                                                                        int count = 0, i = -1;

                                                                        if (Model.lstBrother != null)
                                                                        {
                                                                            foreach (var item1 in Model.lstBrother)
                                                                            {
                                                                                count++;
                                                                                i++;

                                                                <tr style="grid-row-sizing:500px;">
                                                                    <td class="text-center">@count</td>
                                                                    <td><span style="color:red">*</span></td>
                                                                    <td>
                                                                        @(Html.Kendo().TextBoxFor(model => model.lstBrother[i].Name).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%" }))
                                                                        @Html.ValidationMessageFor(model => model.lstBrother[i].Name, "", new { @class = "text-danger" })
                                                                    </td>
                                                                    <td>&nbsp;</td>
                                                                    <td>
                                                                        &nbsp;&nbsp;<span style="color:red">*</span>&nbsp;&nbsp;@(Html.Kendo().RadioButtonFor(model => model.lstBrother[i].Minor_or_Adult).Label("Yes").Checked(Model.lstBrother[i].Minor_or_Adult).Value(true).HtmlAttributes(new { @Id = "rdbMinor_or_Adult" }))&nbsp;&nbsp;&nbsp;@(Html.Kendo().RadioButtonFor(model => model.lstBrother[i].Minor_or_Adult).Label("No").Checked(!Model.lstBrother[i].Minor_or_Adult).Value(false).HtmlAttributes(new { @Id = "rdbMinor_or_Adult" }))
                                                                        @Html.HiddenFor(model => model.lstBrother[i].Id)
                                                                    </td>
                                                                </tr>

                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            </tbody>

                                                        </table>
                                                    </div>
                                                </div>
                                                 
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div><br /></div>

                                <div class="col-md-12 colpadding0">
                                    <div id="example1238" class="amp-ml-md">
                                        <ul id="pnlSister">
                                            <li class="k-item k-state-default k-first k-last k-state-highlight k-state-active">
                                                Details of Sister
                                                <div style="padding: 10px;">
                                                    @if (@Model.lstSister.Count == 0)
                                                    {
                                                        tbl_class = "hidden";
                                                    }
                                                    else
                                                    {
                                                        tbl_class1 = "hidden";
                                                        tbl_class = "";
                                                    }
                                                    <div id="divbtn">
                                                        <div class="col-md-12 colpadding0">
                                                            <span style="color:red">*</span><label class="control-label">Number of entries to be made</label>
                                                            <input type="text" class="form-control k-textbox" id="txtNoOfSister" onchange="txtNoOfSisterChanged('0');"  value="@Model.lstSister.Count" maxlength="1" style="width:40px;height :29px;" />
                                                        </div>
                                                    </div>

                                                    <div id="divSisterTable" class="@tbl_class">
                                                        <table id="tblDetailsOfSister" style="width:100%; border-collapse: separate; border-spacing: 0 1em;">
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-center" style="width:2%;"><lable class="control-label">SrNo</lable></th>
                                                                    <th style="width:0.5%;">&nbsp;</th>
                                                                    <th class="text-center" style="width:9%;"><lable class="control-label">Name of Brother</lable></th>
                                                                    <th style="width:0.5%;">&nbsp;</th>
                                                                    <th class="text-center" style="width:7%;"><lable class="control-label">Is Minor</lable></th>
                                                                </tr>
                                                            </thead>

                                                            <tbody>
                                                                @{
                                                                    if (@Model.lstSister.Count > 0)
                                                                    {
                                                                        int count = 0, i = -1;

                                                                        if (Model.lstSister != null)
                                                                        {
                                                                            foreach (var item1 in Model.lstSister)
                                                                            {
                                                                                count++;
                                                                                i++;

                                                                                <tr style="grid-row-sizing:500px;">
                                                                                    <td class="text-center">@count</td>
                                                                                    <td><span style="color:red">*</span></td>
                                                                                    <td>
                                                                                        @(Html.Kendo().TextBoxFor(model => model.lstSister[i].Name).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%" }))
                                                                                        @Html.ValidationMessageFor(model => model.lstSister[i].Name, "", new { @class = "text-danger" })
                                                                                    </td>
                                                                                    <td>&nbsp;</td>
                                                                                    <td>
                                                                                        &nbsp;&nbsp;<span style="color:red">*</span>&nbsp;&nbsp;@(Html.Kendo().RadioButtonFor(model => model.lstSister[i].Minor_or_Adult).Label("Yes").Checked(Model.lstBrother[i].Minor_or_Adult).Value(true).HtmlAttributes(new { @Id = "rdbMinor_or_Adult" }))&nbsp;&nbsp;&nbsp;@(Html.Kendo().RadioButtonFor(model => model.lstSister[i].Minor_or_Adult).Label("No").Checked(!Model.lstSister[i].Minor_or_Adult).Value(false).HtmlAttributes(new { @Id = "rdbMinor_or_Adult" }))
                                                                                        @Html.HiddenFor(model => model.lstSister[i].Id)
                                                                                    </td>

                                                                                </tr>

                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            </tbody>

                                                        </table>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </fieldset>
                </div>
            </div>
     }
    
<script type="text/javascript">

        $("#addItem").click(function () {
            $.ajax({
                url: "BlankEditorRow",
                cache: false,
                success: function (html) { $("#editorRows").append(html); }
            });
            return false;
        });

        $("#btnDelRows").click(function () {
            var tableRef = document.getElementById('tblDetailsOfSon').getElementsByTagName('tbody')[0];
            if (tableRef.rows.length > 0)
            {
                tableRef.deleteRow(tableRef.rows.length - 1);
                $("#txtTotalSon").val(tableRef.rows.length);
                updatetable();
            }
            
        });

        function txtNoOfSonChanged(n)
        {
            var tableRef = document.getElementById('tblDetailsOfSon').getElementsByTagName('tbody')[0];

            var count = parseInt($("#txtNoOfSon").val());

            if (n == '0')
            {
                count = 0;
                var tot = parseInt($("#txtNoOfSon").val());
                $("#tblDetailsOfSon").removeClass("hidden");

                while (tableRef.rows.length >tot && tot >0)
                {
                    tableRef.deleteRow(tableRef.rows.length - 1);
                }

                for (count = tableRef.rows.length; count < tot; count++)
                {
                    var htmlContent = "<tr>" +
                                    "<td  class='text-center'>" + (count + 1) + "</td>" +
                                    "<td><span style='color:red'>*</span></td>" +
                                    "<td>" +
                                    "<input class='k-textbox form-control k-textbox' id='lstSon_" + count + "__Name' name='lstSon[" + count + "].Name' style='width: 100%' value=''>" +
                                    "<span class='field-validation-valid text-danger' data-valmsg-for='lstSon[" + count + "].Name' data-valmsg-replace='true'></span>" +
                                    "</td>" +
                                    "<td>&nbsp;&nbsp;<span style='color:red'>*</span>&nbsp;&nbsp;<input id='rdbMinor_or_Adult' class='k-radio k-radio' name='lstSon[" + count + "].Minor_or_Adult' onchange='MyEvent(this,event,\"tblDetailsOfSon\")' type='radio' value='True'><label class='k-radio-label' for='rdbMinor_or_Adult_True'>Yes</label>&nbsp;&nbsp;&nbsp;<input id='rdbMinor_or_Adult' class='k-radio k-radio' name='lstSon[" + count + "].Minor_or_Adult' onchange='MyEvent(this,event,\"tblDetailsOfSon\")' type='radio' value='true'><label class='k-radio-label' for='rdbMinor_or_Adult_False'>No</label>" +
                                    "</td>" +
                                    "<td><span id='spMaritalStatus' style='color:red' hidden='true'>*</span></td>" +
                                    "<td>" +
                                    "<input id='rdbMaritalStatus' class='k-radio k-radio' name='lstSon[" + count + "].MaritalStatus' onchange='MyEvent_MaritalStatus(this,event,\"tblDetailsOfSon\")' type='radio' value='False'><label class='k-radio-label' for='rdbMaritalStatus_False'>Unmarried</label>" +
                                    "&nbsp; &nbsp;&nbsp;&nbsp;" +
                                    "<input id='rdbMaritalStatus' class='k-radio k-radio' name='lstSon[" + count + "].MaritalStatus' onchange='MyEvent_MaritalStatus(this,event,\"tblDetailsOfSon\")' type='radio' value='True'><label class='k-radio-label' for='rdbMaritalStatus_True'>Married</label>" +
                                    "</td>" +
                                    "<td><span id='spSpouse' style='color:red' hidden='true'>*</span></td>" +
                                    "<td>" +
                                    "<input class='k-textbox form-control k-textbox' id='lstSon_" + count + "__Spouse' name='lstSon[" + count + "].Spouse' style='width: 100%' value=''>" +
                                    "<span class='field-validation-valid text-danger' data-valmsg-for='lstSon[" + count + "].Spouse' data-valmsg-replace='true'></span>" +
                                    "</td>" +
                                    "</tr>";

                    var newRow = tableRef.insertRow(tableRef.rows.length);

                    newRow.innerHTML = htmlContent;
                }
            }
            else
            {
                count = tableRef.rows.length;

                htmlContent = "<tr>" +
                                    "<td  class='text-center'>" + (count + 1) + "</td>" +
                                    "<td><span style='color:red'>*</span></td>" +
                                    "<td>" +
                                    "<input class='k-textbox form-control k-textbox' id='lstSon_" + count + "__Name' name='lstSon[" + count + "].Name' style='width: 100%' value=''>" +
                                    "<span class='field-validation-valid text-danger' data-valmsg-for='lstSon[" + count + "].Name' data-valmsg-replace='true'></span>" +
                                    "</td>" +
                                    "<td>" +
                                    "&nbsp;&nbsp;&nbsp;" +
                                    "<span style='color:red'>*</span>&nbsp;" +
                                    "<input id='rdbMinor_or_Adult' class='k-radio k-radio' name='lstSon[" + count + "].Minor_or_Adult' onchange='MyEvent(this,event)' type='radio' value='True'><label class='k-radio-label' for='rdbMinor_or_Adult_True'>Yes</label>" +
                                    "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" +
                                    "<input id='rdbMinor_or_Adult' class='k-radio k-radio' name='lstSon[" + count + "].Minor_or_Adult' onchange='MyEvent(this,event)' type='radio' value='true'><label class='k-radio-label' for='rdbMinor_or_Adult_False'>No</label>" +
                                    "</td>" +
                                    "<td><span id='spMaritalStatus' style='color:red' hidden='true'>*</span></td>" +
                                    "<td>" +
                                    "<input id='rdbMaritalStatus' class='k-radio k-radio' name='lstSon[" + count + "].MaritalStatus' onchange='MyEvent_MaritalStatus(this,event)' type='radio' value='False'><label class='k-radio-label' for='rdbMaritalStatus_False'>Unmarried</label>" +
                                    "&nbsp; &nbsp;&nbsp;&nbsp;" +
                                    "<input id='rdbMaritalStatus' class='k-radio k-radio' name='lstSon[" + count + "].MaritalStatus' onchange='MyEvent_MaritalStatus(this,event)' type='radio' value='True'><label class='k-radio-label' for='rdbMaritalStatus_True'>Married</label>" +
                                    "</td>" +
                                    "<td><span id='spSpouse' style='color:red' hidden='true'>*</span></td>" +
                                    "<td>" +
                                    "<input class='k-textbox form-control k-textbox' id='lstSon_" + count + "__Spouse' name='lstSon[" + count + "].Spouse' style='width: 100%' value=''>" +
                                    "<span class='field-validation-valid text-danger' data-valmsg-for='lstSon[" + count + "].Spouse' data-valmsg-replace='true'></span>" +
                                    "</td>" +
                                    "</tr>";

                var newRow = tableRef.insertRow(tableRef.rows.length);
                newRow.innerHTML = htmlContent;
            }
            
            if (tableRef.rows.length > 0) {
                $("#divtable").removeClass("hidden");
            } else {
                $("#divtable").addClass("hidden");
            }
        }

        function MyEvent(Obj, Evt,table) {
            
            var a = Obj;
            if (Evt.type == "change") {
                var aa = Obj.parentNode.parentNode.rowIndex - 1;

                var tableRef = document.getElementById(table).getElementsByTagName('tbody')[0];

                if (tableRef.rows[aa].cells[3].children.rdbMinor_or_Adult.checked == true){
                    tableRef.rows[aa].cells[4].children.spMaritalStatus.hidden = true;
                    tableRef.rows[aa].cells[5].children.rdbMaritalStatus.checked = true;
                    tableRef.rows[aa].cells[6].children.spSpouse.hidden = true;
                    
                }else {
                    tableRef.rows[aa].cells[4].children.spMaritalStatus.hidden = false;
                }
            }

        }

        function MyEvent_MaritalStatus(Obj, Evt, table) {
            
            var a = Obj;
            if (Evt.type == "change") {
                var aa = Obj.parentNode.parentNode.rowIndex - 1;

                var tableRef = document.getElementById(table).getElementsByTagName('tbody')[0];

                if (tableRef.rows[aa].cells[5].children.rdbMaritalStatus.checked == true) {
                    tableRef.rows[aa].cells[6].children.spSpouse.hidden = true;
                    $('#' + tableRef.rows[aa].cells[7].children[0].id).attr("data-val", "false");
                    $('#' + tableRef.rows[aa].cells[7].children[0].id).removeAttr("data-val-required");
                    //removeDataValidation(tableRef.rows[aa].cells[7].children[0]);
                    
                } else {
                    tableRef.rows[aa].cells[4].children.spMaritalStatus.hidden = false;
                    tableRef.rows[aa].cells[6].children.spSpouse.hidden = false;
                    tableRef.rows[aa].cells[3].children[3].value = true;
                    tableRef.rows[aa].cells[3].children[3].checked = true;
                    $('#' + tableRef.rows[aa].cells[7].children[0].id).attr("data-val", "true");
                    $('#' + tableRef.rows[aa].cells[7].children[0].id).attr("data-val-required", "Please Enter Spouse Name");
                    //dataValidation(tableRef.rows[aa].cells[7].children[0], 'Please enter spouse name');
                    
                }
            }
        }

        function txtNoOfDaughterChanged(n)
        {
            var tableRef = document.getElementById('tblDetailsOfDaughter').getElementsByTagName('tbody')[0];

            var count = parseInt($("#txtNoOfDaughter").val());

            if (n == '0') {
                count = 0;
                var tot = parseInt($("#txtNoOfDaughter").val());

                while (tableRef.rows.length > tot && tot > 0) {
                    tableRef.deleteRow(tableRef.rows.length - 1);
                }

                for (count = tableRef.rows.length; count < tot; count++) 
                {
                    var htmlContent = "<tr>" +
                                    "<td  class='text-center'>" + (count + 1) + "</td>" +
                                    "<td><span style='color:red'>*</span></td>" +
                                    "<td>" +
                                    "<input class='k-textbox form-control k-textbox' id='lstDaughter_" + count + "__Name' name='lstDaughter[" + count + "].Name' style='width: 100%' value=''>" +
                                    "<span class='field-validation-valid text-danger' data-valmsg-for='lstDaughter[" + count + "].Name' data-valmsg-replace='true'></span>" +
                                    "</td>" +
                                    "<td>&nbsp;&nbsp;<span style='color:red'>*</span>&nbsp;&nbsp;<input id='rdbMinor_or_Adult' class='k-radio k-radio' name='lstDaughter[" + count + "].Minor_or_Adult' onchange='MyEvent(this,event,\"tblDetailsOfDaughter\")' type='radio' value='True'><label class='k-radio-label' for='rdbMinor_or_Adult_True'>Yes</label>&nbsp;&nbsp;&nbsp;<input id='rdbMinor_or_Adult' class='k-radio k-radio' name='lstDaughter[" + count + "].Minor_or_Adult' onchange='MyEvent(this,event,\"tblDetailsOfDaughter\")' type='radio' value='true'><label class='k-radio-label' for='rdbMinor_or_Adult_False'>No</label>" +
                                    "</td>" +
                                    "<td><span id='spMaritalStatus' style='color:red' hidden='true'>*</span></td>" +
                                    "<td>" +
                                    "<input id='rdbMaritalStatus' class='k-radio k-radio' name='lstDaughter[" + count + "].MaritalStatus' onchange='MyEvent_MaritalStatus(this,event,\"tblDetailsOfDaughter\")' type='radio' value='False'><label class='k-radio-label' for='rdbMaritalStatus_False'>Unmarried</label>" +
                                    "&nbsp; &nbsp;&nbsp;&nbsp;" +
                                    "<input id='rdbMaritalStatus' class='k-radio k-radio' name='lstDaughter[" + count + "].MaritalStatus' onchange='MyEvent_MaritalStatus(this,event,\"tblDetailsOfDaughter\")' type='radio' value='True'><label class='k-radio-label' for='rdbMaritalStatus_True'>Married</label>" +
                                    "</td>" +
                                    "<td><span id='spSpouse' style='color:red' hidden='true'>*</span></td>" +
                                    "<td>" +
                                    "<input class='k-textbox form-control k-textbox' id='lstDaughter_" + count + "__Spouse' name='lstDaughter[" + count + "].Spouse' style='width: 100%' value=''>" +
                                    "<span class='field-validation-valid text-danger' data-valmsg-for='lstDaughter[" + count + "].Spouse' data-valmsg-replace='true'></span>" +
                                    "</td>" +
                                    "</tr>";

                    var newRow = tableRef.insertRow(tableRef.rows.length);

                    newRow.innerHTML = htmlContent;
                }
            }

            if (tableRef.rows.length > 0) {
                $("#divDaughterTable").removeClass("hidden");
            } else {
                $("#divDaughterTable").addClass("hidden");
            }
        }

        function txtNoOfBrotherChanged(n) {
            var tableRef = document.getElementById('tblDetailsOfBrother').getElementsByTagName('tbody')[0];

            var count = parseInt($("#txtNoOfBrother").val());

            if (n == '0') {
                count = 0;
                var tot = parseInt($("#txtNoOfBrother").val());

                while (tableRef.rows.length > tot && tot > 0) {
                    tableRef.deleteRow(tableRef.rows.length - 1);
                }

                for (count = tableRef.rows.length; count < tot; count++) {
                    var htmlContent = "<tr>" +
                                    "<td  class='text-center'>" + (count + 1) + "</td>" +
                                    "<td><span style='color:red'>*</span></td>" +
                                    "<td>" +
                                    "<input class='k-textbox form-control k-textbox' id='lstBrother_" + count + "__Name' name='lstBrother[" + count + "].Name' style='width: 100%' value=''>" +
                                    "<span class='field-validation-valid text-danger' data-valmsg-for='lstBrother[" + count + "].Name' data-valmsg-replace='true'></span>" +
                                    "</td>" +
                                    "<td>&nbsp;</td>"+
                                    "<td>&nbsp;&nbsp;<span style='color:red'>*</span>&nbsp;&nbsp;<input id='rdbMinor_or_Adult' class='k-radio k-radio' name='lstBrother[" + count + "].Minor_or_Adult' type='radio' value='True'><label class='k-radio-label' for='rdbMinor_or_Adult_True'>Yes</label>&nbsp;&nbsp;&nbsp;<input id='rdbMinor_or_Adult' class='k-radio k-radio' name='lstBrother[" + count + "].Minor_or_Adult' type='radio' value='true'><label class='k-radio-label' for='rdbMinor_or_Adult_False'>No</label>" +
                                    "</td>" +
                                    "</tr>";

                    var newRow = tableRef.insertRow(tableRef.rows.length);

                    newRow.innerHTML = htmlContent;
                }
            }

            if (tableRef.rows.length > 0) {
                $("#divBrotherTable").removeClass("hidden");
            } else {
                $("#divBrotherTable").addClass("hidden");
            }
        }
        
        function txtNoOfSisterChanged(n) {
            var tableRef = document.getElementById('tblDetailsOfSister').getElementsByTagName('tbody')[0];

            var count = parseInt($("#txtNoOfSister").val());

            if (n == '0') {
                count = 0;
                var tot = parseInt($("#txtNoOfSister").val());

                while (tableRef.rows.length > tot && tot > 0) {
                    tableRef.deleteRow(tableRef.rows.length - 1);
                }

                for (count = tableRef.rows.length; count < tot; count++) {
                    var htmlContent = "<tr>" +
                                    "<td  class='text-center'>" + (count + 1) + "</td>" +
                                    "<td><span style='color:red'>*</span></td>" +
                                    "<td>" +
                                    "<input class='k-textbox form-control k-textbox' id='lstSister_" + count + "__Name' name='lstSister[" + count + "].Name' style='width: 100%' value=''>" +
                                    "<span class='field-validation-valid text-danger' data-valmsg-for='lstSister[" + count + "].Name' data-valmsg-replace='true'></span>" +
                                    "</td>" +
                                    "<td>&nbsp;</td>" +
                                    "<td>&nbsp;&nbsp;<span style='color:red'>*</span>&nbsp;&nbsp;<input id='rdbMinor_or_Adult' class='k-radio k-radio' name='lstSister[" + count + "].Minor_or_Adult' type='radio' value='True'><label class='k-radio-label' for='rdbMinor_or_Adult_True'>Yes</label>&nbsp;&nbsp;&nbsp;<input id='rdbMinor_or_Adult' class='k-radio k-radio' name='lstSister[" + count + "].Minor_or_Adult' type='radio' value='true'><label class='k-radio-label' for='rdbMinor_or_Adult_False'>No</label>" +
                                    "</td>" +
                                    "</tr>";
                    var newRow = tableRef.insertRow(tableRef.rows.length);

                    newRow.innerHTML = htmlContent;
                }
            }

            if (tableRef.rows.length > 0) {
                $("#divSisterTable").removeClass("hidden");
            } else {
                $("#divSisterTable").addClass("hidden");
            }
        }

        function check_MaritalStatus(table) {
            var tableRef = document.getElementById(table).getElementsByTagName('tbody')[0];
            for (var i = 0; i < tableRef.rows.length; i++) {
                var aa = i;
                

                if (tableRef.rows[aa].cells[5].children.rdbMaritalStatus.checked == true) {
                    tableRef.rows[aa].cells[6].children.spSpouse.hidden = true;
                    //$('#' + tableRef.rows[aa].cells[7].children[0].id).attr("data-val", "false");
                    //$('#' + tableRef.rows[aa].cells[7].children[0].id).removeAttr("data-val-required");
                    removeDataValidation($('#' +tableRef.rows[aa].cells[7].children[0].id));

                } else {
                    tableRef.rows[aa].cells[4].children.spMaritalStatus.hidden = false;
                    tableRef.rows[aa].cells[6].children.spSpouse.hidden = false;
                    tableRef.rows[aa].cells[3].children[3].value = true;
                    tableRef.rows[aa].cells[3].children[3].checked = true;
                    //$('#' + tableRef.rows[aa].cells[7].children[0].id).attr("data-val", "true");
                    //$('#' + tableRef.rows[aa].cells[7].children[0].id).attr("data-val-required", "Please Enter Spouse Name");
                    dataValidation($('#' + tableRef.rows[aa].cells[7].children[0].id), 'Please enter spouse name');

                }
            }
        }
        $(document).ready(function () {
            check_MaritalStatus("tblDetailsOfSon");
            check_MaritalStatus("tblDetailsOfDaughter");
        });
    </script>

<style>

    #panelbar {
        max-width: 400px;
        margin: 0 auto;
    }

    .teamMate h2 {
        font-size: 1.4em;
        font-weight: normal;
        padding-top: 20px;
    }

    .teamMate p {
        margin: 0;
    }

    .teamMate img {
        display: inline-block;
        margin: 5px 15px 5px 5px;
        border: 1px solid #ccc;
        border-radius: 50%;
    }

    .details {
        display: inline-block;
        vertical-align: top;
    }

    .k-panelbar .k-state-focused.k-state-selected {
        background-color: #fff;
        color:black;
        box-shadow: none;
    }
    .k-state-selected
    {
        background-color: #fff;
        color:black;
        box-shadow: none;
    }

    .amp-ml{
        margin-left:20px;
        width:95%;
    }

    .amp-ml-md{
        margin-left:20px;
        width:90%;
    }
</style>

<script>
    $(document).ready(function () {

                    $("#pnlSon").kendoPanelBar({
                       // expandMode: "single"
                    });

                    $("#pnlDaughter").kendoPanelBar({
                        // expandMode: "single"
                    });
                    

                    $("#pnlBrother").kendoPanelBar({
                        // expandMode: "single"
                       
                    });

                    $("#pnlSister").kendoPanelBar({
                        // expandMode: "single"

                    });

                    
                    var validator = $("#divfrmUpdateRelatives").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
                   
                });
</script>
