﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.DetailsOfInterest

    @using (Ajax.BeginForm("EditDirectorsDetailsOfInterestNew", "Director_Master", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divDetailsOfInterest", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmUpdateDetailsofInterrest" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        
        @Html.HiddenFor(model => model.Director_ID)
        int counter = 0;
        <input type="hidden" name="Id" id="Id" value="@Model.Id"/>
        <div style="margin-left:0%; margin-right:0%; height:460px; overflow-x:scroll; overflow-y:auto;">
            <fieldset class="col">
                <legend style="margin-bottom: 10px;"><label style="font-size:17px">Details of Interest</label></legend>

                @if (Model.Response != null)
                {
                    <div class="row">
                        <div class="col-md-2 colpadding0">
                        </div>
                        <div class="col-md-8 colpadding0">
                            @Html.Partial("_Response", Model.Response)
                        </div>
                        <div class="col-md-2 colpadding0">
                        </div>
                    </div>
                }

                <div class="row form-group">
                    <div class="col-md-6 colpadding0">
                        <div class="col-md-4 colpadding0">
                            <span style="color:red">*</span><label class="control-label">Name of the Entity</label>

                            @(Html.Kendo().DropDownListFor(model => model.Entity_Id)
                                    .DataValueField("Id")
                                    .DataTextField("EntityName")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/DirectorMasterAPI/GetDropDownEntityForDetailsOfInterest?Director_Id="+Model.Director_ID).Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(true);
                                    })
                                    .Value(Model.Entity_Id.ToString())
                                    .OptionLabel("Select")
                                    .HtmlAttributes(new { @class = "amp-h25", style = "width: 100%;", onchange = "changeEntity_Id(this)" })
                            )

                        </div>


                        <div class="col-md-4 colpadding0">
                            <div class="col-md-1 colpadding0"></div>
                            <div class="col-md-11 colpadding0">
                                <label class="control-label">Name of the other Entity</label>
                                @(Html.Kendo().TextBoxFor(m => m.NameOfOther).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%" }))
                                @Html.ValidationMessageFor(model => model.NameOfOther, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4 colpadding0">
                            <div class="col-md-1 colpadding0"></div>
                            <div class="col-md-11 colpadding0">
                               <label class="control-label">Type of Entity</label>
                                @(Html.Kendo().DropDownListFor(model => model.TypeOfEntity)
                                    .DataValueField("Id")
                                    .DataTextField("EntityName")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/EntityMasterAPI/GetDropDownforEntityType").Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(true);
                                    })
                                    .Value(Model.TypeOfEntity.ToString())
                                    .HtmlAttributes(new { @class = "amp-h25", style = "width: 95%;" })
                                )
                            </div>
                        </div>

                        </div>
                    <div class="col-md-6 colpadding0">

                        <div class="col-md-3 colpadding0">
                            <div class="col-md-1 colpadding0"></div>
                            <div class="col-md-11 colpadding0">
                                <label class="control-label">CIN</label>
                                @(Html.Kendo().TextBoxFor(m => m.CIN).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%", @id = "txtCIN" }))
                                @Html.ValidationMessageFor(model => model.CIN, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="col-md-4 colpadding0">
                            <div class="col-md-1 colpadding0"></div>
                            <div class="col-md-11 colpadding0">
                                <label class="control-label">PAN.</label>
                                @(Html.Kendo().TextBoxFor(m => m.PAN).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%", @id="txtPAN" }))
                                @Html.ValidationMessageFor(model => model.PAN, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="col-md-5 colpadding0">
                            <div class="col-md-1 colpadding0"></div>
                            <div class="col-md-11 colpadding0">
                                <span style="color:red">*</span><label class="control-label">Nature of Interest or concerned</label>
                                @*@Html.Kendo().DropDownListFor(model => model.NatureOfInterest).BindTo(new SelectList(new List<object> {
                                    new {id="0",text="Select"},
                                    new {id="1",text="Member"},
                                    new {id="2",text="Director"},
                                    new {id="3",text="Partner"},
                                    new {id="4",text="Designated Partner"},
                                    new {id="5",text="Trustee"},
                                    new {id="6",text="Proprietor"},
                                    new {id="7",text="Intersted through Relative(s)"},
                                }, "id", "text")).HtmlAttributes(new { @class = "amp-h25", style = "width: 95%;", onchange = "changeNatureOfInterest(this)" })*@

                                @(Html.Kendo().DropDownListFor(m => m.NatureOfInterest)
                                      .OptionLabel("Select")
                                      .DataTextField("Name")
                                      .DataValueField("Id")
                                      .DataSource(dataSource =>
                                      {
                                          dataSource.Read(read =>
                                          {
                                              read.Url("/api/DirectorMasterAPI/GetNatureOfInterestByEntityType").Data("filterNatureOfInterest").Type(HttpVerbs.Get);
                                          })
                                          .ServerFiltering(true);
                                      })
                                      .HtmlAttributes(new { style = "width: 95%;", onchange = "changeNatureOfInterest(this)" })
                                      .CascadeFrom("TypeOfEntity"))

                                @Html.ValidationMessageFor(model => model.NatureOfInterest, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-12 colpadding0">

                        <div class="col-md-2 colpadding0">
                            <span style="color:red" id="sp_IfDirector1">*</span><label class="control-label">If Director</label>
                            @Html.Kendo().DropDownListFor(model => model.IfDirector).BindTo(new SelectList(new List<object> {
                                    new {id="0",text="Select"},
                                    new {id="1",text="Executive Chairman"},
                                    new {id="2",text="MD/CEO"},
                                    new {id="3",text="KMP"},
                                    new {id="4",text="Non-Executive Chairman"},
                                    new {id="5",text="Executive"},
                                    new {id="6",text="Non-Executive"},
                                    new {id="7",text="Non-Executive Independent"},
                                    new {id="8", text="Designated Partner"}}, "id", "text")).HtmlAttributes(new { @class = "amp-h25", style = "width: 100%;" })
                            @Html.ValidationMessageFor(model => model.IfDirector, "", new { @class = "text-danger" })
                        </div>
                        
                        <div class="col-md-2 colpadding0">
                            <div class="col-md-1 colpadding0"></div>
                            <div class="col-md-11 colpadding0">
                                <span style="color:red" id="sp_IfInterestThroughRelatives1">*</span><label class="control-label">If Interest through Relatives</label>
                                @Html.Kendo().DropDownListFor(model => model.IfInterestThroughRelatives).DataValueField("Id").DataTextField("Name").DataSource(source => { source.Read(read => { read.Url("/api/DirectorMasterAPI/GetRelativesList?Director_Id=" + @Model.Director_ID + "").Type(HttpVerbs.Get); }).ServerFiltering(false); }).HtmlAttributes(new { @class = "amp-h25", style = "width: 100%;" })
                                @Html.ValidationMessageFor(model => model.IfInterestThroughRelatives, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="col-md-2 colpadding0">
                            <div class="col-md-1 colpadding0"></div>
                            <div class="col-md-11 colpadding0">
                                <label class="control-label">% of shareholding</label>
                                @(Html.Kendo().TextBoxFor(m => m.PercentagesOfShareHolding).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%" }))
                                @Html.ValidationMessageFor(model => model.PercentagesOfShareHolding, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="col-md-3 colpadding0">
                            <div class="col-md-1 colpadding0"></div>
                            <div class="col-md-11 colpadding0">
                                <span style="color:red">*</span><label class="control-label">Date when the interest arosed or changed</label>
                                @(Html.Kendo().DatePickerFor(m => m.ArosedOrChangedDate)
                                    .Min(DateTime.Today)
                                    .Format("dd/MM/yyyy")
                                    .ParseFormats(new List<string>() { "dd/MM/yyyy" })
                                    .HtmlAttributes(new { style = "width: 50%", @Id = "ArosedOrChangedDate", onchange="checkDate(this);" })
                                )
                                @Html.ValidationMessageFor(model => model.ArosedOrChangedDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-3 colpadding0" style="top:16px;">
                            <div class="col-md-1 colpadding0"></div>
                            <div class="col-md-11 colpadding0">
                                @if (Model.Id > 0)
                                {
                                    <button type="submit" value="update" class="k-primary k-button k-grid-update k-button-icontext">Update</button>
                                }
                                else
                                {
                                    <button type="submit" value="Save" class="k-primary k-button k-grid-update k-button-icontext">Add</button>
                                }
                            </div>
                        </div>


                            </div>
                        </div>

                <div class="row">
                            <div class="col-md-12 colpadding0">
                                @if (ViewBag.DetailsOfInterest_Grid != null)
                                {
                                    
                                    <table id="tblDetailsOfInterestNew">
                                        <colgroup>
                                            <col style="width:55px" />
                                            <col style="width:350px" />
                                            <col style="width:120px" />
                                            <col />
                                            <col />
                                            <col />
                                            <col />
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th data-field="SrNo">SrNo</th>
                                                <th data-field="NameOfEntity">Name of Entity</th>
                                                <th data-field="TypeOfEntity">Type of Entity</th>
                                                <th data-field="CIN">CIN</th>
                                                <th data-field="PAN">PAN</th>
                                                <th data-field="NatureOfInterest">Nature of Interest</th>
                                                <th data-field="Action">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in ViewBag.DetailsOfInterest_Grid)
                                            {
                                                counter++;
                                                <tr>
                                                    <td>@counter </td>
                                                    <td>@item.Entity_Name</td>
                                                    <td>@item.Entity_Type</td>
                                                    <td>@item.CIN</td>
                                                    <td>@item.PAN</td>
                                                    <td>@item.NatureOfinterest</td>
                                                    <td>
                                                            <button type="button" onclick ="Edit(@item.Id)" class="k-button k-button-icontext k-grid-edit"  style="min-width:25px;"><span class="k-icon k-edit"></span></button>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                }
                            </div>
                        </div>

            </fieldset>
         </div>

            <script type="text/x-kendo-template" id="template">
                
                <div class="toolbar pull-right">
                    <button type="button" id="btnNew" class="k-button k-grid-add"><span class="k-icon k-add"></span>New</button>
                </div>
            </script>
            <script>

                $(document).ready(function () {

                    changeEntity_Id_OnReady();

                    $("#tblDetailsOfInterestNew").kendoGrid({
                       // toolbar: kendo.template($("#template").html()),
                        sortable: false,
                        scrollable: false
                    });


                    @*var ddlEntity_Id_Committee = $("#Entity_Id_Committee");

                    if (Entity_Id_Committee != "undefinded") {
                        //$('#Entity_Id_Committee').data('kendoDropDownList').dataSource.read();
                        $("#Entity_Id_Committee").kendoDropDownList({
                            dataSource: {
                                transport: {
                                    read: {
                                        url: "/api/EntityMasterAPI/GetDropDownEntityForCommittee?Director_Id=" +@Model.Director_ID +""
                                    }
                                },
                                serverFiltering: false
                            },
                            dataTextField: "EntityName",
                            dataValueField: "Id",
                            value :0,
                            //optionLabel: "Select Relative",
                            index: 0
                        });

                    }*@

                });

                function Edit(v) {
                    
                    var d = "EditDetailsOfInterestNew?DetailsOfInterest_Id=" + v;
                    $("#frmUpdateDetailsofInterrest").attr(
                            "action",
                            "@Url.Action("EditDetailsOfInterestNew", "Director_Master")"+"?DetailsOfInterest_Id=" + v
                        ).submit();

                }

                function changeNatureOfInterest(obj) {
                    

                    var ddlNatureOfInterest = $("#" + obj.id).data("kendoDropDownList");
                    var val = ddlNatureOfInterest.value();

                    var ddlIfDirector = $("#IfDirector").data("kendoDropDownList");
                    var ddlIfRelative = $("#IfInterestThroughRelatives").data("kendoDropDownList");

                    ddlIfDirector.select(0);
                    ddlIfRelative.select(0);
                    removeDataValidationDropDown($("#IfDirector"));
                    removeDataValidationDropDown($("#IfInterestThroughRelatives"));

                    $("#sp_IfDirector1").addClass("hidden");
                    $("#sp_IfInterestThroughRelatives1").addClass("hidden");
                    if (val == "2" || val == "9" || val == "10") {
                        ddlIfDirector.readonly(false);
                        ddlIfRelative.readonly();
                        dataValidationDropDown($("#IfDirector"), "Please select If Director", "1");
                        $("#sp_IfDirector1").removeClass("hidden");
                        
                    }
                    else if (val == "7") {
                        ddlIfDirector.readonly();
                        ddlIfRelative.readonly(false);
                        dataValidationDropDown($("#IfInterestThroughRelatives"), "Please select relative", 1);
                        $("#IfInterestThroughRelatives").kendoDropDownList({
                            dataSource: {
                                transport: {
                                    read: {
                                        url: "/api/DirectorMasterAPI/GetRelativesList?Director_Id=" +@Model.Director_ID +""
                                    }
                                },
                                serverFiltering: false
                            },
                            dataTextField: "Name",
                            dataValueField: "Id",
                            value :0,
                            //optionLabel: "Select Relative",
                            index: 0
                        });

                        $("#sp_IfInterestThroughRelatives1").removeClass("hidden");
                    }
                    else {
                        ddlIfDirector.readonly();
                        ddlIfRelative.readonly();
                    }
                }

                function changeEntity_Id() {
                    
                    var ddlEntityType = $("#Entity_Id").data("kendoDropDownList");

                    var index = ddlEntityType.selectedIndex;

                    var Item = ddlEntityType.dataItem(index);
                    var TypeOfEntityDropDown = $("#TypeOfEntity").data("kendoDropDownList");


                    var _txtNameOfOther = $("#NameOfOther");
                    var _txtCIN = $("#txtCIN");
                    var _txtPAN = $("#txtPAN");

                    if (ddlEntityType.value() > 0) {
                        TypeOfEntityDropDown.readonly();
                        TypeOfEntityDropDown.value(ddlEntityType.dataItem(index).Entity_Type);
                        //TypeOfEntityDropDown.value(ddlEntityType.dataItem(index).Entity_Type);
                        //tableRef.rows[aa].cells[2].children.spMandatory.hidden = true;
                        //tableRef.rows[aa].cells[2].children._txtNameOfOther.value = "";
                        //tableRef.rows[aa].cells[2].children._txtNameOfOther.disabled = true;
                        //tableRef.rows[aa].cells[4].children._txtCIN.value = ddlEntityType.dataItem(index).CIN;
                        //tableRef.rows[aa].cells[4].children._txtCIN.disabled = true;
                        //tableRef.rows[aa].cells[5].children._txtPAN.value = ddlEntityType.dataItem(index).PAN;
                        //tableRef.rows[aa].cells[5].children._txtPAN.disabled = true;
                        _txtNameOfOther.val('');
                        _txtCIN.val(ddlEntityType.dataItem(index).CIN);
                        _txtPAN.val(ddlEntityType.dataItem(index).PAN);

                        _txtNameOfOther.attr('readonly', true);
                        _txtCIN.attr('readonly', true);
                        _txtPAN.attr('readonly', true);

                        removeDataValidation(_txtNameOfOther);
                        removeDataValidationDropDown($("#TypeOfEntity"));
                        removeDataValidation(_txtCIN);
                        removeDataValidation(_txtPAN);

                    }
                    else {
                        TypeOfEntityDropDown.select(0);

                        TypeOfEntityDropDown.readonly(false);
                        //tableRef.rows[aa].cells[2].children.spMandatory.hidden = false;
                        //tableRef.rows[aa].cells[2].children._txtNameOfOther.value = "";
                        //tableRef.rows[aa].cells[2].children._txtNameOfOther.disabled = false;
                        //tableRef.rows[aa].cells[4].children._txtCIN.value = "";
                        //tableRef.rows[aa].cells[4].children._txtCIN.disabled = false;
                        //tableRef.rows[aa].cells[5].children._txtPAN.value = "";
                        //tableRef.rows[aa].cells[5].children._txtPAN.disabled = false;

                        _txtNameOfOther.val('');
                        _txtCIN.val('');
                        _txtPAN.val('');

                        _txtNameOfOther.attr('readonly', false);
                        _txtCIN.attr('readonly', false);
                        _txtPAN.attr('readonly', false);

                        dataValidation(_txtNameOfOther, 'Please enter name of other entity');
                        dataValidationDropDown($("#TypeOfEntity"), "Please select type of entity", 1)
                        dataValidation(_txtCIN, 'Please enter CIN number');
                        dataValidation(_txtPAN, 'Please enter PAN');

                    }
                }

                function changeEntity_Id_OnReady() {
                    
                    var ddlEntityType = $("#Entity_Id").data("kendoDropDownList");

                    var index = ddlEntityType.selectedIndex;

                    var Item = ddlEntityType.dataItem(index);
                    var TypeOfEntityDropDown = $("#TypeOfEntity").data("kendoDropDownList");


                    var _txtNameOfOther = $("#NameOfOther");
                    var _txtCIN = $("#txtCIN");
                    var _txtPAN = $("#txtPAN");

                    if (ddlEntityType.value() > 0) {
                        TypeOfEntityDropDown.readonly();
                        TypeOfEntityDropDown.value(ddlEntityType.dataItem(index).Entity_Type);
                        _txtNameOfOther.val('');
                        //_txtCIN.val(ddlEntityType.dataItem(index).CIN);
                        //_txtPAN.val(ddlEntityType.dataItem(index).PAN);

                        _txtNameOfOther.attr('readonly', true);
                        _txtCIN.attr('readonly', true);
                        _txtPAN.attr('readonly', true);

                        removeDataValidation(_txtNameOfOther);
                        removeDataValidationDropDown($("#TypeOfEntity"));
                        removeDataValidation(_txtCIN);
                        removeDataValidation(_txtPAN);

                    }
                    else {
                        //TypeOfEntityDropDown.select(0);

                        TypeOfEntityDropDown.readonly(false);

                        _txtNameOfOther.attr('readonly', false);
                        _txtCIN.attr('readonly', false);
                        _txtPAN.attr('readonly', false);

                        dataValidation(_txtNameOfOther, 'Please enter name of other entity');
                        dataValidationDropDown($("#TypeOfEntity"), "Please select type of entity", 1)
                        dataValidation(_txtCIN, 'Please enter CIN number');
                        dataValidation(_txtPAN, 'Please enter PAN');

                    }
                }
            </script>

<script>
$(document).ready(function () {
var validator = $("#divDetailsOfInterest").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
});
</script>
                                        }
<script>
    $(document).ready(function () {
        $("#ArosedOrChangedDate").removeAttr("data-val-date");

        if ($("#ArosedOrChangedDate").val() == "01/01/0001") {
            $("#ArosedOrChangedDate").val('');
        }
    });

    function checkDate(e)
    {
        
        if(moment(e.value, "DD/MM/YYYY").isValid() ==false)
        {
            e.value = '';
        }
    }
</script>