﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Director_MasterVM
<div id="divDetails">

    @if (Model.IsDetailsOfIntrest == true)
    {
        <div class="row colpadding0 mt30">
            <div class="row col-md-12">

                <div class="col-md-11 colpadding0"></div><div class="col-md-1 colpadding0">
                    <button type="button" class="btn btn-primary add-button1" onclick="OpendirectirEditon(@Model.ID)" title="Add New"><i class="glyphicon glyphicon-pencil pencilicon"></i>Edit Profile</button>
                </div>
            </div>
        </div>
        using (Ajax.BeginForm("UpdatetypeofchangesDirectorDetails", "Director_Master", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divDetails" }, new { id = "frmUpdateDetails", enctype = "multipart/form-data" }))
        {
            @Html.Partial("_DirectorProfileforEdit", Model)
        }
    }
    else if (Model.IsDetailsOfIntrest == false || Model.IsActive == null)
    {
        using (Ajax.BeginForm("UPDATEDirectorDetails", "Director_Master", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divDetails", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmUpdateDetails", enctype = "multipart/form-data" }))
        {
            @Html.Partial("_DirectorMaster", Model)
        }
    }

    <script>

        $("#btnclose2").click(function (e) {
            $("#wndAddDirector").data("kendoWindow").close();
        });
        var validator1 = $("#frmUpdateDetails").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");


        function dropdownlist_dataBound() {
            // Handle the event
            var ddlPermenant_CityId = $("#ddlPermenant_CityId").data("kendoDropDownList");
            var ddlPresent_CityId = $("#ddlPresent_CityId").data("kendoDropDownList");
            var cityId = ddlPermenant_CityId.value();
            ddlPresent_CityId.value(cityId);
        }

        function dropdownlist_dataBound_New() {

            var rbTypeValue = $("input[name='IsSameAddress']:checked").val();
            var ddlPresent_CityId = $("#ddlPresent_CityId").data("kendoDropDownList");
            if (rbTypeValue == "True") {

                var ddlPermenant_CityId = $("#ddlPermenant_CityId").data("kendoDropDownList");

                var cityId = ddlPermenant_CityId.value();
                ddlPresent_CityId.value(cityId);
                console.log('P : ' + cityId);
                console.log('C : ' + ddlPresent_CityId.value());
            }

            ddlPresent_CityId.unbind("dataBound", dropdownlist_dataBound);
        }

        function dropdownlist_dataBound1() {
            var ddlPresent_CityId = $("#ddlPresent_CityId").data("kendoDropDownList");
            ddlPresent_CityId.unbind("dataBound", dropdownlist_dataBound1);
        }

        $(document).on("change", "input[name='IsSameAddress111']", function () {
            if (this.value == "True") {
                $('#Present_Address_Line1').val($('#Permenant_Address_Line1').val());
                $('#Present_Address_Line2').val($('#Permenant_Address_Line2').val());
                $('#Present_PINCode').val($('#Permenant_PINCode').val());

                var ddlPermenant_StateId = $("#ddlPermenant_StateId").data("kendoDropDownList");
                var ddlPresent_StateId = $("#ddlPresent_StateId").data("kendoDropDownList");
                var Permenant_StateId = ddlPermenant_StateId.value();
                var Present_StateId = ddlPresent_StateId.value();
                ddlPresent_StateId.value(Permenant_StateId);

                var ddlPresent_CityId = $("#ddlPresent_CityId").data("kendoDropDownList");
                //ddlPresent_CityId.enable(false);

                if (Permenant_StateId == Present_StateId) {
                    var ddlPermenant_CityId = $("#ddlPermenant_CityId").data("kendoDropDownList");
                    var cityId = ddlPermenant_CityId.value();
                    ddlPresent_CityId.value(cityId);
                }
                else {

                    ddlPresent_CityId.bind("dataBound", dropdownlist_dataBound);
                }


            }
            else {
                var ddlPermenant_CityId = $("#ddlPermenant_CityId").data("kendoDropDownList");
                //ddlPermenant_CityId.enable(true);
            }
        })

        $(document).on("change", "input[name='IsSameAddress']", function () {
            if (this.value == "True") {
                $('#Present_Address_Line1').val($('#Permenant_Address_Line1').val());
                $('#Present_Address_Line2').val($('#Permenant_Address_Line2').val());
                $('#Present_PINCode').val($('#Permenant_PINCode').val());

                var ddlPermenant_StateId = $("#ddlPermenant_StateId").data("kendoDropDownList");
                var ddlPresent_StateId = $("#ddlPresent_StateId").data("kendoDropDownList");
                var Permenant_StateId = ddlPermenant_StateId.value();
                var Present_StateId = ddlPresent_StateId.value();
                ddlPresent_StateId.value(Permenant_StateId);

                var ddlPresent_CityId = $("#ddlPresent_CityId").data("kendoDropDownList");
                var ddlPermenant_CityId = $("#ddlPermenant_CityId").data("kendoDropDownList");
                var cityId = ddlPermenant_CityId.value();
                ddlPresent_CityId.value(cityId);


                $("#ddlPresent_CityId").kendoDropDownList({
                    dataTextField: "Name",
                    dataValueField: "Reg_cityId",
                    dataSource: ddlPermenant_CityId.dataSource.data(),
                    value: cityId,
                    filter: "contains"
                });
            }
        })

        $(document).ready(function () {
            onEducationalQualification();
            onOccupationChange();
            onAreaOfOccupation();
            onResidentInIndia();
        });

    </script>
</div>
