﻿@using Kendo.Mvc.UI
@model BM_ManegmentServices.VM.OnEditingDirector

<style>
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 14px;
        width: 14px;
        background-color: white;
        border: solid 2px #1976d2;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #fff;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 4px;
        top: 0px;
        width: 6px;
        height: 13px;
        border: solid #1976d2;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        /*cursor: pointer;*/
        font-size: 18px;
        -webkit-user-select: none;
        -moz-user-select: elements;
        -ms-user-select: text;
        user-select: text;
    }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    .k-window-title {
        color: dimgrey;
    }
</style>

<script>
    function OnRefresh() {
        $('#wndonEditable').data("kendoWindow").close();
        ontypechange(@Model.DirectorID)
    }
    //function SavechangeonTypeChange() {
    //    $("#frmDirectorTypeofChanges").submit();
    //}

    function setcheckboxvalue(obj) {
        
        if ($('#' + obj.id).prop("checked") == true) {
            $('#' + obj.id).val('false');
        }
        else {
            $('#' + obj.id).val('true');
        }
    }
</script>

<div class="container  colpadding0">
    <div class="row colpadding0">
        <div class="col-md-12  colpadding0">
            <div id="divDirectorDetailsofChanges">
                @using (Ajax.BeginForm("DirectorTypeChanges", "Director_Master", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divDirectorDetailsofChanges" }, new { id = "frmDirectorTypeofChanges" }))
                {
                    <div class="row">
                        @if (Model.Success)
                        {
                            <div class="col-md-12">

                                <div class="alert alert-success alert-dismissible">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    @if (!(string.IsNullOrEmpty(@Model.Message)))
                                    {
                                        <lable>@Model.Message</lable>
                                    }
                                </div>
                            </div>
                        }
                    </div>

                    <div class="row">
                        @if (Model.Error)
                        {
                            <div class="col-md-12">
                                <div class="alert alert-danger alert-dismissible">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    @if (!(string.IsNullOrEmpty(@Model.Message)))
                                    {
                                        <lable>@Model.Message</lable>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    @Html.HiddenFor(m => m.DirectorID)
                    <div class="row colpadding0">
                        <div class="col-md-12 colpadding0">


                            <table>
                                <tr>
                                    <td>

                                        <label class='container'>
                                            Name of director/ designated partners @Html.CheckBoxFor(x => x.Name, new { @checked = Model.Name, id = "chkFirstname" }) <span class='checkmark'></span>
                                        </label>
                                    </td>
                                    <td>
                                        <label class='container'>
                                            Father's Name

                                            @Html.CheckBoxFor(x => x.FatherName, new { @checked = Model.FatherName, id = "chkMiddlename" })
                                            <span class='checkmark'></span>
                                        </label>
                                    </td>
                                    <td>
                                        <label class='container'>
                                            Nationality

                                            @Html.CheckBoxFor(x => x.Nationality, new { @checked = Model.Nationality, id = "chkLastname" })
                                            <span class='checkmark'></span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class='container'>
                                            Date of Birth

                                            @Html.CheckBoxFor(x => x.DateofBirth, new { @checked = Model.DateofBirth })
                                            <span class='checkmark'></span>
                                        </label>
                                    </td>
                                    <td>
                                        <label class='container'>
                                            Gender
                                            @Html.CheckBoxFor(x => x.Gender, new { @checked = Model.Gender })
                                            <span class='checkmark'></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class='container'>
                                            Income-tax PAN
                                            @Html.CheckBoxFor(x => x.PAN, new { @checked = Model.PAN })

                                            <span class='checkmark'></span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class='container'>
                                            Passport Number

                                            @Html.CheckBoxFor(x => x.PassportNumber, new { @checked = Model.PassportNumber })

                                            <span class='checkmark'></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class='container'>
                                            Email Id
                                            @Html.CheckBoxFor(x => x.EmailId, new { @checked = Model.EmailId })

                                            <span class='checkmark'></span>
                                        </label>
                                    </td>
                                    <td>
                                        <label class='container'>
                                            Mobile
                                            @Html.CheckBoxFor(x => x.MobileNumber, new { @checked = Model.MobileNumber })

                                            <span class='checkmark'></span>
                                        </label>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label class='container'>
                                            Permanent residential address

                                            @Html.CheckBoxFor(x => x.PermanentAddress, new { @checked = Model.PermanentAddress })


                                            <span class='checkmark'></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class='container'>
                                            Present residential address

                                            @Html.CheckBoxFor(x => x.PresentAddress, new { @checked = Model.PresentAddress })

                                            <span class='checkmark'></span>
                                        </label>
                                    </td>
                                    <td>
                                        <label class='container'>
                                            Photograph of Director

                                            @Html.CheckBoxFor(x => x.Photograph, new { @checked = Model.Photograph })

                                            <span class='checkmark'></span>
                                        </label>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label class='container'>
                                            Residential Status

                                            @Html.CheckBoxFor(x => x.ResidentialStatus, new { @checked = Model.ResidentialStatus })

                                            <span class='checkmark'></span>
                                        </label>
                                    </td>
                                    <td>

                                        <label class='container'>
                                            Aadhaar Number

                                            @Html.CheckBoxFor(x => x.Aadhaar, new { @checked = Model.Aadhaar })

                                            <span class='checkmark'></span>
                                        </label>
                                    </td>
                                </tr>

                            </table>

                            <div class="row colpadding0 mt30">
                                <div class="col-md-12 colpadding0" style="text-align:center">
                                    <button type="submit" class="btn btn-primary button1" onclick="SavechangeonTypeChange()">Save</button>
                                    <button type="button" class="btn btn-primary button1" onclick="closeEditButton()">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
