﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Director_ResignationVM
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;

<div id="divSaveResignationOfDirector">

    <script>
        $(document).ready(function () {
            $("#dateResignation").removeAttr("data-val-date");
            if ($("#dateResignation").val() == "01/01/0001") {
                $("#dateResignation").val('');
            }

            $("#dateCESSATION").removeAttr("data-val-date");
            if ($("#dateCESSATION").val() == "01/01/0001") {
                $("#dateCESSATION").val('');
            }
        });

        function checkDate(e) {
            if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
                e.value = '';
            }
        }

        $(document).ready(function () {
            $("#viewDoc").kendoTooltip({ content: "View" });
        });
        $(document).ready(function () {
            $("#DownloadDoc").kendoTooltip({ content: "Download" });
        });

    function getDataForUserDropdown() {
        var customerID='@AuthenticationHelper.CustomerID';
        return { customerId : customerID }
    }
    </script>

    @using (Ajax.BeginForm("SaveResignationOfDirector", "Director_Master", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divSaveResignationOfDirector", InsertionMode = InsertionMode.Replace }, new { id = "frmUpdateofDirectorResignation", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(m => m.DirectorID)
        @Html.HiddenFor(m => m.Entity_TypeForResignation)
        @Html.HiddenFor(m => m.IntrestedId)
        @Html.HiddenFor(m => m.IsResigned)

        if (Model.Success)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.Message)))
                        {
                            <lable>@Model.Message</lable>
                        }
                    </div>
                </div>
            </div>
        }
        else if (Model.Error)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.Message)))
                        {
                            <lable>@Model.Message</lable>
                        }
                    </div>
                </div>
            </div>
        }

        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <label for="DirectorName" class="control-label">Name of the director</label>
                @(Html.Kendo().TextBoxFor(m => m.DirectorName).HtmlAttributes(new { style = "width: 98%", @readonly = "readonly" }))
            </div>
        </div>

        <div class="row colpadding0">
            <div class="col-md-9 colpadding0">
                <div class="col-md-6 colpadding0">
                    <label for="DateOfResignationSubmit" class="control-label">Date of submission</label><span style="color:red">*</span>
                    @(Html.Kendo().DatePickerFor(m => m.DateOfResignationSubmit).Max(DateTime.Today).Enable(true).ParseFormats(new[] { "dd/MM/yyyy" }).Culture("en-GB").Format("dd/MM/yyyy").HtmlAttributes(new { style = "width: 98%", placeholder = "DD/MM/YYYY", autocomplete = "off", onchange = "checkDate(this);" }))
                    @Html.ValidationMessageFor(model => model.DateOfResignationSubmit, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4">
                    @if (Model.Entity_TypeForResignation == 10)
                    {
                        <label class="control-label">Time</label><span id="spMeetingTime" style="color:red">*</span>
                        @(Html.Kendo().TimePicker().Name("ResignedTime").Format("hh:mm tt").Min("9:00 AM").Max("8:30 AM").HtmlAttributes(new { style = "width: 98%", @Id = "ResignedTime", autocomplete = "off" }))
                    }
                </div>
            </div>
        </div>


        <div class="row colpadding0">
            <div class="col-md-9 colpadding0">
                <div class="col-md-6 colpadding0">
                    <label for="dpRegignation_Date" class="control-label">Date of resignation</label><span style="color:red">*</span>
                    @(Html.Kendo().DatePickerFor(m => m.DateOfResignation).Enable(true).ParseFormats(new[] { "dd/MM/yyyy" }).Culture("en-GB").Format("dd/MM/yyyy").HtmlAttributes(new { style = "width: 98%", @Id = "DateOfResignation", placeholder = "DD/MM/YYYY", autocomplete = "off", onchange = "checkDate(this);" }))
                    @Html.ValidationMessageFor(model => model.DateOfResignation, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        <div class="row mt30 hidden">
            <div class="col-md-12 colpadding0">
                <label for="ReasonOfResignation" class="control-label">Reason</label><span style="color:red"></span>
                @Html.TextAreaFor(m => m.ReasonOfResignation, new { @class = "k-textbox", style = "width: 100%;", @spellcheck = "true" })
                @Html.ValidationMessageFor(model => model.ReasonOfResignation, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="row mt30">
            <div class="col-md-12 colpadding0">

                <div class="col-md-10 colpadding0">
                    <div class="col-md-10 colpadding0">
                        <label class="control-label">Upload Resignation</label><span style="color:red">*</span>
                        @Html.TextBoxFor(m => m.Resignation_Doc, new { type = "file", style = "width:100%" })
                        @Html.HiddenFor(m => m.Resignation_DocName)
                    </div>

                    <div class="col-md-2 colpadding0" style="top:16px;">
                        @if (Model.FileDataId > 0)
                        {
                            <a href='@Url.Action("DownloadFile", "FileData",new { id = Model.FileDataId} )' target="_blank">
                                <img src='@Url.Content("~/Images/icon-download.png")' />
                            </a>
                        }
                    </div>
                </div>

            </div>
        </div>

        if (Model.IsResigned == true)
        {
        <div class="text-center mt30">
            <button type="button" id="btnCancelDirectorResignation" onclick="revertResignation('@Model.IntrestedId')" class="btn btn-primary">Cancel</button>
            <button type="button" id="btncloseDirectorResignation" onclick="closeResignationWindow()" class="btn btn-primary">Close</button>
        </div>
        }
        else
        {
            if (Model.Entity_TypeForResignation == 10)
            {
                <div class="row colpadding0">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-6 colpadding0">
                            <label class="control-label">Performer</label><span style="color:red">*</span>
                            @(Html.Kendo().DropDownListFor(m => m.Performer_ID)
                                    .DataTextField("FullName")
                                    .DataValueField("UserID")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            //read.Url("/api/UserMasterAPI/GetUsersList").Data("getDataForUserDropdown").Type(HttpVerbs.Get);
                                            read.Url("/api/UserMasterAPI/GetUsersDropdown").Type(HttpVerbs.Get);
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 90%" })
                            )
                        </div>

                        <div class="col-md-6 colpadding0">
                            <label class="control-label">Reviewer</label><span style="color:red">*</span>
                            @(Html.Kendo().DropDownListFor(m => m.Reviewer_ID)
                                    .DataTextField("FullName")
                                    .DataValueField("UserID")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            //read.Url("/api/UserMasterAPI/GetUsersList").Data("getDataForUserDropdown").Type(HttpVerbs.Get);
                                            read.Url("/api/UserMasterAPI/GetUsersDropdown").Type(HttpVerbs.Get);

                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 90%" })
                            )
                        </div>
                    </div>
                </div>
            }

            <div class="text-center mt30">
                <button type="submit" id="btnSaveResignation" class="btn btn-primary">Save</button>
                <button type="button" id="btncloseDirectorResignation" onclick="closeResignationWindow()" class="btn btn-primary">Close</button>
            </div>
        }

        <script>
            $(document).ready(function () {
                //var validator = $("#frmUpdateofDirectorResignation").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
            });

            function closeResignationWindow() {
                $("#wndResin").data("kendoWindow").close();
            };

            function revertResignation(v) {
            debugger;
                $("#frmUpdateofDirectorResignation").attr(
                            "action",
                            "@Url.Action("RevertResignationOfDirector", "Director_Master")"+"?id=" + v
                        ).submit();
                }
        </script>
    }

</div>