﻿@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Director Master";
    
}

<style>
    html {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>
<title></title>
sync_handler
<style>
    .field-validation-error {
        color: #ff0000;
    }

    .k-current-page {
        display: none;
    }

    html .k-upload-empty {
        border-width: 1px;
    }

    .k-edit-form-container {
        position: relative;
        width: 900px;
    }

    .k-grid-edit {
        height: 32px;
        width: 33px;
        padding: 6px 0px 10px 0;
        /*white-space: nowrap;*/
        overflow: hidden;
        /*border-radius: 20px;*/
    }

    .k-grid-delete {
        height: 32px;
        width: 33px;
        padding: 5px 0px 10px 0;
        overflow: hidden;
    }

    .fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 2em;
        }

        .fieldlist label {
            display: block;
            padding-bottom: 1em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

    .mt30 {
        margin-top: 18px;
    }

    .k-grid-add {
        float: right;
    }
</style>
<script>
    function onRowBound(e) {

        $(".k-grid-edit").find("span").addClass("k-icon k-edit");
        $(".k-grid-delete").find("span").addClass("k-icon k-delete");
    }

</script>


sync_handler

<div class="row Dashboard-white-widget">
    <div class="dashboard">
        @(Html.Kendo().Grid<BM_ManegmentServices.VM.Director_MasterVM>()
        .Name("gridKendo")
        .Columns(columns =>
        {
            columns.Bound(o => o.FirstName).Title("Director Name");
            columns.Bound(o => o.DIN).Title("DIN");
            columns.Bound(o => o.DESC_ExpiryDate).Title("DESC Expiry Date");

            columns.Command(command =>
            {
                command.Edit();
                // command.Destroy().Text("");
            })
 .Title("Action");
        })
        .EnableCustomBinding(true)
        .ToolBar(toolbar => toolbar.Create().Text("ADD"))
        .Events(ev => ev.DataBound("onDataBound"))
        .Events(e => e.DataBound("onRowBound"))
            .Editable(editable =>
            {
                editable.Mode(GridEditMode.PopUp).TemplateName("EditDirectorMaster");
                editable.Window(x => x.Title("Add Director"));

                editable.DisplayDeleteConfirmation("Your Message here");
            })

        .Navigatable()
        .Pageable(pageable => pageable
            .Refresh(false)
            .PageSizes(true)
            .ButtonCount(5))
            .Filterable()
            .Sortable()
            .Reorderable(reorderable => reorderable.Columns(true))
            .Resizable(resizable => resizable.Columns(true))
            .ColumnMenu()
            .DataSource(dataSource => dataSource
            .WebApi()
            //.Ajax()
            .PageSize(20)
            //.ServerOperation(false)
            .Model(model =>
            {
                model.Id(o => o.FirstName);
                model.Field(o => o.DIN);
                model.Field(o => o.DESC_ExpiryDate);

            })

        .Create(read => read.Url("/api/DirectorMasterAPI/CreateDirector").Type(HttpVerbs.Post))
        .Read(read => read.Url("/api/DirectorMasterAPI/GetDirector").Type(HttpVerbs.Get))
        .Update(update => update.Url("/api/DirectorMasterAPI/UpdateDirector").Type(HttpVerbs.Post))
        //.Destroy(update => update.Url("/api/InfoDirectorsAPI/DeleteDirector").Type(HttpVerbs.Delete))
        .Events(events => events.Sync("sync_handler"))
        .Events(events => events.Error("error_handler"))

                          )
        )
    </div>
</div>
<script>
    function sync_handler(e) {
        this.read();
    }
</script>

<script type="text/javascript">

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

</script>

<script type="text/javascript">

    function filterProducts() {
        return {
            stateId: $("#ddlState").val()
        };
    }
</script>


<script type="text/javascript">

    function onCategoryChange() {
        var Entity_Type = $("#Entity_Type").data("kendoDropDownList").value();
        if (Entity_Type == "1")
        {
            $('#DivEntityDetails')[0].hidden = true;
            $('#DivEntityDetails1')[0].hidden = false;
        } else
        {
            $('#DivEntityDetails1')[0].hidden = true;
            $('#DivEntityDetails')[0].hidden = false;
        }
    }

    function onOccupationChange()
    {
        var data = $("#Occupation").data("kendoDropDownList").value();
        if(data == "1" || data == "2" || data == "5")
        {
            $('#divAreaOfOccupation')[0].hidden = false;
        }
        else
        {
            $('#divAreaOfOccupation')[0].hidden = true;
        }
    }

    
    function onResidentInIndia()
    {
        var data = $("#ResidentInIndia").data("kendoDropDownList").value();
        if (data == "0") {
            $('#divPAN')[0].hidden = true;
            $('#divAdhaar')[0].hidden = true;
            $('#spanPassport')[0].hidden = false;
            
        }
        else {
            $('#divPAN')[0].hidden = false;
            $('#divAdhaar')[0].hidden = false;
            $('#spanPassport')[0].hidden = true;
        }
    }

    function onAreaOfOccupation() {
        var data = $("#AreaOfOccupation").data("kendoDropDownList").value();
        if (data == "0") {
            $('#divOtherOccupation')[0].hidden = false;
        }
        else {
            $('#divOtherOccupation')[0].hidden = true;
        }
    }

</script>
