﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMEntityFileUpload
<script>
    function onbegin()
    {
        var wnd = $("#wndFileUploadDirector").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }
    function Complite()
    {
        var wnd = $("#wndFileUploadDirector").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
        $(".k-overlay").attr('style', "opacity:0.5; display:none;");
    }

</script>
<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <div id="DivUploadDirectorMaster">
            @using (Ajax.BeginForm("ImportDIR3", "Director_Master", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivUploadDirectorMaster",OnBegin="onbegin",OnComplete="Complite" }, new { id = "frmUpdateUpload", enctype = "multipart/form-data" }))
            {
                if (Model.Response != null)
                {
                    <div class="row">
                        <div class="col-md-2 colpadding0">
                        </div>
                        <div class="col-md-8 colpadding0">
                            @Html.Partial("_Response", Model.Response)
                        </div>
                        <div class="col-md-2 colpadding0">
                        </div>
                    </div>
                }

                <div class="demo-section k-content row colpadding0">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-2 colpadding0">
                            <label>Select File</label><span style="color:red">*</span>
                        </div>
                        <div class="col-md-10 colpadding0">
                            <input type="file" name="File" id="File" />
                        </div>
                    </div>
                    <div class="col-md-12 colpadding0 text-center mt30">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

