﻿
@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMStatutory_Auditor

<div id="viewPlaceHolder" style="max-height:520px;overflow-y:auto;overflow-x:hidden;">
    <div class="row colpadding0 mt30">
        <div class="col-md-12 colpadding0">
            @Html.Partial("_AddEditStatutoryAuditor", Model)
        </div>
    </div>
</div>



<script>
    function sync_handler(e) {
        this.read();
    }

    function toolTipContent(e) {
        return e.target.context.innerText;
    }


    $(document).ready(function () {

    });


    function OnOpen(e) {
        
        //kendo.ui.progress($("#viewPlaceHolder"), true);

    }

    function OnRefresh(e) {
        //kendo.ui.progress($("#viewPlaceHolder"), false);
    }

</script>

