﻿
@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMAuditor

<div id="viewPlaceHolder">
    <div class="row colpadding0 mt30">
        <div class="col-md-12 colpadding0">
            @Html.Partial("_partialviewAddEditAuditor", Model)
        </div>
    </div>
</div>

<script>
    function sync_handler(e) {
        this.read();
    }

    function toolTipContent(e) {
        return e.target.context.innerText;
    }

    function OnOpen(e) {
        
        //kendo.ui.progress($("#viewPlaceHolder"), true);
    }

    function OnRefresh(e) {
        //kendo.ui.progress($("#viewPlaceHolder"), false);
    }
</script>

