﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMInternalAuditor




<div id="viewPlaceHolder">
    <div class="row colpadding0 mt30">
        <div class="col-md-12 colpadding0">
            @Html.Partial("_partialviewAddEditInternalAuditor", Model)
        </div>
    </div>
</div>

