﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Auditor_ResignationVM

<div id="DivAuditorResignation">


    <div class="row">
        @if (Model.Success)
        {
            <div class="col-md-12">

                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    @if (!(string.IsNullOrEmpty(@Model.Message)))
                    {
                        <lable>@Model.Message</lable>
                    }
                </div>
            </div>
        }
    </div>

    <div class="row">
        @if (Model.Error)
        {
            <div class="col-md-12">
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    @if (!(string.IsNullOrEmpty(@Model.Message)))
                    {
                        <lable>@Model.Message</lable>
                    }
                </div>
            </div>
        }
    </div>

    <div class="row colpadding0">
        <div class="col-md-12 colpadding0">

            @using (Ajax.BeginForm("Add_UpdateResignation", "AuditorMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivAuditorResignation", OnBegin = "OnOpene", OnComplete = "OnRefreshe" }, new { id = "frmUpdateResignation", enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(m => m.SA_ID)
                @Html.HiddenFor(m => m.statutory_Id)
                @Html.HiddenFor(m => m._AuditorId)
                @Html.HiddenFor(m => m.AuditorType)
                @Html.HiddenFor(m => m.EntityId)
                <div>
                    <div>
                        @if (Model.AuditorType == "SA")
                        {
                            <div class="row mt30">
                                <div class="col-md-12 colpadding0">
                                    <div style="color:red;"><strong>"KINDLY ADHERE WITH SEBI CIRCULER NO. CIR/CFD/CMD1/114/2019 BEFORE RESIGNATION OF THE STATUTORY AUDITOR"</strong></div>
                                </div>
                            </div>
                        }

                        <div class="row mt30">
                            <div class="col-md-12 colpadding0">
                                <div class="col-md-4 colpadding0">
                                    <span style="color:red">*</span><label for="AuditorName" class="control-label">Auditor Name</label>
                                    @(Html.Kendo().TextBoxFor(m => m.AuditorName).HtmlAttributes(new { style = "width: 98%", @readonly = "readonly" }))

                                </div>

                                <div class="col-md-2 colpadding0">
                                    <span style="color:red">*</span><label for="ddlLeaveType" class="control-label">Leave Type</label>

                                    @(Html.Kendo().DropDownListFor(m => m.LeaveType)

                                                .DataTextField("Text")
                                                .DataValueField("Value")

                                                .BindTo(new List<SelectListItem>() {
                                                               new SelectListItem() {
                                                                  Text = "Select",
                                                                  Value = ""
                                                              },
                                                              new SelectListItem() {
                                                                  Text = "Death",
                                                                  Value = "1"
                                                              },
                                                              new SelectListItem() {
                                                                  Text = "Resignation",
                                                                  Value = "2"
                                                              },
                                                               new SelectListItem() {
                                                                  Text = "Other",
                                                                  Value = "3"
                                                              },
                                                })
                                                .HtmlAttributes(new { style = "width: 98%", @Id = "ddlLeaveType", @onchange = "ddlLeaveTypeChanged(this);" }))

                                </div>

                                <div class="col-md-2 colpadding0">

                                    <span style="color:red">*</span><label for="DateOfResignationSubmit" class="control-label">Date of submission</label>
                                    @(Html.Kendo().DatePickerFor(m => m.DateOfResignationSubmit)
                                                        .Enable(true).ParseFormats(new[] { "dd/MM/yyyy" })
                                                        .Culture("en-GB").Format("dd/MM/yyyy")
                                                        .HtmlAttributes(new { style = "width: 98%", placeholder = "DD/MM/YYYY", autocomplete = "off", onchange = "checkDate(this);" })
                                    )
                                    @Html.ValidationMessageFor(model => model.DateOfResignationSubmit, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-2 colpadding0">

                                    <span style="color:red">*</span><label for="dpRegignation_Date" class="control-label">Dated</label>
                                    @(Html.Kendo().DatePickerFor(m => m.DateOfResignation)
                                                        //.Min(DateTime.Today).Format("dd/MM/yyyy")
                                                        .Enable(true).ParseFormats(new[] { "dd/MM/yyyy" })
                                                        .Culture("en-GB").Format("dd/MM/yyyy")
                                                        .HtmlAttributes(new { style = "width: 98%", @Id = "dpRegignation_Date", placeholder = "DD/MM/YYYY", autocomplete = "off", onchange = "checkDate(this);" })
                                    )
                                    @Html.ValidationMessageFor(model => model.DateOfResignation, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row mt30">
                            <div class="col-md-12 colpadding0">

                                <span style="color:red"></span><label for="txttextareaResonForLeave" class="control-label">Reason</label>
                                @Html.TextAreaFor(m => m.textareaResonForLeave, new { @class = "k-textbox", style = "width: 100%;", @spellcheck = "true" })
                                @Html.ValidationMessageFor(model => model.textareaResonForLeave, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="row mt30">
                            <div class="col-md-12 colpadding0">

                                <div class="col-md-3 colpadding0">
                                    <div class="col-md-10 colpadding0">
                                        <span style="color:red">*</span><label class="control-label">Upload Resignation</label>
                                        @Html.TextBoxFor(m => m.Resignation_Doc, new { type = "file", style = "width:100%" })
                                        @Html.HiddenFor(m => m.Resignation_DocName)
                                    </div>

                                    <div class="col-md-2 colpadding0" style="top:16px;">
                                        @if (Model.FileDataId > 0)
                                        {
                                            <a href='@Url.Action("DownloadFile", "FileData",new { id = Model.FileDataId} )' target="_blank">
                                                <img src='@Url.Content("~/Images/icon-download.png")' />
                                            </a>
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>

                        @if (Model.AuditorType == "SA")
                        {
                            if (Model.AuditorMappingId > 0)
                            {

                            }
                            else
                            {
                                <div id="divAgendaFlow" class="row mt30 hidden">
                                    <div class="col-md-12 colpadding0">
                                        <div class="col-md-6 colpadding0">
                                            <span style="color:red"></span><label for="AgendaFlow" class="control-label">How you can fill the casual vacancy</label><br />&nbsp;&nbsp;
                                            <label class='container1'>Board Meeting -> EGM -> AGM @Html.RadioButtonFor(model => model.AgendaFlow, "1")<span class='checkmark1-sm'></span></label>
                                            <label class='container1'>Board Meeting -> AGM @Html.RadioButtonFor(model => model.AgendaFlow, "2")<span class='checkmark1-sm'></span></label>
                                            @Html.ValidationMessageFor(model => model.AgendaFlow, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 colpadding0">
                                        <div id="divAGMMessage" class="hidden" style="color:red;">AGM will be held within 3 months from the date of Board Meeting.</div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>

                if (Model.AuditorMappingId > 0)
                {
                    <div class="text-center mt30">
                        <button type="button" id="btnCancelAuditorResignation" onclick="revertResignationOfAuditor('@Model.statutory_Id','@Model._AuditorId','@Model.EntityId','@Model.AuditorType')" class="btn btn-primary">Cancel</button>
                        <button type="button" id="btnclose2" class="btn btn-primary button1">Close</button>
                    </div>
                }
                else
                {
                    <div class="text-center mt30">
                        <button type="submit" id="btnregignation" class="btn btn-primary button1">Save</button>
                        <button type="button" id="btnclose2" class="btn btn-primary button1">Close</button>
                    </div>
                }

            }

        </div>
    </div>


    @(Html.Kendo().Window().Name("wndResignationPreview").Title("Preview").Visible(false).Modal(true).Draggable(true).Scrollable(true)
            .Content(@<text>
                @(Html.Kendo().Editor().Name("EditorResignationPreview")
                                                               .HtmlAttributes(new { style = "height:530px" })
                                                               .Encode(false)
                                                               .Tools(t => t.Clear())
                )
            </text>)
    )

    @(Html.Kendo().Window().Name("wndDocViewer").Title("Viewer").Visible(false).Modal(true).Draggable(true).Pinned(true).Scrollable(true))

    <script>
        function ddlLeaveTypeChanged() {
            var ddlddlLeaveType = $("#ddlLeaveType").data("kendoDropDownList").value();
            var divAgendaFlow = $("#divAgendaFlow");
            if (ddlddlLeaveType == "2") {
                if (divAgendaFlow != undefined) {
                    $("#divAgendaFlow").removeClass("hidden");
                }

            } else {
                if (divAgendaFlow != undefined) {
                    $("#divAgendaFlow").addClass("hidden");
                }

            }
        }


        var validator1 = $("#frmUpdateResignation").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

        $("#btnclose2").click(function (z) {
            z.preventDefault();
            z.stopPropagation();
            $('#KendoPopupAuditorRegignaton').data("kendoWindow").close();
            $('#gridKendoStatutory').data('kendoGrid').dataSource.read();
            $('#gridKendoStatutory').data('kendoGrid').refresh();
        })

        function checkDate(e) {

            if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
                e.value = '';
            }

        }

        $("#dpRegignation_Date").removeAttr("data-val-date");
        if ($("#dpRegignation_Date").val() == "01/01/0001") {
            $("#dpRegignation_Date").val('');
        }

        $("#DateOfResignationSubmit").removeAttr("data-val-date");
        if ($("#DateOfResignationSubmit").val() == "01/01/0001") {
            $("#DateOfResignationSubmit").val('');
        }

    </script>

    <script>

        function OpenNoticeMailPreview(response) {

            $($('#EditorResignationPreview').data().kendoEditor.body).attr('contenteditable', false);
            $("#EditorResignationPreview").data("kendoEditor").body.innerHTML = response.ResignationFormat;

            var wnd = $("#wndResignationPreview").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndResignationPreview").kendoWindow({
                actions: ["Close"],
                width: "65%",
                visible: false,
                modal: true,
                refresh: function () { this.center(); },
                open: function () { },
                close: function (e) {
                }
            }).data("kendoWindow");

            opts.width = "65%";
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
        }

        $("#btnAuditorResPrev").click(function () {

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Resignation", "AuditorMaster")",
                    data:"{AuditorMappingId:" + @Model.AuditorMappingId + "}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {

                        if (response != null) {
                            OpenNoticeMailPreview(response);
                        } else {
                            alert("Something went wrong");
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
            });
        });

    </script>

    <!--popup viewer details-->
    <script>
    function showDocViewer() {

        var direction = "@Url.Content("~/Areas_Secretarial/Doc_Viewer.aspx")" + "?docurl=" + "@Model.FileDataId" ;

        var titleFile = "@Model.Resignation_DocName";
        $("#wndDocViewer").kendoWindow({
            title: titleFile
        });

        $("#wndDocViewer").attr("style", "min-height:100px;");

        var wnd = $("#wndDocViewer").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndDocViewer").kendoWindow({
                actions: ["Close"],
                content: direction,
                visible: false,
                modal: true,
                iFrame :true,
                refresh: function () { this.center(); },
                open: function () { onOpenWindow("wndDocViewer") },
                close: function (e) {
                    $(this.element).empty();
                    $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                }
            }).data("kendoWindow");

            opts.width = "95%";
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
    }

    $('#wndDocViewer').parent().find('.k-window-titlebar,.k-window-actions').css('backgroundColor', '#f7f7f7');

    </script>

    <!-- Notice Script-->
    <script>
        $("#frmUpdateResignation").on("change", "input[name='AgendaFlow']", function () {
            var val = this.value;
            if (val == "1") {
                $("#divAGMMessage").addClass("hidden");
            } else {
                $("#divAGMMessage").removeClass("hidden");
            }
        });

        function revertResignationOfAuditor(i,a,e,t) {
            debugger;
            $("#frmUpdateResignation").attr(
                "action",
                "@Url.Action("RevertResignation", "AuditorMaster")" + "?Id=" + i + "&AuditorId=" + a + "&EntityId=" + e + "&AU=" + t
               ).submit();
            }
    </script>
</div>