﻿@using Kendo.Mvc.UI;
@model long?
@{
    ViewBag.Title = "Master / Agenda Item";
    Layout = "~/Areas/BM_Management/Views/Shared/BM_layout.cshtml";
}
@Html.AntiForgeryToken()
@Html.ValidationSummary(false, "", new { @class = "text-danger" })

<style>
    html {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .myMultiSelect .k-multiselect-wrap
    {
       overflow: auto;
       max-height: 34px;
       height:34px;
    }

    .myMultiSelect2 .k-multiselect-wrap
    {
       overflow: auto;
       max-height: 63px;
       height:63px;
    }

    .order-id {
            display: inline-block;
            min-width: 60px;
        }
    .ap-grid-h300{
        min-height: 120px;
        max-height: 120px;
        overflow-x : no-display;
        overflow-y : auto;
    }
</style>

<style>
    .field-validation-error {
        color: #ff0000;
    }

    .k-current-page {
        display: none;
    }

    html .k-upload-empty {
        border-width: 1px;
    }

    .k-edit-form-container {
        position: relative;
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .k-grid-edit {
        height: 32px;
        width: 33px;
        padding: 6px 0px 10px 0;
        /*white-space: nowrap;*/
        overflow: hidden;
        /*border-radius: 20px;*/
    }

    .k-grid-delete {
        height: 32px;
        width: 33px;
        padding: 5px 0px 10px 0;
        overflow: hidden;
    }

    .fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 2em;
        }

        .fieldlist label {
            display: block;
            padding-bottom: 1em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

    .mt30 {
        margin-top: 18px;
    }

    .k-grid-add {
        float: right;
        /*background-color: #1fd9e1;*/
        /*color: white;*/
    }
    /*.k-add
    {
        background-image:url("'../../../../Images/Add_new_icon.png'")
    }*/
    .k-edit-buttons {
        height: 43px;
        text-align: center;
    }

    label {
        color: black;
    }

    .ml-mr {
        margin-left: 2%;
    }
</style>

<style>
    .k-window div.k-window-content {
        /*// overflow: hidden;*/
        /*overflow-y: scroll*/
    }

    fieldset {
        display: block;
        margin-inline-start: 0px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 1px;
        border-style: groove;
        border-color: rgba(128, 128, 128, 0.56);
        border-radius: 11px;
        /*border-color: threedface;
    border-image: initial;*/
    }

    .amp-mb5 {
        margin-bottom: 5px;
    }

    .amp-h25 {
        height: 25px;
    }

    .amp-h26 {
        height: 26px;
    }

    .amp-h27 {
        height: 27px;
    }

    .amp-h28 {
        height: 28px;
    }

    .amp-h29 {
        height: 29px;
    }

    .amp-h30 {
        height: 30px;
    }

    .amp-mt7 {
        margin-top: 7px;
    }

    .amp-mt8 {
        margin-top: 8px;
    }

    .amp-mt9 {
        margin-top: 9px;
    }

    .amp-mt10 {
    }
</style>

<style>
     #grid.k-grid td {
    background: white !important;
    border: 0 !important;
     }

     #grid.k-grid .k-header {
    display: none;
    }

    .agendaInfo{
        user-select:none;
    }
</style>

<style>
    #wndAgendaInfo table {
        border-style: none;
    }
</style>

<!-- grid no wrap-->
<style>
    /*#gridKendo2.k-grid table {
        table-layout: fixed;
    }*/

    /*#gridKendo2.k-grid tbody tr {
        height: 40px;
    }*/

    /*#gridKendo2.k-grid td {
        white-space: nowrap;
    }*/
</style>

<script type="text/javascript">

    function error_handler(e) {
        e.xhr.responseJSON.Message;
        $("#DiverrorI").show();
        $('#lblerrormsgI').text(e.xhr.responseJSON.Message);
        //if (e.errors) {
        //    var message = "Errors:\n";
        //    $.each(e.errors, function (key, value) {
        //        if ('errors' in value) {
        //            $.each(value.errors, function () {
        //                message += this + "\n";
        //            });
        //        }
        //    });
        //    alert(message);
        //}
    }

</script>

    <!-- Script for Generate Grid SrNo -->
<script>
        var gridRowNumber = 0;

        function resetGridRowNumber(e) {
            gridRowNumber = 0;
        }

        function renderGridRowNumber() {
            var page = parseInt($("#gridKendo2").data("kendoGrid").dataSource.page()) - 1;
            var pagesize = $("#gridKendo2").data("kendoGrid").dataSource.pageSize();
            return parseInt(++gridRowNumber + (parseInt(page) * parseInt(pagesize)));
        }
</script>

<script>
    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }

    function onRowBound(e) {
        resetGridRowNumber(e);

        var grid = $("#gridKendo2").data("kendoGrid");
        var gridData = grid.dataSource.view();

        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");

            if (gridData[i].MeetingTypeId == null) {
                var cButton = $(currenRow).find(".k-grid-c").addClass("k-state-disabled");
            }

            if (gridData[i].HasInfo == false) {
                var cButton = $(currenRow).find(".k-grid-info").addClass("k-state-disabled");
            }

            $(currenRow).find(".k-grid-warn").empty();
            if (gridData[i].IsApproved == false) {
                $(currenRow).find(".k-grid-warn").append("<img class='fill-template-fields' style='height:21px;' src='../../Images/upload_error.png'/>");
            } else {
                $(currenRow).find(".k-grid-warn").append("<img style='height:21px;' src='../../Images/upload_success.png'/>");
            }
        }

        GetICons();
    }

    function onRowBoundSub(e) {
        $(".k-grid-edit").find("span").addClass("k-icon k-edit");
        $(".k-grid-delete").find("span").addClass("k-icon k-delete");
        $(".k-grid-add").find("span").addClass("k-icon k-add k-i-plus-outline");

        GetICons();
    }
</script>

<script>
    function hideAlert()
    {
        $("#DiverrorI").hide();
        $("#DivsuccessI").hide();
        return true;
    }

    function hideAlert_Sub() {
        $("#DiverrorI_sub").hide();
        $("#DivsuccessI_sub").hide();
        return true;
    }

    function getDirectorId()
    {
        var DirectorId="0";
        return
        {
            DirectorId:DirectorId;
        }
    }

    function req_EndAgenda(e) {
        
        if (e.type == "create" || e.type == "update") {
            var grid = $("#gridKendo2").data("kendoGrid");
            grid.one("dataBinding", function (e) {
                e.preventDefault();   // cancel grid rebind if error occurs
            });

            kendo.ui.progress(grid.element, false);
            
            if (e.response.Message != "undefined") {
                if (e.response.Message.Success == true) {
                    $("#DivsuccessI").show();
                    $("#DiverrorI").hide();
                    $('#lblsuccessI').text(e.response.Message.Message);
                    if(e.type == "create" )
                    {
                       // clearAgendaDetails();
                    }
                }
                else {
                    $("#DiverrorI").show();
                    $("#DivsuccessI").hide();
                    $('#lblerrormsgI').text(e.response.Message.Message);
                }
            }
        }
    }

    function req_EndSubAgenda(e) {

        if (e.type == "create" || e.type == "update") {
            var grid = $("#gridKendoSubAgenda").data("kendoGrid");
            grid.one("dataBinding", function (e) {
                e.preventDefault();   // cancel grid rebind if error occurs
            });

            kendo.ui.progress(grid.element, false);

            if (e.response.Message != "undefined") {
                if (e.response.Message.Success == true) {
                    $("#DivsuccessI").show();
                    $("#DiverrorI").hide();
                    $('#lblsuccessI').text(e.response.Message.Message);
                    if (e.type == "create") {
                        // clearAgendaDetails();
                    }
                }
                else {
                    $("#DiverrorI").show();
                    $("#DivsuccessI").hide();
                    $('#lblerrormsgI').text(e.response.Message.Message);
                }
            }
        }
    }

    function clearAgendaDetails()
    {
        var _txtNameOfOther1 = $("#Agenda");
        var _txtCIN1 = $("#txtCIN");
        var _txtPAN1 = $("#txtPAN");
        var _Arosed1 = $("#Arosed");
        var _PercentagesOfShareHolding1 = $("#PercentagesOfShareHolding");

        _txtNameOfOther1.val('');
        _txtCIN1.val('');
        _txtPAN1.val('');
        _Arosed1.val('');
        _PercentagesOfShareHolding1.val('');

        var ddlNatureOfInterest = $("#NatureOfInterest").data("kendoDropDownList");
        var ddlIfDirector = $("#IfDirector").data("kendoDropDownList");
        var ddlIfRelatives = $("#IfRelatives").data("kendoMultiSelect");

        ddlNatureOfInterest.select(0);
        ddlIfDirector.select(0);
        ddlIfRelatives.value([]);

    }

    function onEditAgenda(e) {
        e.container.find(".k-grid-cancel,.k-i-close").bind("click", function () {
            var grid = $("#gridKendo2").data("kendoGrid");
            grid.dataSource.read();
        });

        $('#gridKendo2').data().kendoGrid.editable.element.closest('.k-window')
      .find('.k-window-action:has(.k-i-close)').click(function () {
          var grid = $("#gridKendo2").data("kendoGrid");
          grid.dataSource.read();
      })

        var ddllstCompliance = $("#lstEntity").data("kendoMultiSelect");
        ddllstCompliance.readonly(false);

        if (e.model.isNew()) {

            var tableRef = document.getElementById('gridKendo2').getElementsByTagName('tbody')[0];

            if (tableRef.rows.length > 0) {
                tableRef.deleteRow(0);
            }

            $('.k-grid-update').text("Save");
            $('.k-grid-cancel').text("Close");
        } else {
            $('.k-grid-update').text("Update");
            $('.k-grid-cancel').text("Close");
        }
    }

    function onEditSubAgenda(e) {
        e.container.find(".k-grid-cancel,.k-i-close").bind("click", function () {
            var grid = $("#gridKendoSubAgenda").data("kendoGrid");
            grid.dataSource.read();
        });

        $('#gridKendoSubAgenda').data().kendoGrid.editable.element.closest('.k-window')
      .find('.k-window-action:has(.k-i-close)').click(function () {
          var grid = $("#gridKendoSubAgenda").data("kendoGrid");
          grid.dataSource.read();
      })

        var ddllstCompliance = $("#lstEntity").data("kendoMultiSelect");
        ddllstCompliance.readonly(false);

        var ddlEntityType = $("#EntityType").data("kendoDropDownList")
        ddlEntityType.readonly();

        if (e.model.isNew()) {

            var tableRef = document.getElementById('gridKendoSubAgenda').getElementsByTagName('tbody')[0];

            if (tableRef.rows.length > 0) {
                tableRef.deleteRow(0);
            }

            $('.k-grid-update').text("Save");
            $('.k-grid-cancel').text("Close");


            if (e.model.isNew() && !e.model.dirty) {
                e.container
                  .find("input[name=Parent_Id]") // get the input element for the field
                  .val($("#hndParentId").val()) // set the value
                  .change(); // trigger change in order to notify the model binding

                //Set Applicability
                //var ddllstCompliance = $("#lstEntity").data("kendoMultiSelect");
                ddllstCompliance.readonly();
                var selectedValues = $("#hndEntityType").val().split(',');
                //ddllstCompliance.value(selectedValues);
                ddllstCompliance.value(selectedValues);
                ddllstCompliance.trigger("change");
                //End

                ddlEntityType.value($("#hndEntityTypeNew").val());
                ddlEntityType.trigger("change");

            }
        }
        else {
            $('.k-grid-update').text("Update");
            $('.k-grid-cancel').text("Close");
        }

        $("frmAddEditAgenda").kendoValidator();
    }

    function trimChars (str, c) {
        var re = new RegExp("^[" + c + "]+|[" + c + "]+$", "g");
        return str.replace(re, "");
    }

    function iterate(object) {
        var str = "";
        if (object !== null && object.length > 0) {
            for (var x = 0; x < object.length; x++) {
                str += object[x].EntityTypeName + ", ";
            }
        } else {
            str += "";
        }
        return trimChars(str,", ");
    }

    function iterateMeeting(object) {
        var str = "";
        if (object !== null && object.length > 0) {
            for (var x = 0; x < object.length; x++) {
                str += object[x].MeetingTypeName + ", ";
            }
        } else {
            str += "";
        }
        return trimChars(str, ", ");
    }

    function iterateComplianceId(object) {
        var str = "";
        if (object !== null && object.length > 0) {
            for (var x = 0; x < object.length; x++) {
                str += object[x].ComplianceId + ", ";
            }
        } else {
            str += "";
        }
        return trimChars(str, ", ");
    }

</script>

<script>

    function onChange_lstEntity(e) {

        var ddllstEntity = $("#lstEntity").data("kendoMultiSelect");
        var d = ddllstEntity.value();
        if ($.inArray(0, d) >= 0) {
            ddllstEntity.value([0]);
        }
    }

    function onChange_lstMeetingType(e) {

        var ddllstMeetingType = $("#lstMeetingType").data("kendoMultiSelect");
        var d = ddllstMeetingType.value();
        if ($.inArray(0, d) >= 0) {
            ddllstMeetingType.value([0]);
        }
    }

    function onChange_lstCompliance(e) {

        var ddllstCompliance = $("#lstCompliance").data("kendoMultiSelect");
        var selectedValues = ddllstCompliance.value();

        //var selectedValues = values.split(",");
        if (selectedValues.length > 0) {
            var multiSelectData = ddllstCompliance.dataSource.data();

            var str_table = "<table id='divPreCompliancestable'> <tr><th>Id</th> <th>Compliance</th> <th>Action</th></tr>";
            for (var i = 0; i < selectedValues.length; i++) {

                var numberValue = selectedValues[i];

                for (var j = 0; j < multiSelectData.length; j++) {

                    if (multiSelectData[j].ComplianceId == numberValue) {
                        str_table += "<tr> <td>" + multiSelectData[j].ComplianceId + "</td> <td>" + multiSelectData[j].Description + "</td>" +
                            "<td>" +
                            "<button type='button' onclick='deletePreCompliance(" + multiSelectData[j].ComplianceId + ")' class='k-button k-button-icontext k-grid-delete' style='min-width:25px;'><span class='k-icon k-delete'></span></button>" +
                            "</td></tr>";
                        break;

                    }
                }
            }

            str_table += "</html>";
            $("#divPreCompliances11").html(str_table);

            $("#divPreCompliancestable").kendoGrid({
                sortable: false,
                scrollable: false
            });
        } else {
            $("#divPreCompliances11").html('');
        }

    }

    function deletePreCompliance(v)
    {
        var ddllstCompliance = $("#lstCompliance").data("kendoMultiSelect");

        var selectedValues = ddllstCompliance.value();
        var newValues = selectedValues;
        for (var i = 0; i < selectedValues.length; i++) {
            if (v == selectedValues[i]) {
                break;
            }
        }

        newValues = $.grep(newValues, function (value) {
            return value != v;
        });

        ddllstCompliance.value(newValues);

        ddllstCompliance.trigger("change");
    }

    function onChange_lstPostCompliance(e) {

        var ddllstCompliance = $("#ddlPostCompliance").data("kendoMultiSelect");
        var selectedValues = ddllstCompliance.value();

        //var selectedValues = values.split(",");
        if (selectedValues.length > 0) {
            var multiSelectData = ddllstCompliance.dataSource.data();

            var str_table = "<table id='divPostCompliancestable'> <tr><th>Id</th> <th>Compliance</th> <th>Action</th></tr>";
            for (var i = 0; i < selectedValues.length; i++) {

                var numberValue = selectedValues[i];

                for (var j = 0; j < multiSelectData.length; j++) {

                    if (multiSelectData[j].ComplianceId == numberValue) {
                        str_table += "<tr> <td>" + multiSelectData[j].ComplianceId + "</td> <td>" + multiSelectData[j].Description + "</td>" +
                            "<td>" +
                            "<button type='button' onclick='deletePostCompliance(" + multiSelectData[j].ComplianceId + ")' class='k-button k-button-icontext k-grid-delete' style='min-width:25px;'><span class='k-icon k-delete'></span></button>" +
                            "</td></tr>";
                        break;
                    }
                }
            }

            str_table += "</html>";
            $("#divPostCompliances").html(str_table);

            $("#divPostCompliancestable").kendoGrid({
                sortable: false,
                scrollable: false
            });
        } else {
            $("#divPostCompliances").html('');
        }

    }

    function deletePostCompliance(v) {
        var ddllstCompliance = $("#ddlPostCompliance").data("kendoMultiSelect");

        var selectedValues = ddllstCompliance.value();
        var newValues = selectedValues;
        for (var i = 0; i < selectedValues.length; i++) {
            if (v == selectedValues[i]) {

                break;
            }
        }

        newValues = $.grep(newValues, function (value) {
            return value != v;
        });

        ddllstCompliance.value(newValues);
        ddllstCompliance.trigger("change");
    }

    function ShowTemplate(e) {
        e.preventDefault();
        $("#wndAdd").attr("style", "min-height:100px;");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $("#wndAdd").kendoWindow({
            title: "Template",
            modal: true
        });

        var direction = "SaveTemplate?id=" + dataItem.BM_AgendaMasterId;
        //var direction = "EditTemplate?id=" + dataItem.BM_AgendaMasterId;
        var wnd = $("#wndAdd").data("kendoWindow");
        var opts = wnd.options;

        // first click of the button - will automatically fetch the contentUrl
        wnd = $("#wndAdd").kendoWindow({
            title: "Template",
            actions: ["Close"],
            content: direction,
            width: "95%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () {
                //OnOpen();
            },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            }
        }).data("kendoWindow");
        // }
        opts.width = "95%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();

    }

    function ShowSubAgenda(e) {
        e.preventDefault();
        
        $("#wndSubAgenda").attr("style", "min-height:100px;");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        //$("#hndParentId").val(e.model.Parent_Id);
        $("#hndParentId").val(dataItem.BM_AgendaMasterId);
        document.getElementById("hndParentId").value = dataItem.BM_AgendaMasterId;
        document.getElementById("hndEntityTypeNew").value = dataItem.EntityType;

        var arr = [];
        var strEntityType = "";
        for (var i = 0; i < dataItem.lstEntity.length; i++) {
            arr.push(dataItem.lstEntity[i].EntityTypeId);
            strEntityType += dataItem.lstEntity[i].EntityTypeId + ","
        }

        document.getElementById("hndEntityType").value = arr;

        $("#lblParentAgenda").text(dataItem.Agenda);


        $("#wndSubAgenda").kendoWindow({
            title: "SubAgenda",
            modal: true
        });

        var wnd = $("#wndSubAgenda").data("kendoWindow");
        wnd.center();
        wnd.open();

        var grid = $("#gridKendoSubAgenda").data("kendoGrid");
        grid.dataSource.read();
        //grid.refresh();
    }

    function filterParentId() {
        return {
            ParentId:  3 //$("#hndParentId").val()
        };
    }

    function dataBoundgrid() {
      
        $(".k-hierarchy-cell").addClass("hidden");
        $(".k-hierarchy-col").addClass("hidden");

        //$(".k-grid-T").find("span").addClass("k-icon k-plus");
        $(".k-grid-T").find("span").addClass("k-icon k-edit");

        $("#grid tr.k-alt").removeClass("k-alt");

        //var grid = $("#grid").data("kendoGrid");

        //grid.tbody.find("tr.k-master-row").click(function (e) {
        //    var target = $(e.target);
        //    if ((target.hasClass("k-i-expand")) || (target.hasClass("k-i-collapse"))) {
        //        return;
        //    }

        //    var row = target.closest("tr.k-master-row");
        //    var icon = row.find(".k-i-expand");

        //    if (icon.length) {
        //        grid.expandRow(row);
        //    } else {
        //        grid.collapseRow(row);
        //    }
        //})
    }

    function Expand(e) {

        //var row = $(e.target).parents("tr").first();
        //var icon = row.find(".k-hierarchy-cell>a.k-icon");
        //icon.click();
        
        var row = $(e.currentTarget).closest("tr");

        var grid = $("#grid").data("kendoGrid");

        var rowIdx = $("tr", grid.tbody).index(row);

        grid.expandRow(row);

        $(".k-hierarchy-cell").addClass("hidden");

        $(".k-master-row").each(function (index) {
                //grid.expandRow(this);
        });
        
    }


    $('#expand').click(function (e) {
        var grid = $("#grid").data("kendoGrid");
        $(".k-master-row").each(function (index) {
            grid.expandRow(this);
        });
    })

    $('#collapse').click(function (e) {
        var grid = $("#grid").data("kendoGrid");
        $(".k-master-row").each(function (index) {
            grid.collapseRow(this);
        });
    })


</script>

<script>
    function closeSubWindow() {
        $("#wndSubAgenda").data("kendoWindow").close();
    }
</script>

<script>

    $(document).ready(function () {
        $("#customCommand1").click(function (e) {
            e.preventDefault();
            CreateAgenda();
        });
    });

    function CreateAgenda(e) {
        $("#wndAdd").attr("style", "min-height:100px;");

        $("#wndAdd").kendoWindow({
            title: "Agenda Item",
            modal: true
        });

        var direction = "GetAgenda?id=0";
        var wnd = $("#wndAdd").data("kendoWindow");
        var opts = wnd.options;

        //kendo.ui.progress(wnd.element, true);
        // first click of the button - will automatically fetch the contentUrl
        wnd = $("#wndAdd").kendoWindow({
            title: "Template",
            actions: ["Close"],
            content: direction,
            width: "95%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () {
                //OnOpen();
                OnOpen();
            },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");

                $('#gridKendo2').data('kendoGrid').dataSource.read();
            }
        }).data("kendoWindow");
        // }
        opts.width = "95%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();

    }

    function EditAgenda(e) {
        e.preventDefault();
        $("#wndAdd").attr("style", "min-height:100px;");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $("#wndAdd").kendoWindow({
            title: "Agenda Item",
            modal: true
        });

        var direction = "GetAgenda?id=" + dataItem.BM_AgendaMasterId;

        var refreshGrid = true;
        if ("@Model" != "" && dataItem.Customer_Id == null) {
            direction = "GetStandardAgenda?id=" + dataItem.BM_AgendaMasterId;
            refreshGrid = false;
        }

        var wnd = $("#wndAdd").data("kendoWindow");
        var opts = wnd.options;

        // first click of the button - will automatically fetch the contentUrl
        wnd = $("#wndAdd").kendoWindow({
            title: "Template",
            actions: ["Close"],
            content: direction,
            width: "95%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () {
                OnOpen();
            },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");

                if (refreshGrid == true) {
                    $('#gridKendo2').data('kendoGrid').dataSource.read();
                }
            }
        }).data("kendoWindow");
        // }
        opts.width = "95%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function showAgendaInfo(e) {
        e.preventDefault();
       
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        if (dataItem.HasInfo == true){

            $("#wndAgendaInfo").attr("style", "min-height:100px;");

            $("#wndAgendaInfo").kendoWindow({
                title: "Agenda Item Information",
                modal: true
            });

            var wnd = $("#wndAgendaInfo").data("kendoWindow");
            var opts = wnd.options;
            debugger;
            var editor = $("#editor").data("kendoEditor");
            editor.body.contentEditable = false;
            editor.value("<div style='user-select:none;'>" + dataItem.AgendaInfomative + "</div>");

            opts.width = "95%";
            opts.height = "550";
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
        }
    }

    function OnOpen(e) {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }

    function OnRefresh() {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function OnRefreshSub() {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);

        var objDiv = document.getElementById("divSubAgenda_");
        $('#divSubAgenda_').scrollTop($('#divSubAgenda_')[0].scrollHeight);

        document.getElementById('window').scrollTop = 9999999;
    }
</script>

<!-- Filter Script-->
<script>
    function filterChange() {

        var filter = { logic: 'and', filters: [] };

        debugger;

        var ddlEntityType = $("#ddlEntityTypeFilter").data("kendoDropDownList");
        var d = ddlEntityType.value();

        var ddlMeetingType = $("#ddlMeetingTypeFilter").data("kendoDropDownList");
        var m = ddlMeetingType.value();

        var ddlStagesFilter = $("#ddlStagesFilter").data("kendoDropDownList");
        var s = ddlStagesFilter.value();

        if(d > 0){
            filter.filters.push({ logic: "and", field: "EntityType", operator: "eq", value: parseInt(d) });
        }

        if (m > 0) {
            filter.filters.push({ logic: "and", field: "MeetingTypeId", operator: "eq", value: parseInt(m) });
        }

        if (s != "") {
            if (s == "0") {
                filter.filters.push({ logic: "and", field: "IsMultiStageAgenda", operator: "eq", value: false });
            } else {
                filter.filters.push({ logic: "and", field: "IsMultiStageAgenda", operator: "eq", value: true });
            }
        }

        var t = $('#filter');
        if (t.val() != "") {
            filter.filters.push({ logic: "or", field: "AgendaHeading", operator: "contains", value: t.val() });
        }

        grid = $("#gridKendo2").data("kendoGrid");
        grid.dataSource.filter(filter);
    }
</script>

<div class="row Dashboard-white-widget">
    <div>
        @(Html.Kendo().Tooltip()
        .For("#gridKendo2")
        .Filter(".k-grid-add")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Add - Agenda Item")
        .Width(120)
        )

        @(Html.Kendo().Tooltip()
        .For("#gridKendo2")
        .Filter(".k-grid-edit")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Edit")
        .Width(120)
        )

        @(Html.Kendo().Tooltip()
        .For("#gridKendo2")
        .Filter(".k-grid-c")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Compliance")
        .Width(120)
        )

        @(Html.Kendo().Tooltip()
        .For("#gridKendo2")
        .Filter(".k-grid-info")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Information")
        .Width(120)
        )

        @(Html.Kendo().Tooltip()
        .For("#gridKendo2")
        .Filter(".k-grid-delete")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Delete")
        .Width(120)
        )

        @(Html.Kendo().Tooltip()
        .For("#gridKendo2")
        .Filter("td:nth-child(1)")
        .Position(TooltipPosition.Top)
        .Width(150)
        .AutoHide(true) )

        @(Html.Kendo().Tooltip()
        .For("#gridKendo2")
        .Filter("td:nth-child(2)")
        .Position(TooltipPosition.Top)
        .Width(150)
        .AutoHide(true) )

        @(Html.Kendo().Tooltip()
        .For("#gridKendo2")
        .Filter("td:nth-child(3)")
        .Position(TooltipPosition.Top)
        .ContentHandler("toolTipContent_gridNew")
        .Width(120)
        .AutoHide(true) )

        @(Html.Kendo().Tooltip()
        .For("#gridKendo2")
        .Filter("td:nth-child(4)")
        .Position(TooltipPosition.Top)
        .Width(450)
        .AutoHide(true) )


        @(Html.Kendo().Tooltip()
        .For("#gridKendo2")
        .Filter(".fill-template-fields")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Please fill all agenda formates")
        .Width(100)
        )

    </div>

    <div class="dashboard">
        <input type="hidden" id="hndParentId" value="0"/>
        <input type="hidden" id="hndEntityType" />
        <input type="hidden" id="hndEntityTypeNew" />
        <input type="hidden" id="hndCursorlocation" />
        <input type="hidden" id="hndCurrentCtrl" />
        <input type="hidden" id="hndIsEditor" />

        @(Html.Kendo().Window()
            .Name("wndAdd")
            .Title("Template")
            .Visible(false)
            .Modal(true)
            .Draggable(true)
            .Scrollable(true)
        )

        @(Html.Kendo().Window()
            .Name("wndAgendaInfo")
            .Title("Information")
            .Visible(false)
            .Modal(true)
            .Content(@<text>
            <div style="user-select:none;">
                @(Html.Kendo().Editor().Name("editor").HtmlAttributes(new { style = "height:530px;user-select:none;", aria_label = "editor" }).Resizable(resizable => resizable.Content(true).Toolbar(false)).Tools(t => t.Clear()))
            </div>
            </text>)
            .Draggable(true)
            .Scrollable(true)
        )

        @(Html.Kendo().Window()
            .Name("wndAddTemplate")
            .Title("Template Fields")
            .Visible(false)
            .Modal(true)
            .Draggable(true)
            .Scrollable(true)
        )

        @(Html.Kendo().Window()
            .Name("wndSubAgendaMapping1")
            .Title("Sub Agenda")
            .Visible(false)
            .Modal(true)
            .Draggable(true)
            .Scrollable(true)
        )

            @(Html.Kendo().Grid<BM_ManegmentServices.VM.AgendaMasterVM>()
                .Name("gridKendo2")
                .Columns(columns =>
                {
                    //columns.Template(t => { }).Title("Sr No").ClientTemplate("#= renderGridRowNumber() #").Width(65);
                    columns.Bound(o => o.EntityTypeName).Title("Entity Type").HtmlAttributes(new { title = "#= EntityTypeName #" }).Width(140);
                    columns.Bound(o => o.MeetingTypeName).Title("Meeting").HtmlAttributes(new { title = "#= MeetingTypeName #" }).Width(160);
                    columns.Bound(o => o.IsMultiStageAgenda).Title("Stage").ClientTemplate("#: IsMultiStageAgenda == true ? 'Multistage' : 'Single' #").Width(95);
                    columns.Bound(o => o.AgendaHeading).ClientTemplate("#= AgendaHeading #").Title("Agenda Item").HtmlAttributes(new { title = "#= AgendaHeading #" });//.Width(560);
                    columns.Template(t => { }).Title(" ").ClientTemplate("<span class='k-grid-warn pull-right'></span>").Width(40);
                    columns.Command(command =>
                    {
                        command.Custom("Edit").Click("EditAgenda").HtmlAttributes(new { @class = "k-grid-edit" });
                        command.Custom("C").Click("EditComplianceMapping").HtmlAttributes(new { @class = "k-grid-c" });
                        command.Custom("i").Click("showAgendaInfo").HtmlAttributes(new { @class = "k-grid-info" });
                        command.Custom("Delete").HtmlAttributes(new { @class = "k-grid-delete" });
                    })
                    .Title("Action").Width(190);
                })
                .EnableCustomBinding(true)
                .ToolBar(toolbar =>
                {
                toolbar.Template(@<text>
                            <div class="refreshBtnContainer">
                                <a class="k-grid-add k-button k-button-icontext" href="/#" id="customCommand1" title="Create New"><span class="k-icon k-add k-i-plus-outline"></span>New</a>
                            </div>
                            <div >
                                Filter : 
                                @(Html.Kendo().DropDownList()
                                .Name("ddlEntityTypeFilter")
                                .ValuePrimitive(true)
                                .DataValueField("EntityTypeId")
                                .DataTextField("EntityTypeName")
                                .OptionLabel("Entity Type")
                                .Events(e => e.Change("filterChange"))
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Url("/api/EntityMasterAPI/EntityTypeVMDropdownForMeeting").Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(false);
                                }).HtmlAttributes(new { style = "width: 200px;" })
                                )


                                @(Html.Kendo().DropDownList()
                                .Name("ddlMeetingTypeFilter")
                                .ValuePrimitive(true)
                                .DataValueField("Id")
                                .DataTextField("MeetingTypeName")
                                .OptionLabel("Meeting")
                                .Events(e => e.Change("filterChange"))
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Url("/api/CommitteeCompAPI/GetMeetingTypeForDropDown").Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(false);
                                }).HtmlAttributes(new { style = "width: 300px;" })
                                )

                                @(Html.Kendo().DropDownList()
                                .Name("ddlStagesFilter")
                                .Events(e => e.Change("filterChange"))
                                .BindTo(new SelectList(new List<object> {
                                            new {id="",text="Stage"},
                                            new {id="0",text="Single"},
                                            new {id="1",text="Multiple"}
                               }, "id", "text")).HtmlAttributes(new { style = "width: 100px;" })
                                )

                                <input id='filter' placeholder="Agenda Item" class='k-textbox' style="width: 25%;" onchange="filterChange();" autocomplete="off" />
                            </div>
                </text>);
                })
                .Events(e => e.DataBound("onRowBound"))
                //.Events(e => e.Edit("onEditAgenda"))
                //.Navigatable()
                .Pageable(pageable => pageable
                .PageSizes(true)
                .Refresh(true)
                .ButtonCount(5))
                .Filterable()
                .Sortable()
                .Reorderable(reorderable => reorderable.Columns(true))
                .Resizable(resizable => resizable.Columns(true))
                .ColumnMenu()
                .DataSource(dataSource => dataSource
                .WebApi()
                .Sort(s => s.Add("LastUpdatedOn").Descending())
                .PageSize(10)
                .ServerOperation(false)
                .Model(model =>
                {
                    model.Id(o => o.BM_AgendaMasterId);
                    model.Field(o => o.Customer_Id);
                    model.Field(o => o.Agenda);
                    model.Field(o => o.EntityType);
                    model.Field(o => o.MeetingTypeId);
                    model.Field(o => o.PartId);
                    model.Field(o => o.IsMultiStageAgenda).DefaultValue(true);
                    model.Field(o => o.Parent_Id);
                    model.Field(o => o.IsApproved);
                    model.Field(o => o.HasInfo);
                    model.Field(o => o.AgendaInfomative);
                    model.Field(o => o.LastUpdatedOn);
                })
                .Read(read => read.Url("/api/AgendaMasterAPI/GetAllAgenda").Type(HttpVerbs.Get))
                .Events(events => events.Error("error_handler"))
                     ))
    </div>
</div>

<script>
    function checkDate(e) {
        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }
</script>

<script>
        function onClick() {
            var editorContents = $('#str').data('kendoEditor').encodedValue();

            $.post('@Url.Action("ExportNew1", "AgendaMaster")', {
                str: editorContents
            },
                function (e) {
                    alert('Editor saved on server!');
                }
            );
        }

    function toolTipContent_gridSubAgenda(e) {
        return e.target.context.innerText;
    }

</script>

<script>
    //For Mapping Compliance
    function EditComplianceMapping(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        if (dataItem.MeetingTypeId != null){
            ComplianceMapping(dataItem.BM_AgendaMasterId);
        }
    }

    function OnOpenTemplate(e) {
        var wnd = $("#wndAddTemplate").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }

    function OnRefreshTemplate() {
        var wnd = $("#wndAddTemplate").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function ComplianceMapping(e) {
        $("#wndAddTemplate").attr("style", "min-height:100px;");

        $("#wndAddTemplate").kendoWindow({
            title: "Compliance Mapping",
            modal: true
        });

        var direction = "@Url.Action("Editing_Compliances", "AgendaMasterCompliances")" + "?AgendaMasterId=" + e;
        var wnd = $("#wndAddTemplate").data("kendoWindow");
        var opts = wnd.options;

        //kendo.ui.progress(wnd.element, true);
        // first click of the button - will automatically fetch the contentUrl
        wnd = $("#wndAddTemplate").kendoWindow({
            title: "Template",
            actions: ["Close"],
            content: direction,
            width: "95%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () {
                //OnOpen();
                OnOpenTemplate();
            },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");

            }
        }).data("kendoWindow");
        // }
        opts.width = "95%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }
</script>