﻿@using Kendo.Mvc.UI;

@model long
<script type="text/javascript">
    function sync_handler(e) {
        this.read();


    }

    function onRowBoundTaskassignment()
    {
        GetICons();
        var grid = $("#Taskgrid").data("kendoGrid");
        //grid.thead.css("background-color", "green")
        getGridborder(grid);
    }
    function addnewtaskassignment()
    {
        var grid = $("#Taskgrid").data("kendoGrid");
        //grid.dataSource.filter({});
        //grid.dataSource.sort({});
        //add record using Grid API
        grid.addRow();
    }
</script>
<style>
    #Taskgrid div.k-grid-content {
        height: auto;
    }

    #Taskgrid .k-grid-update {
        width: 25%;
        height: 29px;
    }

    #Taskgrid  .k-grid-cancel {
        width: 25%;
        height: 29px;
    }
</style>

<div class="row colpadding0 master-Headre">
    <div class="col-md-12">
        <div class="col-md-10">
           
        </div>
        

        <div class="col-md-1 mt-9">
            <button class="btn btn-primary subcompany" href="/#" title="Add New" onclick="addnewtaskassignment()"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</button>
        </div>
    </div>
</div>

<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0">
        @(Html.Kendo().Grid<BM_ManegmentServices.VM.VMTask>()
.Name("Taskgrid").TableHtmlAttributes(new { @style = "width:100%" })
.Columns(columns =>
{
    columns.Bound(p => p.AssignTo).EditorTemplateName("_UserList").Title("Name").ClientTemplate("#:UserName#").HeaderHtmlAttributes(new { @style = "width:40%" }).HtmlAttributes(new { @style = "width:41%" });
    columns.Bound(p => p.Role).EditorTemplateName("_RoleList").ClientTemplate("#:RoleName#").Title("Role").HeaderHtmlAttributes(new { @style = "width:40%" }).HtmlAttributes(new { @style = "width:41%" });

    columns.Command(command =>
    {
        command.Edit();
        //command.Destroy();
    }).Title("Action");
})
 //.ToolBar(toolbar => toolbar.Create().Text("New Assignment"))
 .Editable(editable => editable.Mode(GridEditMode.InLine))


 .Pageable(p => p
      .Refresh(true)
         )

    .DataSource(dataSource => dataSource
    .WebApi()

    .Events(events => events.Sync("sync_handler"))
    .Model(model =>
    {
        model.Id(o => o.TaskAssinmentId);
        model.Field(o => o.TaskId).DefaultValue(Model);
        model.Field(o => o.AssignTo).Editable(true);
        model.Field(o => o.Role).Editable(true);

    })

       .Create(read => read.Url("/api/TaskAPI/CreateAssigTask").Type(HttpVerbs.Post))
       .Read(read => read.Url("/api/TaskAPI/GetAssignUser?TaskId=" + Model).Type(HttpVerbs.Get))
       .Update(update => update.Url("/api/TaskAPI/UpdateAssigTask").Type(HttpVerbs.Put))
       ).HtmlAttributes(new{@style="height:auto" }).Events(e => e.DataBound("onRowBoundTaskassignment"))
        )
    </div>
</div>

