﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMTask
@{
    ViewBag.Title = "My Task";
}
<title></title>
<script>

    function filterChange() {
        

        var filter = { logic: 'or', filters: [] };

        var t = $('#filter');
        if (t.val() != "") {
            filter.filters.push({ logic: "or", field: "TaskTypes", operator: "contains", value: t.val() });
            filter.filters.push({ logic: "or", field: "TaskTitle", operator: "contains", value: t.val() });
            filter.filters.push({ logic: "or", field: "status", operator: "contains", value: t.val() });
         
        }
        if (filter != null) {
                    $("#clearfillter").show();
                }
                else {
                    $("#clearfillter").hide();
                }

        var grid = $("#gridKendo").data("kendoGrid");
        grid.dataSource.filter(filter);

    };

    function clearfilter(e) {
        

        var txtStartPeriod = $("#filter").val();

        if (txtStartPeriod != null && txtStartPeriod != undefined) {
            $("#filter").val("");

        }
        $('#clearfillter').css('display', 'none');

        $("#gridKendo").data("kendoGrid").dataSource.filter({});
    }

</script>


<script>
    
    $(document).ready(function () {
        $(".k-grid-ExportToexcel").find("span").append("<img id='theexcelexport' src='/Images/Excel _icon.png'/>");

        var breadCrumbData = [
            {
                displayText: "My Workspace",
                navigateUrl: "#",
            }, {
                displayText: "My Tasks",
                navigateUrl: "/BM_Management/Task/MyTask",
            },
        ];

        setBreadCrumb(breadCrumbData);

    });

    var rowNumber = 0;
    function onRowBound(e) {
        
        GetICons();
        var grid = $("#gridKendo").data("kendoGrid");
        //grid.thead.css("background-color", "green")
        getGridborder(grid);
    }
</script>

<div class="row Dashboard-white-widget">
    <div class="dashboard">
        @Html.AntiForgeryToken()

        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="col-md-10 colpadding0">
                    <div class="col-md-6 colpadding0">
                        <input id='filter' placeholder="Search by Type/Title/Status" class='k-textbox' style="width:90%" autocomplete="off" onchange="filterChange(this)" />
                    </div>

                    <div class="col-md-2 colpadding0" id="clearfillter" style="display:none">
                        <button type="button" class="btn btn-default btn-sm ClearFilterbtn" onclick="clearfilter()">
                            <img src="~/Areas/BM_Management/img/Vector.png" /> Clear Filter
                        </button>
                    </div>

                    <div class="col-md-4 colpadding0">

                    </div>
                </div>

                <div class="col-md-1 colpadding0">
                    
                </div>

                <div class="col-md-1 colpadding0 text-right">
                    <button class="btn btn-primary add-button" href="/#" id="customCommand" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</button>
                </div>
            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">

                @(Html.Kendo().Grid<BM_ManegmentServices.VM.VMTask>()
.Name("gridKendo")
.Columns(columns =>
{
    columns.Bound(o => o.Id).Visible(false);

    columns.Bound(o => o.TaskTypes).Title("Task Type").HtmlAttributes(new { @style = "width:10%" });
    columns.Bound(o => o.TaskTitle).Title("Task Title").HtmlAttributes(new { @style = "width:20%" });
    //columns.Bound(o => o.AssignOnDate).Title("Assign Date").Format("{0:dd/MM/yyyy}").HtmlAttributes(new { @style = "width:10%" });


    columns.Bound(o => o.Taskcreatedby).Title("Created by").HtmlAttributes(new { @style = "width:20%" });
    columns.Bound(o => o.TaskAssignTo).Title("Assign To").HtmlAttributes(new { @style = "width:20%" });
    columns.Bound(o => o.DueDate).Title("Due Date").Format("{0:dd/MMM/yyyy}").HtmlAttributes(new { @style = "width:10%" });
    columns.Bound(o => o.status).Title("Status").HtmlAttributes(new { @style = "width:10%" });
    columns.Command(command =>
    {
        command.Custom("Edit").Click("CreateNew").HtmlAttributes(new { @class = "k-grid-edit" });
        //command.Custom("Download").Click("DownloadFile").HtmlAttributes(new { @class = "downloadImg" });
        //command.Custom("View").Click("ViewFile").HtmlAttributes(new { @class = "k-grid-view" });
    })
        .Title("Action").HtmlAttributes(new { @style = "width:10%" });
})
.EnableCustomBinding(true)
        //.ToolBar(
        //toolbar => toolbar.Custom().Name("CreateNew").Text("New").HtmlAttributes(new { id = "customCommand", @class = "k-grid-add k-button k-button-icontext" })
        //        )
        //        .ToolBar(toolbar=>toolbar.Custom().Name("ExportToexcel").Text("").HtmlAttributes(new { @Id = "ExcelExport"}))
        // .ToolBar(t=>t.Template("<img src='" + Url.Content("/Images/Excel _icon.png") + "'' />")).HtmlAttributes(new { @Id = "ExcelExport" })
        .Events(e => e.DataBound("onRowBound"))
        // .Events(e=>e.DataBound("onDataBinding"))
        //.Navigatable()
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .Filterable()
        .Sortable()
        .Reorderable(reorderable => reorderable.Columns(true))
        .Resizable(resizable => resizable.Columns(true))
        .ColumnMenu()
        .DataSource(dataSource => dataSource
        .WebApi()
        .PageSize(5)
        .ServerOperation(false)
              .Model(model =>
              {
                  model.Id(o => o.Id);
              })
        .Read(read => read.Url("/api/TaskAPI/GetTaskDetails").Type(HttpVerbs.Get))
                       ))
            </div>
        </div>

        <div id="modalWindow">
            <h5>Are you sure you want to delete this data?</h5>
            <button id="yes" class="k-button">Yes</button>
            <button id="no" class="k-button">No</button>
        </div>

        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter("td:nth-child(1)")
        .ContentHandler("toolTipContent")
        .Position(TooltipPosition.Top)
        .Width(100)
        .AutoHide(true)
        )

        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter("td:nth-child(2)")
        .ContentHandler("toolTipContent")
        .Position(TooltipPosition.Top)
        .Width(100)
        .AutoHide(true) )

        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter("td:nth-child(3)")
        .ContentHandler("toolTipContent")
        .Position(TooltipPosition.Top)
        .Width(200)
        .AutoHide(true) )


        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-add")
        .Position(TooltipPosition.Top)
        .Width(100)
        .AutoHide(true)
        .ContentHandler("getTooltipContent")
        )

        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-ExportToexcel")
        .Position(TooltipPosition.Top)
        .Width(100)
        .AutoHide(true)
        .ContentHandler("getTooltipContent1")
        )

        <script>
            function toolTipContent(e) {
                return e.target.context.innerText;
            }

            function getTooltipContent1(e) {
                return "Export to Excel";
            }

            function getTooltipContent(e) {

                if (e.target.context.innerText == 'C') {
                    return "Capital Master";
                }
                else if (e.target.context.innerText == 'S') {
                    return "Shareholding Master";
                }
                else if (e.target.context.innerText == 'D') {
                    return "Board of Directors";
                }
                else if (e.target.context.innerText == 'AU') {
                    return "Auditor";
                }
                else if (e.target.context.innerText == 'CM') {
                    return "Committees";
                }
                else if (e.target.context.innerText == 'Edit') {
                    return "Edit";
                }
                else if (e.target.context.innerText == 'Delete') {
                    return "Delete";
                }
                else if (e.target.context.innerText == 'CM') {
                    return "Committees";
                }
                else if (e.target.context.innerText == 'New') {
                    return "Add new Task";
                }

                else if (e.target.context.innerText == 'A') {
                    return "Applicability";
                }
                else if (e.target.context.innerText == 'AD') {
                    return "Auditors Master";
                }
            }

           

        </script>
    </div>
</div>

@(Html.Kendo().Window()
    .Name("wndTask")
    .Scrollable(true)
    .Visible(false)
    .Pinned(true)
    .Modal(true)
    .Events(e => e.Open("adjustSize"))
    .Events(e => e.Refresh("OnRefreshTask"))
)

<script>

    $("#ExcelExport").click(function (e) {
        
        e.preventDefault();
        window.location = '/BM_Management/Task/ExportTask';
    });

    $("#customCommand").click(function (e) {
        e.preventDefault();
        CreateNew(e);
    });

    function CreateNew(e) {
        e.preventDefault();
        OnOpenTask('a');
        $("#wndTask").attr("style", "min-height:100px;");
        var direction = "AddEditTask?Id=" + 0;
        if (e.currentTarget.innerText != "New") {
            $("#wndTask").kendoWindow({
                title: "Edit - Task",
            });
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            direction = "AddEditTask?Id=" + dataItem.Id + "&MeetingId=" + 0 + "&EntityId=" + 0 + "&AgendaId=" + 0;
            var wnd = $("#wndTask").data("kendoWindow");
            var opts = wnd.options;
        }
        else {
            $("#wndTask").kendoWindow({
                title: "Add -Task",
            });
            $("#wndTask").attr("style", "min-height:100px;");
            direction = "AddEditTask?Id=" + 0 + "&MeetingId=" + 0 + "&EntityId=" + 0 + "&AgendaId=" + 0;
            var wnd = $("#wndTask").data("kendoWindow");
            var opts = wnd.options;
        }
        wnd = $("#wndTask").kendoWindow({
            title: "Edit - Entity Master",
            actions: [
                         "Pin",
                         "Minimize",
                         "Maximize",
                         "Close"
            ],
            content: direction,
            width: "80%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefreshTask(); },
            close: function (e) {
                $(this.element).empty();
                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {
                OnOpenTask();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "80%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();

    }


    function adjustSize() {
        // if ($(window).width() < 500 || $(window).height() < 400) {
        //   this.maximize();
        // }
    }

    function OnOpenTask(e) {
        var wnd = $("#wndTask").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }


    function OnRefreshTask() {
        var wnd = $("#wndTask").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }


    function filterProducts() {
        return {
            stateId: $("#stateId").val()
        };
    }

    function filterProductllp() {
        return {
            stateId: $("#llpRegstateId").val()
        };
    }

    function filterProductllpcor() {
        return {
            stateId: $("#ddlcorStatellp").val()
        };
    }

    function filterProducttrust() {
        
        return {
            stateId: $("#trustRegi_StateId").val()
        };
    }

    function filterProductbodyCorporate() {
        
        return
        {
            CountryId: $("#ddlbodyCountyId").val();
        };
    }
    function DeleteEntity(id) {
        $.ajax({
            url: "/api/EntityMasterAPI/DeleteEntity?Id=" + id,
            method: "DELETE",
            success: function () {
                alert("Deleted Successfully");
                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
            }
        });
    }
    var wnddeletetask;
    $(document).ready(function () {
        wnddeletetask = $("#modalWindow").kendoWindow({
            title: "Delete confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");
    });
    function openWindow(e) {
        e.preventDefault();
        
        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.FileId;
        wnddeletetask.center().open();
        $("#yes").click(function () {
            DeleteFile(id)
            grid.removeRow(row);
            wnddeletetask.close();
        });

        $("#no").click(function () {
            wnddeletetask.close();
        });
    }
    function DeleteFile(id)
    {
        $.ajax({
            url: "/api/TaskAPI/DeleteFileData?FileId=" + id,
            method: "DELETE",
            success: function () {
                alert("Deleted Successfully");
                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
            }
        });

    }

    function DownloadTaskFile(e)
    {
         var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
         window.location.href = "@Url.Action("TaskFileDownload1", "Task")?Id=" + dataItem.FileId;
    }
    function ViewTaskFile(e)
    {

    }



</script>
