﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMNotes

<div id="example">
    <div id="window">

        <div class="row">

            <div class="col-md-12" style="display:none" id="Divsuccess">
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

                    <lable id="lblsuccess"></lable>

                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-12" style="display:none" id="Diverror">
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <lable id="lblerrormsg"></lable>
                </div>
            </div>

        </div>

        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <div class="row colpadding0">
                    <div class="col-md-3  colpadding0">
                        @(Html.Kendo().DropDownListFor(m => m.Notestype)
                                .DataTextField("Name")
                                .DataValueField("Id")
                                .OptionLabel("Select Notes Type")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Url("/api/NotesAPI/GetDropDownforNotesType").Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(true);
                                })
                               .HtmlAttributes(new { style = "width: 100%", @Id = "ddlNotetypeType" })
                        )
                        @Html.ValidationMessageFor(model => model.Notestype, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row colpadding0 mt30">
                    <div class="col-md-3  colpadding0">
                        @Html.Kendo().TextBoxFor(m => m.Title).HtmlAttributes(new { @placeholder = "Please Fill Notes Title", style = "width: 100%" })
                    </div>
                </div>

                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0">
                        @*@Html.TextArea("NotesDetails", "", new { @class = "k-textbox", style = "width: 100%; height: 150px;" })*@

                        @(Html.Kendo().EditorFor(m => m.NotesDetails)

      .HtmlAttributes(new { style = "height:160px" })
      //, aria_label = "editor"
      .Tools(tools => tools
          .Clear()
          .Bold().Italic().Underline().Strikethrough()
          .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
          .InsertUnorderedList().InsertOrderedList()
          .Outdent().Indent()
          .CreateLink().Unlink()
          .InsertImage()
          .InsertFile()
          .SubScript()
          .SuperScript()
          .TableEditing()
          //.ViewHtml()
          .Formatting()
          .CleanFormatting()
          //.FontName()
          //.FontSize()
          //.FontColor().BackColor()
      //.Print()
      // .ExportAs()
      )
      .Resizable(resizable => resizable.Content(true).Toolbar(true))
                        )

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
