﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.CommitteeCompVM


<div id="divCommittee">
        
        <div id="example">
            <div id="window">

                <div id="divDetailsNew">
                    <div class="container">

                        @if (Model.Response != null)
                        {
                            <div class="row">
                                <div class="col-md-12 colpadding0">
                                    @Html.Partial("_Response", Model.Response)
                                </div>
                            </div>
                        }

                        <fieldset class="col">
                            <legend class="amp-mb5"><label style="font-size:17px"><b>@Model.Name</b></label></legend>

                            <div class="row form-group">
                                <div class="col-md-12 colpadding0">

                                    
    @if (Model.Customer_Id == null)
    {
        <div class="col-md-5 colpadding0 hidden">
            <label class="control-label">Company Name</label>
            @(Html.Kendo().DropDownList()
                                      .Name("ddlEntityId")
                                      .DataTextField("EntityName")
                                      .DataValueField("Id")
                                      //.Events(e => e.Change("Change"))
                                      .DataSource(source =>
                                      {
                                          source.Read(read =>
                                          {
                                              read.Url("/api/EntityMasterAPI/GetDropDownforEntity").Type(HttpVerbs.Get);
                                          })
                                          .ServerFiltering(false);
                                      })
                                      .OptionLabel("Select Company")
                                       .HtmlAttributes(new { style = "width: 90%", @Id = "ddlEntityId", autocomplete = "off", @readonly = "readonly" })
            )

        </div>

        <div class="col-md-4 colpadding0">

            <label class="control-label">Company Type</label>
            @Html.Kendo().DropDownList().Name("ddlRulesFor").BindTo(new SelectList(new List<object> {
                                    new {id="0",text="Select"},
                                    new {id="1",text="Private"},
                                    new {id="2",text="Public Company"},
                                    new {id="9",text="Deemed Public Company"},
                                    new {id="10",text="Listed Company"}}, "id", "text")).Value((Model.Customer_Id == null ? "1" : "0")).HtmlAttributes(new { style = "width: 80%;", onchange = "ruleForChange()" })

        </div>
    }
    else
    {
        <div class="col-md-5 colpadding0">
            <label class="control-label">Company Name</label>
            @(Html.Kendo().DropDownList()
                                  .Name("ddlEntityId")
                                  .DataTextField("EntityName")
                                  .DataValueField("Id")
                                  //.Events(e => e.Change("Change"))
                                  .DataSource(source =>
                                  {
                                      source.Read(read =>
                                      {
                                          read.Url("/api/EntityMasterAPI/GetDropDownforEntity").Type(HttpVerbs.Get);
                                      })
                                      .ServerFiltering(false);
                                  })
                                  .OptionLabel("Select Company")
                                   .HtmlAttributes(new { style = "width: 90%", @Id = "ddlEntityId", autocomplete = "off", onchange = "ruleForChangeCompany()" })
            )

        </div>

        <div class="col-md-4 colpadding0 hidden">

            <label class="control-label">Company Type</label>
            @Html.Kendo().DropDownList().Name("ddlRulesFor").BindTo(new SelectList(new List<object> {
                                    new {id="0",text="Select"},
                                    new {id="1",text="Private"},
                                    new {id="2",text="Public Company"},
                                    new {id="9",text="Deemed Public Company"},
                                    new {id="10",text="Listed Company"}}, "id", "text")).Value((Model.Customer_Id == null ? "1" : "0")).HtmlAttributes(new { style = "width: 80%;", onchange = "ruleForChange()" })

        </div>
    }    
                                    

                                    

                                </div>
                            </div>


                            <div class="row form-group">
                                <div class="col-md-12 colpadding0">

                                    <div id="viewPlaceHolder">
                                        @if (Model.Customer_Id == null)
                                        {
                                            if(ViewBag.CommitteeCompRulesForVM_model !=null)
                                                {
                                                    Html.RenderPartial("_CommitteeRulesFor", (BM_ManegmentServices.VM.CommitteeCompRulesForVM)ViewBag.CommitteeCompRulesForVM_model);
                                                }
                                        }
                                        else
                                        {
                                            <div style="height:390px;">
                                            </div>
                                        }
                                        
                                         
                                    </div>

                                </div>
                            </div>

                        </fieldset>

                    </div>

                </div>
            </div>
        </div>

</div>

<script>
    $(document).ready(function(){

    });

    function ruleForChangeCompany() {
        var Entity_Id = $("#ddlEntityId").data("kendoDropDownList");
        var index = Entity_Id.selectedIndex;

        var Entity_Type = $("#ddlRulesFor").data("kendoDropDownList");


        //Entity_Type.value(0);
        Entity_Type.value(Entity_Id.dataItem(index).Entity_Type);
        
        $("#viewPlaceHolder").html("<div style='height:390px;'></div>");

        ruleForChange();
    }


    function ruleForChange() {
                var id = 0;
                var Entity_Type = $("#ddlRulesFor").data("kendoDropDownList").value();
                var Entity_Id = $("#ddlEntityId").data("kendoDropDownList").value();

                var Customer_Id ="@Model.Customer_Id";

           var wnd = $("#wndAdd").data("kendoWindow");
           kendo.ui.progress(wnd.element, true);
           
                if(Customer_Id >0 )
                {
                    $("#viewPlaceHolder").load("../CommitteeComposition/RulesFor",
                       { Committee_Id : @Model.Id , EntityType: Entity_Type , CustomerId : Customer_Id, EntityId : Entity_Id}
                       ,function (){
                           kendo.ui.progress(wnd.element, false);
                       }
                       );
                }
                else{
                    $("#viewPlaceHolder").load("../CommitteeComposition/RulesFor",
                       { Committee_Id : @Model.Id , EntityType: Entity_Type , CustomerId : Customer_Id}
                       ,function (){
                           kendo.ui.progress(wnd.element, false);
                       }
                       );
                }
            }


    function createOrCopyRules(option) {
        var id = 0;
        var Entity_Type = $("#ddlRulesFor").data("kendoDropDownList").value();
        var Entity_Id = $("#ddlEntityId").data("kendoDropDownList").value();

        var Customer_Id ="@Model.Customer_Id";
        $("#viewPlaceHolder").load("../CommitteeComposition/RulesFor",
               { Committee_Id : @Model.Id , EntityType: Entity_Type , CustomerId : Customer_Id, EntityId : Entity_Id ,command_name : option});

    }

</script>
