﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MeetingDetails



<div id="divcommitteeRulesDetails">
    <div id="divRule_Meeting">
        @{
            string div_class = "";
            string div_Scehdule_class = "";
            if (Model.IsMeetingSchedule == false)
            {
                div_class = "hidden";
            }

            if (Model.Customer_Id != null && Model.StdRefId == null)
            {
                div_class = "hidden";
                div_Scehdule_class = "hidden";
            }

            @Html.HiddenFor(m => m.MeetingId)
            @Html.HiddenFor(m => m.CommitteeId)
            @Html.HiddenFor(m => m.Entity_Type)
            @Html.HiddenFor(m => m.Customer_Id)
            @Html.HiddenFor(m => m.Entity_Id)

            <fieldset class="col">
                <legend class="amp-mb5"><label style="font-size:17px"></label></legend>
                <div class="row form-group mt10">
                    <div class="col-md-12 colpadding0">

                        <div class="col-md-3 colpadding0">
                            <label class="control-label">Voting Required</label><br />
                            @(Html.Kendo().RadioButtonFor(m => m.VotingRequirement).Label("Yes").Value(true).HtmlAttributes(new {}))
                            &nbsp; &nbsp;
                            @(Html.Kendo().RadioButtonFor(m => m.VotingRequirement).Label("No").Value(false).HtmlAttributes(new {}))
                            @Html.ValidationMessageFor(model => model.VotingRequirement, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-4 colpadding0">
                            <div class="col-md-1 colpadding0"></div>
                            <div class="col-md-8 colpadding0">
                                <label class="control-label">Disclosure in Board Report</label>
                                &nbsp; &nbsp;
                                @(Html.Kendo().RadioButtonFor(m => m.DisclosureRequirement).Label("Yes").Value(true).HtmlAttributes(new { }))
                                &nbsp; &nbsp;
                                @(Html.Kendo().RadioButtonFor(m => m.DisclosureRequirement).Label("No").Value(false).HtmlAttributes(new {}))
                                @Html.ValidationMessageFor(model => model.DisclosureRequirement, "", new { @class = "text-danger" })
                            </div>
                        </div>



                    </div>
                </div>

                <div class="row form-group mt20">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-3 colpadding0">
                            <label class="control-label">Minimum Meeting</label><br />
                            @if (Model.Customer_Id == null)
                            {
                                @Html.Kendo().TextBoxFor(m => m.MinMeeting).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 50px;", onchange = "txtMinMeeting_change('change')", type = "number" })
                            }
                            else
                            {
                                @Html.Kendo().TextBoxFor(m => m.MinMeeting).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 50px;", type = "number" })
                            }

                        </div>

                        <div class="col-md-4 colpadding0">
                            <div class="col-md-1 colpadding0"></div>
                            <div class="col-md-10 colpadding0">
                                <label class="control-label">Gap between 2 Meeting(In Days)</label><br />
                                @Html.Kendo().TextBoxFor(m => m.MeetingGapInDays).HtmlAttributes(new { style = "width: 50px;", type = "number" })
                            </div>
                        </div>

                        <div class="col-md-3 colpadding0 @div_Scehdule_class">
                            <div class="col-md-1 colpadding0"></div>
                            <div class="col-md-10 colpadding0">
                                <label class="control-label">Meeting Schedule</label><br />
                                @if (Model.Customer_Id == null)
                                {
                                    @(Html.Kendo().RadioButtonFor(m => m.IsMeetingSchedule).Label("Yes").Value(true).HtmlAttributes(new {}))
                                }
                                else
                                {
                                    @(Html.Kendo().RadioButtonFor(m => m.IsMeetingSchedule).Label("Yes").Value(true))
                                }
                                &nbsp;&nbsp;
                                @if (Model.Customer_Id == null)
                                {
                                    @(Html.Kendo().RadioButtonFor(m => m.IsMeetingSchedule).Label("No").Value(false).HtmlAttributes(new { }))
                                }
                                else
                                {
                                    @(Html.Kendo().RadioButtonFor(m => m.IsMeetingSchedule).Label("No").Value(false))
                                }

                            </div>
                        </div>
                    </div>
                </div>

                <div id="divMeetingSchedule" class="row form-group @div_class @div_Scehdule_class">
                    <div class="col-md-10 colpadding0">
                        @if (Model.lstMeetingSchedule != null)
                        {
                            if (@Model.lstMeetingSchedule.Count > 0)
                            {
                            <table id="tblDetailsOfMeeting" style="width:80%; border-collapse: separate; border-spacing: 0 0.5em;">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:2%;"><lable class="control-label">SrNo</lable></th>
                                        <th style="width:0.5%;">&nbsp;</th>
                                        <th class="text-center" style="width:11%;"><lable class="control-label">Details</lable></th>
                                        <th style="width:0.5%;">&nbsp;</th>
                                        <th class="text-center" style="width:2%;"><lable class="control-label">Month</lable></th>
                                        <th style="width:0.5%;">&nbsp;</th>
                                        <th class="text-center" style="width:2%;"><lable class="control-label">Day</lable></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @{
                                        if (@Model.lstMeetingSchedule.Count > 0)
                                        {
                                            int i = -1;

                                            foreach (var item1 in Model.lstMeetingSchedule)
                                            {
                                                i++;
                                                <tr style="grid-row-sizing:350px;">
                                                    <td class="text-center">@( i + 1 )</td>
                                                    <td></td>
                                                    <td>
                                                        @Html.Kendo().DropDownListFor(model => model.lstMeetingSchedule[i].Details).BindTo(new SelectList(new List<object> {
                                                    new {id="Before",text="Before"},
                                                    new {id="After",text="After"},
                                                    }, "id", "text")).HtmlAttributes(new { style = "width: 95%;" })

                                                    </td>
                                                    <td>&nbsp;</td>
                                                    <td>
                                                        @Html.Kendo().DropDownListFor(model => model.lstMeetingSchedule[i].Month).BindTo(new SelectList(new List<object> {
                                                    new {id="0",text="Select"},
                                                    new {id="3",text="Q1"},
                                                    new {id="6",text="Q2"},
                                                    new {id="9",text="Q3"},
                                                    new {id="12",text="Q4"},
                                                    }, "id", "text")).HtmlAttributes(new { style = "width: 95%;" })
                                                    </td>
                                                    <td>&nbsp;</td>
                                                    <td>

                                                        @(Html.Kendo().TextBoxFor(model => model.lstMeetingSchedule[i].Day).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 90%" }))
                                                        @Html.ValidationMessageFor(model => model.lstMeetingSchedule[i].Day, "", new { @class = "text-danger" })

                                                        @Html.HiddenFor(model => model.lstMeetingSchedule[i].MeetingScheduleId)
                                                        @Html.HiddenFor(model => model.lstMeetingSchedule[i].CommitteeId)
                                                        @Html.HiddenFor(model => model.lstMeetingSchedule[i].Entity_Type)
                                                        @Html.HiddenFor(model => model.lstMeetingSchedule[i].Customer_Id)
                                                        @Html.HiddenFor(model => model.lstMeetingSchedule[i].Entity_Id)
                                                    </td>

                                                </tr>

                                            }
                                        }
                                    }
                                </tbody>

                            </table>
                            }
                       }
                    </div>
                </div>

                <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;">
                    <button type="button" id="btnclose2" class="k-button">Close</button>
                </div>

            </fieldset>


                <script>

    $(document).ready(function () {
        //$("#tblDetailsOfMeeting").kendoGrid({
        //    sortable: false,
        //    scrollable: false
        //});

       // LoadDays();
        txtMinMeeting_change('load');
    });

            function ddlMonth_Change_Old(obj) {

                var ddlMonth = $("#" + obj.id).data("kendoDropDownList");
                var aa = obj.parentNode.parentNode.parentNode.rowIndex - 1;
                var val = ddlMonth.value();

                var tableRef = document.getElementById('tblDetailsOfMeeting').getElementsByTagName('tbody')[0];

                //for (var aa = 0; aa < tableRef.rows.length; aa++) {
                    $("#" + tableRef.rows[aa].cells[6].children[0].lastChild.id).kendoDropDownList({
                        dataSource: [
                            { date_: "", dateName_: "Select" },
                        ],
                        serverFiltering: false,
                        dataTextField: "dateName_",
                        dataValueField: "date_",
                        value: 0,
                        //optionLabel: "Select Relative",
                        index: 0
                    });

                    var ddldays = $("#" + tableRef.rows[aa].cells[6].children[0].lastChild.id).data("kendoDropDownList");

                    for (var i = 1; i <= 28; i++) {
                        ddldays.dataSource.add({ date_: i, dateName_: i });
                    }

                    if (val == "4" || val == "6" || val == "9" || val == "11") {
                        ddldays.dataSource.add({ date_: 29, dateName_: 29 });
                        ddldays.dataSource.add({ date_: 30, dateName_: 30 });
                    }
                    else if (val == "1" || val == "3" || val == "5" || val == "7" || val == "8" || val == "10" || val == "12") {
                        ddldays.dataSource.add({ date_: 31, dateName_: 31 });
                    }
               // }

            }

            function ddlMonth_Change(obj) {

                var ddlMonth = $("#" + obj.id).data("kendoDropDownList");
                var aa = obj.parentNode.parentNode.parentNode.rowIndex - 1;
                var val = ddlMonth.value();

                var tableRef = document.getElementById('tblDetailsOfMeeting').getElementsByTagName('tbody')[0];

                $("#" + tableRef.rows[aa].cells[6].children[0].lastChild.id).kendoDropDownList({
                    dataSource: {
                        transport: {
                            read: {
                                url: "/api/CommitteeCompAPI/GetDates?Month_Id=" + val + ""
                            }
                        },
                        serverFiltering: false
                    },
                    dataTextField: "DayName_",
                    dataValueField: "Day_",
                    value :1,
                    //optionLabel: "Select Relative",
                    index: 0
                });


            }

            function txtMinMeeting_change(e) {

                var txtMinMeeting = $("#MinMeeting");
                var txtMeetingGapInDays = $("#MeetingGapInDays");

                if(txtMinMeeting.val() > 1)
                {
                    txtMeetingGapInDays.attr('readonly', false);
                }
                else {
                    txtMeetingGapInDays.attr('readonly', true);
                    txtMeetingGapInDays.val('');
                }

                if (e == "change"){
                    var IsMeetingSchedule = $("#rdbIsMeetingSchedule");
                    if (IsMeetingSchedule[0].checked == true) {
                        txtMinMeeting_changed();
                    }
                }
            }

                </script>
                                        }
    </div>
</div>



