﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Composition


<div id="divcommitteeRulesDetails">
    <div id="divRule_Quorum">
            @using (Ajax.BeginForm("SaveUpdateMinimumDirector", "CommitteeComposition", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divRule_Quorum", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmUpdateQuorum" }))
            {
                @Html.HiddenFor(m => m.RuleId)
                @Html.HiddenFor(m => m.CommitteeId)
                @Html.HiddenFor(m => m.Entity_Type)
                @Html.Hidden("RuleType","Q")
                @Html.HiddenFor(m => m.Customer_Id)
                @Html.HiddenFor(m => m.Entity_Id)

        <fieldset class="col">
            <legend class="amp-mb5"><label style="font-size:17px"></label></legend>

            @if (Model.Message != null)
            {
                <div class="row">
                    <div class="col-md-12 colpadding0">
                        @Html.Partial("_Response", Model.Message)
                    </div>
                </div>
            }

            <div class="row form-group">
                <div class="col-md-12 colpadding0">


                    <div class="col-md-3 colpadding0">
                        <label class="control-label" style="margin-bottom:10px;">Designation</label>
                        @(Html.Kendo().DropDownListFor(m => m.DesignationId)
                                    .Name("DesignationIdQuorum")
                                    .DataValueField("Id")
                                    .DataTextField("Name")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/DesignationMasterAPI/GetDirectors_DesignationDropdown").Type(HttpVerbs.Get);
                                        });
                                    })
                                    .OptionLabel("Select")
                        .HtmlAttributes(new { style = "width: 90%;" }))
                    </div>

                    <div class="col-md-5 colpadding0">
                        <div class="col-md-1 colpadding0"></div>
                        <div class="col-md-11 colpadding0">
                            <label class="control-label">Total Strength</label>

                            <table>
                                <tbody>

                                    <tr>
                                        <td rowspan="2">@Html.Kendo().TextBoxFor(m => m.DesignationCount).HtmlAttributes(new { style = "width: 50px;" , @type="number" })</td>
                                        <td rowspan="2">OR</td>
                                        <td>@Html.Kendo().TextBoxFor(m => m.DesignationNumerator).HtmlAttributes(new { style = "width: 50px; Height:25px;", @type = "number" })</td>
                                        <td rowspan="2">&nbsp;</td>
                                        <td rowspan="2">
                                            @if (Model.RuleId > 0)
                                            {
                                                <button type="submit" value="update" class="k-primary k-button k-grid-update k-button-icontext">Update</button>
                                            }
                                            else
                                            {
                                                <button type="submit" value="Save" class="k-primary k-button k-grid-update k-button-icontext">Add</button>
                                            }
                                        
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@Html.Kendo().TextBoxFor(m => m.DesignationDenominator).HtmlAttributes(new { style = "width: 50px;Height:25px;", @type = "number" })</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                    <div class="col-md-2">

                    </div>

                </div>

            </div>

            <div class="row form-group">
                @if (ViewBag.lstQuorum != null)
                {
                    int counter = 0;
                    <div class="col-md-12 colpadding0">

                        <table id="tblDetailsOfQuorum">
                            <thead>
                                <tr>
                                    <th data-field="SrNo">SrNo</th>
                                    <th data-field="Rule_">Rule</th>
                                    <th data-field="Action">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.lstQuorum)
                                {
                                    counter++;
                                <tr>
                                    <td>@counter </td>
                                    <td>@Html.Raw(item.Rule)</td>
                                    <td>
                                        <button type="button" onclick="EditQuorum(@item.RuleId, @item.CommitteeId)" class="k-button k-button-icontext k-grid-edit" style="min-width:25px;"><span class="k-icon k-edit"></span></button>
                                        
                                        @if (item.StdRefId == null)
                                        {
                                            <button type="button" onclick="DeleteQuorum(@item.RuleId, @item.CommitteeId)" class="k-button k-button-icontext k-grid-delete" style="min-width:25px;"><span class="k-icon k-delete"></span></button>
                                        }
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                }
            </div>


        </fieldset>
        }
    </div>
</div>

<script>

    $(document).ready(function () {
        $("#tblDetailsOfQuorum").kendoGrid({
            sortable: false,
            scrollable: false
        });


        var validator1 = $("#frmUpdateQuorum").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
    });

    function EditQuorum(id, committeeId) {
        $("#frmUpdateQuorum").attr(
                        "action",
                        "@Url.Action("EditMinimumDirector", "CommitteeComposition")" + "?Rule_Id=" + id + "&Committee_Id=" + committeeId
                    ).submit();
    }

    function DeleteQuorum(id, committeeId) {
        $("#frmUpdateQuorum").attr(
                        "action",
                        "@Url.Action("EditMinimumDirector", "CommitteeComposition")" + "?Rule_Id=" + id + "&Committee_Id=" + committeeId+ "&command_name=deleteRule"
                    ).submit();
    }
    $(document).ready(function () {
        $(".k-grid-edit").kendoTooltip({ content: "Edit" });
    });
    $(document).ready(function () {
        $(".k-grid-delete").kendoTooltip({ content: "Delete" });
    });
</script>