﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.CommitteeCompVM


<div id="divCommittee">
    @using (Ajax.BeginForm("Save", "CommitteeComposition", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divCommittee", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmCreateCommittee", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Customer_Id)
        @Html.HiddenFor(m => m.IsCommittee)
        @Html.HiddenFor(m => m.CompositionType)
        string btnName = Model == null ? "Save" : Model.Id > 0 ? "Update" : "Save";
        <div id="example">
            <div id="window">
                <div id="divDetailsNew">
                    <div class="container">

                        @if (Model.Response != null)
                        {
                        <div class="row">
                            <div class="col-md-12 colpadding0">
                                @Html.Partial("_Response", Model.Response)
                            </div>
                        </div>
                        }

                        <fieldset class="col">
                            <div class="row form-group">
                                <div class="col-md-12 colpadding0">
                                    <span style="color:red">*</span><label class="control-label">Committee Name</label>
                                    @(Html.Kendo().TextBoxFor(m => m.Name).HtmlAttributes(new { @class = "form-control k-textbox", @Id = "Name", style = "width: 100%" }))
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-12 colpadding0 mt30">
                                    <label class="control-label">Description</label>
                                    @(Html.TextAreaFor(m => m.Description_, new { @class = "form-control k-textbox", @Id = "Description_", style = "width: 100%" }))
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="row col-md-12 colpadding0 text-center">
            <button type="submit" id="btnsub1" class="btn btn-primary">@btnName</button>
            <button type="button" id="btnclose1" class="btn btn-primary" onclick="return closeWindow();">Close</button>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        var validator = $("#divCommittee").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
    });
</script>
