﻿@using Kendo.Mvc.UI;
@model dynamic
@{
    ViewBag.Title = "Master / Committee ";

}

<script>

    $(document).ready(function () {
        var breadCrumbData = [
           {
               displayText: "Masters",
               navigateUrl: "#",
           }, {
               displayText: "Committee",
               navigateUrl: "/BM_Management/Director_Master/Index",
           }
        ];

        setBreadCrumb(breadCrumbData);

        $("#gridKendo .k-grid-content").css({
            "overflow-y": "scroll"
        });
    });

    function onRowBound(e) {

        var grid = $("#gridKendo").data("kendoGrid");
        var gridData = grid.dataSource.view();

        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            if (gridData[i].Customer_Id == null) {

                var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                var editButton = $(currenRow).find(".k-grid-edit").addClass("k-state-disabled");
                var deleteButton = $(currenRow).find(".k-grid-delete").addClass("k-state-disabled");;
            }
        }
               
        getGridborder(grid);
        GetICons();
    }
</script>

<div class="row Dashboard-white-widget">
    <div class="dashboard">
        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="col-md-6 colpadding0">
                </div>

                <div class="col-md-1">
                </div>
                @if (Model.CanAdd)
                {
                    <div class="col-md-5 colpadding0 text-right">
                        <button class="btn btn-primary add-button"  id="customCommand" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</button>
                    </div>
                }
            </div>
        </div>

        <div class="row col-md-12 colpadding0 mt30">
            @(Html.Kendo().Grid<BM_ManegmentServices.VM.CommitteeCompVM>()
    .Name("gridKendo")
    .Columns(columns =>
    {
        columns.Bound(o => o.Name).Title("Committee Name").HtmlAttributes(new { title = "#= Name #", @style = "width:20%" }).Filterable(ftb => ftb.Multi(true).Search(true)); ;
        columns.Bound(o => o.Description_).Title("Description").HtmlAttributes(new { title = "#= Description_ #", @style = "width:65%" });
        columns.Command(command =>
        {
            if (Model.CanEdit)
            {
                command.Custom("Edit").Click("EditCommittee").HtmlAttributes(new { @class = "k-grid-edit hoverCircle" });
            }
            if (Model.CanDelete)
            {
                command.Custom("Delete").Click("DeleteCommittee").HtmlAttributes(new { @class = "k-grid-delete hoverCircle" });
            }
            command.Custom("R").Click("OpenRules").HtmlAttributes(new { @class = "hoverCircle" });
            //command.Destroy().HtmlAttributes(new { @class = "k-grid-delete" });
        }).Title("Action").HtmlAttributes(new { @style = "width:15%;text-align: center;" }).HeaderHtmlAttributes(new { style = "text-align:center;" });
    })
    .EnableCustomBinding(true)
    //.ToolBar(
    //    toolbar => toolbar.Custom().Text("New").HtmlAttributes(new { id = "customCommand", @class = "k-grid-add", title = "Create New" })
    //)
    //.Events(ev => ev.DataBound("onDataBound"))
    .Events(e => e.DataBound("onRowBound"))
    //.Editable(editable =>
    //{
    //    editable.Mode(GridEditMode.PopUp).TemplateName("CreateCommitteeComp");
    //    editable.Window(x => x.Title("Add Committee").Width(550));
    //    editable.DisplayDeleteConfirmation("Your Message here");
    //})
    .Navigatable()
    .Pageable(pageable => pageable
        .Refresh(false)
        .PageSizes(true)
        .ButtonCount(5))
        .Filterable()
        .Sortable()
        .Reorderable(reorderable => reorderable.Columns(true))
        .Resizable(resizable => resizable.Columns(true))
        .ColumnMenu(col => col.Columns(false))
        .DataSource(dataSource => dataSource
        //.WebApi()
        .Ajax()
        .PageSize(10)
        //.ServerOperation(false)
        .Model(model =>
        {
            model.Id(o => o.Id);
            model.Field(o => o.Name);
            model.Field(o => o.Description_);
        })
    .Read(read => read.Action("GetAllCommittee", "CommitteeComposition", new { CustomerId = Model.Customer_Id }))
    .Create(read => read.Url("/api/CommitteeCompAPI/CreateCommitteeComp").Type(HttpVerbs.Post))
//.Destroy(read => read.Url("/api/CommitteeCompAPI/CreateCommitteeComp").Type(HttpVerbs.Post))
//.Update(update => update.Url("/api/CommitteeCompAPI/UpdateCommitteeComp").Type(HttpVerbs.Post))
)
            )

        </div>
        
        @(Html.Kendo().Window()
        .Name("wndAdd")
        .Title("Add - Director Master")
        .Visible(false)
        .Modal(true)
        .Draggable(true)
        .Scrollable(true)
        .Events(e => e.Open("adjustSize"))
        .Events(e => e.Refresh("OnRefresh")))
        
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-add")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Add - Committee Composition")
        .Events(e => e.Show("PositionTooltip")))

        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-delete")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Delete")
       .Events(e => e.Show("PositionTooltip"))
        )

        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-edit")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Edit")
        .Events(e => e.Show("PositionTooltip")))
        

        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-R")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Rules")
        .Events(e => e.Show("PositionTooltip")))
      
    </div>
</div>

<script>
    function sync_handler(e) {
        this.read();
    }

    function toolTipContent(e) {
        return e.target.context.innerText;
    }

    $("#customCommand").click(function (e) {
        e.preventDefault();

        var Customer_Id = "@Model.Customer_Id";
        var direction = "Create?Customer_Id=" + Customer_Id;
        openPopup("Create Committee Composition", direction);
    });

    function closeWindow() {
        $("#wndAdd").data("kendoWindow").close();

        $('#gridKendo').data('kendoGrid').dataSource.read();
        $('#gridKendo').data('kendoGrid').refresh();
    }

    function EditCommittee(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var Customer_Id = "@Model.Customer_Id";
        if (dataItem.Customer_Id != null) {
            var direction = "Edit?id=" + dataItem.Id + "&Customer_Id=" + Customer_Id;
            openPopup("Edit Committee Composition", direction);
        }
    }

    function OpenRules(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        var Customer_Id = "@Model.Customer_Id";

        var direction = "Rules?id=" + dataItem.Id + "&Customer_Id=" + Customer_Id;
        openPopup("Committee Composition Rules", direction);
    }

    function DeleteCommittee(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        if (dataItem.Customer_Id != null) {

            var data = {
                id: dataItem.Id
            };

            if (confirm("Are you Sure.")) {
                $.ajax({
                    type: "POST",
                    url: "Delete",
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    data: { "id": dataItem.Id },
                    success: function (d) {

                        $('#gridKendo').data('kendoGrid').dataSource.read();
                        $('#gridKendo').data('kendoGrid').refresh();

                    },
                    error: function (xhr, textStatus, errorThrown) {
                        // TODO: Show error
                        alert(errorThrown)
                    }
                });
            }
            else {
                alert('not');
            }
        }
    }

    function openPopup(t, d) {
        OnOpen('a');
        settracknew('Committee Composition Master', 'Action', 'AddNew', '');
        var direction = d;
        $("#wndAdd").kendoWindow({
            title: t,
            modal: true
        });

        //$("#wndAdd").attr("style", "min-height:100px;");

        var wnd = $("#wndAdd").data("kendoWindow");
        var opts = wnd.options;
        // if (!wnd) {
        wnd = $("#wndAdd").kendoWindow({
            title: "Add - Committee Composition",
            actions: ["Close"],
            //  content: direction,
            width: "45%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresh(); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function () {
                OnOpen();
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        // }
        wnd.modal = true;
        opts.width = "40%";
        wnd.setOptions(opts);
        wnd.refresh(direction);
        wnd.center();
        wnd.open();
    }

    function adjustSize() {
        // if ($(window).width() < 500 || $(window).height() < 400) {
        //   this.maximize();
        // }
    }

    function OnOpen(e) {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");

    }

    function OnRefresh() {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function txtMinMeeting_changed() {
        var Customer_Id = "@Model.Customer_Id";
        if (Customer_Id > 0) {

        } else {
            $("#frmUpdateMeeting").attr(
                "action",
                "@Url.Action("SaveUpdateMeeting", "CommitteeComposition", new { command_name = "btnNoofMeeting" })"
            ).submit();
        }
    }

    $(document).on("change", "input[name='IsMeetingSchedule']", function () {
        var Customer_Id = "@Model.Customer_Id";
        if (Customer_Id > 0) {

        } else {
            if (this.value == "True") {
                $("#divMeetingSchedule").removeClass('hidden');

                txtMinMeeting_changed();
            } else {
                $("#divMeetingSchedule").addClass('hidden');
            }
        }
    });

</script>