﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VM_EntityuserAssignment
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
<div id="example">
    <div id="window">
        <!-- this will be the content of the popup -->
        @if (Model.successMessage)
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.successerrorMessage)))
                        {
                            <lable>@Model.successerrorMessage</lable>
                        }
                    </div>
                </div>
            </div>
        }

        @if (Model.errorMessage)
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.successerrorMessage)))
                        {
                            <lable>@Model.successerrorMessage</lable>
                        }
                    </div>
                </div>
            </div>
        }

        <div id="DivUserEntityAssignment">
            @using (Ajax.BeginForm("AddEditUserAssignment", "EntitiesUserAssignment", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivUserEntityAssignment", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmUpdateEntityUserMaster" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="row colpadding0">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-2 colpadding0 required">
                            <label for="txtPartner" class="control-label">User</label>
                        </div>
                        <div class="col-md-8 colpadding0">
                            @(Html.Kendo().DropDownListFor(m => m.user)
                              .OptionLabel("Select")
                              .DataTextField("Name")
                              .DataValueField("Id")
                              .Filter("contains")
                              .DataSource(source =>
                              {
                                  source.Read(read =>
                                  {
                                      read.Url("/api/EntityUserAssignmentAPI/GetUser?Role="+AuthenticationHelper.Role+ "&CustomerId="+AuthenticationHelper.CustomerID).Type(HttpVerbs.Get);
                                  }).ServerFiltering(false);
                              }).HtmlAttributes(new { style = "width: 100%", @Id = "ddlState", autocomplete = "off" }))
                            @Html.ValidationMessageFor(model => model.user, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row colpadding0 mt30">
                    <div class="col-md-2 colpadding0 required">
                        <label for="ddlStockExchangeId" class="control-label">Entity</label>
                    </div>
                    <div class="col-md-8 colpadding0">
                        @(Html.Kendo().MultiSelectFor(m => m.EntityId)
                          .DataTextField("EntityName")
                          .DataValueField("Id")
                          .Filter("contains")
                          .TagMode(TagMode.Single)
                          .DataSource(source =>
                          {
                              source.Read(read =>
                              {
                                  read.Url("/api/EntityMasterAPI/GetDropDownforEntity").Type(HttpVerbs.Get);
                              }).ServerFiltering(false);
                          }).HtmlAttributes(new { style = "width: 100%;height: 32px;", @Id = "ddlEntityId", autocomplete = "off" }))
                        @Html.ValidationMessageFor(model => model.EntityId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0 text-center">
                        <button type="submit" id="btnsave" class="btn btn-primary" value="Save" name="submitButton"><span class=""></span>Save</button>
                        <button type="button" id="btnuserassinmentclose" class="btn btn-primary" value="Close"><span class=""></span>Close</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    var validator = $("#frmUpdateEntityUserMaster").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

    $("#btnuserassinmentclose").click(function (z) {
        z.preventDefault();
        z.stopPropagation();
        $('#KendoPopupUserMaster').data("kendoWindow").close();
        $('#gridKendoUser').data('kendoGrid').dataSource.read();
        $('#gridKendoUser').data('kendoGrid').refresh();
    })

</script>

