﻿<!DOCTYPE html>
<html>
<head>    
    <link href="~/select2/select2.min.css" rel="stylesheet" />
    <link href="~/content/bootstrap.css" rel="stylesheet" />
    <link href="~/content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.common.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.rtl.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.silver.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="~/content/datepicker3.min.css" rel="stylesheet" />    
    <script type="text/javascript" src="../../Newjs/jquery-1.12.4.min.js"></script>
    <script src="~/masters/bootstrap.min.js"></script>    
    <script src="~/select2/select2.min.js"></script>
    <script src="~/select2/select2.full.js"></script>
    <script src="~/scripts/anjular(1.5.0).min.js"></script>
    <script src="~/masters/angular.js"></script>
    <script src="~/scripts/angular.js"></script>    
    <script src="~/scripts/angular.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/scripts/date.js"></script>
    <script src="~/masters/dirpagination.js"></script>
    <script type="text/javascript" src="../../Newjs/kendo.all.min.js"></script>
    <script type="text/javascript" src="../../Newjs/jszip.min.js"></script>

    <style type="text/css">
        .select2-container--default .select2-selection--multiple:before {
            content: ' ';
            display: block;
            position: absolute;
            border-color: #888 transparent transparent transparent;
            border-style: solid;
            border-width: 5px 4px 0 4px;
            height: 0;
            right: 6px;
            margin-left: -4px;
            margin-top: -2px;
            top: 50%;
            width: 0;
            cursor: pointer;
        }

        .select2-container--open .select2-selection--multiple:before {
            content: ' ';
            display: block;
            position: absolute;
            border-color: transparent transparent #888 transparent;
            border-width: 0 4px 5px 4px;
            height: 0;
            right: 6px;
            margin-left: -4px;
            margin-top: -2px;
            top: 50%;
            width: 0;
            cursor: pointer;
        }

        .div.k-grid-footer, div.k-grid-header {
            border-top-style: solid;
            border-top-width: 1px;
        }

        .k-grid-content {
            min-height: 394px !important;
        }

        html {
            color: #666666;
            font-size: 15px;
            font-weight: normal;
            font-family: 'Roboto',sans-serif;
        }

        .k-checkbox-label, .k-radio-label {
            display: inline;
        }

        .myKendoCustomClass {
            z-index: 999 !important;
        }

        .k-header .k-grid-toolbar {
            background: white;
            float: left;
            width: 100%;
        }

        .k-grid td {
            line-height: 1.0em;
        }

        .k-i-more-vertical:before {
            content: "\e006";
        }

        .k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
            background-color: #1fd9e1;
            background-image: none;
        }

        k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
            color: #000000;
            border-color: #1fd9e1;
            background-color: #f6f6f6;
        }

        #grid .k-grid-toolbar {
            background: white;
        }


        .k-pager-wrap > .k-link > .k-icon {
            margin-top: 5px;
            color: inherit;
        }

        .toolbar {
            float: left;
        }

        html .k-grid tr:hover {
            background: #E4F7FB;
        }

        html .k-grid tr.k-alt:hover {
            background: #E4F7FB;
            min-height: 30px;
        }

        .k-grid tbody .k-button {
            min-width: 30px;
            min-height: 30px;
            border-radius: 35px;
        }

        .k-button-icontext .k-icon, .k-button-icontext .k-image, .k-button-icontext .k-sprite {
            margin-right: 0px;
            margin-right: 0px;
            margin-left: 0px;
            margin-left: 0px;
        }

        .k-auto-scrollable {
            overflow: hidden;
        }

        .k-grid-header {
            padding-right: 0px !important;
        }

        .k-multicheck-wrap .k-item {
            line-height: 1.2em;
            font-size: 14px;
            margin-bottom: 5px;
        }

        label {
            display: inline-block;
            margin-bottom: 0px;
        }

        .k-filter-menu .k-button {
            width: 27%;
        }

        .k-label input[type="checkbox"] {
            margin: 0px 5px 0 !important;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            font-size: 15px;
            background: #f8f8f8;
            font-family: 'Roboto',sans-serif;
            color: #2b2b2b;
            font-weight: 400;
        }

        .k-primary {
            border-color: #1fd9e1;
            background-color: #1fd9e1;
        }

        .k-pager-wrap {
            background-color: #f8f8f8;
            color: #2b2b2b;
        }

        td.k-command-cell {
            border-width: 0 1px 0 1px;
        }

        .k-grid-pager {
            border-width: 1px 1px 1px 1px;
        }

        span.k-icon.k-i-calendar {
            margin-top: 6px;
        }

        .col-md-2 {
            width: 20%;
        }

        .k-filter-row > th:first-child, .k-grid tbody td:first-child, .k-grid tfoot td:first-child, .k-grid-header th.k-header:first-child {
            border-left-width: 1px;
            line-height: 14px;
        }

        .k-grid tbody tr {
            height: 38px;
        }
    </style>
    <script>
        var app=angular.module("KendoDemos", ['angularUtils.directives.dirPagination',"kendo.directives" ]);
        angular.element(document).ready(function () {
            //angular.bootstrap(document, ["app"]);
        })
         app.directive('myDatePicker', function () {
             return {
                 restrict: 'A',
                 require: '?ngModel',
                 link: function (scope, element, attrs, ngModelController) {

                     // Private variables
                     var datepickerFormat = 'm/d/yyyy',
                         momentFormat = 'M/D/YYYY',
                         datepicker,
                         elPicker;

                     // Init date picker and get objects http://bootstrap-datepicker.readthedocs.org/en/release/index.html
                     datepicker = element.datepicker({
                         autoclose: true,
                         keyboardNavigation: false,
                         todayHighlight: true,
                         format: datepickerFormat
                     });
                     elPicker = datepicker.data('datepicker').picker;

                     // Adjust offset on show
                     datepicker.on('show', function (evt) {
                         elPicker.css('left', parseInt(elPicker.css('left')) + +attrs.offsetX);
                         elPicker.css('top', parseInt(elPicker.css('top')) + +attrs.offsetY);
                     });

                     // Only watch and format if ng-model is present https://docs.angularjs.org/api/ng/type/ngModel.NgModelController
                     if (ngModelController) {
                         // So we can maintain time
                         var lastModelValueMoment;

                         ngModelController.$formatters.push(function (modelValue) {
                             //
                             // Date -> String
                             //

                             // Get view value (String) from model value (Date)
                             var viewValue,
                                 m = moment(modelValue);
                             if (modelValue && m.isValid()) {
                                 // Valid date obj in model
                                 lastModelValueMoment = m.clone(); // Save date (so we can restore time later)
                                 viewValue = m.format(momentFormat);
                             } else {
                                 // Invalid date obj in model
                                 lastModelValueMoment = undefined;
                                 viewValue = undefined;
                             }

                             // Update picker
                             element.datepicker('update', viewValue);

                             // Update view
                             return viewValue;
                         });

                         ngModelController.$parsers.push(function (viewValue) {
                             //
                             // String -> Date
                             //

                             // Get model value (Date) from view value (String)
                             var modelValue,
                                 m = moment(viewValue, momentFormat, true);
                             if (viewValue && m.isValid()) {
                                 // Valid date string in view
                                 if (lastModelValueMoment) { // Restore time
                                     m.hour(lastModelValueMoment.hour());
                                     m.minute(lastModelValueMoment.minute());
                                     m.second(lastModelValueMoment.second());
                                     m.millisecond(lastModelValueMoment.millisecond());
                                 }
                                 modelValue = m.toDate();
                             } else {
                                 // Invalid date string in view
                                 modelValue = undefined;
                             }

                             // Update model
                             return modelValue;
                         });

                         datepicker.on('changeDate', function (evt) {
                             // Only update if it's NOT an <input> (if it's an <input> the datepicker plugin trys to cast the val to a Date)
                             if (evt.target.tagName !== 'INPUT') {
                                 ngModelController.$setViewValue(moment(evt.date).format(momentFormat)); // $seViewValue basically calls the $parser above so we need to pass a string date value in
                                 ngModelController.$render();
                             }
                         });
                     }

                 }
             };
         });
         app.directive('datepicker', function () {
             return {

                 restrict: 'A',
                 // Always use along with an ng-model
                 require: '?ngModel',

                 link: function (scope, element, attrs, ngModel) {
                     if (!ngModel) return;

                     ngModel.$render = function () {
                         element.datepicker('update', ngModel.$viewValue || '');
                     };

                     element.datepicker().on("changeDate", function (event) {
                         scope.$apply(function () {
                             ngModel.$setViewValue(event.date);
                         });
                     });
                 }
             };
         });
         //Disable future days in datefield
         app.directive('datepicker1', function () {
             return {
                 restrict: 'A',
                 // Always use along with an ng-model
                 require: '?ngModel',

                 link: function (scope, element, attrs, ngModel) {
                     if (!ngModel) return;
                     var startDate = !attrs.minDate ? '' : new Date();
                     var endDate = !attrs.maxDate ? '' : new Date();
                     var multiDate = !attrs.multiDate ? false : true;
                     var todayHighlight = !attrs.todayHighlight ? false : true;

                     ngModel.$render = function () {
                         element.datepicker('update', ngModel.$viewValue || '');
                     };

                     element.datepicker({
                         startDate: startDate,
                         endDate: endDate,
                         multidate: multiDate,
                         todayHighlight: todayHighlight
                     }).on("changeDate", function (event) {
                         scope.$apply(function () {
                             ngModel.$setViewValue(event.date);
                         });
                     });
                 }
             };
         });
        app.directive('datepicker', function () {
            return {
                link: function (scope, el, attr) {
                    $(el).datepicker({
                        onSelect: function (dateText) {
                            console.log(dateText);
                            var expression = attr.ngModel + " = " + "'" + dateText + "'";
                            scope.$apply(expression);
                            scope.$apply(attr.datepicker);
                            console.log(scope.startDate);
                            // how do i set this elements model property ?
                        }
                    });
                }
            };
        });
        app.directive("select2", function ($timeout, $parse) {
            return {
                restrict// Code goes here
            : 'AC',
                require: 'ngModel',
                link: function (scope, element, attrs) {
                    console.log(attrs);
                    $timeout(function () {
                        element.select2();
                        element.select2Initialized = true;
                    });

                    var refreshSelect = function () {
                        if (!element.select2Initialized) return;
                        $timeout(function () {
                            element.trigger('change');
                        });
                    };

                    var recreateSelect = function () {
                        if (!element.select2Initialized) return;
                        $timeout(function () {
                            element.select2('destroy');
                            element.select2();
                        });
                    };

                    scope.$watch(attrs.ngModel, refreshSelect);

                    if (attrs.ngOptions) {
                        var list = attrs.ngOptions.match(/ in ([^ ]*)/)[1];
                        // watch for option list change
                        scope.$watch(list, recreateSelect);
                    }

                    if (attrs.ngDisabled) {
                        scope.$watch(attrs.ngDisabled, refreshSelect);
                    }
                }
            };
        });
        app.controller("MyCtrl", function ($scope, $http, $timeout,$window,$filter) {
            var firstDay = (new Date().getMonth() + 1) + "/01/" + new Date().getFullYear();
            var lastDate = new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0);
            var lastDay = (lastDate.getMonth() + 1) + "/" + lastDate.getDate() + "/" + lastDate.getFullYear();
            var today = new Date();
            $scope.FromDate = firstDay;
            $scope.ToDate = today;
            function ConvertJsonDateToDateTime1(date) {
                var parsedDate = new Date(parseInt(date.substr(6)));
                var tzoffset = (new Date(parsedDate)).getTimezoneOffset() * 60000;
                var localISOTime = (new Date(parsedDate - tzoffset)).toISOString().substring(0, 19).replace('T', ' ');
                return localISOTime;
            }
            $scope.Proceed = function () {
                debugger;
                var todate1 = new Date($scope.ToDate).getDate();
                var tomonth1 = new Date($scope.ToDate).getMonth() + 1;
                var toyear1 = new Date($scope.ToDate).getFullYear();
                var tdate = todate1 + "-" + tomonth1 + "-" + toyear1;

                var fdate1 = new Date($scope.FromDate).getDate();
                var fmonth1 = new Date($scope.FromDate).getMonth() + 1;
                var fyear1 = new Date($scope.FromDate).getFullYear();
                var fdate = fdate1 + "-" + fmonth1 + "-" + fyear1;

                //var fdate = $scope.FromDate;
                //var tdate = $scope.ToDate;
                if (fdate, tdate) {
                if ((fdate < tdate) || (fdate == tdate)) {
                $('#popup').modal('show');
                $scope.DisplayForm = true;
                $scope.addplus = false;
                $scope.addminus = true;
                $scope.editminus = false;
                $scope.tables = true;
                $scope.userForm.$setPristine();
                $.post("../financeapproval/getAllfinanceApprovels/", { FDate: $scope.FromDate, TDate: $scope.ToDate }, function (r) {
                    $scope.approvals = [];
                    for (var i = 0; i < r.length; i++) {
                        var app = {};
                        app.SalesExpensesTransactionID = r[i].TransactionID;
                        app.TransactionDate = ConvertJsonDateToDateTime1(r[i].TransactionDate);
                        app.EmpID = r[i].EmpID;
                        app.ExpenseType = r[i].ExpenseType;
                        app.Expenses = r[i].Expenses;
                        app.Customer = r[i].Customer;
                        app.Amount = r[i].Amount;
                        app.FileName = r[i].FileName;
                        app.EmpName = r[i].EmpName;
                        app.TransactionSerial = r[i].TransactionSerial;
                        app.ApprovallevelID = r[i].ApprovallevelID;
                        app.DocumentTransactionID = r[i].DocumentTransactionID;
                        app.ApprovalFlag = r[i].Flag;
                        $scope.approvals.push(app);
                    }
                    $scope.$apply();
                });
                }
                else {
                    alert("Todate should be greater than or equal to Fromdate");
                }
            }
            }
            $scope.form = false;
            $scope.form1 = false;
            $scope.editminus = false;
            $scope.tabs = false;
            $scope.addplus = true;
            $scope.addminus = false;
            $scope.tables = false;
            $scope.ShowLoader = false;
            GetStatus();
            $scope.dateOptions1 = {
                changeYear: true,
                changeMonth: true,
                yearRange: '1900:-0',
            };

            function GetStatus() {
                $scope.statuses = [];
                $http({
                    method: 'Get',
                    url: '../financeapproval/GetStatus',
                }).then(function (response) {
                    $scope.statuses = response.data;
                }),function (error){
                    $scope.message = 'Unexpected Error';
                };
            }

            $scope.IsValid = true;
            $scope.IsExist = false;
            $scope.IsDurationExist = false;
            var currentDate = new Date();
            var newDate = new Date(currentDate.setDate(currentDate.getDate() - 1));
            $scope.approvals = [];
            $scope.sort = function (keyname) {
                $scope.sortKey = keyname;
                $scope.reverse = !$scope.reverse;
            }
            //Add new records
            $scope.Addapproval = function () {
                $scope.approvals = [];
                $scope.DisplayForm = true;
                $scope.addplus = false;
                $scope.addminus = true;
                $scope.editminus = false;
                $scope.tables = true;
                $scope.userForm.$setPristine();
                clearFields();
                $scope.Action = "Save";
            }
            //download file based upon DocumentTransactionID
            $scope.Download = function (approval) {
                $('#downloadfile').attr('src', '../Common/DownloadMyDocument.aspx?InstanceID=' + approval.DocumentTransactionID);
            };
            //Preview file based upon DocumentTransactionID
            $scope.Preview = function (approval) {
                $('#divViewDocument').modal('show');
                $('.modal-dialog').css('width', '90%');
                $('#OverViews').attr('src', '../Common/DocumentOverview.aspx?InstanceID=' + approval.DocumentTransactionID);
            };
            //save or update code  to database approve
          
            $scope.Approve = function (isValid) {
                $scope.IsValid = false;
                    debugger;
                   
                        if (isValid) {
                            $scope.userForm.$setPristine();
                            var entry = {};
                            var details = new Array();
                            for (var i = 0; i < $scope.approvals.length; i++) {
                                if ($scope.approvals[i].Selected) {
                                    $scope.IsValid = true;
                                    var detail = {};
                                    detail.SalesExpensesTransactionID = $scope.approvals[i].SalesExpensesTransactionID;
                                    //detail.SalesExpensesTransactionDetailID = $scope.approvals[i].SalesExpensesTransactionDetailID;
                                    detail.ApprovalFlag = $scope.approvals[i].ApprovalFlag;
                                    detail.TransactionDate = $scope.approvals[i].TransactionDate;
                                    detail.ApprovallevelID = $scope.approvals[i].ApprovallevelID;
                                    detail.ActionTypeID = 1;
                                    detail.Comments = $scope.approvals[i].Comments;
                                    details.push(detail);
                                }
                                else
                                {
                                }
                            }

                            entry.Approvals = details;
                            $http({
                                method: "post",
                                url: "../financeapproval/SaveApprovals",
                                dataType: 'json',
                                headers: { "Content-Type": "application/json" },
                                data: '{TimeSheets: ' + JSON.stringify(entry) + '}'
                            }).then(function (response) {
                                $scope.msg = response.data;
                                if (response.data == "Approval  has been Processed Successfully!") {
                                    $scope.tabs = false;
                                    $scope.adtabls = false;
                                    $scope.form = false;
                                    $scope.form1 = false;
                                    $scope.DisplayForm = false;
                                    $scope.addplus = true;
                                    $scope.addminus = false;
                                    $scope.editminus = false;
                                    $scope.DeleteAlert = false;
                                    $scope.AddAlert = true;
                                    $scope.EditAlert = false;
                                    $scope.FromDate = firstDay;
                                    $scope.ToDate = lastDay;
                                    clearFields();
                                    angular.element('#popup').modal('hide');

                                }
                                else {
                                    $scope.tabs = true;
                                }

                            }), function (error) {
                                $scope.Message = error.Message;
                            }
                        
                    }
                    else {
                        // Show error Message if Form not valid.
                        if ($scope.userForm.$error.required != undefined) {
                            for (var i = 0; i < $scope.userForm.$error.required.length; i++) {
                                $scope.userForm.$error.required[i].$pristine = false;
                            }
                        }
                    }
                };
                    
            //save or update code  to database reject
                $scope.Reject = function (isValid) {
                    $scope.IsValid = false;
                  debugger;
                  if (isValid) {
                      $scope.userForm.$setPristine();
                      var entry = {};
                      var details = new Array();
                      for (var i = 0; i < $scope.approvals.length; i++) {
                          if ($scope.approvals[i].Selected) {
                              $scope.IsValid = true;
                              var detail = {};
                              detail.SalesExpensesTransactionID = $scope.approvals[i].SalesExpensesTransactionID;
                              //detail.SalesExpensesTransactionDetailID = $scope.approvals[i].SalesExpensesTransactionDetailID;
                              detail.ApprovalFlag = $scope.approvals[i].ApprovalFlag;
                              detail.TransactionDate = $scope.approvals[i].TransactionDate;
                              detail.ApprovallevelID = $scope.approvals[i].ApprovallevelID;
                              detail.ActionTypeID =2;
                              detail.Comments = $scope.approvals[i].Comments;
                              details.push(detail);
                          }
                          else {
                             
                          }
                      }
                      entry.Approvals = details;
                      $http({
                          method: "post",
                          url: "../financeapproval/SaveApprovals",
                          dataType: 'json',
                          headers: { "Content-Type": "application/json" },
                          data: '{TimeSheets: ' + JSON.stringify(entry) + '}'
                      }).then(function (response) {
                          $scope.msg = response.data;
                          if (response.data == "Approval  has been Processed Successfully!") {
                              $scope.tabs = false;
                              $scope.adtabls = false;
                              $scope.form = false;
                              $scope.form1 = false;
                              $scope.DisplayForm = false;
                              $scope.addplus = true;
                              $scope.addminus = false;
                              $scope.editminus = false;
                              $scope.DeleteAlert = false;
                              $scope.AddAlert = true;
                              $scope.EditAlert = false;
                              $scope.FromDate = firstDay;
                              $scope.ToDate = lastDay;
                              clearFields();
                              angular.element('#popup').modal('hide');

                          }
                          else {
                              $scope.tabs = true;
                          }

                      }), function (error) {
                          $scope.Message = error.Message;
                      }
                  }
                  else {
                      // Show error Message if Form not valid.
                      if ($scope.userForm.$error.required != undefined) {
                          for (var i = 0; i < $scope.userForm.$error.required.length; i++) {
                              $scope.userForm.$error.required[i].$pristine = false;
                          }
                      }
                  }
              };

            //Check uncheck all elements based upon checkbox selection
              $scope.CheckUncheckHeader = function () {
                  debugger
                  $scope.IsAllChecked = false;
                  for (var i = 0; i < $scope.approvals.length; i++) {
                      if (!$scope.approvals[i].Selected) {
                          $scope.IsAllChecked = false;
                          break;
                      }
                  };
              };
              $scope.CheckUncheckHeader();

              $scope.CheckUncheckAll = function () {
                  for (var i = 0; i < $scope.approvals.length; i++) {
                      $scope.approvals[i].Selected = $scope.IsAllChecked;
                  }
              };
            //Disable future days in date
            var firstDay1 = (new Date().getMonth() + 1) + "/01/" + new Date().getFullYear();
            $scope.eventdate = firstDay1;
            $scope.MaxDate = new Date();
            //Back Functionality
            $scope.close = function () {
                $scope.DisplayForm = false;
                $scope.tabs = false;
                $scope.adtabls = false;
                $scope.form = false;
                $scope.form1 = false;
                $scope.addminus = false;
                $scope.addplus = true;
                $scope.editminus = false;
                clearFields();
                $scope.DisplayForm = false;
                angular.element('#popup').modal('hide');

                // Reset Error.
                $scope.userForm.$setPristine();
            }
            //cancel Functionality
            $scope.cancel = function () {
                $scope.DisplayForm = false;
                $scope.tabs = false;
                $scope.adtabls = false;
                $scope.form = false;
                $scope.form1 = false;
                $scope.addminus = false;
                $scope.addplus = true;
                $scope.editminus = false;
                clearFields();
                $scope.DisplayForm = false;
                loadPaytypes();
                // Reset Error.
                $scope.userForm.$setPristine();
            }
            //clear Fileds
            function clearFields() {

                //$scope.approvals = [{ Date: new Date() }];
                $scope.userForm.$setPristine();
            }
        });
    </script>
</head>
<body>
    <div class="container">
        <div id="example" ng-app="KendoDemos">
            <div ng-controller="MyCtrl">
                @*Disable future dates
                    <input datepicker1 ng-model="eventdate" min-date="" max-date="true" multi-date=""
                            today-highlight="true" />*@
                <div style="padding-top:10px"></div>

                <div class="alert alert-danger" ng-show="DeleteAlert" ng-model="delete">
                    <strong>{{delete}}</strong>
                </div>
                <div class="alert alert-success" ng-show="AddAlert" ng-model="add">
                    <strong>{{msg}}</strong>
                </div>
                <div class="alert alert-info" ng-show="EditAlert" ng-model="edit">
                    <strong>{{msg}}</strong>
                </div>
                <br />
                <div class="well">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="lblFromDate">From Date</label><br />
                            <input style="display: inline; width: 268px;" class="form-control" @*data-date-format="dd-mm-yyyy"*@ name="FromDate" datepicker ng-model="FromDate" />
                            <p style="color:red" ng-show="userForm.FromDate.$error.required  && !userForm.FromDate .$pristine" class="help-block"> From Date is required.</p>
                        </div>
                        <div class="col-md-3">
                            <label for="lblToDate">To Date</label><br />
                            <input @*type="text"*@ style="display: inline; width: 268px;" class="form-control" @*data-date-format="dd-mm-yyyy"*@ name="ToDate" datepicker ng-model="ToDate" />
                            <p style="color:red" ng-show="userForm.ToDate.$error.required  && !userForm.ToDate .$pristine" class="help-block"> To Date is required.</p>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3">
                            <label for="lblToDate"></label><br />
                            <button class="btn btn-primary btn-sm" ng-click="Proceed()">Show</button>

                        </div>
                    </div>
                </div>
                <div class="modal fade" id="popup" data-keyboard="false" data-backdrop="static" style="border:0px;margin-left: 35px;position: absolute;overflow: hidden;padding-top:30px" role="dialog">
                    <div style="width:1250px;" @*ng-show="(attendances).length>0"*@>
                        <div class="modal-content">
                            <div class="modal-header pt-reduced pb-reduced" style="background-color:#81c9ff;">
                                <button type="button" class="close" data-dismiss="modal" ng-click="close()">x</button>
                                <h4 class="modal-title" style="text-align:center;height: 20px;color:white" ng-show="(approvals).length>0"><b>Finance Approval Details</b></h4>
                            </div>
                            <div class="modal-body">
                                <div id="wrapper" class="clearfix"  scroll-bookmark="bookmark">
                                    <form name="userForm" novalidate ng-show="(approvals).length>0">
                                        <div class="col-md-12">
                                            <div>
                                                <div id="table">
                                                    <div class="table-responsive " style="" scroll-bookmark="bookmark2">
                                                        <table id="tblOrders" cellpadding="12" class="table table-bordered table-hover table-striped" style="margin-left: 20px; margin-right: 20px;">
                                                            <thead style="background-color:#81c9ff;color:white;font-size:12px;">

                                                                <tr>
                                                                    <th align="left">
                                                                        <label>
                                                                            <input type="checkbox" ng-model="IsAllChecked" ng-change="CheckUncheckAll()" />
                                                                        Select All
                                                                        </label>
                                                                    </th>
                                                                    <th style="cursor: pointer;" ng-click="sort('TransactionSerial')"><b>Bill No</b><span class="glyphicon sort-icon" ng-show="sortKey=='TransactionSerial'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>

                                                                    <th style="cursor: pointer;" ng-click="sort('TransactionDate')"><b>Date</b><span class="glyphicon sort-icon" ng-show="sortKey=='TransactionDate'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                                    <th style="cursor: pointer;" ng-click="sort('EmpName')"><b>Employee Name</b><span class="glyphicon sort-icon" ng-show="sortKey=='EmpName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>

                                                                    <th style="cursor: pointer;" ng-click="sort('ExpenseType')"><b>ExpenseType</b><span class="glyphicon sort-icon" ng-show="sortKey=='ExpenseType'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                                    <th ng-click="sort('Customer')"><b>Customer</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Customer'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                                    <th ng-click="sort('Amount')"><b>Amount</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Amount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                                    <th ng-click="sort('FileName')"><b>FileName</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='FileName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                                    @*<th ng-click="sort('ApprovallevelID')"><b>Status</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='ApprovallevelID'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>*@
                                                                    <th ng-click="sort('Comments')"><b>Comments</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Comments'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                                    <th ng-click="sort('Comments')"><b>Actions</b></th>
                                                                </tr>
                                                            </thead>

                                                            <tbody dir-paginate="approval in approvals|orderBy:sortKey:reverse|filter:search|itemsPerPage:10" ng-model="search">
                                                                <tr>
                                                                    <td style="font-size:12px">
                                                                        <label for="chkEmployee_{{approval}}">
                                                                            <input id="chkEmployee_{{approval.SalesExpensesTransactionID}}" type="checkbox" ng-model="approval.Selected" ng-change="CheckUncheckHeader()" />
                                                                            {{approval.SalesExpensesTransactionID}}
                                                                        </label>
                                                                        <input type="hidden" ng-model="approval.SalesExpensesTransactionID" />
                                                                        <input type="hidden" ng-model="approval.EmpID" />
                                                                        <input type="hidden" ng-model="approval.ApprovallevelID" />
                                                                        <input type="hidden" ng-model="approval.ApprovalFlag" />
                                                                        <input type="hidden" ng-model="approval.DocumentTransactionID" />
                                                                        {{approval.selected}}
                                                                    </td>
                                                                    <td style="font-size:12px">
                                                                        {{approval.TransactionSerial}}
                                                                    </td>
                                                                    <td style="font-size:12px">
                                                                        {{approval.TransactionDate}}
                                                                    </td>
                                                                    <td style="font-size:12px">
                                                                        {{approval.EmpName}}
                                                                    </td>
                                                                    <td style="font-size:12px">
                                                                        {{approval.ExpenseType}}
                                                                    </td>
                                                                    <td style="font-size:12px">
                                                                        {{approval.Customer}}
                                                                    </td>
                                                                    <td style="font-size:12px">
                                                                        {{approval.Amount}}
                                                                    </td>
                                                                    <td style="font-size:12px">
                                                                        {{approval.FileName}}
                                                                    </td>
                                                                   
                                                                    <td style="font-size:12px">
                                                                        <input type="text" class="form-control input-sm" ng-model="approval.Comments" />
                                                                    </td>
                                                                    <td>
                                                                        <a class="glyphicon glyphicon-download-alt" ng-click="Download(approval)" href=""></a>
                                                                        <a class="glyphicon glyphicon-eye-open" ng-click="Preview(approval)" href=""></a>
                                                                    </td>
                                                            </tbody>
                                                        </table>
                                                        <span id="spnError" class="error" ng-hide="IsValid == null || IsValid">Please select at-least one checkbox.</span>
                                                        </br>
                                                        <dir-pagination-controls max-size="8"
                                                                                 direction-links="true"
                                                                                 boundary-links="true">
                                                        </dir-pagination-controls>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div>
                                            <div class="form-group" style="width: 120%; text-align: center; padding: 10px;">
                                                <div class="col-md-offset-2 col-md-5">
                                                    <p>
                                                        <button class="btn btn-primary btn-sm" ng-click="Approve(userForm.$valid);Delete()" @*ng-click="Save();Delete();"*@>Approve</button>
                                                        <button class="btn btn-primary btn-sm" ng-click="Reject(userForm.$valid);Delete()" @*ng-click="Save();Delete();"*@>Reject</button>
                                                        <button class="btn btn-primary btn-sm" ng-click="close()">Close</button>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="alert alert-info" ng-show="(approvals).length==0" style="color: red;text-align:center; font-weight: bold">No Records Found</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4" style="margin-left: 27px;display:inline-block">
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3"></div>


                            <div class="col-md-" style="text-align: right;display:inline-block ;margin-left:80px">
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div id="grid" style="margin-left:10px;margin-right:10px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="divViewDocument" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog" style="width: 70%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" style="height: 570px;">
                    <div style="width: 100%;">
                        <div class="col-md-12 colpadding0">
                            <label Style="color: red;"></label>
                            <fieldset style="height: 550px; width: 100%;">
                                <iframe src="about:blank" id="OverViews" width="100%" height="100%" frameborder="0"></iframe>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <iframe id="downloadfile" src="about:blank" width="0" height="0"></iframe>
</body>
</html>





