﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMNotes
<style>
    .onoffswitch {
        position: relative;
        width: 90px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    .onoffswitch-checkbox {
        display: none;
    }

    .onoffswitch-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid #ffffff;
        /* border-radius: 20px; */
    }

    .onoffswitch-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }

        .onoffswitch-inner:before, .onoffswitch-inner:after {
            display: block;
            float: left;
            width: 50%;
            height: 30px;
            padding: 0;
            line-height: 30px;
            font-size: 14px;
            color: white;
            font-family: Trebuchet, Arial, sans-serif;
            font-weight: bold;
            box-sizing: border-box;
        }

        .onoffswitch-inner:before {
            content: "Shared";
            padding-left: 10px;
            background-color: #34A7C1;
            color: #FFFFFF;
        }

        .onoffswitch-inner:after {
            content: "Private";
            padding-right: 10px;
            background-color: #6edbe3;
            color: #ffffff;
            text-align: right;
        }

    .onoffswitch-switch {
        display: block;
        width: 10px;
        margin: 6px;
        background: #FFFFFF;
        position: absolute;
        top: 4px;
        bottom: 0;
        right: 56px;
        border: 2px solid #ffffff;
        border-radius: 20px;
        transition: all 0.3s ease-in 0s;
        height: 10px;
    }

    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }

    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px;
    }
</style>
@*<script>
    $(document).ready(function () {
        
        var cheboxnotesval = $("#myonoffswitch").is(":checked");
        if (cheboxnotesval == true) {
            $("#DivsharedNotes").show();

        }
        else {
            $("#DivsharedNotes").hide();
        }
    })
    $("#chkidforprpunotes").click(function () {
        var cheboxnotesval = $("#myonoffswitch").is(":checked");
        if (cheboxnotesval == true) {
            $("#DivsharedNotes").hide();
        }
        else {
            $("#DivsharedNotes").show();
        }
    })
</script>*@
<div id="example" style="overflow:hidden">
    <div id="window">
        <div id="DivAddNotes">
            @using (Ajax.BeginForm("CreateNotes", "Notes", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivAddNotes", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmNotes" }))
            {
                @Html.HiddenFor(m=>m.MeetingId)
                @Html.HiddenFor(m => m.AgendaId)
                @Html.HiddenFor(m=>m.Id)

                <div class="row">
                    @if (Model.Success)
                    {
                        <div class="col-md-12">

                            <div class="alert alert-success alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                @if (!(string.IsNullOrEmpty(@Model.Message)))
                                {
                                    <lable>@Model.Message</lable>
                                }
                            </div>

                        </div>
                    }
                </div>

                <div class="row">
                    @if (Model.Error)
                    {
                        <div class="col-md-12">
                            <div class="alert alert-danger alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                @if (!(string.IsNullOrEmpty(@Model.Message)))
                                {
                                    <lable>@Model.Message</lable>
                                }
                            </div>

                        </div>
                    }
                </div>

                <div class="row colpadding0">
                        <div class="col-md-12 colpadding0">
                        <div class="row colpadding0">
                            <div class="col-md-12 colpadding0">
                                @*<div class="col-md-1  colpadding0">
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                                        <label class="onoffswitch-label" for="myonoffswitch" id="chkidforprpunotes">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3 colpadding0"></div>*@
                           
                                        @(Html.Kendo().MultiSelectFor(m => m.DirectorId)

                .DataTextField("DirectorName")
                .DataValueField("DirectorId")
          .AutoClose(true)
          .Placeholder("Share with....")
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Url("/api/MainMeeting/GetParticipantforNotes?MeetingId=" + Model.MeetingId).Type(HttpVerbs.Get);
                    })
                    .ServerFiltering(true);
                })
                 .HtmlAttributes(new { style = "width: 99%", @Id = "ddlMmultipleSelector", autocomplete = "off" }))
                                 
                                </div>
                            </div>
                        </div>

                        <div class="row colpadding0 mt30">
                            <div class="col-md-12  colpadding0">
                                @Html.Kendo().TextBoxFor(m => m.Title).HtmlAttributes(new { @placeholder = "Please Fill Notes Title", style = "width: 100%" })
                            </div>
                        </div>

                        <div class="row colpadding0 mt30">
                            <div class="col-md-12 colpadding0">
                                @*@Html.TextArea("NotesDetails", "", new { @class = "k-textbox", style = "width: 100%; height: 150px;" })*@

                                @(Html.Kendo().EditorFor(m => m.NotesDetails)

.HtmlAttributes(new { style = "height:160px" })

.Tools(tools => tools
    .Clear()

)
.Resizable(resizable => resizable.Content(true).Toolbar(true))
                                )

                            </div>
                        </div>
                    </div>
             

                <div class="col-md-12 row">
                    <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;margin-top: 2%;">
                        <button type="submit" id="saveppcom" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
                        <button type="button" id="btnclose1" class="k-button">Close</button>

                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function OnOpen(e) {
        var wnd = $("#wndAgendaNotes").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }
    function OnRefresh() {
        var wnd = $("#wndAgendaNotes").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }
    $("#btnclose1").click(function (e) {
        var wnd = $("#wndAgendaNotes").data("kendoWindow");
        wnd.close();
    });

</script>

<script>
    //$(function () {
    //    
    //        var f = function() {
    //            $(this).next().text($(this).is(':checked') ? ':checked' : ':not(:checked)');
    //        };
    //        $('input').change(f).trigger('change');
    //    });
</script>
