﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMNotes

@{

    Layout = "~/Areas/BM_Management/Views/Shared/BM_layout.cshtml";
}

<script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"></script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<link href="~/Content/css/Kendouicss.css" rel="stylesheet" />

<style>
    html {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<title></title>


<style>
    @@media screen and (max-width: 600px) {

        #gridKendo > table {
        }
    }

    .k-window div.k-window-content {
        overflow: hidden;
    }

    .field-validation-error {
        color: #ff0000;
    }

    .k-current-page {
        display: none;
    }

    html .k-upload-empty {
        border-width: 1px;
    }

    .k-edit-form-container {
        position: relative;
        width: 900px;
    }

    .k-grid-edit {
        height: 32px;
        width: 33px;
        padding: 6px 0px 10px 0;
        /*white-space: nowrap;*/
        overflow: hidden;
        /*border-radius: 20px;*/
    }

    .k-grid-delete {
        height: 32px;
        width: 33px;
        padding: 5px 0px 10px 0;
        overflow: hidden;
    }

    .fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 2em;
        }

        .fieldlist label {
            display: block;
            padding-bottom: 1em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

    .mt30 {
        margin-top: 18px;
    }

    .k-grid-add {
        float: right;
    }

    .k-edit-buttons {
        width: 1280px;
        text-align: center;
    }

    label {
        color: black;
    }

    .ml-mr {
        margin-left: 2%;
    }

    fieldset {
        display: block;
        margin-inline-start: 2px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 1px;
        border-style: groove;
        border-color: rgba(128, 128, 128, 0.56);
        border-radius: 11px;
        /*border-color: threedface;
    border-image: initial;*/
    }

    .forTooltips {
        width: 100%;
        height: 100%;
        padding: .929em 1.286em;
    }

    td.overridePadding {
        padding: 0;
    }
</style>

<script>
    function onRowBound(e) {
        $(".k-grid-edit").find("span").addClass("k-icon k-edit");
        $(".k-grid-delete").find("span").addClass("k-icon k-delete");
        $(".k-grid-add").find("span").addClass("k-i-plus-outline");
        
        var grid = $("#gridKendo").data("kendoGrid");
        var gridData = grid.dataSource.view();

        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            if (gridData[i].Entity_Type != null) {
                if (gridData[i].Entity_Type == 1 || gridData[i].Entity_Type == 2) {

                }
                else if (gridData[i].Entity_Type == 3 || gridData[i].Entity_Type == 4 || gridData[i].Entity_Type == 5) {
                    var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                    var editButton = $(currenRow).find(".k-grid-S").addClass("k-state-disabled");;
                    // editButton.hide();

                    if (gridData[i].Entity_Type == 4) {
                        var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                        var editButton = $(currenRow).find(".k-grid-C").addClass("k-state-disabled");;
                        // editButton.hide();
                    }
                }
            }
        }
    }
</script>


<div class="row Dashboard-white-widget">
    <div class="dashboard">
        <form id="frmnotes">
            <div class="row colpadding0">
                <div class="col-md-3  colpadding0">
                    @(Html.Kendo().DropDownListFor(m => m.Notestype)

          .DataTextField("Text")
          .DataValueField("Value")
          .OptionLabel("Select")
          //.Events(e => e.Change("change"))
          .BindTo(new List<SelectListItem>() {
              new SelectListItem() {
                  Text = "Meeting",
                  Value = "1"
              },
              new SelectListItem() {
                  Text = "Agenda",
                  Value = "2"
              },
              new SelectListItem() {
                  Text = "Adoc",
                  Value = "3"
              }
          })

          .HtmlAttributes(new { style = "width: 100%" })
                    )
                </div>
            </div>

            <div class="row colpadding0 mt30">
                <div class="col-md-12 colpadding0">
                    @*@Html.TextArea("NotesDetails", "", new { @class = "k-textbox", style = "width: 100%; height: 150px;" })*@

                    @(Html.Kendo().EditorFor(m => m.NotesDetails)
      
      .HtmlAttributes(new { style = "height:160px", aria_label = "editor" })
      .Resizable(resizable => resizable.Content(true).Toolbar(true))
                    )
                    <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;margin-top:2%">
                        <input  type="submit"  id="btnNotes" class="k-primary k-button k-grid-update k-button-icontext" />
                        <button type="button" id="btnclose4" class="k-button">Clear</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
   
   
    $("#btnNotes").click(function () {
        
        var validator1 = $("#frmnotes").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
        $.ajax({
            url: '/api/NotesAPI/CreateNotes',
            type: 'POST',
            data: JSON.stringify($("#frmnotes").serializeObject()),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (data) {
                if (data != null && data.Success) {
                    alert(data.Message);
                } else {
                    // DoSomethingElse()
                    alert(data.Message);
                }
            },
            error: function (data) {
                alert("error!"); //
            }
        });
    });

    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };

</script>