﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.CommitteeMasterVM

<div id="example">
    <div id="window">
        <!-- this will be the content of the popup -->

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Id, new { Id= "DetailsOfCommiteePositionId", name= "DetailsOfCommiteePositionId" })

        <div class="row">
            <div class="col-md-11" style="display:none" id="Divsuccess">
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <lable id="lblsuccess"></lable>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-11" style="display:none" id="Diverror">
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <lable id="lblerrormsg"></lable>
                </div>
            </div>
        </div>

        <div class="row mt30">
            <div class="col-md-12">

                <div class="col-md-3">
                    <span style="color:red">*</span><lable class="control-label">Entity Name </lable>
                </div>
                <div class="col-md-7 colpadding0">
                    @Html.EditorFor(m => m.Entity_Id)
                </div>

            </div>
        </div>

        <div class="row mt30">
            <div class="col-md-12">

                <div class="col-md-3">
                    <span style="color:red">*</span><lable class="control-label">Committee </lable>
                </div>
                <div class="col-md-7 colpadding0">
                    @Html.EditorFor(m => m.Committee_Id)
                </div>
            </div>
        </div>

        <div class="row mt30">
            <div class="col-md-12">

                <div class="col-md-3">
                    <span style="color:red">*</span><lable class="control-label">Director Name </lable>
                    @*@Html.LabelFor(m => m.FirstName)*@
                </div>
                <div class="col-md-7 colpadding0">
                    @Html.EditorFor(m => m.Director_Id)
                </div>

            </div>
        </div>

        <div class="row mt30">
            <div class="col-md-12">

                <div class="col-md-3">
                    <span style="color:red">*</span><lable class="control-label">Designation </lable>
                    @*@Html.LabelFor(m => m.FirstName)*@
                </div>
                <div class="col-md-7 colpadding0">
                    @Html.Kendo().DropDownListFor(model => model.Designation_Id).BindTo(new SelectList(new List<object> {
                                    new {id="0",text="Select"},
                                    new {id="1",text="Chairperson"},
                                    new {id="2",text="Member"},
                                }, "id", "text")).HtmlAttributes(new { style = "width:85%;" })
                    @Html.ValidationMessageFor(model => model.Designation_Id, "", new { @class = "text-danger" })
                </div>

            </div>
        </div>

        <div class="row mt30">
            <div class="col-md-12">

                <div class="col-md-3">
                    <span style="color:red">*</span><lable class="control-label">Type </lable>
                </div>
                <div class="col-md-7 colpadding0">
                    @Html.Kendo().DropDownListFor(model => model.Committee_Type).BindTo(new SelectList(new List<object> {
                                    new {id="0",text="Select"},
                                    new {id="5",text="Executive"},
                                    new {id="6",text="Non-Executive"},
                                    new {id="7",text="Non-Executive Independent"},
                                }, "id", "text")).HtmlAttributes(new { style="width:85%;"})
                    @Html.ValidationMessageFor(model => model.Committee_Type, "", new { @class = "text-danger" })
                </div>

            </div>
        </div>

    </div>
</div>

<div id ="divBtn" class="k-edit-buttons-new k-state-default" style="background:!important;background:none;width:100%;">

    <button type="button" id="btnsaveCommittee" class="k-primary k-button k-grid-update k-button-icontext" onclick="return forcesave();">Save</button>
    <button type="button" id="btnclose1" class="k-button" onclick="return forceclose()">Close</button>

</div>