﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Compliance.Master" AutoEventWireup="true" CodeBehind="QuestionReviewerPage.aspx.cs" Inherits="com.VirtuosoITech.ComplianceManagement.Portal.Compliances.QuestionReviewerPage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="BodyContent" runat="server">
 <%--   <iframe  src="/QuestionComplianceReviewer/ComplianceApplicabilityReviewerQuestions"  width="1300" frameborder="0"  height="1300" scrolling="no"></iframe>--%>
       <iframe  src="../QuestionComplianceReviewer/ComplianceApplicabilityReviewerQuestions"  width="3000"  height="1000" frameborder="0"  scrolling="no"></iframe>
</asp:Content>
