﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Compliance.Master" AutoEventWireup="true" CodeBehind="QuestionActReviewerPage.aspx.cs" Inherits="com.VirtuosoITech.ComplianceManagement.Portal.Compliances.QuestionActReviewerPage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="BodyContent" runat="server">
    <iframe  src="../QuestionActReviewer/QuestionActReviewerQuestions"  width="2500"  height="1000" frameborder="0"  scrolling="no"></iframe>
</asp:Content>
