﻿

<!DOCTYPE html>
<html>
<head>
    @*<link href="~/select2/select2.min.css" rel="stylesheet" />
    <link href="~/content/bootstrap.css" rel="stylesheet" />
    <link href="~/content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.common.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.rtl.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.silver.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="~/content/ng-tags-input.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../Newjs/jquery-1.12.4.min.js"></script>
    <script src="~/masters/bootstrap.min.js"></script>
    <script src="~/select2/select2.min.js"></script>
    <script src="~/select2/select2.full.js"></script>
    <script src="~/Scripts/anjular(1.5.0).min.js"></script>
    <script src="~/masters/angular.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/Scripts/ng-file-upload.min.js"></script>
    <script src="~/masters/dirpagination.js"></script>
    <script type="text/javascript" src="../../Newjs/kendo.all.min.js"></script>
    <script type="text/javascript" src="../../Newjs/jszip.min.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls.js"></script>
    <script src="~/js/lodash.js"></script>
    <script src="~/js/angularjs-dropdown-multiselect.min.js"></script>
    <script src="~/Scripts/ng-tags-input.min.js"></script>*@

    <link href="~/IMAJS/select2.min.css" rel="stylesheet" />
    <link href="~/IMACSS/bootstrap.css" rel="stylesheet" />
    <link href="~/IMACSS/bootstrap.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.common.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.rtl.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.silver.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="~/IMACSS/ng-tags-input.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../Newjs/jquery-1.12.4.min.js"></script>
    <script src="~/IMAJS/bootstrap.min.js"></script>
    <script src="~/IMAJS/select2.min.js"></script>
    <script src="~/IMAJS/select2.full.js"></script>
    <script src="~/IMAJS/anjular(1.5.0).min.js"></script>    
    <script src="~/IMAJS/angular.js"></script>
    <script src="~/IMAJS/angular.min.js"></script>
    <script src="~/IMAJS/moment.min.js"></script>
    <script src="~/IMAJS/ng-file-upload.min.js"></script>
    <script src="~/IMAJS/dirpagination.js"></script>
    <script type="text/javascript" src="../../Newjs/kendo.all.min.js"></script>
    <script type="text/javascript" src="../../Newjs/jszip.min.js"></script>
    <script src="~/IMAJS/ui-bootstrap-tpls.js"></script>
    <script src="~/IMAJS/lodash.js"></script>
    <script src="~/IMAJS/angularjs-dropdown-multiselect.min.js"></script>
    <script src="~/IMAJS/ng-tags-input.min.js"></script>

    <style type="text/css">
        .div.k-grid-footer, div.k-grid-header {
            border-top-style: solid;
            border-top-width: 1px;
        }

        .k-state-default > .k-select {
            border-color: #ceced2;
            margin-top: -6px;
        }

        .k-pager-wrap > .k-link > .k-icon {
            margin-top: -2px !important;
            color: inherit;
        }

        .btn .caret {
            margin-left: 170px;
        }

        ul.dropdown-menu.dropdown-menu-form.ng-scope {
            width: 280px;
        }

        .btn-default {
            color: #333;
            background-color: #fff;
            border-color: #ccc;
            height: 28px;
            padding-top: 3px;
            width: 280px;
            padding-right: 116px;
            /*margin-left: 50px;*/
        }

        .dropdown-menu .divider {
            height: 1px;
            margin: 3px 0;
            overflow: hidden;
            background-color: #e5e5e5;
        }

        html {
            color: #666666;
            font-size: 15px;
            font-weight: normal;
            font-family: 'Roboto',sans-serif;
        }

        .modal-content {
            position: relative;
            background-color: #fff;
            border: 1px solid #999;
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 6px;
            outline: 0;
            -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
            box-shadow: 0 3px 9px rgba(0,0,0,0.5);
            background-clip: padding-box;
            height: 369px;
        }

        .select2-container--open .select2-dropdown {
            left: 0;
            /*margin-left: -66px;*/
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: grey !important;
            line-height: 28px;
            /*margin-right: 48px;*/
            text-align: left;
        }

        .select2-container {
            box-sizing: border-box;
            display: inline-block;
            margin: 0;
            position: relative;
            vertical-align: middle;
        }

        .k-checkbox-label, .k-radio-label {
            display: inline;
        }

        .myKendoCustomClass {
            z-index: 999 !important;
        }

        .k-header .k-grid-toolbar {
            background: white;
            float: left;
            width: 100%;
        }

        .k-grid td {
            line-height: 1.0em;
        }

        .k-i-more-vertical:before {
            content: "\e006";
        }

        .k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
            background-color: #1fd9e1;
            background-image: none;
        }

        k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
            color: #000000;
            border-color: #1fd9e1;
            background-color: #f6f6f6;
        }

        #grid .k-grid-toolbar {
            background: white;
        }


        .k-pager-wrap > .k-link > .k-icon {
            margin-top: 5px;
            color: inherit;
        }

        .toolbar {
            float: left;
        }

        html .k-grid tr:hover {
            background: #E4F7FB;
        }

        html .k-grid tr.k-alt:hover {
            background: #E4F7FB;
            min-height: 30px;
        }

        .k-grid tbody .k-button {
            min-width: 30px;
            min-height: 30px;
            border-radius: 35px;
        }

        .k-button-icontext .k-icon, .k-button-icontext .k-image, .k-button-icontext .k-sprite {
            margin-right: 0px;
            margin-right: 0px;
            margin-left: 0px;
            margin-left: 0px;
        }

        .k-auto-scrollable {
            overflow: hidden;
        }

        .k-grid-header {
            padding-right: 0px !important;
        }

        .k-multicheck-wrap .k-item {
            line-height: 1.2em;
            font-size: 14px;
            margin-bottom: 5px;
        }

        label {
            display: inline-block;
            margin-bottom: 0px;
        }

        .k-filter-menu .k-button {
            width: 27%;
        }

        .k-label input[type="checkbox"] {
            margin: 0px 5px 0 !important;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            font-size: 15px;
            background: #f8f8f8;
            font-family: 'Roboto',sans-serif;
            color: #2b2b2b;
            font-weight: 400;
        }

        .k-primary {
            border-color: #1fd9e1;
            background-color: #1fd9e1;
        }

        .k-pager-wrap {
            background-color: #f8f8f8;
            color: #2b2b2b;
        }

        td.k-command-cell {
            border-width: 0 1px 0 1px;
        }

        .k-grid-pager {
            border-width: 1px 1px 1px 1px;
        }

        span.k-icon.k-i-calendar {
            margin-top: 6px;
        }

        .col-md-2 {
            width: 20%;
        }

        .k-filter-row > th:first-child, .k-grid tbody td:first-child, .k-grid tfoot td:first-child, .k-grid-header th.k-header:first-child {
            border-left-width: 1px;
            line-height: 14px;
        }

        .k-grid tbody tr {
            height: 38px;
        }

        .select2-container .select2-selection--single {
            box-sizing: border-box;
            cursor: pointer;
            display: block;
            height: 35px !important;
            user-select: none;
            -webkit-user-select: none;
        }

        .container {
            max-width: 2500px;
        }

        #div3, #div4 {
            width: 190px;
            float: left;
        }

        #div1 {
            width: 68px;
            float: left;
        }

        #div2 {
            width: 320px;
            float: left;
        }

        .main1 {
            border-radius: 5px;
            float: left;
        }

        .main2 {
            border-radius: 5px;
            float: left;
            width: 130px;
        }

        #div5 {
            width: 40px;
            float: left;
        }

        #div6 {
            width: 40px;
            float: left;
        }

        #div7 {
            width: 40px;
            float: left;
        }

        .main3 {
            border-radius: 5px;
            float: left;
            width: 1300px;
        }

        #div15 {
            width: 400px;
            float: left;
        }

        #div16 {
            width: 400px;
            float: left;
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="example" ng-app="KendoDemos">
            <div ng-controller="MyCtrl">

                <div class="row">
                    <div class="col-md-12">

                        <div class="main3">
                            <div id="div15">
                                <div style="float: left; margin: 5px; width: 80px;">
                                    <label for="lblQuestion" style="color:dimgray;">ACT Group</label>
                                </div>
                                <div style="width: 50%; float: left; margin: 5px">
                                    <select class="form-control" style="display: inline; width: 250px;" select2="" name="ActID" ng-model="ActgroupID"
                                            containerCssClass="all" ng-options="r.ID as r.Name for r in actsgrouplist" ng-change="onTopactGroupChanges(ActgroupID)"
                                            ng-disabled="disabled" required>
                                        <option value="">Select Act Group</option>
                                    </select>
                                </div>
                            </div>
                            <div id="div16">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert alert-danger" ng-show="DeleteAlert" ng-model="delete">
                    <strong>{{delete}}</strong>
                </div>
                <div class="alert alert-success" ng-show="AddAlert" ng-model="add">
                    <strong>{{msg}}</strong>
                </div>
                <div class="alert alert-info" ng-show="EditAlert" ng-model="edit">
                    <strong>{{msg}}</strong>
                </div>
                @*<br />*@

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab1" (click)="DoSomeActionForTab1()">Submitted</a></li>
                    <li><a data-toggle="tab" href="#tab2" (click)="DoSomeActionForTab2()">Approved </a></li>
                </ul>

                <div class="tab-content">
                    <div id="tab1" class="tab-pane fade in active">
                        @*Submitted*@
                        <div>
                            <div id="wrapper" class="clearfix" scroll-bookmark="bookmark">
                                <form name="userForm" novalidate>
                                    <div class="form-group"></div>
                                    <div>
                                        <div id="table">
                                            <div class="table-responsive " style="" scroll-bookmark="bookmark2">
                                                <table id="tblOrders" cellpadding="12" class="table table-bordered table-hover table-striped display nowrap" style="margin-left: 0px; margin-right: 0px;">

                                                    <thead style="background-color:#6db6ec;color:white;font-size:12px;">
                                                        <tr>
                                                            <th align="left">
                                                                <label>
                                                                    <input type="checkbox" ng-model="IsAllChecked" ng-change="CheckUncheckAll()" />
                                                                    Select All
                                                                </label>
                                                            </th>
                                                            <th ng-click="sort('ActID')">
                                                                <b>ActID</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='SubmittedActID'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                <input type="text" ng-model="SubmittedActID" style="display: inline;color:#333; width: 100px;height: 35px;" class="form-control" />
                                                            </th>
                                                            <th style="cursor: pointer;" ng-click="sort('SubmittedActName')">
                                                                <b>ActName</b><span class="glyphicon sort-icon" ng-show="sortKey=='SubmittedActName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                <input type="text" ng-model="SubmittedActName" style="display: inline;color:#333; width: 300px;height: 35px;" class="form-control" />
                                                            </th>
                                                            <th>Company Type</th>
                                                            <th>Business Activity</th>
                                                            <th>Location Type</th>
                                                            <th>Act Applicability</th>
                                                            <th ng-click="sort('SubmittedQuestionID')"><b>Question</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='SubmittedQuestionID'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                            <th style="width: 100px;" ng-click="sort('Answers')"><b>Answers</b>   <span class="glyphicon sort-icon" ng-show="sortKey=='Answers'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>

                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody dir-paginate="submittedreviewer in submittedreviewers|orderBy:'SubmittedActID' | filter:SubmittedActName | filter:ActID |itemsPerPage:8" ng-model="search">
                                                        <tr>
                                                            <td style="font-size:12px;">
                                                                <label for="chkEmployee_{{submittedreviewer}}">
                                                                    <input id="chkEmployee_{{submittedreviewer.SubmittedQACMMappingID}}" type="checkbox" ng-model="submittedreviewer.Selected" ng-change="CheckUncheckHeader()" />
                                                                    <p style="display:none;">
                                                                        {{submittedreviewer.SubmittedQACMMappingID}}
                                                                    </p>
                                                                </label>
                                                                <input type="hidden" ng-model="submittedreviewer.SubmittedActID" />
                                                                <input type="hidden" ng-model="submittedreviewer.SubmittedQuestionID" />
                                                                <input type="hidden" ng-model="submittedreviewer.SubmittedServiceID" />
                                                                {{submittedreviewer.selected}}
                                                            </td>

                                                            <td style="font-size:12px; width:50px">

                                                                {{submittedreviewer.SubmittedActID }}
                                                            </td>
                                                            <td style="font-size:12px ; width:150px">
                                                                {{submittedreviewer.SubmittedActName}}
                                                            </td>
                                                            <td>
                                                                <select class="form-control" style="display: inline; width: 252px;" select2="" name="SubmittedCompanyTypeID"
                                                                        ng-model="submittedreviewer.SubmittedCompanyTypeID"
                                                                        containerCssClass="all" ng-options="r.ID as r.Name for r in SubmittedCompanyTypelist"
                                                                        ng-disabled="disabled" required>
                                                                    <option value="">Select Company Type</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <select class="form-control" style="display: inline; width: 252px;" select2="" name="SubmittedBusinessActivityID"
                                                                        ng-model="submittedreviewer.SubmittedBusinessActivityID"
                                                                        containerCssClass="all" ng-options="r.ID as r.Name for r in Submittedbusinessactivitylist"
                                                                        ng-disabled="disabled" required>
                                                                    <option value="">Select Business Activity</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <select class="form-control" style="display: inline; width: 252px;" select2="" name="SubmittedLocationTypeID"
                                                                        ng-model="submittedreviewer.SubmittedLocationTypeID"
                                                                        containerCssClass="all" ng-options="r.ID as r.Name for r in SubmittedLocationTypelist"
                                                                        ng-disabled="disabled" required>
                                                                    <option value="">Select Location Type</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <select class="form-control" style="display: inline; width: 252px;" select2="" name="SubmittedActApplicabilityID"
                                                                        ng-model="submittedreviewer.SubmittedActApplicabilityID"
                                                                        containerCssClass="all" ng-options="r.ID as r.Name for r in SubmittedActApplicabilitylist"
                                                                        ng-disabled="disabled" required>
                                                                    <option value="">Select Act Applicability</option>
                                                                </select>

                                                            </td>
                                                            <td>
                                                                <select class="form-control" style="display: inline; width: 252px;" select2="" name="SubmittedQuestionID" ng-model="submittedreviewer.SubmittedQuestionID"
                                                                        containerCssClass="all" ng-options="r.ID as r.QuestionName for r in Submittedquestionanswers" ng-change="onSubmittedQuestionChanges(submittedreviewer.SubmittedQuestionID,submittedreviewer)"
                                                                        ng-disabled="disabled" required>
                                                                    <option value="">Select Question</option>
                                                                </select>
                                                            </td>
                                                            <td>

                                                                <div class="main1" style="width:400px;">
                                                                    <div id="div1" ng-show="submittedreviewer.SubmitteddisabledValuedropdown">
                                                                        <select name="SubmittedServiceID" class="form-control"
                                                                                style="display: inline; padding: 2px; width:70px;" select2=""
                                                                                ng-model="submittedreviewer.SubmittedServiceID"
                                                                                ng-options="service.ServiceID as service.ServiceName for service in services"
                                                                                required>
                                                                            <option value="">Select</option>
                                                                        </select>

                                                                    </div>
                                                                    <div id="div2" style="margin-left:10px;">
                                                                        <input ng-show="submittedreviewer.SubmitteddisabledValuedropdown" type="text" style="display: inline;color:#333; width: 300px;height: 35px;"
                                                                               class="form-control" name="SubmittedAnswer" ng-model="submittedreviewer.SubmittedAnswer" required />
                                                                        <p style="color:red" ng-show="userForm.SubmittedAnswer.$error.required  && !userForm.SubmittedAnswer.$pristine" class="help-block"> Value is required.</p>

                                                                        <input ng-show="submittedreviewer.SubmitteddisabledValueSingle" type="text" style="display: inline;color:#333; width: 380px;height: 45px;"
                                                                               class="form-control" name="SubmittedAnswerSingle"
                                                                               ng-model="submittedreviewer.SubmittedAnswerSingle" required />
                                                                        <p style="color:red" ng-show="userForm.SubmittedAnswerSingle.$error.required
                                                                            && !userForm.SubmittedAnswerSingle.$pristine" class="help-block">Value is required.</p>


                                                                        <input ng-show="submittedreviewer.SubmitteddisabledValueMultiple" type="text" style="display: inline;color:#333; width: 380px;height: 45px;"
                                                                               class="form-control" name="SubmittedAnswerMultiple"
                                                                               ng-model="submittedreviewer.SubmittedAnswerMultiple" required />
                                                                        <p style="color:red" ng-show="userForm.SubmittedAnswerMultiple.$error.required
                                                                            && !userForm.SubmittedAnswerMultiple.$pristine" class="help-block">Value is required.</p>

                                                                    </div>
                                                                    <div id="div3">
                                                                        <label ng-show="submittedreviewer.SubmitteddisabledRange">Min:</label>
                                                                        <input ng-show="submittedreviewer.SubmitteddisabledRange" name="SubmittedAnsweRangeMin"
                                                                               style="display: inline;color:#333; width:150px;height: 35px;" class="form-control" type="number" ng-model="submittedreviewer.SubmittedAnsweRangeMin">
                                                                        <p style="color:red" ng-show="userForm.SubmittedAnsweRangeMin.$error.required  && !userForm.SubmittedAnsweRangeMin.$pristine" class="help-block"> Value is required.</p>
                                                                    </div>
                                                                    <div id="div4">
                                                                        <label ng-show="submittedreviewer.SubmitteddisabledRange">Max:</label>
                                                                        <input ng-show="submittedreviewer.SubmitteddisabledRange" name="SubmittedAnsweRangeMax" style="display: inline;color:#333; width:150px;height: 35px;"
                                                                               class="form-control" type="number" ng-model="submittedreviewer.SubmittedAnsweRangeMax">
                                                                        <p style="color:red" ng-show="userForm.SubmittedAnsweRangeMax.$error.required  && !userForm.SubmittedAnsweRangeMax.$pristine" class="help-block"> Value is required.</p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td style="width: 100px;">
                                                                <div class="main2">
                                                                    <div id="div5">
                                                                       
                                                                    </div>
                                                                    <div id="div6">
                                                                        <button type="button" class="btn btn-primary btn-sm" ng-click="SubmittedSaverow(submittedreviewer)">
                                                                            <span class="glyphicon glyphicon-floppy-saved"></span>
                                                                        </button>
                                                                    </div>
                                                                    <div id="div7">
                                                                        <button class="btn btn-primary btn-sm"
                                                                                ng-click="DeletedSubmittedDetail(submittedreviewer);">
                                                                            <span class="glyphicon glyphicon-trash"></span>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                    </tbody>
                                                </table>
                                                <dir-pagination-controls max-size="10"
                                                                         direction-links="true"
                                                                         boundary-links="true">
                                                </dir-pagination-controls>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group" style="text-align: center; float: left;">

                                            <p>
                                                <button class="btn btn-primary btn-sm" ng-click="BulkSaveAdd(true);">Save</button>
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="tab2" class="tab-pane fade">

                        @*Approved*@
                        <div>
                            <div id="wrapper" class="clearfix" scroll-bookmark="bookmark">
                                <form name="userForm" novalidate>
                                    <div class="form-group"></div>
                                    <div>
                                        <div id="table">
                                            <div class="table-responsive " style="" scroll-bookmark="bookmark2">
                                                <table id="tblOrders" cellpadding="12" class="table table-bordered table-hover table-striped display nowrap" style="margin-left: 0px; margin-right: 0px;">

                                                    <thead style="background-color:#6db6ec;color:white;font-size:12px;">
                                                        <tr>
                                                            <th align="left">
                                                                <label>
                                                                    <input type="checkbox" ng-model="TaggedIsAllChecked" ng-change="TaggedCheckUncheckAll()" />
                                                                    Select All
                                                                </label>
                                                            </th>
                                                            <th ng-click="sort('ApprovedActID')">
                                                                <b>ActID</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='ApprovedActID'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                <input type="text" ng-model="ApprovedActID" style="display: inline;color:#333; width: 100px;height: 35px;" class="form-control" />
                                                            </th>
                                                            <th style="cursor: pointer;" ng-click="sort('ApprovedActName')">
                                                                <b>ActName</b><span class="glyphicon sort-icon" ng-show="sortKey=='ApprovedActName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                <input type="text" ng-model="ApprovedActName" style="display: inline;color:#333; width: 300px;height: 35px;" class="form-control" />
                                                            </th>
                                                            <th>Company Type</th>
                                                            <th>Business Activity</th>
                                                            <th>Location Type</th>
                                                            <th>Act Applicability</th>
                                                            <th ng-click="sort('ApprovedQuestionID')"><b>Question</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='ApprovedQuestionID'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                            <th style="width: 100px;" ng-click="sort('Answers')"><b>Answers</b>   <span class="glyphicon sort-icon" ng-show="sortKey=='Answers'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody dir-paginate="allapprovedcompliance in AllApprovedCompliances|orderBy:'ApprovedActID'|filter:ApprovedActID | filter:ApprovedActName  |itemsPerPage:10" ng-model="search">
                                                        <tr>
                                                            <td style="font-size:12px;">
                                                                <label for="chkUpdateTagged_{{allapprovedcompliance}}">
                                                                    <input id="chkUpdateTagged__{{allapprovedcompliance.ApprovedQACMMappingID}}" type="checkbox"
                                                                           ng-model="allapprovedcompliance.TaggedSelected" ng-change="TaggedCheckUncheckHeader()" ng-disabled="allapprovedcompliance.Approveddisablestatus != 0" />
                                                                    <p style="display:none;">
                                                                        {{allapprovedcompliance.ApprovedQACMMappingID}}
                                                                    </p>
                                                                </label>
                                                                <input type="hidden" ng-model="allapprovedcompliance.ApprovedActID" />
                                                                <input type="hidden" ng-model="allapprovedcompliance.ApprovedQuestionID" />
                                                                <input type="hidden" ng-model="allapprovedcompliance.ApprovedServiceID" />
                                                                <div style="display:none;">
                                                                    {{allapprovedcompliance.TaggedSelected}}
                                                                </div>
                                                            </td>

                                                            <td style="font-size:12px; width:50px">
                                                                {{allapprovedcompliance.ApprovedActID }}
                                                            </td>
                                                            <td style="font-size:12px ; width:150px">
                                                                {{allapprovedcompliance.ApprovedActName}}
                                                            </td>
                                                            <td>
                                                                <select class="form-control" style="display: inline; width: 252px;" select2="" name="ApprovedCompanyTypeID"
                                                                        ng-model="allapprovedcompliance.ApprovedCompanyTypeID"
                                                                        containerCssClass="all" ng-options="r.ID as r.Name for r in ApprovedCompanyTypelist"
                                                                        ng-disabled="disabled" required>
                                                                    <option value="">Select Company Type</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <select class="form-control" style="display: inline; width: 252px;" select2="" name="ApprovedBusinessActivityID"
                                                                        ng-model="allapprovedcompliance.ApprovedBusinessActivityID"
                                                                        containerCssClass="all" ng-options="r.ID as r.Name for r in Approvedbusinessactivitylist"
                                                                        ng-disabled="disabled" required>
                                                                    <option value="">Select Business Activity</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <select class="form-control" style="display: inline; width: 252px;" select2="" name="ApprovedLocationTypeID"
                                                                        ng-model="allapprovedcompliance.ApprovedLocationTypeID"
                                                                        containerCssClass="all" ng-options="r.ID as r.Name for r in ApprovedLocationTypelist"
                                                                        ng-disabled="disabled" required>
                                                                    <option value="">Select Location Type</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <select class="form-control" style="display: inline; width: 252px;" select2="" name="ApprovedActApplicabilityID"
                                                                        ng-model="allapprovedcompliance.ApprovedActApplicabilityID"
                                                                        containerCssClass="all" ng-options="r.ID as r.Name for r in ApprovedActApplicabilitylist"
                                                                        ng-disabled="disabled" required>
                                                                    <option value="">Select Act Applicability</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <select class="form-control" style="display: inline; width: 252px;" select2="" name="ApprovedQuestionID" ng-model="allapprovedcompliance.ApprovedQuestionID"
                                                                        containerCssClass="all" ng-options="r.ID as r.QuestionName for r in Approvedquestionanswers"
                                                                        ng-change="onApprovedQuestionChanges(allapprovedcompliance.ApprovedQuestionID,allapprovedcompliance)"
                                                                        ng-disabled="disabled" required>
                                                                    <option value="">Select Question</option>
                                                                </select>
                                                            </td>
                                                            <td>

                                                                <div class="main1" style="width:400px;">
                                                                    <div id="div1" ng-show="allapprovedcompliance.ApproveddisabledValuedropdown">
                                                                        <select name="ApprovedServiceID" class="form-control"
                                                                                style="display: inline; padding: 2px; width:70px;" select2=""
                                                                                ng-model="allapprovedcompliance.ApprovedServiceID"
                                                                                ng-options="service.ServiceID as service.ServiceName for service in services"
                                                                                required>
                                                                            <option value="">Select</option>
                                                                        </select>

                                                                    </div>
                                                                    <div id="div2">
                                                                        <input ng-show="allapprovedcompliance.ApproveddisabledValuedropdown" type="text" style="margin-left: 10px; display: inline;color:#333; width: 300px;height: 35px;"
                                                                               class="form-control" name="ApprovedAnswer" ng-model="allapprovedcompliance.ApprovedAnswer" required />
                                                                        <p style="color:red" ng-show="userForm.ApprovedAnswer.$error.required  && !userForm.ApprovedAnswer.$pristine"
                                                                           class="help-block">Value is required.</p>

                                                                        <input ng-show="allapprovedcompliance.ApprovedisabledValueSingle" type="text" style="display: inline;color:#333; width: 380px;height: 35px;"
                                                                               class="form-control" name="ApprovedAnswerSingle"
                                                                               ng-model="allapprovedcompliance.ApprovedAnswerSingle" required />
                                                                        <p style="color:red" ng-show="userForm.ApprovedAnswerSingle.$error.required  && !userForm.ApprovedAnswerSingle.$pristine" class="help-block"> Value is required.</p>

                                                                        <input ng-show="allapprovedcompliance.ApproveddisabledValueMultiple" type="text" style="display: inline;color:#333; width: 380px;height: 35px;"
                                                                               class="form-control" name="ApprovedAnswerMultiple"
                                                                               ng-model="allapprovedcompliance.ApprovedAnswerMultiple" required />
                                                                        <p style="color:red" ng-show="userForm.ApprovedAnswerMultiple.$error.required  && !userForm.ApprovedAnswerMultiple.$pristine" class="help-block"> Value is required.</p>



                                                                    </div>
                                                                    <div id="div3">
                                                                        <label ng-show="allapprovedcompliance.ApproveddisabledRange">Min:</label>
                                                                        <input ng-show="allapprovedcompliance.ApproveddisabledRange" name="ApprovedAnsweRangeMin"
                                                                               style="display: inline;color:#333; width:150px;height: 35px;" class="form-control" type="number"
                                                                               ng-model="allapprovedcompliance.ApprovedAnsweRangeMin">
                                                                        <p style="color:red" ng-show="userForm.ApprovedAnsweRangeMin.$error.required  && !userForm.ApprovedAnsweRangeMin.$pristine" class="help-block"> Value is required.</p>
                                                                    </div>
                                                                    <div id="div4">
                                                                        <label ng-show="allapprovedcompliance.ApproveddisabledRange">Max:</label>
                                                                        <input ng-show="allapprovedcompliance.ApproveddisabledRange" name="ApprovedAnsweRangeMax" style="display: inline;color:#333; width:150px;height: 35px;"
                                                                               class="form-control" type="number" ng-model="allapprovedcompliance.ApprovedAnsweRangeMax">
                                                                        <p style="color:red" ng-show="userForm.ApprovedAnsweRangeMax.$error.required  && !userForm.ApprovedAnsweRangeMax.$pristine" class="help-block"> Value is required.</p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td style="width: 100px;">
                                                                <div class="main2">
                                                                    <div id="div5">
                                                                        <button type="button" class="btn btn-primary btn-sm" ng-click="ApprovedSaverow(allapprovedcompliance)" ng-disabled="allapprovedcompliance.Approveddisablestatus != 0">
                                                                            <span class="glyphicon glyphicon-edit"></span>
                                                                        </button>
                                                                    </div>
                                                                    <div id="div6">

                                                                    </div>
                                                                    <div id="div7">

                                                                    </div>
                                                                </div>
                                                            </td>
                                                    </tbody>
                                                </table>
                                                <dir-pagination-controls max-size="10"
                                                                         direction-links="true"
                                                                         boundary-links="true">
                                                </dir-pagination-controls>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group" style="text-align: center; float: left;">
                                            <p>
                                                <button class="btn btn-primary btn-sm" ng-click="BulkUpdate(true);">Update</button>
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var app = angular.module("KendoDemos", ['ngFileUpload', 'angularjs-dropdown-multiselect', 'angularUtils.directives.dirPagination', "kendo.directives", "ngTagsInput"]);
        angular.element(document).ready(function () {
            //angular.bootstrap(document, ["app"]);
        })
        app.directive("select2", function ($timeout, $parse) {
            return {
                restrict// Code goes here
            : 'AC',
                require: 'ngModel',
                link: function (scope, element, attrs) {
                    console.log(attrs);
                    $timeout(function () {
                        element.select2();
                        element.select2Initialized = true;
                    });

                    var refreshSelect = function () {
                        if (!element.select2Initialized) return;
                        $timeout(function () {
                            element.trigger('change');
                        });
                    };

                    var recreateSelect = function () {
                        if (!element.select2Initialized) return;
                        $timeout(function () {
                            element.select2('destroy');
                            element.select2();
                        });
                    };

                    scope.$watch(attrs.ngModel, refreshSelect);

                    if (attrs.ngOptions) {
                        var list = attrs.ngOptions.match(/ in ([^ ]*)/)[1];
                        // watch for option list change
                        scope.$watch(list, recreateSelect);
                    }

                    if (attrs.ngDisabled) {
                        scope.$watch(attrs.ngDisabled, refreshSelect);
                    }
                }
            };
        });
        app.controller("MyCtrl", function ($scope, $http, myService, $window) {

            $scope.services = [
                { ServiceID: 1, ServiceName: '<' },
                { ServiceID: 2, ServiceName: '>' },
                { ServiceID: 3, ServiceName: '=' },
                { ServiceID: 4, ServiceName: '≥' },
                { ServiceID: 5, ServiceName: '≤' }
            ];

            $scope.IsValid = null;
            $scope.form = false;
            $scope.form1 = false;
            $scope.editminus = false;
            $scope.tabs = false;
            $scope.addplus = true;
            $scope.addminus = false;
            $scope.tables = false;
            $scope.ShowLoader = false;

            GetPossibleQuestionAnswer()
            $scope.PossibleQuestionAnswerlist = [];
            function GetPossibleQuestionAnswer() {              
                $http({
                    method: 'Get',
                    url: '../QuestionActReviewer/GetPossibleQuestionAnswer',
                }).success(function (data, status, headers, config) {                   
                    $scope.PossibleQuestionAnswerlist = data;
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }

            GetActAgrup();
            function GetActAgrup() {                
                $scope.actsgrouplist = [];
                $http({
                    method: 'Get',
                    url: '../QuestionActReviewer/GetActAgrup',
                }).success(function (data, status, headers, config) {               
                    $scope.actsgrouplist = data;
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }

            $scope.Submittedbusinessactivitylist = [];
            $scope.Approvedbusinessactivitylist = [];
            GetBusinessActivity();
            function GetBusinessActivity() {
                $http({
                    method: 'Get',
                    url: '../QuestionActReviewer/GetBusinessActivity',
                }).success(function (data, status, headers, config) {
                    $scope.Submittedbusinessactivitylist = data;
                    $scope.Approvedbusinessactivitylist = data;
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }
            $scope.SubmittedActApplicabilitylist = [];
            $scope.ApprovedActApplicabilitylist = [];
            GetAct_Applicability();
            function GetAct_Applicability() {
                $http({
                    method: 'Get',
                    url: '../QuestionActReviewer/GetActApplicability',
                }).success(function (data, status, headers, config) {
                    $scope.SubmittedActApplicabilitylist = data;
                    $scope.ApprovedActApplicabilitylist = data;
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }
            $scope.SubmittedLocationTypelist = [];
            $scope.ApprovedLocationTypelist = [];
            GetLocationType();
            function GetLocationType() {

                $http({
                    method: 'Get',
                    url: '../QuestionActReviewer/GetLocationType',
                }).success(function (data, status, headers, config) {
                    $scope.SubmittedLocationTypelist = data;
                    $scope.ApprovedLocationTypelist = data;
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }
            //$scope.CategoriesSelected = [];

            $scope.SubmittedCompanyTypelist = [];
            $scope.ApprovedCompanyTypelist = [];
            GetCompanyType();
            function GetCompanyType() {
                $http({
                    method: 'Get',
                    url: '../QuestionActReviewer/GetCompanyType',
                }).success(function (data, status, headers, config) {
                    $scope.SubmittedCompanyTypelist = data;
                    $scope.ApprovedCompanyTypelist = data;
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }



            $scope.onTopactGroupChanges = function (val) {
                if (val != undefined) {
                    $scope.ActGroupID = val;
                    SubmittedBindgrid(val);
                    ApprovedBindgrid(val);
                }
            };
            $scope.Submittedquestionanswers = [];
            $scope.Approvedquestionanswers = [];
            GetQuestions();
            function GetQuestions() {
                $scope.Submittedquestionanswers = [];
                $scope.Approvedquestionanswers = [];
                $http({
                    method: 'Get',
                    url: '../Question/GetQuestionsACTDropDown',
                }).success(function (data, status, headers, config) {
                    $scope.Submittedquestionanswers = data;
                    $scope.Approvedquestionanswers = data;
                    $scope.SubmittedQuestionID = -1;
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }

            $scope.onSubmittedQuestionChanges = function (val, testItem) {            
                $scope.datamasters = [];                
                if (val != undefined) {
                    $http({
                        method: 'Get',
                        url: '../Question/GetControllsfromQuestion',
                        params: { qID: val }
                    }).success(function (data, status, headers, config) {                       
                        $scope.datamasters = data;
                        if (data["ControlId"] == 1) {
                                                  
                            testItem.SubmitteddisabledValuedropdown = 0;
                            testItem.SubmitteddisabledValueSingle = 1;
                            testItem.SubmitteddisabledValueMultiple = 0;
                            testItem.SubmitteddisabledRange = 0;
                            testItem.SubmittedServiceID = -1;
                            testItem.SubmittedAnswer = "";
                            testItem.SubmittedAnswerSingle = data["PossibleAnswer"];
                            testItem.SubmittedAnswerMultiple = "";
                            testItem.SubmittedAnsweRangeMin = "";
                            testItem.SubmittedAnsweRangeMax = "";
                            testItem.SubmittedControllID = 1;
                            $scope.SubmittedControllID = 1;                           
                           // this.PossibleQuestionAnswerlist1 = $scope.PossibleQuestionAnswerlist.filter(a=>a.QuestionId == data["ID"]);                          
                        }
                        else if (data["ControlId"] == 2) {
                            $scope.PossibleQuestionAnswerlist = [];
                            GetPossibleQuestionAnswer();
                            testItem.SubmitteddisabledValuedropdown = 0;
                            testItem.SubmitteddisabledValueSingle = 0;
                            testItem.SubmitteddisabledValueMultiple = 1;
                            testItem.SubmitteddisabledRange = 0;
                            testItem.SubmittedServiceID = -1;
                            testItem.SubmittedAnswer = "";
                            testItem.SubmittedAnswerSingle = "";
                            testItem.SubmittedAnswerMultiple = data["PossibleAnswer"];
                            testItem.SubmittedAnsweRangeMin = "";
                            testItem.SubmittedAnsweRangeMax = "";
                            testItem.SubmittedControllID = 2;
                            $scope.SubmittedControllID = 2;
                            //this.PossibleQuestionAnswerlist1 = $scope.PossibleQuestionAnswerlist.filter(a=>a.QuestionId == data["ID"]);
                        }
                        else if (data["ControlId"] == 3) {

                            testItem.SubmitteddisabledValuedropdown = 0;
                            testItem.SubmitteddisabledValueSingle = 0;
                            testItem.SubmitteddisabledValueMultiple = 0;
                            testItem.SubmitteddisabledRange = 1;
                            testItem.SubmittedServiceID = -1;
                            testItem.SubmittedAnswer = "";
                            testItem.SubmittedAnswerSingle = "";
                            testItem.SubmittedAnswerMultiple = "";
                            testItem.SubmittedAnsweRangeMin = "";
                            testItem.SubmittedAnsweRangeMax = "";
                            testItem.SubmittedControllID = 3;
                            $scope.SubmittedControllID = 3;
                        }
                        else if (data["ControlId"] == 4) {

                            testItem.SubmitteddisabledValuedropdown = 1;
                            testItem.SubmitteddisabledValueSingle = 0;
                            testItem.SubmitteddisabledValueMultiple = 0;
                            testItem.SubmitteddisabledRange = 0;
                            testItem.SubmittedServiceID = -1;
                            testItem.SubmittedAnswer = "";
                            testItem.SubmittedAnswerSingle = "";
                            testItem.SubmittedAnswerMultiple = "";;
                            testItem.SubmittedAnsweRangeMin = "";
                            testItem.SubmittedAnsweRangeMax = "";
                            testItem.SubmittedControllID = 4;
                            $scope.SubmittedControllID = 4;
                        }
                        else {
                            testItem.SubmitteddisabledValuedropdown = 0;
                            testItem.SubmitteddisabledValueSingle = 0;
                            testItem.SubmitteddisabledValueMultiple = 0;
                            testItem.SubmitteddisabledRange = 0;
                            testItem.SubmittedControllID = -1;
                            $scope.SubmittedControllID = -1;
                        }
                    });
                } else {
                    testItem.SubmitteddisabledValuedropdown = 0;
                    testItem.SubmitteddisabledValueSingle = 0;
                    testItem.SubmitteddisabledValueMultiple = 0;
                    testItem.SubmitteddisabledRange = 0;
                    testItem.SubmittedControllID = -1;
                    $scope.SubmittedControllID = -1;
                }
            };

            function SubmittedBindgrid(actidval) {
                $http({
                    method: 'Get',
                    url: '../QuestionActReviewer/getAllActs',
                    params: { actgroupid: JSON.stringify(actidval) }
                }).success(function (data, status, headers, config) {
                    $scope.submittedreviewers = [];                    
                    var c = 0;
                    for (var i = 0; i < data.length; i++) {
                        var time = {};                       
                        time.SubmittedQACMMappingID = data[i].SubmittedQACMMappingID;
                        time.SubmittedActID = data[i].SubmittedActID;
                        time.SubmittedActName = data[i].SubmittedActName;
                        time.SubmittedQuestionID = data[i].SubmittedQuestionID;
                        time.SubmittedControllID = data[i].SubmittedControllID;
                        time.SubmittedServiceID = data[i].SubmittedServiceID;
                        time.SubmittedAnswer = data[i].SubmittedAnswer;
                        time.SubmittedAnswerSingle = data[i].SubmittedAnswerSingle;
                        time.SubmittedAnswerMultiple = data[i].SubmittedAnswerMultiple;
                        time.SubmittedAnsweRangeMax = data[i].SubmittedAnsweRangeMax;
                        time.SubmittedAnsweRangeMin = data[i].SubmittedAnsweRangeMin;
                        time.SubmitteddisabledValueSingle = data[i].SubmitteddisabledValueSingle;
                        time.SubmitteddisabledValueMultiple = data[i].SubmitteddisabledValueMultiple;
                        time.SubmitteddisabledRange = data[i].SubmitteddisabledRange;
                        time.SubmitteddisabledValuedropdown = data[i].SubmitteddisabledValuedropdown;
                        time.SubmittedCompanyTypeID = data[i].SubmittedCompanyTypeID;
                        time.SubmittedLocationTypeID = data[i].SubmittedLocationTypeID;
                        time.SubmittedBusinessActivityID = data[i].SubmittedBusinessActivityID;
                        time.SubmittedActApplicabilityID = data[i].SubmittedActApplicabilityID;
                        time.SubmittedStatusid = data[i].SubmittedStatusid;
                        $scope.submittedreviewers.push(time);
                    }

                    $scope.CheckUncheckHeader = function () {
                        $scope.IsAllChecked = false;
                        for (var i = 0; i < $scope.submittedreviewers.length; i++) {
                            if (!$scope.submittedreviewers[i].Selected) {
                                $scope.IsAllChecked = false;
                                break;
                            }
                        };
                    };
                    $scope.CheckUncheckHeader();
                    $scope.CheckUncheckAll = function () {
                        for (var i = 0; i < $scope.submittedreviewers.length; i++) {
                            $scope.submittedreviewers[i].Selected = $scope.IsAllChecked;
                        }
                    };
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }

            $scope.sort = function (keyname) {
                $scope.sortKey = keyname;
                $scope.reverse = !$scope.reverse;
            }


            $scope.BulkSaveAdd = function (isValid) {
                $scope.IsValid = false;
                if (isValid) {
                    $scope.userForm.$setPristine();
                    var entry = {};
                    var details = new Array();
                    for (var i = 0; i < $scope.submittedreviewers.length; i++) {
                        if ($scope.submittedreviewers[i].Selected) {
                            var detail = {};
                            detail.SubmittedActID = this.submittedreviewers[i].SubmittedActID;                            
                            detail.SubmittedQuestionID = this.submittedreviewers[i].SubmittedQuestionID;
                            detail.SubmittedControllID = this.submittedreviewers[i].SubmittedControllID;
                            if (this.submittedreviewers[i].SubmittedControllID == 4) {
                                detail.SubmittedServiceID = this.submittedreviewers[i].SubmittedServiceID;
                                detail.SubmittedAnswer = this.submittedreviewers[i].SubmittedAnswer;
                                detail.SubmittedAnswerSingle = "";
                                detail.SubmittedAnswerMultiple = "";
                            }
                            else if (this.submittedreviewers[i].SubmittedControllID == 2) {
                                detail.SubmittedServiceID = -1;
                                detail.SubmittedAnswer = 0;
                                detail.SubmittedAnswerSingle = "";
                                detail.SubmittedAnswerMultiple = this.submittedreviewers[i].SubmittedAnswerMultiple;
                            }
                            else {
                                detail.SubmittedServiceID = -1;
                                detail.SubmittedAnswer = 0;
                                detail.SubmittedAnswerSingle = this.submittedreviewers[i].SubmittedAnswerSingle;
                                detail.SubmittedAnswerMultiple = "";
                            }
                            if ($scope.submittedreviewers[i].SubmittedAnsweRangeMin == "") {
                                detail.SubmittedAnsweRangeMin = 0;
                            }
                            else {
                                detail.SubmittedAnsweRangeMin = this.submittedreviewers[i].SubmittedAnsweRangeMin;
                            }
                            if (this.submittedreviewers[i].SubmittedAnsweRangeMax == "") {
                                detail.SubmittedAnsweRangeMax = 0;
                            }
                            else {
                                detail.SubmittedAnsweRangeMax = this.submittedreviewers[i].SubmittedAnsweRangeMax;
                            }

                            detail.SubmittedCompanyTypeID = this.submittedreviewers[i].SubmittedCompanyTypeID;
                            detail.SubmittedBusinessActivityID = this.submittedreviewers[i].SubmittedBusinessActivityID;
                            detail.SubmittedLocationTypeID = this.submittedreviewers[i].SubmittedLocationTypeID;
                            detail.SubmittedActApplicabilityID = this.submittedreviewers[i].SubmittedActApplicabilityID;

                            details.push(detail);
                        }
                        else {
                        }
                    }
                    entry.Approvals = details;
                    $http({
                        method: "post",
                        url: "../QuestionActReviewer/SaveActs",
                        dataType: 'json',
                        headers: { "Content-Type": "application/json" },
                        data: '{TimeSheets: ' + JSON.stringify(entry) + '}'
                    }).then(function (response) {
                        $scope.msg = response.data;

                        if (response.data == "Details Saved Successfully!") {
                            if ($scope.ActGroupID != -1) {
                                SubmittedBindgrid($scope.ActGroupID)
                            }
                            $scope.tabs = false;
                            $scope.adtabls = false;
                            $scope.form = false;
                            $scope.form1 = false;
                            $scope.DisplayForm = false;
                            $scope.addplus = true;
                            $scope.addminus = false;
                            $scope.editminus = false;
                            $scope.DeleteAlert = false;
                            $scope.AddAlert = true;
                            $scope.EditAlert = false;
                            clearFields();
                        }
                        else {
                            $scope.tabs = true;
                        }

                    }), function (error) {
                        $scope.Message = error.Message;
                    }

                }
                else {
                    // Show error Message if Form not valid.
                    if ($scope.userForm.$error.required != undefined) {
                        for (var i = 0; i < $scope.userForm.$error.required.length; i++) {
                            $scope.userForm.$error.required[i].$pristine = false;
                        }
                    }
                }
            };
            //Back Functionality
            $scope.close = function () {
                $scope.DisplayForm = false;
                $scope.tabs = false;
                $scope.adtabls = false;
                $scope.form = false;
                $scope.form1 = false;
                $scope.addminus = false;
                $scope.addplus = true;
                $scope.editminus = false;
                clearFields();
                $scope.DisplayForm = false;
                // Reset Error.
                $scope.userForm.$setPristine();
            }
            //cancel Functionality
            $scope.cancel = function () {
                $scope.DisplayForm = false;
                $scope.tabs = false;
                $scope.adtabls = false;
                $scope.form = false;
                $scope.form1 = false;
                $scope.addminus = false;
                $scope.addplus = true;
                $scope.editminus = false;
                clearFields();
                $scope.DisplayForm = false;
                loadPaytypes();
                // Reset Error.
                $scope.userForm.$setPristine();
            }
            //clear Fileds
            function clearFields() {
                $scope.IsRecoverable = false;
                $scope.displaydraft = true;
                $scope.displayComment = false;
                $scope.Disabled = true;
                $scope.ControlId = -1;
                $scope.userForm.$setPristine();
            }

            //delete punch items
            $scope.DeletedSubmittedDetail = function (submittedreviewer) {                
                var index = $scope.submittedreviewers.indexOf(submittedreviewer);
                if ($window.confirm("Do you want to delete? ")) {
                    $scope.submittedreviewers.splice(index, 1);
                }
            }
            
            $scope.SubmittedSaverow = function (submittedreviewer) {                
                $scope.userForm.$setPristine();
                var detail = {};
                detail.SubmittedQACMMappingID = submittedreviewer.SubmittedQACMMappingID;
                detail.SubmittedActID = submittedreviewer.SubmittedActID;                
                detail.SubmittedQuestionID = submittedreviewer.SubmittedQuestionID;
                detail.SubmittedControllID = $scope.SubmittedControllID;
                if ($scope.SubmittedControllID == 4) {
                    detail.SubmittedServiceID = submittedreviewer.SubmittedServiceID;
                    detail.SubmittedAnswer = submittedreviewer.SubmittedAnswer;
                    detail.SubmittedAnswerSingle = "";
                    detail.SubmittedAnswerMultiple = "";
                }
                else if ($scope.SubmittedControllID == 2) {
                    detail.SubmittedServiceID = -1;
                    detail.SubmittedAnswer = 0;
                    detail.SubmittedAnswerSingle = "";
                    detail.SubmittedAnswerMultiple = submittedreviewer.SubmittedAnswerMultiple;
                }
                else {
                    detail.SubmittedServiceID = -1;
                    detail.SubmittedAnswer = 0;
                    detail.SubmittedAnswerSingle = submittedreviewer.SubmittedAnswerSingle;
                    detail.SubmittedAnswerMultiple = "";
                }
                if (submittedreviewer.SubmittedAnsweRangeMin == "") {
                    detail.SubmittedAnsweRangeMin = 0;
                }
                else {
                    detail.SubmittedAnsweRangeMin = submittedreviewer.SubmittedAnsweRangeMin;
                }
                if (submittedreviewer.SubmittedAnsweRangeMax == "") {
                    detail.SubmittedAnsweRangeMax = 0;
                }
                else {
                    detail.SubmittedAnsweRangeMax = submittedreviewer.SubmittedAnsweRangeMax;
                }
                detail.SubmittedCompanyTypeID = submittedreviewer.SubmittedCompanyTypeID;
                detail.SubmittedBusinessActivityID = submittedreviewer.SubmittedBusinessActivityID;
                detail.SubmittedLocationTypeID = submittedreviewer.SubmittedLocationTypeID;
                detail.SubmittedActApplicabilityID = submittedreviewer.SubmittedActApplicabilityID;
                var getData = myService.AddActivity(detail);
                getData.then(function (msg) {
                    $scope.msg = msg.data;
                    if (msg.data == "Details Saved Successfully!") {
                        if ($scope.ActGroupID != -1) {
                            SubmittedBindgrid($scope.ActGroupID)
                            ApprovedBindgrid($scope.ActGroupID);
                        }
                        clearFields();
                        $scope.ShowLoader = false;
                        $scope.DisplayForm = false;
                        $scope.addminus = false;
                        $scope.addplus = true;
                        $scope.editminus = false;
                        $scope.DeleteAlert = false;
                        $scope.AddAlert = false;
                        $scope.EditAlert = true;
                        $scope.IsValid = true;
                    }
                    else if (msg.data == "Details already exists!") {
                        if ($scope.ActGroupID != -1) {
                            SubmittedBindgrid($scope.ActGroupID)
                            ApprovedBindgrid($scope.ActGroupID);
                        }
                        clearFields();
                        $scope.ShowLoader = false;
                        $scope.DisplayForm = false;
                        $scope.addminus = false;
                        $scope.addplus = true;
                        $scope.editminus = false;
                        $scope.DeleteAlert = false;
                        $scope.AddAlert = false;
                        $scope.EditAlert = true;
                        $scope.IsValid = true;
                    }
                }, function (msg) {
                    $scope.msg = msg.data;
                });
            };



            //Approved Source Code

            function ApprovedBindgrid(actgroupidval) {
                $http({
                    method: 'Get',
                    url: '../QuestionActReviewer/getAllApprovedActs',
                    params: { actgroupid: JSON.stringify(actgroupidval) }
                }).success(function (data, status, headers, config) {                  
                    $scope.AllApprovedCompliances = [];
                    var c = 0;
                    for (var i = 0; i < data.length; i++) {
                        var time = {};
                        time.ApprovedQACMMappingID = data[i].ApprovedQACMMappingID;
                        time.ApprovedActID = data[i].ApprovedActID;
                        time.ApprovedActName = data[i].ApprovedActName;
                        time.ApprovedQuestionID = data[i].ApprovedQuestionID;
                        time.ApprovedControllID = data[i].ApprovedControllID;
                        time.ApprovedServiceID = data[i].ApprovedServiceID;
                        time.ApprovedAnswer = data[i].ApprovedAnswer;
                        time.ApprovedAnswerSingle = data[i].ApprovedAnswerSingle;
                        time.ApprovedAnswerMultiple = data[i].ApprovedAnswerMultiple;
                        time.ApprovedAnsweRangeMax = data[i].ApprovedAnsweRangeMax;
                        time.ApprovedAnsweRangeMin = data[i].ApprovedAnsweRangeMin;
                        time.ApprovedisabledValueSingle = data[i].ApprovedisabledValueSingle;
                        time.ApproveddisabledValueMultiple = data[i].ApproveddisabledValueMultiple;
                        time.ApproveddisabledRange = data[i].ApproveddisabledRange;
                        time.ApproveddisabledValuedropdown = data[i].ApproveddisabledValuedropdown;

                        time.ApprovedCompanyTypeID = data[i].ApprovedCompanyTypeID;
                        time.ApprovedLocationTypeID = data[i].ApprovedLocationTypeID;
                        time.ApprovedBusinessActivityID = data[i].ApprovedBusinessActivityID;
                        time.ApprovedActApplicabilityID = data[i].ApprovedActApplicabilityID;
                        time.Approveddisablestatus = data[i].Approveddisablestatus;

                        $scope.AllApprovedCompliances.push(time);
                    }
                    $scope.TaggedCheckUncheckHeader = function () {
                        $scope.TaggedIsAllChecked = false;
                        for (var i = 0; i < $scope.AllApprovedCompliances.length; i++) {
                            if (!$scope.AllApprovedCompliances[i].TaggedSelected) {
                                $scope.TaggedIsAllChecked = false;
                                break;
                            }
                        };
                    };
                    $scope.TaggedCheckUncheckHeader();
                    $scope.TaggedCheckUncheckAll = function () {
                        for (var i = 0; i < $scope.AllApprovedCompliances.length; i++) {
                            if ($scope.AllApprovedCompliances[i].Approveddisablestatus == 0) {
                                $scope.AllApprovedCompliances[i].TaggedSelected = $scope.TaggedIsAllChecked;
                            }
                        }
                    };
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }


            $scope.onApprovedQuestionChanges = function (val, testItem) {
                $scope.datamasters = [];
                if (val != undefined) {
                    $http({
                        method: 'Get',
                        url: '../Question/GetControllsfromQuestion',
                        params: { qID: val }
                    }).success(function (data, status, headers, config) {
                        $scope.datamasters = data;
                        if (data["ControlId"] == 1) {

                            testItem.ApproveddisabledValuedropdown = 0;
                            testItem.ApprovedisabledValueSingle = 1;
                            testItem.ApproveddisabledValueMultiple = 0;
                            testItem.ApproveddisabledRange = 0;
                            testItem.ApprovedServiceID = -1;
                            testItem.ApprovedAnswer = "";
                            testItem.ApprovedAnswerSingle = data["PossibleAnswer"];
                            testItem.ApprovedAnswerMultiple = "";
                            testItem.ApprovedAnsweRangeMin = "";
                            testItem.ApprovedAnsweRangeMax = "";
                            testItem.ApprovedControllID = 1;
                            $scope.ApprovedControllID = 1;
                        }
                        else if (data["ControlId"] == 2) {
                            testItem.ApproveddisabledValuedropdown = 0;
                            testItem.ApprovedisabledValueSingle = 0;
                            testItem.ApproveddisabledValueMultiple = 1;
                            testItem.ApproveddisabledRange = 0;
                            testItem.ApprovedServiceID = -1;
                            testItem.ApprovedAnswer = "";
                            testItem.ApprovedAnswerSingle = "";
                            testItem.ApprovedAnswerMultiple = data["PossibleAnswer"];
                            testItem.ApprovedAnsweRangeMin = "";
                            testItem.ApprovedAnsweRangeMax = "";
                            testItem.ApprovedControllID = 2;
                            $scope.ApprovedControllID = 2;
                        }
                        else if (data["ControlId"] == 3) {

                            testItem.ApproveddisabledValuedropdown = 0;
                            testItem.ApprovedisabledValueSingle = 0;
                            testItem.ApproveddisabledValueMultiple = 0;
                            testItem.ApproveddisabledRange = 1;
                            testItem.ApprovedServiceID = -1;
                            testItem.ApprovedAnswer = "";
                            testItem.ApprovedAnswerSingle = "";
                            testItem.ApprovedAnswerMultiple = "";
                            testItem.ApprovedAnsweRangeMin = "";
                            testItem.ApprovedAnsweRangeMax = "";
                            testItem.ApprovedControllID = 3;
                            $scope.ApprovedControllID = 3;
                        }
                        else if (data["ControlId"] == 4) {

                            testItem.ApproveddisabledValuedropdown = 1;
                            testItem.ApprovedisabledValueSingle = 0;
                            testItem.ApproveddisabledValueMultiple = 0;
                            testItem.ApproveddisabledRange = 0;
                            testItem.ApprovedServiceID = -1;
                            testItem.ApprovedAnswer = "";
                            testItem.ApprovedAnswerSingle = "";
                            testItem.ApprovedAnswerMultiple = "";
                            testItem.ApprovedAnsweRangeMin = "";
                            testItem.ApprovedAnsweRangeMax = "";
                            testItem.ApprovedControllID = 4;
                            $scope.ApprovedControllID = 4;
                        }
                        else {
                            testItem.ApproveddisabledValuedropdown = 0;
                            testItem.ApprovedisabledValueSingle = 0;
                            testItem.ApproveddisabledValueMultiple = 0;
                            testItem.ApproveddisabledRange = 0;
                            testItem.ApprovedControllID = -1;
                            $scope.ApprovedControllID = -1;
                        }
                    });
                } else {
                    testItem.ApproveddisabledValuedropdown = 0;
                    testItem.ApprovedisabledValueSingle = 0;
                    testItem.ApproveddisabledValueMultiple = 0;
                    testItem.ApproveddisabledRange = 0;
                    testItem.ApprovedControllID = -1;
                    $scope.ApprovedControllID = -1;
                }
            };
            $scope.ApprovedSaverow = function (allapprovedcompliance) {                
                $scope.userForm.$setPristine();
                var detail = {};
                detail.ApprovedQACMMappingID = allapprovedcompliance.ApprovedQACMMappingID;
                detail.ApprovedActID = allapprovedcompliance.ApprovedActID;
                detail.ApprovedQuestionID = allapprovedcompliance.ApprovedQuestionID;
                detail.ApprovedControllID = allapprovedcompliance.ApprovedControllID;
                detail.ApprovedCompanyTypeID = allapprovedcompliance.ApprovedCompanyTypeID;
                detail.ApprovedBusinessActivityID = allapprovedcompliance.ApprovedBusinessActivityID;
                detail.ApprovedLocationTypeID = allapprovedcompliance.ApprovedLocationTypeID;
                detail.ApprovedActApplicabilityID = allapprovedcompliance.ApprovedActApplicabilityID;
                if ($scope.ApprovedControllID != undefined) {

                    if ($scope.ApprovedControllID == 4) {
                        detail.ApprovedServiceID = allapprovedcompliance.ApprovedServiceID;
                        detail.ApprovedAnswer = allapprovedcompliance.ApprovedAnswer;
                        detail.ApprovedAnswerSingle = "";
                        detail.ApprovedAnswerMultiple = "";
                    }
                    else if ($scope.ApprovedControllID == 2) {
                        detail.ApprovedServiceID = -1;
                        detail.ApprovedAnswer = 0;
                        detail.ApprovedAnswerSingle = "";
                        detail.ApprovedAnswerMultiple = allapprovedcompliance.ApprovedAnswerMultiple;
                    }
                    else {
                        detail.ApprovedServiceID = -1;
                        detail.ApprovedAnswer = 0;
                        detail.ApprovedAnswerSingle = allapprovedcompliance.ApprovedAnswerSingle;
                        detail.ApprovedAnswerMultiple = "";
                    }


                    if (allapprovedcompliance.ApprovedAnsweRangeMin == "") {
                        detail.ApprovedAnsweRangeMin = 0;
                    }
                    else {
                        detail.ApprovedAnsweRangeMin = allapprovedcompliance.ApprovedAnsweRangeMin;
                    }
                    if (allapprovedcompliance.ApprovedAnsweRangeMax == "") {
                        detail.ApprovedAnsweRangeMax = 0;
                    }
                    else {
                        detail.ApprovedAnsweRangeMax = allapprovedcompliance.ApprovedAnsweRangeMax;
                    }
                }
                else {
                    if (detail.ApprovedControllID == 4) {
                        detail.ApprovedServiceID = allapprovedcompliance.ApprovedServiceID;
                        detail.ApprovedAnswer = allapprovedcompliance.ApprovedAnswer;
                        detail.ApprovedAnswerSingle = "";
                        detail.ApprovedAnswerMultiple = "";
                    }
                    else if ($scope.ApprovedControllID == 2) {
                        detail.ApprovedServiceID = -1;
                        detail.ApprovedAnswer = 0;
                        detail.ApprovedAnswerSingle = "";
                        detail.ApprovedAnswerMultiple = allapprovedcompliance.ApprovedAnswerMultiple;
                    }
                    else {
                        detail.ApprovedServiceID = -1;
                        detail.ApprovedAnswer = 0;
                        detail.ApprovedAnswerSingle = allapprovedcompliance.ApprovedAnswerSingle;
                        detail.ApprovedAnswerMultiple = "";
                    }
                    if (allapprovedcompliance.ApprovedAnsweRangeMin == "") {
                        detail.ApprovedAnsweRangeMin = 0;
                    }
                    else {
                        detail.ApprovedAnsweRangeMin = allapprovedcompliance.ApprovedAnsweRangeMin;
                    }
                    if (allapprovedcompliance.ApprovedAnsweRangeMax == "") {
                        detail.ApprovedAnsweRangeMax = 0;
                    }
                    else {
                        detail.ApprovedAnsweRangeMax = allapprovedcompliance.ApprovedAnsweRangeMax;
                    }
                }
                var getData = myService.ApprovedupdateActivity(detail);
                getData.then(function (msg) {
                    $scope.msg = msg.data;
                    if (msg.data == "Details Updated Successfully!") {
                        if ($scope.ActGroupID != -1) {
                            ApprovedBindgrid($scope.ActGroupID)
                        }
                        clearFields();
                        $scope.ShowLoader = false;
                        $scope.DisplayForm = false;
                        $scope.addminus = false;
                        $scope.addplus = true;
                        $scope.editminus = false;
                        $scope.DeleteAlert = false;
                        $scope.AddAlert = false;
                        $scope.EditAlert = true;
                        $scope.IsValid = true;
                    }
                    else if (msg.data == "Details already exists!") {
                        if ($scope.ActGroupID != -1) {
                            ApprovedBindgrid($scope.ActGroupID)
                        }
                        clearFields();
                        $scope.ShowLoader = false;
                        $scope.DisplayForm = false;
                        $scope.addminus = false;
                        $scope.addplus = true;
                        $scope.editminus = false;
                        $scope.DeleteAlert = false;
                        $scope.AddAlert = false;
                        $scope.EditAlert = true;
                        $scope.IsValid = true;
                    }
                }, function (msg) {
                    $scope.msg = msg.data;
                });
            };

            $scope.BulkUpdate = function (isValid) {          
                $scope.IsValid = false;
                if (isValid) {
                    $scope.userForm.$setPristine();
                    var entry = {};
                    var details = new Array();
                    for (var i = 0; i < $scope.AllApprovedCompliances.length; i++) {
                        if ($scope.AllApprovedCompliances[i].TaggedSelected) {
                            var detail = {};                       
                            detail.ApprovedQACMMappingID = this.AllApprovedCompliances[i].ApprovedQACMMappingID;
                            detail.ApprovedActID = this.AllApprovedCompliances[i].ApprovedActID;
                            detail.ApprovedQuestionID = this.AllApprovedCompliances[i].ApprovedQuestionID;
                            detail.ApprovedControllID = this.AllApprovedCompliances[i].ApprovedControllID;

                            detail.ApprovedCompanyTypeID = this.AllApprovedCompliances[i].ApprovedCompanyTypeID;
                            detail.ApprovedBusinessActivityID = this.AllApprovedCompliances[i].ApprovedBusinessActivityID;
                            detail.ApprovedLocationTypeID = this.AllApprovedCompliances[i].ApprovedLocationTypeID;
                            detail.ApprovedActApplicabilityID = this.AllApprovedCompliances[i].ApprovedActApplicabilityID;

                            if (this.AllApprovedCompliances[i].ApprovedControllID == 4) {
                                detail.ApprovedServiceID = this.AllApprovedCompliances[i].ApprovedServiceID;
                                detail.ApprovedAnswer = this.AllApprovedCompliances[i].ApprovedAnswer;
                                detail.ApprovedAnswerSingle = "";
                                detail.ApprovedAnswerMultiple = "";
                            }
                            else if (this.AllApprovedCompliances[i].ApprovedControllID == 2) {
                                detail.ApprovedServiceID = -1;
                                detail.ApprovedAnswer = 0;
                                detail.ApprovedAnswerSingle = "";
                                detail.ApprovedAnswerMultiple = this.AllApprovedCompliances[i].ApprovedAnswerMultiple;
                            }
                            else {
                                detail.ApprovedServiceID = -1;
                                detail.ApprovedAnswer = 0;
                                detail.ApprovedAnswerSingle = this.AllApprovedCompliances[i].ApprovedAnswerSingle;
                                detail.ApprovedAnswerMultiple = "";
                            }
                            if ($scope.AllApprovedCompliances[i].ApprovedAnsweRangeMin == "") {
                                detail.ApprovedAnsweRangeMin = 0;
                            }
                            else {
                                detail.ApprovedAnsweRangeMin = this.AllApprovedCompliances[i].ApprovedAnsweRangeMin;
                            }
                            if (this.AllApprovedCompliances[i].ApprovedAnsweRangeMax == "") {
                                detail.ApprovedAnsweRangeMax = 0;
                            }
                            else {
                                detail.ApprovedAnsweRangeMax = this.AllApprovedCompliances[i].ApprovedAnsweRangeMax;
                            }
                            details.push(detail);
                        }
                        else {
                        }
                    }
                    entry.BulkUpdates = details;
                    $http({
                        method: "post",
                        url: "../QuestionActReviewer/BulkUpdateActApprovedQuestion",
                        dataType: 'json',
                        headers: { "Content-Type": "application/json" },
                        data: '{bupdate: ' + JSON.stringify(entry) + '}'
                    }).then(function (response) {
                        $scope.msg = response.data;                       
                        if (response.data == "Details Updated Successfully!") {
                            if ($scope.ActGroupID != -1) {
                                ApprovedBindgrid($scope.ActGroupID)
                            }
                            $scope.tabs = false;
                            $scope.adtabls = false;
                            $scope.form = false;
                            $scope.form1 = false;
                            $scope.DisplayForm = false;
                            $scope.addplus = true;
                            $scope.addminus = false;
                            $scope.editminus = false;
                            $scope.DeleteAlert = false;
                            $scope.AddAlert = true;
                            $scope.EditAlert = false;
                            clearFields();
                        }
                        else {
                            $scope.tabs = true;
                        }

                    }), function (error) {
                        $scope.Message = error.Message;
                    }

                }
                else {
                    // Show error Message if Form not valid.
                    if ($scope.userForm.$error.required != undefined) {
                        for (var i = 0; i < $scope.userForm.$error.required.length; i++) {
                            $scope.userForm.$error.required[i].$pristine = false;
                        }
                    }
                }
            };
        });


        app.service("myService", function ($http) {
            // Update Activity by Id
            this.AddActivity = function (activitie) {
                var response = $http({
                    method: "post",
                    url: "../QuestionActReviewer/AddQuestionActMapping",
                    data: JSON.stringify(activitie),
                    dataType: "json"
                });
                return response;
            }
            this.ApprovedupdateActivity = function (activitie) {
                var response = $http({
                    method: "post",
                    url: "../QuestionActReviewer/UpdateActApprovedQuestion",
                    data: JSON.stringify(activitie),
                    dataType: "json"
                });
                return response;
            }

        });
    </script>
</body>
</html>



