﻿<%@ Page Title="" Language="C#" MasterPageFile="~/NewCompliance.Master" AutoEventWireup="true" CodeBehind="maildetails.aspx.cs" Inherits="com.VirtuosoITech.ComplianceManagement.Portal.maildetails" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div style="float:left;width:100%">
          <div style="float:left;width:100%">
              <div style="float:left">From</div> <div style="float:left"><asp:Label ID="lblsender" runat="server"></asp:Label></div>
          </div>
            <div style="float:left;width:100%">
                <div style="float:left">Subject</div> <div style="float:left"><asp:Label ID="lblsubject" runat="server"></asp:Label></div>
          </div>
           <div style="float:left;width:100%">
               <div style="float:left">Message</div> <div style="float:left"><asp:Label ID="lblmessage" runat="server"></asp:Label></div>
          </div>
          

    </div>
</asp:Content>
