﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TlLogout.aspx.cs" Inherits="com.VirtuosoITech.ComplianceManagement.Portal.TlLogout" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript">
        window.history.forward();
       
        function preventBack() { alert("call"); window.history.forward(1); }
            //setTimeout("preventBack()", 0);
            //window.onunload = function () { null };
     
        
        //function ClearHistory() {
        //    debugger;
        //    var backlen = history.length;
        //    history.go(-backlen);
        //    window.location.href = loggedOutPageUrl
        //}
    </script>
</head>
    
<body onload="preventBack();" onpageshow="if (event.persisted) preventBack();" onunload="">
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
