﻿




@{ 
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>
    <script type="text/javascript" src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script type="text/javascript">
        var app = angular.module('myApp', []);
        app.controller('MainCtrl', function ($scope, $http) {
            $scope.employees = [{  Name: 'aa' }, {  Name: 'bb'}];
            $scope.files = [];
            $scope.Save = function () {
                var formData = new FormData();
                var details = new Array();
                var entry = {
                    EName:$scope.EName
                };
                for (var i = 0; i < $scope.employees.length; i++) {
                    debugger;
                    var detail = {};
                    detail.Id = $scope.employees[i].Id;
                    detail.Name = $scope.employees[i].Name;
                    var files = new Array();
                    if ($scope.employees[i].files != undefined) {
                        for (var j = 0; j < $scope.employees[i].files.length; j++) {
                            files.push($scope.employees[i].files[j].name);
                            var file = $scope.employees[i].files[j];
                            formData.append(file, file._file);
                        }
                        detail.Names = files;
                    }

                    details.push(detail);
                }
                //entry.details = details;
                formData.append("details", JSON.stringify(details));

                $http.post("/kendogrid/InsertFileDetails", formData, {
                    transformRequest: angular.identity,
                    headers: { 'Content-Type': undefined }
                }).success(function () {
                });
            }
        });
        app.directive('ngFileModel', ['$parse', function ($parse) {
            return {
                restrict: 'A',
                link: function (scope, element, attrs) {
                    var model = $parse(attrs.ngFileModel);
                    var isMultiple = attrs.multiple;
                    var modelSetter = model.assign;
                    element.bind('change', function () {
                        var values = [];
                        angular.forEach(element[0].files, function (item) {
                            var value = {
                                // File Name
                                name: item.name,
                                //File Size
                                size: item.size,
                                //File URL to view
                                url: URL.createObjectURL(item),
                                // File Input Value
                                _file: item
                            };
                            values.push(value);
                        });
                        scope.$apply(function () {
                            var index = scope.$index;
                            if (isMultiple) {
                                modelSetter(scope, values);
                                scope.$parent.employees[index].files = values;
                            } else {
                                modelSetter(scope, values[0]);
                                scope.$parent.employees[index].files = values[0];
                            }
                        });
                    });
                }
            };
        } ]);
    </script>
</head>
<body ng-app="myApp" ng-controller="MainCtrl">
    <input type="text" ng-model="EName" />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>UploadFile</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="employee in employees">
                <td><input type="text" ng-model="employee.Name" /></td>
                <td><input type="file" ng-file-model="files" multiple /></td>
            </tr>
        </tbody>
    </table>
    <button ng-click="Save()">Save</button>
</body>
</html>