﻿
<!DOCTYPE html>
<html>
<head>
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css" rel="stylesheet" />*@
    <link href="~/select2/select2.min.css" rel="stylesheet" />
    <link href="~/content/bootstrap.css" rel="stylesheet" />
    <link href="~/content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.common.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.rtl.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.silver.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="~/content/datepicker3.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.1/css/datepicker3.min.css" />*@
    <script type="text/javascript" src="../../Newjs/jquery-1.12.4.min.js"></script>
    <script src="~/masters/bootstrap.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.full.min.js"></script>*@
    <script src="~/select2/select2.min.js"></script>
    <script src="~/select2/select2.full.js"></script>
    <script src="~/scripts/anjular(1.5.0).min.js"></script>
    <script src="~/masters/angular.js"></script>
    <script src="~/scripts/angular.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>*@
    <script src="~/scripts/angular.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.1/js/bootstrap-datepicker.min.js"></script>*@
    <script src="~/scripts/date.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>

    <script src="~/masters/dirpagination.js"></script>
    <script type="text/javascript" src="../../Newjs/kendo.all.min.js"></script>
    <script type="text/javascript" src="../../Newjs/jszip.min.js"></script>

    <style type="text/css">
        /*.select2-selection__arrow b {
            display: none !important;
        }*/
        .select2-container--default .select2-selection--multiple:before {
            content: ' ';
            display: block;
            position: absolute;
            border-color: #888 transparent transparent transparent;
            border-style: solid;
            border-width: 5px 4px 0 4px;
            height: 0;
            right: 6px;
            margin-left: -4px;
            margin-top: -2px;
            top: 50%;
            width: 0;
            cursor: pointer;
        }

        .select2-container--open .select2-selection--multiple:before {
            content: ' ';
            display: block;
            position: absolute;
            border-color: transparent transparent #888 transparent;
            border-width: 0 4px 5px 4px;
            height: 0;
            right: 6px;
            margin-left: -4px;
            margin-top: -2px;
            top: 50%;
            width: 0;
            cursor: pointer;
        }

        .div.k-grid-footer, div.k-grid-header {
            border-top-style: solid;
            border-top-width: 1px;
        }

        .k-grid-content {
            min-height: 394px !important;
        }

        html {
            color: #666666;
            font-size: 15px;
            font-weight: normal;
            font-family: 'Roboto',sans-serif;
        }

        .k-checkbox-label, .k-radio-label {
            display: inline;
        }

        .myKendoCustomClass {
            z-index: 999 !important;
        }

        .k-header .k-grid-toolbar {
            background: white;
            float: left;
            width: 100%;
        }

        .k-grid td {
            line-height: 1.0em;
        }

        .k-i-more-vertical:before {
            content: "\e006";
        }

        .k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
            background-color: #1fd9e1;
            background-image: none;
        }

        k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
            color: #000000;
            border-color: #1fd9e1;
            background-color: #f6f6f6;
        }

        #grid .k-grid-toolbar {
            background: white;
        }


        .k-pager-wrap > .k-link > .k-icon {
            margin-top: 5px;
            color: inherit;
        }

        .toolbar {
            float: left;
        }

        html .k-grid tr:hover {
            background: #E4F7FB;
        }

        html .k-grid tr.k-alt:hover {
            background: #E4F7FB;
            min-height: 30px;
        }

        .k-grid tbody .k-button {
            min-width: 30px;
            min-height: 30px;
            border-radius: 35px;
        }

        .k-button-icontext .k-icon, .k-button-icontext .k-image, .k-button-icontext .k-sprite {
            margin-right: 0px;
            margin-right: 0px;
            margin-left: 0px;
            margin-left: 0px;
        }

        .k-auto-scrollable {
            overflow: hidden;
        }

        .k-grid-header {
            padding-right: 0px !important;
        }

        .k-multicheck-wrap .k-item {
            line-height: 1.2em;
            font-size: 14px;
            margin-bottom: 5px;
        }

        label {
            display: inline-block;
            margin-bottom: 0px;
        }

        .k-filter-menu .k-button {
            width: 27%;
        }

        .k-label input[type="checkbox"] {
            margin: 0px 5px 0 !important;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            font-size: 15px;
            background: #f8f8f8;
            font-family: 'Roboto',sans-serif;
            color: #2b2b2b;
            font-weight: 400;
        }

        .k-primary {
            border-color: #1fd9e1;
            background-color: #1fd9e1;
        }

        .k-pager-wrap {
            background-color: #f8f8f8;
            color: #2b2b2b;
        }

        td.k-command-cell {
            border-width: 0 1px 0 1px;
        }

        .k-grid-pager {
            border-width: 1px 1px 1px 1px;
        }

        span.k-icon.k-i-calendar {
            margin-top: 6px;
        }

        .col-md-2 {
            width: 20%;
        }

        .k-filter-row > th:first-child, .k-grid tbody td:first-child, .k-grid tfoot td:first-child, .k-grid-header th.k-header:first-child {
            border-left-width: 1px;
            line-height: 14px;
        }

        .k-grid tbody tr {
            height: 38px;
        }
    </style>
    <script>
        var app = angular.module("KendoDemos", ['ngFileUpload', 'angularUtils.directives.dirPagination', "kendo.directives"]);
        angular.element(document).ready(function () {
            angular.bootstrap(document, ["app"]);
        })
         app.directive('datepicker', function () {
             return {

                 restrict: 'A',
                 // Always use along with an ng-model
                 require: '?ngModel',

                 link: function (scope, element, attrs, ngModel) {
                     if (!ngModel) return;

                     ngModel.$render = function () {
                         element.datepicker('update', ngModel.$viewValue || '');
                     };

                     element.datepicker().on("changeDate", function (event) {
                         scope.$apply(function () {
                             ngModel.$setViewValue(event.date);
                         });
                     });
                 }
             };
         });
         //Disable future days in datefield
        app.directive("select2", function ($timeout, $parse) {
            return {
                restrict// Code goes here
            : 'AC',
                require: 'ngModel',
                link: function (scope, element, attrs) {
                    console.log(attrs);
                    $timeout(function () {
                        element.select2();
                        element.select2Initialized = true;
                    });

                    var refreshSelect = function () {
                        if (!element.select2Initialized) return;
                        $timeout(function () {
                            element.trigger('change');
                        });
                    };

                    var recreateSelect = function () {
                        if (!element.select2Initialized) return;
                        $timeout(function () {
                            element.select2('destroy');
                            element.select2();
                        });
                    };

                    scope.$watch(attrs.ngModel, refreshSelect);

                    if (attrs.ngOptions) {
                        var list = attrs.ngOptions.match(/ in ([^ ]*)/)[1];
                        // watch for option list change
                        scope.$watch(list, recreateSelect);
                    }

                    if (attrs.ngDisabled) {
                        scope.$watch(attrs.ngDisabled, refreshSelect);
                    }
                }
            };
        });
        app.controller("MyCtrl", function ($scope, $http, $timeout,$window,$filter) {
            var firstDay = (new Date().getMonth() + 1) + "/01/" + new Date().getFullYear();
            var lastDate = new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0);
            var lastDay = (lastDate.getMonth() + 1) + "/" + lastDate.getDate() + "/" + lastDate.getFullYear();
            var today = new Date();
            $scope.FromDate = firstDay;
            $scope.ToDate = today;
            $scope.SelectedFiles = [];
            $scope.SelectedFiles1 = [];
            $scope.UploadFiles = function (files) {
                if (files.length > 0) {
                    $scope.SelectedFile = files;
                    $scope.SelectedFiles.push(files);
                }
            };
            $scope.UploadFiles1 = function (files) {
                if (files.length > 0) {
                    $scope.SelectedFile1 = files;
                    $scope.SelectedFiles1.push(files);
                }
            };
            $scope.attachments = [{ EMA_DocNo: "", EMA_Active: true }];
            $scope.myFunc = function () {
            };
            Bindgrid();
            var record = 0;
            function Bindgrid() {
                $scope.ToDate = today.toLocaleDateString();
                var to = $scope.ToDate;
                var grid = $('#grid').data("kendoGrid");
                if (grid != undefined || grid != null)
                    $('#grid').empty();
                var grid = $("#grid").kendoGrid({
                    dataSource: {
                        transport: {
                            //read: '@Url.Action("getAll1","employee")'
                            //read: '../salesexpanse/getAll?FDate=' + firstDay
                            read: '../salesexpanse/getAll?FDate=' + $scope.FromDate + '&TDate=' +to
                        },
                        pageSize: 10
                    },
                    excel: {
                        allPages: true,
                    },
                    noRecords: true,
                    messages: {
                        noRecords: "No records found"
                    },
                    sortable: true,
                    filterable: true,
                    columnMenu: true,
                    pageable: true,
                    reorderable: true,
                    resizable: true,
                    multi: true,
                    selectable: true,
                    dataBinding: function () {
                        record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
                        if (this.ReminderStatus == 0) { template: "#=pending" }
                    },
                    columns: [
                    //    {
                    //    title: "Sr",
                    //    template: "#= ++record #",
                    //    width: "10%",
                    //},
                   {
                       field: "salesexpanseID", title: 'salesexpanseID', hidden: true,
                       attributes: {
                           style: 'white-space: nowrap;'

                       }, filterable: {
                           extra: false,
                           operators: {
                               string: {
                                   eq: "Is equal to",
                                   neq: "Is not equal to",
                                   contains: "Contains"
                               }
                           }
                       }, width: "6%",
                   },
                    {
                        field: "Date", title: 'Date',
                        template: "#= kendo.toString(kendo.parseDate(Date, 'yyyy-MM-dd'), 'dd/MM/yyyy') #",

                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            extra: false,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }, width: "8%",
                    },
                     {
                         field: "Duration", title: 'Duration',
                         attributes: {
                             style: 'white-space: nowrap;'

                         }, filterable: {
                             extra: false,
                             operators: {
                                 string: {
                                     eq: "Is equal to",
                                     neq: "Is not equal to",
                                     contains: "Contains"
                                 }
                             }
                         }, width: "6%",
                     },
                     {
                         field: "Name", title: 'Customer Name',
                         attributes: {
                             style: 'white-space: nowrap;'

                         }, filterable: {
                             extra: false,
                             operators: {
                                 string: {
                                     eq: "Is equal to",
                                     neq: "Is not equal to",
                                     contains: "Contains"
                                 }
                             }
                         }, width: "15%",
                     },
                       {
                           field: "ProjectName", title: 'Project Name',
                           attributes: {
                               style: 'white-space: nowrap;'

                           }, filterable: {
                               extra: false,
                               operators: {
                                   string: {
                                       eq: "Is equal to",
                                       neq: "Is not equal to",
                                       contains: "Contains"
                                   }
                               }
                           }, width: "8%",
                       },
                         {
                             field: "ActivityName", title: 'Activities',
                             attributes: {
                                 style: 'white-space: nowrap;'

                             }, filterable: {
                                 extra: false,
                                 operators: {
                                     string: {
                                         eq: "Is equal to",
                                         neq: "Is not equal to",
                                         contains: "Contains"
                                     }
                                 }
                             }, width: "8%",
                         },
                           {
                               field: "Description", title: 'Description',
                               attributes: {
                                   style: 'white-space: nowrap;'

                               }, filterable: {
                                   extra: false,
                                   operators: {
                                       string: {
                                           eq: "Is equal to",
                                           neq: "Is not equal to",
                                           contains: "Contains"
                                       }
                                   }
                               }, width: "8%",
                           },
                    {
                        command: [
                            { name: "edit", text: "", iconClass: "k-icon k-i-hyperlink-open", className: "ob-edit" },
                            { name: "edit1", text: "", iconClass: "k-icon k-i-delete k-i-trash", className: "ob-deleteuser" }], title: "Action", lock: true, width: "8%;",// width: 150,
                    }
                    ]
                });
                $("#grid").kendoTooltip({
                    filter: "td:nth-child(2)", //this filter selects the second column's cells
                    position: "down",
                    content: function (e) {
                        var content = e.target.context.textContent;
                        return content;
                    }
                }).data("kendoTooltip");
                $("#grid").kendoTooltip({
                    filter: "td:nth-child(3)", //this filter selects the second column's cells
                    position: "down",
                    content: function (e) {
                        var content = e.target.context.textContent;
                        return content;
                    }
                }).data("kendoTooltip");
                $("#grid").kendoTooltip({
                    filter: ".k-grid-edit",
                    content: function (e) {
                        return "Edit";
                    }
                });
                $("#grid").kendoTooltip({
                    filter: ".k-grid-edit1",
                    content: function (e) {
                        return "Delete";
                    }
                });
            }
          
            //$scope.Proceed = function () {
            //    $('#popup').modal('show');
            //    $scope.DisplayForm = true;
            //    $scope.addplus = false;
            //    $scope.addminus = true;
            //    $scope.editminus = false;
            //    $scope.tables = true;
            //    $scope.userForm.$setPristine();
            //    var fdate = $scope.FromDate;
            //    var tdate = $scope.ToDate;
            //    $.post("/salesexpanse/getsalesexpanseByNo1/", { FDate: fdate, TDate:tdate }, function (r) {
            //        $scope.salesexpanses = [];
            //        for (var i = 0; i < r.salesexpanses1.length; i++) {
            //            var time = {};
            //            time.salesexpanseID = r.salesexpanses1[i].salesexpanseID;
            //            time.Date = ConvertJsonDateToDateTime1(r.salesexpanses1[i].Date);
            //            time.Duration = r.salesexpanses1[i].Duration;
            //            time.ActivityID = r.salesexpanses1[i].ActivityID;
            //            time.CustomerID = r.salesexpanses1[i].CustomerID;
            //            time.customers = r.customers;
            //            time.ProjectID = r.salesexpanses1[i].ProjectID;
            //            //time.projects = r.products;
            //            if (r.salesexpanses1[i].ProjectID != 0) {
            //                //time.projects = r.products;
            //                time.projects = r.products.length > 0 ? r.products : null;
            //            }
            //            time.Description = r.salesexpanses1[i].Description;
            //            $scope.salesexpanses.push(time);
            //        }
            //        $scope.$apply();
            //    });
            //    $scope.Action = "Update";

            //}

            //Edit User Deatais
            $(document).on("click", "#grid tbody tr .ob-edit", function (e) {
                $('#popup').modal('show');
                    $scope.DisplayForm = true;
                    $scope.addplus = false;
                    $scope.addminus = true;
                    $scope.editminus = false;
                    $scope.tables = true;
                    $scope.userForm.$setPristine();
                    var item = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
                    $.post("/salesexpanse/getsalesexpanseByNo/", { id: item.salesexpanseID }, function (r) {
                        debugger;
                        $scope.salesexpanses = [];
                        for (var i = 0; i < r.salesexpanses1.length; i++) {
                            var time = {};
                            time.salesexpanseID = r.salesexpanses1[i].salesexpanseID;
                            time.Date = ConvertJsonDateToDateTime1(r.salesexpanses1[i].Date);
                            time.Duration = r.salesexpanses1[i].Duration;
                            time.ActivityID = r.salesexpanses1[i].ActivityID;
                            time.CustomerID = r.salesexpanses1[i].CustomerID;
                            time.customers = r.customers;
                            if (r.salesexpanses1[i].ProjectID!=null)
                            {
                             time.ProjectID = r.salesexpanses1[i].ProjectID;
                            time.projects = r.products;
                            };
                        if(r.salesexpanses1[i].ProjectID==null){
                            time.projects=true;
                        };

                        time.Description = r.salesexpanses1[i].Description;
                        $scope.salesexpanses.push(time);
                    }

                        $scope.$apply();
                    });
                    $scope.Action = "Update";
            });

               //Delete salesexpanse Details on gridview
                $(document).on("click", "#grid tbody tr .ob-deleteuser", function (e) {

                    var retVal = confirm("Do you want to Delete Record..?");
                    if (retVal == true) {
                        var item = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
                        $http({
                            method: 'POST',
                            url: '/salesexpanse/DeleteEmployeesalesexpanse/',
                            data: JSON.stringify({ Id: item.salesexpanseID })
                        }).then(function (response) {
                            $scope.delete = response.data;
                            $scope.DeleteAlert = true;
                            $scope.AddAlert = false;
                            $scope.EditAlert = false;
                            $scope.popup = false;
                            $scope.IsEmailValid = true;
                            Bindgrid();
                        }),function (error){
                            $scope.message = 'Unexpected Error';
                        };
                    }
                    return true;
                });


            $("#grid").kendoTooltip({
                filter: "td:nth-child(2)", //this filter selects the second column's cells
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    return content;
                }
            }).data("kendoTooltip");
            $("#grid").kendoTooltip({
                filter: "td:nth-child(3)", //this filter selects the second column's cells
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    return content;
                }
            }).data("kendoTooltip");
            $("#grid").kendoTooltip({
                filter: "td:nth-child(4)", //this filter selects the second column's cells
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    return content;
                }
            }).data("kendoTooltip");
            $("#grid").kendoTooltip({
                filter: "td:nth-child(5)", //this filter selects the second column's cells
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    return content;
                }
            }).data("kendoTooltip");
            $("#grid").kendoTooltip({
                filter: "td:nth-child(6)", //this filter selects the second column's cells
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    return content;
                }
            }).data("kendoTooltip");
            $("#grid").kendoTooltip({
                filter: "td:nth-child(7)", //this filter selects the second column's cells
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    return content;
                }
            }).data("kendoTooltip");
            $("#grid").kendoTooltip({
                filter: "td:nth-child(8)", //this filter selects the second column's cells
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    return content;
                }
            }).data("kendoTooltip");
            $("#grid").kendoTooltip({
                filter: "td:nth-child(9)", //this filter selects the second column's cells
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    return content;
                }
            }).data("kendoTooltip");
            $("#grid").kendoTooltip({
                filter: "td:nth-child(10)", //this filter selects the second column's cells
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    return content;
                }
            }).data("kendoTooltip");
            $("#grid").kendoTooltip({
                filter: ".k-grid-edit",
                content: function (e) {
                    return "Edit";
                }
            });
            $("#grid").kendoTooltip({
                filter: ".k-grid-edit1",
                content: function (e) {
                    return "Delete";
                }
            });
            $scope.form = false;
            $scope.form1 = false;
            $scope.editminus = false;
            $scope.tabs = false;
            $scope.addplus = true;
            $scope.addminus = false;
            $scope.tables = false;
            $scope.ShowLoader = false;
            //get customer
            GetCustomers();
            function GetCustomers() {
                $scope.customers = [];
                $http({
                    method: 'Get',
                    url: '/timesheet/GetCustomerName',
                }).then(function (response) {
                    $scope.customers = response.data;
                    //$scope.CustomerID = -1;
                }),function (error){
                    $scope.message = 'Unexpected Error';
                };
            }
            //get expanses
            GetExpenses();            
            function GetExpenses() {
                $scope.expansetypes = [];
                $http({
                    method: 'Get',
                    url: '/sales/GetExpanseType',
                }).then(function (response) {
                    $scope.expansetypes = response.data;
                }),function (error){
                    $scope.message = 'Unexpected Error';
                };
            }
            //Get Financial year name
            GetFinances();
            function GetFinances() {
                $scope.financialyears = [];
                $http({
                    method: 'Get',
                    url: '/sales/GetFiancialYear',
                }).then(function (response) {
                    $scope.financialyears = response.data;
                }), function (error) {
                    $scope.message = 'Unexpected Error';
                };
            }

          
            var currentDate = new Date();
            var newDate = new Date(currentDate.setDate(currentDate.getDate() - 1));
            $scope.salesexpanses = [{ IsRecoverable :0}];

            $scope.sort = function (keyname) {
                $scope.sortKey = keyname;
                $scope.reverse = !$scope.reverse;
            }
            for (var i = 0; i < $scope.salesexpanses.length; i++) {
                $scope.salesexpanses[i].IsRecoverable = $scope.salesexpanses[i].IsRecoverable == 1 ? true : false;
            }
            //Enable/disable Customer Name based upon Checkbox Selection
            $scope.EnableDisableCustomer = function (emp, index) {
                if (emp.IsRecoverable == true) {
                    $scope.salesexpanses[index].IsRecoverable = emp.IsRecoverable;
                }
                else {
                    $scope.salesexpanses[index].IsRecoverable = emp.IsRecoverable;
                    $scope.salesexpanses[index].CustomerID = "";
                }
            }
            $scope.Checked = 2;
            $scope.Disabled = true;
            $scope.Enable = function (ele) {
                if (ele == 1) {
                    $scope.Disabled = false;
                    
                }
                else {
                    $scope.Disabled = true;
                    $scope.CustomerID = "";
                    //$scope.userForm.$setPristine();
                }
                //$scope.Disabled = ele == 1 ? false : true;
            }
            //Add new records
            $scope.Addsalesexpanse = function () {
                $scope.salesexpanses = [{ IsRecoverable: 0 }];
                angular.element("input[type='file']").val(null);
                $scope.DisplayForm = true;
                $scope.addplus = false;
                $scope.addminus = true;
                $scope.editminus = false;
                $scope.tables = true;
                $scope.userForm.$setPristine();
                clearFields();
                $scope.Action = "Save";

            }
            $scope.FinancialYearID = -1
            $scope.CustomerID = -1;
            //save details to database
            $scope.Save = function (isValid) {
                if (isValid) {
                    for (var i = 0; i < $scope.salesexpanses.length; i++) {
                        if ($scope.salesexpanses[i].IsProofDoc) {
                            if ($scope.salesexpanses[i].Remark == "" || $scope.salesexpanses[i].Remark == undefined) {
                                $scope.salesexpanses[i].IsValid = 0;
                                $scope.IsRemarkValid = false;
                            } else {
                                $scope.salesexpanses[i].IsValid = 1;
                                $scope.IsRemarkValid = true;
                            }
                        } else {
                            $scope.salesexpanses[i].IsValid = 1;
                            $scope.IsRemarkValid = true;
                        }
                    }
                    $scope.userForm.$setPristine();
                    if ($scope.IsRemarkValid) {
                        var Expanses = {
                            TransactionID: $scope.TransactionID,
                            TranscationDate: $scope.TranscationDate,
                            FinancialYearID: $scope.FinancialYearID,
                            CustomerID: $scope.CustomerID,
                            Narration: $scope.Narration,
                            IsRecoverable: $scope.IsRecoverable,
                        };
                        var details = new Array();
                        var details1 = new Array();
                        for (var i = 0; i < $scope.salesexpanses.length; i++) {
                            var detail = {};
                            detail.TransactionDetailID = $scope.salesexpanses[i].TransactionDetailID;
                            detail.TransactionID = $scope.TransactionID;
                            detail.Amount = $scope.salesexpanses[i].Amount;
                            detail.Remark = $scope.salesexpanses[i].Remark;
                            detail.IsProofDoc = $scope.salesexpanses[i].IsProofDoc;
                            detail.SalesExpID = $scope.salesexpanses[i].SalesExpID;
                            details.push(detail);
                        }
                        debugger;
                        Expanses.details = details;

                        var formData = new FormData();
                        var files = $scope.SelectedFiles;
                        //if (files != undefined) {
                        //    for (var i = 0; i < files.length; i++) {
                        //        formData.append(files[i].name, files[i]);
                        //    }
                        //}
                        if (files != undefined) {
                            for (var i = 0; i < files.length; i++) {
                                formData.append(files[i][0].name, files[i][0]);
                            }
                        }
                        //var files1 = $scope.SelectedFiles1;
                        //if (files1 != undefined) {
                        //    for (var i = 0; i < files1.length; i++) {
                        //        formData.append("PreviousAttachments_" + files1[i][0].name, files1[i][0]);
                        //    }
                        //}
                        debugger;
                        formData.append("details", JSON.stringify(Expanses));

                        $http.post("/sales/SaveSalesDetails/", formData, {
                            transformRequest: angular.identity,
                            headers: { 'Content-Type': undefined }
                        }).then(function (response) {
                            debugger;
                            $scope.msg = response.data;
                            if (response.data == "User Expanses added Successfully!") {
                                $scope.tabs = false;
                                $scope.adtabls = false;
                                $scope.form = false;
                                $scope.form1 = false;
                                $scope.DisplayForm = false;
                                $scope.addplus = true;
                                $scope.addminus = false;
                                $scope.editminus = false;
                                $scope.DeleteAlert = false;
                                $scope.AddAlert = true;
                                $scope.EditAlert = false;
                                Bindgrid();
                                angular.element("input[type='file']").val(null);
                                clearFields();
                                angular.element('#popup').modal('hide');

                        }
                        else {
                            $scope.tabs = true;
                        }

                        }), function (error) {
                            $scope.Message = error.Message;
                        }


                    }

                }
                else {
                    // Show error Message if Form not valid.
                    if ($scope.userForm.$error.required != undefined) {
                        for (var i = 0; i < $scope.userForm.$error.required.length; i++) {
                            $scope.userForm.$error.required[i].$pristine = false;
                        }
                    }
                }
            };
            //Back Functionality
            $scope.close = function () {
                $scope.DisplayForm = false;
                $scope.tabs = false;
                $scope.adtabls = false;
                $scope.form = false;
                $scope.form1 = false;
                $scope.addminus = false;
                $scope.addplus = true;
                $scope.editminus = false;
                clearFields();
                $scope.DisplayForm = false;
                angular.element('#popup').modal('hide');

                // Reset Error.
                $scope.userForm.$setPristine();
            }
            //cancel Functionality
            $scope.cancel = function () {
                $scope.DisplayForm = false;
                $scope.tabs = false;
                $scope.adtabls = false;
                $scope.form = false;
                $scope.form1 = false;
                $scope.addminus = false;
                $scope.addplus = true;
                $scope.editminus = false;
                clearFields();
                $scope.DisplayForm = false;
                loadPaytypes();
                // Reset Error.
                $scope.userForm.$setPristine();
            }
            //clear Fileds
            function clearFields() {
                $scope.TransactionID = "";
                $scope.TransactionDate = "";
                $scope.FinancialYearID = -1
                $scope.CustomerID = -1;
                $scope.Narration = "";
                //$scope.salesexpanses = [{ Date: new Date() }];
                $scope.userForm.$setPristine();
            }


            $scope.remove2 = function (index, ATTD_Id) {
                var pId = ATTD_Id;
                if ($window.confirm("Do you want to delete: " + pId)) {
                    $scope.attendances[index].punchtimes.splice(ATTD_Id, 1);
                }
            }

            $scope.Addrow = function (salesexpanse) {
                $scope.salesexpanses.push({ Date: new Date() });
            };
            $scope.DeletedTimes = [];
            //delete punch items
            $scope.DeleteTime = function (salesexpanse) {
                var obj = {};
                obj.salesexpanseID = salesexpanse.salesexpanseID;
                obj.CustomerID = salesexpanse.CustomerID;
                obj.ProjectID = salesexpanse.ProjectID;
                obj.ActivityID = salesexpanse.ActivityID;
                obj.Description = salesexpanse.Description;
                obj.Date = salesexpanse.Date;
                obj.Duration = salesexpanse.Duration;
                $scope.DeletedTimes.push(obj);
                var index = $scope.salesexpanses.indexOf(salesexpanse);
                if ($window.confirm("Do you want to delete: " + index)) {
                    $scope.salesexpanses.splice(index, 1);
                }
            }
            $scope.Delete = function () {
                if ($scope.DeletedTimes.length > 0) {
                    $http({
                        method: "Post",
                        url: "/salesexpanse/Delete",
                        dataType: 'json',
                        headers: { "Content-Type": "application/json" },
                        data: '{items: ' + JSON.stringify($scope.DeletedTimes) + '}'
                    }).success(function (data) {
                        //alert(data);

                    });
                }
                else {
                    //alert("None of records deleted");
                }
            }

        });

    </script>


</head>
<body>
    <div class="container">
        <div id="example" ng-app="KendoDemos">
            <div ng-controller="MyCtrl">
                @*Disable future dates
                    <input datepicker1 ng-model="eventdate" min-date="" max-date="true" multi-date=""
                            today-highlight="true" />*@

                <div class="alert alert-danger" ng-show="DeleteAlert" ng-model="delete">
                    <strong>{{delete}}</strong>
                </div>
                <div class="alert alert-success" ng-show="AddAlert" ng-model="add">
                    <strong>{{msg}}</strong>
                </div>
                <div class="alert alert-info" ng-show="EditAlert" ng-model="edit">
                    <strong>{{msg}}</strong>
                </div>
                <br />
                @*<div class="well">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="lblTranscationDate">Transcation Date</label><br />
                            <input style="display: inline; width: 268px;" class="form-control" data-date-format="dd-mm-yyyy" name="TranscationDate" datepicker ng-model="TranscationDate" />
                            <p style="color:red" ng-show="userForm.TranscationDate.$error.required  && !userForm.TranscationDate .$pristine" class="help-block"> Transcation Date is required.</p>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3">
                            <label for="lbl"></label><br />
                            <button class="btn btn-primary btn-sm " data-toggle="modal" data-target="#popup" ng-show="addplus" ng-click="Addsalesexpanse();" style="margin-left: 15px;">Proceed</button>
                            <button class="btn btn-primary btn-sm" ng-click="Proceed()">Show</button>

                        </div>
                    </div>

                </div>*@
                <div class="modal fade" id="popup" data-keyboard="false" data-backdrop="static" style="border:0px;margin-left: 35px;position: absolute;overflow: hidden;padding-top:30px" role="dialog">
                    <div style="width:1250px;">
                        <div class="modal-content">
                            <div class="modal-header pt-reduced pb-reduced" style="background-color:#6db6ec;">
                                <button type="button" class="close" data-dismiss="modal" ng-click="close()">x</button>
                                <h4 class="modal-title" style="text-align:center;height: 20px;color:white"><b>User Expanses Details</b></h4>
                            </div>
                            <div class="modal-body">
                                <div id="wrapper" class="clearfix" scroll-bookmark="bookmark">
                                    <form name="userForm" novalidate>
                                       
                                        <div class="form-horizontal">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label for="lblTranscationDate">Transcation Date</label><br />
                                                    <input style="display: inline; width: 268px;" class="form-control" @*data-date-format="dd-mm-yyyy"*@ name="TranscationDate" datepicker ng-model="TranscationDate" required />
                                                    <p style="color:red" ng-show="userForm.TranscationDate.$error.required  && !userForm.TranscationDate .$pristine" class="help-block"> Transcation Date is required.</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="lblFinancialYearID">Financial Year</label><br />
                                                    <select class="form-control" style="display: inline; width: 252px;" select2="" name="FinancialYearID" ng-model="FinancialYearID" containerCssClass="all" ng-options="f.ID as f.FinancialYear for f in financialyears" ng-disabled="disabled" required>
                                                        <option value="">Select Financial Year</option>
                                                    </select>
                                                    <p style="color: red" ng-show="userForm.FinancialYearID.$error.required && !userForm.FinancialYearID.$pristine"
                                                       class="help-block">
                                                        Financial Year Is Required
                                                    </p>
                                                </div>
                                            
                                                <div class="col-md-4">
                                                    <label for="lblNarration">Narration</label><br />
                                                    <input type="text" style="display: inline; width: 268px;" class="form-control"  name="Narration"  ng-model="Narration" required />
                                                    <p style="color:red" ng-show="userForm.Narration.$error.required  && !userForm.Narration.$pristine" class="help-block"> Narration is required.</p>
                                                </div>
                                                </div> 
                                            </div>
                                        <div class="form-group"></div>
                                        <div class="row">
                                            <div class="col-md-4" style="margin-top: 5px;">
                                                <label for="IsRecoverable">
                                                    Is Recoverable
                                                </label><br />
                                                <input type="radio" name="IsRecoverable" ng-model="IsRecoverable" ng-value="1" ng-checked="Checked == 1"
                                                       ng-click="Enable(1)" />
                                                Yes
                                                <input type="radio" name="IsRecoverable" ng-model="IsRecoverable" ng-value="0" ng-checked="Checked == 2"
                                                       ng-click="Enable(2)" />
                                                No<br />
                                            </div>
                                           
                                                <div class="col-md-3">
                                                    <label for="lblCustomerID">Customer</label><br />
                                                    <select class="form-control" style="display: inline; width: 252px;" select2="" name="CustomerID" ng-model="CustomerID" containerCssClass="all" ng-options="c.ID as c.Name for c in customers" ng-disabled="Disabled" required>
                                                        <option value="">Select Customer</option>
                                                    </select>
                                                    <p style="color: red" ng-show="userForm.CustomerID.$error.required && !userForm.CustomerID.$pristine"
                                                       class="help-block">
                                                        Customer Is Required
                                                    </p>
                                                </div>
                                            </div>
                                        <div class="form-group"></div>
                                                <div>
                                                    <div id="table">
                                                        <div class="table-responsive " style="" scroll-bookmark="bookmark2">
                                                            <table id="tblOrders" cellpadding="12" class="table table-bordered table-hover table-striped" style="margin-left: 0px; margin-right: 0px;">
                                                                <thead style="background-color:#6db6ec;color:white;font-size:12px;">
                                                                    <tr>
                                                                        <th style="cursor: pointer;" ng-click="sort('SalesExpID')"><b>Expanse Type</b><span class="glyphicon sort-icon" ng-show="sortKey=='SalesExpID'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                                        @*<th style="cursor: pointer;" ng-click="sort('IsRecoverable')"><b>IsRecoverable</b><span class="glyphicon sort-icon" ng-show="sortKey=='IsRecoverable'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                                        <th ng-click="sort('Name')"><b>Customer</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>*@
                                                                        <th ng-click="sort('Amount')"><b>Amount</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Amount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                                        <th ng-click="sort('IsDoc')"><b>Isproof/Doc Req</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='IsDoc'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                                        <th ng-click="sort('Documents')"><b>Documents</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Description'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                                        <th ng-click="sort('Remark')"><b>Remark</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Remark'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>

                                                                <tbody dir-paginate="salesexpanse in salesexpanses|orderBy:sortKey:reverse|filter:search|itemsPerPage:5" ng-model="search">
                                                                    <tr>
                                                                        <td style="font-size:12px">
                                                                            <input type="hidden" ng-model="salesexpanse.ID" />
                                                                            <select class="form-control" style="display: inline; width: 180px;" select2="" ng-model="salesexpanse.SalesExpID" containerCssClass="all" ng-options="e.ID as e.ExpName for e in expansetypes" ng-disabled="disabled" name="SalesExpID{{$index}}" required>
                                                                                <option value="">Select Expanse Type</option>
                                                                            </select>
                                                                            <p style="color: red;" ng-show="userForm['SalesExpID'+$index].$error.required && !userForm['SalesExpID'+$index].$pristine"
                                                                               class="help-block">
                                                                                Expanse Type is required.
                                                                            </p>
                                                                        </td>
                                                                        @*<td style="font-size:12px">
                                                                            <input type="checkbox" ng-model="salesexpanse.IsRecoverable" ng-change="EnableDisableCustomer(salesexpanse,$index)" />
                                                                        </td>
                                                                        <td style="font-size:12px">
                                                                            <select class="form-control" style="display: inline; width: 180px;" select2="" ng-model="salesexpanse.CustomerID" containerCssClass="all" ng-options="c.ID as c.Name for c in customers" ng-disabled="!salesexpanse.IsRecoverable">
                                                                                <option value="">Select Customer</option>
                                                                            </select>
                                                                        </td>*@
                                                                        <td style="font-size:12px">
                                                                            <input type="text" class="form-control input-sm" style="width:100px" ng-pattern="/^[0-9]+$/" ng-model="salesexpanse.Amount" name="Amount{{$index}}" required />
                                                                            <p style="color: red" ng-show="userForm['Amount'+$index].$dirty&&userForm['Amount'+$index].$error.pattern"
                                                                               class="help-block">
                                                                                It can allow Only numbers
                                                                            </p>
                                                                            <p style="color: red;" ng-show="userForm['Amount'+$index].$error.required && !userForm['Amount'+$index].$pristine"
                                                                               class="help-block">
                                                                                Amount is required.
                                                                            </p>
                                                                        </td>
                                                                        <td style="font-size:12px">
                                                                            <input type="checkbox" ng-model="salesexpanse.IsProofDoc" />
                                                                        </td>
                                                                        <td style="font-size:12px">
                                                                            <input type="file"  ngf-select="UploadFiles($files)" class="input-sm form-control" multiple />
                                                                        </td>
                                                                        <td style="font-size:12px">
                                                                            <input type="text" class="form-control input-sm" style="width:100px" ng-model="salesexpanse.Remark" />
                                                                            <p style="color: red" ng-show="salesexpanse.IsValid==0"
                                                                               class="help-block">
                                                                                Remark is Required
                                                                            </p>

                                                                        </td>

                                                                        <td style="font-size:12px">
                                                                            <a href="#" ng-click="DeleteTime(salesexpanse);">
                                                                                <span class="glyphicon glyphicon-trash"></span>
                                                                            </a>
                                                                            @*<button type="button" class="btn btn-danger btn-sm" ng-click="DeleteTime(salesexpanse);"><span class="glyphicon glyphicon-remove-sign"></span></button>*@

                                                                        </td>

                                                                </tbody>
                                                                <tfoot>
                                                                    <tr style="padding-left:20px; padding-right:20px;">
                                                                        <td>
                                                                            <button type="button" class="btn btn-primary btn-sm" ng-click="Addrow()">Add</button>
                                                                        </td>
                                                                    </tr>
                                                                </tfoot>
                                                            </table>
                                                            <dir-pagination-controls max-size="10"
                                                                                     direction-links="true"
                                                                                     boundary-links="true">
                                                            </dir-pagination-controls>
                                                        </div>
                                                    </div>
                                                </div>
                                           
                                            <hr />
                                            <div @*ng-show="(attendances).length>0"*@>
                                                <div class="form-group" style="width: 120%; text-align: center; padding: 10px;">
                                                    <div class="col-md-offset-2 col-md-5">
                                                        <p>
                                                            <button class="btn btn-primary btn-sm" ng-click="Save(userForm.$valid);Delete()" @*ng-click="Save();Delete();"*@> @*Save*@{{Action}}</button>
                                                            <button class="btn btn-primary btn-sm" ng-click="close()">Close</button>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4" style="margin-left: 27px;display:inline-block">
                                @*<b>Search : </b>*@
                                @*<input id="txtSearch" type="text" style="width: 50%;" onchange="FilterAllAdvanced()" class="k-textbox" placeholder="Type to Search " />*@
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3"></div>


                            <div class="col-md-" style="text-align: right;display:inline-block ;margin-left:80px">
                                <button class="btn btn-primary btn-sm " data-toggle="modal" data-target="#popup" ng-show="addplus" ng-click="Addsalesexpanse();" style="margin-left: 15px;"><span class="glyphicon glyphicon-plus"></span>Add</button>

                            </div>
                        </div>
                    </div>
                </form>
                <div class="row" @*style="padding-top: 12px;"*@>
                    <div id="grid" style="margin-left:10px;margin-right:10px;"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>




