﻿
<!DOCTYPE html>
<html>
<head>
    @*<link href="~/select2/select2.min.css" rel="stylesheet" />
    <link href="~/content/bootstrap.css" rel="stylesheet" />
    <link href="~/content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.common.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.rtl.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.silver.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.mobile.all.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../Newjs/jquery-1.12.4.min.js"></script>
    <script src="~/masters/bootstrap.min.js"></script>
    <script src="~/select2/select2.min.js"></script>
    <script src="~/select2/select2.full.js"></script>
    <script src="~/scripts/anjular(1.5.0).min.js"></script>
    <script src="~/masters/angular.js"></script>
    <script src="~/scripts/angular.js"></script>
    <script src="~/scripts/angular.min.js"></script>
    <script type="text/javascript" src="../../Newjs/kendo.all.min.js"></script>
    <script type="text/javascript" src="../../Newjs/jszip.min.js"></script>
    <script src="~/js/lodash.js"></script>
    <script src="~/js/angularjs-dropdown-multiselect.min.js"></script>*@


    <link href="~/IMAJS/select2.min.css" rel="stylesheet" />
    <link href="~/IMACSS/bootstrap.css" rel="stylesheet" />
    <link href="~/IMACSS/bootstrap.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.common.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.rtl.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.silver.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.mobile.all.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../Newjs/jquery-1.12.4.min.js"></script>
    <script src="~/IMAJS/bootstrap.min.js"></script>
    <script src="~/IMAJS/select2.min.js"></script>
    <script src="~/IMAJS/select2.full.js"></script>
    <script src="~/IMAJS/anjular(1.5.0).min.js"></script>    
    <script src="~/IMAJS/angular.js"></script>
    <script src="~/IMAJS/angular.min.js"></script>
    <script type="text/javascript" src="../../Newjs/kendo.all.min.js"></script>
    <script type="text/javascript" src="../../Newjs/jszip.min.js"></script>
    <script src="~/IMAJS/lodash.js"></script>
    <script src="~/IMAJS/angularjs-dropdown-multiselect.min.js"></script>

    <style type="text/css">
        button.dropdown-toggle.ng-binding.btn.btn-default {
            width: 500px;
        }

        ul.dropdown-menu.dropdown-menu-form.ng-scope {
            width: 500px;
        }

        .div.k-grid-footer, div.k-grid-header {
            border-top-style: solid;
            border-top-width: 1px;
        }

        .k-grid-content {
            min-height: 394px !important;
        }

        html {
            color: #666666;
            font-size: 15px;
            font-weight: normal;
            font-family: 'Roboto',sans-serif;
        }

        .btn-default {
            color: #333;
            background-color: #fff;
            border-color: #ccc;
            height: 28px;
            padding-top: 3px;
            width: 252px;
            padding-right: 116px;
            /*margin-left: 50px;*/
        }

        .btn .caret {
            margin-left: 395px !important;
        }

        .select2-container {
            box-sizing: border-box;
            display: inline-block;
            margin: 0;
            position: relative;
            vertical-align: middle;
        }

        .k-checkbox-label, .k-radio-label {
            display: inline;
        }

        .myKendoCustomClass {
            z-index: 999 !important;
        }

        .k-header .k-grid-toolbar {
            background: white;
            float: left;
            width: 100%;
        }

        .k-grid td {
            line-height: 1.0em;
        }

        .k-i-more-vertical:before {
            content: "\e006";
        }

        .k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
            background-color: #1fd9e1;
            background-image: none;
        }

        k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
            color: #000000;
            border-color: #1fd9e1;
            background-color: #f6f6f6;
        }

        #grid .k-grid-toolbar {
            background: white;
        }


        .k-pager-wrap > .k-link > .k-icon {
            margin-top: 5px;
            color: inherit;
        }

        .toolbar {
            float: left;
        }

        html .k-grid tr:hover {
            background: #E4F7FB;
        }

        html .k-grid tr.k-alt:hover {
            background: #E4F7FB;
            min-height: 30px;
        }

        .k-grid tbody .k-button {
            min-width: 30px;
            min-height: 30px;
            border-radius: 35px;
        }

        .k-button-icontext .k-icon, .k-button-icontext .k-image, .k-button-icontext .k-sprite {
            margin-right: 0px;
            margin-right: 0px;
            margin-left: 0px;
            margin-left: 0px;
        }

        .k-auto-scrollable {
            overflow: hidden;
        }

        .k-grid-header {
            padding-right: 0px !important;
        }

        .k-multicheck-wrap .k-item {
            line-height: 1.2em;
            font-size: 14px;
            margin-bottom: 5px;
        }

        label {
            display: inline-block;
            margin-bottom: 0px;
        }

        .k-filter-menu .k-button {
            width: 27%;
        }

        .k-label input[type="checkbox"] {
            margin: 0px 5px 0 !important;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            font-size: 15px;
            background: #f8f8f8;
            font-family: 'Roboto',sans-serif;
            color: #2b2b2b;
            font-weight: 400;
        }

        .k-primary {
            border-color: #1fd9e1;
            background-color: #1fd9e1;
        }

        .k-pager-wrap {
            background-color: #f8f8f8;
            color: #2b2b2b;
        }

        td.k-command-cell {
            border-width: 0 1px 0 1px;
        }

        .k-grid-pager {
            border-width: 1px 1px 1px 1px;
        }

        span.k-icon.k-i-calendar {
            margin-top: 6px;
        }

        .col-md-2 {
            width: 20%;
        }

        .k-filter-row > th:first-child, .k-grid tbody td:first-child, .k-grid tfoot td:first-child, .k-grid-header th.k-header:first-child {
            border-left-width: 1px;
            line-height: 14px;
        }

        .k-grid tbody tr {
            height: 38px;
        }

        /*ul.dropdown-menu.dropdown-menu-form.ng-scope {
            margin-left: 15%;
        }*/
    </style>
    <script>
        var app = angular.module("KendoDemos", ['angularjs-dropdown-multiselect', "kendo.directives"]);
        app.directive("select2", function ($timeout, $parse) {
            return {
                restrict// Code goes here
            : 'AC',
                require: 'ngModel',
                link: function (scope, element, attrs) {
                    console.log(attrs);
                    $timeout(function () {
                        element.select2();
                        element.select2Initialized = true;
                    });

                    var refreshSelect = function () {
                        if (!element.select2Initialized) return;
                        $timeout(function () {
                            element.trigger('change');
                        });
                    };

                    var recreateSelect = function () {
                        if (!element.select2Initialized) return;
                        $timeout(function () {
                            element.select2('destroy');
                            element.select2();
                        });
                    };

                    scope.$watch(attrs.ngModel, refreshSelect);

                    if (attrs.ngOptions) {
                        var list = attrs.ngOptions.match(/ in ([^ ]*)/)[1];
                        // watch for option list change
                        scope.$watch(list, recreateSelect);
                    }

                    if (attrs.ngDisabled) {
                        scope.$watch(attrs.ngDisabled, refreshSelect);
                    }
                }
            };
        });
        app.controller("MyCtrl", function ($scope, $http, myService) {
            Bindgrid();
            //define object
            $scope.ActID = [];
            $scope.dropdownSetting = {
                checkBoxes: true,
                scrollableHeight: '200px',
                scrollable: true,
                enableSearch: true,
                showCheckAll: true,
                showUncheckAll: true,
                GetChecked: true,
                width: '2000px',

            }
            $scope.example5customTexts = { buttonDefaultText: 'Select Acts' };
            GetCustomers1();
            function GetCustomers1() {
                $scope.Customer = [];
                //fetch data from database for show in multiselect dropdown
                $http.get('../ActAssignment/GetActName').then(function (data) {
                    angular.forEach(data.data, function (value, index) {

                        $scope.Customer.push({ id: value.ID, label: value.Name });

                    });
                })
            }
            var record = 0;
            function Bindgrid() {
                var grid = $('#grid').data("kendoGrid");
                if (grid != undefined || grid != null)
                    $('#grid').empty();


                var grid = $("#grid").kendoGrid({
                    dataSource: {
                        transport: {
                            read: '../ActAssignment/getAll'
                        },
                        pageSize: 10
                    },
                    excel: {
                        allPages: true,
                    },
                    noRecords: true,
                    messages: {
                        noRecords: "No records found"
                    },
                    sortable: true,
                    filterable: true,
                    columnMenu: true,
                    pageable: true,
                    reorderable: true,
                    resizable: true,
                    multi: true,
                    selectable: true,
                    dataBinding: function () {
                        record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
                        if (this.ReminderStatus == 0) { template: "#=pending" }
                    },
                    columns: [

                   {
                       field: "ID", title: 'ID', hidden: true,
                       attributes: {
                           style: 'white-space: nowrap;'

                       }, filterable: {
                           extra: false,
                           operators: {
                               string: {
                                   eq: "Is equal to",
                                   neq: "Is not equal to",
                                   contains: "Contains"
                               }
                           }
                       }, width: "15%",
                   },

                     {
                         field: "PerformerName", title: 'Performer Name',
                         attributes: {
                             style: 'white-space: nowrap;'

                         }, filterable: {
                             extra: false,
                             operators: {
                                 string: {
                                     eq: "Is equal to",
                                     neq: "Is not equal to",
                                     contains: "Contains"
                                 }
                             }
                         }, width: "10%",
                     },
                     {
                         field: "ReviewerName", title: 'Reviewer Name',
                         attributes: {
                             style: 'white-space: nowrap;'

                         }, filterable: {
                             extra: false,
                             operators: {
                                 string: {
                                     eq: "Is equal to",
                                     neq: "Is not equal to",
                                     contains: "Contains"
                                 }
                             }
                         }, width: "10%",
                     },
                       {
                           field: "ActName", title: 'Act Name',
                           attributes: {
                               style: 'white-space: nowrap;'

                           }, filterable: {
                               extra: false,
                               operators: {
                                   string: {
                                       eq: "Is equal to",
                                       neq: "Is not equal to",
                                       contains: "Contains"
                                   }
                               }
                           }, width: "10%",
                       },
                    {
                        command: [
                            { name: "edit", text: "", iconClass: "k-icon k-i-hyperlink-open", className: "ob-edit" }
                            //,{ name: "edit1", text: "", iconClass: "k-icon k-i-delete k-i-trash", className: "ob-deleteuser" }
                        ], title: "Action", lock: true, width: "3%;",
                    }
                    ]
                });
                $("#grid").kendoTooltip({
                    filter: "td:nth-child(2)", //this filter selects the second column's cells
                    position: "down",
                    content: function (e) {
                        var content = e.target.context.textContent;
                        return content;
                    }
                }).data("kendoTooltip");
                $("#grid").kendoTooltip({
                    filter: "td:nth-child(3)", //this filter selects the second column's cells
                    position: "down",
                    content: function (e) {
                        var content = e.target.context.textContent;
                        return content;
                    }
                }).data("kendoTooltip");
                $("#grid").kendoTooltip({
                    filter: ".k-grid-edit",
                    content: function (e) {
                        return "Edit";
                    }
                });
                $("#grid").kendoTooltip({
                    filter: ".k-grid-edit1",
                    content: function (e) {
                        return "Delete";
                    }
                });
            }
            GetCustomers();
            $scope.PerformerID = "";
            //Edit CustomerAssignment Deatais
            $(document).on("click", "#grid tbody tr .ob-edit", function (e) {
                //ClearFields();
                //GetCustomers1();
                $('#popup').modal('show');
                var item = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
                $scope.DisplayForm = true;
                $scope.addminus = false;
                $scope.addplus = false;
                $scope.editminus = true;
                $scope.AddAlert = false;
                $scope.EditAlert = false;
                $scope.DeleteAlert = false;
                $http({
                    method: 'POST',
                    url: '../ActAssignment/getCustomerAssignmentByNo/',
                    data: JSON.stringify({ id: item.ID })
                }).success(function (data, status, headers, config) {
                    $scope.ID = data[0].ID;
                    $scope.PerformerID = data[0].PerformerID;
                    $scope.ReviewerID = data[0].ReviewerID;
                    for (var i = 0; i < $scope.Customer.length; i++) {//4
                        for (var j = 0; j < data.length; j++) {//2
                            if (data[j].ActID == $scope.Customer[i].id) {
                                $scope.ActID.push($scope.Customer[i]);
                                break;
                            }
                        }
                    }
                    $scope.Action = "Update";
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            });

            //Delete CustomerAssignment Details
            $(document).on("click", "#grid tbody tr .ob-deleteuser", function (e) {
                var retVal = confirm("Do you want to Delete Record..?");
                if (retVal == true) {
                    var item = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
                    $http({
                        method: 'POST',
                        url: '../ActAssignment/DeleteCustomerAssignment/',
                        data: JSON.stringify({ Id: item.ID })
                        //data: JSON.stringify({ Id: item.ID, EId: item.ID })
                    }).then(function (response) {
                        $scope.delete = response.data;
                        $scope.DeleteAlert = true;
                        $scope.AddAlert = false;
                        $scope.EditAlert = false;
                        $scope.popup = false;
                        $scope.IsEmailValid = true;
                        Bindgrid();
                    }), function (error) {
                        $scope.delete = "Error in deleting records";
                    };
                }
                return true;
            });
            //display ActID value based upon Employee
            $scope.GetCustomervalues = function () {
                if ($scope.PerformerID != 0) {
                    $http({
                        method: 'POST',
                        url: '../ActAssignment/getCustomerAssignmentByNo/',
                        data: JSON.stringify({ id: $scope.PerformerID })
                    }).success(function (data, status, headers, config) {
                        if (data.length > 0) {
                            for (var i = 0; i < $scope.Customer.length; i++) {//4

                                for (var j = 0; j < data.length; j++) {//2
                                    if (data[j].ActID == $scope.Customer[i].id) {
                                        $scope.ActID.push($scope.Customer[i]);
                                        break;
                                    }
                                }
                            }
                        }
                        else {
                            GetCustomers1();
                            $scope.ActID = [];
                        }
                    }).error(function (data, status, headers, config) {
                        $scope.message = 'Unexpected Error';
                    });
                }
                else {
                    //GetCustomers1();
                    $scope.ActID = [];
                }

            }

            $("#grid").kendoTooltip({
                filter: "td:nth-child(2)", //this filter selects the second column's cells
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    return content;
                }
            }).data("kendoTooltip");
            $("#grid").kendoTooltip({
                filter: "td:nth-child(3)", //this filter selects the second column's cells
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    return content;
                }
            }).data("kendoTooltip");
            $("#grid").kendoTooltip({
                filter: "td:nth-child(4)", //this filter selects the second column's cells
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    return content;
                }
            }).data("kendoTooltip");
            $("#grid").kendoTooltip({
                filter: "td:nth-child(5)", //this filter selects the second column's cells
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    return content;
                }
            }).data("kendoTooltip");
            $("#grid").kendoTooltip({
                filter: "td:nth-child(6)", //this filter selects the second column's cells
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    return content;
                }
            }).data("kendoTooltip");
            $("#grid").kendoTooltip({
                filter: "td:nth-child(7)", //this filter selects the second column's cells
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    return content;
                }
            }).data("kendoTooltip");
            $("#grid").kendoTooltip({
                filter: "td:nth-child(8)", //this filter selects the second column's cells
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    return content;
                }
            }).data("kendoTooltip");
            $("#grid").kendoTooltip({
                filter: "td:nth-child(9)", //this filter selects the second column's cells
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    return content;
                }
            }).data("kendoTooltip");
            $("#grid").kendoTooltip({
                filter: "td:nth-child(10)", //this filter selects the second column's cells
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    return content;
                }
            }).data("kendoTooltip");
            $("#grid").kendoTooltip({
                filter: ".k-grid-edit",
                content: function (e) {
                    return "Edit";
                }
            });
            $("#grid").kendoTooltip({
                filter: ".k-grid-edit1",
                content: function (e) {
                    return "Delete";
                }
            });
            $scope.DisplayForm = false;
            $scope.addminus = false;
            $scope.addplus = true;
            $scope.editminus = false;
            $scope.AddAlert = false;
            $scope.EditAlert = false;
            $scope.DeleteAlert = false;
            $scope.popup = false;
            GetCustomers();
            GetPerformers();
            //Get performer name
            function GetPerformers() {
                $scope.performers = [];
                $http({
                    method: 'Get',
                    url: '../ActAssignment/GetPerformerName',
                }).then(function (response) {
                    $scope.performers = response.data;
                }), function (error) {
                    $scope.message = 'Unexpected Error';
                };
            }
            GetReviewers();
            //Get performer name
            function GetReviewers() {
                $scope.reviewers = [];
                $http({
                    method: 'Get',
                    url: '../ActAssignment/GetReviewerName',
                }).then(function (response) {
                    $scope.reviewers = response.data;
                }), function (error) {
                    $scope.message = 'Unexpected Error';
                };
            }

            //Get Customer name
            function GetCustomers() {
                $scope.customers = [];
                $http({
                    method: 'Get',
                    url: '../ActAssignment/GetActName',
                }).then(function (response) {
                    $scope.customers = response.data;
                }), function (error) {
                    $scope.message = 'Unexpected Error';
                }
            }
            //Save Add/Edit details to database
            $scope.IscustomerValid = 1;
            $scope.AddUpdateCustAssignment = function (isValid) {
                debugger;
                if (isValid) {
                    var entry = {};
                    $scope.userForm.$setPristine();
                    //var entry = {
                    //    ID: $scope.ID,
                    //    PerformerID: $scope.PerformerID,
                    //    ReviewerID: $scope.ReviewerID,
                    //};
                    if ($scope.ActID != 0) {
                        var details = new Array();
                        angular.forEach($scope.ActID, function (value, index) {
                            var detail = {};
                            detail.ID = $scope.ID,
                            detail.ActID = value.id;
                            detail.PerformerID = $scope.PerformerID,
                            detail.ReviewerID = $scope.ReviewerID,
                            details.push(detail);
                            $scope.IscustomerValid = 1;
                            $scope.IsCustValid = true;
                        });
                        entry.actassignments = details;

                        var getAction = $scope.Action;
                    }
                    else {
                        $scope.IscustomerValid = 0;
                        $scope.IsCustValid = false;
                    }
                    debugger;
                    if ($scope.IsCustValid) {
                        if (getAction == "Update") {
                            $http({
                                method: "Post",
                                url: "../ActAssignment/UpdateSaveCusAssignments",
                                dataType: 'json',
                                headers: { "Content-Type": "application/json" },
                                data: '{Customers: ' + JSON.stringify(entry) + '}'
                            }).then(function (response) {
                                $scope.msg = response.data;
                                if (response.data == "Act assignment has been Created Successfully!") {
                                    $scope.tabs = false;
                                    $scope.adtabls = false;
                                    $scope.form = false;
                                    $scope.form1 = false;
                                    $scope.DisplayForm = false;
                                    $scope.addplus = true;
                                    $scope.addminus = false;
                                    $scope.editminus = false;
                                    $scope.DeleteAlert = false;
                                    $scope.AddAlert = true;
                                    $scope.EditAlert = false;
                                    Bindgrid();
                                    GetCustomers1();
                                    $scope.ActID = [];
                                    ClearFields();
                                    angular.element('#popup').modal('hide');
                                }
                                else {
                                    $scope.tabs = true;
                                }

                            }), function (error) {
                                Bindgrid();
                                $scope.Message = error.Message;
                            }
                        }
                        else {
                            debugger;

                            $http({
                                method: "Post",
                                url: "../ActAssignment/SaveCusAssignments",
                                dataType: 'json',
                                headers: { "Content-Type": "application/json" },
                                data: '{Customers: ' + JSON.stringify(entry) + '}'
                            }).then(function (response) {
                                debugger;
                                $scope.msg = response.data;
                                if (response.data == "Act assignment has been Created Successfully!") {
                                    $scope.tabs = false;
                                    $scope.adtabls = false;
                                    $scope.form = false;
                                    $scope.form1 = false;
                                    $scope.DisplayForm = false;
                                    $scope.addplus = true;
                                    $scope.addminus = false;
                                    $scope.editminus = false;
                                    $scope.DeleteAlert = false;
                                    $scope.AddAlert = true;
                                    $scope.EditAlert = false;
                                    Bindgrid();
                                    GetCustomers1();
                                    $scope.ActID = [];
                                    ClearFields();
                                    angular.element('#popup').modal('hide');
                                }
                                else {
                                    $scope.tabs = true;
                                }

                            }), function (error) {
                                //Bindgrid();
                                $scope.Message = error.Message;
                            }
                        }
                    }
                }
                else {
                    $scope.DisplayForm = true;
                    // Show error Message if Form not valid.
                    if ($scope.userForm.$error.required != undefined) {
                        for (var i = 0; i < $scope.userForm.$error.required.length; i++) {
                            $scope.userForm.$error.required[i].$pristine = false;
                        }
                    }
                }
                debugger;
                Bindgrid();
            }
            $scope.IsEmpValid = true;
            $scope.IsEmpExist = false;
           

            //Add Activity details
            $scope.AddCustAssDiv = function () {
                $scope.DisplayForm = true;
                $scope.addminus = true;
                $scope.addplus = false;
                $scope.DeleteAlert = false;
                $scope.AddAlert = false;
                $scope.EditAlert = false;
                $scope.ShowLoader = false;
                $scope.IsCustValid = true;
                $scope.IscustomerValid = 1;
                $scope.popup = true;
                $scope.Customer = [];
                $scope.ActID = [];
                Bindgrid();
                GetCustomers1();
                ClearFields();
                $scope.Action = "Save";
            }

            //Clear all feilds
            function ClearFields() {
                //define object
                $scope.ID = "";
                $scope.PerformerID = "";
                $scope.ShowLoader = false;
                $scope.IsEmpValid = true;
                $scope.IsEmpExist = false;
                $scope.IsCustValid = true
                $scope.IscustomerValid = 1;
                $scope.userForm.$setPristine();
            }
            //Cancel Functionality
            $scope.close = function () {
                $scope.DisplayForm = false;
                $scope.addminus = false;
                $scope.addplus = true;
                $scope.editminus = false;
                $scope.DeleteAlert = false;
                $scope.AddAlert = false;
                $scope.popup = false;
                $scope.EditAlert = false;
                $scope.ShowLoader = false;
                $scope.IsCustValid = true;
                $scope.IscustomerValid = 1;
                GetCustomers1();
                $scope.ActID = [];
                ClearFields();

            }
        })
        app.service("myService", function ($http) {
            // Update CustomerAssignment by Id
            this.updateCustassign = function (slabdetail) {
                var response = $http({
                    method: "post",
                    url: "../ActAssignment/UpdateCustomerAssignment",
                    data: JSON.stringify(slabdetail),
                    dataType: "json"
                });
                return response;
            }
            // Add CustomerAssignment
            this.AddCustassign = function (CustAssign) {               
                var response = $http({
                    method: "post",
                    url: "../ActAssignment/AddCustomerAssignment",
                    data: JSON.stringify(CustAssign),
                    dataType: "json"
                });
                return response;
            }
        });
    </script>


</head>
<body>
    <div class="container">
        <div id="example" ng-app="KendoDemos">
            <div ng-controller="MyCtrl">

                <div style="padding-top:10px"></div>

                <div class="alert alert-danger" ng-show="DeleteAlert" ng-model="delete">
                    <strong>{{delete}}</strong>
                </div>
                <div class="alert alert-success" ng-show="AddAlert" ng-model="add">
                    <strong>{{msg}}</strong>
                </div>
                <div class="alert alert-info" ng-show="EditAlert" ng-model="edit">
                    <strong>{{msg}}</strong>
                </div>

                @*<h1 class="modal-title" style="text-align:left;height: 20px;margin-top: 18px;font-size: 16px;"><b>Customer Assignment Master</b></h1>*@

                <div class="modal fade" id="popup" data-keyboard="false" data-backdrop="static" style="border:0px;margin-left: 35px;position: absolute;overflow: hidden;padding-top:30px" role="dialog">
                    <div style="width:790px;margin-left: 231px;">
                        <div class="modal-content">
                            <div class="modal-header pt-reduced pb-reduced" style="background-color:#81c9ff;">
                                <button type="button" class="close" data-dismiss="modal" ng-click="close()">x</button>
                                <h4 class="modal-title" style="text-align:center;height: 20px;color:white"><b>Act Assignment Details</b></h4>
                            </div>
                            <div class="modal-body">
                                <div id="wrapper" class="clearfix" ng-show="DisplayForm" scroll-bookmark="bookmark">

                                    <div>
                                        <form name="userForm" novalidate>
                                            <div class="form-horizontal">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div style="float: left; margin: 10px; width: 130px;">
                                                            <label style="color:red;">*</label>
                                                            <label for="lblActID">Act</label>
                                                        </div>
                                                        <div style="width: 75%; float: left; margin: 10px">
                                                            <div ng-dropdown-multiselect="" extra-settings="dropdownSetting" style="width:100%"
                                                                 options="Customer" selected-model="ActID" name="ActID" translation-texts="example5customTexts">
                                                            </div>
                                                            <p style="color:red; margin-left: 15%;" ng-show="IscustomerValid==0" class="help-block"> Please select any one Act</p>
                                                            <p style="color:red" ng-show="IscustomerValid==1" class="help-block"></p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div style="float: left; margin: 10px; width: 130px;">
                                                            <label style="color:red;">*</label>
                                                            <label for="lblPerformerID">Performer</label>
                                                        </div>
                                                        <div style="width: 75%; float: left; margin: 10px">
                                                            <select class="form-control" style="display: inline; width: 500px; margin-left: 50px;"
                                                                     select2="" name="PerformerID" ng-model="PerformerID" containerCssClass="all" 
                                                                    ng-options="r.ID as r.Name for r in performers" ng-disabled="disabled" required>
                                                                <option value="">Select Performer</option>
                                                            </select>                                                           
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div style="float: left; margin: 10px; width: 130px;">
                                                            <label style="color:red;">*</label>
                                                            <label for="lblReviewerID">Reviewer</label>
                                                        </div>
                                                        <div style="width: 75%; float: left; margin: 10px">
                                                            <select class="form-control" style="display: inline; width: 500px; margin-left: 50px;"
                                                                    select2="" name="ReviewerID" ng-model="ReviewerID" containerCssClass="all"
                                                                    ng-options="r.ID as r.Name for r in reviewers" ng-disabled="disabled" required>
                                                                <option value="">Select Reviewer</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                                                          
                                                <div class="form-group"></div>
                                                <div class="form-group" style="width: 120%; text-align: center; padding: 10px;height:200px">
                                                    <div class="col-md-offset-2 col-md-5">
                                                        <p>
                                                            <button class="button" ng-model="IsVisible" ng-click="AddUpdateCustAssignment(userForm.$valid)">{{Action}}</button>
                                                            <button class="button" data-dismiss="modal" style="margin-right: -105px;" ng-click="close()">Close</button>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4" style="margin-left: 27px;display:inline-block">
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3"></div>


                            <div class="col-md-" style="text-align: right;display:inline-block ;margin-left:80px">
                                <button class="btn btn-primary btn-sm " data-toggle="modal" data-target="#popup" ng-show="addplus" ng-click="AddCustAssDiv();" style="margin-left: 27px;"><span class="glyphicon glyphicon-plus"></span>Add</button>

                            </div>
                        </div>
                    </div>
                </form>
                <br />
                <div class="row" style="padding-top: 12px;">
                    <div id="grid" style="margin-left:10px;margin-right:10px;"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
