﻿<%@ Page Title="" Language="C#" MasterPageFile="~/AuditTool.Master" AutoEventWireup="true" CodeBehind="AuditManagerStatusUI.aspx.cs" Inherits="com.VirtuosoITech.ComplianceManagement.Portal.RiskManagement.AuditTool.AuditManagerStatusUI" %>
<%@ Register Assembly="DropDownCheckBoxes" Namespace="Saplin.Controls" TagPrefix="asp" %>
<%@ Register Assembly="DropDownListChosen" Namespace="Saplin.Controls" TagPrefix="asp" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        

        .dd_chk_select {
            height: 81px;
            height: 3px !important;
            /*text-align: center;*/
            border-radius: 4px !important;
            padding: 6px 12px !important;
            font-size: 14px !important;
            line-height: 1.428571429;
            color: #8e8e93 !important;
            background-color: #fff !important;
            border: 1px solid #c7c7cc !important;
            -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            font-family: Roboto sans-serif !important;
            margin-bottom: 0px !important;
        }

        .chosen-results {
            max-height: 75px !important;
        }

        .chosen-container-single .chosen-single {
            background: none !important;
            border: 1px solid #c7c7cc !important;
            height: 32px !important;
            padding: 3px 0px 0px 14px !important;
            font-family: 'Roboto', sans-serif !important;
        }
    </style>
    <style type="text/css">
        span#ContentPlaceHolder1_rdRiskActivityProcess > Label {
            margin-left: 5px;
            font-family: 'Roboto',sans-serif;
            color: #8e8e93;
        }

        input#ContentPlaceHolder1_rdRiskActivityProcess_1 {
            margin-left: 12px;
            font-family: 'Roboto',sans-serif;
            color: #8e8e93;
        }

        .ddlMultiSelectCustomer {
            height: 32px !important;
        }
    </style>

   <script type="text/javascript">

       $(document).ready(function () {
           setactivemenu('leftworkspacemenu');
           var filterbytype = ReadQuerySt('Status');          
           if (filterbytype == '') {
               fhead('My Workspace');
           } else {
               //$('#pagetype').css("font-size", "20px")
               if (filterbytype == 'Open') {
                   filterbytype = 'Open Audits';
               } else if (filterbytype == 'Closed') {
                   filterbytype = 'Closed Audits';
               }
               fhead('My Workspace/ ' + filterbytype);
           }
       });

       $(document).ready(function () {
           var prm = Sys.WebForms.PageRequestManager.getInstance();
           prm.add_initializeRequest(InitializeRequest);
           prm.add_endRequest(EndRequest);
           BindControls();
       });
       function InitializeRequest(sender, args) { }
       function EndRequest(sender, args) { BindControls(); }

       function BindControls() {
           // JQUERY DATE PICKER.
           
           $(function () {
               $('input[id*=txtStartDate]').datepicker({
                   changeMonth: true,
                   changeYear: true,
                   dateFormat: 'dd-mm-yy',                  
                   numberOfMonths: 1,
               });             
           });

           $(function () {
               $('input[id*=txtEndDate]').datepicker({
                   changeMonth: true,
                   changeYear: true,
                   dateFormat: 'dd-mm-yy',
               });
           });
       }      
       
   </script>

</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:UpdatePanel ID="upAuditStatusUI" runat="server">
        <ContentTemplate>
            <div class="row Dashboard-white-widget">
                <div class="dashboard">
                    <div class="col-lg-12 col-md-12 ">
                        <section class="panel">                              
                                <header class="panel-heading tab-bg-primary ">
                                      <ul id="rblRole1" class="nav nav-tabs">                                           
                                        <li class="active" id="liProcess" runat="server">
                                            <asp:LinkButton ID="lnkProcess" OnClick="ShowProcessGrid" CausesValidation="false" runat="server">Audit</asp:LinkButton>                                           
                                        </li>
                                          
                                        <li class=""  id="liImplementation" runat="server">
                                            <asp:LinkButton ID="lnkImplementation" OnClick="ShowImplementationGrid" CausesValidation="false" runat="server">Implementation</asp:LinkButton>                                        
                                        </li>                                        
                                    </ul>
                                </header>
                              
                                 <div class="clearfix"></div> 

                            <div class="panel-body">

                                 <div class="col-md-12 colpadding0">
                                   <asp:ValidationSummary ID="ValidationSummary1" runat="server" class="alert alert-block alert-danger fade in" 
                                       ValidationGroup="ComplianceInstanceValidationGroup" />
                                    <asp:CustomValidator ID="cvDuplicateEntry" runat="server" EnableClientScript="False"
                                        ValidationGroup="ComplianceInstanceValidationGroup" Display="None" />
                                    <asp:Label ID="lblErrorMessage" runat="server" Style="color: Red"></asp:Label>
                                 </div>

                                 <div class="col-md-12 colpadding0">
                                     <div class="col-md-3 colpadding0 entrycount" style="margin-top: 5px;width: 20%;">
                                        <div class="col-md-2 colpadding0" style="width: 20%;">
                                        <p style="color: #999; margin-top: 5px;">Show </p>
                                        </div>
                                        <asp:DropDownList runat="server" ID="ddlPageSize" class="form-control m-bot15" Style="width: 70px;" 
                                        AutoPostBack="true" OnSelectedIndexChanged="ddlPageSize_SelectedIndexChanged" >                        
                                        <asp:ListItem Text="5"  />
                                        <asp:ListItem Text="10" />
                                        <asp:ListItem Text="20" Selected="True" />
                                        <asp:ListItem Text="50" />
                                    </asp:DropDownList>
                                    </div> 
                                     <div class="col-md-3 colpadding0 entrycount" style="margin-top:5px;width: 20%;display:none;">
                                         <asp:DropDownListChosen ID="ddlCustomer" runat="server" DataPlaceHolder="Select Customer"  Width="90%"  class="form-control m-bot15 select_location" Style="float: left; width:90%;"
                                         AllowSingleDeselect="false" DisableSearchThreshold="3" AutoPostBack="true" OnSelectedIndexChanged="ddlCustomer_SelectedIndexChanged"></asp:DropDownListChosen>
                                     </div> 
                                      <div class="col-md-3 colpadding0 entrycount" style="margin-top:5px;width:20%;">
                                   <asp:DropDownCheckBoxes ID="ddlCustomerMultiSelect" runat="server" AutoPostBack="true" Visible="true"
                                                CssClass="form-control m-bot15" OnSelectedIndexChanged="ddlCustomerMultiSelect_SelectedIndexChanged"
                                                AddJQueryReference="false" UseButtons="True" UseSelectAllNode="True"
                                                Style="padding: 0px; margin: 0px; width: 95%; height: 50px;">
                                                <Style SelectBoxWidth="200" DropDownBoxBoxWidth="200" DropDownBoxBoxHeight="130" SelectBoxCssClass="ddlMultiSelectCustomer" DropDownBoxCssClass="MarginTop"/>
                                                <Texts SelectBoxCaption="Select Customer" />
                                            </asp:DropDownCheckBoxes>
                                   </div>
                                     <div class="col-md-3 colpadding0 entrycount" style="margin-top:5px;width: 20%;display:none;">                                    
                                     <asp:DropDownListChosen runat="server" ID="ddlLegalEntity" DataPlaceHolder="Entity"  Width="90%"  class="form-control m-bot15 select_location" Style="float: left; width:90%;"
                                         AllowSingleDeselect="false" DisableSearchThreshold="3"   AutoPostBack="true" OnSelectedIndexChanged="ddlLegalEntity_SelectedIndexChanged">
                                            </asp:DropDownListChosen>
                                </div>
                                      <div class="col-md-3 colpadding0 entrycount" style="margin-top:5px;width:20%;">
                                   <asp:DropDownCheckBoxes ID="ddlLegalEntityMultiSelect" runat="server" AutoPostBack="true" Visible="true"
                                                CssClass="form-control m-bot15" OnSelectedIndexChanged="ddlLegalEntityMultiSelect_SelectedIndexChanged"
                                                AddJQueryReference="false" UseButtons="True" UseSelectAllNode="True"
                                                Style="padding: 0px; margin: 0px; width: 95%; height: 50px;">
                                                <Style SelectBoxWidth="200" DropDownBoxBoxWidth="200" DropDownBoxBoxHeight="130" SelectBoxCssClass="ddlMultiSelectCustomer"  DropDownBoxCssClass="MarginTop"/>
                                                <Texts SelectBoxCaption="Select Unit" />
                                            </asp:DropDownCheckBoxes>
                                   </div>
                                     <div class="col-md-3 colpadding0 entrycount" style="margin-top: 5px;width: 20%;display:none;">                                    
                                    <asp:DropDownListChosen runat="server" ID="ddlSubEntity1" DataPlaceHolder="Sub Entity"  Width="90%" class="form-control m-bot15 select_location" Style="float: left; width:90%;"
                                        AllowSingleDeselect="false" DisableSearchThreshold="3"    AutoPostBack="true" OnSelectedIndexChanged="ddlSubEntity1_SelectedIndexChanged">
                                        </asp:DropDownListChosen>                                    
                                </div> 
                                       <div class="col-md-3 colpadding0 entrycount" style="margin-top: 5px;width:20%;">
                                          <asp:DropDownCheckBoxes ID="ddlSubEntity1MultiSelect" runat="server" AutoPostBack="true" Visible="true" 
                                            CssClass="form-control m-bot15" OnSelectedIndexChanged="ddlSubEntity1MultiSelect_SelectedIndexChanged"
                                            AddJQueryReference="false" UseButtons="True" UseSelectAllNode="True"
                                             Style="padding: 0px; margin: 0px; width: 80%; height: 50px;">
                                            <Style SelectBoxWidth="200" DropDownBoxBoxWidth="200" DropDownBoxBoxHeight="130" SelectBoxCssClass="ddlMultiSelectCustomer"  DropDownBoxCssClass="MarginTop"/>
                                            <Texts SelectBoxCaption="Select Sub Unit" />
                                        </asp:DropDownCheckBoxes>
                                                                 
                                </div>
                                     <div class="col-md-3 colpadding0 entrycount" style="margin-top: 5px;width: 20%;display:none;">                                   
                                    <asp:DropDownListChosen runat="server" ID="ddlSubEntity2" DataPlaceHolder="Sub Entity"  Width="90%" class="form-control m-bot15 select_location" Style="float: left; width:90%;"
                                        AllowSingleDeselect="false" DisableSearchThreshold="3"    AutoPostBack="true" OnSelectedIndexChanged="ddlSubEntity2_SelectedIndexChanged">
                                        </asp:DropDownListChosen>                                      
                                </div>
                                      <div class="col-md-3 colpadding0 entrycount" style="margin-top: 5px;width:20%;">
                                          <asp:DropDownCheckBoxes ID="ddlSubEntity2MultiSelect" runat="server" AutoPostBack="true" Visible="true" 
                                            CssClass="form-control m-bot15" OnSelectedIndexChanged="ddlSubEntity2MultiSelect_SelectedIndexChanged"
                                            AddJQueryReference="false" UseButtons="True" UseSelectAllNode="True"
                                             Style="padding: 0px; margin: 0px; width: 80%; height: 50px;">
                                            <Style SelectBoxWidth="200" DropDownBoxBoxWidth="200" DropDownBoxBoxHeight="130" SelectBoxCssClass="ddlMultiSelectCustomer"  DropDownBoxCssClass="MarginTop"/>
                                            <Texts SelectBoxCaption="Select Sub Unit" />
                                        </asp:DropDownCheckBoxes>
                                                                 
                                </div>
                                 </div>  
                                <div class="clearfix"></div>
                                <div class="col-md-12 colpadding0">    
                                    <div class="col-md-3 colpadding0 entrycount" style="margin-top: 5px;width: 20%;display:none;">                                    
                                     <asp:DropDownListChosen runat="server" ID="ddlSubEntity3" DataPlaceHolder="Sub Entity" Width="90%" class="form-control m-bot15 select_location" Style="float: left; width:90%;"
                                       AllowSingleDeselect="false" DisableSearchThreshold="3"     AutoPostBack="true" OnSelectedIndexChanged="ddlSubEntity3_SelectedIndexChanged">
                                        </asp:DropDownListChosen>                                    
                                    </div>    
                                     <div class="col-md-3 colpadding0 entrycount" style="margin-top: 5px;width:20%;">
                                          <asp:DropDownCheckBoxes ID="ddlSubEntity3MultiSelect" runat="server" AutoPostBack="true" Visible="true" 
                                            CssClass="form-control m-bot15" OnSelectedIndexChanged="ddlSubEntity3MultiSelect_SelectedIndexChanged"
                                            AddJQueryReference="false" UseButtons="True" UseSelectAllNode="True"
                                             Style="padding: 0px; margin: 0px; width: 80%; height: 50px;">
                                            <Style SelectBoxWidth="200" DropDownBoxBoxWidth="200" DropDownBoxBoxHeight="130" SelectBoxCssClass="ddlMultiSelectCustomer"  DropDownBoxCssClass="MarginTop"/>
                                            <Texts SelectBoxCaption="Select Sub Unit" />
                                        </asp:DropDownCheckBoxes>
                                                                 
                                </div>                                                               
                                    <div class="col-md-3 colpadding0 entrycount" style="margin-top: 5px;width: 20%;display:none;">                     
                                        <asp:DropDownListChosen runat="server" ID="ddlFilterLocation" AutoPostBack="true" DataPlaceHolder="Location"
                                      AllowSingleDeselect="false" DisableSearchThreshold="3"  OnSelectedIndexChanged="ddlFilterLocation_SelectedIndexChanged"  Width="90%" class="form-control m-bot15 select_location" Style="float: left; width:90%;">
                                        </asp:DropDownListChosen>
                                    </div> 

                                    <div class="col-md-3 colpadding0 entrycount" style="margin-top: 5px;width:20%;">
                                          <asp:DropDownCheckBoxes ID="ddlFilterLocationMultiSelect" runat="server" AutoPostBack="true" Visible="true" 
                                            CssClass="form-control m-bot15" OnSelectedIndexChanged="ddlFilterLocationMultiSelect_SelectedIndexChanged"
                                            AddJQueryReference="false" UseButtons="True" UseSelectAllNode="True"
                                             Style="padding: 0px; margin: 0px; width: 80%; height: 50px;">
                                            <Style SelectBoxWidth="200" DropDownBoxBoxWidth="200" DropDownBoxBoxHeight="130" SelectBoxCssClass="ddlMultiSelectCustomer"  DropDownBoxCssClass="MarginTop"/>
                                            <Texts SelectBoxCaption="Select Sub Unit" />
                                        </asp:DropDownCheckBoxes>
                                                                 
                                </div>
                                    <div class="col-md-3 colpadding0 entrycount" style="margin-top: 5px;width: 20%;display:none;">                     
                                        <asp:DropDownListChosen ID="ddlFinancialYear" runat="server" DataPlaceHolder="Financial Year" AutoPostBack="true"  Width="90%" class="form-control m-bot15 select_location" Style="float: left; width:90%;"
                                     AllowSingleDeselect="false" DisableSearchThreshold="3"   OnSelectedIndexChanged="ddlFinancialYear_SelectedIndexChanged">
                                        </asp:DropDownListChosen>
                                        <asp:CompareValidator ErrorMessage="Please Select Financial Year." ControlToValidate="ddlFinancialYear"
                                        runat="server" ValueToCompare="-1" Operator="NotEqual" Display="None" />                    
                                    </div>    
                                    <div class="col-md-3 colpadding0 entrycount" style="margin-top:5px;width:20%;">
                                           <asp:DropDownCheckBoxes ID="ddlFinancialYearMultiSelect" runat="server" AutoPostBack="true" Visible="true"
                                                CssClass="form-control m-bot15" OnSelectedIndexChanged="ddlFinancialYearMultiSelect_SelectedIndexChanged"
                                                AddJQueryReference="false" UseButtons="True" UseSelectAllNode="True"
                                                Style="padding: 0px; margin: 0px; width: 90%; height: 50px;">
                                                <Style SelectBoxWidth="200" DropDownBoxBoxWidth="200" DropDownBoxBoxHeight="130" SelectBoxCssClass="ddlMultiSelectCustomer" DropDownBoxCssClass="MarginTop"/>
                                                <Texts SelectBoxCaption="Select Financial Year" />
                                            </asp:DropDownCheckBoxes>
                                   </div>
                                    <div class="col-md-3 colpadding0 entrycount" style="margin-top: 5px;width: 20%;display:none;">                     
                                        <asp:DropDownListChosen runat="server" ID="ddlSchedulingType" AutoPostBack="true"  Width="90%" DataPlaceHolder="Scheduling Type"
                                     AllowSingleDeselect="false" DisableSearchThreshold="3"   OnSelectedIndexChanged="ddlSchedulingType_SelectedIndexChanged" class="form-control m-bot15 select_location" Style="float: left; width:90%;">
                                        </asp:DropDownListChosen>
                                    </div>
                                     <div class="col-md-3 colpadding0 entrycount" style="margin-top:5px;width:20%;">
                                           <asp:DropDownCheckBoxes ID="ddlSchedulingTypeMultiSelect" runat="server" AutoPostBack="true" Visible="true"
                                                CssClass="form-control m-bot15" OnSelectedIndexChanged="ddlSchedulingTypeMultiSelect_SelectedIndexChanged"
                                                AddJQueryReference="false" UseButtons="True" UseSelectAllNode="True"
                                                Style="padding: 0px; margin: 0px; width: 90%; height: 50px;">
                                                <Style SelectBoxWidth="200" DropDownBoxBoxWidth="200" DropDownBoxBoxHeight="130" SelectBoxCssClass="ddlMultiSelectCustomer"  DropDownBoxCssClass="MarginTop"/>
                                                <Texts SelectBoxCaption="Select Scheduling Type" />
                                            </asp:DropDownCheckBoxes>
                                   </div>
                                    <div class="col-md-3 colpadding0 entrycount" style="margin-top: 5px;width: 20%;display:none;">                     
                                        <asp:DropDownListChosen runat="server" ID="ddlPeriod" AutoPostBack="true"  Width="90%" DataPlaceHolder="Period"
                                      AllowSingleDeselect="false" DisableSearchThreshold="3"  OnSelectedIndexChanged="ddlPeriod_SelectedIndexChanged" class="form-control m-bot15 select_location" Style="float: left; width:90%;">
                                        </asp:DropDownListChosen>
                                    </div> 
                                     <div class="col-md-3 colpadding0 entrycount" style="margin-top:5px;width:20%;">
                                           <asp:DropDownCheckBoxes ID="ddlPeriodMultiSelect" runat="server" AutoPostBack="true" Visible="true"
                                                CssClass="form-control m-bot15"  OnSelectedIndexChanged="ddlPeriodMultiSelect_SelectedIndexChanged"
                                                AddJQueryReference="false" UseButtons="True" UseSelectAllNode="True"
                                                Style="padding: 0px; margin: 0px; width: 90%; height: 50px;">
                                                <Style SelectBoxWidth="200" DropDownBoxBoxWidth="200" DropDownBoxBoxHeight="130" SelectBoxCssClass="ddlMultiSelectCustomer"  DropDownBoxCssClass="MarginTop"/>
                                                <Texts SelectBoxCaption="Select Period" />
                                            </asp:DropDownCheckBoxes>
                                   </div>
                                </div>  
                                <div class="clearfix"></div>
                                <div class="col-md-12 colpadding0">                                       
                                    <% if (com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.IsVerticalApplicable == 1)%>
                                      <%{%>
                                      <div class="col-md-3 colpadding0 entrycount" style="margin-top: 5px;width: 20%;">
                                            <asp:DropDownListChosen runat="server" ID="ddlVertical" AutoPostBack="true" DataPlaceHolder="Vertical" Width="90%"
                                           AllowSingleDeselect="false" DisableSearchThreshold="3"       OnSelectedIndexChanged="ddlVertical_SelectedIndexChanged" class="form-control m-bot15 select_location" Style="float: left; width:90%;" >
                                            </asp:DropDownListChosen>  
                                        </div>
                                     <%}%>  
                                </div>
<div style="margin-top: 10px;display:none;">
                                    <asp:LinkButton ID="lbtn_ShowAuditList" runat="server" PostBackUrl="~/RiskManagement/AuditTool/AuditListForHideObservation.aspx">Show Audit List</asp:LinkButton>
                                 </div>
                                </div>  

                             <div class="clearfix"></div>                                                                 
                                <div style="margin-top: 4px">                                       
                                      <asp:GridView runat="server" ID="grdProcessAudits" AutoGenerateColumns="false" ShowHeaderWhenEmpty="true"
                                   PageSize="20" AllowPaging="true" AutoPostBack="true"  CssClass="table" GridLines="None" Width="100%" AllowSorting="true"
                                     ShowFooter="true" OnRowCommand="grdProcessAudits_RowCommand" OnRowDataBound="grdProcessAudits_RowDataBound">
                                    <Columns>  
                                          <asp:TemplateField HeaderText="AuditName">
                                            <ItemTemplate>                                              
                                                 <div class="text_NlinesusingCSS" style="width: 250px;">                                                
                                                <asp:Label ID="lblAuditName" runat="server" Text='<%# Eval("AuditName") %>' data-toggle="tooltip" data-placement="top" ToolTip='<%# Eval("AuditName") %>'></asp:Label>
                                                     <asp:Label ID="AuditId" Visible="false" runat="server" Text='<%# Eval("AuditId") %>'></asp:Label>
                                                     </div>
                                            </ItemTemplate>
                                        </asp:TemplateField>                                                                                                                     
                                         <asp:TemplateField HeaderText="Process">
                                            <ItemTemplate>
                                                <div class="text_NlinesusingCSS" style="width: 200px;">   
                                                    <asp:Label ID="lblProcess" runat="server" Text='<%# Eval("CProcessName") %>' data-toggle="tooltip" data-placement="top" ToolTip='<%# Eval("CProcessName") %>'></asp:Label>
                                                     </div>
                                            </ItemTemplate>
                                        </asp:TemplateField>  
                                        <asp:TemplateField HeaderText="SubProcess">
                                            <ItemTemplate>
                                                <div class="text_NlinesusingCSS" style="width: 250px;">   
                                                <asp:Label ID="lblSubProcess" runat="server" Text='<%# Eval("SubProcess") %>' data-toggle="tooltip" data-placement="top" ToolTip='<%# Eval("SubProcess") %>'></asp:Label>
                                                     </div>
                                            </ItemTemplate>
                                        </asp:TemplateField>                                                                                                                  
                                        <asp:TemplateField HeaderText="Audit Start Date">
                                            <ItemTemplate>
                                                <asp:TextBox ID="txtStartDate" style="width: 110px; text-align: center;" runat="server" Enabled="false" 
                                                    Text='<%# Eval("ExpectedStartDate")!=null? Convert.ToDateTime(Eval("ExpectedStartDate")).ToString("dd-MMM-yyyy"):"" %>'></asp:TextBox>
                                            </ItemTemplate>
                                        </asp:TemplateField>  

                                        <asp:TemplateField HeaderText="Audit End Date">
                                            <ItemTemplate>
                                               <asp:TextBox ID="txtEndDate" runat="server" style="width: 110px; text-align: center;" Enabled="false"
                                                   Text='<%# Eval("ExpectedStartDate")!=null?Convert.ToDateTime(Eval("ExpectedEndDate")).ToString("dd-MMM-yyyy"):"" %>'></asp:TextBox>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                        
                                        <asp:TemplateField HeaderText="Pending Step" ItemStyle-HorizontalAlign="Center" Visible="false">
                                                <ItemTemplate>
                                                    <asp:LinkButton ID="lblFinalReview" runat="server" CommandName="DRILLDOWN" CommandArgument='<%# "FinalReview"+ ","+ Eval("CustomerBranchID") + "," + Eval("ForMonth") + "," + Eval("FinancialYear") +","+Eval("VerticalId")+","+Eval("AuditID") %>'
                                                       Text="" CausesValidation="false"></asp:LinkButton>
                                                </ItemTemplate>                            
                                            </asp:TemplateField>                                           

                                        <asp:TemplateField ItemStyle-HorizontalAlign="Justify" ItemStyle-Width="8%" HeaderText="Action">
                                            <ItemTemplate>                                               
                                                <asp:LinkButton ID="lnkAuditDetails" runat="server" CommandName="ViewAuditStatusSummary" CommandArgument='<%# Eval("CustomerBranchID") + "," + Eval("ForMonth") + "," + Eval("FinancialYear") +","+Eval("VerticalId")+","+Eval("AuditID") %>'
                                                    CausesValidation="false"><img src="../../Images/View-icon-new.png" alt="View Audit Details" data-toggle="tooltip" data-placement="top" title="View Audit Details" /></asp:LinkButton> <%--CommandArgument='<%# Eval("InternalAuditInstanceID") %>' --%>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                    </Columns>
                                    <RowStyle CssClass="clsROWgrid" />
                                    <HeaderStyle CssClass="clsheadergrid" />
                                   <HeaderStyle BackColor="#ECF0F1" />
                                            <PagerSettings Visible="false" />                   
                                    <PagerTemplate>                                     
                                    </PagerTemplate>
                                     <EmptyDataTemplate>
                                          No Records Found.
                                     </EmptyDataTemplate> 
                                </asp:GridView>
                  
                                </div>

                            <div style="margin-bottom:4px;">
                                 <asp:GridView runat="server" ID="grdImplementationAudits" AutoGenerateColumns="false" ShowHeaderWhenEmpty="true"
                                   PageSize="20" AllowPaging="true" AutoPostBack="true"  CssClass="table" GridLines="None" Width="100%" AllowSorting="true"
                                     ShowFooter="true" OnRowCommand="grdImplementationAudits_RowCommand" OnRowDataBound="grdImplementationAudits_RowDataBound">
                                    <Columns>       
                                          <asp:TemplateField HeaderText="AuditName">
                                            <ItemTemplate>                                              
                                                 <div class="text_NlinesusingCSS" style="width: 250px;">                                                
                                                <asp:Label ID="lblAuditName" runat="server" Text='<%# Eval("AuditName") %>' data-toggle="tooltip" data-placement="top" ToolTip='<%# Eval("AuditName") %>'></asp:Label>
                                                     </div>
                                            </ItemTemplate>
                                        </asp:TemplateField>                                                                         
                                         <asp:TemplateField HeaderText="Process">
                                            <ItemTemplate>
                                                 <div class="text_NlinesusingCSS" style="width: 250px;"> 
                                                <asp:Label ID="lblProcess" runat="server" Text='<%# Eval("CProcessName") %>' data-toggle="tooltip" data-placement="top" ToolTip='<%# Eval("CProcessName") %>'></asp:Label>
                                                     </div>
                                            </ItemTemplate>
                                        </asp:TemplateField>                                                                         
                                        <asp:TemplateField HeaderText="Pending Step" ItemStyle-HorizontalAlign="Center" Visible="false">
                                                <ItemTemplate>
                                                    <asp:LinkButton ID="lblFinalReviewIMP" runat="server" CommandName="DRILLDOWNIMP" CommandArgument='<%# Eval("CustomerBranchID") + "," + Eval("ForMonth") + "," + Eval("FinancialYear")+","+Eval("VerticalId")+","+Eval("AuditID")  %>'
                                                       Text="" CausesValidation="false"></asp:LinkButton>
                                                </ItemTemplate>                            
                                            </asp:TemplateField> 
                                        <asp:TemplateField ItemStyle-HorizontalAlign="Justify" ItemStyle-Width="8%" HeaderText="Action">
                                            <ItemTemplate>                                               
                                                <asp:LinkButton ID="lnkAuditDetails" runat="server" CommandName="ViewAuditStatusSummary" CommandArgument='<%# Eval("CustomerBranchID") + "," + Eval("ForMonth") + "," + Eval("FinancialYear")+","+Eval("VerticalId")+","+Eval("AuditID")  %>'
                                                    CausesValidation="false"><img src="../../Images/View-icon-new.png" alt="View Audit Details" data-toggle="tooltip" data-placement="top" title="View Audit Details" /></asp:LinkButton> <%--CommandArgument='<%# Eval("InternalAuditInstanceID") %>' --%>
                                            </ItemTemplate>
                                        </asp:TemplateField>

                                    </Columns>
                                    <RowStyle CssClass="clsROWgrid" />
                                    <HeaderStyle CssClass="clsheadergrid" />
                                     <HeaderStyle BackColor="#ECF0F1" />
                                                   
                                    <PagerTemplate>                                       
                                    </PagerTemplate>
                                     <EmptyDataTemplate>
                                          No Records Found.
                                     </EmptyDataTemplate> 
                                </asp:GridView>               
                </div>
                            </div>
                                                 <div style="float: right;">
                  <asp:DropDownListChosen runat="server" ID="DropDownListPageNo" AutoPostBack="true"
                      class="form-control m-bot15"  Width="100%" Height="30px"  OnSelectedIndexChanged="DropDownListPageNo_SelectedIndexChanged">                                   
                  </asp:DropDownListChosen>  
                </div>
                            <div class="col-md-12 colpadding0">
                            <div class="col-md-5 colpadding0">
                                <div class="table-Selecteddownload">
                                    <div class="table-Selecteddownload-text">
                                        <p><asp:Label runat="server" ID="lblTotalSelected" Text="" style="color: #999; margin-right: 10px;"></asp:Label></p>
                                    </div>                                   
                                </div>
                            </div>

                            <div class="col-md-6 colpadding0" style="float:right;">
                                <div class="table-paging" style="margin-bottom: 10px;">                                    
                                    <div class="table-paging-text" style="float: right;">
                                        <p>
                                            Page                                         
                                        </p>
                                    </div>                                    
                                    <asp:HiddenField ID="TotalRows" runat="server" Value="0" />
                                </div>
                            </div>
                        </div>           
                       </section>
                    </div>
                </div>
            </div>       
        </ContentTemplate>
    </asp:UpdatePanel>
</asp:Content>