﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMCompliences

@{
    ViewBag.Title = "Compliance List";
}

<link href="~/Content/Css/DirectorCSS.css" rel="stylesheet" />

<script>
    function filterChangeCompliance() {
        
        var gridListFilter = { filters: [] };
        var gridDataSource = $("#gridKendoComlience").data("kendoGrid").dataSource;
        var selectedDropDownValue = $("#ddlActName").data("kendoMultiSelect").value();


        gridListFilter.logic = "or";   // a different logic 'or' can be selected
        if ($.trim(selectedDropDownValue).length > 0) {
            $.each(selectedDropDownValue, function (i, v) {
                gridListFilter.filters.push({ field: "ActID", operator: "eq", value: v });
            });
        }

        gridDataSource.filter(gridListFilter);

    }

    //$('#filterComplianceList').on('input', function (e) {
    //    

       
    //});
</script>

<!-- Filter script functions-->
<script>
    function isNumeric(n) {
        return !isNaN(parseFloat(n)) && isFinite(n);
    }

    function getBoolean(str) {
        if ("true".startsWith(str)) {
            return true;
        } else if ("false".startsWith(str)) {
            return false;
        } else {
            return null;
        }
    }


</script>

<script>
    $(document).ready(function () {

        $(".k-i-refresh")[0].innerHTML = "";
    })
    function onRowBound(e) {
        
        GetICons();
        var grid = $("#gridKendoComlience").data("kendoGrid");
        var gridData = grid.dataSource.view();
        getGridborder(grid);
        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
            $(currenRow).find(".k-grid-warn").empty();
            if (gridData[i].HasForms == false) {
                $(currenRow).find(".k-grid-warn").append("<img class='fill-template-fields' style='height:21px;' src='../../Images/upload_error.png'/>");
            }
            else {
                $(currenRow).find(".k-grid-warn").append("<img style='height:21px;' src='../../Images/upload_success.png'/>");
            }
        }
    }

    function filterChangeontextbox()
    {
         
        var txtboxval = $("#filterComplianceList").val();
        var grid = $('#gridKendoComlience').data('kendoGrid');
        var columns = grid.columns;

        var filter = { logic: 'or', filters: [] };
        columns.forEach(function (x) {
            if (x.field) {
                var type = grid.dataSource.options.schema.model.fields[x.field].type;
                if (type == 'string') {
                    filter.filters.push({
                        field: x.field,
                        operator: 'contains',
                        value: txtboxval
                    })
                }
                else if (type == 'number') {
                    if (isNumeric(txtboxval)) {
                        filter.filters.push({
                            field: x.field,
                            operator: 'eq',
                            value: parseFloat(txtboxval)
                        });
                    }
                }
            }
        });

        grid.dataSource.filter(filter);
    }
</script>

<div class="row Dashboard-white-widget">
    <div class="dashboard">
        <div class="row master-Headre">
            <div class="col-md-12">
                <div class="col-md-10 colpadding0">
                    <div class="col-md-8 colpadding0 btnUpload">
                        <div class="col-md-5 colpadding0">
                            @(Html.Kendo().MultiSelect()
                                .Name("ddlActName")
                                .ValuePrimitive(true)
                                .DataValueField("ID")
                                .DataTextField("Name")
                                .TagMode(TagMode.Single)
                                .Placeholder("Select Act")
                                //.OptionLabel("Act Name")
                                .Events(e => e.Change("filterChangeCompliance"))
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Url("/api/ComplianceAPI/GetActName").Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(false);
                                }).HtmlAttributes(new { style = "width:98%;height:33px" }))
                        </div>

                        <div class="col-md-7 colpadding0">

                            <input type="search" id='filterComplianceList' placeholder="Search-ComplianceID/Act/Compliance/Sections" class='k-textbox' style="width:98%;" onchange="filterChangeontextbox()" autocomplete="off" />

                        </div>
                    </div>
                    <div class="col-md-2 colpadding0 btnUpload" id="clearfillter" style="display:none">
                        <button type="button" class="btn btn-default btn-sm ClearFilterbtn" onclick="clearfilter()">

                            <img src="~/Areas/BM_Management/img/Vector.png" /> Clear Filter
                        </button>
                    </div>

                    <div class="col-md-4 colpadding0">

                    </div>
                </div>
                <div class="col-md-1 colpadding0 btnUpload">
                </div>

                <div class="col-md-1 btnUpload colpadding0 hidden" style="text-align:right">
                    <button class="btn btn-primary add-button" href="/#" id="addcompliance" title="Add New" onclick='AddCompliance(this)'><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</button>
                </div>
            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                <div>
                    @(Html.Kendo().Window().Name("wndFormTemplate").Title("Form Template").Visible(false).Modal(true))

                    @(Html.Kendo().Window().Name("wndFormComplianceMapping").Title("Form Comliance Mapping").Visible(false).Modal(true))
                </div>

                @(Html.Kendo().Grid<BM_ManegmentServices.VM.VMCompliences>()
        .Name("gridKendoComlience")
        //.ToolBar(toolBar => toolBar.Template("<a class='k-grid-add k-button k-button-icontext' onclick='AddCompliance(this)'></span>New</a>"))
        @*.ToolBar(toolbar =>
        {
        toolbar.Template(@<text>
                    <div class="refreshBtnContainer">
                        <a class='k-grid-add k-button k-button-icontext' onclick='AddCompliance(this)' title="Add New"><span class="k-icon k-add k-i-plus-outline"></span>New</a>
                    </div>
                    <div>
                        <div class="col-md-1 colpadding0">Filter:</div>
                        <div class="col-md-3 colpadding0">
                            @(Html.Kendo().MultiSelect()
                                .Name("ddlActName")
                                .ValuePrimitive(true)
                                .DataValueField("ID")
                                .DataTextField("Name")
                                .TagMode(TagMode.Single)
                                .Placeholder("Select Act")
                                //.OptionLabel("Act Name")
                                .Events(e => e.Change("filterChangeCompliance"))
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Url("/api/ComplianceAPI/GetActName").Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(false);
                                }).HtmlAttributes(new { style = "width:98%;height:33px" }))
                        </div>

                        <div class="col-md-5 colpadding0">
                           
                                <input type="search" id='filterComplianceList' placeholder="Search-ComplianceID/Act/Compliance/Sections" class='k-textbox' style="width:98%;" onchange="filterChangeontextbox()" autocomplete="off" />
                         
                        </div>

                        <div class="col-md-1 colpadding0"> </div>
                    </div>
        </text>);
        })*@
       .Columns(columns =>
       {
           columns.Bound(o => o.ID).Visible(true);
           columns.Bound(o => o.ActName).Title("Act Name").ClientTemplate("<div  class=\"forTooltips\">#:getTheSubstring(data.ActName,30)#</div>").HtmlAttributes(new { @style = "width:20%" });
           columns.Bound(o => o.Description).ClientTemplate("<div  class=\"forTooltipsDesc\">#:getTheSubstring(data.Description,30)#</div>").HtmlAttributes(new { @style = "width:20%" });
           columns.Bound(o => o.Sections).HtmlAttributes(new { @style = "width:20%" });

           columns.Bound(o => o.RiskType).Title("Risk Type").HtmlAttributes(new { @style = "width:10%" });
           columns.Bound(o => o.Frequency).Title("Frequency").HtmlAttributes(new { @style = "width:6%" });
           columns.Bound(o => o.Status).HtmlAttributes(new { @style = "width:10%" });
           //columns.Bound(o => o.HasForms).HtmlAttributes(new { @style = "width:5%" });
           columns.Template(t => { }).Title(" ").ClientTemplate("<span class='k-grid-warn pull-right'></span>").HtmlAttributes(new { @style = "width:4%" });
           columns.Command(command =>
           {
               command.Custom("Edit").Click("EditCompliance").HtmlAttributes(new { @class = "k-grid-edit", @style = "display:none;" });
               command.Custom("F").Click("FormMapping").HtmlAttributes(new { });
           }).Title("Action").HtmlAttributes(new { @style = "width:10%" });
       })
      //.EnableCustomBinding(true)

      .Events(e => e.DataBound("onRowBound"))
        .Navigatable()
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .Sortable()
        .Reorderable(reorderable => reorderable.Columns(true))
        .Resizable(resizable => resizable.Columns(true))

        .DataSource(dataSource => dataSource
        .WebApi()
        .PageSize(10)
        .ServerOperation(false)
              .Model(model =>
              {
                  model.Id(o => o.ID);
              })
        .Read(read => read.Url("/api/ComplianceAPI/GetCompliance?AgendaId=" + 0).Type(HttpVerbs.Get))
                       ).HtmlAttributes(new { @style = "width:100%" }))
            </div>
        </div>
    </div>
</div>

@(Html.Kendo().Tooltip()
      .For("#gridKendoComlience")
      .Filter(".forTooltips")
      .ContentHandler("getRatingTooltip")
      .Position(TooltipPosition.Top)
      .AutoHide(true)
)

@(Html.Kendo().Tooltip()
      .For("#gridKendoComlience")
      .Filter(".forTooltipsDesc")
      .ContentHandler("getDescriptionTooltip")
      .Width(300)
      .Position(TooltipPosition.Top)
      .AutoHide(true)
)

@(Html.Kendo().Tooltip()
      .For("#gridKendoComlience")
      .Filter(".k-grid-warn")
      .ContentHandler("getToltipForComplianceMappedorNot")
      .Position(TooltipPosition.Top)
       .Width(100)
      .AutoHide(true)
)

@(Html.Kendo().Tooltip()
        .For("#gridKendoComlience")
        .Filter(".k-grid-edit")
        .ContentHandler("toolTipContent")
        .Position(TooltipPosition.Top)
        .Width(100)
        .AutoHide(true) )

@(Html.Kendo().Tooltip()
        .For("#gridKendoComlience")
        .Filter(".k-grid-F")
        .ContentHandler("toolTipContentforFormMapping")
        .Position(TooltipPosition.Top)
        .Width(100)
        .AutoHide(true) )

<script>

</script>

<script>

    function toolTipContent(e) {

        return e.target.context.innerText;
    }

    function getToltipForComplianceMappedorNot(e)
    {
        
        var dataItem = $("#gridKendoComlience").data("kendoGrid").dataItem(e.target.closest("tr"));
        var content = dataItem.HasForms;
        if (content == true)
        {
            return "Compliance Form Mapping Completed";
        }
        else
        {
            return "Compliance Form Mapping not Completed";
        }
        
    }
    function getRatingTooltip(e) {
        var dataItem = $("#gridKendoComlience").data("kendoGrid").dataItem(e.target.closest("tr"));
        var content = dataItem.ActName;
        return content;
    }

    function getDescriptionTooltip(e) {
        var dataItem = $("#gridKendoComlience").data("kendoGrid").dataItem(e.target.closest("tr"));
        var content = dataItem.Description;
        return content;
    }

    function toolTipContent(e) {
        

        return "Edit";
    }

    function toolTipContentforFormMapping(e) {
        
        return "Compliance Form Mapping";
    }
</script>

<div id="divMyCompliances">
    <iframe id="IframeMyCompliances" src="about:blank" frameborder="0" height="530px" width="100%"></iframe>
</div>
@*@(Html.Kendo().Window().Name("divMyCompliances").Width(25).Iframe(true).Height(150).Draggable().Modal(true).Visible(false).Resizable().Title("Add/Edit").Actions(actions => actions.Close()))*@
<script>
    function FormMapping(e) {

        
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        $("#wndFormComplianceMapping").kendoWindow({
            title: "Form Compliance Mapping [Compliance ID:" + dataItem.ID + "]",
            modal: true
        });
        direction = "OpenComplianceFormMapping?ComplianceId=" + dataItem.ID;
        var wnd = $("#wndFormComplianceMapping").data("kendoWindow");
        var opts = wnd.options;
        //$("#wndAddAgendaItemTemplateFields").attr("style", "top:12.5px;");

        wnd = $("#wndFormComplianceMapping").kendoWindow({
            //pinned: true,

            width: "95%",

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefreshe(); },
            close: function (e) {
                $(this.element).empty();

                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {
                OnOpene();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "95%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();
    }

    function OnRefreshe() {
        var wndcomplience = $("#wndFormComplianceMapping").data("kendoWindow");
        kendo.ui.progress(wndcomplience.element, false);
    }

    function OnOpene() {
        var wndcomplience = $("#wndFormComplianceMapping").data("kendoWindow");
        kendo.ui.progress(wndcomplience.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }

    function AddCompliance(e) {
        
        EditCompliance();
    }

    function EditCompliance(e) {
        

        if (e != "" && e != undefined) {
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

            $('#divMyCompliances').show();
            $('#IframeMyCompliances').attr('src', "@Url.Content("~/Areas_Secretarial/AddEditComplience.aspx")?ID=" + dataItem.ID);
        }
        else {
            $('#divMyCompliances').show();
            $('#IframeMyCompliances').attr('src', "@Url.Content("~/Areas_Secretarial/AddEditComplience.aspx")");
        }
        var myWindowAdv = $("#divMyCompliances");
        //var compwin = $("#divMyCompliances").data("kendoWindow");
        //var opts = compwin.options;
        var wnd = myWindowAdv.kendoWindow({
            pinned: true,
            width: "76%",
            //height: "80%",

            title: "Add/Edit",
            visible: false,
            modal: true,
            actions: ["Close"],
            //close: onClose
            refresh: function () { this.center(); OnRefresh(); },
            //close: function (e) {
            //    $(this.element).empty();
            //    //$('#gridKendo').data('kendoGrid').dataSource.read();
            //    //$('#gridKendo').data('kendoGrid').refresh();
            //    $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            //},
            close: onClose,
            open: function (e) {
                OnOpen();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        //wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function OnOpen(e) {

        var wndcomplience = $("#divMyCompliances").data("kendoWindow");
        kendo.ui.progress(wndcomplience.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }
    function onClose() {
        $(".k-overlay").attr('style', "opacity:0.5; display:none;");
    }

    function OnRefresh() {

        var wndcomplience = $("#divMyCompliances").data("kendoWindow");
        kendo.ui.progress(wndcomplience.element, false);
    }
</script>

<script type="text/javascript">
    function getTheSubstring(value, length) {

        if (value.length > length)
            return kendo.toString(value.substring(0, length)) + "...";
        else return kendo.toString(value);
    }
</script>

<!-- Filter Script-->
<script>

    function filterChange() {
        
        var filter = { logic: 'and', filters: [] };
        var ddlActName = $("#ddlActName").data("kendoDropDownList");
        var d = ddlActName.value();

        if (d > 0) {
            filter.filters.push({ logic: "and", field: "ActID", operator: "eq", value: parseInt(d) });
        }

        grid = $("#gridKendoComlience").data("kendoGrid");
        grid.dataSource.filter(filter);
    }
</script>



