<head><title>

    </title>
    <script src="/cdn-cgi/apps/head/wJ-d6Wf0vtDL3SAEw42RUStKs6k.js"></script><script src="/cdn-cgi/apps/body/9ez4O41ihtsBKiMc6IPNmeloV48.js"></script><style>
        /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
        .row.content {height: 600px;
                      /*margin:125px;*/
        }
        
        /* Set gray background color and 100% height */
        .sidenav {
          background-color:#F5F2F4;
          height: 1000px;
    
          
        }
         .MainContainer {
         
          border:groove;
          border-color:#f1f3f4;
          
        }
           .img1{
            border:ridge;
            border-color:lightgrey;
        }
       
       
        
        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
          .sidenav {
            *height: auto;
            *padding: 15px;
          
          }
          .row.content {height: auto;} 
        }
      </style>
    <style>
           
     .container {
      /*padding: 16px;*/
      background-color: white;
      margin:10px;
      /*margin-right:50px;
      margin-top:50px;*/
      height:1000px;
      width:1000px;
    
      
    }
     body {
      font-family: Arial, Helvetica, sans-serif;
      background-color:#1fd9e1;
    }
    
    * {
      box-sizing: border-box;
    }
    
        </style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style>
    
        .panel-group .panel {
            border-radius: 5px;
            border-color: #EEEEEE;
            padding:0;
        }
    
        .panel-default > .panel-heading {
            color:black;
            background-color: white;
            border-color: #EEEEEE;
        }
    
        .panel-title {
            font-size: 14px;
        }
    
        .panel-title > a {
            display: block;
            padding: 15px;
            text-decoration: none;
        }
    
        .short-full {
            float: right;
            color: black;
        }
    
        .panel-default > .panel-heading + .panel-collapse > .panel-body {
            border: solid 1px #EEEEEE;
            /*background-color: #B7FFB7;*/
            
        }
    
    </style>
    <script src="https://analytics.avantis.co.in/piwik.js"></script></head>
    <body>
    &nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="container">
    <div class="row content">
    <div class="col-sm-3 sidenav">
    <ul class="nav nav-pills nav-stacked">
    <li style="font-size:18px"><a href="litigation_help.html" style="color:#333"><b>Standard Dashboard</b></a>
    </li><li style="font-size:14px"><a href="litigation_dashboard.html" style="color:#333"><i class="fas fa-desktop"></i>&nbsp;&nbsp;&nbsp;<b>My Dashboard</b></a>
    <ul style="line-height:25px;font-size:13px">
    <li><a href="litigation_notice.html" style="color:#333">Notice</a></li>
    <li><a href="litigation_cases.html" style="color:#333">Cases</a></li>
    <li><a href="litigation_tasks.html" style="color:#333">Tasks</a></li>
    <li> <a href="litigation_hearing.html" style="color:#333">Upcoming Hearing</a></li>
    <li> <a href="litigation_graphs.html" style="color:#333">Graphs And Charts</a></li>
    <li> <a href="litigation_tasksummary.html" style="color:#333">Task Summary</a></li>
    
    </ul>
    </li>
    <li style="font-size:14px"><a href="litigation_workspace.html" style="color:#333;"><i class="fas fa-briefcase"></i>&nbsp;&nbsp;&nbsp;<b>My Workspace</b></a></li>
    <li style="font-size:14px"><a href="litigation_documents.html" style="color:#333"><i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>My Documents</b></a></li>
    <li style="font-size:14px"><a href="litigation_reports.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>My Reports</b> </a></li>
    <li style="font-size:14px"><a href="litigation_remainders.html" style="color:#333"><i class="far fa-clock"></i>&nbsp;&nbsp;&nbsp;<b>My Reminders</b></a></li>
    <li style="font-size:14px"><a href="litigation_masters.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Masters</b> </a></li>
<li style="font-size:14px"><a href="litigation_import_utility.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Import Utility</b> </a></li>

    </ul>
    <br>
    </div>
    <div class="col-sm-9 MainContainer">
   
    <div class="panel panel-default"></div>
    <h3><b>My WorkSpace:</b></h3>
    <p style="font-size:16px;text-align:justify">Under this section, complete consolidated list of the all the word relating to cases, notice and tasks can be viewed in a consolidated list format along with the details of each with the ability to take different actions over each of them.</p><br>
    <img class="img1" style="width:600px;margin-left:30px; height: 300px" src="../Litigation_images/My Workspcace_1.png" /><br /><br><br>
    <p style="font-size:16px;text-align:justify"><b>Actions available to be taken under My Workspace sections are:</b></p><br>
    <p style="font-size:16px;text-align:justify"><b>1. Search : </b>You can obtain a specific list of cases, tasks or notices under workspace by applying a combination of filters present in the section in terms of department, branch, owner of the case/notice. Also, you can directly insert the known details by utilizing the search bar given with the filter.</p><br>
    <p style="font-size:16px;text-align:justify"><b>2. Edit Case/Notice : </b>You can make changes and update details of any case/notice/task by clicking on the edit button under the action column as shown below:</p><br>
    <img class="img1" style="width:600px;margin-left:30px; height: 350px" src="../Litigation_images/My Workspcace_2.png" /><br /><br><br>
    <p style="font-size:16px;text-align:justify"><b>3. Delete Case/Notice : </b>You can delete the specific case/notice from the list by clicking on the delete button under action column. After clicking on the button, a popup gets generated for confirmation where you need to provide your confirmation for deletion in-order to remove it from list.</p><br>
    <p style="font-size:16px;text-align:justify"><b>4. Add New : </b>You can also add new case/notice details from the window, by clicking on the “New” button so as to obtain a window like below where you can fill all the asked details and click on save button to make the entry into system.</p><br>
    <img class="img1" style="width:600px;margin-left:30px; height: 300px" src="../Litigation_images/My Workspcace_3.png" /><br /><br><br>
    <br>


    <p style="font-size:16px;text-align:justify"><b>Activities related to creation/updation of case/notice details under My Workspace section are:</b></p><br>
    <p style="font-size:16px;text-align:justify"><b>1. Edit case/notice : </b>As could be seen in the below image, edition of cases/notice leads to window where in addition to case/notice/task details there are options like:<br>
    <b>a.</b> Linking of the case/notice with other case or notice is possible through the window<br>
    <b>b.</b> You can view the documents that are uploaded relating to the case/notice in the same window.<br>
    <b>c.</b> Send email to other users registered under the module directly from the window along with the documents attached to it.<br>
    <b>d.</b> Edit case/notice details directly from the window while also able to view the history of all the changes made till date regarding the case/notice previously.
    </p><br>
    <img class="img1" style="width:600px;margin-left:30px; height: 300px" src="../Litigation_images/My Workspcace_4.png" /><br /><br><br>
    <p style="font-size:16px;text-align:justify"><b>2. Documents related activities : </b>You can search for any documents that have got uploaded regarding to the case/notice by entering the name in the search box given. Also, can upload a document by clicking on the “New” button to obtain a window like below where the document can be placed under a specific category.</p><br>
    <img class="img1" style="width:600px;margin-left:30px; height: 300px" src="../Litigation_images/My Workspcace_5.png" /><br /><br><br>

    <p style="font-size:16px;text-align:justify"><b>3. Task/Activity : </b>Under the section, you can track the task/activity relating to any case or notice in terms of various stages they might be currently going under. Also, actions like closing the activity or editing, deleting and sharing the same can be done from here like in below screen.</p><br>
    <img class="img1" style="width:600px;margin-left:30px; height: 300px" src="../Litigation_images/My Workspcace_6.png" /><br /><br><br>  
    
    <p style="font-size:16px;text-align:justify"><b>4. Order(Case) : </b>In the order section you can insert all the details relating to an order that has been delivered either by the court judge or jury regarding any case or notice and can upload document relating to the same as in the below window..</p><br>
    <img class="img1" style="width:600px;margin-left:30px; height: 300px" src="../Litigation_images/My Workspcace_7.png" /><br /><br><br>  

    <p style="font-size:16px;text-align:justify"><b>5. Response(Notice) : </b>Under response section all the reply that have been made relating to any stage of any case/notice can be tracked here. Whom the reply was received from along with actions over them like editing the response or for downloading the documents that have been uploaded or for viewing all the details of that response can be done from the window itself like the below screen.</p><br>
    <img class="img1" style="width:600px;margin-left:30px; height: 300px" src="../Litigation_images/My Workspcace_8.png" /><br /><br><br>  

    <p style="font-size:16px;text-align:justify"><b>6. Payment statement : </b>Track the complete status of all the payments that have been made for any case/notice regarding to any hearing, verdict or appeal as below screen. Also, conversion of any notice to case can be made from here itself by making the payment as well as tracking it form the window below as:.</p><br>
    <img class="img1" style="width:600px;margin-left:30px; height: 300px" src="../Litigation_images/My Workspcace_9.png" /><br /><br><br>  

    <p style="font-size:16px;text-align:justify"><b>7. Lawyer Rating : </b>You can also provide rating to various lawyers registered under various cases/notices based on their performance under various stages defined under different sections for further incursion into other cases/notices. Also, new lawyer can be added by clicking on “New” button as below”</p><br>
    <img class="img1" style="width:600px;margin-left:30px; height: 300px" src="../Litigation_images/My Workspcace_10.png" /><br /><br><br>  

    <p style="font-size:16px;text-align:justify"><b>8. Audit Log : </b>Under Audit Log, you can track the complete details about any task. Activity created relating to a case or notice along with the person who created it and the date and time as well. In case of any remark that had been made about it also visible in this section.</p><br>
    <img class="img1" style="width:600px;margin-left:30px; height: 300px" src="../Litigation_images/My Workspcace_11.png" /><br /><br><br>  

   <br><br>
   
   
                    </div>

    </div>
    </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script>
    
        function toggleIcon(e) {
            $(e.target)
                .prev('.panel-heading')
                .find(".short-full")
                .toggleClass('glyphicon-plus glyphicon-minus');
        }
        $('.panel-group').on('hidden.bs.collapse', toggleIcon);
        $('.panel-group').on('shown.bs.collapse', toggleIcon);
    </script>
    
    
    </body>