<head><title>

    </title>
    <script src="/cdn-cgi/apps/head/wJ-d6Wf0vtDL3SAEw42RUStKs6k.js"></script><script src="/cdn-cgi/apps/body/9ez4O41ihtsBKiMc6IPNmeloV48.js"></script><style>
        /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
        .row.content {height: 600px;
                      /*margin:125px;*/
        }
        
        /* Set gray background color and 100% height */
        .sidenav {
          background-color:#F5F2F4;
          height: 1000px;
    
          
        }
         .MainContainer {
         
         
          border:groove;
          border-color:#f1f3f4;
          
        }
           .img1{
            border:ridge;
            border-color:lightgrey;
        }
       
       
        
        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
          .sidenav {
            *height: auto;
            *padding: 15px;
          
          }
          .row.content {height: auto;} 
        }
      </style>
    <style>
           
     .container {
      /*padding: 16px;*/
      background-color: white;
      margin:10px;
      /*margin-right:50px;
      margin-top:50px;*/
      height:1000px;
      width:1000px;
    
      
    }
     body {
      font-family: Arial, Helvetica, sans-serif;
      background-color:#1fd9e1;
    }
    
    * {
      box-sizing: border-box;
    }
    
        </style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style>
    
        .panel-group .panel {
            border-radius: 5px;
            border-color: #EEEEEE;
            padding:0;
        }
    
        .panel-default > .panel-heading {
            color:black;
            background-color: white;
            border-color: #EEEEEE;
        }
    
        .panel-title {
            font-size: 14px;
        }
    
        .panel-title > a {
            display: block;
            padding: 15px;
            text-decoration: none;
        }
    
        .short-full {
            float: right;
            color: black;
        }
    
        .panel-default > .panel-heading + .panel-collapse > .panel-body {
            border: solid 1px #EEEEEE;
            /*background-color: #B7FFB7;*/
            
        }
    
    </style>
    <script src="https://analytics.avantis.co.in/piwik.js"></script></head>
    <body>
    &nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="container">
    <div class="row content">
    <div class="col-sm-3 sidenav">
    <ul class="nav nav-pills nav-stacked">
    <li style="font-size:18px"><a href="litigation_help.html" style="color:#333"><b>Standard Dashboard</b></a>
    </li><li style="font-size:14px"><a href="litigation_dashboard.html" style="color:#333"><i class="fas fa-desktop"></i>&nbsp;&nbsp;&nbsp;<b>My Dashboard</b></a>
    <ul style="line-height:25px;font-size:13px">
    <li><a href="litigation_notice.html" style="color:#333">Notice</a></li>
    <li><a href="litigation_cases.html" style="color:#333">Cases</a></li>
    <li><a href="litigation_tasks.html" style="color:#333">Tasks</a></li>
    <li> <a href="litigation_hearing.html" style="color:#333">Upcoming Hearing</a></li>
    <li> <a href="litigation_graphs.html" style="color:#333">Graphs And Charts</a></li>
    <li> <a href="litigation_tasksummary.html" style="color:#333">Task Summary</a></li>
    
    </ul>
    </li>
    <li style="font-size:14px"><a href="litigation_workspace.html" style="color:#333;"><i class="fas fa-briefcase"></i>&nbsp;&nbsp;&nbsp;<b>My Workspace</b></a></li>
    <li style="font-size:14px"><a href="litigation_documents.html" style="color:#333"><i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>My Documents</b></a></li>
    <li style="font-size:14px"><a href="litigation_reports.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>My Reports</b> </a></li>
    <li style="font-size:14px"><a href="litigation_remainders.html" style="color:#333"><i class="far fa-clock"></i>&nbsp;&nbsp;&nbsp;<b>My Reminders</b></a></li>
 
    <li style="font-size:14px"><a href="litigation_masters.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Masters</b> </a></li>
    <li style="font-size:14px"><a href="litigation_import_utility.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Import Utility</b> </a></li>
   
    </ul>
    <br>
    </div>
    <div class="col-sm-9 MainContainer">
    
    
            <div>
                    
                    <h3><b>Masters :</b></h3>  <br>
                    <p style="font-size:16px;text-align:justify">In the master section you can view and manage details of all the user types registered under the module, categories and sections present under various cases, notices and task and activities that are getting performed under various branches. Areas that can be managed through the master section are: </p><br>
                    <img class="img1" style="width: 600px;margin-left:30px; height: 300px" src="../Litigation_images/Masters_1.png" /><br /><br /><br />

            </div>
     <br />
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="short-full glyphicon glyphicon-plus"></i>
                        <b>Legal Entity</b>
                </a>
            </h4>
           </div>
           <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <p  style="font-size:16px;text-align:justify">By clicking on the Legal Entity, you can view all the entities which have been registered under various sections cases and notices. Under legal entity, you can view all the details regarding the relevant person of the entity namely a sub entity, who can be contacted for details for any case, notice or task.</p><br /><br />
                    <img class="img1" style="width: 600px;margin-left:30px; height: 300px" src="../Litigation_images/Masters_LEGAL ENTITY_1.png" /><br /><br /><br />

                    <p  style="font-size:16px;text-align:justify">Actions that can be taken under legal entity area are:</p>
                    <p  style="font-size:16px;text-align:justify"><b>1. Edit Sub Entity :</b>Edit the details relating to the entity like its contact details, industry, relations with the industry and can also make it active or inactive.</p>
                    <p  style="font-size:16px;text-align:justify"><b>2. Delete Sub Entity :</b>You can delete the entity from the list by clicking on the delete button and providing your confirmation over the same.</p>
                    <p  style="font-size:16px;text-align:justify"><b>3. Add New Sub entity :</b> In-order to create or enter a new sub entity, you can click on the “Add new” button to obtain a window like below to enter the details of the sub entity. Enter all the sub entity details and click on the save button to new sub entity.</p><br />

                    <img class="img1" style="width: 400px;margin-left:30px; height: 500px" src="../Litigation_images/Masters_LEGAL ENTITY_2.png" /><br /><br /><br />
                   
                </div>
           </div>
    </div>
            
    
    <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <i class="short-full glyphicon glyphicon-plus"></i>
                         <b>Law Firm</b>
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <p  style="font-size:16px;text-align:justify">Under Law firm section, all the Law related consultancies can be registered regarding their name, email and specialization to which a case or notice is given for further legal processing over it. </p><br />
                    <img class="img1" style="width: 600px;margin-left:30px; height: 300px" src="../Litigation_images/Masters_Law firm_1.png" /><br /><br /><br />
                    <p  style="font-size:16px;text-align:justify">Every firm can have more than one lawyer and the list of all lawyers registered under a firm can be viewed by clicking on the “Lawyer(s)” link under Lawyers(s) column to obtain a window like below:  </p><br />
                    <img class="img1" style="width: 600px;margin-left:30px; height: 200px" src="../Litigation_images/Masters_Law firm_2.png" /><br /><br /><br />
                    <p  style="font-size:16px;text-align:justify">Actions available for performing on the list of lawyers registered under a law firm are:</p><br /><br />
                    <p  style="font-size:16px;text-align:justify"><b>1. Search : </b>You can search for any specific lawyer which is registered under a law firm and can also obtain a specific list by applying filters based on lawyer type and firm under which he/she is registered.</p>
                    <p  style="font-size:16px;text-align:justify"><b>2. Edit Lawyer details : </b>You can edit the contact and other relating details of the lawyer by clicking on the edit button present before the lawyer under action column.</p>
                    <p  style="font-size:16px;text-align:justify"><b>3. Delete lawyer : </b>Remove a specific lawyer from the firm by clicking on the delete button.</p>
                    <p  style="font-size:16px;text-align:justify"><b>4. Change Password : </b>Change the login password of a lawyer by clicking on the change password button under action column.</p>
                    <p  style="font-size:16px;text-align:justify"><b>5. Add new Lawyer : </b>Create/Add a new lawyer under a specific firm by clicking on the “New” button to obtain a window like below to fill the details of the lawyer for his/her registration and click on the save button. You can also choose to upload a profile picture if available for more added details.</p>
                    <img class="img1" style="width: 600px;margin-left:30px; height: 300px" src="../Litigation_images/Masters_Law firm_3.png" /><br /><br /><br />

               </div>
     
            </div>
     
     </div>
    


    

    
     <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                       <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                           <i class="short-full glyphicon glyphicon-plus"></i>
                            <b>User</b>
                       </a>
                   </h4>
               </div>
               <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                   <div class="panel-body">
                        <p  style="font-size:16px;text-align:justify">Here you can see the complete list of all the users that are registered under the litigation module can be viewed and managed from this section. </p><br />
                        <img class="img1" style="width: 600px;margin-left:30px; height: 250px" src="../Litigation_images/Masters_User_1.png" /><br /><br /><br />
                       
                        <p  style="font-size:16px;text-align:justify">Actions that can be performed under User section are:</p><br /><br />
                        <p  style="font-size:16px;text-align:justify"><b>1. Search : </b>You can search for any specific user by inserting the name or litigation role in the search bar above or by using the filter to select the type of user (internal, external or lawyer)</p>
                        <p  style="font-size:16px;text-align:justify"><b>2. Change Status : </b>You can make the user either active or inactive by clicking on the link under status column.</p>
                        <p  style="font-size:16px;text-align:justify"><b>3. Edit User : </b> You can edit the details of any specific user by clicking on the edit button to obtain a window for updating the details of the user and click on the save button to update the details. </p>
                        <p  style="font-size:16px;text-align:justify"><b>4. Delete User : </b>You can delete any user by clicking on the delete button under the action column.</p>
                        <p  style="font-size:16px;text-align:justify"><b>5. Change Password : </b>Change the password for any user by clicking on the change password button under the action column.</p>
                        <p  style="font-size:16px;text-align:justify"><b>6. Add New User : </b> You can add new user by clicking on the “New” button on right hand side top corner to obtain a window like below to register the user by filling in the details and clicking on save button.</p>

                        <img class="img1" style="width: 600px;margin-left:30px; height: 300px" src="../Litigation_images/Masters_User_2.png" /><br /><br /><br />
            
                         
                </div>
        
               </div>
        
        </div>

    
        <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                           <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                               <i class="short-full glyphicon glyphicon-plus"></i>
                                <b>Opponent</b>
                           </a>
                       </h4>
                   </div>
                   <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                       <div class="panel-body">
                            <p  style="font-size:16px;text-align:justify">Under opponent section you can see the complete list of all the opponents that have filed any case or notice against an entity along with their type whether they have been filed by an individual or by a corporate.  </p><br />
                            <img class="img1" style="width: 600px;margin-left:30px; height: 300px" src="../Litigation_images/Masters_Opponent_1.png" /><br /><br /><br />
                           
                            <p  style="font-size:16px;text-align:justify">Action possible to be taken under Opponent section of Master area are:</p><br /><br />
                            <p  style="font-size:16px;text-align:justify"><b>1. Search : </b>You can search details of any specific user by inserting their name or type in the search bar given in the top of the page.</p>
                            <p  style="font-size:16px;text-align:justify"><b>2. Edit Opponent : </b>Edit the details of the opponent by clicking on the edit details button under action column to update the details of the opponent like their type, country and other contact details.</p>
                            <p  style="font-size:16px;text-align:justify"><b>3. Delete opponent : </b> Remove any specific opponent from the list by clicking on the delete button under action column. </p>
                            <p  style="font-size:16px;text-align:justify"><b>4. Add new opponent : </b>New opponent can be easily added by clicking on the “New” button present on the top right corner to obtain a window like below where details of the same can be filled and saved.</p>
                            
                            <img class="img1" style="width: 380px;margin-left:30px; height: 400px" src="../Litigation_images/Masters_Opponent_2.png" /><br /><br /><br />
                
                         
                    </div>
            
                   </div>
            
            </div>
    
    
            <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFive">
                        <h4 class="panel-title">
                               <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                   <i class="short-full glyphicon glyphicon-plus"></i>
                                    <b>Court</b>
                               </a>
                           </h4>
                       </div>
                       <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                           <div class="panel-body">
                                <p  style="font-size:16px;text-align:justify">At Court master you can view all the details of the court that have been registered under the litigation module like court’s name, country, type (Session,district, criminal).  </p><br />
                                <img class="img1" style="width: 600px;margin-left:30px; height: 300px" src="../Litigation_images/Masters_Court_1.png" /><br /><br /><br />
                               
                                <p  style="font-size:16px;text-align:justify">Action possible to be taken under Opponent section of Master area are:</p><br /><br />
                                <p  style="font-size:16px;text-align:justify"><b>1. Search : </b>Search for any specific court to obtain its details regarding address, contact and so.</p>
                                <p  style="font-size:16px;text-align:justify"><b>2. Edit Details : </b>Edit the court details by clicking on the edit button under action column to obtain a popup window for updating the details and click on the save button when done.</p>
                                <img class="img1" style="width: 380px;margin-left:30px; height: 400px" src="../Litigation_images/Masters_Court_2.png" /><br />

                                <p  style="font-size:16px;text-align:justify"><b>3.Delete court : </b> You can delete any court from the list by clicking on the delete button under action column and providing confirmation on the popup getting generated. </p>
                                <p  style="font-size:16px;text-align:justify"><b>4. Add court : </b>You can add new court by clicking on the “New’ button on top right corner to obtain a window like below where you can fill all the details relating to the court and click on save button in the end to register the court.</p>
                                
                                <img class="img1" style="width: 380px;margin-left:30px; height: 400px" src="../Litigation_images/Masters_Court_3.png" /><br /><br /><br />
                    
                               
                        </div>
                
                       </div>
                
                </div>
    
                <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                   <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                                       <i class="short-full glyphicon glyphicon-plus"></i>
                                        <b>Case/Notice Type</b>
                                   </a>
                               </h4>
                           </div>
                           <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                               <div class="panel-body">
                                <p  style="font-size:16px;text-align:justify">Under this section, you can create the new category under which all the cases or notice which are to be registered can be added. You can view the complete list of all the types under which the case/notice are currently registered.</p><br />
                                <img class="img1" style="width: 600px;margin-left:30px; height: 300px" src="../Litigation_images/Masters_CASE NOTICE TYPE_1.png" /><br /><br /><br />
                               
                                <p  style="font-size:16px;text-align:justify">Actions that can be performed under the case/notice type are:</p>
                                <p  style="font-size:16px;text-align:justify"><b>1. Search : </b> You can search for any case or notice type by inserting the type in the search bar provided in top left side of the section.</p>
                                <p  style="font-size:16px;text-align:justify"><b>2. Edit Type : </b> you can edit the type of case/notice by clicking on the edit type button present under action column.</p>

                                <p  style="font-size:16px;text-align:justify"><b>3.Delete Type : </b> Delete any unrequired type from the list by clicking on the delete button and confirming the same from the popup window getting generated. </p>
                                <p  style="font-size:16px;text-align:justify"><b>4. New Type : </b>Create a new case/notice type by clicking on the “New” button present on the top right corner of the section to obtain window like below and after entering the type, click on the save button.</p>
                                
                                <img class="img1" style="width: 400px;margin-left:30px; height: 250px" src="../Litigation_images/Masters_CASE NOTICE TYPE_2.png" /><br /><br /><br />
                    
                            </div>
                    
                           </div>
                    
                    </div>

                    <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingSeven">
                                <h4 class="panel-title">
                                       <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                                           <i class="short-full glyphicon glyphicon-plus"></i>
                                            <b>Payment Type</b>
                                       </a>
                                   </h4>
                               </div>
                               <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                                   <div class="panel-body">
                                        <p  style="font-size:16px;text-align:justify">Under Payment type, you can manage all the type of payment that are being made or to be made in terms of various cases or notices relating to different types of fees, expenses and deposits in a list format.</p><br />
                                        <img class="img1" style="width: 600px;margin-left:30px; height: 300px" src="../Litigation_images/Masters_Payment type_1.png" /><br /><br /><br />
                                       
                                        <p  style="font-size:16px;text-align:justify">Action that can be performed under this section are:</p>
                                        <p  style="font-size:16px;text-align:justify"><b>1. Search : </b> You can search for any specific payment type to register the payments that are to be made under various sections and notices.</p>
                                        <p  style="font-size:16px;text-align:justify"><b>2. Edit Payment Type : </b> make changes and update the payment type by clicking on the edit button under action column.</p>
        
                                        <p  style="font-size:16px;text-align:justify"><b>3.Delete Payment Type : </b>Delete any existing parameter from the list by clicking on the delete button and providing confirmation after the popup window gets generated. </p>
                                        <p  style="font-size:16px;text-align:justify"><b>4. Add Payment type : </b>Add new parameter by clicking on the” New” button on the top right corner to obtain window like below and after selection of the type and insertion of parameter label, click on the save button to add parameter.</p>
                                        
                                        <img class="img1" style="width: 400px;margin-left:30px; height: 250px" src="../Litigation_images/Masters_Payment type_2.png" /><br /><br /><br />
                            
                                </div>
                        
                               </div>
                        
                        </div>


              <div class="panel panel-default">
                     <div class="panel-heading" role="tab" id="headingEight">
                         <h4 class="panel-title">
                             <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                                  <i class="short-full glyphicon glyphicon-plus"></i>
                                      <b>Customer Parameter</b>
                             </a>
                         </h4>
                    </div>
                         <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                            <div class="panel-body">
                                    <p  style="font-size:16px;text-align:justify">Here, you can view all the parameters that are present under which the cases or notices regarding to laws, taxes and litigation which are filed as well as registered under the module. </p><br />
                                    <img class="img1" style="width: 600px;margin-left:30px; height: 300px" src="../Litigation_images/Masters_Custom parameter _1.png" /><br /><br /><br />
                                   
                                    <p  style="font-size:16px;text-align:justify">Actions that can be performed under the Custom parameter section are:</p>
                                    <p  style="font-size:16px;text-align:justify"><b>1. Search : </b> You can obtain a specific and customized list of custom parameters by either directly searching for them or by applying filters based on the parameter type.</p>
                                    <p  style="font-size:16px;text-align:justify"><b>2. Edit Parameter : </b>Make changes or edit the existing parameter by clicking on the edit button present under action column.</p>
    
                                    <p  style="font-size:16px;text-align:justify"><b>3.Delete Parameter : </b>You can delete any unrequired payment type that have been registered under the litigation module by clicking on the delete button and providing your confirmation on the popup window. </p>
                                    <p  style="font-size:16px;text-align:justify"><b>4. Add Parameter: </b>Add new payment type by clicking on the “New” button on top right corner for adding new type and obtaining a new window like below:</p>
                                    
                                    <img class="img1" style="width: 400px;margin-left:30px; height: 250px" src="../Litigation_images/Masters_Custom parameter _2.png" /><br /><br /><br />
                             
                   </div>
                            
                 </div>
              </div>


        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingNine">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
                        <i class="short-full glyphicon glyphicon-plus"></i>
                            <b>Case Stages</b>
                    </a>
                </h4>
            </div>
                <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                    <div class="panel-body">
                            <p  style="font-size:16px;text-align:justify">To view the list of all possible stages under which each case can be inserted while registration under the module like hearing, trial, verdict as per the court under which it is getting heard. </p><br />
                            <img class="img1" style="width: 600px;margin-left:30px; height: 300px" src="../Litigation_images/Masters_case stages _1.png" /><br /><br /><br />
                           
                            <p  style="font-size:16px;text-align:justify">Action that can be done over the case stages are:</p>
                            <p  style="font-size:16px;text-align:justify"><b>1. Search : </b>You can search for any specific stage to for which cases and notices can be registered under by inserting directly into the search bar the stages present on the top of the section.</p>
                            <p  style="font-size:16px;text-align:justify"><b>2. Edit Case Stage : </b>Edit the stages present for the cases by clicking on the edit button under the action column.</p>

                            <p  style="font-size:16px;text-align:justify"><b>3.Delete Case Stages : </b>Delete the unwanted case stage present by clicking on the delete button present under the action column and providing confirmation after the popup window gets generated. </p>
                            <p  style="font-size:16px;text-align:justify"><b>4. New Stages : </b>Add new case stage by clicking on the “New” button present on the top right corner to obtain a window like below and click on the save button after inserting</p>
                            
                            <img class="img1" style="width: 400px;margin-left:30px; height: 250px" src="../Litigation_images/Masters_case stages _2.png" /><br /><br /><br />
                                       
                    </div>
                </div> 
        </div>

        <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTen">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                            <i class="short-full glyphicon glyphicon-plus"></i>
                                <b>Document Type</b>
                        </a>
                    </h4>
                </div>
                    <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                        <div class="panel-body">
                                <p  style="font-size:16px;text-align:justify">Under Document type, you can manage all the categories of documents under which each of them will be getting uploaded regarding either for a case, a notice or for a task.</p><br />
                                <img class="img1" style="width: 600px;margin-left:30px; height: 300px" src="../Litigation_images/Masters_document type _1.png" /><br /><br /><br />
                               
                                <p  style="font-size:16px;text-align:justify">Actions available to be performed on document type are:</p>
                                <p  style="font-size:16px;text-align:justify"><b>1. Search : </b>You can search for any document through the search bar present in the top area of the section to obtain a specific list of documents which may be coming under a certain type.</p>
                                <p  style="font-size:16px;text-align:justify"><b>2. Edit Document Type : </b> To edit the type of a document, just click on the edit button under action column to obtain a small window where you can update the document type and click on save when done.</p>
                                <p  style="font-size:16px;text-align:justify"><b>3.Delete Document Type : </b>Delete any document type from the list by clicking on the delete button and provide a confirmation before deleting the document type. </p>
                                <p  style="font-size:16px;text-align:justify"><b>4. Add new Type : </b> You can add a new type by clicking on the “New” button present on the top right corner and can obtain a window like below where you can insert the document type and click on save to create the new type.</p>
                                
                                <img class="img1" style="width: 400px;margin-left:30px; height: 250px" src="../Litigation_images/Masters_document type _2.png" /><br /><br /><br />
                                                      
                        </div>
                    </div> 
            </div>

            <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingEleven">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven">
                                <i class="short-full glyphicon glyphicon-plus"></i>
                                    <b>Rating Criteria</b>
                            </a>
                        </h4>
                    </div>
                        <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                            <div class="panel-body">
                                    <p  style="font-size:16px;text-align:justify">Rating criteria section helps in defining the areas based on which the ratings to lawyers, firms and courts can be given. The section defines the areas that are to be considered while providing the rating under which each of them have either performed best or worst regarding their work.</p><br />
                                    <img class="img1" style="width: 600px;margin-left:30px; height: 300px" src="../Litigation_images/Masters_Rating criteria_1.png" /><br /><br /><br />
                                   
                                    <p  style="font-size:16px;text-align:justify">Actions available to be performed under Rating criteria are:</p>
                                    <p  style="font-size:16px;text-align:justify"><b>1. Search : </b>You can search for any rating criteria through the search bar present in the top area of the section to obtain a specific list of criteria which may be coming under a certain type.</p>
                                    <p  style="font-size:16px;text-align:justify"><b>2. Edit Criteria : </b> Make changes to any rating criteria by clicking on the edit button under the action column in-order to update it.</p>
                                    <p  style="font-size:16px;text-align:justify"><b>3.Delete Criteria : </b>Delete any specific criteria from the list by clicking on the delete button and clicking yes on the confirmation window getting popped. </p>
                                    <p  style="font-size:16px;text-align:justify"><b>4. Add Criteria : </b>  Add new criteria by clicking on the “New” button on top right corner to get a window like below where you can insert the criteria type and click on the save button.</p>
                                    
                                    <img class="img1" style="width: 400px;margin-left:30px; height: 225px" src="../Litigation_images/Masters_Rating criteria_2.png" /><br /><br /><br />
                                                                   
                            </div>
                        </div> 
                </div>

                <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwelve">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="true" aria-controls="collapseTwelve">
                                    <i class="short-full glyphicon glyphicon-plus"></i>
                                        <b>Page Authorization Type</b>
                                </a>
                            </h4>
                        </div>
                            <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
                                <div class="panel-body">
                                        <p  style="font-size:16px;text-align:justify">One of the most critical area under Management user type where you can define the features under masters that are visible to all the other users registered under Litigation module. All the section present under master can be defined and made available to view and use in a customized manner to all users.</p><br />
                                        <img class="img1" style="width: 600px;margin-left:30px; height: 300px" src="../Litigation_images/PAGE AUTHORIZATION TYPE.png" /><br /><br /><br />
                                       
                                        <p  style="font-size:16px;text-align:justify">You can define the master to various user types present under Litigation module by following below steps:/p>
                                        <p  style="font-size:16px;text-align:justify"><b>1. </b>First select the user type from the dropdown list present from the top section to decide the allocation of masters to them.</p>
                                        <p  style="font-size:16px;text-align:justify"><b>2. </b>Second tick the boxes present on the master list that are to be assigned to the user type by selecting the boxed under the Add column.</p>
                                        <p  style="font-size:16px;text-align:justify"><b>3. </b>Finally select the actions that are to be made available to the user for each master getting assigned by checking the boxed under the Update, Delete, and view column respectively and click on the save button.</p>
                                        
                                                                               
                                </div>
                            </div> 
                    </div>
            

              

                                   

                                                                   
                    
    
    
    
    </div>
    
    
    <br>
    <br>
    
    </div>
   
    </div>
   
    </div>
    
    </div>
    
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script>
    
        function toggleIcon(e) {
            $(e.target)
                .prev('.panel-heading')
                .find(".short-full")
                .toggleClass('glyphicon-plus glyphicon-minus');
        }
        $('.panel-group').on('hidden.bs.collapse', toggleIcon);
        $('.panel-group').on('shown.bs.collapse', toggleIcon);
    </script>
    
    
    </body>









    <!--Authenticationhelper.Role == CADMIN-->