<head><title>

</title>
<script src="/cdn-cgi/apps/head/wJ-d6Wf0vtDL3SAEw42RUStKs6k.js"></script><script src="/cdn-cgi/apps/body/9ez4O41ihtsBKiMc6IPNmeloV48.js"></script><style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 600px;
                  /*margin:125px;*/
    }
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color:#F5F2F4;
      height: 1000px;

      
    }
     .MainContainer {
     
     
      border:groove;
      border-color:#f1f3f4;
      
    }
       .img1{
        border:ridge;
        border-color:lightgrey;
    }
   
   
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        *height: auto;
        *padding: 15px;
      
      }
      .row.content {height: auto;} 
    }
  </style>
<style>
       
 .container {
  /*padding: 16px;*/
  background-color: white;
  margin:10px;
  /*margin-right:50px;
  margin-top:50px;*/
  height:1000px;
  width:1000px;

  
}
 body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#1fd9e1;
}

* {
  box-sizing: border-box;
}

    </style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<style>

	.panel-group .panel {
		border-radius: 5px;
		border-color: #EEEEEE;
        padding:0;
	}

	.panel-default > .panel-heading {
		color:black;
		background-color: white;
		border-color: #EEEEEE;
	}

	.panel-title {
		font-size: 14px;
	}

	.panel-title > a {
		display: block;
		padding: 15px;
		text-decoration: none;
	}

	.short-full {
		float: right;
		color: black;
	}

	.panel-default > .panel-heading + .panel-collapse > .panel-body {
		border: solid 1px #EEEEEE;
        /*background-color: #B7FFB7;*/
        
	}

</style>
<script src="https://analytics.avantis.co.in/piwik.js"></script></head>
<body>
&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;
<div class="container">
<div class="row content">
<div class="col-sm-3 sidenav">
<ul class="nav nav-pills nav-stacked">
<li style="font-size:18px"><a href="litigation_help.html" style="color:#333"><b>Standard Dashboard</b></a>
</li><li style="font-size:14px"><a href="litigation_dashboard.html" style="color:#333"><i class="fas fa-desktop"></i>&nbsp;&nbsp;&nbsp;<b>My Dashboard</b></a>
<ul style="line-height:25px;font-size:13px">
<li><a href="litigation_notice.html" style="color:#333">Notice</a></li>
<li><a href="litigation_cases.html" style="color:#333">Cases</a></li>
<li><a href="litigation_tasks.html" style="color:#333">Tasks</a></li>
<li> <a href="litigation_hearing.html" style="color:#333">Upcoming Hearing</a></li>
<li> <a href="litigation_graphs.html" style="color:#333">Graphs And Charts</a></li>
<li> <a href="litigation_tasksummary.html" style="color:#333">Task Summary</a></li>

</ul>
</li>
<li style="font-size:14px"><a href="litigation_workspace.html" style="color:#333;"><i class="fas fa-briefcase"></i>&nbsp;&nbsp;&nbsp;<b>My Workspace</b></a></li>
<li style="font-size:14px"><a href="litigation_documents.html" style="color:#333"><i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>My Documents</b></a></li>
<li style="font-size:14px"><a href="litigation_reports.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>My Reports</b> </a></li>
<li style="font-size:14px"><a href="litigation_remainders.html" style="color:#333"><i class="far fa-clock"></i>&nbsp;&nbsp;&nbsp;<b>My Reminders</b></a></li>
<li style="font-size:14px"><a href="litigation_masters.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Masters</b> </a></li>
<li style="font-size:14px"><a href="litigation_import_utility.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Import Utility</b> </a></li>

</ul>
<br>
</div>
<div class="col-sm-9 MainContainer">
<br>
<br>
<br>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingOne">
<h4 class="panel-title">
<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
<i class="short-full glyphicon glyphicon-plus"></i>
<b>Constant Features Of All Users </b>
</a>
</h4>
</div>
<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
<div class="panel-body">

<div style="color: #666; background-color: white;"><b>1. Help Center-</b><br> It Includes Summary of Features, FAQs,that assists user to use AVACOM Litigation.</div>
<br>
<img class="img1" style="width: 700px; margin-left: 30px;height: 35px" src="../Litigation_images/Help center.png"><br>
<br><br>

<div style="color: #666; background-color: white;"><b>2. Message-</b><br>It includes the messages received from other users of your organization.</div>
<br>
<img class="img1" style="width: 700px; margin-left: 30px;height: 35px" src="../Litigation_images/Message.png"><br>
<br><br>

<div style="color: #666; background-color: white;"><b>3. Profile -</b>
    <br><br>
<img class="img1" style="width: 600px; margin-left: 30px; height: 250px" src="../Litigation_images/Profile.png"><br>
<br><br>
    
You can change your password, security Questions and logout. And following steps will guide you for same, </div>
<ul style="list-style-type: lower-alpha;line-height:25px;">
<li><b>Change Password: -</b>
<ul style="list-style-type: square">
<li>Enter Old Password</li>
<li>Enter New Password</li>
<li>Confirm New Password</li>
<li>Click Submit </li>
</ul>
</li>
<li><b>Change Security Questions: -</b>
<ul style="list-style-type: square;">
<li>Select any three secret Questions </li>
<li>Enter their Answers</li>
<li>Click Submit </li>
</ul>
</li>
<li style="font-size: 16px; font-family: 'Times New Roman'"><b>Logout </b></li>
<br>
</ul>
<br>

<div style="color: #666;line-height:25px; background-color: white;">
<b>4. Toggle navigation-</b><br>
You can hide/collapse the side menu by clicking on the hamburger icon to hide/collapse<br> the side menu and to view menu click on hamburger icon.<br>
<br>
<img class="img1" style="width: 600px; margin-left: 30px;  height: 300px" src="../Litigation_images/TOGGLE NAVIGATION.png"><br>
<br><br>
</div>


<div style="color: #666;line-height:25px; background-color: white;">
<b>5. Chat- </b>
<br>
You can connect with our Client Support Team directly through this online chat<br> and resolve your queries regarding software and performing compliances.<br> Following steps will help you use Chat feature,        
<ul style="list-style-type: square">
<li>Click Chat Option</li>
<li>Enter your Email-id </li>
<li>Click Start Chat</li>
</ul>
<br>
<img class="img1" style="margin-left:330px;margin-top:-130; height:100px; width:180px" src="../Litigation_images/Chat_1.png"><br>
<br>
<img class="img1" style="width: 250px; margin-left: 60px; height: 300px" src="../Litigation_images/Chat_2.png"><br>
<br><br>
</div>

<div style="color: #666;line-height:25px; background-color: white;">
<b>6. Internal message system- </b>
<br>

You can send message to other users of your organization and with message you<br> can attach documents as well. Following steps will help you use this feature,<br>
<ul style="list-style-type: square">
<li>Click Internal Message Option </li>
<li>Enter the details subject, message etc. </li>
<li>To attach any file with message click Choose <br>
    Files and upload the file.</li>
<li>Click Send</li>
</ul>
<br>
<img class="img1" style="margin-left: 400px;margin-top:-140; height: 100px; width: 180px" src="../Litigation_images/Internal Message_1.png"><br>


<img class="img1" style="width: 400px; margin-left: 60px;  height: 300px" src="../Litigation_images/Internal Message_2.png"><br>
<br>
<br>


</div>
<div style="color: #666;line-height:25px; background-color: white;">
<b>7. Support ticket- </b>
<br>

You can create a support ticket, bifurcating your issue into (legal, sales, technical or general query)and you will get response on your registered email address within 48 hours.
<ul style="list-style-type: square">
<li>Click Support Ticket Option </li>
<li>Enter the Subject </li>
<li>Select Issue from Drop Down list</li>
<li>Enter Message</li>
<li>Click Create Ticket</li>
<br>
<br>
</ul>
<img class="img1" style="margin-left: 400px;margin-top:-180; height: 100px; width: 180px" src="../Litigation_images/Support Ticket_1.png"><br>

<img class="img1" style="width: 400px; margin-left: 60px;  height: 300px" src="../Litigation_images/Support Ticket_2.png"><br>
<br>
</div>

</div>
</div>
</div>
</div>

</div>

</div>
</div>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>

	function toggleIcon(e) {
        $(e.target)
            .prev('.panel-heading')
            .find(".short-full")
            .toggleClass('glyphicon-plus glyphicon-minus');
    }
    $('.panel-group').on('hidden.bs.collapse', toggleIcon);
    $('.panel-group').on('shown.bs.collapse', toggleIcon);
</script>


</body>