﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.DeleteMeetingVM
<div id="divDetailsOfMeetingDelete">
    @using (Ajax.BeginForm("DeleteMeeting", "Meetings", null, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divDetailsOfMeetingDelete", OnBegin = "OnOpenDeleteMeeting", OnComplete = "OnRefreshDeleteMeeting", InsertionMode = InsertionMode.Replace }, new { id = "frmDeleteMeeting" }))
    {
        @(Html.HiddenFor(m => m.DeleteMeetingId))
        @(Html.HiddenFor(m => m.AllowDeleteMeeting))

        if (Model.Success)
        {
            <div class="row">
                <div class="col-md-12 colpadding0">
                    <div class="alert alert-success alert-dismissible">
                        <lable id="lblsuccessI">@Html.Raw(Model.Message)</lable>
                    </div>
                </div>
            </div>
        }
        else if (Model.Error)
        {
            <div class="row">
                <div class="col-md-12 colpadding0">
                    <div class="alert alert-danger alert-dismissible">
                        <lable id="lblerrormsgI">@Html.Raw(Model.Message)</lable>
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-md-12 colpadding0">
                <div>@Model.MessageDetails</div>
            </div>
        </div>

        if (Model.lstAgendaItems_ != null)
        {
            if (Model.lstAgendaItems_.Count > 0)
            {
                <div class="row colpadding0">
                    <div class="col-md-12 colpadding0">
                        <table id="gridAgendaItemsToBeDeleted">
                            <colgroup>
                                <col width="5%" />
                                <col width="55%" />
                                <col width="40%" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th data-field="Agenda_Name"></th>
                                    <th data-field="Agenda_Name">Agenda</th>
                                    <th data-field="Agenda_Message">Message</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.lstAgendaItems_)
                                {
                                    <tr>
                                        <td> @Html.Raw(item.AgendaItem_)</td>
                                        <td> @item.MessageDetails</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        }
        if (Model.AllowDeleteMeeting == true)
        {
            <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;">
                <button type="Submit" class="k-primary k-button k-grid-update k-button-icontext">Yes</button>
                <button id="btnCloseDeleteAgendaItem" onclick="closeDeleteMeetingWindow()" type="button" class="k-primary k-button k-grid-update k-button-icontext">No</button>
            </div>
        }
        else
        {
            <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;">
                <button id="btnCloseDeleteAgendaItem" onclick="closeDeleteMeetingWindow()" type="button" class="k-primary k-button k-grid-update k-button-icontext">Close</button>
            </div>
        }

        <script>

            $(document).ready(function () {
                if ("@(Model.lstAgendaItems_ == null ? 0 : 1)" == "1") {
                        $("#gridAgendaItemsToBeDeleted").kendoGrid({
                            sortable: false,
                            scrollable: false,
                            dataBound: function (e) {
                                var wnd = $("#wndDeleteMeeting").data("kendoWindow");
                                wnd.center();
                            }
                        });
                }
            });
        </script>
    }
</div>
