﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common
@model BM_ManegmentServices.VM.MeetingVM

<style>
    /*.k-grid-info {
        height: 32px;
        width: 33px;
        padding: 6px 0px 10px 0;
        overflow: hidden;
    }*/
    #theImg2 {
        margin-top: -40%;
        margin-left: 3%;
        margin-bottom: -17%;
    }
    
    /*.k-grid tbody tr:not(.restricted) {
        cursor: move;
    }*/

    tr.restricted, tr.restricted:hover {
        background-color: #e0dcdc; /*#4ddbff;*/
    }

    #gridAgendaItemA.k-grid tbody tr {
        cursor: move;
    }

    #gridAgendaItem.k-grid tbody tr {
        cursor: move;
    }


    .badge {
        /*border-radius: 25px;
        min-width: 15px;
        margin-left: 38%;*/
        margin-left: 3%;
        background-color: whitesmoke;
        height: 12px;
        text-align: center;
        /* padding: 3px 4px; */
        background: #ffc000;
        background-color: #ffc000;
    }

    .k-grid table {
        table-layout: fixed;
    }
</style>

<style>
    .com-penalty-label {
        color: #666;
    }

    .com-penalty {
        text-align: center;
        /*margin-top: 2px;*/
        height: 20px;
        line-height: 1.6em;
        /*margin-left: 10px;
        margin-right: 10px;*/
        width: 20px;
    }

    .com-penalty-true {
        background-color: #e16e6a;
        color: #b03830;
    }
</style>
<script>
    function GetCompliancePenalty(data) {
        debugger;
        var str = "";
        if (data.MayCompliancePenalty == true) {
            str = "<div class='com-penalty com-penalty-true'>&nbsp;</div>";
        }
        return str;
    }

    function showMeetingFormsList1(meetingId, mappingId, cid) {
        $("#wndMeetingForm").attr("style", "min-height:100px;");
        var direction = "@Url.Action("MeetingFormsList", "MeetingForm")?meetingId=" + meetingId+"&meetingAgendaMappingId="+mappingId+"&complianceId="+cid;
       
        var wnd = $("#wndMeetingForm").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndMeetingForm").kendoWindow({
            pinned:true,
            actions: [
                         "Pin",
                         "Minimize",
                         "Maximize",
                         "Close"
            ],
            content: direction,
            width: "65%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
        }).data("kendoWindow");
        opts.width = "65%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function getDataForAgendaItemsA() {
        return { MeetingId: "@Model.MeetingID", Part: "A" };
    }
    function getDataForAgendaItemsB() {
        return { MeetingId: "@Model.MeetingID", Part: "B", Type: "@Model.Type" };
    }

    function getDataForAgendaItemsC() {
        return { MeetingId: "@Model.MeetingID", Part: "C", Type: "@Model.Type" };
    }
</script>

<div>
    @(Html.Kendo().Tooltip()
                        .For("#gridAgendaItemA")
                        .Filter(".k-grid-edit")
                        .Position(TooltipPosition.Bottom)
                        .AutoHide(true)
                        .Content("Edit")
    )

    @(Html.Kendo().Tooltip()
                        .For("#gridAgendaItemA")
                        .Filter(".k-grid-delete")
                        .Position(TooltipPosition.Bottom)
                        .AutoHide(true)
                        .Content("Delete")
    )

    @(Html.Kendo().Tooltip()
                        .For("#gridAgendaItemA")
                        .Filter(".k-grid-t")
                        .Position(TooltipPosition.Bottom)
                        .AutoHide(true)
                        .Content("Template Fields")
    )

    @(Html.Kendo().Tooltip()
                        .For("#gridAgendaItemA")
                        .Filter(".k-grid-c")
                        .Position(TooltipPosition.Bottom)
                        .AutoHide(true)
                        .Content("Compliance")
    )

    @(Html.Kendo().Tooltip()
                        .For("#gridAgendaItemA")
                        .Filter(".k-grid-u")
                        .Position(TooltipPosition.Bottom)
                        .AutoHide(true)
                        .Content("Documents")
    )

    @(Html.Kendo().Tooltip()
                        .For("#gridAgendaItemA")
                        .Filter(".k-grid-p")
                        .Position(TooltipPosition.Bottom)
                        .AutoHide(true)
                        .Content("Interested Parties")
    )

    @(Html.Kendo().Tooltip()
                        .For("#gridAgendaItemA")
                        .Filter(".k-grid-ainfo")
                        .Position(TooltipPosition.Bottom)
                        .AutoHide(true)
                        .Content("Info")
    )

    @(Html.Kendo().Tooltip()
                        .For("#gridAgendaItem")
                        .Filter(".k-grid-edit")
                        .Position(TooltipPosition.Bottom)
                        .AutoHide(true)
                        .Content("Edit")
    )
    @(Html.Kendo().Tooltip()
                        .For("#gridAgendaItem")
                        .Filter(".k-grid-delete")
                        .Position(TooltipPosition.Bottom)
                        .AutoHide(true)
                        .Content("Delete")
    )

    @(Html.Kendo().Tooltip()
                        .For("#gridAgendaItem")
                        .Filter(".k-grid-t")
                        .Position(TooltipPosition.Bottom)
                        .AutoHide(true)
                        .Content("Template Fields")
    )

    @(Html.Kendo().Tooltip()
                        .For("#gridAgendaItem")
                        .Filter(".k-grid-c")
                        .Position(TooltipPosition.Bottom)
                        .AutoHide(true)
                        .Content("Compliance")
    )

    @(Html.Kendo().Tooltip()
                        .For("#gridAgendaItem")
                        .Filter(".k-grid-f")
                        .Position(TooltipPosition.Bottom)
                        .AutoHide(true)
                        .Content("Generate Document/Form")
    )

    @(Html.Kendo().Tooltip()
                        .For("#gridAgendaItem")
                        .Filter(".k-grid-u")
                        .Position(TooltipPosition.Bottom)
                        .AutoHide(true)
                        .Content("Documents")
    )

    @(Html.Kendo().Tooltip()
                        .For("#gridAgendaItem")
                        .Filter(".k-grid-p")
                        .Position(TooltipPosition.Bottom)
                        .AutoHide(true)
                        .Content("Interested Parties")
    )

    @(Html.Kendo().Tooltip()
                        .For("#gridAgendaItem")
                        .Filter(".k-grid-ainfo")
                        .Position(TooltipPosition.Bottom)
                        .AutoHide(true)
                        .Content("Info")
    )

    @(Html.Kendo().Tooltip()
                        .For("#divbtnSaveAgendaItemOrder")
                        .Position(TooltipPosition.Bottom)
                        .AutoHide(true)
                        .Content("Save Agenda Item Order")
    )

    @(Html.Kendo().Tooltip()
                        .For("#btnAddNewSubAgendaItemA")
                        .Position(TooltipPosition.Bottom)
                        .AutoHide(true)
    )

    @(Html.Kendo().Tooltip()
                        .For("#btnAddPendingAgendaItem")
                        .Position(TooltipPosition.Bottom)
                        .AutoHide(true)
    )

    @(Html.Kendo().Tooltip()
                        .For("#btnAddNewSubAgendaItem")
                        .Position(TooltipPosition.Bottom)
                        .AutoHide(true)
    )

    @(Html.Kendo().Tooltip()
                        .For("#btnAddNewAgendaItem")
                        .Position(TooltipPosition.Bottom)
                        .AutoHide(true)
    )

    @(Html.Kendo().Tooltip()
                        .For("#lnkPreviewAgenda")
                        .Position(TooltipPosition.Bottom)
                        .AutoHide(true)
                        .Content("Preview Agenda")
    )

    @(Html.Kendo().Tooltip()
                        .For("#lnkDownloadDoc")
                        .Position(TooltipPosition.Bottom)
                        .AutoHide(true)
                        .Content("Download Agenda")
    )

    @(Html.Kendo().Tooltip()
                        .For("#btnMeetingForm")
                        .Position(TooltipPosition.Bottom)
                        .AutoHide(true)
                        .Content("Generate Documents/Form")
    )


    @(Html.Kendo().Tooltip()
                                .For("#gridAgendaItemA")
                                .Filter("td:nth-child(2)")
                                .Position(TooltipPosition.Bottom)
                                .AutoHide(true) )

    @(Html.Kendo().Tooltip()
                                .For("#gridAgendaItem")
                                .Filter("td:nth-child(2)")
                                .Position(TooltipPosition.Bottom)
                                .AutoHide(true) )

    @(Html.Kendo().Tooltip()
                                .For("#gridAgendaItemC")
                                .Filter("td:nth-child(2)")
                                .Position(TooltipPosition.Bottom)
                                .Width(400)
                                .AutoHide(true) )

    @(Html.Kendo().Tooltip()
                                .For("#gridAgendaItemA")
                                .Filter(".fill-template-fields")
                                .Position(TooltipPosition.Bottom)
                                .AutoHide(true)
                                .Content("Please fill all template fields")
    )
    @(Html.Kendo().Tooltip()
                                .For("#gridAgendaItem")
                                .Filter(".fill-template-fields")
                                .Position(TooltipPosition.Bottom)
                                .AutoHide(true)
                                .Content("Please fill all template fields")
    )
    @(Html.Kendo().Tooltip()
                                .For("#gridAgendaItemC")
                                .Filter(".fill-template-fields")
                                .Position(TooltipPosition.Bottom)
                                .AutoHide(true)
                                .Content("Please fill all template fields")
    )
</div>

<div>
    @(Html.Kendo().Tooltip()
                        .For("#gridAgendaItemA")
                        .Filter(".com-penalty")
                        .Position(TooltipPosition.Bottom)
                        .AutoHide(true)
                        .Content("Extra Penalty may be applicable")
    )
    @(Html.Kendo().Tooltip()
                        .For("#gridAgendaItem")
                        .Filter(".com-penalty")
                        .Position(TooltipPosition.Bottom)
                        .AutoHide(true)
                        .Content("Extra Penalty may be applicable")
    )
    @(Html.Kendo().Tooltip()
                        .For("#gridAgendaItemC")
                        .Filter(".com-penalty")
                        .Position(TooltipPosition.Bottom)
                        .AutoHide(true)
                        .Content("Extra Penalty may be applicable")
    )
</div>

<div id="divAvailabilityCtrl" class="row mt30 form-group hidden">
</div>

<div>
    <div class="row form-group colpadding0">
        <div class="col-md-12 colpadding0">
            <div class="col-md-7 colpadding0">

                @if (Model.IsMeetingCompleted != true && Model.IsVirtualMeeting != true)
                {
                    if (Model.Type.Trim() == "M")
                    {
                        if (Model.IsAgendaSent == true)
                        {
                            <button id="btnAddPendingAgendaItem" type="button" onclick="AgendaItemsSelect('B', 'M', true)" class="btn btn-primary" value="Open Agenda" title="Differed / Initiate due to multistage"> Open Agenda<span>&nbsp;</span><span id="spNumberOfOpenAgenda" class="badge badge-light">0</span> </button>
                            <input id="btnAddNewSubAgendaItemA" type="button" onclick="AgendaItemsSelect('A','M', false)" class="btn btn-primary" value="PART A" title="Pick-PART A-Agenda Items">
                            <input id="btnAddNewSubAgendaItem" type="button" onclick="AgendaItemsSelect('C', 'M', false)" class="btn btn-primary" value="Add" title="Any Other business Agenda Items">
                            if (AuthenticationHelper.ProductApplicableLogin != "DFM")
                            {
                                <input id="btnAddNewAgendaItem" type="button" onclick="CreateNewAgendaItem('C', 'M')" class="btn btn-primary" value="New" title="Create New Agenda Item">
                            }
                        }
                        else
                        {
                            <button id="btnAddPendingAgendaItem" type="button" onclick="AgendaItemsSelect('B', 'M', true)" class="btn btn-primary" value="Open Agenda" title="Differed / Initiate due to multistage"> Open Agenda<span>&nbsp;</span><span id="spNumberOfOpenAgenda" class="badge badge-light">0</span> </button>
                            <input id="btnAddNewSubAgendaItemA" type="button" onclick="AgendaItemsSelect('A','M', false)" class="btn btn-primary" value="PART A" title="Pick-PART A-Agenda Items">
                            <input id="btnAddNewSubAgendaItem" type="button" onclick="AgendaItemsSelect('B', 'M', false)" class="btn btn-primary" value="PART B" title="Pick-PART B-Agenda Items">
                            if (AuthenticationHelper.ProductApplicableLogin != "DFM")
                            {
                                <input id="btnAddNewAgendaItem" type="button" onclick="CreateNewAgendaItem('B', 'M')" class="btn btn-primary" value="New" title="Create New Agenda Item">
                            }
                            <input id="btnChangeAgendaNo" type="button" onclick="showItemNoChangeWindow('@Model.MeetingID')" class="btn btn-primary" value="Agenda Sequence" title="Agenda Sequence">
                        }
                    }
                    else
                    {
                        <input id="btnAddNewSubAgendaItem" type="button" onclick="AgendaItemsSelect('B', 'C', false)" class="btn btn-primary" value="Add" title="Circular Agenda Items">
                        <button id="btnAddPendingAgendaItem" type="button" onclick="AgendaItemsSelect('B', 'C', true)" class="btn btn-primary" value="Open Agenda" title="Differed / Initiate due to multistage"> Open Agenda<span>&nbsp;</span><span id="spNumberOfOpenAgenda" class="badge badge-light">0</span> </button>
                    }
                }
                else if (Model.IsVirtualMeeting == true)
                {
                    <button id="btnAddPendingAgendaItem" type="button" onclick="AgendaItemsSelect('B', 'M', true)" class="btn btn-primary" value="Open Agenda" title="Differed / Initiate due to multistage"> Open Agenda<span>&nbsp;</span><span id="spNumberOfOpenAgenda" class="badge badge-light">0</span> </button>
                    <input id="btnAddNewSubAgendaItemA" type="button" onclick="AgendaItemsSelect('A','M', false)" class="btn btn-primary" value="PART A" title="Pick-PART A-Agenda Items">
                    <input id="btnAddNewSubAgendaItem" type="button" onclick="AgendaItemsSelect('B', 'M', false)" class="btn btn-primary" value="PART B" title="Pick-PART B-Agenda Items">
                    if (AuthenticationHelper.ProductApplicableLogin != "DFM")
                    {
                        <input id="btnAddNewAgendaItem" type="button" onclick="CreateNewAgendaItem('B', 'M')" class="btn btn-primary" value="New" title="Create New Agenda Item">
                    }
                    <input id="btnChangeAgendaNo" type="button" onclick="showItemNoChangeWindow('@Model.MeetingID')" class="btn btn-primary" value="Agenda Sequence" title="Agenda Sequence">
                }
                <input id="btnSetSigningAuthority" type="button" onclick="showSigningAuthority('@Model.MeetingID','@Model.Entityt_Id')" class="btn btn-primary" value="Signing Authority" title="Signing Authority">
            </div>

            <div class="col-md-2 colpadding0">
                <input type="button" onclick="ComplianceAssignment()" class="k-primary k-button hidden" value="Compliance">
            </div>

            <div class="col-md-2 colpadding0">
                <div class="col-md-12 colpadding0">
                    <div class="col-md-9 colpadding0" style="text-align: right;">
                        <input type='button' id='btnAgendaPreview' name='btnAgendaPreview' value='Preview' class='btn btn-primary hidden'>
                        <a id="lnkPreviewAgenda" role="button" href='#' style="padding-right:5px;">
                            <img src='../../Areas/BM_Management/img/view.png' onclick="showAgendaPreviewMeeting(@Model.MeetingID)" />
                        </a>
                    </div>
                    <div class="col-md-2 colpadding0" style="text-align: center;margin-top: 5px;">
                        <a id="lnkDownloadDoc" href='@Url.Action("DownloadAgendaDocumnet", "Meetings",new { MeetingId = Model.MeetingID} )' target="_blank">
                            <img src='../../Areas/BM_Management/img/Download.png' />
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-1 colpadding0">
                <input type='button' id='btnMeetingForm' name='btnMeetingForm' value='Documents' class='btn btn-primary' style="float:right;width:94px;" onclick="showMeetingFormsList(@Model.MeetingID,0,0)">
            </div>
        </div>
    </div>
</div>

<div class="demo-section k-content" style="background:transparent;">
    <ul class="k-widget k-panelbar k-reset k-header" id="panelbarAgendaItems_PartA" data-role="panelbar" tabindex="0" role="menu">
        @if (Model.Type.Trim() == "M")
        {
            <li class="k-item" aria-expanded="false" role="menuitem">
                <span class="k-link k-header">Agenda Items - PART [A]<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>
                <div style="margin-left:0.5%; margin-right:0.5%; margin-bottom:2%;">

                    <!-- AGENDA ITEMS PART [A] -->
                    <div class="row mt30 form-group colpadding0 hidden">
                        <div class="col-md-12 colpadding0">
                            <div style="text-align: right;min-height: 45px;">
                                <a id="btnAddNewSubAgendaItemA1" class="k-button" href="#" onclick="AgendaItemsSelect('A','M', false)" title="Add Agenda Items">Add</a>
                            </div>
                        </div>
                    </div>

                    <div class="row mt30 form-group colpadding0 ">
                        <div class="col-md-12 colpadding0">

                            @(Html.Kendo().Grid<BM_ManegmentServices.VM.MeetingAgendaMappingVM>()
                                .Name("gridAgendaItemA")
                                .Columns(columns =>
                                {
                                    columns.Template(t => { }).Title("Sr No").ClientTemplate("#= renderNumber(data) #").Width("3%");
                                    columns.Bound(o => o.AgendaItemText).ClientTemplate("<div style='max-width:450px; white-space:nowrap;'>#= AgendaItemText #</div>").Title("Agenda Item").HtmlAttributes(new { title = "#= AgendaItemText #" }).Width("60%");
                                    columns.Template(t => { }).ClientTemplate("#= GetCompliancePenalty(data)#").Title("").Width("3%");
                                    columns.Template(t => { }).Title(" ").ClientTemplate("<span class='k-grid-warn pull-right'></span>").Width("3%");
                                    columns.Command(command =>
                                    {
                                        command.Custom("i").Click("showAgendaInfo").HtmlAttributes(new { @class = "k-grid-ainfo" });
                                    }).Title("Info").Width("3%");
                                    columns.Command(command =>
                                    {
                                        command.Custom("T").Click("AgendaItemsEditTemplateFieldsNew").HtmlAttributes(new { @class = "k-grid-t " });
                                        command.Custom("Edit").Click("AgendaItemsEditFormat").HtmlAttributes(new { @class = "k-grid-edit" });
                                        command.Custom("G").Click("deleteAgendaItem").HtmlAttributes(new { @class = "k-grid-delete" });
                                    }).Title("Edit").Width("10%");
                                    columns.Bound(p => p.MeetingAgendaMappingID).Title("Action").Sortable(false).Filterable(false).Width("15%").ClientTemplate("<input id='gridDDLAgendaActionMenu' style='width:100%'></input>");
                                })
                                .AutoBind(false)
                                .Navigatable()
                                .Events(e => e.DataBound("onRowBoundAgendaItemsA"))
                                .ColumnMenu()
                                .DataSource(dataSource => dataSource
                                .WebApi()
                                .Batch(true)
                                .ServerOperation(false)
                                .Model(model =>
                                {
                                    model.Id(o => o.MeetingAgendaMappingID);
                                    model.Field(p => p.PartId);
                                    model.Field(p => p.Meeting_Id);
                                    model.Field(p => p.AgendaID);
                                    model.Field(p => p.SrNo);
                                    model.Field(p => p.HasTemplate);
                                    model.Field(p => p.IsFillTemplateFields);
                                    model.Field(p => p.UIFormID);
                                    model.Field(p => p.Hasfoms);
                                })
                                .Read(read => read.Action("MeetingAgenda_Read", "Meetings").Data("getDataForAgendaItemsA").Type(HttpVerbs.Get))
                                .Create(create => create.Action("MeetingAgenda_SaveOrder", "Meetings").Type(HttpVerbs.Post))
                                .Update(update => update.Action("MeetingAgenda_SaveOrder", "Meetings").Type(HttpVerbs.Post))
                              ))

                            @(Html.Kendo().Sortable()
                            .For("#gridAgendaItemA")
                            //.Filter("table > tbody > tr")
                            .Filter("table > tbody > tr:not(.restricted)")
                            .Cursor("move")
                            .HintHandler("noHintA")
                            .PlaceholderHandler("placeholder")
                            .ContainerSelector("#gridAgendaItemA tbody")
                            .Events(events => events.Change("onChangeA"))
                            )

                        </div>
                    </div>

                    <div id="divbtnSaveAgendaItemOrderA" class="k-edit-buttons k-state-default mt30 hidden" style="background:!important;background:none;width:100%;">
                        <button type="button" id="btnSaveAgendaItemOrderA" class="btn btn-primary">Save</button>
                    </div>
                    <!-- END PART [A] -->
                </div>
            </li>
        }
    </ul>

    <ul class="k-widget k-panelbar k-reset k-header" id="panelbarAgendaItems_PartB" data-role="panelbar" tabindex="0" role="menu">
        <li class="k-item k-state-default k-first k-state-active" aria-expanded="true" role="menuitem">
            @if (Model.Type.Trim() == "M")
           {
            <span class="k-link k-header" id="spanAgendaItemB">Agenda Items - PART [B]<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>
           }
           else
           {
            <span class="k-link k-header" id="spanAgendaItemB">Agenda Items<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>
           }
            <div style="margin-left:0.5%; margin-right:0.5%; margin-bottom:2%;">

                <!-- AGENDA ITEMS PART [B] -->
                <div class="row mt30 form-group colpadding0 hidden">
                    <div class="col-md-12 colpadding0">
                        <div style="text-align: right;min-height: 45px;">
                            @if (Model.Type.Trim() == "M")
                            {
                            <a id="btnAddPendingAgendaItem1" class="k-button" href="#" onclick="AgendaItemsSelect('B', 'M', true)" title="Pending Agenda Items">Pending</a>

                            <a id="btnAddNewSubAgendaItem1" class="k-button" href="#" onclick="AgendaItemsSelect('B', 'M', false)" title="Add Agenda Items">Add</a>

                            <a id="btnAddNewAgendaItem1" class="k-button" href="#" onclick="CreateNewAgendaItem('B','M')" title="New Agenda Item"><span class="k-icon k-add"></span>New</a>
                            }
                            else
                            {
                            <a id="btnAddNewSubAgendaItem1" class="k-button" href="#" onclick="AgendaItemsSelect('B','C', false)" title="Add Agenda Items">Add</a>
                            }
                        </div>
                    </div>
                </div>

                <div class="row mt30 form-group colpadding0 ">
                    <div class="col-md-12 colpadding0">

                        @(Html.Kendo().Grid<BM_ManegmentServices.VM.MeetingAgendaMappingVM>()
                        .Name("gridAgendaItem")
                        .Columns(columns =>
                        {
                            columns.Template(t => { }).Title("Sr No").ClientTemplate("#= renderNumber(data) #").Width("3%");
                            columns.Bound(o => o.AgendaItemText).ClientTemplate("<div style='max-width:450px; white-space:nowrap;'>#= AgendaItemText #</div>").Title("Agenda Item").HtmlAttributes(new { title = "#= AgendaItemText #" }).Width("60%");
                            columns.Template(t => { }).ClientTemplate("#= GetCompliancePenalty(data)#").Title("").Width("3%");
                            columns.Template(t => { }).Title(" ").ClientTemplate("<span class='k-grid-warn pull-right'></span>").Width("3%");
                            columns.Command(command =>
                            {
                                command.Custom("i").Click("showAgendaInfo").HtmlAttributes(new { @class = "k-grid-ainfo" });
                            }).Title("Info").Width("3%");
                            columns.Command(command =>
                            {
                                command.Custom("T").Click("AgendaItemsEditTemplateFieldsNew").HtmlAttributes(new { @class = "k-grid-t " });
                                command.Custom("Edit").Click("AgendaItemsEditFormat").HtmlAttributes(new { @class = "k-grid-edit" });
                                command.Custom("G").Click("deleteAgendaItem").HtmlAttributes(new { @class = "k-grid-delete" });
                            }).Title("Edit").Width("10%");
                            columns.Bound(p => p.MeetingAgendaMappingID).Title("Action").Sortable(false).Filterable(false).Width("15%").ClientTemplate("<input id='gridDDLAgendaActionMenu' style='width:100%'></input>");
                        })
                        .AutoBind(false)
                        .Navigatable()
                        .Events(e => e.DataBound("onRowBoundAgendaItems"))
                        .ColumnMenu()
                        .DataSource(dataSource => dataSource
                        .WebApi()
                        .Batch(true)
                        .ServerOperation(false)
                        .Model(model =>
                        {
                            model.Id(o => o.MeetingAgendaMappingID);
                            model.Field(p => p.PartId);
                            model.Field(p => p.Meeting_Id);
                            model.Field(p => p.AgendaID);
                            model.Field(p => p.SrNo);
                            model.Field(p => p.HasTemplate);
                            model.Field(p => p.IsFillTemplateFields);
                            model.Field(p => p.UIFormID);
                            model.Field(p => p.Hasfoms);
                        })
                        .Read(read => read.Action("MeetingAgenda_Read", "Meetings").Data("getDataForAgendaItemsB").Type(HttpVerbs.Get))
                        .Create(create => create.Action("MeetingAgenda_SaveOrder", "Meetings").Type(HttpVerbs.Post))
                        .Update(update => update.Action("MeetingAgenda_SaveOrder", "Meetings").Type(HttpVerbs.Post))
                      ))

                        @(Html.Kendo().Sortable()
                        .For("#gridAgendaItem")
                        .Filter("table > tbody > tr")
                        .Cursor("move")
                        .HintHandler("noHint")
                        .PlaceholderHandler("placeholder")
                        .ContainerSelector("#gridAgendaItem tbody")
                        .Events(events => events.Change("onChange"))
                        )

                    </div>
                </div>

                <div id="divbtnSaveAgendaItemOrder" class="k-edit-buttons k-state-default mt30 hidden" style="background:!important;background:none;width:100%;">
                    <button type="button" id="btnSaveAgendaItemOrder" onclick="btnSaveAgendaItemOrder_click();" class="btn btn-primary">Save</button>
                </div>
                <!-- END PART [B] -->

            </div>

        </li>
    </ul>

    <ul class="k-widget k-panelbar k-reset k-header" id="panelbarAgendaItems_PartAnyOther" data-role="panelbar" tabindex="0" role="menu">
        @if (Model.Type.Trim() == "M" && Model.IsAgendaSent == true)
        {
            <li class="k-item" aria-expanded="false" role="menuitem">
                <span class="k-link k-header" id="spanAgendaItemB">Agenda Items - Any other business<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>
                <div style="margin-left:0.5%; margin-right:0.5%; margin-bottom:2%;">

                    <!-- AGENDA ITEMS PART [C] -->
                    <div class="row mt30 form-group colpadding0 hidden">
                        <div class="col-md-12 colpadding0">
                            <div style="text-align: right;min-height: 45px;">
                                <a id="btnAddNewSubAgendaItem1" class="k-button" href="#" onclick="AgendaItemsSelect('C', 'M', false)" title="Add Agenda Items">Add</a>

                                <a id="btnAddNewAgendaItem1" class="k-button" href="#" onclick="CreateNewAgendaItem('C','M')" title="New Agenda Item"><span class="k-icon k-add"></span>New</a>
                            </div>
                        </div>
                    </div>

                    <div class="row mt30 form-group colpadding0 ">
                        <div class="col-md-12 colpadding0">

                            @(Html.Kendo().Grid<BM_ManegmentServices.VM.MeetingAgendaMappingVM>()
                        .Name("gridAgendaItemC")
                        .Columns(columns =>
                        {
                            columns.Template(t => { }).Title("Sr No").ClientTemplate("#= renderNumber(data) #").Width("3%");
                            columns.Bound(o => o.AgendaItemText).ClientTemplate("<div style='max-width:450px; white-space:nowrap;'>#= AgendaItemText #</div>").Title("Agenda Item").HtmlAttributes(new { title = "#= AgendaItemText #" }).Width("60%");
                            columns.Template(t => { }).ClientTemplate("#= GetCompliancePenalty(data)#").Title("").Width("3%");
                            columns.Template(t => { }).Title(" ").ClientTemplate("<span class='k-grid-warn pull-right'></span>").Width("3%");
                            columns.Command(command =>
                            {
                                command.Custom("i").Click("showAgendaInfo").HtmlAttributes(new { @class = "k-grid-ainfo" });
                            }).Title("Info").Width("3%");
                            columns.Command(command =>
                            {
                                command.Custom("T").Click("AgendaItemsEditTemplateFieldsNew").HtmlAttributes(new { @class = "k-grid-t " });
                                command.Custom("Edit").Click("AgendaItemsEditFormat").HtmlAttributes(new { @class = "k-grid-edit" });
                                command.Custom("G").Click("deleteAgendaItem").HtmlAttributes(new { @class = "k-grid-delete" });
                            }).Title("Edit").Width("10%");
                            columns.Bound(p => p.MeetingAgendaMappingID).Title("Action").Sortable(false).Filterable(false).Width("15%").ClientTemplate("<input id='gridDDLAgendaActionMenu' style='width:100%'></input>");
                        })
                        .AutoBind(false)
                        .Navigatable()
                        .Events(e => e.DataBound("onRowBoundAgendaItemsC"))
                        .ColumnMenu()
                        .DataSource(dataSource => dataSource
                        .WebApi()
                        .Batch(true)
                        .ServerOperation(false)
                        .Model(model =>
                        {
                            model.Id(o => o.MeetingAgendaMappingID);
                            model.Field(p => p.PartId);
                            model.Field(p => p.Meeting_Id);
                            model.Field(p => p.AgendaID);
                            model.Field(p => p.SrNo);
                            model.Field(p => p.HasTemplate);
                            model.Field(p => p.IsFillTemplateFields);
                            model.Field(p => p.UIFormID);
                            model.Field(p => p.Hasfoms);
                        })
                        .Read(read => read.Action("MeetingAgenda_Read", "Meetings").Data("getDataForAgendaItemsC").Type(HttpVerbs.Get))
                        .Create(create => create.Action("MeetingAgenda_SaveOrder", "Meetings").Type(HttpVerbs.Post))
                        .Update(update => update.Action("MeetingAgenda_SaveOrder", "Meetings").Type(HttpVerbs.Post))
                      ))

                            @(Html.Kendo().Sortable()
                        .For("#gridAgendaItem")
                        .Filter("table > tbody > tr")
                        .Cursor("move")
                        .HintHandler("noHint")
                        .PlaceholderHandler("placeholder")
                        .ContainerSelector("#gridAgendaItem tbody")
                        .Events(events => events.Change("onChange"))
                            )

                        </div>
                    </div>

                    <div id="divbtnSaveAgendaItemOrderC" class="k-edit-buttons k-state-default mt30 hidden" style="background:!important;background:none;width:100%;">
                        <button type="button" id="btnSaveAgendaItemOrderC" class="btn btn-primary">Save</button>
                    </div>
                    <!-- END PART [C] -->
                </div>

            </li>
        }
    </ul>
</div>

<div class="row mt30">
    <div class="col-md-12">
        <div class="col-md-8">
            Note: Drag and Drop Agenda Items to change sequence
        </div>
        <div class="col-md-3">
            <div class="col-md-1">
                <div class="com-penalty com-penalty-true"></div>
            </div>
            <div class="col-md-7">
                <span class="com-penalty-label">Penalty may be applicable</span>
            </div>
        </div>
    </div>
</div>

@(Html.Kendo().Window().Name("wndAddAgendaItem").Title("Agenda Items").Visible(false).Modal(true).Draggable(true).Scrollable(true))
@(Html.Kendo().Window().Name("wndAddEditAgendaItemUIForms").Title("UI Form").Visible(false).Modal(true).Draggable(true).Scrollable(true))
@(Html.Kendo().Window().Name("wndAddAgendaItemTemplateFields").Title("Agenda Items Data").Visible(false).Modal(true).Draggable(true).Scrollable(true))
@(Html.Kendo().Window().Name("wndAddNewAgendaItem").Title("Agenda Items").Visible(false).Modal(true).Draggable(true).Scrollable(true))

@(Html.Kendo().Window().Name("wndAgendaPreview").Title("Agenda").Visible(false).Modal(true).Draggable(true).Scrollable(true))
@(Html.Kendo().Window().Name("wndAgendaSummitResponse").Title("Response").Visible(false).Modal(true).Draggable(true).Scrollable(true))
@(Html.Kendo().Window().Name("wndMeetingCompliances").Title("Preview").Visible(false).Modal(true).Draggable(true).Scrollable(true))

@(Html.Kendo().Window().Name("wndPreCommitteeAgenda").Title("Agenda Items").Visible(false).Modal(true).Draggable(true).Scrollable(true))
@(Html.Kendo().Window().Name("wndInterestParties").Title("Interested Parties").Visible(false).Modal(true).Draggable(true).Scrollable(true))

<!-- Open Agenda Count -->
<script>
    function loadOpenAgendaCount() {
        $.ajax({
            type: "GET",
            url: "/api/AgendaMasterAPI/GetOpenAgendaItemsCount?showPendingAgenda=true&MeetingId=" + @Model.MeetingID +"&Part=B&MeetingCircular=@Model.Type",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                
                if (response.Total != null) {
                    $("#spNumberOfOpenAgenda")[0].innerHTML = response.Total;
                } else {
                    $("#spNumberOfOpenAgenda")[0].innerHTML = 0;
                }
            },
        });
    }
</script>

<script>
    $(document).ready(function () {
        //$("#panelbarAgendaItems").kendoPanelBar({});

        $('[id^="panelbarAgendaItems"]').kendoPanelBar({
            //expandMode: "single",
            //collapse: cancelExpandCollapse,
        });

        if ('@Model.IsMeetingCompleted' != 'True' || '@Model.IsVirtualMeeting' == 'True') {
            setTimeout(loadOpenAgendaCount, 2000);
        }
        setTimeout(fillAgendaItems, 3000);        
    });

    function fillAgendaItems() {
        
        var meetingCircular = "@Model.Type.Trim()";
        if (meetingCircular == "M") {
            $('#gridAgendaItemA').data('kendoGrid').dataSource.read();
            $('#gridAgendaItem').data('kendoGrid').dataSource.read();
            if ("@Model.IsAgendaSent" == "True") {
                $('#gridAgendaItemC').data('kendoGrid').dataSource.read();
            }
        } else {
            $('#gridAgendaItem').data('kendoGrid').dataSource.read();
        }
    }

    $("#btnAgendaPreview").click(function () {

        $("#wndAgendaPreview").kendoWindow({
            title: "Agenda Preview",
            modal: true
        });

        
        var direction = "AgendaPreview?MeetingId=@Model.MeetingID";

        $("#wndAgendaPreview").attr("style", "min-height:100px;");

        var wnd = $("#wndAgendaPreview").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAgendaPreview").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "85%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () { kendo.ui.progress(wnd.element, true); },
            close: function (e) {
                $(this.element).empty();
            }
        }).data("kendoWindow");

        opts.width = "85%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    });
</script>
<!-- Circular Response -->
<script>
    function btnSummitResponse() {
        $("#wndAgendaSummitResponse").kendoWindow({
            title: "Response",
            modal: true
        });

        var direction = "Agenda_SummitResponse?MeetingId=@Model.MeetingID";

        $("#wndAgendaSummitResponse").attr("style", "min-height:100px;");

        var wnd = $("#wndAgendaSummitResponse").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAgendaSummitResponse").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "95%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () { },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            }
        }).data("kendoWindow");

        opts.width = "95%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

</script>
<!-- Pre Committee Pending Agenda Items -->
<script>
    function showPendingPreCommitteeAgendaItems() {
        showPendingPreCommitteeAgendaItemsWnd('@Model.MeetingID');
    }
</script>