﻿@using Kendo.Mvc.UI;
@*@model BM_ManegmentServices.VM.CircularMeeting*@
@model BM_ManegmentServices.VM.MeetingVM

<script type="text/javascript">

    //function OnOpen(e) {
    //    var wnd = $("#wndPopupAgenda").data("kendoWindow");
    //    //kendo.ui.progress(wnd.element, true);
    //    //$(".k-overlay").attr('style', "opacity:0.5; display:block;");
    //}

    //function OnRefresh() {
    //    var wnd = $("#wndPopupAgenda").data("kendoWindow");
    //    kendo.ui.progress(wnd.element, false);
    //}
</script>

<script type="text/javascript">

    function checkGreaterDate() {
        var cDate = $("#dpCircularDate").data("kendoDatePicker").value();
        var dDate = $("#dpCircularDueDate").data("kendoDatePicker").value();

        if (cDate != '' && dDate != '' && cDate != null && dDate != null) {
            if (cDate < dDate) {
                return true;
            } else {
                return false;
            }
        }
    }

    function checkDateDifference() {
        
        var cDate = $("#dpCircularDate").data("kendoDatePicker").value();
        var dDate = $("#dpCircularDueDate").data("kendoDatePicker").value();

        if (cDate != '' && dDate != '') {
            var diff = Math.round((dDate - cDate) / 1000 / 60 / 60 / 24);
            if (diff > 0 && diff <= 7) {
                return true;
            } else {
                return false;
            }
        }
    }
</script>

@using (Ajax.BeginForm("EditMeeting", "Meetings", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divDetailsOfCircular", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmAddEditCircularNew" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.CircularMeetingDetails.CircularMeetingId)
    @Html.HiddenFor(m => m.Type)
    @Html.HiddenFor(m => m.MeetingID)

    <div class="row form-group content-box">
        <div class="col-md-12 vertical-middle">
            @if (Model.Success)
                {
                <div class="row">
                    <div class="col-md-12 colpadding0">
                        <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <label>@Model.Message</label>
                        </div>
                    </div>
                </div>
            }
            else if (Model.Error)
            {
                <div class="row">
                    <div class="col-md-12 colpadding0">
                        <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <lable>@Model.Message</lable>
                        </div>
                    </div>
                </div>
            }

            <div>
                @(Html.Kendo().Tooltip()
                    .For("#btnUpdateMeeting")
                    .Position(TooltipPosition.Top)
                    .AutoHide(true)
                    .Content("Update")
                    .Width(150)
                )
            </div>

            <div class="row form-group">
                <div class="col-md-12 colpadding0">
                    <div class="col-md-6 colpadding0 required">
                        <label for="ddlEntity" class="control-label">Entity/Company</label>
                        @(Html.Kendo().DropDownListFor(m => m.CircularMeetingDetails.EntityId)
                            .DataTextField("EntityName")
                            .DataValueField("Id")
                            .Filter("contains")
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Url("/api/EntityMasterAPI/GetDropDownforEntity").Type(HttpVerbs.Get);
                                }).ServerFiltering(false);
                            }).HtmlAttributes(new { style = "width: 97%", @Id = "ddlEntity", autocomplete = "off", @readonly = "readonly", })
                        )
                    </div>

                    <div id="divDates">
                        <div class="col-md-2 colpadding0 required">
                            <label for="CircularDate" class="control-label">Circular Date</label>
                            @(Html.Kendo().DatePickerFor(m => m.CircularMeetingDetails.CircularDate)
                        .Format("dd/MM/yyyy")
                        .Min(DateTime.Now)
                        .ParseFormats(new List<string>() { "dd/MM/yyyy" })
                        .HtmlAttributes(new { style = "width: 95%", onchange = "checkDate(this);", @Id = "dpCircularDate" }))

                            @Html.ValidationMessageFor(model => model.CircularMeetingDetails.CircularDate, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-2 colpadding0 required">
                            <label for="txtDueDate" class="control-label">Due Date</label>
                            @(Html.Kendo().DatePickerFor(m => m.CircularMeetingDetails.DueDate)
                        .Format("dd/MM/yyyy")
                        .Min(DateTime.Now)
                        //.Events(e => e.Change("dateChange"))
                        .ParseFormats(new List<string>() { "dd/MM/yyyy" })
                        .HtmlAttributes(new { style = "width: 97%", onchange = "checkDate(this);", @Id = "dpCircularDueDate" }))

                            @Html.ValidationMessageFor(model => model.CircularMeetingDetails.DueDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="mt30 col-md-12 colpadding0 text-center">
                    <button type="submit" id="btnSubmit" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
                    <button type="button" id="btnclose2" class="k-button">Close</button>
                </div>
            </div>

            <div class="row form-group hidden">
                <div class="col-md-12 colpadding0">
                    <div class="col-md-6 colpadding0">
                        <span style="color:red">*</span><label class="control-label">Purpose</label><br />
                        @(Html.Kendo().TextBoxFor(m => m.MeetingTitle).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%", autocomplete = "off" }))
                        @Html.ValidationMessageFor(model => model.MeetingTitle, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    @Html.Partial("_Timeline", Model)    
}

<script>
$("#btnclose2").click(function (z) {
    z.preventDefault();
    z.stopPropagation();
    $('#wndAdd').data("kendoWindow").close();
    $('#gridKendo').data('kendoGrid').dataSource.read();
    $('#gridKendo').data('kendoGrid').refresh();
});


function checkDate(e) {
    if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
        e.value = '';
    }
}
</script>

<script type="text/javascript">
$("#divDates").kendoValidator({
    rules: {
        customRule1: function (input) {
            if (input.is("[name=CircularMeetingDetails.CircularDate]") || input.is("[name=CircularMeetingDetails.DueDate]")) {

                var result = checkGreaterDate();

                //alert("checkGreaterDate-" + result);

                return result;
            }
            return true;
        },
        customRule2: function (input) {
            if (input.is("[name=CircularMeetingDetails.CircularDate]") || input.is("[name=CircularMeetingDetails.DueDate]")) {
                var result = checkDateDifference();
                //alert("checkDateDifference-" + result);
                //alert(result);
                return result;
            }
            return true;
        }
    },
    messages: {
        customRule1: "Due Date must be greater than Circular Date",
        customRule2: "Due Date can not be greater than 7 days",
    }
});
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var validator1 = $("#frmAddEditCircularNew").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
    
        $("#dpCircularDate").removeAttr("data-val-date");
        $("#dpCircularDueDate").removeAttr("data-val-date");
        
        $("#dpCircularDate").attr("readonly", true);
        $("#dpCircularDueDate").attr("readonly", true);

        $("#dpCircularDate").removeAttr("data-val-date");
        $("#dpCircularDueDate").removeAttr("data-val-date");

        if ($("#dpCircularDate").val() == "01/01/0001") {
            $("#dpCircularDate").val('');
        }

        if ($("#dpCircularDueDate").val() == "01/01/0001") {
            $("#dpCircularDueDate").val('');
        }
    });
</script>

