﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MarkSeekAvailabilityVM


<!-- Script from Meeting_Edit view -->
<script>
    function setDataItem(item) {
        
        var grid = $("#gridResponse").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);
        var ID;

        if ($(item).val() == "True") {
            dataItem.Response = true;
        } else {
            dataItem.Response = false;
        }
        dataItem.dirty = true;
    };
</script>

<div>
    <div style="margin-left:2%; margin-right:2%">
        <div class="row colpadding0 mt30">

            <div class="col-md-12 colpadding0">
                <div style="overflow-y:auto; overflow-x:hidden; max-height:480px; margin-left:1%; margin-right:1%">

                    @(Html.Kendo().Grid<BM_ManegmentServices.VM.AvailabilityResponse_ResultVM>()
                    .Name("gridResponse")
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.PreferenceId).HeaderTemplate("Preference").Width(90);
                        columns.Bound(c => c.AvailabilityDate).Title("Date").Width(200);
                        columns.Bound(c => c.AvailabilityTime).HeaderTemplate("Time").Width(120);
                        columns.Bound(p => p.ParticipantName).HeaderTemplate("Venue").ClientGroupHeaderTemplate("Participant : #= value #").ClientTemplate("#=AvailabilityVenue#");
                        // columns.Bound(c => c.Response).ClientTemplate("#= Response== null ? '' : Response ? 'Yes' : 'No' #").Width(40);
                        columns.Bound(c => c.Response).ClientTemplate(
                                                   //"<input id='rdbAnswer' name='#=data.uid#' onclick='setDataItem(this);' #= Response == true ? 'checked=checked' : '' #  #= AvailabilityResponseID >0 ? 'disabled=disabled' : ''# style='margin-left:0.5em;' type='radio' value='True'><label class='k-radio-label'>Yes</label>" +
                                                   //       "&nbsp; &nbsp;" +
                                                   //       "<input id = 'rdbAnswer' name='#=data.uid#' onclick='setDataItem(this);' #= Response== false ? 'checked=checked' : '' #  #= AvailabilityResponseID >0 ? 'disabled=disabled' : ''# style='margin-left:0.5em;' type='radio' value='False'><label class='k-radio-label'>No</label>"+
                                                   "<label class='container1' style='padding-right:7px;'>Yes" +
                                            "<input name='#=data.uid#' onclick='setDataItem(this);' #= Response == true ? 'checked=checked' : '' #  #= AvailabilityResponseID >0 ? 'disabled=disabled' : ''# style='margin-left:0.5em;' type='radio' value='True' class='k-radio'>" +
                                            "<span class='checkmark1'></span></label>"+
                                            "<label class='container1' style='padding-right:7px;'>No" +
                                            "<input name='#=data.uid#' onclick='setDataItem(this);' #= Response == false ? 'checked=checked' : '' #  #= AvailabilityResponseID >0 ? 'disabled=disabled' : ''# style='margin-left:0.5em;' type='radio' value='False' class='k-radio'>" +
                                            "<span class='checkmark1'></span></label>"
                                               ).Width(120);
                    })
                    .Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Bottom))
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .Batch(true)
                    .ServerOperation(false)
                    .Events(x => x.RequestEnd("gridResponse_Request_End"))
                    .Aggregates(aggregates =>
                    {
                        aggregates.Add(p => p.ParticipantName).Count();
                    })
                    .Group(groups => groups.Add(c => c.ParticipantName))
                    //.Sort(sort => sort.Add("PreferenceId").Ascending())
                    .Read(read => read.Action("GetAvailabilityResponse", "Meetings", new { MeetingID = Model.MeetingID, ViewType = Model.ViewType }).Type(HttpVerbs.Get))
                    .Update(update => update.Action("UpdateAvailabilityResponse", "Meetings"))
                    .Model(model =>
                    {
                        model.Id(p => p.MeetingAvailabilityId);
                        model.Field(p => p.AvailabilityResponseID);
                        model.Field(p => p.MeetingParticipantId).Editable(false);
                        model.Field(p => p.MeetingID);

                        model.Field(p => p.PreferenceId).Editable(false);
                        model.Field(p => p.AvailabilityDate).Editable(false);
                        model.Field(p => p.AvailabilityTime).Editable(false);
                        model.Field(p => p.ParticipantName).Editable(false);

                        model.Field(p => p.Response).Editable(false);
                    })
                    ))

                </div>
            </div>

        </div>
    </div>
</div>

@if (Model.CanMarkAvailability_ == true)
{
    <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;">
        <button type="button" id="btnSaveAvailabilityResponse" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
    </div>
}

<script type="text/javascript">
    $("#btnSaveAvailabilityResponse").kendoButton({
        click: function (e) {
            
            var grid = $("#gridResponse").data("kendoGrid");
            grid.saveChanges();
        }
    })
</script>