﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MeetingAgendaMappingVM

<div id="divDetailsOfAgendaFormat">

    @using (Ajax.BeginForm("AgendaItemFormat_Save", "Meeting", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divDetailsOfAgendaFormat", OnBegin = "OnOpenAgendaFormat", OnComplete = "OnRefreshAgendaFormat", InsertionMode = InsertionMode.Replace }, new { id = "frmUpdateAgendaFormat" }))
    {
        <style>
            .contextmenu {
                margin: 0;
                position: absolute;
                *display: inline;
                *zoom: 1;
                min-width: 100px;
                background-color: #fff;
                padding: 2px 0;
                border-radius: 4px;
                box-shadow: 1px 2px 30px #ddd;
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
                -khtml-user-select: none;
                user-select: none;
            }

            * {
                margin: 0;
                padding: 0;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -o-box-sizing: border-box;
                -ms-box-sizing: border-box;
                box-sizing: border-box;
            }

            user agent stylesheet div {
                display: block;
            }

            body {
                font-family: 'Roboto';
            }

            user agent stylesheet html {
                color: -internal-root-color;
            }

            contextmenu-visible {
                display: inline-block;
            }
        </style>

        @*<fieldset class="col" style="margin-right:5px;">
            <legend class="amp-mb5"><label style="font-size:17px">Details </label></legend>*@
    if (Model.Success)
    {
        <div class="row mt30">
            <div class="col-md-12 colpadding0" id="DivsuccessI_sub">
                <div style="margin-left:2%; margin-right:2%;">
                    <div class="alert alert-success alert-dismissible">
                        <button class="close" type="button" onclick="hideAlert_Sub();">×</button>
                        <lable id="lblsuccessI_sub">@Model.Message</lable>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (Model.Error)
    {
        <div class="row mt30">
            <div class="col-md-12 colpadding0" id="DiverrorI_sub">
                <div style="margin-left:2%; margin-right:2%;">
                    <div class="alert alert-danger alert-dismissible">
                        <button class="close" type="button" onclick="hideAlert_Sub();">×</button>
                        <lable id="lblerrormsgI_sub">@Model.Message</lable>
                    </div>
                </div>
            </div>
        </div>
    }

    <div id="divSubAgendaEditor" style="margin-left:1%; margin-right:1%;">
        @Html.HiddenFor(m => m.MeetingAgendaMappingID)
        @Html.HiddenFor(m => m.Meeting_Id)
        @Html.HiddenFor(m => m.EntityTypeId_)
        @Html.HiddenFor(m => m.MeetingTypeId_)
        @Html.HiddenFor(m => m.AgendaID)

        <div class="tab" role="tabpanel">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" id="mytab1_sub" href="#tabAgendaTemplate_sub">Agenda Item Template</a></li>
                <li><a data-toggle="tab" id="mytab2_sub" href="#tabResolutionTemplate_sub">Resolution Template</a></li>
                <li><a data-toggle="tab" id="mytab3_sub" href="#tabMinutesTemplate_sub">Minutes Template</a></li>
                <li><a data-toggle="tab" id="mytabSEBIFormat" href="#tabSEBITemplate">SEBI Intimation/Disclosure Template</a></li>
            </ul>

            <div class="tab-content">
                <div id="tabAgendaTemplate_sub" class="tab-pane fade in active">

                    <div class="row">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-12 colpadding0">
                                <lable class="control-label">Heading</lable>
                                @(Html.TextAreaFor(m => m.AgendaItemText, new { @class = "form-control k-textbox", style = "width: 100%; height:50px;", autocomplete = "off" }))
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 colpadding0">
                            <lable class="control-label">Text</lable>
                            @(Html.Kendo().EditorFor(m => m.AgendaFormat)
                                            .HtmlAttributes(new { style = "height:341px;" })
                                            .Encode(false)
                                            .Events(e => e.Paste("onPasteRemoveTag"))
                                            //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                            .Tools(tools => tools
                                            .Clear().Formatting()
                                            .FontName(fonts => fonts
                                                .Add("Andale Mono", "Andale Mono")
                                                .Add("Arial", "Arial")
                                                .Add("Arial Black", "Arial Black")
                                                .Add("Book Antiqua", "Book Antiqua")
                                                .Add("Bookman Old Style", "Bookman Old Style")
                                                .Add("Comic Sans MS", "Comic Sans MS")
                                                .Add("Courier New", "Courier New")
                                                .Add("Georgia", "Georgia")
                                            )
                                            .FontSize(size => size
                                            .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                            .Bold().Italic().Underline().Strikethrough()
                                            .SubScript().SuperScript()
                                            .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                            .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                            .TableEditing()
                                            .CustomTemplate(ct => ct.Template("<label for='templateTool' style='vertical-align:middle;'>Template Fields:</label> <select id='templateTool' style='width:200px;'><option value=''>none</option></select>"))
                                            .CustomTemplate(ct => ct.Template("<input type='button' value='Insert' class='k-primary k-button'  onclick='insertEditorTemplateField(\"AgendaFormat\", \"templateTool\");'>"))
                                            ))
                        </div>
                    </div>

                </div>

                <div id="tabResolutionTemplate_sub" class="tab-pane fade">

                    <div class="row hidden">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-12 colpadding0">
                                <lable class="control-label">Heading</lable>
                                @(Html.TextAreaFor(m => m.ResolutionFormatHeading, new { @class = "form-control k-textbox", style = "width: 100%; height:50px;", autocomplete = "off" }))
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 colpadding0">
                            <lable class="control-label">Text</lable>
                            @(Html.Kendo().EditorFor(m => m.ResolutionFormat)
                                            .HtmlAttributes(new { style = "height:250px" })
                                            .Encode(false)
                                            .Events(e => e.Paste("onPasteRemoveTag"))
                                            //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                            .Tools(tools => tools
                                            .Clear().Formatting()
                                            .FontName(fonts => fonts
                                                .Add("Andale Mono", "Andale Mono")
                                                .Add("Arial", "Arial")
                                                .Add("Arial Black", "Arial Black")
                                                .Add("Book Antiqua", "Book Antiqua")
                                                .Add("Bookman Old Style", "Bookman Old Style")
                                                .Add("Comic Sans MS", "Comic Sans MS")
                                                .Add("Courier New", "Courier New")
                                                .Add("Georgia", "Georgia")
                                            )
                                            .FontSize(size => size
                                            .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                            .Bold().Italic().Underline().Strikethrough()
                                            .SubScript().SuperScript()
                                            .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                            .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                            .TableEditing()
                                            .CustomTemplate(ct => ct.Template("<label for='templateTool' style='vertical-align:middle;'>Template Fields:</label> <select id='templateToolResolutionFormat' style='width:200px;'><option value=''>none</option></select>"))
                                            .CustomTemplate(ct => ct.Template("<input type='button' value='Insert' class='k-primary k-button'  onclick='insertEditorTemplateField(\"ResolutionFormat\", \"templateToolResolutionFormat\");'>"))
                                             )
                            )
                        </div>
                    </div>
                </div>

                <div id="tabMinutesTemplate_sub" class="tab-pane fade">

                    <div class="row">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-12 colpadding0">
                                <lable class="control-label">Heading</lable>
                                @(Html.TextAreaFor(m => m.MinutesFormatHeading, new { @class = "form-control k-textbox", style = "width: 100%; height:50px;", autocomplete = "off" }))
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12 colpadding0">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" id="mytabM1" href="#tabMiniteTemplate1">Approve/Recommended</a></li>
                                <li><a data-toggle="tab" id="mytabM2" href="#tabMiniteTemplate2">Disapprove/Not Recommended</a></li>
                                <li><a data-toggle="tab" id="mytabM3" href="#tabMiniteTemplate3">Defer</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tabMiniteTemplate1" class="tab-pane fade in active">
                                    @(Html.Kendo().EditorFor(m => m.MinutesFormat)
                                            .HtmlAttributes(new { style = "height:250px" })
                                            .Encode(false)
                                            .Events(e => e.Paste("onPasteRemoveTag"))
                                            //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                            .Tools(tools => tools
                                            .Clear().Formatting()
                                            .FontName(fonts => fonts
                                                .Add("Andale Mono", "Andale Mono")
                                                .Add("Arial", "Arial")
                                                .Add("Arial Black", "Arial Black")
                                                .Add("Book Antiqua", "Book Antiqua")
                                                .Add("Bookman Old Style", "Bookman Old Style")
                                                .Add("Comic Sans MS", "Comic Sans MS")
                                                .Add("Courier New", "Courier New")
                                                .Add("Georgia", "Georgia")
                                            )
                                            .FontSize(size => size
                                            .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                            .Bold().Italic().Underline().Strikethrough()
                                            .SubScript().SuperScript()
                                            .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                            .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                            .TableEditing()
                                            .CustomTemplate(ct => ct.Template("<label for='templateToolMinutesFormat' style='vertical-align:middle;'>Template Fields:</label> <select id='templateToolMinutesFormat' style='width:200px;'><option value=''>none</option></select>"))
                                            .CustomTemplate(ct => ct.Template("<input type='button' value='Insert' class='k-primary k-button'  onclick='insertEditorTemplateField(\"MinutesFormat\", \"templateToolMinutesFormat\");'>"))
                                             ))

                                </div>

                                <div id="tabMiniteTemplate2" class="tab-pane fade">
                                    @(Html.Kendo().EditorFor(m => m.MinutesDisApproveFormat)
                                                    .HtmlAttributes(new { style = "height:240px" })
                                                    .Encode(false)
                                                    .Events(e => e.Paste("onPasteRemoveTag"))
                                                    //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                    .Tools(tools => tools
                                                    .Clear().Formatting()
                                                    .FontName(fonts => fonts
                                                        .Add("Andale Mono", "Andale Mono")
                                                        .Add("Arial", "Arial")
                                                        .Add("Arial Black", "Arial Black")
                                                        .Add("Book Antiqua", "Book Antiqua")
                                                        .Add("Bookman Old Style", "Bookman Old Style")
                                                        .Add("Comic Sans MS", "Comic Sans MS")
                                                        .Add("Courier New", "Courier New")
                                                        .Add("Georgia", "Georgia")
                                                    )
                                                    .FontSize(size => size
                                                    .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                                    .Bold().Italic().Underline().Strikethrough()
                                                    .SubScript().SuperScript()
                                                    .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                                    .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                    .TableEditing()
                                                    .CustomTemplate(ct => ct.Template("<label for='templateTool' style='vertical-align:middle;'>Template Fields:</label> <select id='templateTooMinutesDisApproveFormat' style='width:200px;'><option value=''>none</option></select>"))
                                                    .CustomTemplate(ct => ct.Template("<input type='button' value='Insert' class='k-primary k-button'  onclick='insertEditorTemplateField(\"MinutesDisApproveFormat\", \"templateTooMinutesDisApproveFormat\");'>"))
                                                ))
                                </div>

                                <div id="tabMiniteTemplate3" class="tab-pane fade">
                                    @(Html.Kendo().EditorFor(m => m.MinutesDifferFormat)
                                                    .HtmlAttributes(new { style = "height:240px" })
                                                    .Encode(false)
                                                    .Events(e => e.Paste("onPasteRemoveTag"))
                                                    //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                    .Tools(tools => tools
                                                    .Clear().Formatting()
                                                    .FontName(fonts => fonts
                                                        .Add("Andale Mono", "Andale Mono")
                                                        .Add("Arial", "Arial")
                                                        .Add("Arial Black", "Arial Black")
                                                        .Add("Book Antiqua", "Book Antiqua")
                                                        .Add("Bookman Old Style", "Bookman Old Style")
                                                        .Add("Comic Sans MS", "Comic Sans MS")
                                                        .Add("Courier New", "Courier New")
                                                        .Add("Georgia", "Georgia")
                                                    )
                                                    .FontSize(size => size.
                                                    Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                                    .Bold().Italic().Underline().Strikethrough()
                                                    .SubScript().SuperScript()
                                                    .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                                    .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                    .TableEditing()
                                                    .CustomTemplate(ct => ct.Template("<label for='templateTool' style='vertical-align:middle;'>Template Fields:</label> <select id='templateToolMinutesDifferFormat' style='width:200px;'><option value=''>none</option></select>"))
                                                    .CustomTemplate(ct => ct.Template("<input type='button' value='Insert' class='k-primary k-button'  onclick='insertEditorTemplateField(\"MinutesDifferFormat\", \"templateToolMinutesDifferFormat\");'>"))
                                                ))
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="tabSEBITemplate" class="tab-pane fade">

                    <div class="row form-group">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" id="mytabS1" href="#tabSEBITemplate1">Intimation</a></li>
                                <li><a data-toggle="tab" id="mytabS2" href="#tabSEBITemplate2">Disclosure</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tabSEBITemplate1" class="tab-pane fade in active">
                                    @(Html.Kendo().EditorFor(m => m.SEBI_IntimationFormat)
                                                            .HtmlAttributes(new { style = "height:240px" })
                                                            .Encode(false)
                                                            .Events(e => e.Paste("onPasteRemoveTag"))
                                                            //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                            .Tools(tools => tools
                                                            .Clear().Formatting()
                                                            .FontName(fonts => fonts
                                                                .Add("Andale Mono", "Andale Mono")
                                                                .Add("Arial", "Arial")
                                                                .Add("Arial Black", "Arial Black")
                                                                .Add("Book Antiqua", "Book Antiqua")
                                                                .Add("Bookman Old Style", "Bookman Old Style")
                                                                .Add("Comic Sans MS", "Comic Sans MS")
                                                                .Add("Courier New", "Courier New")
                                                                .Add("Georgia", "Georgia")
                                                            )
                                                            .FontSize(size => size
                                                            .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                                            .Bold().Italic().Underline().Strikethrough()
                                                            .SubScript().SuperScript()
                                                            .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                                            .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                            .TableEditing()
                                                            .CleanFormatting()
                                                            .CustomTemplate(ct => ct.Template("<label for='templateToolSEBI_IntimationFormat' style='vertical-align:middle;'>Template Fields:</label> <select id='templateToolSEBI_IntimationFormat' style='width:200px;'><option value=''>none</option></select>"))
                                                            .CustomTemplate(ct => ct.Template("<input type='button' value='Insert' class='k-primary k-button'  onclick='insertEditorTemplateField(\"SEBI_IntimationFormat\", \"templateToolSEBI_IntimationFormat\");'>"))
                                                            ))
                                </div>

                                <div id="tabSEBITemplate2" class="tab-pane fade">
                                    @(Html.Kendo().EditorFor(m => m.SEBI_DisclosureFormat)
                                                            .HtmlAttributes(new { style = "height:240px" })
                                                            .Encode(false)
                                                            .Tools(tools => tools
                                                            .Clear().Formatting()
                                                            .FontName(fonts => fonts
                                                                .Add("Andale Mono", "Andale Mono")
                                                                .Add("Arial", "Arial")
                                                                .Add("Arial Black", "Arial Black")
                                                                .Add("Book Antiqua", "Book Antiqua")
                                                                .Add("Bookman Old Style", "Bookman Old Style")
                                                                .Add("Comic Sans MS", "Comic Sans MS")
                                                                .Add("Courier New", "Courier New")
                                                                .Add("Georgia", "Georgia")
                                                            )
                                                            .FontSize(size => size
                                                            .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                                            .Bold().Italic().Underline().Strikethrough()
                                                            .SubScript().SuperScript()
                                                            .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                                            .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                            .TableEditing()
                                                            .CleanFormatting()
                                                            .CustomTemplate(ct => ct.Template("<label for='templateToolSEBI_DisclosureFormat' style='vertical-align:middle;'>Template Fields:</label> <select id='templateToolSEBI_DisclosureFormat' style='width:200px;'><option value=''>none</option></select>"))
                                                            .CustomTemplate(ct => ct.Template("<input type='button' value='Insert' class='k-primary k-button'  onclick='insertEditorTemplateField(\"SEBI_DisclosureFormat\", \"templateToolSEBI_DisclosureFormat\");'>"))
                                                            ))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

            <!-- divSubAgendaEditor & divSubAgendaEditorCmd add hidden classes on _EditAgenda Partialview -->
            <div id="divSubAgendaEditorCmd" class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;">
                <button type="submit" value="update" class="k-primary k-button k-grid-update k-button-icontext">Update</button>
            </div>

            <div class="contextmenu contextmenu-visible" id="myContextMenu" style="left: 667px; top: 190px;display:none;">
                <ul>
                    <li class="menu-line">
                        <div>
                            <div class="k-window-titlebar k-header" style="margin-top: -32.92px;">&nbsp;<span class="k-window-title">Template Fields</span><div class="k-window-actions"><a role="button" href="#" class="k-window-action k-link" onclick="hideContextMenu()"><span role="presentation" class="k-icon k-i-close">Close</span></a></div></div>
                            <div style="visibility: visible; display: block;" data-role="window" class="k-window-content k-content" role="dialog" tabindex="0">
                                <fieldset class="col" style="margin-right:5px;">
                                    <legend class="amp-mb5"><label style="font-size:17px"></label></legend>

                                    <div><select id='templateToolParent' style='width:200px;'><option value=''>none</option></select></div>
                                    <div>
                                        &nbsp;
                                    </div>
                                    <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;">
                                        <button id="btninsertTemplateField" type="button" class="k-primary k-button" onclick='insertTemplateField("AgendaItemText", "templateToolParent");'>Insert</button>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <script>
                function showHideSEBIFormat() {

                    if ("@Model.EntityTypeId_" == "9" || "@Model.EntityTypeId_" == "10") {

                        if ("@Model.MeetingTypeId_" == "10" || "@Model.MeetingTypeId_" == "11" || "@Model.MeetingTypeId_" == "12") {
                            $("#mytabSEBIFormat").removeClass("hidden");
                        }
                        else {
                            $("#mytabSEBIFormat").addClass("hidden");
                        }
                    }
                    else {
                        $("#mytabSEBIFormat").addClass("hidden");
                    }
                }
            </script>

            <script>
                $(document).ready(function () {

                    showHideSEBIFormat();

                    templateFontName('tabAgendaTemplate_sub');
                    templateFontName('tabResolutionTemplate_sub');
                    templateFontName('tabMiniteTemplate1');
                    templateFontName('tabMiniteTemplate2');
                    templateFontName('tabMiniteTemplate3');
                    templateFontName('tabMiniteTemplate3');

                    templateFontName('tabSEBITemplate1');
                    templateFontName('tabSEBITemplate2');

                    loadTemplateMasterDropDownParent();
                });


                function loadTemplateMasterDropDownParent() {
                    templateToolsLoad("templateToolParent");
                    templateToolsLoad("templateTool");
                    templateToolsLoad("templateToolResolutionFormat");
                    templateToolsLoad("templateToolMinutesFormat");
                    templateToolsLoad("templateTooMinutesDisApproveFormat");
                    templateToolsLoad("templateToolMinutesDifferFormat");

                    templateToolsLoad("templateToolSEBI_IntimationFormat");
                    templateToolsLoad("templateToolSEBI_DisclosureFormat");
                }

                function templateFontName(e) {
                    var cb = $("#" + e + " select.k-fontName").data("kendoComboBox");
                    cb.setOptions({
                        template: "<span style='font-family: #: text #'>#: text #</span>"
                    });
                    cb.list.width(200);
                }

                function showContextMenu(x, y, cursorPosition) {
                    if (cursorPosition > 0) {
                        $("#hndCursorlocation").val(cursorPosition);
                    }
                    else {
                        $("#hndCursorlocation").val(0);
                    }
                    var wnd = $("#wndAddAgendaItem").data("kendoWindow");
                    var position = wnd.options.position;
                    $("#myContextMenu").css("position", "absolute");
                    $("#myContextMenu").css("display", "block");

                    $("#myContextMenu").css("left", x - position.left - 55);
                    if ($("#hndIsEditor").val() == "0") {
                        $("#myContextMenu").css("top", y - position.top + 15);
                    }
                    else {
                        $("#myContextMenu").css("top", y + 310);
                    }
                }

                function hideContextMenu() {
                    $("#myContextMenu").css("display", "none");
                }

                $("#AgendaItemText").contextmenu(function (e) {
                    e.preventDefault();
                    $("#hndCurrentCtrl").val("AgendaItemText");
                    $("#hndIsEditor").val("0");
                    var cursorPosition = $('#AgendaItemText').prop("selectionStart");
                    showContextMenu(e.pageX, e.pageY, cursorPosition);
                });

                $("#ResolutionFormatHeading").contextmenu(function (e) {
                    e.preventDefault();
                    $("#hndCurrentCtrl").val("ResolutionFormatHeading");
                    $("#hndIsEditor").val("0");
                    var cursorPosition = $('#ResolutionFormatHeading').prop("selectionStart");
                    showContextMenu(e.pageX, e.pageY, cursorPosition);
                });

                $("#MinutesFormatHeading").contextmenu(function (e) {
                    e.preventDefault();
                    $("#hndCurrentCtrl").val("MinutesFormatHeading");
                    $("#hndIsEditor").val("0");
                    var cursorPosition = $('#MinutesFormatHeading').prop("selectionStart");
                    showContextMenu(e.pageX, e.pageY, cursorPosition);
                });

                function templateToolsLoad(e) {

                    $("#" + e).kendoDropDownList({
                        dataSource: {
                            transport: {
                                read: {
                                    url: "@Url.Action("EditingCustom_Read", "Template", new { AgendaMasterId = Model.AgendaID })",
                                    dataType: "json",
                                    type: 'GET'
                                }
                            },
                            schema: {
                                data: "Data",
                                type: "json"
                            },
                            serverFiltering: false
                        },
                        dataTextField: "TemplateName",
                        dataValueField: "TemplateName",
                        value: 0,
                        index: 0,
                        change: function (e) {
                            //  $("#AgendaFormatSub").data("kendoEditor").body.innerHTML += " {{"+e.sender.value()+"}}";
                        }
                    });
                }

                function insertTemplateField(o, ddl) {
                    var curPosition = $("#hndCursorlocation").val();
                    o = $("#hndCurrentCtrl").val();

                    var ddltemplateToolParent = $("#" + ddl).data("kendoDropDownList");
                    var ddlval = " {{" + ddltemplateToolParent.value() + "}} ";

                    var txtAgenda = $("#" + o);
                    var val = txtAgenda.val();

                    if (curPosition <= txtAgenda.val().length) {
                        txtAgenda.val(val.substr(0, curPosition) + ddlval + val.substr(curPosition));

                        $("#hndCursorlocation").val((parseInt(curPosition) + ddlval.length));
                    }
                    else {
                        txtAgenda.val(txtAgenda.val() + ddlval);
                    }
                }

                function insertEditorTemplateField(o, ddl) {

                    var ddltemplateToolParent = $("#" + ddl).data("kendoDropDownList");
                    var val = ddltemplateToolParent.value();
                    if (val != "") {
                        $("#" + o).data("kendoEditor").exec("inserthtml", { value: " {{" + val + "}} " });
                    }
                }
            </script>
    }
</div>
