﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MeetingNoticeMailVM

@using (Ajax.BeginForm("EditNoticeMail", "Meetings", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divNoticeMailFormat", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmAddEditNoticeFormat" }))
{
    @(Html.HiddenFor(m => m.NoticeMailID))
    @(Html.HiddenFor(m => m.Type))
    @(Html.HiddenFor(m => m.IsShorter_))
    @(Html.HiddenFor(m => m.IsVirtualMeeting_))
    if (Model.Success)
    {
        <div class="row">
            <div class="col-md-12 colpadding0">
                <div class="alert alert-success alert-dismissible">
                    <button class="close" type="button" onclick="hideAlert();">×</button>
                    <lable>@Model.Message</lable>
                </div>
            </div>
        </div>
    }
    else if (Model.Error)
    {
        <div class="row">
            <div class="col-md-12 colpadding0" id="DiverrorI">
                <div class="alert alert-danger alert-dismissible">
                    <button class="close" type="button" onclick="hideAlert();">×</button>
                    <lable id="lblerrormsgI">@Model.Message</lable>
                </div>
            </div>
        </div>
    }

    <div>
        @(Html.Kendo().Tooltip()
                                                    .For("#btnInsertNoticeEditorTemplate")
                                                    .Position(TooltipPosition.Bottom)
                                                    .AutoHide(true)
                                                    .Content("Insert Template Field")
        )

        @(Html.Kendo().Tooltip()
                                                    .For("#btnNoticeMailPreview")
                                                    .Position(TooltipPosition.Bottom)
                                                    .AutoHide(true)
                                                    .Content("Mail Preview")
        )

        @(Html.Kendo().Tooltip()
                                                    .For("#command_name1")
                                                    .Position(TooltipPosition.Bottom)
                                                    .AutoHide(true)
                                                    .Content("Update")
        )

        @(Html.Kendo().Tooltip()
                                                    .For("#command_name")
                                                    .Position(TooltipPosition.Bottom)
                                                    .AutoHide(true)
                                                    .Content("Send")
        )
    </div>

    if (Model.IsVirtualMeeting_ == true)
    {
        <div class="row">
            <div class="col-md-12 colpadding0">

            </div>
        </div>
    }

    <div class="row">
        @if (Model.Type == "M")
        {
            if (Model.IsVirtualMeeting_ == true)
            {
                <div class="col-md-12 colpadding0">
                    <div class="col-md-1 colpadding0" style="width:12%">
                        <label class="control-label">Date</label><span style="color:red"></span>
                        @(Html.Kendo().DatePicker().Name("NoticeSendDate").Max(DateTime.Now).Format("dd/MM/yyyy")
                                                                                                            .HtmlAttributes(new { style = "width: 95%", @Id = "NoticeSendDate", onchange = "checkDate(this);", autocomplete = "off" }))
                        @Html.ValidationMessageFor(model => model.NoticeSendDate, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-1 colpadding0" style="width:10%">
                        <label class="control-label">Time</label><span style="color:red"></span>
                        @(Html.Kendo().TimePicker().Name("NoticeSendTime").Format("hh:mm tt").Min("9:00 AM").Max("8:30 AM")
                                                                                            .HtmlAttributes(new { style = "width: 85%", @Id = "NoticeSendTime", autocomplete = "off" }))
                    </div>

                    <div class="col-md-5 colpadding0">
                        <div style="margin-top: 20px;">
                            <label class='container1'>Notice @Html.RadioButtonFor(model => model.TemplateType, "N")<span class='checkmark1'></span></label>
                            <label class='container1'>Notice + Agenda @Html.RadioButtonFor(model => model.TemplateType, "AN")<span class='checkmark1'></span></label>
                        </div>
                    </div>
                </div>
            }
            else if (Model.IsShorter_ == true)
            {
                <div class="col-md-12 colpadding0">
                    <label class='container1'>Notice + Agenda @Html.RadioButtonFor(model => model.TemplateType, "AN")<span class='checkmark1'></span></label>
                    <input type='button' name='btnNoticeAgendaLog' value='Log' class='btn btn-primary' onclick="showNoticeAgendaLog(@Model.NoticeMailID)">
                </div>
            }
            else
            {
                <div class="col-md-12 colpadding0">
                    <label class='container1'>Notice @Html.RadioButtonFor(model => model.TemplateType, "N")<span class='checkmark1'></span></label>
                    <label class='container1'>Agenda @Html.RadioButtonFor(model => model.TemplateType, "A")<span class='checkmark1'></span></label>
                    <label class='container1'>Notice + Agenda @Html.RadioButtonFor(model => model.TemplateType, "AN")<span class='checkmark1'></span></label>
                    <input type='button' name='btnNoticeAgendaLog' value='Log' class='btn btn-primary' onclick="showNoticeAgendaLog(@Model.NoticeMailID)">
                </div>
            }
        }
        else
        {
            if (Model.IsVirtualMeeting_ == true)
            {
                <div class="col-md-12 colpadding0">
                    <div class="col-md-1 colpadding0" style="width:12%">
                        <label class="control-label">Date</label><span style="color:red"></span>
                        @(Html.Kendo().DatePicker().Name("NoticeSendDate").Min(DateTime.Now).Format("dd/MM/yyyy")
                                                                                                            .HtmlAttributes(new { style = "width: 95%", @Id = "NoticeSendDate", onchange = "checkDate(this);", autocomplete = "off" }))
                        @Html.ValidationMessageFor(model => model.NoticeSendDate, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-1 colpadding0" style="width:10%">
                        <label class="control-label">Time</label><span style="color:red"></span>
                        @(Html.Kendo().TimePicker().Name("NoticeSendTime").Format("hh:mm tt").Min("9:00 AM").Max("8:30 AM")
                                                                                            .HtmlAttributes(new { style = "width: 95%", @Id = "NoticeSendTime", autocomplete = "off" }))
                    </div>
                </div>
            }
            @(Html.HiddenFor(m => m.TemplateType, new { @value = "C" }))
        }
    </div>

    <div class="row" style="margin-top:10px;">
        <div class="col-md-12 colpadding0">

            @(Html.Kendo().EditorFor(m => m.NoticeMail)
                                                           .HtmlAttributes(new { style = "height:350px" })
                                                           .Encode(false)
														   .Events(e => e.Paste("onPasteRemoveTag"))	
                                                           .Tools(tools => tools
                                                            .CustomTemplate(ct => ct.Template("<label for='templateToolNotice' class='' style='vertical-align:middle;'>Fields:</label> <select id='templateToolNotice'class='' style='width:280px;'>" +
                                                            "<option value='{{ Letter Head of the Company }}'>Letter Head of the Company</option>" +
                                                            "<option value='{{ Name of the Company }}'>Name of the Company</option>" +
                                                            "<option value='{{ CIN of the Company }}'>CIN of the Company</option>" +
                                                            "<option value='{{ Registered office Address }}'>Registered office Address</option>" +
                                                            "<option value='{{ Name of the Director }}'>Name of the Director</option>" +
                                                            "<option value='{{ Designation in the Company }}'>Designation in the Company</option>" +
                                                            "<option value='{{ Today }}'>Today's Date</option>" +
                                                            "<option value='{{ No. of the Meeting }}'>No. of the Meeting</option>" +
                                                            "<option value='{{ Type of Meeting }}'>Type of Meeting</option>" +
                                                            "<option value='{{ Notice Date }}'>Notice Date</option>" +
                                                            "<option value='{{ Meeting Date }}'>Meeting Date</option>" +
                                                            "<option value='{{ Meeting Time }}'>Meeting Time</option>" +
                                                            "<option value='{{ Meeting Venue }}'>Meeting Venue</option>" +
                                                            "<option value='{{ Quarter }}'>Quarter</option>" +
                                                            "<option value='{{ Quarter End Date }}'>Quarter End Date</option>" +
                                                            //"<option value='{{ Corporate office Address }}'>Corporate office Address</option>" +
                                                            //"<option value='{{ Name of Company Secretary/Director }}'>Name of Company Secretary/Director</option>" +
                                                            "<option value='{{ AgendaList }}'>Agenda List</option>" +
                                                            "</select>"
                                                            ))
                                                              .CustomTemplate(ct => ct.Template("<input type='button' id='btnInsertNoticeEditorTemplate' value='Insert' class='btn btn-primary'  onclick='insertEditorTemplateFieldNotice();'>"))
                                                              .CustomTemplate(ct => ct.Template("<input type='button' id='btnNoticeMailPreview' name='btnNoticeMailPreview' value='Preview' class='btn btn-primary '>"))
                                                              .CustomTemplate(ct => ct.Template("<input type='button' id='btnNoticeMailDownload' name='btnNoticeMailDownload' value='Download' class='btn btn-primary '>"))
                                                        )
            )

        </div>
    </div>


    @(Html.Kendo().Window().Name("wndAvailabilityMailPreview").Title("Preview").Visible(false).Modal(true).Draggable(true).Scrollable(true)
                                    .Content(@<text>
                                        @(Html.Kendo().Editor().Name("AvailabilityMailPreview")
                                                                                                                   .HtmlAttributes(new { style = "height:570px" })
                                                                                                                   .Encode(false)
                                                                                                                   .Tools(t => t.Clear())
                                        )
                                    </text>)
    )

    //if (Convert.ToBoolean(Model.IsNoticeSent) != true)
    //{
    <div class="text-center mt30">
        <button type="Submit" id="command_name1" name="command_name" value="save" class="btn btn-primary">Update</button>
        @if (Model.IsVirtualMeeting_ == true)
        {
            @*<button type="Submit" id="btnSendNotice" name="command_name" value="send" class="btn btn-primary">Finalise</button>*@
            <button type="button" value="save" onclick="checkParticipantScheduledMeetings()" class="btn btn-primary">Finalise</button>
        }
        else
        {
            @*<button type="Submit" id="btnSendNotice" name="command_name" value="send" class="btn btn-primary">Send</button>*@
            <button type="button" value="save" onclick="checkParticipantScheduledMeetings()" class="btn btn-primary">Send</button>
        }
    </div>
    //}

    <script>
        $(document).ready(function () {
            debugger;
            if ("@Model.IsSummit" == "True") {
                var direction = "@Url.Action("Meeting_Edit", "Meetings", new { MeetingId = Model.NoticeMailID })";
                OnOpen();
                showMeetingPopup(direction);
            } else {
                if ("@Model.FillPostpondedOptions" == "True") {
                    $('#templateToolNotice').append('<option value="{{ Previous Meeting Date }}">Previous Meeting Date</option>');
                    $('#templateToolNotice').append('<option value="{{ Previous Meeting Time }}">Previous Meeting Time</option>');
                    $('#templateToolNotice').append('<option value="{{ Previous Meeting Venue }}">Previous Meeting Venue</option>');
                }

                $("#templateToolNotice").kendoDropDownList({});
            }
        });

        function insertEditorTemplateFieldNotice() {
            debugger;
            var ddltemplateToolParent = $("#templateToolNotice").data("kendoDropDownList");
            var val = ddltemplateToolParent.value();
            if (val != "") {
                $("#NoticeMail").data("kendoEditor").exec("inserthtml", { value: " " + val + " " });
            }
        }

        function OpenNoticeMailPreview(response) {

            $($('#AvailabilityMailPreview').data().kendoEditor.body).attr('contenteditable', false);
            $("#AvailabilityMailPreview").data("kendoEditor").body.innerHTML = response.NoticeMail;

            var wnd = $("#wndAvailabilityMailPreview").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndAvailabilityMailPreview").kendoWindow({
                actions: ["Close"],
                width: "65%",
                visible: false,
                modal: true,
                refresh: function () { this.center(); },
                open: function () { },
                close: function (e) {
                }
            }).data("kendoWindow");

            opts.width = "65%";
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();

        }

        $("#btnNoticeMailPreview").click(function () {
            debugger;
            var meetingNoticeMailVM = new Object();
            meetingNoticeMailVM.NoticeMailID = "@Model.NoticeMailID";
            meetingNoticeMailVM.NoticeMail = $("#NoticeMail").data("kendoEditor").body.innerHTML;
            meetingNoticeMailVM.Type = "@Model.Type";
            if (meetingNoticeMailVM != null) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("NoticeMailPreview", "Meetings")",
                    data: JSON.stringify(meetingNoticeMailVM),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        debugger;
                        if (response != null) {
                            OpenNoticeMailPreview(response);
                        } else {
                            alert("Something went wrong");
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
        });

        $(document).on("change", "input[name='TemplateType1']", function () {
            alert(" value = " + this.value);

            var meetingNoticeMailVM = new Object();
            meetingNoticeMailVM.NoticeMailID = "@Model.NoticeMailID";
            meetingNoticeMailVM.TemplateType = this.value;
            $.ajax({
                type: "POST",
                url: "@Url.Action("NoticeAgendaTemplate", "Meetings")",
                data: JSON.stringify(meetingNoticeMailVM),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    debugger;
                    if (response != null) {
                        $("#NoticeMail").data("kendoEditor").body.innerHTML = response.NoticeMail;
                    } else {
                        alert("Something went wrong");
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });

        $("#btnNoticeMailDownload").click(function () {
            window.location.href = "@Url.Action("DownloadNoticeDocument", "Meetings")" +"?meetingId=" + "@Model.NoticeMailID";
        });

        function checkParticipantScheduledMeetings() {
            debugger;
            $.ajax({
                type: "POST",
                url: "@Url.Action("CheckParticipantScheduledMeetings", "Meetings")",
                data: "{meetingId : '@Model.NoticeMailID'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    debugger;
                    if (response != null) {
                        if (response.IsOtherMeetingScheduled == true) {
                            showParticipantScheduleMeetingsWindow(response.lstMeetingList)
                        }
                        else {
                            sendNoticeFromParticipantWindow();
                        }
                    } else {
                        alert('Something went wrong.');
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        function showParticipantScheduleMeetingsWindow(data) {
            $("#wndParticipantScheduleMeetings").attr("style", "min-height:400px;");

            var wnd = $("#wndParticipantScheduleMeetings").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndParticipantScheduleMeetings").kendoWindow({
                pinned: true,
                actions: [
                    "Pin",
                    "Minimize",
                    "Maximize",
                    "Close"
                ],
                width: "75%",
                position: {
                    top: 100,
                },
                visible: false,
                modal: true,
                refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
                open: function () { kendo.ui.progress(this.element, true); },
                close: function (e) {
                },
            }).data("kendoWindow");
            opts.width = "75%";

            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
            wnd.refresh();

            bindParticipantScheduleMeetingsGrid(data);
        }

        function bindParticipantScheduleMeetingsGrid(d) {
            var ds = new kendo.data.DataSource({
                data: d,
                pageSize: 10
            });

            var grid = $("#gridParticipantScheduleMeetings").kendoGrid({
                pageable: {
                    alwaysVisible: false,
                    pageSizes: [5, 10, 20, 100]
                },
                dataBound: function (e) {
                    var grid = $("#gridParticipantScheduleMeetings").data("kendoGrid");
                    var data = grid.dataSource.data();
                    $.each(data, function (i, row) {
                        $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");
                    });
                },
                columns: [
                    { field: "CompanyName", title: "Company", width : "25%" },
                    { field: "MeetingTitle", title: "Meeting", width: "35%" },
                    { field: "MeetingTime", title: "Time", width: "10%" },
                    { field: "ParticipantName", title: "Participant", width: "30%" },
                ],
                dataSource: ds,
                editable: false,
                groupable: false,
            });
        }

        function closeParticipantWindow() {
            $("#wndParticipantScheduleMeetings").data("kendoWindow").close();
        };

        function sendNoticeFromParticipantWindow() {
            closeParticipantWindow();
            $("#frmAddEditNoticeFormat").attr(
                            "action",
                            "@Url.Action("EditNoticeMail", "Meetings", new { command_name= "send" })"
                        ).submit();
        }
    </script>
}