﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MeetingDetailsVM

<div id="divAddEditMeetingOtherDetails">
    @using (Ajax.BeginForm("SaveMeetingOtherDetails", "Meetings", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divAddEditMeetingOtherDetails", OnBegin = "OnOpenUIForm", OnComplete = "OnRefreshUIForm" }, new { id = "frmAddEditMeetingOtherDetails" }))
    {
    <div>
        @Html.HiddenFor(k => k.MeetingsDetails_MeetingId)
        @Html.HiddenFor(k => k.MeetingsDetailsId)
        @Html.HiddenFor(k => k.MeetingsDetails_EntityId)

    </div>
        if (Model.Success)
        {
            <div class="row">
                <div class="col-md-12 colpadding0" id="DivsuccessI">
                    <div class="alert alert-success alert-dismissible">
                        <button class="close" type="button" onclick="hideAlert();">×</button>
                        <lable id="lblsuccessI">@Html.Raw(Model.Message)</lable>
                    </div>
                </div>
            </div>
        }
        else if (Model.Error)
        {
            <div class="row">
                <div class="col-md-12 colpadding0" id="DiverrorI">
                    <div class="alert alert-danger alert-dismissible">
                        <button class="close" type="button" onclick="hideAlert();">×</button>
                        <lable id="lblerrormsgI">@Html.Raw(Model.Message)</lable>
                    </div>
                </div>
            </div>
        }

        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <div class="col-md-12 colpadding0">
                    <span style="color:red"></span><label class="control-label">Name</label><br />
                    @(Html.Kendo().DropDownListFor(model => model.SigningAuthorityId)
                                    .DataValueField("ID")
                                    .DataTextField("Name")
                                    .Filter(FilterType.Contains)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/DirectorMasterAPI/BOD?EntityId=" + Model.MeetingsDetails_EntityId).Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(false);
                                    })
                                    .HtmlAttributes(new { style = "width: 85%;" }))

                </div>
            </div>
        </div>

        <div>
            <div class="k-edit-buttons k-state-default mt30" style="background:!important;background:none;width:100%;">
                <button type="submit" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                var validator1 = $("#frmAddEditMeetingOtherDetails").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
            });
        </script>
    }
</div>