﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Meeting_NewVM
 <div id="divDetailsOfMeetingCreate">
     <script>
    function FilterType() {
        
        var type = document.getElementById("Type");
        var entity_Id = $('#Entityt_Id').val();
        if ((entity_Id > 0) == false) {
            entity_Id = -1;
        }

        if (type.checked == true) {
            return {
                Type: "M", entityID: entity_Id
            }
        }
        else {
            return {
                Type: "C", entityID: $('#Entityt_Id').val()
            }
        }
    }
     </script>

     <script type="text/javascript">
    $(document).on("change", "input[name='Type']", function () {
        
        $("#MeetingTypeId").data("kendoDropDownList").dataSource.read();
        if (this.value == "M") {

            $("#divQuarter").removeClass("hidden");
            $("#divIsShorter").removeClass("hidden");
        }
        else if (this.value == "C") {
            $("#divQuarter").addClass("hidden");
            $("#divIsShorter").addClass("hidden");
        }

    });
     </script>

        @using (Ajax.BeginForm("CreateMeeting", "Meetings", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divDetailsOfMeetingCreate", OnBegin = "OnOpen", OnComplete = "OnRefreshNewMeeting" }, new { id = "frmAddEditMeetingNew" }))
        {
            <div style="width:520px; max-height:350px;overflow-y:auto;overflow-x:hidden">

         @if (Model.Success)
         {
             <div class="row">
                 <div class="col-md-12 colpadding0" id="DivsuccessI">
                     <div class="alert alert-success alert-dismissible">
                         <button class="close" type="button" onclick="hideAlert();">×</button>
                         <lable id="lblsuccessI">@Html.Raw(Model.Message)</lable>
                     </div>
                 </div>
             </div>
         }
         else if (Model.Error)
         {
             <div class="row">
                 <div class="col-md-12 colpadding0" id="DiverrorI">
                     <div class="alert alert-danger alert-dismissible">
                         <button class="close" type="button" onclick="hideAlert();">×</button>
                         <lable id="lblerrormsgI">@Html.Raw(Model.Message)</lable>
                     </div>
                 </div>
             </div>
         }

         <div class="row mt30">
             <div class="col-md-12">
                 <div class="col-md-3">
                     <span style="color:red">*</span><lable class="control-label">Select</lable>
                 </div>
                 <div class="col-md-7 colpadding0">

                     @*<label class='container1'>Meeting
                    <input id='Type' name='Type' checked='checked' style='margin-left:0.5em;' type='radio' value='M' class='k-radio'>
                    <span class='checkmark1'></span></label>

                    <label class='container1'>
                        Circular
                        <input id='Type' name='Type' style='margin-left:0.5em;' type='radio' value='C' class='k-radio'>
                        <span class='checkmark1'></span>
                    </label>*@

                     <label class='container1'>Meeting @Html.RadioButtonFor(model => model.Type, "M", new { @checked = "checked" })<span class='checkmark1'></span></label>
                     <label class='container1'>Circular @Html.RadioButtonFor(model => model.Type, "C")<span class='checkmark1'></span></label>
                     @*@(Html.Kendo().RadioButtonFor(m => m.Type).Label("Meeting").Checked(true).Value("M").HtmlAttributes(new { @Id = "Type" })) &nbsp; &nbsp;
                    @(Html.Kendo().RadioButtonFor(m => m.Type).Label("Circular").Value("C").HtmlAttributes(new { @Id = "Type" }))
                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })*@
                 </div>
             </div>
         </div>

         <div class="row mt30">
             <div class="col-md-12">
                 <div class="col-md-3">
                     <span style="color:red">*</span><lable class="control-label">Entity</lable>
                 </div>
                 <div class="col-md-7 colpadding0">
                     @(Html.Kendo().DropDownListFor(model => model.Entityt_Id)
                                 .DataValueField("Id")
                                 .DataTextField("EntityName")
                                 .OptionLabel("Select Entity")
                                 .DataSource(source =>
                                 {
                                     source.Read(read =>
                                     {
                                         read.Url("/api/EntityMasterAPI/GetAllEntityMasterForMeetingNew").Type(HttpVerbs.Get);
                                     }).ServerFiltering(false);
                                 }).HtmlAttributes(new { style = "width: 95%;", onchange = "ddlEntity_changed(this)" }))

                 </div>
             </div>
         </div>

         <div class="row mt30">
             <div class="col-md-12">
                 <div class="col-md-3">
                     <span style="color:red">*</span><lable class="control-label">Type</lable>
                 </div>
                 <div class="col-md-7 colpadding0">
                     @(Html.Kendo().DropDownList()
                             .Name("MeetingTypeId")
                             .ValuePrimitive(true)
                             .DataValueField("Id")
                             .DataTextField("MeetingTypeName")
                             .OptionLabel("Select")
                             .DataSource(source =>
                             {
                                 source.Read(read =>
                                 {
                                             //read.Url("/api/MeetingAPI/GetMeetingType").Data("FilterType").Type(HttpVerbs.Get);
                                             read.Url("/api/CommitteeCompAPI/GetMeetingTypeByEntity").Data("FilterType").Type(HttpVerbs.Get);
                                 }).ServerFiltering(false);
                             }).HtmlAttributes(new { style = "width: 95%;", onchange = "ddlMeetingTypeId_changed()" })
                     )
                 </div>
             </div>
         </div>

         <div id="divFY" class="row mt30">
             <div class="col-md-12">
                 <div class="col-md-3">
                     <span style="color:red">*</span><lable class="control-label">Financial Year</lable>
                 </div>
                 <div class="col-md-7 colpadding0">
                     @(Html.Kendo().DropDownListFor(model => model.FYID)
                                 .OptionLabel("Select FY")
                             .ValuePrimitive(true)
                             .DataValueField("FYID")
                             .DataTextField("FYText")
                             .HtmlAttributes(new { style = "width: 95%;" })
                     )
                 </div>
             </div>
         </div>

         <div id="divQuarter" class="row mt30">
             <div class="col-md-12">
                 <div class="col-md-3">
                     <span style="color:red"></span><lable class="control-label">&nbsp;Quarter</lable>
                 </div>
                 <div class="col-md-7 colpadding0">
                     @Html.Kendo().DropDownListFor(model => model.Quarter_).BindTo(new SelectList(new List<object> {
                                         new {id="Q1",text="Q1"},
                                         new {id="Q2",text="Q2"},
                                         new {id="Q3",text="Q3"},
                                         new {id="Q4",text="Q4"},
                                         new {id="",text="Other"},
                                         }, "id", "text")).HtmlAttributes(new { style = "width: 95%;" })
                 </div>
             </div>
         </div>

         <div id="divIsShorter" class="row mt30">
             <div class="col-md-12">
                 <div class="col-md-3">
                     <span style="color:red"></span><lable class="control-label">Notice</lable>
                 </div>
                 <div class="col-md-7 colpadding0">
                     <label class='container1'>
                         Regular
                         <input id='IsShorter' name='IsShorter' type='radio' value='false' checked='checked'>
                         <span class='checkmark1'></span>
                     </label>
                     <label class='container1' style="margin-left:6px;">
                         Shorter
                         <input id='IsShorter' name='IsShorter' type='radio' value='true'>
                         <span class='checkmark1'></span>
                     </label>
                     @*@(Html.Kendo().RadioButtonFor(m => m.IsShorter).Label("Shorter Notice").Checked(true).Value("true").HtmlAttributes(new { @Id = "IsShorter" })) &nbsp; &nbsp;
                    @(Html.Kendo().RadioButtonFor(m => m.IsShorter).Label("Regular Notice").Value("false").HtmlAttributes(new { @Id = "IsShorter" }))*@
                     @Html.ValidationMessageFor(model => model.IsShorter, "", new { @class = "text-danger" })
                 </div>
             </div>
         </div>

         <div class="row mt30">
             <div class="col-md-12">
                 <div class="col-md-3">
                     <span style="color:red"></span><lable class="control-label">e-Meeting</lable>
                 </div>
                 <div id="divDefaultVirtualMeetingFalse" class="col-md-7 colpadding0">
                     <label class='container1'>
                         Yes
                         <input id='IsVirtualMeeting_true' name='IsVirtualMeeting' type='radio' value='true'>
                         <span class='checkmark1'></span>
                     </label>
                     <label class='container1' style="margin-left:30px;">
                         No
                         <input id='IsVirtualMeeting_false' name='IsVirtualMeeting' type='radio' value='false' checked='checked'>
                         <span class='checkmark1'></span>
                     </label>

                     @Html.ValidationMessageFor(model => model.IsVirtualMeeting, "", new { @class = "text-danger" })
                 </div>


                 <div id="divDefaultVirtualMeetingTrue" class="col-md-7 colpadding0 hidden">
                     <label class='container1'>
                         Yes
                         <input name='IsVirtualMeeting1' type='radio' value='true' checked='checked' disabled="disabled">
                         <span class='checkmark1'></span>
                     </label>
                     <label class='container1' style="margin-left:30px;">
                         No
                         <input name='IsVirtualMeeting1' type='radio' value='false' disabled="disabled">
                         <span class='checkmark1'></span>
                     </label>
                 </div>
             </div>
         </div>

         <div class="row colpadding0 mt30">
             <div class="col-md-12 colpadding0">
                 <div class="text-center">
                     <button type="Submit" id="command_name" name="command_name" value="save" class="btn btn-primary">Save</button>
                 </div>
             </div>
         </div>
     </div>
      
        }

     <script>
    function ddlMeetingTypeId_changed() {
        
        var Type1 = $("input:radio[name=Type]:checked").val();

        var ddlEntityt_Id = $("#Entityt_Id").data("kendoDropDownList");
        var ddlMeetingTypeId = $("#MeetingTypeId").data("kendoDropDownList");
        var ddlQuarter_ = $("#Quarter_").data("kendoDropDownList");

        //if (ddlEntityt_Id.value() > 0 && ddlMeetingTypeId.value() == 10 && Type1 == "M") {
        if (ddlEntityt_Id.value() > 0 && Type1 == "M") {
            var index = ddlEntityt_Id.selectedIndex;
            if (ddlEntityt_Id.dataItem(index).Entity_Type == 10 && (ddlMeetingTypeId.value() != 11 && ddlMeetingTypeId.value() != 12)) {
                $("#divQuarter").removeClass("hidden");
                ddlQuarter_.value("");
            }
            else {
                $("#divQuarter").addClass("hidden");
            }
        }
        else {
            $("#divQuarter").addClass("hidden");
        }
    }
     </script>

     <script>
         var validator1 = $("#frmAddEditMeetingNew").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

    $(window).bind("load", function () {
        alert("load");
    });

    $(window).load(function () {
        // page is fully loaded, including all frames, objects and images
        alert("window is loaded");
    });

    $(document).ready(function () {
        $('input[id="Type"]').each(function () {
            $(this).bind("click", function () {
                rbType_Changed($(this).val());
            });
        });

        

        var rbTypeValue = $("input[name='Type']:checked").val();
        var entityID = $("#Entityt_Id").val();

        if (entityID != 0 && entityID != null && entityID != undefined) {
            BindMeetingTypeDropDown(rbTypeValue, entityID);
            BindFinancialYear_DropDown(entityID);
        }
    });

    //function ddlMeetingTypeId_changed() {
    //    var ddlMeetingTypeId = $("#MeetingTypeId").data("kendoDropDownList");
    //    var ddlQuarter_ = $("#Quarter_").data("kendoDropDownList");

    //    if (ddlMeetingTypeId.value() == 10) {
    //        $("#divQuarter").removeClass("hidden");
    //        ddlQuarter_.value("");
    //    }
    //    else {
    //        $("#divQuarter").addClass("hidden");
    //    }
    //}

    function rbType_Changed(type) {
        BindMeetingTypeDropDown(type, $("#Entityt_Id").val());
    }

    function ddlEntity_changed() {
        debugger;
        var ddlEntityId = $("#Entityt_Id").data("kendoDropDownList");
        var entityID = $("#Entityt_Id").val();
        var index = ddlEntityId.selectedIndex;
        if (ddlEntityId.dataItem(index).DefaultVirtualMeeting == true) {
            $("#IsVirtualMeeting_true")[0].checked = true;

            $("#divDefaultVirtualMeetingTrue").removeClass("hidden");
            $("#divDefaultVirtualMeetingFalse").addClass("hidden");
        }
        else {
            $("#IsVirtualMeeting_false")[0].checked = true;

            $("#divDefaultVirtualMeetingTrue").addClass("hidden");
            $("#divDefaultVirtualMeetingFalse").removeClass("hidden");
        }

        if ((entityID > 0) == false) {
            entityID = -1;
        }

        ddlMeetingTypeId_changed();
        var rbTypeValue = $("input[name='Type']:checked").val();

        BindMeetingTypeDropDown(rbTypeValue, entityID);
        BindFinancialYear_DropDown(entityID);
    }

    function BindMeetingTypeDropDown(type, entityID) {

        if ((entityID > 0) == false){
            entityID = -1;
        }

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/api/CommitteeCompAPI/GetMeetingTypeByEntity?Type=" + type + "&entityID=" + entityID,
                }
            }
        });

        var ddl = $('#MeetingTypeId').data("kendoDropDownList");

        ddl.setDataSource(dataSource);
        ddl.refresh();
    }

    function BindFinancialYear_DropDown(entityID) {
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/api/ConfigurationMasterAPI/GetFYListByEntityID?EntityID=" + entityID,
                }
            }
        });

        var ddl = $('#FYID').data("kendoDropDownList");
        ddl.setDataSource(dataSource);
        ddl.refresh();
    }
     </script>
    </div>