﻿<!DOCTYPE html>
<html>
<head>
    <link href="~/select2/select2.min.css" rel="stylesheet" />
    <link href="~/content/bootstrap.css" rel="stylesheet" />
    <link href="~/content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.common.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.rtl.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.silver.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="~/content/datepicker3.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../Newjs/jquery-1.12.4.min.js"></script>
    <script src="~/masters/bootstrap.min.js"></script>
    <script src="~/select2/select2.min.js"></script>
    <script src="~/select2/select2.full.js"></script>
    <script src="~/scripts/anjular(1.5.0).min.js"></script>
    <script src="~/masters/angular.js"></script>
    <script src="~/scripts/angular.js"></script>
    <script src="~/scripts/angular.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/scripts/date.js"></script>
    <script src="~/masters/dirpagination.js"></script>
    <script type="text/javascript" src="../../Newjs/kendo.all.min.js"></script>
    <script type="text/javascript" src="../../Newjs/jszip.min.js"></script>

    <style type="text/css">
        .select2-container--default .select2-selection--multiple:before {
            content: ' ';
            display: block;
            position: absolute;
            border-color: #888 transparent transparent transparent;
            border-style: solid;
            border-width: 5px 4px 0 4px;
            height: 0;
            right: 6px;
            margin-left: -4px;
            margin-top: -2px;
            top: 50%;
            width: 0;
            cursor: pointer;
        }

        .select2-container--open .select2-selection--multiple:before {
            content: ' ';
            display: block;
            position: absolute;
            border-color: transparent transparent #888 transparent;
            border-width: 0 4px 5px 4px;
            height: 0;
            right: 6px;
            margin-left: -4px;
            margin-top: -2px;
            top: 50%;
            width: 0;
            cursor: pointer;
        }

        .div.k-grid-footer, div.k-grid-header {
            border-top-style: solid;
            border-top-width: 1px;
        }

        .k-grid-content {
            min-height: 394px !important;
        }

        html {
            color: #666666;
            font-size: 15px;
            font-weight: normal;
            font-family: 'Roboto',sans-serif;
        }

        .k-checkbox-label, .k-radio-label {
            display: inline;
        }

        .myKendoCustomClass {
            z-index: 999 !important;
        }

        .k-header .k-grid-toolbar {
            background: white;
            float: left;
            width: 100%;
        }

        .k-grid td {
            line-height: 1.0em;
        }

        .k-i-more-vertical:before {
            content: "\e006";
        }

        .k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
            background-color: #1fd9e1;
            background-image: none;
        }

        k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
            color: #000000;
            border-color: #1fd9e1;
            background-color: #f6f6f6;
        }

        #grid .k-grid-toolbar {
            background: white;
        }


        .k-pager-wrap > .k-link > .k-icon {
            margin-top: 0px;
            color: inherit;
        }

        .toolbar {
            float: left;
        }

        html .k-grid tr:hover {
            background: #E4F7FB;
        }

        html .k-grid tr.k-alt:hover {
            background: #E4F7FB;
            min-height: 30px;
        }

        .k-grid tbody .k-button {
            min-width: 30px;
            min-height: 30px;
            border-radius: 35px;
        }

        .k-button-icontext .k-icon, .k-button-icontext .k-image, .k-button-icontext .k-sprite {
            margin-right: 0px;
            margin-right: 0px;
            margin-left: 0px;
            margin-left: 0px;
        }

        .k-auto-scrollable {
            overflow: hidden;
        }

        .k-grid-header {
            padding-right: 0px !important;
        }

        .k-multicheck-wrap .k-item {
            line-height: 1.2em;
            font-size: 14px;
            margin-bottom: 5px;
        }

        label {
            display: inline-block;
            margin-bottom: 0px;
        }

        .k-filter-menu .k-button {
            width: 27%;
        }

        .k-label input[type="checkbox"] {
            margin: 0px 5px 0 !important;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            font-size: 15px;
            background: #f8f8f8;
            font-family: 'Roboto',sans-serif;
            color: #2b2b2b;
            font-weight: 400;
        }

        .k-primary {
            border-color: #1fd9e1;
            background-color: #1fd9e1;
        }

        .k-pager-wrap {
            background-color: #f8f8f8;
            color: #2b2b2b;
        }

        td.k-command-cell {
            border-width: 0 1px 0 1px;
        }

        .k-grid-pager {
            border-width: 1px 1px 1px 1px;
        }

        span.k-icon.k-i-calendar {
            margin-top: 6px;
        }

        .col-md-2 {
            width: 20%;
        }

        .k-filter-row > th:first-child, .k-grid tbody td:first-child, .k-grid tfoot td:first-child, .k-grid-header th.k-header:first-child {
            border-left-width: 1px;
            line-height: 14px;
        }

        .k-grid tbody tr {
            height: 38px;
        }
    </style>
    <script>

        var app = angular.module("KendoDemos", ['angularUtils.directives.dirPagination', "kendo.directives"]);
        angular.element(document).ready(function () {
            //angular.bootstrap(document, ["app"]);
        })


        app.controller("MyCtrl", function ($scope, $http, $timeout, $window, $filter) {
            $scope.DisplayForm = true;
            $scope.addplus = false;
            $scope.addminus = true;
            $scope.editminus = false;
            $scope.tables = true;                       
            $.post("/FinanceRecovery/getAllExpenseRecoveryDetails/", function (r) {             
                $scope.recoveries = [];
                for (var i = 0; i < r.length; i++) {
                    var app = {};
                    app.CustomerName = r[i].CustomerName;
                    app.Amount = r[i].Amount;
                    app.TransactionSerial = r[i].TransactionSerial;
                    $scope.recoveries.push(app);
                }
                $scope.$apply();
            });
            $scope.form = false;
            $scope.editminus = false;
            $scope.tabs = false;
            $scope.addplus = true;
            $scope.addminus = false;
            $scope.tables = false;
            $scope.ShowLoader = false;            
            $scope.sort = function (keyname) {
                $scope.sortKey = keyname;
                $scope.reverse = !$scope.reverse;
            }           
        });
    </script>
</head>
<body>
    <div class="container">
        <div id="example" ng-app="KendoDemos">
            <div ng-controller="MyCtrl">
                <div style="padding-top:10px"></div>

                <div class="alert alert-danger" ng-show="DeleteAlert" ng-model="delete">
                    <strong>{{delete}}</strong>
                </div>
                <div class="alert alert-success" ng-show="AddAlert" ng-model="add">
                    <strong>{{msg}}</strong>
                </div>
                <div class="alert alert-info" ng-show="EditAlert" ng-model="edit">
                    <strong>{{msg}}</strong>
                </div>

                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4" style="margin-left:-18px;display:inline-block">
                                <h1 class="modal-title" style="text-align:left;height: 30px;font-size: 16px;"><b>Finance Approval Details</b></h1>
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                </form>


                <div class="modal-body">
                    <div id="wrapper" class="clearfix" scroll-bookmark="bookmark">
                        <form name="userForm" novalidate ng-show="(recoveries).length>0">
                            <div class="col-md-12">
                                <div>
                                    <div id="table">
                                        <div class="table-responsive " style="" scroll-bookmark="bookmark2">
                                            <table id="tblOrders" cellpadding="12" class="table table-bordered table-hover table-striped" style="margin-left: 0px; margin-right: 20px;">
                                                <thead style="background-color:#81c9ff;color:white;font-size:12px;">
                                                    <tr>
                                                        <th style="cursor: pointer;" ng-click="sort('TransactionSerial')"><b>Statement No.</b><span class="glyphicon sort-icon" ng-show="sortKey=='TransactionSerial'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                        <th ng-click="sort('CustomerName')"><b>Customer</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='CustomerName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                        <th ng-click="sort('Amount')"><b>Amount</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Amount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                    </tr>
                                                </thead>
                                                <tbody dir-paginate="recovery in recoveries|orderBy:sortKey:reverse|filter:search|itemsPerPage:10" ng-model="search">
                                                    <tr>
                                                        <td style="font-size:12px">
                                                            {{recovery.TransactionSerial}}
                                                        </td>
                                                        <td style="font-size:12px">
                                                            {{recovery.CustomerName}}
                                                        </td>
                                                        <td style="font-size:12px">
                                                            {{recovery.Amount}}
                                                        </td>
                                                </tbody>
                                            </table>
                                            <dir-pagination-controls max-size="8"
                                                                     direction-links="true"
                                                                     boundary-links="true">
                                            </dir-pagination-controls>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                        <div class="alert alert-info" ng-show="(recoveries).length==0" style="color: red;text-align:center; font-weight: bold">No Records Found</div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</body>
</html>





