﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VM_NewMeetingModule

@{

    Layout = "~/Areas/BM_Management/Views/Shared/BM_layout.cshtml";
}
<style>
    html {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

    @@media screen and (max-width: 600px) {

        #gridKendo > table {
        }
    }

    .k-window div.k-window-content {
        overflow: hidden;
    }


    .field-validation-error {
        color: #ff0000;
    }

    .k-current-page {
        display: none;
    }

    html .k-upload-empty {
        border-width: 1px;
    }

    .k-edit-form-container {
        position: relative;
        width: 900px;
    }

    .k-grid-edit {
        height: 32px;
        width: 33px;
        padding: 6px 0px 10px 0;
        /*white-space: nowrap;*/
        overflow: hidden;
        /*border-radius: 20px;*/
    }

    .k-grid-delete {
        height: 32px;
        width: 33px;
        padding: 5px 0px 10px 0;
        overflow: hidden;
    }

    .fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 2em;
        }

        .fieldlist label {
            display: block;
            padding-bottom: 1em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

    .mt30 {
        margin-top: 18px;
    }

    .k-grid-add {
        float: right;
    }

    .mt2 {
        margin-top: 2%;
    }

    .k-edit-buttons {
        width: 1280px;
        text-align: center;
    }

    label {
        color: black;
    }

    .ml-mr {
        margin-left: 2%;
    }

    fieldset {
        display: block;
        margin-inline-start: 2px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 1px;
        border-style: groove;
        border-color: rgba(128, 128, 128, 0.56);
        border-radius: 11px;
        /*border-color: threedface;
    border-image: initial;*/
    }

    .forTooltips {
        width: 100%;
        height: 100%;
        padding: .929em 1.286em;
    }

    td.overridePadding {
        padding: 0;
    }
</style>

<script>
    function onRowBound(e) {
        $(".k-grid-edit").find("span").addClass("k-icon k-edit");
        $(".k-grid-delete").find("span").addClass("k-icon k-delete");
        $(".k-grid-add").find("span").addClass("k-i-plus-outline");
    }
</script>


<div class="row Dashboard-white-widget">
    <div class="dashboard">

        @Html.AntiForgeryToken()

        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <div class="col-md-4 colpadding0">
                    <input type="text" placeholder="Search statutory Register ..." id="txtSearch" style="width:100%" class="k-textbox" onchange="txtregistreChange()"/>
                </div>
            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">

                @(Html.Kendo().Grid<BM_ManegmentServices.VM.VMRegisters>()
        .Name("gridKendo")
        .Columns(columns =>
        {
            columns.Bound(o => o.Id).Visible(false);
            columns.Bound(o => o.EntityTypeName).Title("Entity Type").ClientTemplate("#= iterateMeeting(EntityTypeName) #").Width(250);
            columns.Bound(o => o.Register_Name).Title("Statutory Registers").Width(250);

            columns.Command(command =>
            {
                command.Custom("Edit").Click("CreateNew").HtmlAttributes(new { @class = "k-grid-edit" });
            })
            .Title("Action").Width(50);

        })
        .EnableCustomBinding(true)
        .ToolBar(
        toolbar => toolbar.Custom().Name("CreateNew").Text("New").HtmlAttributes(new { id = "customCommand", @class = "k-grid-add k-button k-button-icontext" })
        )
        .Events(e => e.DataBound("onRowBound"))
        .Navigatable()
        .Pageable(pageable => pageable
        .Refresh(false)
        .PageSizes(true)
        .ButtonCount(5))
        .Filterable()
        .Sortable()

        .Reorderable(reorderable => reorderable.Columns(true))
        .Resizable(resizable => resizable.Columns(true))
        .ColumnMenu()
        .DataSource(dataSource => dataSource
        .WebApi()

        .PageSize(5)
        .ServerOperation(false)
              .Model(model =>
              {
                  model.Id(o => o.Id);
              })
        .Read(read => read.Url("/api/RegisterAPI/GetRegisterList").Type(HttpVerbs.Get))
                       ))
            </div>
        </div>
    </div>
    @(Html.Kendo().Window()
    .Name("wndRegister")
    .Visible(false)
    .Modal(true)
    .Pinned(true)
    .Events(e => e.Open("adjustSize"))
    .Events(e => e.Refresh("OnRefresh"))
    )
</div>

<script>
 $("#customCommand").click(function (e) {
        e.preventDefault();
        CreateNew(e);
 });

 function iterateMeeting(object) {
     
     var str = "";
     if (object !== null && object.length > 0) {
         for (var x = 0; x < object.length; x++) {
             str += object[x].EntityType+",";
         }
     } else {
         str += "";
     }
     return trimChars(str, ", ");
 }
 function trimChars(str, c) {
     var re = new RegExp("^[" + c + "]+|[" + c + "]+$", "g");
     return str.replace(re, "");
 }

    function CreateNew(e) {
        e.preventDefault();
        OnOpen('a');
        $("#wndRegister").attr("style", "min-height:100px;");
        var direction = "PopForAddEditRegister?id=" + 0;
        if (e.currentTarget.innerText != "New") {
            $("#wndRegister").kendoWindow({
                title: "Edit -Statutory Register",
            });
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            direction = "PopForAddEditRegister?id=" + dataItem.Id;
            var wnd = $("#wndRegister").data("kendoWindow");
            var opts = wnd.options;
        }
        else {
            $("#wndRegister").kendoWindow({
                title: "Add -Statutory Register",
            });
            $("#wndRegister").attr("style", "min-height:100px;");
            direction = "PopForAddEditRegister?id=" + 0;
            var wnd = $("#wndRegister").data("kendoWindow");
            var opts = wnd.options;
        }
        wnd = $("#wndRegister").kendoWindow({
            title: "Edit - Entity Master",
            actions: [
                         "Pin",
                         "Minimize",
                         "Maximize",
                         "Close"
            ],
            content: direction,
            width: "50%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresh(); },
            close: function (e) {
                $(this.element).empty();
                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {

                OnOpen();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "50%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();
    }

    function OnOpen(e) {
        var wnd = $("#wndRegister").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }

    function OnRefresh() {
        var wnd = $("#wndRegister").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function adjustSize() {
        // if ($(window).width() < 500 || $(window).height() < 400) {
        //   this.maximize();
        // }
    }

    function txtregistreChange()
    {
           var x = $("#txtSearch").val();
        var textsearch = x.toLowerCase().trim();
        $("#gridKendo").data("kendoGrid").dataSource.filter(
            {
                field: "Register_Name", operator: "contains", value: textsearch
            }
             //{
             //    field: "EntityTypeName", operator: "contains", value: textsearch
             //}]
            );
  
    }

    $(document).ready(function () {
        setactivemenu('leftmastermenu');
        fhead('Masters / Statutory Register');
    });
</script>