﻿@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "MeetingDashboard";
    Layout = "~/Areas/BM_Management/Views/Shared/BM_layout.cshtml";
}

<div class="row colpadding0 " style="background-color:white; height: 76px; border-radius: 12px;">
    <div class="col-md-12 colpadding0">
        <div class="col-md-2">
            <span style="color:red"></span><label class="control-label" style="color:black">FY:</label>
            @(Html.Kendo().DropDownList()
          .Name("FY")
          .DataTextField("Text")
          .DataValueField("Value")

          .BindTo(new List<SelectListItem>() {
               new SelectListItem() {
                  Text = "Select",
                  Value = "0"
              },
              new SelectListItem() {
                  Text = "1 Jan - 31 Dec",
                  Value = "1 Jan - 31 Dec"
              },
              new SelectListItem() {
                  Text = "1 Apr - 31 Mar",
                  Value = "1 Apr - 31 Mar"
              },
          })

          .HtmlAttributes(new { style = "width: 100%" })
            )
        </div>

        <div class="col-md-3 colpadding0">
            <div class="col-md-1 colpadding0"></div>
           
            <div class="col-md-11 colpadding0">
                <span style="color:red"></span><label class="control-label" style="color:black">Entity:</label>
                @(Html.Kendo().DropDownList()
        .Name("a")
                            .DataTextField("EntityName")
                            .DataValueField("Id")

                            .Filter("contains")
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Url("/api/EntityMasterAPI/GetDropDownforEntity").Type(HttpVerbs.Get);
                                })
                                .ServerFiltering(false);
                            })

                             .HtmlAttributes(new { style = "width: 100%", @Id = "ddlRocJuris", autocomplete = "off" })
                )
            </div>

        </div>
    </div>
</div>

<<div id="divTabs" class="row seven-cols">

    <div id="draftCount" class="col-md-3 TMB plr5">
        <div class="info-box indigo-bg w100per">
            <div class="div-location" style="cursor: pointer;">
                <a href="/ContractProduct/aspxPages/ContractList.aspx?Status=Draft">
                    <div class="col-md-5 colpadding0 mt10">
                        <img src="/img/Draft.png" height="55" />
                    </div>
                    <div class="col-md-7 colpadding0">
                        <div class="titleMD">Draft</div>
                        <div id="divDraftCount" class="countMD">0</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div id="pendingReviewCount" class="col-md-3 TMB plr5">
        <div class="info-box seablue-bg w100per">
            <div class="div-location" style="cursor: pointer">
                <a href="/ContractProduct/aspxPages/ContractList.aspx?Status=Pending Review">
                    <div class="col-md-5 colpadding0 mt10">
                        <img src="/img/Pending-Review.png" height="55" />
                    </div>
                    <div class="col-md-7 colpadding0">
                        <div class="titleMD">Upcomning Meeting</div>
                        <div id="divPendingReviewCount" class="countMD">0</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div id="reviewedCount" class="col-md-3 TMB plr5">
        <div class="info-box bluenew-bg w100per">
            <div class="div-location" style="cursor: pointer">
                <a href="/ContractProduct/aspxPages/ContractList.aspx?Status=Review Completed">
                    <div class="col-md-5 colpadding0 mt10">
                        <img src="/img/Reviewed.png" height="55" />
                    </div>
                    <div class="col-md-7 colpadding0">
                        <div class="titleMD">Complete Meeting</div>
                        <div id="divReviewedCount" class="countMD">0</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div id="pendingApprovalCount" class="col-md-3 TMB plr5">
        <div class="info-box rednew-bg w100per">
            <div class="div-location" style="cursor: pointer">
                <a href="~/BM_Management/MeetingDashbord/NewMeetingModule">
                    <div class="col-md-5 colpadding0 mt10">
                        <img src="/img/Pending-approval.png" height="55" />
                    </div>
                    <div class="col-md-7 colpadding0">
                        <div class="titleMD">Create New Meeting</div>
                        <div id="divPendingApprovalCount" runat="server" class="countMD">0</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>

<style>
    #collapseDivFilters > div > div > div > div > div > div > a.bx-prev {
        left: 0%;
    }

    #collapseDivFilters > div > div > div > div > div > div > a.bx-prev {
        left: 0%;
    }

    @@media screen and (max-width: 750px) {
        iframe {
            max-width: 100% !important;
            width: auto !important;
            height: auto !important;
        }
    }

    .mang-dashboard-white-widget {
        background: #fff;
        padding: 5px 0px 5px 0px;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    .panel {
        margin-bottom: 10px;
    }

        .panel .panel-heading {
            border: none;
            background: #fff;
            padding: 0;
        }

            .panel .panel-heading h2 {
                font-size: 20px;
            }


        .panel .panel-heading-dashboard {
            border: none;
            background: #fff;
            padding: 0;
        }

    .info-box {
        min-height: 110px;
        margin-bottom: 10px;
        /*border: 1px solid #ADD8E6;*/
    }

        .info-box:hover {
            color: #FF7473;
            font-weight: 500;
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            z-index: 5;
        }

    .info-box-task {
        min-height: 140px;
        margin-bottom: 18px;
        width: 95%;
        border-radius: 10px;
        padding: 10px 10px 0px 10px;
        color: #666;
        -webkit-box-shadow: inset 0 0 1px 1px rgba(255,255,255,.35), 0 1px 1px -1px rgba(0,0,0,.1);
        -moz-box-shadow: inset 0 0 1px 1px rgba(255,255,255,.35),0 1px 1px -1px rgba(0,0,0,.1);
        box-shadow: inset 0 0 1px 1px rgba(255,255,255,.35), 0 1px 1px -1px rgba(0,0,0,.1);
    }

    .info-box-task {
        min-height: 75px;
        margin-bottom: 10px;
        /*border: 1px solid #ADD8E6;*/
    }

        .info-box-task .count {
            font-size: 23px;
            color: #1fd9e1;
            text-align: center;
        }

        .info-box-task .desc {
            font-size: 14px;
            text-align: center;
        }

        .info-box-task .count:hover {
            color: #FF7473;
            font-weight: 500;
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
        }
</style>

<script type="text/javascript">
        $(document).ready(function () {
            setactivemenu('leftdashboardmenu');
            fhead('Meeting Dashboard');
        });

        function initializeJQueryUI(textBoxID, divID) {
            $("#" + textBoxID).unbind('click');

            $("#" + textBoxID).click(function () {
                $("#" + divID).toggle("blind", null, 500, function () { });
            });
        }

        $(document).on("click", function (event) {
            if (event.target.id == "") {
                var idvid = $(event.target).closest('div');
                if ($(idvid).attr('id') != undefined && $(idvid).attr('id') != '' && $(idvid).attr('id').indexOf('<%= tvFilterLocation.ClientID %>') > -1) {
                    $("#divFilterLocation").show();
                } else {
                    $("#divFilterLocation").hide();
                }
            } else if (event.target.id != '<%= tbxFilterLocation.ClientID %>') {
                $("#divFilterLocation").hide();
            } else if (event.target.id != "" && event.target.id.indexOf('<%= tvFilterLocation.ClientID %>') > -1) {
                $("#divFilterLocation").show();
            } else if (event.target.id == '<%= tbxFilterLocation.ClientID %>') {
                $('<%= tbxFilterLocation.ClientID %>').unbind('click');

                $('<%= tbxFilterLocation.ClientID %>').click(function () {
                    $("#divFilterLocation").toggle("blind", null, 500, function () { });
                });
            }
        });

         function ShowContractDialog(ContractInstanceID) {
             var modalHeight = screen.height - 150;

             if (modalHeight < 0)
                 modalHeight = 200;

             $('#divShowDialog').modal('show');
             $('.modal-dialog').css('width', '95%');
             $('#showdetails').attr('width', '100%');
             $('#showdetails').attr('height', modalHeight + "px");
             $('#showdetails').attr('src', "/ContractProduct/aspxPages/ContractDetailsPage.aspx?AccessID=" + ContractInstanceID);
         };

         function ShowTaskDialog(contractID, taskID, userID, roleID, checkSum) {

             var modalHeight = screen.height - 200;

             if (modalHeight < 0)
                 modalHeight = screen.height;

             //alert("Screen Height-" + screen.height + "\n Modal Height-" + modalHeight);

             $('#divShowDialog').modal('show');
             $('.modal-dialog').css('width', '95%');
             $('#showdetails').attr('width', '100%');
             $('#showdetails').attr('height', modalHeight + "px");
             $('#showdetails').attr('src', "/ContractProduct/aspxPages/ContractTaskDetailsPage.aspx?A=" + contractID + "&B=" + taskID + "&C=" + userID + "&D=" + roleID + "&Checksum=" + checkSum);
         };
</script>
