﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VM_CostAuditorRatification

<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <div id="DivCostAuditorDtls">

            @using (Ajax.BeginForm("SaveRatificationOfCostAuditor", "UIForm", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivCostAuditorDtls", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmUpdateCostAuditorAuditor" }))
            {

                <div class="row">
                    @if (Model.Success)
                    {
                        <div class="col-md-12">
                            <div class="alert alert-success alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                @if (!(string.IsNullOrEmpty(@Model.Message)))
                                {
                                    <lable>@Model.Message</lable>
                                }
                            </div>
                        </div>
                    }
                </div>

                <div class="row">
                    @if (Model.Error)
                    {
                        <div class="col-md-12">
                            <div class="alert alert-danger alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                @if (!(string.IsNullOrEmpty(@Model.Message)))
                                {
                                    <lable>@Model.Message</lable>
                                }
                            </div>
                        </div>
                    }
                </div>
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Auditor_Name)
                @Html.HiddenFor(m => m.RegistrationNo)
                @Html.HiddenFor(m => m.AgendaID)
                @Html.HiddenFor(m => m.MeetingAgengaMappingID)

                <div class="row">
                    <div class="col-md-12 colpadding0">

                            <div class="row mt30">
                                <div class="col-md-12 colpadding0">
                                    <div class="col-md-4 colpadding0">
                                        <label for="dpdateofBordMeeting" class="control-label">Name of the Auditor</label>
                                    </div>
                                    <div class="col-md-8 colpadding0">
                                        @Model.Auditor_Name
                                    </div>
                                </div>
                            </div>

                        <div class="row mt30">
                            <div class="col-md-12 colpadding0">
                                <div class="col-md-4 colpadding0">
                                    <label for="dpdateofBordMeeting" class="control-label">Registration Number</label>
                                </div>
                                <div class="col-md-8 colpadding0">
                                    @Model.RegistrationNo
                                </div>
                            </div>
                        </div>

                            <div class="row mt30">
                                <div class="col-md-12 colpadding0">
                                    
                                    <div class="col-md-4 colpadding0">
                                        <span style="color:red">*</span><label for="dpdateofBordMeeting" class="control-label">Year end date</label>
                                    </div>
                                    <div class="col-md-3 colpadding0">
                                        @(Html.Kendo().DatePickerFor(m=>m.YearEndDateOfAuditor).Format("dd/MM/yyyy")

                                            .HtmlAttributes(new { style = "width: 98%", title = "Please select dateofBordMeeting", @Id = "YearEndDateOfAuditor", onchange = "checkDate(this);" })
                                        )
                                        @Html.ValidationMessageFor(model => model.YearEndDateOfAuditor, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-5 colpadding0">
                                    </div>
                                </div>

                            </div>

                        <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;margin-top: 2%;">
                            <button type="submit" id="btnllp" class="k-primary k-button k-grid-update k-button-icontext" name="Save" value="Save" onclick="btnCostclick()">Save</button>
                            <button type="button" id="btnclose2" class="k-button">Close</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function checkDate(e) {
        debugger;
        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }

    $("#YearEndDateOfAuditor").removeAttr("data-val-date");
    if ($("#YearEndDateOfAuditor").val() == "01/01/0001") {
        $("#YearEndDateOfAuditor").val('');
    }
</script>