﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.UploadComplianceAssignmentVM
<div class="mt30">
    @using (Ajax.BeginForm("UploadAComplianceAssignment", "ComplianceAssign", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divComplianceAssignment", OnBegin = "OnOpen", OnComplete = "OnRefresh", OnSuccess = "RefreshGrid" }, new { id = "frmUploadAComplianceAssignment", enctype = "multipart/form-data" }))
    {
        if (Model.Success)
        {
            <div class="row">
                <div class="col-md-12" >
                    <div class="alert alert-success alert-dismissible">
                        <lable id="lblsuccessI">@Model.Message</lable>
                    </div>
                </div>
            </div>

        }
        else if (Model.Error)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <lable>@Model.Message</lable>
                    </div>
                </div>
            </div>
        }

        <div class="demo-section k-content">
            @(Html.Kendo().Upload()
            .Name("File")
            .Multiple(false)
            .HtmlAttributes(new { aria_label = "file", @Id = "File" })
            )
            <p style="padding-top: 1em; text-align: right">
                <button type="submit" class="k-button k-primary">Upload</button>
            </p>
        </div>

        if (Model.isUploaded == true && Model.lstCompliance != null)
        {
            <div id="gridComplianceAssignUpload"></div>
        }
    }

    @if (Model.isUploaded == true && Model.lstCompliance !=null)
    {
        <script>
            
            var d = @Html.Raw(Json.Encode(Model.lstCompliance));

            if(d != undefined){

                var ds = new kendo.data.DataSource({
                    data: d, //myJson.employees,
                    //schema: {
                    //    model: {
                    //        id: "ComplianceId",
                    //        fields: {
                    //            ComplianceId: { editable: false },
                    //            ComplianceId: { editable: false },
                    //            Description: { editable: false }
                    //        }
                    //    }
                    //},
                    pageSize: 10
                });

                $("#gridComplianceAssignUpload").kendoGrid({
                    toolbar: kendo.template($("#myTemplateComplianceUpload").html()),
                    pageable: {
                        alwaysVisible: false,
                        pageSizes: [5, 10, 20, 100]
                    },
                    columns: [
                                { field: "EntityID", title: "EntityID", width: "75px;" },
                                { field: "EntityName", title: "EntityName", width: "200px;" },
                                { field: "ComplianceId", title: "ID", width: "75px;" },
                                { field: "Description", title: "Compliance", width: "350px;" },
                                { field: "ScheduleOn", title: "Start Date[dd/MM/yyyy]", width: "75px;" },
                                

                                //{ field: "IsValid", title: "Valid", template: "#= IsValid ? 'true':'false'#", width: "50px;"  },
                                
                                //{ field: "Performer", title: "Performer", template: "#=PerformerMail#", width: "150px;" },
                                //{ field: "Reviewer", title: "Reviewer", template: "#=ReviewerMail#", width: "150px;"},
                                { field: "ValidationMessage", title: "Validation", template: "#=ValidationMessage == null ? '' : ValidationMessage #", encoded: false}
                    ],
                    //editable: true,
                    dataSource: ds
                });

                $("#btnExportToExcelUploaded").kendoButton({
                    imageUrl: "/Images/Excel _icon.png"
                });

            }

        </script>

        <!-- Export To Excel -->
        <script>
            function btnExportToExcelUploaded_Click() {

        var color = "#b5bbbb";
        var _fontSize = 12;
        var _borderBottom = { color: "#ff0000", size: 1 };
        var _borderRight = { color: "#ff0000", size: 1 };
        var rows = [
                    // The first row (header).
                    {
                        cells: [
                          // The first cell.
                          { value: "EntityID", width: 60, background: color, fontSize: _fontSize, borderBottom : { color: "#ff0000", size: 3 }, enable: false },
                          { value: "EntityName", background: color, fontSize: _fontSize , enable: false},
                          { value: "ComplianceID", width: 100, background: color, fontSize: _fontSize , enable: false},
                          { value: "Compliance", background: color, fontSize: _fontSize },
                          { value: "Performer", width: 75, background: color, fontSize: _fontSize },
                          { value: "Reviewer", width: 75, background: color, fontSize: _fontSize },
                          { value: "Start Date[dd/MM/yyyy]", width: 75, background: color, fontSize: _fontSize },
                          { value: "Validation", background: color, fontSize: _fontSize  }
                        ]
                    }];

        var grid = $('#gridComplianceAssignUpload').data().kendoGrid;
        var gridData = grid.dataSource.data();

        

        for (var i = 0; i < gridData.length; i++) {
            //if (gridData[i].IsComplianceSelect == true) {
            //items.lst.push(gridData[i]);

            var msg = gridData[i].ValidationMessage;

                rows.push({
                    cells: [
                      { value: gridData[i].EntityID, hAlign: "left", enable: false},
                      { value: gridData[i].EntityName, hAlign: "left", enable: false},
                      { value: gridData[i].ComplianceId, hAlign: "left", enable: false},
                      { value: gridData[i].Description, hAlign: "left"},
                      { value: gridData[i].PerformerMail, hAlign: "left" },
                      { value: gridData[i].ReviewerMail, hAlign: "left" },
                      { value: gridData[i].ScheduleOn, hAlign: "left" , format: "@@"},
                      { value: msg == null ? "" : replaceAll(gridData[i].ValidationMessage,"<br/>","\r\n") , color: "#ff0000", wrap: true }
                    ]});
            //}
        }


        var workbook = new kendo.ooxml.Workbook({
            sheets: [
              {
                  // The column settings (width).
                  columns: [
                    { autoWidth: true },
                    { autoWidth: true },
                    { autoWidth: true },
                    { autoWidth: true },
                    { autoWidth: true },
                    { autoWidth: true },
                    { autoWidth: true },
                    { width: 450  }
                  ],
                  // Th title of the sheet.
                  title: "Compliance Assignment",
                  // The rows of the sheet.
                      rows: rows
              }
            ]
        });

        kendo.saveAs({
            dataURI: workbook.toDataURL(),
            fileName: "ComplianceAssignment.xlsx"
        });
    }
        </script>

    }

    <script>
        function OnOpen() {

        }

        function OnRefresh() {

        }

        function RefreshGrid() {

        }
    </script>
</div>
