﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.ShareHoldings

<script>
    $(document).ready(function () {

        $("#PanelbarEditPrivatepublicCompany").kendoPanelBar({
            expandMode: "single"
        });
    });
</script>



<div id="DIVshareholding" style="height:380px !important">
    <!-- this will be the content of the popup -->
    @using (Ajax.BeginForm("CreateShareMaster", "ShareholdingMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DIVshareholding", OnBegin = "OnOpen", OnComplete = "Onshareholdingsuccess", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { id = "frmUpdateDetailsofShareHolding1" }))
            {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Entity_Id)

        if (Model.Message != null)
        {
            if (Model.Message.Success)
            {
                <div class="row">
                    <div class="col-md-12 colpadding0" id="DivsuccessI_sub">
                        <div style="margin-left:2%; margin-right:2%;">
                            <div class="alert alert-success alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <lable id="lblsuccessI_sub">@Model.Message.Message</lable>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-12 colpadding0" id="DiverrorI_sub">
                        <div style="margin-left:2%; margin-right:2%;">
                            <div class="alert alert-danger alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <lable id="lblerrormsgI_sub">@Model.Message.Message</lable>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }


        <div class="ml-mr">
            @*@Html.HiddenFor(m => m.Id)*@
            <div class="row mt30 colpadding0">
                <div class="col-md-12 colpadding0">
                    <div class="demo-section k-content">
                        <ul class="k-widget k-panelbar k-reset k-header" id="PanelbarEditPrivatepublicCompany" data-role="panelbar" tabindex="0" role="menu">
                            <li class="k-item k-state-default k-first k-state-active" aria-expanded="true" role="menuitem">
                                <span class="k-link k-header">
                                    Basic Details<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span>

                                </span>
                                <span id='notification'></span>
                                <div class="row colpadding0" style="display: block; margin-left: 1%;margin-right: 1%;margin-bottom:1%">
                                    <div class="row colpadding0 mt30">
                                        <div class="col-md-12 colpadding0">
                                            <div class="col-md-2 colpadding0">
                                                <label for="txtEntityName" class="control-label">FOLIO NO</label><span style="color:red">*</span>
                                                @(Html.Kendo().TextBoxFor(m => m.Follio_No).HtmlAttributes(new { @class = "k-textbox", @Id = "txtfollioNo", style = "width: 90%", autocomplete = "off" }))
                                                @Html.ValidationMessageFor(model => model.Follio_No, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-2 colpadding0">

                                                <label for="txtddlShares_Class" class="control-label">Class of shares</label><span style="color:red">*</span>

                                                @*@(Html.Kendo().TextBoxFor(m => m.Shares_Class).HtmlAttributes(new { @class = "k-textbox", @Id = "txtsharesClass", style = "width: 100%", }))*@

                                                @if (Model.Id > 0)
                                                {
                                                    @(Html.Kendo().DropDownListFor(m => m.Shares_Class)
                                            .DataTextField("ClassesOfShareName")
                                            .DataValueField("ClassesOfShareID")
                                            .OptionLabel("Select")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Url("/api/ShareholdingMasterAPI/GetDropDownClassesOfShares?EntityId=" + Model.Entity_Id).Type(HttpVerbs.Get);
                                                })
                                                .ServerFiltering(false);
                                            })
                                            .HtmlAttributes(new { style = "width: 90%", @Id = "ddlShares_Class", autocomplete = "off", @onchange = "changeClassOfShare()", @readonly = "readonly" })
                                                    )
                                                }
                                                else
                                                {
                                                    @(Html.Kendo().DropDownListFor(m => m.Shares_Class)
                                            .DataTextField("ClassesOfShareName")
                                            .DataValueField("ClassesOfShareID")
                                            .OptionLabel("Select")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Url("/api/ShareholdingMasterAPI/GetDropDownClassesOfShares?EntityId=" + Model.Entity_Id).Type(HttpVerbs.Get);
                                                })
                                                .ServerFiltering(false);
                                            })
                                            .HtmlAttributes(new { style = "width: 90%", @Id = "ddlShares_Class", autocomplete = "off", @onchange = "changeClassOfShare()" })
                                                    )
                                                }


                                                @Html.ValidationMessageFor(model => model.Shares_Class, "", new { @class = "text-danger" })


                                            </div>
                                            <div class="col-md-3 colpadding0">

                                                <label for="txtNominaVal_per_Shares" class="control-label">Nominal value per share (in Rs.)</label><span></span>
                                                @(Html.Kendo().TextBoxFor(m => m.NominaVal_per_Shares).HtmlAttributes(new { @class = "k-textbox", @Id = "txtNominaVal_per_Shares", style = "width: 90%", @type = "number", autocomplete = "off" }))
                                                @*@Html.ValidationMessageFor(model => model.NominaVal_per_Shares, "", new { @class = "text-danger" })*@

                                            </div>
                                            <div class="col-md-2 colpadding0">

                                                <label for="txttotshareheld" class="control-label">Total shares held</label><span style="color:red">*</span>
                                                @(Html.Kendo().TextBoxFor(m => m.Tot_SharesHeld).HtmlAttributes(new { @class = "k-textbox", @Id = "txttotshareheld", style = "width: 100%", @type = "number", autocomplete = "off", max = Model.TotalPrefrenceCapital }))
                                                @Html.ValidationMessageFor(model => model.Tot_SharesHeld, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="k-item" aria-expanded="true" role="menuitem">
                                <span class="k-link k-header" id="spanAgendaItemB">Personal Details<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>

                                <div id="step1Content" style="display: block; margin-left: 1%;margin-right: 1%;margin-top:1%;margin-bottom:1%">
                                    <div class="row colpadding0">
                                        <div class="col-md-12 colpadding0">
                                            <div class="col-md-2 colpadding0">

                                                <label for="dldtype" class="control-label">Type</label><span style="color:red">*</span>
                                                @(Html.Kendo().DropDownListFor(m => m.Type)

                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .OptionLabel("Select")
                                    .HtmlAttributes(new { style = "width:90%", @Id = "ddltype", autocomplete = "off", onchange = "changeType_()" })
                                    .BindTo(new List<SelectListItem>()
                                    {
                                    new SelectListItem() {
                                    Text = "Select", Value ="0"
                                    },
                                    new SelectListItem() {
                                    Text = "Individual", Value ="1"
                                    },
                                    new SelectListItem() {
                                    Text = "Company", Value ="2"
                                    },
                                    new SelectListItem() {
                                    Text = "Trust", Value ="3"
                                    },
                                    new SelectListItem() {
                                    Text = "HUF", Value ="4"
                                    },
                                    new SelectListItem() {
                                    Text = "LLP", Value ="5"
                                    },
                                    new SelectListItem() {
                                    Text = "Body Corporate ", Value ="6"
                                    },
                                    })
                                                )
                                                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                    </div>

                                    <div id="DivisDirectororNot">
                                        <div class="row mt30">
                                            <div class="colpadding0 col-md-12">
                                                <div class="col-md-6 colpadding0">
                                                    <div class="col-md-7 colpadding0">
                                                        <label class="control-label">Promoter of the Company</label><span style="color:red">*</span>
                                                    </div>
                                                    <div>
                                                        @(Html.Kendo().RadioButtonFor(m => m.ISPramoter).Name("ISPramoter").Value(true).Checked(true).Label("Yes").HtmlAttributes(new { @name = "ISPramoter" }))
                                                        &nbsp; &nbsp;
                                                        @(Html.Kendo().RadioButtonFor(m => m.ISPramoter).Name("ISPramoter").Value(false).Checked(false).Label("No").HtmlAttributes(new { @name = "ISPramoter" }))

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt30">
                                        <div class="col-md-12 colpadding0">
                                            <div id="DIVMember">
                                                <div class="col-md-3 colpadding0">

                                                    <label for="txtmemberName" class="control-label">Name of the member</label><span style="color:red">*</span>

                                                    @(Html.Kendo().TextBoxFor(m => m.Member_Name).HtmlAttributes(new { @class = "k-textbox", @Id = "txtmemberName", style = "width: 90%", autocomplete = "off" }))
                                                    @Html.ValidationMessageFor(model => model.Member_Name, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            @*<div id="DIVDirector" style="display:none">
                                                        <div class="col-md-2 colpadding0">
                                                            <span style="color:red">*</span><label for="txtmemberName" class="control-label">Name of the Director</label>
                                                            @(Html.Kendo().DropDownListFor(m => m.DirectorId)

                                                .DataValueField("DirectorId")
                                                .DataTextField("FullName")
                                                .OptionLabel("Select Director")

                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Url("/api/DirectorMasterAPI/DirectorDetails?EntityId=" + Model.Entity_Id).Type(HttpVerbs.Get);
                                                    })
                                                    .ServerFiltering(true);

                                                }).HtmlAttributes(new { style = "width: 98%;", @Id = "ddlDirector", @onchange = "changeofDirector(this)" })
                                                            )

                                                        </div>
                                                    </div>*@

                                            <div class="col-md-2 colpadding0">
                                                <span style="color:red"></span><label for="txtjointholderName" class="control-label">Name of joint holders, if any</label>
                                                @(Html.Kendo().TextBoxFor(m => m.JointHolder_Name).HtmlAttributes(new { @class = "k-textbox", @Id = "txtjointholderName", style = "width:90%", autocomplete = "off" }))
                                                @*@Html.ValidationMessageFor(model => model.JointHolder_Name, "", new { @class = "text-danger" })*@

                                            </div>

                                            <div class="col-md-5 colpadding0">
                                                <label for="txtbodycorporate_Address" class="control-label">Address/ Registered address (in case of body corporate)</label><span style="color:red">*</span>
                                                @(Html.Kendo().TextBoxFor(m => m.bodycorporate_Address).HtmlAttributes(new { @class = "k-textbox", @Id = "txtbodycorporate_Address", style = "width:96%", autocomplete = "off" }))
                                                @*@Html.ValidationMessageFor(model => model.bodycorporate_Address, "", new { @class = "text-danger" })*@

                                            </div>

                                            <div class="col-md-2 colpadding0">

                                                <span style="color:red"></span><label for="txtCIN" class="control-label">CIN/ Registration No/LLPN</label>
                                                @(Html.Kendo().TextBoxFor(m => m.CIN).HtmlAttributes(new { @class = "k-textbox", @Id = "txtCIN", style = "width: 100%", autocomplete = "off" }))
                                                @*@Html.ValidationMessageFor(model => model.CIN, "", new { @class = "text-danger" })*@
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt30">
                                        <div class="colpadding0 col-md-12">
                                            <div class="col-md-3 colpadding0">

                                                <label for="txtfatherspousename" class="control-label">Father’s/ Mother’s/ Spouse’s name</label><span style="color:red"></span>
                                                @(Html.Kendo().TextBoxFor(m => m.Father_Mother_Spouse_Name).HtmlAttributes(new { @class = "k-textbox", @Id = "txtfatherspousename", style = "width: 90%", autocomplete = "off" }))
                                                @*@Html.ValidationMessageFor(model => model.Father_Mother_Spouse_Name, "", new { @class = "text-danger" })*@

                                            </div>

                                            <div class="col-md-3 colpadding0">

                                                <label for="txtEmail_Id" class="control-label">E-mail Id</label><span style="color:red">*</span>
                                                @(Html.Kendo().TextBoxFor(m => m.Email_Id).HtmlAttributes(new { @class = "k-textbox", @Id = "txtEmail_Id", style = "width: 90%", autocomplete = "off" }))
                                                @Html.ValidationMessageFor(model => model.Email_Id, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="col-md-2 colpadding0">

                                                <label for="txtOccupation" class="control-label">Occupation</label><span></span>
                                                <div class="demo-section k-content">
                                                    @(Html.Kendo().TextBoxFor(m => m.Occupation).HtmlAttributes(new { @class = "k-textbox", @Id = "txtOccupation", style = "width:90%", autocomplete = "off" }))
                                                    @Html.ValidationMessageFor(model => model.Occupation, "", new { @class = "text-danger" })

                                                </div>
                                            </div>

                                            <div class="col-md-2 colpadding0">

                                                <label for="txtPAN" class="control-label">PAN</label><span style="color:red">*</span>
                                                @(Html.Kendo().TextBoxFor(m => m.PAN).HtmlAttributes(new { @class = "k-textbox", @Id = "txtPAN", style = "width: 90%; text-transform:uppercase", autocomplete = "off" }))
                                                @Html.ValidationMessageFor(model => model.PAN, "", new { @class = "text-danger" })

                                            </div>

                                            <div class="col-md-2 colpadding0">

                                                <label class="control-label" for="txtNationality">Nationality</label><span style="color:red">*</span>
                                                @*@(Html.Kendo().TextBoxFor(m => m.Nationality).HtmlAttributes(new { @class = "k-textbox", @Id = "txtNationality", style = "width: 100%", }))*@
                                                @(Html.Kendo().DropDownListFor(m => m.Nationality)
                                    .DataTextField("Nationality")
                                    .DataValueField("CountryId")
                                    //.OptionLabel("Select")
                                    .Filter("contains")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/EntityMasterAPI/GetDropDownEntityForCountry").Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(false);
                                    })

                                    .HtmlAttributes(new { style = "width:100%", @Id = "llpRegstateId", autocomplete = "off" })
                                                )

                                                @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt30">
                                        <div class="colpadding0 col-md-12">
                                            <div class="col-md-6 colpadding0">
                                                <div class="col-md-7 colpadding0">
                                                    <span></span><label for="txtIsMemberMinnor" class="control-label">In case member is a minor</label>
                                                </div>
                                                <div>
                                                    @(Html.Kendo().RadioButtonFor(m => m.IsMemberMinnor).Name("IsMemberMinnor").Value(true).Checked(true).Label("Yes").HtmlAttributes(new { @name = "IsMemberMinnor" }))
                                                    &nbsp; &nbsp;
                                                    @(Html.Kendo().RadioButtonFor(m => m.IsMemberMinnor).Name("IsMemberMinnor").Value(false).Checked(false).Label("No").HtmlAttributes(new { @name = "IsMemberMinnor" }))

                                                    @Html.ValidationMessageFor(model => model.IsMemberMinnor, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="MemberinMinor">
                                        <div class="row mt30">
                                            <div class="colpadding0 col-md-12">
                                                <div class="col-md-3 colpadding0">
                                                    <label for="txtGuardian_Name" class="control-label">Name of Guardian</label><span style="color:red" id="spanGardianName"></span>
                                                    @(Html.Kendo().TextBoxFor(m => m.Guardian_Name).HtmlAttributes(new { @class = "k-textbox", @Id = "txtGuardian_Name", style = "width:90%", autocomplete = "off" }))

                                                </div>
                                                <div class="col-md-2 colpadding0">

                                                    <label for="txtdpDOB_minor" class="control-label">Date of birth of minor</label><span style="color:red" id="spanDOB"></span>
                                                    @(Html.Kendo().DatePickerFor(m => m.DOB_minor)

                                        .Format("dd/MM/yyyy")
                                        .HtmlAttributes(new { style = "width: 100%", @Id = "dpDOB_minor", onchange = "checkDate(this);", autocomplete = "off" })
                                                    )

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </li>

                            <li class="k-item" aria-expanded="true" role="menuitem">
                                <span class="k-link k-header" id="spanAgendaItemB">Details of Membership<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>

                                <div style="display: block; margin-left: 1%;margin-right: 1%;margin-top:2%;margin-bottom:1%">
                                    <div class="row">
                                        <div class="colpadding0 col-md-12">
                                            <div class="col-md-2 colpadding0">

                                                <label class="control-label">Date of becoming member</label>
                                                @(Html.Kendo().DatePicker().Name("becomingmember_Date")
                                        .Format("dd/MM/yyyy").Enable(true).ParseFormats(new string[] { "dd/MM/yyyy" })

                                        .HtmlAttributes(new { style = "width:90%", @Id = "dpbecomingmember_Date", onchange = "checkDate(this);" })
                                                )
                                                @Html.ValidationMessageFor(model => model.becomingmember_Date, "", new { @class = "text-danger" })

                                            </div>

                                            <div class="col-md-2 colpadding0" style="top:-18px">

                                                <span></span><label class="control-label">Date of declaration under section 89, if applicable</label>
                                                @(Html.Kendo().DatePicker().Name("declaration_Date_under89")
                                        //.Value(DateTime.Now)
                                        .Format("dd/MM/yyyy").Enable(true).ParseFormats(new string[] { "dd/MM/yyyy" })
                                        .HtmlAttributes(new { style = "width:90%", @Id = "dpdeclaration_Date_under89", onchange = "checkDate(this);", autocomplete = "off" })
                                                )
                                                @*@Html.ValidationMessageFor(model => model.declaration_Date_under89, "", new { @class = "text-danger" })*@

                                            </div>

                                            <div class="col-md-4 colpadding0">

                                                <span></span><label for="txtWebsite" class="control-label">Name and address of beneficial owner</label>
                                                @(Html.Kendo().TextBoxFor(m => m.Name_and_Address_ben).HtmlAttributes(new { @class = "k-textbox", @Id = "txtName_and_Address_ben", style = "width:90%", autocomplete = "off" }))
                                                @*@Html.ValidationMessageFor(model => model.Name_and_Address_ben, "", new { @class = "text-danger" })*@

                                            </div>

                                            <div class="col-md-2 colpadding0">

                                                <span></span><label for="txtWebsite" class="control-label">No. of shares kept in abeyance</label>
                                                @(Html.Kendo().TextBoxFor(m => m.shares_abeyance).HtmlAttributes(new { @class = "k-textbox", @Id = "txtshares_abeyance", style = "width:90%", autocomplete = "off" }))
                                                @*@Html.ValidationMessageFor(model => model.shares_abeyance, "", new { @class = "text-danger" })*@

                                            </div>

                                            <div class="col-md-2 colpadding0">

                                                <span></span><label for="txtlienonshares" class="control-label">Record of lien on shares</label>
                                                @(Html.Kendo().TextBoxFor(m => m.lienonshares).HtmlAttributes(new { @class = "k-textbox", @Id = "txtlienonshares", style = "width:100%", autocomplete = "off" }))
                                                @*@Html.ValidationMessageFor(model => model.lienonshares, "", new { @class = "text-danger" })*@

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="colpadding0 col-md-12">
                                            <div class="col-md-2 colpadding0">
                                                <label class="control-label">Date of cessation of membership</label>
                                                @(Html.Kendo().DatePicker().Name("Cessation_Membership_Date")

                                        .Max(DateTime.Today).Format("dd/MM/yyyy").Enable(true).ParseFormats(new string[] { "dd/MM/yyyy" })
                                        .HtmlAttributes(new { style = "width:90%", @Id = "dpCessation_Membership_Date", onchange = "checkDate(this);" })
                                                )
                                                @*@Html.ValidationMessageFor(model => model.Cessation_Membership_Date, "", new { @class = "text-danger" })*@
                                            </div>
                                            <div class="col-md-2 colpadding0" style="top:0px">

                                                <label class="control-label">Date of receipt of nomination</label>
                                                @(Html.Kendo().DatePicker().Name("Nomination_Date_Receipt")

                                        .Max(DateTime.Today).Format("dd/MM/yyyy").Enable(true).ParseFormats(new string[] { "dd/MM/yyyy" })
                                        .HtmlAttributes(new { style = "width: 90%", @Id = "dpNomination_Date_Receipt", onchange = "checkDate(this);" })
                                                )
                                                @*@Html.ValidationMessageFor(model => model.Nomination_Date_Receipt, "", new { @class = "text-danger", onchange = "checkDate(this);" })*@

                                            </div>
                                            <div class="col-md-4 colpadding0">

                                                <label class="control-label">Name and address of nominee</label>
                                                @(Html.Kendo().TextBoxFor(m => m.NomineeName_Address).HtmlAttributes(new { @class = "k-textbox", @Id = "txtNomineeName_Address", style = "width:90%", autocomplete = "off" }))
                                                @*@Html.ValidationMessageFor(model => model.NomineeName_Address, "", new { @class = "text-danger" })*@

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="k-item" aria-expanded="true" role="menuitem">
                                <span class="k-link k-header" id="spanAgendaItemB">Instruction<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>

                                <div id="step1Content" style="display: block; margin-left: 1%;margin-right: 1%;margin-top:1%;margin-bottom:1%">
                                    <div class="row">
                                        <div class="colpadding0 col-md-12">
                                            <div class="col-md-5 colpadding0">

                                                <label class="control-label">Particulars of dividend mandates, power of attorney and other instructions</label>
                                                @(Html.Kendo().TextBoxFor(m => m.PowerofAttorny).HtmlAttributes(new { @class = "k-textbox", @Id = "txtPowerofAttorny", style = "width: 90%", autocomplete = "off" }))
                                                @*@Html.ValidationMessageFor(model => model.PowerofAttorny, "", new { @class = "text-danger" })*@
                                            </div>

                                            <div class="col-md-3 colpadding0">

                                                <span></span><label class="control-label">Instruction for sending notices etc.</label>
                                                @(Html.Kendo().TextBoxFor(m => m.Sendingnotices_Instruction).HtmlAttributes(new { @class = "k-textbox", @Id = "txtSendingnotices_Instruction", style = "width: 100%", autocomplete = "off" }))
                                                @*@Html.ValidationMessageFor(model => model.Sendingnotices_Instruction, "", new { @class = "text-danger" })*@

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>


            <div class="row colpadding0 mt30">
                <div class="col-md-12 colpadding0" style="text-align:center">
                    <button type="submit" class="btn btn-primary button1">Save</button>

                    <button type="button" id="btnclose4" class="btn btn-primary button1">Close</button>
                </div>
            </div>

    }
</div>

<script>
    var validator1 = $("#frmUpdateDetailsofShareHolding1").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

    $("#btnclose1").click(function (z) {

        z.preventDefault();
        z.stopPropagation();
        $('#popforsharholder').data("kendoWindow").close();
        $('#gridKendo').data('kendoGrid').dataSource.read();
        $('#gridKendo').data('kendoGrid').refresh();
    })

    function OnSuccess(data) {

        var wnd = $("#popforsharholder").data("kendoWindow");
        $("#popforsharholder").scrollTop(0);
        changeType_();
    }
    function OnFailure(data) {
        var wnd = $("#popforsharholder").data("kendoWindow");
        $("#popforsharholder").scrollTop(0);
        changeType_();
    }

    $("#dpDOB_minor").removeAttr("data-val-date");
    $("#dpCessation_Membership_Date").removeAttr("data-val-date");
    $("#dpNomination_Date_Receipt").removeAttr("data-val-date");
    $("#dpbecomingmember_Date").removeAttr("data-val-date");
    $("#dpdeclaration_Date_under89").removeAttr("data-val-date");

    if ($("#dpDOB_minor").val() == "01/01/0001") {
        $("#dpDOB_minor").val('');
    }
    if ($("#dpNomination_Date_Receipt").val() == "01/01/0001") {
        $("#dpNomination_Date_Receipt").val('');
    }
    if ($("#dpCessation_Membership_Date").val() == "01/01/0001") {
        $("#dpCessation_Membership_Date").val('');
    }

    if ($("#dpbecomingmember_Date").val() == "01/01/0001") {
        $("#dpbecomingmember_Date").val('');
    }

    if ($("#dpdeclaration_Date_under89").val() == "01/01/0001") {
        $("#dpdeclaration_Date_under89").val('');
    }

    function checkDate(e) {

        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }

    function changeClassOfShare() {
        var ddlSharesClass = $("#ddlShares_Class").data("kendoDropDownList");
        var _NominaVal_per_Shares = $("#txtNominaVal_per_Shares");
        var index = ddlSharesClass.selectedIndex;
        _NominaVal_per_Shares.val(ddlSharesClass.dataItem(index).NominalValuePerShare);
    }

    function changeType_() {

        var _txtCIN = $("#txtCIN");
        var ddltype = $("#ddltype").data("kendoDropDownList");
        var txtoccupation = $("#txtOccupation");

        if (ddltype.value() == 2) {
            txtoccupation.attr('readonly', true);
            txtoccupation.val('');
            _txtCIN.attr('readonly', false);
            dataValidation(_txtCIN, 'Please enter CIN/LLPN/Registration Number');

        }
        else if (ddltype.value() == 3) {
            txtoccupation.attr('readonly', true);
            txtoccupation.val('');
            _txtCIN.attr('readonly', false);
            dataValidation(_txtCIN, 'Please enter CIN/LLPN/Registration Number');


        }

        else if (ddltype.value() == 4) {
            txtoccupation.attr('readonly', false);
            txtoccupation.val('');
            _txtCIN.val("");
            _txtCIN.attr('readonly', true);
            removeDataValidation(_txtCIN);

        }
        else if (ddltype.value() == 5) {
            txtoccupation.attr('readonly', true);
            txtoccupation.val('');
            _txtCIN.val("");
            _txtCIN.attr('readonly', false);
            dataValidation(_txtCIN, 'Please enter CIN/LLPN/Registration Number');

        }
        else if (ddltype.value() == 6) {
            txtoccupation.attr('readonly', true);
            txtoccupation.val('');
            _txtCIN.val("");
            _txtCIN.attr('readonly', false);
            dataValidation(_txtCIN, 'Please enter CIN/LLPN/Registration Number');
            //document.getElementById('DivisDirectororNot').style.display = 'none';
            //document.getElementById('DIVDirector').style.display = 'none';
            //document.getElementById("DIVMember").style.display = 'block';
        }
        else if (ddltype.value() == 1) {
            removeDataValidation(_txtCIN);
            //var radiobuttonval = $('input[name=IsDirector]:checked').val();
            //document.getElementById('DivisDirectororNot').style.display = 'block';
            //if (radiobuttonval == "False" || radiobuttonval == false) {

            //    //document.getElementById('DIVDirector').style.display = 'none';
            //    //document.getElementById("DIVMember").style.display = 'block';
            //}
            //else {


            //    //document.getElementById('DIVDirector').style.display = 'block';
            //    //document.getElementById("DIVMember").style.display = 'none';
            //}
            _txtCIN.val("");
        }
        else if (ddltype.value() == 1) {
            //document.getElementById('DivisDirectororNot').style.display = 'block';
            //document.getElementById("DIVMember").style.display = 'none';
            _txtCIN.val("");
            _txtCIN.attr('readonly', true);
            removeDataValidation(_txtCIN);
        }
        else {

            //document.getElementById('DivisDirectororNot').style.display = 'none';
            _txtCIN.attr('readonly', false);
            txtoccupation.attr('readonly', false);
            _txtCIN.attr('readonly', true);

            txtoccupation.attr('readonly', false);
            _txtCIN.val("");
            removeDataValidation(_txtCIN);
        }
    }

    $(document).ready(function () {
        changeType_();
    });

    function changeofDirector(obj) {

        var ddldirectorval = $("#" + obj.id).data("kendoDropDownList");
        var index = ddldirectorval.selectedIndex;
        var DirPermanentAddress = ddldirectorval.dataItem(index).ParmanentAddress;
        var EmilId = ddldirectorval.dataItem(index).EmailId;
        var Occupation = ddldirectorval.dataItem(index).Occupation;
        var Pan = ddldirectorval.dataItem(index).PAN;
        if (DirPermanentAddress != '') {
            $('#txtbodycorporate_Address').val(DirPermanentAddress);
        }
        if (EmilId != '') {
            $('#txtEmail_Id').val(EmilId);
        }
        if (Occupation != '') {
            $('#txtOccupation').val(Occupation)
        }
        if (Pan != '') {
            $('#txtPAN').val(Pan)
        }

    }

    function saveShareholdingData() {
        $("#frmUpdateDetailsofShareHolding1").attr(
                            "action",
                            "@Url.Action("CreateShareMaster", "ShareholdingMaster")"
                        ).submit();
    }
</script>

@if (Model.IsMemberMinnor)
{
    <script>
        document.getElementById('MemberinMinor').style.display = 'block';
        $("#spanGardianName").text("*");
        $("#spanDOB").text("*");
    </script>
}
else
{
    <script>
        document.getElementById('MemberinMinor').style.display = 'none';
        $("#spanGardianName").text("");
        $("#spanDOB").text("");
    </script>
}

@*@if (Model.IsDirector)
    {
        <script>
            //document.getElementById('MemberinMinor').style.display = 'block';
            //$("#spanGardianName").text("*");
            //$("#spanDOB").text("*");
            document.getElementById("DIVMember").style.display = 'none';
            document.getElementById("DIVDirector").style.display = 'block';
        </script>
    }
    else
    {
        <script>
            //document.getElementById('MemberinMinor').style.display = 'none';
            //$("#spanGardianName").text("");
            //$("#spanDOB").text("");
            document.getElementById("DIVMember").style.display = 'block';
            document.getElementById("DIVDirector").style.display = 'none';
        </script>
    }*@

