﻿
@model BM_ManegmentServices.VM.VMShareholding

@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "Shareholding :: Master";
}

<title></title>
<link href="~/Content/Css/DirectorCSS.css" rel="stylesheet" />

<script>    
    function onRowBound(e) {
        GetICons();

        var grid = $("#gridKendo").data("kendoGrid");
        getGridborder(grid);
    }
</script>

<div class="row Dashboard-white-widget">
    <div class="dashboard">
        <div class="row col-md-12 colpadding0">
            <h4><b>@Model.EntityName</b></h4>
        </div>

        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="col-md-10 colpadding0">
                    @*<input id='filter' placeholder="Search by Folio Number/Member Name" class='k-textbox' style="width: 52%" autocomplete="off" />*@
                    <div class="col-md-6 colpadding0">
                        <input id='filter' placeholder="Search by Folio Number/Member Name" class='k-textbox' style="width:90%" autocomplete="off" onchange="filterChange(this)" />
                    </div>
                </div>
                <div class="col-md-1 colpadding0">

                </div>
                <div class="col-md-1 colpadding0 text-right">
                    <a class="btn btn-primary" href="/#" id="customCommand" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</a>
                </div>
            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                @Html.AntiForgeryToken()

                @(Html.Kendo().Grid<BM_ManegmentServices.VM.VMShareholding>()
        .Name("gridKendo")
        .Columns(columns =>
        {
            //columns.Bound(o => o.Id).Filterable(false).HtmlAttributes(new { @style = "white-space: nowrap;" }); ;
            columns.Bound(o => o.Follio_No).Title("Folio Number").HtmlAttributes(new { @style = "white-space: nowrap;width:10%" });
            columns.Bound(o => o.Member_Name).Title("Member").HtmlAttributes(new { @style = "white-space: nowrap;width:30%" });
            columns.Bound(o => o.EmailId).Title("Email Id").HtmlAttributes(new { @style = "white-space: nowrap;width:20%" });
            columns.Bound(o => o.Tot_SharesHeld).Title("Total shares held").HtmlAttributes(new { @style = "white-space: nowrap;width:10%" });
            columns.Bound(o => o.perofTotShareHolding).Title("SharesHeld(%)").HtmlAttributes(new { @style = "white-space: nowrap;width:10%" });

            columns.Command(command =>
            {
                command.Custom("Edit").Click("CreateNew").HtmlAttributes(new { @class = "k-grid-edit hoverCircle" });
                command.Custom("Delete").Click("DeleteShareholding").HtmlAttributes(new { @class = "k-grid-delete hoverCircle" });
            })
 .Title("Action").HtmlAttributes(new { @style = "width:10%" });
        })
        .EnableCustomBinding(true)


        .Events(e => e.DataBound("onRowBound"))
        .Navigatable()
        .Pageable(pageable => pageable
            .Refresh(false)
            .PageSizes(true)
            .ButtonCount(5))
            .Filterable()
            .Sortable()
            .Reorderable(reorderable => reorderable.Columns(true))
            .Resizable(resizable => resizable.Columns(true))
            .ColumnMenu()
            .DataSource(dataSource => dataSource
            .WebApi()
            //.Ajax()
            .PageSize(20)
            //.ServerOperation(false)
            .Model(model =>
            {
                model.Id(o => o.Id);
                //model.Field(o => o.DIN);
                //model.Field(o => o.DSC_ExpiryDate);

            })
        .Read(read => read.Url("/api/ShareholdingMasterAPI/GetShareholdingDtls").Data("getEntityId").Type(HttpVerbs.Get))
               .Events(events => events.Sync("sync_handler"))
                          //.Events(events => events.Error("error_handler"))

                          ).HtmlAttributes(new { @style = "width:100%" })
                )
            </div>
        </div>


        <div class="row colpadding0 mt30 hidden">
            <div class="col-md-12 colpadding0">
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("GetEntityDtls", "EntityMaster")';return false;">Back</button>
            </div>
        </div>

    </div>
</div>

@(Html.Kendo().Window()
    .Name("popforsharholder")
    .Title("Add -ShareHoldingMaster")
    .Visible(false)
    .Modal(true)
    //.Draggable(true)
    .Scrollable(true)
    .Events(e => e.Open("adjustSize"))
    .Events(e => e.Refresh("OnRefresh"))
)

<div id="wndDelete">
    <h5>Are you sure you want to delete this data?</h5>
    <button id="yes" class="k-button">Yes</button>
    <button id="no" class="k-button">No</button>
</div>
@(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-edit")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Edit")
)

@(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-delete")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Delete")
)
<script>
    var wndDelete;
    $(document).ready(function () {
        wndDelete = $("#wndDelete").kendoWindow({
            title: "Delete confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");
    });

var breadCrumbData = [
            {
                displayText: "Entity",
                navigateUrl: "/BM_Management/EntityMaster/GetEntityDtls",
            }, {
                displayText: "Shareholding",
                navigateUrl: "#",
            },
        ];

        setBreadCrumb(breadCrumbData);

    function DeleteShareholding(e) {
        debugger;
        e.preventDefault();

        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.Id;
        wndDelete.center().open();
        $("#yes").click(function () {
            Delete(id)
            grid.removeRow(row);
            wndDelete.close();
        });

        $("#no").click(function () {
            wndDelete.close();
        });
    }

    function Delete(id) {
        $.ajax({
            url: "/api/ShareholdingMasterAPI/DeleteShareHolding?Id=" + id,
            method: "DELETE",
            success: function () {
                alert("Deleted Successfully");
                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
            }
        });
    }

</script>
<script>
    $(document).ready(function () {
        setactivemenu('leftmastermenu');
        fhead('Masters / ShareHolding Master');
    });

    function sync_handler(e) {
        this.read();
    }



    $("#customCommand").click(function (e) {
        e.preventDefault();
        CreateNew(e);
    });
    function CreateNew(e) {
        e.preventDefault();
        OnOpen('a');
        $("#popforsharholder").kendoWindow({
            title: "Add/Edit -Shareholding Master"
        });
        e.preventDefault();
        $("#popforsharholder").attr("style", "min-height:100px;");


        var wnd = $("#popforsharholder").data("kendoWindow");
        var opts = wnd.options;
        var direction="";

        if (e.currentTarget.innerText != "New") {
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            direction = "Create?id=" + dataItem.Id+"&entityID="+@Model.Shareholding.Entity_Id;

        }
        else {
            direction = "Create?id="+0+"&entityID="+@Model.Shareholding.Entity_Id;
        }
        // if (!wnd) {
        wnd = $("#popforsharholder").kendoWindow({
            title: "Add/Edit -Shareholding Master",

            content: direction,
            pinned:true,
            width: "80%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresh(); },
            close: function (e) {
                $(this.element).empty();
                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {
                OnOpen();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
                $(this.element).closest(".k-window").css("top", "7%");
            }
        }).data("kendoWindow");

        opts.width = "80%";
        wnd.setOptions(opts);
        wnd.refresh(direction);
        wnd.center();
        wnd.open();
    }

    function OnOpen(e) {
        var wnd = $("#popforsharholder").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }

    function adjustSize() {
        // if ($(window).width() < 500 || $(window).height() < 400) {
        //   this.maximize();
        // }
    }

   

    function OnRefresh() {

        var wnd = $("#popforsharholder").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);

    }

    function Onshareholdingsuccess() {
        var wnd = $("#popforsharholder").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
        $('#Equity').prop('disabled', false);
        $('#mytab a:last').show();

    }

    function OnRefreshe()
    {
        var wnd = $("#popforsharholder").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }
    function getEntityId() {

        return {
            EntityId: "@ViewBag.EntityId"
        };
    }

    $(document).ready(function () {

        $("#dpbecomingmember_Date").removeAttr("data-val-date");
        $("#dpDOB_minor").removeAttr("data-val-date");
        $("#dpdeclaration_Date_under89").removeAttr("data-val-date");
        $("#dpCessation_Membership_Date").removeAttr("data-val-date");
        $("#dpNomination_Date_Receipt").removeAttr("data-val-date");

        if ($("#dpbecomingmember_Date").val() == "01/01/0001") {
            $("#DateOfBdpbecomingmember_Dateirth").val('');
        }

        if ($("#dpDOB_minor").val() == "01/01/0001") {
            $("#dpDOB_minor").val('');
        }

        if ($("#dpdeclaration_Date_under89").val() == "01/01/0001") {
            $("#dpdeclaration_Date_under89").val('');
        }

        if ($("#dpCessation_Membership_Date").val() == "01/01/0001") {
            $("#dpCessation_Membership_Date").val('');
        }

        if ($("#dpNomination_Date_Receipt").val() == "01/01/0001") {
            $("#dpNomination_Date_Receipt").val('');
        }

    });

    $(document).on("change", "input[name='IsMemberMinnor']", function () {

        var mimeType = document.getElementById("txtGuardian_Name");
        var mimeTypes = document.getElementById("dpDOB_minor");
        if (this.value == "True")
        {
            mimeType.setAttribute("required", "required");
            mimeTypes.setAttribute("required", "required");
            document.getElementById('MemberinMinor').style.display = 'block';
            $("#spanGardianName").text("*");
            $("#spanDOB").text("*");
        }
        else
        {
            mimeType.removeAttribute("required");
            mimeTypes.removeAttribute("required");
            document.getElementById('MemberinMinor').style.display = 'none';
            $("#spanGardianName").text("");
            $("#spanDOB").text("");
        }
    })

    $(document).on("change", "input[name='IsDirector']", function () {

        var MemberType = document.getElementById("DIVMember");
        var DirectorType = document.getElementById("DIVDirector");
        if (this.value == "True")
        {
            //mimeType.setAttribute("required", "required");
            //mimeTypes.setAttribute("required", "required");
            document.getElementById("DIVMember").style.display = 'none';
            document.getElementById("DIVDirector").style.display = 'block';
            //$("#spanGardianName").text("*");
            //$("#spanDOB").text("*");
        }
        else
        {
            //mimeType.removeAttribute("required");
            //mimeTypes.removeAttribute("required");
            document.getElementById("DIVMember").style.display = 'block';
            document.getElementById("DIVDirector").style.display = 'none';
            //$("#spanGardianName").text("");
            //$("#spanDOB").text("");
        }
    })


</script>

<script>

    function filterChange(e) {

        
        var filter = { logic: 'or', filters: [] };

        var t = $('#filter');
        if (t.val() != "") {
            filter.filters.push({ logic: "or", field: "Follio_No", operator: "contains", value: t.val() });
            filter.filters.push({ logic: "or", field: "Member_Name", operator: "contains", value: t.val() });
            filter.filters.push({ logic: "or", field: "EmailId", operator: "contains", value: t.val() });
            filter.filters.push({ logic: "or", field: "Tot_SharesHeld", operator: "contains", value: t.val() });
        }
        if (filter != null) {
            $("#clearfillter").show();
        }
        else {
            $("#clearfillter").hide();
        }
        var grid = $("#gridKendoForm").data("kendoGrid");
        grid.dataSource.filter(filter);
    }

    function clearfilter(e) {
        

        var txtStartPeriod = $("#filter").val();

        if (txtStartPeriod != null && txtStartPeriod != undefined) {
            $("#filter").val("");

        }
        $('#clearfillter').css('display', 'none');

        $("#gridKendo").data("kendoGrid").dataSource.filter({});
    }

    function ApplyFilter() {

        //Customer
        var selectedCustIDs = $("#ddlCustomers").val();

        //EntityBranch
        var selectedEntityBranches = $("#ddlTreeEntityBranch").data("kendoDropDownTree")._values;

        //User/SPOC
        var selectedUsers = $("#ddlUsers").data("kendoDropDownTree")._values;

        //ComType
        var selectedComTypes = $("#ddlComplianceType").val();

        var finalSelectedfilter = { logic: "and", filters: [] };

        if (selectedCustIDs != "" || selectedEntityBranches.length > 0 || selectedComTypes != "" || selectedUsers.length > 0) {

            if (selectedCustIDs != '' && selectedCustIDs != null && selectedCustIDs != undefined && selectedCustIDs != "-1") {
                var custFilter = { logic: "or", filters: [] };

                custFilter.filters.push({
                    field: "CustomerID", operator: "eq", value: selectedCustIDs
                });

                finalSelectedfilter.filters.push(custFilter);
            }

            if (selectedEntityBranches.length > 0) {
                var branchFilter = { logic: "or", filters: [] };

                $.each(selectedEntityBranches, function (i, v) {
                    branchFilter.filters.push({
                        field: "BranchID", operator: "eq", value: v
                    });
                });

                finalSelectedfilter.filters.push(branchFilter);
            }

            if (selectedUsers.length > 0) {
                var userFilter = { logic: "or", filters: [] };

                $.each(selectedUsers, function (i, v) {
                    userFilter.filters.push({
                        field: "Performer", operator: "eq", value: v.UserName
                    });

                    userFilter.filters.push({
                        field: "Reviewer", operator: "eq", value: v.UserName
                    });
                });

                finalSelectedfilter.filters.push(userFilter);
            }

            if (selectedComTypes != '' && selectedComTypes != null && selectedComTypes != undefined && selectedComTypes != "-1") {
                var comTypeFilter = { logic: "or", filters: [] };

                comTypeFilter.filters.push({
                    field: "StateID", operator: "eq", value: selectedComTypes
                });

                finalSelectedfilter.filters.push(comTypeFilter);
            }
        }

        if (finalSelectedfilter.filters.length > 0) {
            var dataSource = $("#grid").data("kendoGrid").dataSource;
            dataSource.filter(finalSelectedfilter);
            $('#btnClearFilter').css('display', 'block');
        } else {
            var dataSource = $("#grid").data("kendoGrid").dataSource;
            dataSource.filter({});
            $('#btnClearFilter').css('display', 'none');
        }
    }
</script>







