﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ADDPerticularHeader.aspx.cs" Inherits="com.VirtuosoITech.ComplianceManagement.Portal.Litigation.aspxPages.ADDPerticularHeader" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
     <!-- Bootstrap CSS -->
    <link href="../../NewCSS/bootstrap.min.css" rel="stylesheet" />
    <!-- bootstrap theme -->
    <link href="../../NewCSS/bootstrap-theme.css" rel="stylesheet" />
    <!--external css-->
    <!-- font icon -->
    <link href="../../NewCSS/elegant-icons-style.css" rel="stylesheet" />
    <link href="../../NewCSS/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="../../NewCSS/style.css" rel="stylesheet" />
    <link href="../../NewCSS/style-responsive.css" rel="stylesheet" />
    <script type="text/javascript" src="../../Newjs/jquery.js"></script>
    <script type="text/javascript" src="../../Newjs/jquery-ui-1.9.2.custom.min.js"></script>
    <link href="~/NewCSS/contract_custom_style.css" rel="stylesheet" />

     <script type="text/javascript">
        function CloseMe() {
            window.parent.CloseParticularHeaderPopUp();
        }
        function RefreshParent() {
            window.parent.location.href = window.parent.location.href;
        }
    </script>

</head>
<body>
    <form id="form1" runat="server">
     <div>
            <asp:ScriptManager ID="smAddEditParticularHeader" runat="server"></asp:ScriptManager>
            <asp:UpdatePanel ID="upAddEditParticularHeader" runat="server" UpdateMode="Conditional">
                <ContentTemplate>
                    <div>
                        <div class="row form-group">
                         <%--   <asp:ValidationSummary ID="vsAddEditParticularHeader" runat="server" Display="none" class="alert alert-block alert-danger fade in"
                                ValidationGroup="ParticularHeaderValidationGroup" />
                            <asp:CustomValidator ID="cvAddEditParticularHeader" runat="server" EnableClientScript="False"
                                ValidationGroup="ParticularHeaderValidationGroup" Display="none" class="alert alert-block alert-danger fade in" />--%>
                        </div>
                        <%-- <div class="row form-group">
                            <div class="form-group required col-md-4">
                                <label for="tbxParticularHeader" class="control-label">CaseStage TypeCode</label>
                                <asp:TextBox runat="server" ID="tbxParticularHeadercode" CssClass="form-control" />
                                <asp:RequiredFieldValidator ID="rfvtbxParticularHeaderCode" ErrorMessage="Required CaseStage CodeName" ControlToValidate="tbxParticularHeadercode"
                                    runat="server" ValidationGroup="ParticularHeaderValidationGroup" Display="None" />
                            </div>
                        </div>--%>
                        <div class="row form-group">
                            <div class="form-group required col-md-4">
                                <label style="width: 10px; display: block; float: left; margin-top: 5px; font-size: 13px; color: red;">*</label>
                            <label style="width: 100px; display: block; float: left; margin-top: 5px; font-size: 13px; color: #333;">
                               Particulars</label>
                                <asp:TextBox runat="server" ID="tbxParticularHeader" CssClass="form-control" Style="width: 250px;" MaxLength="100" />
                                <asp:RequiredFieldValidator ID="rfvtbxParticularHeaderName" ErrorMessage="Required Perticular Name" ControlToValidate="tbxParticularHeader"
                                    runat="server" ValidationGroup="ParticularHeaderValidationGroup" Display="None" />
                            </div>
                        </div>
                        <div class="row form-group text-center">
                            <div class="col-md-12">
                                <asp:Button Text="Save" runat="server" ID="btnSave" OnClick="btnSave_Click" CssClass="btn btn-primary"
                                    ValidationGroup="ParticularHeaderValidationGroup" />
                                <asp:Button Text="Close" runat="server" ID="btnCancel"
                                    CssClass="btn btn-primary" data-dismiss="modal" OnClientClick="CloseMe();" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p style="color: red;"><strong>Note:</strong> (*) fields are Compulsory</p>
                            </div>
                        </div>
                    </div>
                </ContentTemplate>
            </asp:UpdatePanel>
        </div>
    </form>
</body>
</html>
