﻿@using Kendo.Mvc.UI
@model BM_ManegmentServices.VM.MeetingAttendance_VM
<script>
    function DownloadAttendenceDoc(meetingID){      
        window.location = '/BM_Management/MainMeeting/DownloadAttendence?MeetingId=' + meetingID;
    }
</script>
<div class="row colpadding0">
    <div class="col-md-12 colpadding0 text-right">
        <span class="">
            <img src="~/Areas/BM_Management/img/Download.png" onclick="DownloadAttendenceDoc(@Model.MeetingId)" />
            @*<img src="~/Images/regulatorydownload.png" style="cursor:pointer"  onclick="DownloadAttendenceDoc(@Model.MeetingId)"/>*@
        </span>
    </div>
</div>

<div class="container" style="min-height:400px">
    <div class="row colpadding0">
        <div class="col-md-12 colpadding0">
            @*Header*@
            <div class="row colpadding0">
                <div class="col-md-12 colpadding0" style="text-align:center">
                    <p style="background-color:yellow;font-family:'Times New Roman';font-size:17px">On the letterhead of the Company</p>
                </div>
            </div>
            @*Header*@

            <div class="row colpadding0">
                <div class="col-md-12 colpadding0" style="text-align:center">
                    <p style="font-family:Calibri; font-size:17px">ATTENDANCE REGISTER</p>
                </div>
            </div>

            <div class="row colpadding0">
                <div class="col-md-12 colpadding0" style="text-align:center">
                    <p style="font-family:Calibri; font-size:17px"><b>@Model.startstopeDateVM.MeetingType Meeting No_ @Model.startstopeDateVM.MeetingSrNo</b></p>
                </div>
            </div>

            <div class="row colpadding0">
                <div class="col-md-12 colpadding0" style="text-align:center">
                    <p style="font-family:Calibri; font-size:17px">HELD AT REGISTERED OFFICE OF THE COMPANY ON @Model.startstopeDateVM.MeetingDueDate AT @Model.startstopeDateVM.Venu</p>
                </div>
            </div>

            <div class="row colpadding0">
                <div class="col-md-12 colpadding0" style="text-align:justify">
                    <table style="border:1px solid black" class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="font-family:Calibri; font-size:17px">
                                    <b>Sr.No</b>
                                </th>
                                <th style="font-family:Calibri; font-size:17px">
                                    <b>NAME OF DIRECTOR</b>
                                </th>
                                <th style="font-family:Calibri; font-size:17px">
                                    <b>PRESENT / LEAVE OF ABSENCE</b>
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in @Model.AttendenceDetails)
                            {
                            <tr>
                                <td>
                                    
                                </td>
                                <td>
                                    @item.Participant.ToUpper()
                                </td>
                                <td>
                                    @item.Attendence
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row colpadding0">
                <div class="col-md-12 colpadding0">
                    <p style="font-family:Calibri; font-size:17px">Authenticated By: _________________________,(Chairman of the Meeting) on______________________ </p>
                </div>
            </div>

            <div class="row colpadding0">
                <div class="col-md-12">
                    <p style="font-family:Calibri; font-size:17px">Name:</p>
                    <p style="font-family:Calibri; font-size:17px">Signature:</p>
                </div>
            </div>

        </div>
    </div>
</div>


