﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MeetingCTC
    
<div>
    @if (Model != null)
    {

        var strMeetingSrNo = "";
        if (Model.MeetingNo != null)
        {
            var MeetingSrNo = Model.MeetingNo;
            if (MeetingSrNo == 1)
            {
                strMeetingSrNo = "1<sup>st</sup>";
            }
            else if (MeetingSrNo == 2)
            {
                strMeetingSrNo = "2<sup>nd</sup>";
            }
            else if (MeetingSrNo == 3)
            {
                strMeetingSrNo = "3<sup>rd</sup>";
            }
            else
            {
                strMeetingSrNo = MeetingSrNo + "<sup>th</sup>";
            }
        }

        <div id="divCTCTempletPreview">
            <div class="row colpadding0">
                <div class="col-md-12 colpadding0" id="DivctcHeader">
                    <h4 style="font-family:'Bookman Old Style';font-style:italic;font-size:1.3em;text-align:center">@Html.Raw("On the letterhead of the Company")</h4>
                </div>
            </div>
            <div id="HeaderContent" style="font-family:'Bookman Old Style';font-size:1.3em;text-align:justify;border-bottom:1px solid">
                <b>

                    @Html.Raw("CERTIFIED TRUE COPY OF THE RESOLUTION PASSED AT THE") @Html.Raw(strMeetingSrNo) @Html.Raw("MEETING OF THE BOARD OF DIRECTORS OF")
                    @Html.Raw(Model.EntityName)
                    @Html.Raw("HELD ON") @Html.Raw(Model.MeetingDay),@Html.Raw((Model.MeetingDate).ToString("dd-MM-yyyy")),@Html.Raw("AT") @Html.Raw(@Model.MeetingVenu).

                </b>

            </div>

            <div id="DivNoticeHeading" class="widget mt30" style="font-family:'Bookman Old Style';font-size:1.3em;text-align:justify;">
                @Html.Raw(Model.MeetingMinutesHeadingFormate)
            </div>

            <div id="DivResolution" class="widget mt30" style="font-family:'Bookman Old Style';font-size:1.3em;text-align:justify;">
                @Html.Raw(Model.MeetingResolutionFormate)
            </div>
            <div class="row colpadding0">
                <div class="col-md-12 colpadding0">
                    <div id="footercontentleft" class="col-md-6 colpadding0">
                        <p style="font-family:'Bookman Old Style';font-size:1.3em;text-align:left;"> @Html.Raw("Place"):</p>
                        <p style="font-family:'Bookman Old Style';font-size:1.3em;text-align:left;"> @Html.Raw("Date"):</p>
                    </div>
                    <div id="DivFootercontentright" class="col-md-6 colpadding0">
                        <p style="font-family:'Bookman Old Style';font-size:1.3em;text-align:right;"> @Html.Raw("Certified True Copy")</p>
                        <p style="font-family:'Bookman Old Style';font-size:1.3em;text-align:right;">
                            <b>@Html.Raw("For") @Html.Raw(Model.EntityName)</b>
                        </p>

                        <p style="font-family:'Bookman Old Style';font-size:1.3em;text-align:right;">
                            @if (Model.DirectorName == null)
                            {
                            @Html.Raw("{{Name of Director authorised to sign CTC}}")
                            }
                            else
                            {
                            @Html.Raw(Model.DirectorName)
                            }
                        </p>
                        <p style="font-family:'Bookman Old Style';font-size:1.3em;text-align:right;">
                            @if (Model.DesignationofDirector == null)
                            {
                            @Html.Raw("{{Designation of Signatory}}")
                            }
                            else
                            {
                            @Html.Raw(Model.DesignationofDirector)
                            }
                        </p>
                        <p style="font-family:'Bookman Old Style';font-size:1.3em;text-align:right;">
                            @if (Model.DinNumberofDirector == null)
                            {
                            @Html.Raw("{{DIN if Signatory}}")
                            }
                            else
                            {
                            @Html.Raw(Model.DinNumberofDirector)
                            }
                        </p>
                    </div>
                </div>
            </div>

        </div>

    }
</div>

<script>
    $(document).ready(function () {
     
        $("#ddlDirector").hide();
    })
</script>