﻿@using Kendo.Mvc.UI
@model BM_ManegmentServices.VM.MeetingAttendance_VM
<style>
    .k-detail-cell .k-tabstrip .k-content {
        padding: 0.2em;
    }

    .employee-details ul {
        list-style: none;
        font-style: italic;
        margin: 15px;
        padding: 0;
    }

        .employee-details ul li {
            margin: 0;
            line-height: 1.7em;
        }

    .employee-details label {
        display: inline-block;
        width: 90px;
        padding-right: 10px;
        text-align: right;
        font-style: normal;
        font-weight: bold;
    }
</style>

<script>
    function setDataItemforvoting(item) {
        
        var grid = $("#gridAgendadetails").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);

        if ($(item).val() == "A") {
            dataItem.AgendaResponse = "A";
        } else if ($(item).val() == "D") {
            dataItem.AgendaResponse = "D";
        }
        else if ($(item).val() == "DIF") {
            dataItem.AgendaResponse = "DIF";
        }
        else if ($(item).val() == "AB") {
            dataItem.AgendaResponse = "AB";
        }
        else if ($(item).val() == "N") {
            dataItem.AgendaResponse = "N";
        }
        dataItem.dirty = true;
    }
    function markAttendence(MeetingId, ParticipantId) {
        
        $.ajax({
            type: "POST",
            url: '@Url.Action("MarkAttendence", "MainMeeting")',
            data: { MeetingId: MeetingId, ParticipantId: ParticipantId },
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data == "Mark attendance successfully") {
                    alert(data)
                }
                else {
                    alert(data)
                }
            }
        });
    }
    function RowDataBound() {
        
        //this.expandRow(this.tbody.find("tr.k-master-row"));
        var grid = $('#gridAgendadetails').data('kendoGrid');
        var gridData = grid.dataSource.view();
        var rows = grid.tbody.find('>tr.k-master-row');
        //for (var i = 0; i < rows.length; i++) {
        //    grid.expandRow(rows.eq(i));
        //}
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

            $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
            $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 1px 0 #DDDDDD");
        })
        for (var i = 0; i < gridData.length; i++) {
           
                var currentUid = gridData[i].uid;
                var checkboxid = $("#rdbApproved" + currentUid);
                var disapprove = $("#rdbDisapprove" + currentUid);
                var differ = $("#rdbDiffered" + currentUid)
                var abstain = $("#rdbAbstain" + currentUid)
                var noted = $("#chkNoting" + currentUid)
                if (gridData[i].AgendaResponse == 'A') {
                    checkboxid.prop('checked', true);
                }
                else if(gridData[i].AgendaResponse == 'D')
                {
                    disapprove.prop('checked', true);
                }
                else if (gridData[i].AgendaResponse == 'DIF') {
                    differ.prop('checked', true);
                }
                else if (gridData[i].AgendaResponse == 'AB') {
                    abstain.prop('checked', true);
                }
                else if (gridData[i].AgendaResponse == 'N') {
                    noted.prop('checked', true);
                }
                else
                {
                    disapprove.prop('checked', false);
                    checkboxid.prop('checked', false);
                    abstain.prop('checked', false);
                    noted.prop('checked', false);
                }
            

           
        }
    }

    function getNotingVotingdetails(data) {
        var str = "";
        debugger
        if (data.Isvooting == true) {
            str += "<label class='container1' for='rdbApproved" + data.uid + "'>Approve<input id='rdbApproved" + data.uid + "' name=" + data.uid + "' onclick='setDataItemforvoting(this);'  style='margin-left:0.5em;' type='radio' value='A'><span class='checkmark1'></span></label>" + "&nbsp; &nbsp;" +
     "<label class='container1' for='rdbDisapprove" + data.uid + "'>Disapprove<input id ='rdbDisapprove" + data.uid + "' name = " + data.uid + "' onclick = 'setDataItemforvoting(this);' style='margin-left:0.5em;' type='radio' value='D'><span class='checkmark1'></span></label>" + "&nbsp; &nbsp;" +
     "<label class='container1' for='rdbDiffered" + data.uid + "'>Defer<input id = 'rdbDiffered" + data.uid + "' name=" + data.uid + "' onclick='setDataItemforvoting(this);' style='margin-left:0.5em;' type='radio' value='DIF'><span class='checkmark1'></span></label>" + "&nbsp; &nbsp;" +
     "<label class='container1' for='rdbAbstain" + data.uid + "'>Abstain<input id = 'rdbAbstain" + data.uid + "'' name=" + data.uid + "' onclick='setDataItemforvoting(this);' style='margin-left:0.5em;' type='radio' value='AB'><span class='checkmark1'></span></label>";
        }
        else if (data.Isvooting == false) {
            str += "<label class='container' style='margin-left: 9 %;'>Noted<input type='checkbox' id= 'chkNoting" + data.uid + "' onchange='setDataItemforvoting(this);' value='N'><span class='checkmark'></span></label>";
        }
        return str;
    }

    function Saveotingvoting() {
        
        var grid = $("#gridAgendadetails").data("kendoGrid");
        grid.saveChanges();
    }
    function gettemplet(data) {
        
        str = "<div><h4>HI</h4></div>";
        return str;
    }
    function Bindchart() {
        
    }
    function chartToolTipTemplate(a)
    {
        debugger
        var template = "<div>" + a.dataItem.Category + " : " + a.dataItem.Response_Count + "</div> <div style='text-align:left'>";
        for (var i = 0; i < a.dataItem.lstParticiapants.length; i++) {
            var tag = a.dataItem.lstParticiapants[i];
            template += kendo.format("<li>{0}</li>", tag.ParticipantName, tag.Email);
        }
        template += "</div>";
        return template;
    }

    function Votingsummit(e)
    {
        var notification = $("#staticNotification").kendoNotification({
            position: {
                top: 100,
                right: 500,
                pinning: true,
                button: false,
                hideOnClick: false,
                autoHideAfter: 3500
            }
        }).data("kendoNotification");

        
        if (e.type == "create" || e.type == "update") {
            notification.show("Your response is Submitted Successfully", "success");
        }
    }
</script>
<style>
    /*.k-filter-row th, .k-grid-header th.k-header {
        border-width: 1px 0 1px 1px;
        font-size: 15px;
        background: #3b76bb;
        font-family: 'Roboto',sans-serif;
        color: #2b2b2b;
        font-weight: 400;
    }*/
    .k-hierarchy-cell
    {
        width:1%;
    }
    .k-grid tr td {
    border-style: solid;
    border-color: #fff;
}

    .k-header{
    border-color: #f8f8f8;
}
    .k-grid-header .k-header > .k-link, .k-header, .k-treemap-title {
    color: #292525;
}
</style>



<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <span id="staticNotification"></span>
    </div>
</div>
<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0">
        @(Html.Kendo().Grid<BM_ManegmentServices.VM.MeetingAgendaSummary>()
.Name("gridAgendadetails")
.Columns(columns =>
{
    columns.Bound(p => p.AgendaId).Hidden(true);
    columns.Bound(p => p.MeetingAgendaMappingId).Hidden(true);
    columns.Bound(p => p.MeetingId).Hidden(true);
    columns.Bound(p => p.AgendaFormate).ClientTemplate("#= AgendaFormate #").Title("Agenda").HtmlAttributes(new { @style = "width:45%" }); ;
    columns.Bound(c => c.AgendaResponse).Title("Agenda Response").ClientTemplate("#= getNotingVotingdetails(data)#").HtmlAttributes(new { @style = "width:40%" });
    columns.Command(commnd =>
    {
        commnd.Custom("D").Click("Document").HtmlAttributes(new { @class = "k-grid-Document" });

    }).Title("Action").HtmlAttributes(new { @style = "width:5%" });


})
.Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Bottom))
 .ClientDetailTemplateId("template")
.DataSource(dataSource => dataSource
.Ajax()
.Batch(true)
.Events(e => e.RequestEnd("Votingsummit"))
.ServerOperation(false)
.Read(read => read.Action("AgendaDetailswithvotingnoting", "MainMeeting", new { MeetingId = Model.MeetingId }).Type(HttpVerbs.Get))
.Update(update => update.Action("VotingNotingResponseusingDir", "MainMeeting"))
.Create(update => update.Action("VotingNotingResponseusingDir", "MainMeeting"))
            .Model(model =>
            {
                model.Field(p => p.AgendaResponse).Editable(false);
                model.Id(p => p.MeetingId);
                model.Field(p => p.AgendaFormate).Editable(false);

            })
            )
            .Events(e => e.DataBound("RowDataBound"))
        )
        <script id="template" type="text/kendo-tmpl">
         
            <table class="col-md-12 colpadding0">
                <thead class="k-grid-header"><tr><th class="col-md-3 k-header">Voting Responses</th><th class="col-md-1 k-header"></th><th class="col-md-4 k-header">Voting Result</th><th class="col-md-4 k-header">Interested Director </th></tr></thead>
                <tbody>
                    <tr>
                        <td class="col-md-3" style="border-right-width:1px">
                            @(Html.Kendo().Chart<BM_ManegmentServices.VM.AvailabilityResponseChartData_ResultVM>()
        .Name("chart_#=AgendaId#")
                .Title(title => title
                   
                    .Position(ChartTitlePosition.Top))
                    .HtmlAttributes(new {@style= "margin-left: -83;" })
        .Legend(legend => legend
            .Visible(true)
        .Position(ChartLegendPosition.Right)
        ).DataSource(ds => { ds.Read(read => read.Action("GetAgendaResponseChartData", "MainMeeting", new { MeetingId = Model.MeetingId, AgendaId = "#=AgendaId#", MappingId = "#=MeetingAgendaMappingId#" })); })
        .ChartArea(chart => chart
            .Background("transparent")
              .Height(165)
                                .Width(300)
            )
        .Series(series => series
                    .Pie(model => model.Response_Count, model => model.Category, model => model.Color)
                    .StartAngle(150)
            
                )
        .Tooltip(tooltip => tooltip
        .Visible(true)

       .Template("\\#= chartToolTipTemplate(data) \\#")
        ).ToClientTemplate())
                        </td>
                        <td></td>
                        <td class="col-md-4"><b>#=Result!=null?Result:""#</b></td>
                        <td class="col-md-4"></td>
                    </tr>
                </tbody>
            </table>
         
        </script>
    </div>
</div>
<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0" style="text-align:center">
        <button type="submit" id="saveppcom" class="btn btn-primary" onclick="Saveotingvoting()">Submit</button>
    </div>
</div>
@*<button type="button" id="btnNextMeetingAttendence" onclick="openAgendaTab()" class="k-primary k-button k-grid-update k-button-icontext" @((Model.Success != true) ? "disabled" : "")>Next</button>*@


