﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MeetingResolution

<script>
    function OnOpenResolution(e) {
        
        var wnd = $("#PopupMeetingResolution").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
       
    }

    function OnRefreshResolution()
    {
        $("#DIVloadAgendaMainContaint").load('@Url.Action("GetAgendaById", "MainMeeting")' + '?AgendaId=' + @Model.AgendaMappingId+"&MeetingId="+@Model.MeetingId)
        var wnd = $("#PopupMeetingResolution").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    $("#btnClose").click(function(){
        var wnd = $("#PopupMeetingResolution").data("kendoWindow");
        wnd.close();
    })

   
</script>
<div id="divUpdateMeetingResolution">
    @using (Ajax.BeginForm("UpdateResolution", "MainMeeting", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divUpdateMeetingResolution", OnBegin = "OnOpenResolution", OnComplete = "OnRefreshResolution", InsertionMode = InsertionMode.ReplaceWith }, new { id = "frmdivUpdateMeetingResolution" }))
    {
        @Html.HiddenFor(m => m.MeetingId)
        @Html.HiddenFor(m => m.AgendaId)
        @Html.HiddenFor(m => m.AgendaMappingId)
        <div class="row form-group">
            <div class="col-md-8 colpadding0">
                <label class="control-label">Heading</label>
                @(Html.TextAreaFor(m => m.ResolutionFormatHeadingSub, new { @class = "form-control k-textbox", @Id = "ResolutionFormatHeadingSub", style = "width: 100%;", autocomplete = "off" }))
            </div>
        </div>

            <div class="row form-group">
                <div class="col-md-12 colpadding0">
                    <label class="control-label">Text</label>
                    @(Html.Kendo().EditorFor(m => m.ResolutionFormatSub)
                                            .HtmlAttributes(new { style = "height:240px" })
                                            .Encode(false)
                                            .Resizable(resizable => resizable.Content(false).Toolbar(true))
                    )
                </div>
            </div>

            <div id="divSubAgendaEditorCmd" class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;">

                <button type="submit" value="update" class="k-primary k-button k-grid-update k-button-icontext">Update</button>

                <button type="submit" value="Close" id="btnClose" class="k-primary k-button k-grid-update k-button-icontext">Close</button>

            </div>
    }
        </div>


