﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Director_MasterVM


@Html.AntiForgeryToken()
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
@Html.HiddenFor(model => model.ID)
@Html.HiddenFor(model => model.ViewName)
<style>
    .director-photo {
        display: inline-block;
        width: 125px;
        height: 125px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
        line-height: 221%;
    }

    .picdiv {
        z-index: 1;
        position: relative;
    
    }
</style>
<script>
    $(document).ready(function () {
        loadDirectorName('@Model.FirstName', '@Model.LastName')
        $("#panelbarEditDirector").kendoPanelBar({
            expandMode: "single"
        });
    });
    function loadDirectorName(first, last) {
        if (first != "" && first != null) {
            Colors = [
              "#42A5F5",
              "#008391",
              "#846600",
             "#CC0060",
             "#330099", ];
            var result1 = Colors[Math.floor(Math.random() * Colors.length)];
            var firstName = first;
            var lastName = last;
            var intials = firstName.charAt(0) + lastName.charAt(0);
            $(".textimage1").text(intials);
            $(".textimage1").css("background-color", result1)
            $(".textimage1").css("color", "white")
            $(".textimage1").css("text-align", "center")
        }
    }

    function filterPermentState() {
        return {
            stateId: $("#ddlPermenant_StateId").val()
        };
    }

    function filterPresentState() {
        return {
            stateId: $("#ddlPresent_StateId").val()
        };
    }
</script>
@if (Model.Response != null)
{
    <div class="row">
        <div class="col-md-2 colpadding0">
        </div>
        <div class="col-md-8 colpadding0">
            @Html.Partial("_Response", Model.Response)
        </div>
        <div class="col-md-2 colpadding0">
        </div>
    </div>

    if (Model.Response.Success == true)
    {
        <script>
            if ("@Model.ViewName" == "DirectorAppointment") {

                var dropDownListFor = $('#Director_Id').data('kendoDropDownList');
                if (dropDownListFor != null) {
                    dropDownListFor.dataSource.read();
                }

            } else {
                var gridKendo = $('#gridKendo').data('kendoGrid');
                if (gridKendo != null) {
                    gridKendo.dataSource.read();
                }
            }

        </script>
    }
}
<div class="row colpadding0" style="overflow-x:hidden !important">
    <div class="row picdiv">
        <div class="col-md-12 colpadding0 column">
            <div class="col-md-3" style="text-align:center;margin-top:1%">

                @if (Model.Photo_Doc_Name != null)
                {
                    <img class="director-photo" src="@Url.Content(String.Format("/Areas/BM_Management/Documents/Director/" + Model.ID + "/" + Model.Photo_Doc_Name))" />
                }
                else
                {
                    <span class='director-photo textimage1' onload="loadDirectorName(@Model.FirstName,@Model.LastName)" style="font-size: 46px;line-height: 266%;"></span>
                }
            </div>
        </div>
        <div class="col-md-12 column">
            <div class="table-responsive">
                <table class="table" style="width:70%">
                    <thead>
                        <tr>
                            <td class="col-md-3 control-label">Name</td>
                            <td class="col-md-9">@Model.FirstName @Model.LastName</td>
                        </tr>
                        <tr>
                            <td class="col-md-3 control-label">DIN</td>
                            <td class="col-md-9">@Model.DIN</td>
                        </tr>
                        <tr>
                            <td class="col-md-3 control-label">Email</td>
                            <td class="col-md-9">@Model.EmailId</td>
                        </tr>
                        <tr>
                            <td class="col-md-3 control-label">Mobile</td>
                            <td class="col-md-9">@Model.MobileNo</td>
                        </tr>
                    </thead>
                </table>
                </div>
            </div>
    </div>
   <label class="control-label" style="font-size:16px;">Directorship in other company</label>
    <div class="row colpadding0 mt30">
        <div class="col-md-12 colpadding0">
            @(Html.Kendo().Grid<BM_ManegmentServices.VM.DetailsOfInterest>()
        .Name("gridKendo2")
        .Columns(columns =>
        {
            columns.Bound(o => o.Director_ID).Visible(false);
            columns.Bound(o => o.EntityName).Title("Name of the Company").HtmlAttributes(new { }).HtmlAttributes(new { @style = "width:40%" });
            //columns.Bound(o => o.EntityType).Title("Entity Type").HtmlAttributes(new { @style = "width:10%" });
            columns.Bound(o => o.CIN).Title("CIN").HtmlAttributes(new { @style = "width:10%" });
            //columns.Bound(o => o.PAN).Title("PAN");

            columns.Bound(o => o.IfDirectorName).Title("Designation").HtmlAttributes(new { @style = "width:20%" });
            //columns.Bound(o => o.IfInterestThroughRelativesName).Title("Relative Name").HtmlAttributes(new { @style = "width:10%" });
            //columns.Bound(o => o.IfRelatives).Title("Relative Name");
            columns.Bound(o => o.Arosed).Title("Date of Appointment").Format("{0:dd/MMM/yyyy}").HtmlAttributes(new { @style = "width:10%;text-align: center;" });

            // columns.Command(command =>
            // {
            //     command.Edit().HtmlAttributes(new { });
            //     command.Destroy().HtmlAttributes(new { });
            //     //command.Custom("R").Click("Resign").HtmlAttributes(new { });
            // })
            //.Title("Action").HtmlAttributes(new { @style = "width:10%" });
        })
        //.ToolBar(tools =>
        //{
        //    tools.Create().Text("New");
        //})
        .Editable(editable =>
        {
            editable.Mode(GridEditMode.PopUp).TemplateName("_AddEditDetailofIntrest").Window(w => w.Title("Add/Edit").Width(620));
            editable.DisplayDeleteConfirmation("Are you sure you want to delete State?");

        })
        //.Events(e => e.DataBound("onRowBound"))
        //.Events(e => e.Edit("onEditInterest"))
        //.Events(e => e.SaveChanges("request"))
        //.Events(e => e.Edit("HideGridFields"))
        //.Events(e => e.DataBound("onRowBound"))
        //.Navigatable()
        .Pageable(pageable => pageable
        //.Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        //.Filterable()
        //.Sortable()
        //.Reorderable(reorderable => reorderable.Columns(true))
        //.Resizable(resizable => resizable.Columns(true))
        //.ColumnMenu()
        .DataSource(dataSource => dataSource
        .WebApi()
        .PageSize(5)
        .ServerOperation(false)
            .Model(model =>
            {
                model.Id(o => o.Id);
                model.Field(o => o.Director_ID).DefaultValue(Model.ID);

                model.Field(o => o.Entity_Id);
                model.Field(o => o.TypeOfEntity);
                model.Field(o => o.NatureOfInterest);
                model.Field(o => o.IfDirector);
                model.Field(o => o.IfInterestThroughRelatives);
                model.Field(o => o.PercentagesOfShareHolding);
                model.Field(o => o.Arosed);
                model.Field(o => o.IfRelatives);
            })
        //.Events(events => events.Error("error"))
        //.Events(events => events.RequestEnd("req_EndInterest"))
        .Read(read => read.Url("/api/DirectorMasterAPI/GetDetailsofIntrest?DirectorId=" + Model.ID).Type(HttpVerbs.Get))

                     ))
        </div>
    </div>

</div>
