﻿@using Kendo.Mvc.UI;

<script>
    function getEntityData(entity) {
        
    }
</script>
<script type="text/x-kendo-tmpl" id="templet1">

    <div class="">

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th class="col-md-4"><b>CIN</b></th>
                    <th class="col-md-8">#:LLPI_CIN==null?'':LLPI_CIN#</th>
                <tr />
                <tr>
                    <th class="col-md-4"><b>Company Name</b></th>
                    <th class="col-md-8">#:EntityName#</th>
                <tr />
                <tr>
                    <th class="col-md-4"><b>ROC Code</b></th>
                    <th class="col-md-8">#:RocCode==null?'':RocCode#</th>
                <tr />
                <tr>
                    <th class="col-md-4"><b>Email</b></th>
                    <th class="col-md-8">#:emailId#</th>
                <tr />
                <tr>
                    <th class="col-md-4"><b>Registration Number</b></th>
                    <th class="col-md-8">#:RegistrationNO==null?'':RegistrationNO#</th>
                <tr />
                <tr>
                    <th class="col-md-4"><b>Company Category</b></th>
                    <th class="col-md-8">#:CompanyCategory==null?'':CompanyCategory#</th>
                <tr />
                <tr>
                    <th class="col-md-4"><b>Company SubCategory</b></th>
                    <th class="col-md-8">#:CompanysubCategory==null?'':CompanysubCategory#</th>
                <tr />
                <tr>
                    <th class="col-md-4"><b>Class of Company</b></th>
                    <th class="col-md-8">#:classofCompany#</th>
                <tr />
                <tr>
                    <th class="col-md-4"><b>Registered Address</b></th>
                    <th class="col-md-8">#:RegisterAddress#</th>
                <tr />
                <tr>
                    <th class="col-md-4"><b>Date of Incorporation</b></th>
                    <th class="col-md-8">#= kendo.toString(kendo.parseDate(dateofIncorporaion, 'yyyy-MM-dd'), 'dd/MM/yyyy')#</th>

                </tr>
            </tbody>
        </table>
    </div>
</script>

<div class="row mt30 colpadding0">
    <div class="col-md-12 colpadding0">
@(Html.Kendo().ListView<BM_ManegmentServices.VM.DirectorList_ForEntity>()
      .Name("Entitylistview")
      .TagName("div")
      .ClientTemplateId("templet1")
      .DataSource(dataSource => dataSource
          .WebApi()
       //.PageSize(6)
       //.Read(read => read.Action("Orders_Read", "ListView").Data("additionalData"))
       .Read(read => read.Url("/api/EntityMasterAPI/GetEntitydetails").Data("getEntityValue").Type(HttpVerbs.Get))
      )
//.Pageable()
)
    </div>
</div>