﻿@using Kendo.Mvc.UI;

<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0">
        @(Html.Kendo().Grid<BM_ManegmentServices.VM.SubCompanyType>
            ()
            .Name("KendoGridEntitySubType")
            .Columns(columns =>
            {
                columns.Bound(o => o.SubcompanyId).Visible(false);
                columns.Bound(o => o.SubCompanyName).Title("Company").HtmlAttributes(new { @style = "width:30%" });
                columns.Bound(o => o.CIN).Title("CIN").Title("CIN/FCRN").HtmlAttributes(new { @style = "width:20%", @onchange = "onchnageCin(this)" });
                columns.Bound(o => o.subcompanyTypeID).Title("Association Type").EditorTemplateName("_SubEntityType").ClientTemplate("#:subcompanyTypeName#").HtmlAttributes(new { @style = "width:30%" });
                columns.Bound(o => o.PersentageofShareholding).Title("Shares Held(%)").HtmlAttributes(new { @style = "width:10%; text-align:center;" });
                //columns.Command(command => command.Destroy()).HtmlAttributes(new { @style = "width:10%" }).Title("Action");
            })
            //.ToolBar(toolbar =>
            //{
            //    toolbar.Create();
            //    //toolbar.Save();
            //})
            .Editable(editable => editable.Mode(GridEditMode.InCell))
            .Pageable()
            //.Navigatable()
            //.Sortable()
            //.Scrollable()
            .DataSource(dataSource => dataSource
            .Ajax()

            .Batch(true)
            .PageSize(20)
            .ServerOperation(false)
            //.Events(e => e.RequestEnd("Request_EndT"))
            //.Events(events => events.Error("error_handler"))
            .Model(model => model.Id(p => p.SubcompanyId))
            //.Model(mode => mode.Field(p => p.CustomerId).DefaultValue(Model.CustomerId))
            //.Model(mode => mode.Field(p => p.ParentCIN).DefaultValue(Model.ParentCIN))
            //.Model(mode => mode.Field(p => p.EntityID).DefaultValue(Model.EntityID))

            .Read(read => read.Url("/api/EntityMasterAPI/SubEntityDetails").Data("getEntityValue1").Type(HttpVerbs.Get))
            //.Create(create => create.Action("CreateSubEntityDetails", "EntityMaster"))
            //.Update(update => update.Action("CreateSubEntityDetails", "EntityMaster"))
            //.Destroy(destroy => destroy.Action("DeleteSubEntityDetails", "EntityMaster"))
            ).HtmlAttributes(new { @style = "width:100%" })

            )
    </div>
</div>