﻿@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "Director Directory";
}

<style>
    .tutorCardAva {
        height: 72px;
        width: 72px;
        border-radius: 50%;
        transition: all .2s;
    }

    .tutorBlockItem {
        flex: 1 1 calc(100% / 4);
        box-sizing: border-box;
    }

    .order {
        float: left;
        width: 100%;
        height: 149px;
    }

    .director-photo {
        display: inline-block;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
        line-height: 221%;
    }

    .customer-photo {
    }

    #gridKendo .k-grid-header {
        height: 0;
        border-bottom-width: 0;
        display: none;
        overflow: hidden;
    }

    .tutorCard:hover {
        box-shadow: rgba(0,0,0,.2) 0 7px 8px 0;
        transition: all .2s;
    }

    #listView .k-state-selected {
        color: #fff;
        background-color: transparent;
        border-color: transparent;
    }

    .tutorBlockItem {
        flex: 1 1 calc(100% / 4);
        box-sizing: border-box;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .tutorCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px 12px;
        line-height: 1.4;
        color: #000;
        box-shadow: rgba(0,0,0,.08) 0 4px 6px 0;
        transition: all .2s;
        text-decoration: none;
        text-align: center;
        border-radius: 4px;
        background-color: #fff;
        transform: translateZ(0);
        backface-visibility: hidden;
        -webkit-font-smoothing: subpixel-antialiased;
        min-width: 140px;
        min-height: 250px;
        max-height: 250px;
    }

    .tutorCardName {
        width: 100%;
        margin-top: 12px;
        font-size: 16px;
        font-weight: 700;
    }

    .tutorCardPrice {
        font-size: 14px;
    }
</style>

<script>
    var breadCrumbData = [
        {
            displayText: "My Dashboard",
            navigateUrl: "/BM_Management/Dashboard/Dashboard",
        }, {
            displayText: "Directors",
            navigateUrl: "#",
        },        
    ];

    setBreadCrumb(breadCrumbData);

    function getImage(data) {
        debugger;

        var Colors = [];
        var html;
        var srcStr = '/Areas/BM_Management/Documents/Director/' + data.ID + '/' + data.Photo_Doc_Name;

        var image = $('<img src=' + srcStr + ' />');
        if (image.attr('width') > 0)
            imageExists = true;
        else
            imageExists = false;

        //if (data.ID > 0 && data.Photo_Doc_Name != null) {
        //    html = "<img class='customer-photo' src='/Areas/BM_Management/Documents/Director/" + data.ID + "/" + data.Photo_Doc_Name + "'/>";
        //}
        if (imageExists) {
            html = "<img class='director-photo' src='/Areas/BM_Management/Documents/Director/" + data.ID + "/" + data.Photo_Doc_Name + "'/>";
        } else {
            Colors = [
                "#42A5F5",
                "#008391",
                "#846600",
                "#CC0060",
                "#330099",];
            var result;
            var count = 0;
            //for (var prop in Colors)
            //    if (Math.random() < 1 / ++count) {
            //        result = prop;
            result = Colors[Math.floor(Math.random() * Colors.length)];
            var firstName = data.FirstName;
            var lastName = data.LastName;
            var intials = firstName.charAt(0) + lastName.charAt(0);

            html = "<span class='director-photo textimage' style='text-align: center;color:white;background-color:" + result + "'><b style='font-size: 36px;line-height: 289%;'>" + intials + "</b></span>"

            //}
        }
        return html;
    }

    function GetDetails(data) {
        var str = "";
        //str = "<table><thead><tr><td><h3>" + data.FullName + "</h3></td></tr><tr><td><i class='glyphicon glyphicon-envelope' aria-hidden='true'></i>&nbsp&nbsp" + data.EmailId + "</td></tr><tr><td ><i class='fa fa-phone' aria-hidden='true'></i>&nbsp&nbsp" + data.MobileNo + "</td></tr></thead></table>"

        str = "<div class='tutorCardName'><h3>" + data.FullName + "</h3></div>" +
            "<div class='tutorCardPrice'><i class='glyphicon glyphicon-envelope' aria-hidden='true'></i>&nbsp&nbsp" + data.EmailId + "</div>" +
            "<div class='tutorCardPrice'><i class='fa fa-phone' aria-hidden='true'></i>&nbsp&nbsp" + data.MobileNo + "</div>" +
            "<div class='hidden'>" + data.ID + "</div>";

        return str;
    }

    function onRowBound() {

        var grid = $("#gridKendo").data("kendoGrid");
        var gridData = grid.dataSource.view();
        var data = grid.dataSource.data();

        $.each(data, function (i, row) {
            $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

            $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
            $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 2px 0 #DDDDDD");
            $('tr[data-uid="' + row.uid + '"] ').css("height", "150px");
        });

        $(".groupbutton").kendoButtonGroup({

        });
    }

    var initialLoad = true;
    function ListView_onRowBound() {
        if (initialLoad) {
            debugger;
            BindAutoComplete();
            initialLoad = false;
        }
    }

    function opendirectordetails(ID) {

        //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        //var ID = dataItem.ID;
        $("#wndDirectorview").kendoWindow({
            title: "Director Details",
            modal: true
        });
        $("#wndDirectorview").attr("style", "min-height:100px;");
        var direction = "DirectorsDetails?Id=" + ID;
        var wnd = $("#wndDirectorview").data("kendoWindow");
        var opts = wnd.options;
        // if (!wnd) {
        wnd = $("#wndDirectorview").kendoWindow({
            title: "Director Details",
            actions: ["Close"],
            content: direction,
            width: "70%",
            visible: false,
            modal: true,
            actions: [
                "Pin",
                "Minimize",
                "Maximize",
                "Close"
            ],
            refresh: function () { this.center(); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function () {
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        // }

        opts.width = "70%";
        wnd.setOptions(opts);
        //wnd.refresh(direction);
        wnd.center();
        wnd.open();
    }

</script>

<style>

    /*.k-widget {
        border-color: transparent;
        background-color: transparent;
    }*/

</style>

<script type="text/x-kendo-tmpl" id="template">
    <div class="tutorBlockItem col-md-3">
        <div class="tutorCard">
            <div>#= getImage(data)#</div>
            <div>#= GetDetails(data)#</div>
        </div>
    </div>
</script>

<script>
    function onChange(arg) {
        debugger;
        var data = $("#listView").data("kendoListView").dataSource.view(),
            selected = $.map(this.select(), function (item) {
                return data[$(item).index()].ID;
            });


        if (selected != null && selected != undefined) {
            if (selected != 0)
                opendirectordetails(selected);
        }
    }

    function BindAutoComplete() {
        var autoCompleteData = [];
        autoCompleteData = autoCompleteData.concat(GetListViewColumnValues('listView', 'FullName'));

        if (autoCompleteData != null && autoCompleteData != undefined) {
            $("#filterSearch").kendoAutoComplete({
                dataSource: autoCompleteData,
                filter: "contains",
                placeholder: "Search by Name",
                separator: ", ",
                change: AutoComplete_onChange,
            });
        }
    }

    function AutoComplete_onChange() {
        filterChange();
    }

    function filterChange() {
        debugger;
        var filter = { logic: 'and', filters: [] };

        //var t = $('#filter');
        //if (t.val() != "") {
        //    filter.filters.push({ logic: "or", field: "EntityName", operator: "contains", value: t.val() });
        //    filter.filters.push({ logic: "or", field: "Type", operator: "contains", value: t.val() });
        //    filter.filters.push({ logic: "or", field: "LLPI_CIN", operator: "contains", value: t.val() });
        //}

        var txtSearch = $('#filterSearch');
        if (txtSearch.val() != "") {
            var splittedData = txtSearch.val().trim().split(",");

            for (var i = 0; i < splittedData.length; i++) {
                if (splittedData[i].trim() != "") {
                    filter.filters.push({ logic: "or", field: "FullName", operator: "contains", value: splittedData[i].trim() });
                }
            }
        }

        //var listView = $("#listView").data("kendoListView");
        //var listViewDataSource = listView.dataSource;
        //// clear existing datasource
        //listViewDataSource.filter([]);

        //// apply filter query to datasource
        //listViewDataSource.query({
        //    filter: filter
        //});

        var grid = $("#listView").data("kendoListView");
        grid.dataSource.filter(filter);
    };

    function clearfilter(e) {
        var txtStartPeriod = $("#filter").val();

        if (txtStartPeriod != null && txtStartPeriod != undefined) {
            $("#filter").val("");

        }
        $('#clearfillter').css('display', 'none');

        $("#listView").data("kendoListView").dataSource.filter({});
    }

    function GetFilterValue(){
        var filterText = $("#filterSearch").val();
        return { filterText: filterText }
    }
</script>

@(Html.Kendo().Window().Name("wndDirectorview").Title("Director details").Visible(false).Modal(true).Pinned(true))

<div class="row master-Headre">
    <div class="col-md-12 vertical-center">
        <div class="col-md-6 colpadding0">
            <div class="input-group">
                <input id='filterSearch' type="text" class="form-control" placeholder="Search by Name" autocomplete="off">
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0">
        @(Html.Kendo().ListView<BM_ManegmentServices.VM.Director_MasterVM>()
        .Name("listView")
        .TagName("div")
        .ClientTemplateId("template")
        .DataSource(dataSource =>
        {
            dataSource.Read(read => read.Url("/api/DirectorMasterAPI/GetDirectorListCompanywise").Data("GetFilterValue").Type(HttpVerbs.Get));
            //dataSource.PageSize(15);
        }).Selectable(selectable => selectable.Mode(ListViewSelectionMode.Single))        
        .Events(events => events.Change("onChange"))
        .Events(events => events.DataBound("ListView_onRowBound")))
    </div>
</div>


