﻿<!DOCTYPE html>
<html>
<head>        
    <link href="~/select2/select2.min.css" rel="stylesheet" />
    <link href="~/content/bootstrap.css" rel="stylesheet" />
    <link href="~/content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.common.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.rtl.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.silver.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="~/content/datepicker3.min.css" rel="stylesheet" />    
    <script type="text/javascript" src="../../Newjs/jquery-1.12.4.min.js"></script>
    <script src="~/masters/bootstrap.min.js"></script>
    <script src="~/select2/select2.min.js"></script>
    <script src="~/select2/select2.full.js"></script>
    <script src="~/scripts/anjular(1.5.0).min.js"></script>
    <script src="~/masters/angular.js"></script>
    <script src="~/scripts/angular.js"></script>
    <script src="~/scripts/angular.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/scripts/date.js"></script>
    <script src="~/masters/dirpagination.js"></script>
    <script type="text/javascript" src="../../Newjs/kendo.all.min.js"></script>
    <script type="text/javascript" src="../../Newjs/jszip.min.js"></script>

    <style type="text/css">      
        .select2-container--default .select2-selection--multiple:before {
            content: ' ';
            display: block;
            position: absolute;
            border-color: #888 transparent transparent transparent;
            border-style: solid;
            border-width: 5px 4px 0 4px;
            height: 0;
            right: 6px;
            margin-left: -4px;
            margin-top: -2px;
            top: 50%;
            width: 0;
            cursor: pointer;
        }

        .select2-container--open .select2-selection--multiple:before {
            content: ' ';
            display: block;
            position: absolute;
            border-color: transparent transparent #888 transparent;
            border-width: 0 4px 5px 4px;
            height: 0;
            right: 6px;
            margin-left: -4px;
            margin-top: -2px;
            top: 50%;
            width: 0;
            cursor: pointer;
        }

        .div.k-grid-footer, div.k-grid-header {
            border-top-style: solid;
            border-top-width: 1px;
        }

        .k-grid-content {
            min-height: 394px !important;
        }

        html {
            color: #666666;
            font-size: 15px;
            font-weight: normal;
            font-family: 'Roboto',sans-serif;
        }

        .k-checkbox-label, .k-radio-label {
            display: inline;
        }

        .myKendoCustomClass {
            z-index: 999 !important;
        }

        .k-header .k-grid-toolbar {
            background: white;
            float: left;
            width: 100%;
        }

        .k-grid td {
            line-height: 1.0em;
        }

        .k-i-more-vertical:before {
            content: "\e006";
        }

        .k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
            background-color: #1fd9e1;
            background-image: none;
        }

        k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
            color: #000000;
            border-color: #1fd9e1;
            background-color: #f6f6f6;
        }

        #grid .k-grid-toolbar {
            background: white;
        }


        .k-pager-wrap > .k-link > .k-icon {
            margin-top: 5px;
            color: inherit;
        }

        .toolbar {
            float: left;
        }

        html .k-grid tr:hover {
            background: #E4F7FB;
        }

        html .k-grid tr.k-alt:hover {
            background: #E4F7FB;
            min-height: 30px;
        }

        .k-grid tbody .k-button {
            min-width: 30px;
            min-height: 30px;
            border-radius: 35px;
        }

        .k-button-icontext .k-icon, .k-button-icontext .k-image, .k-button-icontext .k-sprite {
            margin-right: 0px;
            margin-right: 0px;
            margin-left: 0px;
            margin-left: 0px;
        }

        .k-auto-scrollable {
            overflow: hidden;
        }

        .k-grid-header {
            padding-right: 0px !important;
        }

        .k-multicheck-wrap .k-item {
            line-height: 1.2em;
            font-size: 14px;
            margin-bottom: 5px;
        }

        label {
            display: inline-block;
            margin-bottom: 0px;
        }

        .k-filter-menu .k-button {
            width: 27%;
        }

        .k-label input[type="checkbox"] {
            margin: 0px 5px 0 !important;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            font-size: 15px;
            background: #f8f8f8;
            font-family: 'Roboto',sans-serif;
            color: #2b2b2b;
            font-weight: 400;
        }

        .k-primary {
            border-color: #1fd9e1;
            background-color: #1fd9e1;
        }

        .k-pager-wrap {
            background-color: #f8f8f8;
            color: #2b2b2b;
        }

        td.k-command-cell {
            border-width: 0 1px 0 1px;
        }

        .k-grid-pager {
            border-width: 1px 1px 1px 1px;
        }

        span.k-icon.k-i-calendar {
            margin-top: 6px;
        }

        .col-md-2 {
            width: 20%;
        }

        .k-filter-row > th:first-child, .k-grid tbody td:first-child, .k-grid tfoot td:first-child, .k-grid-header th.k-header:first-child {
            border-left-width: 1px;
            line-height: 14px;
        }

        .k-grid tbody tr {
            height: 38px;
        }
        .td{
            padding: 5px 5px 5px 5px !important;
        }
    </style>
    <script>
        var app = angular.module("KendoDemos", ['angularUtils.directives.dirPagination', "kendo.directives"]);
        angular.element(document).ready(function () {
            //angular.bootstrap(document, ["app"]);
        })
        app.directive('myDatePicker', function () {
            return {
                restrict: 'A',
                require: '?ngModel',
                link: function (scope, element, attrs, ngModelController) {
                    $(function () {
                        element.datepicker({
                            format: 'dd-MM-yyyy'
                        });
                    });
                   
                    datepicker,
                    elPicker;

                    // Init date picker and get objects http://bootstrap-datepicker.readthedocs.org/en/release/index.html
                    datepicker = element.datepicker({
                        autoclose: true,
                        keyboardNavigation: false,
                        todayHighlight: true,
                        format: datepickerFormat
                    });
                    elPicker = datepicker.data('datepicker').picker;

                    // Adjust offset on show
                    datepicker.on('show', function (evt) {
                        elPicker.css('left', parseInt(elPicker.css('left')) + +attrs.offsetX);
                        elPicker.css('top', parseInt(elPicker.css('top')) + +attrs.offsetY);
                    });

                    // Only watch and format if ng-model is present https://docs.angularjs.org/api/ng/type/ngModel.NgModelController
                    if (ngModelController) {
                        // So we can maintain time
                        var lastModelValueMoment;

                        ngModelController.$formatters.push(function (modelValue) {
                            //
                            // Date -> String
                            //

                            // Get view value (String) from model value (Date)
                            var viewValue,
                                m = moment(modelValue);
                            if (modelValue && m.isValid()) {
                                // Valid date obj in model
                                lastModelValueMoment = m.clone(); // Save date (so we can restore time later)
                                viewValue = m.format(momentFormat);
                            } else {
                                // Invalid date obj in model
                                lastModelValueMoment = undefined;
                                viewValue = undefined;
                            }

                            // Update picker
                            element.datepicker('update', viewValue);

                            // Update view
                            return viewValue;
                        });

                        ngModelController.$parsers.push(function (viewValue) {
                            //
                            // String -> Date
                            //

                            // Get model value (Date) from view value (String)
                            var modelValue,
                                m = moment(viewValue, momentFormat, true);
                            if (viewValue && m.isValid()) {
                                // Valid date string in view
                                if (lastModelValueMoment) { // Restore time
                                    m.hour(lastModelValueMoment.hour());
                                    m.minute(lastModelValueMoment.minute());
                                    m.second(lastModelValueMoment.second());
                                    m.millisecond(lastModelValueMoment.millisecond());
                                }
                                modelValue = m.toDate();
                            } else {
                                // Invalid date string in view
                                modelValue = undefined;
                            }

                            // Update model
                            return modelValue;
                        });

                        datepicker.on('changeDate', function (evt) {
                            // Only update if it's NOT an <input> (if it's an <input> the datepicker plugin trys to cast the val to a Date)
                            if (evt.target.tagName !== 'INPUT') {
                                ngModelController.$setViewValue(moment(evt.date).format(momentFormat)); // $seViewValue basically calls the $parser above so we need to pass a string date value in
                                ngModelController.$render();
                            }
                        });
                    }

                }
            };
        });
        app.directive('datepicker', function () {
            return {

                restrict: 'A',
                // Always use along with an ng-model
                require: '?ngModel',

                link: function (scope, element, attrs, ngModel) {                    
                    $(function () {
                        element.datepicker({
                            format: 'dd-MM-yyyy'
                        });
                    });

                    if (!ngModel) return;

                    ngModel.$render = function () {
                        element.datepicker('update', ngModel.$viewValue || '');

                    };

                    element.datepicker().on("changeDate", function (event) {
                        scope.$apply(function () {
                            ngModel.$setViewValue(event.date);
                        });
                    });
                }
            };
        });
        //Disable future days in datefield
        app.directive('datepicker1', function () {
            return {
                restrict: 'A',
                // Always use along with an ng-model
                require: '?ngModel',

                link: function (scope, element, attrs, ngModel, $filter) {
                    if (!ngModel) return;
                    var startDate = !attrs.minDate ? '' : new Date();
                    var endDate = !attrs.maxDate ? '' : new Date();
                    var multiDate = !attrs.multiDate ? false : true;
                    var todayHighlight = !attrs.todayHighlight ? false : true;

                    ngModel.$render = function () {
                        element.datepicker('update', ngModel.$viewValue || '');
                    };                    
                    element.datepicker({
                        startDate: startDate,
                        endDate: endDate,
                        multidate: multiDate,
                        format: 'dd-MM-yyyy',
                        todayHighlight: todayHighlight

                    }).on("changeDate", function (event) {
                        scope.$apply(function () {
                            ngModel.$setViewValue(event.date);
                        });
                    });
                }
            };
        });
        app.directive('datepicker', function () {
            return {
                link: function (scope, el, attr) {
                    $(el).datepicker({
                        format: 'dd-MM-yyyy',
                        onSelect: function (dateText) {
                            console.log(dateText);
                            var expression = attr.ngModel + " = " + "'" + dateText + "'";
                            scope.$apply(expression);
                            scope.$apply(attr.datepicker);
                            console.log(scope.startDate);
                            // how do i set this elements model property ?
                        }
                    });
                }
            };
        });
        app.directive("select2", function ($timeout, $parse) {
            return {
                restrict// Code goes here
            : 'AC',
                require: 'ngModel',
                link: function (scope, element, attrs) {
                    console.log(attrs);
                    $timeout(function () {
                        element.select2();
                        element.select2Initialized = true;
                    });

                    var refreshSelect = function () {
                        if (!element.select2Initialized) return;
                        $timeout(function () {
                            element.trigger('change');
                        });
                    };

                    var recreateSelect = function () {
                        if (!element.select2Initialized) return;
                        $timeout(function () {
                            element.select2('destroy');
                            element.select2();
                        });
                    };

                    scope.$watch(attrs.ngModel, refreshSelect);

                    if (attrs.ngOptions) {
                        var list = attrs.ngOptions.match(/ in ([^ ]*)/)[1];
                        // watch for option list change
                        scope.$watch(list, recreateSelect);
                    }

                    if (attrs.ngDisabled) {
                        scope.$watch(attrs.ngDisabled, refreshSelect);
                    }
                }
            };
        });
        app.controller("MyCtrl", function ($scope, $http, $timeout, $window, $filter) {            
            var firstDay = ("01/" + (new Date().getMonth() + 1) + "/" + new Date().getFullYear());
            var lastDate = new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0);
            var lastDay = (lastDate.getDate() + "/" + (lastDate.getMonth() + 1) + "/" + lastDate.getFullYear());
            var today = new Date();           
            var todayday = (("0" + (today.getDate())).slice(-2) + "/" + ("0" + (today.getMonth() + 1)).slice(-2) + "/" + today.getFullYear());            
            $scope.FromDate = firstDay;            
            $scope.ToDate = todayday;
            $scope.myFunc = function () {
            };
            debugger;
            var record = 0;
            var fd = ((new Date().getMonth() + 1) + "/" + "01/" + new Date().getFullYear());
            var to = (("0" + (today.getMonth() + 1)).slice(-2) + "/" + ("0" + (today.getDate())).slice(-2) + "/" + today.getFullYear());
            Bindgrid(fd, to);
           
            function Bindgrid( fd1 , to1) {
                //comment by rahul on 6 MAY  2020
                //$scope.ToDate = today.toLocaleDateString();
               
               // $scope.ToDate = todaydays;                
               // var to = $scope.ToDate;
                debugger;
                var grid = $('#grid').data("kendoGrid");
                if (grid != undefined || grid != null)
                    $('#grid').empty();
                var grid = $("#grid").kendoGrid({
                    dataSource: {
                        transport: {
                            //read: '../timesheet/getAll?FDate=' + $scope.FromDate + '&TDate=' + to
                            read: '../timesheet/getAll?FDate=' + fd1 + '&TDate=' + to1
                        },
                        pageSize: 10
                    },
                    excel: {
                        allPages: true,
                    },
                    noRecords: true,
                    messages: {
                        noRecords: "No records found"
                    },
                    sortable: true,
                    filterable: true,
                    columnMenu: true,
                    pageable: true,
                    reorderable: true,
                    resizable: true,
                    multi: true,
                    selectable: true,
                    dataBinding: function () {
                        record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
                        if (this.ReminderStatus == 0) { template: "#=pending" }
                    },
                    columns: [
                    {
                        field: "Date", title: 'Date',
                        template: "#= kendo.toString(kendo.parseDate(Date, 'yyyy/MM/dd'), 'dd-MMM-yyyy') #",

                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            extra: false,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }, width: "8%",
                    },
                     {
                         field: "Duration", title: 'Duration',
                         attributes: {
                             style: 'white-space: nowrap;'

                         }, filterable: {
                             extra: false,
                             operators: {
                                 string: {
                                     eq: "Is equal to",
                                     neq: "Is not equal to",
                                     contains: "Contains"
                                 }
                             }
                         }, width: "6%",
                     },
                     {
                         field: "Name", title: 'Customer Name',
                         attributes: {
                             style: 'white-space: nowrap;'

                         }, filterable: {
                             extra: false,
                             operators: {
                                 string: {
                                     eq: "Is equal to",
                                     neq: "Is not equal to",
                                     contains: "Contains"
                                 }
                             }
                         }, width: "15%",
                     },
                       {
                           field: "ProjectName", title: 'Project Name',
                           attributes: {
                               style: 'white-space: nowrap;'

                           }, filterable: {
                               extra: false,
                               operators: {
                                   string: {
                                       eq: "Is equal to",
                                       neq: "Is not equal to",
                                       contains: "Contains"
                                   }
                               }
                           }, width: "8%",
                       },
                         {
                             field: "ActivityName", title: 'Activities',
                             attributes: {
                                 style: 'white-space: nowrap;'

                             }, filterable: {
                                 extra: false,
                                 operators: {
                                     string: {
                                         eq: "Is equal to",
                                         neq: "Is not equal to",
                                         contains: "Contains"
                                     }
                                 }
                             }, width: "8%",
                         },
                           {
                               field: "Description", title: 'Description',
                               attributes: {
                                   style: 'white-space: nowrap;'

                               }, filterable: {
                                   extra: false,
                                   operators: {
                                       string: {
                                           eq: "Is equal to",
                                           neq: "Is not equal to",
                                           contains: "Contains"
                                       }
                                   }
                               }, width: "8%",
                           },
                    {
                        command: [
                            { name: "edit", text: "", iconClass: "k-icon k-i-hyperlink-open", className: "ob-edit" },
                            { name: "edit1", text: "", iconClass: "k-icon k-i-delete k-i-trash", className: "ob-deleteuser" }], title: "Action", lock: true, width: "8%;",// width: 150,
                    }
                    ]
                });
                $("#grid").kendoTooltip({
                    filter: "td:nth-child(2)", //this filter selects the second column's cells
                    position: "down",
                    content: function (e) {
                        var content = e.target.context.textContent;
                        return content;
                    }
                }).data("kendoTooltip");
                $("#grid").kendoTooltip({
                    filter: "td:nth-child(3)", //this filter selects the second column's cells
                    position: "down",
                    content: function (e) {
                        var content = e.target.context.textContent;
                        return content;
                    }
                }).data("kendoTooltip");
                $("#grid").kendoTooltip({
                    filter: ".k-grid-edit",
                    content: function (e) {
                        return "Edit";
                    }
                });
                $("#grid").kendoTooltip({
                    filter: ".k-grid-edit1",
                    content: function (e) {
                        return "Delete";
                    }
                });
            }



            function ConvertJsonDateToDateTime1(date) {
                var parsedDate = new Date(parseInt(date.substr(6)));
                var tzoffset = (new Date(parsedDate)).getTimezoneOffset() * 60000;
                var localISOTime = (new Date(parsedDate - tzoffset)).toISOString().substring(0, 10).replace('T', ' ');
                var currentTime = new Date(parseInt(date.substr(6)));
                var month = currentTime.getMonth() + 1;
                var day = currentTime.getDate();
                var year = currentTime.getFullYear();
                var date = day + "-" + month + "-" + year;
                // alert(date);

                return date;
            }


            $scope.ShowGrid = function () {
                debugger;
                var fd = $scope.FromDate;
                var to = $scope.ToDate;

                Bindgrid(fd, to);
            }

            $scope.Proceed = function () {
                var todate1 = new Date($scope.ToDate).getDate();
                var tomonth1 = new Date($scope.ToDate).getMonth() + 1;
                var toyear1 = new Date($scope.ToDate).getFullYear();
                var tdate = todate1 + "-" + tomonth1 + "-" + toyear1;

                var fdate1 = new Date($scope.FromDate).getDate();
                var fmonth1 = new Date($scope.FromDate).getMonth() + 1;
                var fyear1 = new Date($scope.FromDate).getFullYear();
                var fdate = fdate1 + "-" + fmonth1 + "-" + fyear1;

                //$scope.FromDate = fdate;
                //$scope.ToDate = tdate;

                if (fdate, tdate) {
                    if (((fdate1 <= todate1) && (fmonth1 == tomonth1) && (fyear1 == toyear1)) ||
                        ( (fmonth1 < tomonth1) && (fyear1 == toyear1)) ||
                        ((fyear1 < toyear1)))
                    {

                        $('#popup').modal('show');
                        $scope.DisplayForm = true;
                        $scope.addplus = false;
                        $scope.addminus = true;
                        $scope.editminus = false;
                        $scope.tables = true;
                        $scope.userForm.$setPristine();                        
                        $.post("../timesheet/getTimesheetByNo1/", { FDate: $scope.FromDate, TDate: $scope.ToDate }, function (r) {
                            $scope.timesheets = [];
                            for (var i = 0; i < r.Timesheets1.length; i++) {
                                var time = {};
                                time.TimeSheetID = r.Timesheets1[i].TimeSheetID;
                                time.Date = ConvertJsonDateToDateTime1(r.Timesheets1[i].Date);
                                time.Duration = r.Timesheets1[i].Duration;
                                time.ActivityID = r.Timesheets1[i].ActivityID;
                                time.CustomerID = r.Timesheets1[i].CustomerID;
                                time.legalentityid = r.Timesheets1[i].legalentityid;
                                time.customers = r.customers;
                                debugger;
                                time.ProjectID = r.Timesheets1[i].ProjectID;                             
                                //if (r.Timesheets1[i].ProjectID != 0) {                                  
                                time.projects = r.products.length > 0 ? r.products : null;
                                //}
                                if (r.Timesheets1[i].ActivityID != 0) {
                                    time.activities = r.activity.length > 0 ? r.activity : null;
                                }
                                debugger;
                                if (r.Timesheets1[i].legalentityid != 0) {
                                    time.entitylist = r.branchlist.length > 0 ? r.branchlist : null;
                                }

                                time.Description = r.Timesheets1[i].Description;
                                if (r.Timesheets1[i].ProjectID == 8) { 
                                    time.DisabledRecord = 1;
                                }
                                else
                                {
                                    time.DisabledRecord = 0;
                                }

                                $scope.timesheets.push(time);
                            }
                            $scope.$apply();
                        });
                        $scope.Action = "Update";

                    }
                    else {
                        alert("Todate should be greater than or equal to From date");
                    }
                }

            }

            //Edit User Deatais
            $(document).on("click", "#grid tbody tr .ob-edit", function (e) {
                debugger;
                $('#popup').modal('show');
                $scope.DisplayForm = true;
                $scope.addplus = false;
                $scope.addminus = true;
                $scope.editminus = false;
                $scope.tables = true;
                $scope.userForm.$setPristine();
                var item = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
                $.post("../timesheet/getTimesheetByNo/", { id: item.TimeSheetID }, function (r) {                    
                    $scope.timesheets = [];
                    for (var i = 0; i < r.Timesheets1.length; i++) {
                        var time = {};
                        time.TimeSheetID = r.Timesheets1[i].TimeSheetID;
                        time.Date = ConvertJsonDateToDateTime1(r.Timesheets1[i].Date);
                        time.Duration = r.Timesheets1[i].Duration;                        
                        time.CustomerID = r.Timesheets1[i].CustomerID;
                        time.customers = r.customers;
                        debugger;
                        if (r.Timesheets1[i].ProjectID != null) {
                            time.ProjectID = r.Timesheets1[i].ProjectID;
                            time.projects = r.products;
                        };
                        if (r.Timesheets1[i].ProjectID == null) {
                            time.projects = true;
                        };
                        if (r.Timesheets1[i].ActivityID != null) {
                            time.ActivityID = r.Timesheets1[i].ActivityID;
                            time.activities = r.activity;
                        }
                        debugger;
                        if (r.Timesheets1[i].legalentityid != null) {
                            time.legalentityid = r.Timesheets1[i].legalentityid;
                            time.entitylist = r.branchlist;
                        }
                        time.DisabledRecord = 0;
                        time.Description = r.Timesheets1[i].Description;
                        $scope.timesheets.push(time);
                    }

                    $scope.$apply();
                });
                $scope.Action = "Update";
              
            });

            //Delete Timesheet Details on gridview
            $(document).on("click", "#grid tbody tr .ob-deleteuser", function (e) {

                var retVal = confirm("Do you want to Delete Record..?");
                if (retVal == true) {
                    var item = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
                    $http({
                        method: 'POST',
                        url: '../timesheet/DeleteEmployeeTimeSheet/',
                        data: JSON.stringify({ Id: item.TimeSheetID })
                    }).then(function (response) {
                        $scope.delete = response.data;
                        $scope.DeleteAlert = true;
                        $scope.AddAlert = false;
                        $scope.EditAlert = false;
                        $scope.popup = false;
                        $scope.IsEmailValid = true;
                        //Bindgrid();
                        var fd = $scope.FromDate;
                        var to = $scope.ToDate;

                        Bindgrid(fd, to);

                    }), function (error) {
                        $scope.message = 'Unexpected Error';
                    };
                }
                return true;
            });


            $("#grid").kendoTooltip({
                filter: "td:nth-child(2)", //this filter selects the second column's cells
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    return content;
                }
            }).data("kendoTooltip");
            $("#grid").kendoTooltip({
                filter: "td:nth-child(3)", //this filter selects the second column's cells
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    return content;
                }
            }).data("kendoTooltip");
            $("#grid").kendoTooltip({
                filter: "td:nth-child(4)", //this filter selects the second column's cells
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    return content;
                }
            }).data("kendoTooltip");
            $("#grid").kendoTooltip({
                filter: "td:nth-child(5)", //this filter selects the second column's cells
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    return content;
                }
            }).data("kendoTooltip");
            $("#grid").kendoTooltip({
                filter: "td:nth-child(6)", //this filter selects the second column's cells
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    return content;
                }
            }).data("kendoTooltip");
            $("#grid").kendoTooltip({
                filter: "td:nth-child(7)", //this filter selects the second column's cells
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    return content;
                }
            }).data("kendoTooltip");
            $("#grid").kendoTooltip({
                filter: "td:nth-child(8)", //this filter selects the second column's cells
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    return content;
                }
            }).data("kendoTooltip");
            $("#grid").kendoTooltip({
                filter: "td:nth-child(9)", //this filter selects the second column's cells
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    return content;
                }
            }).data("kendoTooltip");
            $("#grid").kendoTooltip({
                filter: "td:nth-child(10)", //this filter selects the second column's cells
                position: "down",
                content: function (e) {
                    var content = e.target.context.textContent;
                    return content;
                }
            }).data("kendoTooltip");
            $("#grid").kendoTooltip({
                filter: ".k-grid-edit",
                content: function (e) {
                    return "Edit";
                }
            });
            $("#grid").kendoTooltip({
                filter: ".k-grid-edit1",
                content: function (e) {
                    return "Delete";
                }
            });
            $scope.form = false;
            $scope.form1 = false;
            $scope.editminus = false;
            $scope.tabs = false;
            $scope.addplus = true;
            $scope.addminus = false;
            $scope.tables = false;
            $scope.ShowLoader = false;
            GetCustomers();
            GetProducts();
            //GetAvtivity();
          
           
         
            $scope.dateOptions1 = {
                changeYear: true,
                changeMonth: true,
                yearRange: '1900:-0',
            };
           
            $scope.CustomerID = -1;
            function GetCustomers() {
                $scope.customers = [];
                $http({
                    method: 'Get',
                    url: '../timesheet/GetCustomerName',
                }).then(function (response) {
                    $scope.customers = response.data;
                    $scope.CustomerID = -1;
                }), function (error) {
                    $scope.message = 'Unexpected Error';
                };
            }
           
            $scope.ProjectID = -1;
           
            $scope.legalentityid = -1;
            function GetProducts() {
                $scope.projects = [];
                $http({
                    method: 'Get',
                    url: '../timesheet/GetProductName',
                }).then(function (response) {
                    $scope.projects = response.data;
                    $scope.ProjectID = -1;

                }), function (error) {
                    $scope.message = 'Unexpected Error';
                };
            }

            $scope.GetProjects = function (index, timesheet) {
                if (timesheet.CustomerID != null) {
                    $http({
                        method: 'post',
                        url: '../timesheet/GetProjectName',
                        params: { CustId: timesheet.CustomerID }
                    }).success(function (data, status, headers, config) {
                        if (data.length > 0) {
                            for (var i = 0; i < $scope.timesheets.length; i++) {
                                for (var j = 0; j < data.length; j++) {
                                    if ($scope.timesheets[i].CustomerID == data[0].CustomerID) {
                                        $scope.timesheets[i].projects = data;
                                    }
                                }
                            }

                        } else {
                            for (var i = 0; i < $scope.timesheets.length; i++) {
                                if ($scope.timesheets[i].TimeSheetID == timesheet.TimeSheetID
                                && $scope.timesheets[i].Date == timesheet.Date && $scope.timesheets[i].Duration == timesheet.Duration
                                    && $scope.timesheets[i].ActivityID == timesheet.ActivityID
                                    && $scope.timesheets[i].CustomerID == timesheet.CustomerID
                                    && $scope.timesheets[i].Description == timesheet.Description) {
                                    $scope.timesheets[i].projects = null;
                                    break;
                                }
                            }
                        }
                    }).error(function (data, status, headers, config) {
                        $scope.message = 'Unexpected Error';
                    });
                } else {
                    $scope.timesheets[index].projects = '';
                }
            }

            //Get LegalEntity Name based upon Customer
            $scope.GetLegalEntitys = function (index, timesheet) {



                if (timesheet.CustomerID != null) {
                    $http({
                        method: 'post',
                        url: '../timesheet/GetBranchName',
                        params: { CustId: timesheet.CustomerID }
                    }).success(function (data, status, headers, config) {
                        debugger;
                        if (data.length > 0) {
                            for (var i = 0; i < $scope.timesheets.length; i++) {
                                for (var j = 0; j < data.length; j++) {
                                    if ($scope.timesheets[i].CustomerID == data[0].CustomerID) {
                                        $scope.timesheets[i].entitylist = data;
                                    }
                                }
                            }

                        } else {
                            for (var i = 0; i < $scope.timesheets.length; i++) {
                                if ($scope.timesheets[i].TimeSheetID == timesheet.TimeSheetID
                                && $scope.timesheets[i].Date == timesheet.Date && $scope.timesheets[i].Duration == timesheet.Duration
                                    && $scope.timesheets[i].ActivityID == timesheet.ActivityID
                                    && $scope.timesheets[i].CustomerID == timesheet.CustomerID
                                    && $scope.timesheets[i].Description == timesheet.Description) {
                                    $scope.timesheets[i].entitylist = null;
                                    break;
                                }
                            }
                        }
                    }).error(function (data, status, headers, config) {
                        $scope.message = 'Unexpected Error';
                    });
                } else {
                    $scope.timesheets[index].entitylist = '';
                }
            }
            //Get Activity Name based upon Product
            $scope.GetActivitys = function (index, timesheet,val) {
                debugger;
                if (timesheet.ProjectID != null) {
                    $http({
                        method: 'post',
                        url: '../timesheet/GetActivitysNames',
                        params: { produId: timesheet.ProjectID }
                    }).success(function (data, status, headers, config) {

                        if (timesheet.ProjectID==8) {
                            timesheet.DisabledRecord = 1
                        }
                        else
                        {
                            timesheet.DisabledRecord = 0
                        }
                        if (data.length > 0) {
                            for (var i = 0; i < $scope.timesheets.length; i++) {
                                debugger;
                                for (var j = 0; j < data.length; j++) {                                   
                                    if ($scope.timesheets[i].ProjectID == data[0].ProductID) {
                                    $scope.timesheets[i].activities = data;
                                   }
                                }
                            }

                        } else {
                            debugger;
                            for (var i = 0; i < $scope.timesheets.length; i++) {
                                if ($scope.timesheets[i].TimeSheetID == timesheet.TimeSheetID
                                && $scope.timesheets[i].Date == timesheet.Date && $scope.timesheets[i].Duration == timesheet.Duration
                                    && $scope.timesheets[i].ActivityID == timesheet.ActivityID
                                    && $scope.timesheets[i].CustomerID == timesheet.CustomerID
                                    && $scope.timesheets[i].Description == timesheet.Description) {
                                    $scope.timesheets[i].activities = null;
                                    break;
                                }
                            }
                        }
                    }).error(function (data, status, headers, config) {
                        $scope.message = 'Unexpected Error';
                    });
                } else {
                    $scope.timesheets[index].activities = '';
                }
            }
           
            $scope.IsValid = true;
            $scope.IsExist = false;
            $scope.IsDurationExist = false;
            //Dispaly validation message if duration is greater than 24 hrs
            $scope.GetMaxLength = function (timesheet, index) {
                if (timesheet.Duration != null) {
                    if (timesheet.Duration <= 0 || timesheet.Duration > 24) {
                        $scope.timesheets[index].IsValid = true;
                        $scope.IsExist = true;
                    }
                    else {
                        $scope.timesheets[index].IsValid = false;
                        $scope.IsExist = false;
                    }
                }
                else {
                    $scope.timesheets[index].IsValid = false;
                    $scope.IsExist = false;
                }
                var duration = 0;
                angular.forEach($scope.timesheets, function (date, key) {
                    //var daa=date.Date;
                    //var dddd=Date.parse(daa);
                    var d = (date.Date).getDate();
                    var d1 = (timesheet.Date).getDate();
                    if (d == d1) {

                        duration += parseInt(date.Duration == '' ? 0 : date.Duration);
                    }
                });
                if (duration > 24) {
                    $scope.IsDurationExist = true;
                    var date = (timesheet.Date).getDate();
                    var month = (timesheet.Date).getMonth();
                    var year = (timesheet.Date).getFullYear();
                    var dmy = date + "-" + month + "-" + year;
                    var d5 = "the sum of" + " " + dmy + "  " + "should not be more than 24 hrs";
                    $window.alert(d5);
                } else {
                    $scope.IsDurationExist = false;
                    //$window.alert("Valid");
                }


            }
            var currentDate = new Date();
            var newDate = new Date(currentDate.setDate(currentDate.getDate() - 1));
            $scope.timesheets = [];
            for (var i = 0; i < 2; i++) {
                $scope.timesheets.push({ Date: $filter('date')(new Date(newDate.setDate(newDate.getDate() + 1))), DisabledRecord: 0 });
            }
            $scope.sort = function (keyname) {
                $scope.sortKey = keyname;
                $scope.reverse = !$scope.reverse;
            }
            //Add new records
            $scope.AddTimesheet = function () {
                $scope.timesheets = [];
                for (var i = 0; i < 2; i++) {
                    $scope.timesheets.push({ Date: $filter('date')(new Date(newDate.setDate(newDate.getDate() + 1))),DisabledRecord: 0  });
                }
                $scope.DisplayForm = true;
                $scope.addplus = false;
                $scope.addminus = true;
                $scope.editminus = false;
                $scope.tables = true;
                $scope.userForm.$setPristine();
                clearFields();
                $scope.Action = "Save";

            }
            //save or update code  to database
            $scope.Save = function (isValid) {
                if (isValid) {
                    if (!$scope.IsExist) {
                        if (!$scope.IsDurationExist) {
                            $scope.userForm.$setPristine();
                            var entry = {};
                            var details = new Array();
                            for (var i = 0; i < $scope.timesheets.length; i++) {
                                //if ($scope.timesheets[i].Duration != null) {
                                var detail = {};
                                detail.TimeSheetID = $scope.timesheets[i].TimeSheetID;
                                detail.CustomerID = $scope.timesheets[i].CustomerID;
                                detail.ProjectID = $scope.timesheets[i].ProjectID;
                                detail.ActivityID = $scope.timesheets[i].ActivityID;
                                detail.legalentityid = $scope.timesheets[i].legalentityid;
                                
                                detail.Description = $scope.timesheets[i].Description;
                                detail.Date = $scope.timesheets[i].Date;
                                detail.Duration = $scope.timesheets[i].Duration;
                                details.push(detail);
                            }
                            //}
                            entry.timesheets = details;
                            $http({
                                method: "Post",
                                url: "../timesheet/SaveTimeSheets",
                                dataType: 'json',
                                headers: { "Content-Type": "application/json" },
                                data: '{TimeSheets: ' + JSON.stringify(entry) + '}'
                            }).then(function (response) {
                                $scope.msg = response.data;
                                if (response.data == "Time Entry has been updated Successfully!") {
                                    $scope.tabs = false;
                                    $scope.adtabls = false;
                                    $scope.form = false;
                                    $scope.form1 = false;
                                    $scope.DisplayForm = false;
                                    $scope.addplus = true;
                                    $scope.addminus = false;
                                    $scope.editminus = false;
                                    $scope.DeleteAlert = false;
                                    $scope.AddAlert = true;
                                    $scope.EditAlert = false;
                                    $scope.FromDate = firstDay;
                                    $scope.ToDate = lastDay;
                                    //Bindgrid();
                                    var today = new Date();   
                                    var fd = ((new Date().getMonth() + 1) + "/" + "01/" + new Date().getFullYear());
                                    var to = (("0" + (today.getMonth() + 1)).slice(-2) + "/" + ("0" + (today.getDate())).slice(-2) + "/" + today.getFullYear());
                                    Bindgrid(fd, to);
                                    clearFields();
                                    angular.element('#popup').modal('hide');
                                }
                                else {
                                    $scope.tabs = true;
                                }

                            }), function (error) {
                                $scope.Message = error.Message;
                            }
                        }
                    }
                    else {
                    }
                }
                else {
                    // Show error Message if Form not valid.
                    if ($scope.userForm.$error.required != undefined) {
                        for (var i = 0; i < $scope.userForm.$error.required.length; i++) {
                            $scope.userForm.$error.required[i].$pristine = false;
                        }
                    }
                }
            };

            //Disable future days in date
            var firstDay1 = ("01/" + (new Date().getMonth() + 1) + "/" + new Date().getFullYear());
            var lastDay = (lastDate.getDate() + "/" + (lastDate.getMonth() + 1) + "/" + lastDate.getFullYear());
            $scope.eventdate = firstDay1;
            var today = new Date();
            var todayday = (("0" + (today.getDate())).slice(-2) + "/" + ("0" + (today.getMonth() + 1)).slice(-2) + "/" + today.getFullYear());
            
            $scope.MaxDate = todayday
            //$scope.MaxDate = new Date();
            //Back Functionality
            $scope.close = function () {
                $scope.DisplayForm = false;
                $scope.tabs = false;
                $scope.adtabls = false;
                $scope.form = false;
                $scope.form1 = false;
                $scope.addminus = false;
                $scope.addplus = true;
                $scope.editminus = false;
                $scope.FromDate = firstDay;
                $scope.ToDate = todayday;
                
                //var fd = $scope.FromDate;
                //var to = $scope.ToDate;

                //Bindgrid(fd, to);
                clearFields();
                $scope.DisplayForm = false;
                angular.element('#popup').modal('hide');

                // Reset Error.
                $scope.userForm.$setPristine();
            }
            //cancel Functionality
            $scope.cancel = function () {
                $scope.DisplayForm = false;
                $scope.tabs = false;
                $scope.adtabls = false;
                $scope.form = false;
                $scope.form1 = false;
                $scope.addminus = false;
                $scope.addplus = true;
                $scope.editminus = false;
                $scope.FromDate = firstDay;
                $scope.ToDate = todayday;
                clearFields();
                $scope.DisplayForm = false;
                loadPaytypes();
                // Reset Error.
                $scope.userForm.$setPristine();
            }
            //clear Fileds
            function clearFields() {

                //$scope.timesheets = [{ Date: new Date() }];
                $scope.userForm.$setPristine();
            }


            $scope.remove2 = function (index, ATTD_Id) {
                var pId = ATTD_Id;
                if ($window.confirm("Are  you Sure want to delete: " + pId)) {
                    $scope.attendances[index].punchtimes.splice(ATTD_Id, 1);
                }
            }
            $scope.Addrow = function (timesheet) {
                var today = new Date();
                var todayday = (today.getDate() + "/" + (today.getMonth() + 1) + "/" + today.getFullYear());                          
                $scope.timesheets.push({ Date: todayday, DisabledRecord: 0 });               
            };                          
            $scope.DeletedTimes = [];
            $scope.DeleteTime = function (timesheet) {
                var obj = {};
                obj.TimeSheetID = timesheet.TimeSheetID;
                obj.CustomerID = timesheet.CustomerID;
                obj.ProjectID = timesheet.ProjectID;                
                obj.ActivityID = timesheet.ActivityID;
                obj.legalentityid = timesheet.legalentityid;
                obj.Description = timesheet.Description;
                obj.Date = timesheet.Date;
                obj.Duration = timesheet.Duration;
                $scope.DeletedTimes.push(obj);
                var index = $scope.timesheets.indexOf(timesheet);
                if ($window.confirm("Are you Sure want to delete?")) {
                    $scope.timesheets.splice(index, 1);
                }
            }
            $scope.Delete = function () {
                if ($scope.DeletedTimes.length > 0) {
                    $http({
                        method: "Post",
                        url: "../timesheet/Delete",
                        dataType: 'json',
                        headers: { "Content-Type": "application/json" },
                        data: '{items: ' + JSON.stringify($scope.DeletedTimes) + '}'
                    }).success(function (data) {
                        //Bindgrid();
                        var fd = $scope.FromDate;
                        var to = $scope.ToDate;

                        Bindgrid(fd, to);
                    });
                }
                else {
                    //alert("None of records deleted");
                }
            }

        });

    </script>


</head>
<body>
    <div class="container">
        <div id="example" ng-app="KendoDemos" style="margin-left:-40px">
            <div ng-controller="MyCtrl">
                <div style="padding-top:10px"></div>

                <div class="alert alert-danger" ng-show="DeleteAlert" ng-model="delete">
                    <strong>{{delete}}</strong>
                </div>
                <div class="alert alert-success" ng-show="AddAlert" ng-model="add">
                    <strong>{{msg}}</strong>
                </div>
                <div class="alert alert-info" ng-show="EditAlert" ng-model="edit">
                    <strong>{{msg}}</strong>
                </div>
                @*<br />

                <h1 class="modal-title" style="text-align:left;height: 20px;font-size: 16px;margin-bottom: 25px;"><b>Employee Timesheet Master</b></h1>*@

                <div class="well">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="lblFromDate">From Date</label><br />
                            <input style="display: inline; width: 268px;" class="form-control" data-date-format="dd-MM-yyyy" name="FromDate" datepicker ng-model="FromDate" />
                            <p style="color:red" ng-show="userForm.FromDate.$error.required  && !userForm.FromDate .$pristine" class="help-block"> From Date is required.</p>
                        </div>
                        <div class="col-md-3">
                            <label for="lblToDate">To Date</label><br />
                            <input style="display: inline; width: 268px;" class="form-control" data-date-format="dd-MM-yyyy" name="ToDate" datepicker ng-model="ToDate" />
                            <p style="color:red" ng-show="userForm.ToDate.$error.required  && !userForm.ToDate .$pristine" class="help-block"> To Date is required.</p>
                        </div>
                      
                        <div class="col-md-1">
                            <label for="ShowGrid1"></label><br />

                            <button class="btn btn-primary btn-sm" ng-click="ShowGrid()">Show</button>

                        </div>
                    
                        <div class="col-md-1">
                            <label for="lblToDate"></label><br />

                            <button class="btn btn-primary btn-sm" ng-click="Proceed()">Add</button>

                        </div>
                    </div>
                </div>
                <div class="modal fade" id="popup" data-keyboard="false" data-backdrop="static" style="border:0px;margin-left: 35px;position: absolute;overflow: hidden;padding-top:30px" role="dialog">
                    <div style="width:1250px;">
                        <div class="modal-content">
                            <div class="modal-header pt-reduced pb-reduced" style="background-color:#81c9ff">
                                <button type="button" class="close" data-dismiss="modal" ng-click="close()">x</button>
                                <h4 class="modal-title" style="text-align:center;height: 20px;color:white"><b>TimeSheet Details</b></h4>
                            </div>
                            <div class="modal-body">
                                <div id="wrapper" class="clearfix" scroll-bookmark="bookmark">
                                    <form name="userForm" novalidate>
                                        <div class="col-md-12">
                                            <div>
                                                <div id="table">
                                                    <div class="table-responsive " style="" scroll-bookmark="bookmark2">
                                                        <table id="tblOrders" cellpadding="12" class="table table-bordered table-hover table-striped table-responsive" style="margin-right: 20px; margin-bottom: 0px;">
                                                            <thead style="background-color:#81c9ff;color:white;font-size:12px;">

                                                                <tr>
                                                                    <th style="cursor: pointer;" ng-click="sort('Date')"><b>Date</b><span class="glyphicon sort-icon" ng-show="sortKey=='Date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                                    <th ng-click="sort('ProjectName')"><b>Project</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='ProjectName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                                    <th ng-click="sort('Name')"><b>Customer</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                                    <th ng-click="sort('LegalEntity')"><b>Legal Entity</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='LegalEntity'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>                                                                    
                                                                    <th ng-click="sort('ActivityName')"><b>Activity</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='ActivityName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                                    <th style="cursor: pointer;" ng-click="sort('Duration')"><b>Duration</b><span class="glyphicon sort-icon" ng-show="sortKey=='Duration'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                                    <th ng-click="sort('Description')"><b>Description</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Description'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                                    <th>Action</th>
                                                                </tr>
                                                            </thead>

                                                            <tbody dir-paginate="timesheet in timesheets|orderBy:sortKey:reverse|filter:search|itemsPerPage:10" ng-model="search">
                                                                <tr>
                                                                    <td style="font-size:12px; width:150px; padding:5px 5px 5px 5px !important;">
                                                                        <input type="hidden" ng-model="timesheet.TimeSheetID" />
                                                                        <input type="hidden" ng-model="timesheet.Date" name="Date{{$index}}" required />
                                                                        <input type="text" style="display: inline; height:30px;" class="form-control" name="Date{{$index}}" data-date-format="dd-MM-yyyy" datepicker ng-model="timesheet.Date" />
                                                                        <p style="color: red;" ng-show="userForm['Date'+$index].$error.required && !userForm['Date'+$index].$pristine"
                                                                           class="help-block">
                                                                            Date is required.
                                                                        </p>
                                                                    </td>
                                                                    <td style="font-size:12px; width:150px; padding:5px 5px 5px 5px !important;">
                                                                        <select select2="" ng-model="timesheet.ProjectID" style="display: inline;" 
                                                                                class="input-sm form-control" containerCssClass="all"
                                                                                ng-options="p.Id as p.Name for p in projects"                                                                                
                                                                                 ng-change="GetActivitys($index,timesheet,timesheet.ProjectID)"
                                                                                name="ProjectID{{$index}}" required>
                                                                            <option value="">Select Project</option>
                                                                        </select>
                                                                       <p style="color: red;" ng-show="userForm['ProjectID'+$index].$error.required && !userForm['ProjectID'+$index].$pristine"
                                                                           class="help-block">
                                                                            Project is required.
                                                                        </p>                                                                     
                                                                    </td>
                                                                    <td style="font-size:12px; width:150px; padding:5px 5px 5px 5px !important;">
                                                                        <select class="form-control" style="display: inline; " select2="" ng-change="GetLegalEntitys($index,timesheet)"
                                                                                ng-model="timesheet.CustomerID" containerCssClass="all" ng-options="c.ID as c.Name for c in customers" 
                                                                                ng-disabled="timesheet.DisabledRecord!= 0"
                                                                                name="CustomerID{{$index}}" required>
                                                                            <option value="">Select Customer</option>
                                                                        </select>
                                                                        <p style="color: red;" ng-show="userForm['CustomerID'+$index].$error.required && !userForm['CustomerID'+$index].$pristine && timesheet.DisabledRecord== 0"
                                                                           class="help-block">
                                                                            Customer is required.
                                                                        </p>
                                                                    </td>
                                                                   <td style="font-size:12px; width:150px; padding:5px 5px 5px 5px !important;">
                                                                       <select class="form-control" style="display: inline; " select2="" 
                                                                               ng-model="timesheet.legalentityid" containerCssClass="all" ng-options="c.ID as c.Name for c in timesheet.entitylist" ng-disabled="timesheet.DisabledRecord!= 0"
                                                                               name="legalentityid{{$index}}" required>
                                                                           <option value="">Select Legal Entity</option>
                                                                       </select>
                                                                       <p style="color: red;" ng-show="userForm['legalentityid'+$index].$error.required && !userForm['legalentityid'+$index].$pristine && timesheet.DisabledRecord== 0"
                                                                          class="help-block">
                                                                           Legal Entity is required.
                                                                       </p>

                                                                   </td>
                                                                    <td style="font-size:12px; width:150px; padding:5px 5px 5px 5px !important;">
                                                                        <select class="form-control" style="display: inline;" select2="" ng-model="timesheet.ActivityID" containerCssClass="all"                                                                               
                                                                                ng-options="a.ID as a.ActivityName for a in timesheet.activities" 
                                                                                ng-disabled="disabled" name="ActivityID{{$index}}" required>
                                                                            <option value="">Select Activity</option>
                                                                        </select>
                                                                        <p style="color: red;" ng-show="userForm['ActivityID'+$index].$error.required && !userForm['ActivityID'+$index].$pristine"
                                                                           class="help-block">
                                                                            Activity is required.
                                                                        </p>
                                                                    </td>
                                                                    <td style="font-size:12px;width:50px; padding:5px 5px 5px 5px !important;">
                                                                        <input type="text" class="form-control input-sm"  ng-pattern="/^[1-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-model="timesheet.Duration" ng-change="GetMaxLength(timesheet,$index)" name="Duration{{$index}}" required />
                                                                        <p style="color: red;" ng-show="userForm['Duration'+$index].$error.required && !userForm['Duration'+$index].$pristine"
                                                                           class="help-block">
                                                                            Duration is required.
                                                                        </p>
                                                                        <p style="color: red" ng-show="userForm['Duration'+$index].$dirty&&userForm['Duration'+$index].$error.pattern"
                                                                           class="help-block">
                                                                            It can allow Only numbers
                                                                        </p>
                                                                        <p style="color: Red" ng-show="timesheet.IsValid">Duration should not  be 0 and more than 24 hrs</p>
                                                                    </td>
                                                                    <td style="font-size:12px; padding:5px 5px 5px 5px !important;">
                                                                        <input type="text" class="form-control input-sm" ng-model="timesheet.Description" name="Description{{$index}}" required />
                                                                        <p style="color: red;" ng-show="userForm['Description'+$index].$error.required && !userForm['Description'+$index].$pristine"
                                                                           class="help-block">
                                                                            Description is required.
                                                                        </p>
                                                                    </td>
                                                                    <td style="font-size:12px; padding:5px 5px 5px 5px !important;">
                                                                        <a href="#" ng-click="DeleteTime(timesheet);">
                                                                            <span class="glyphicon glyphicon-trash"></span>
                                                                        </a>
                                                                    </td>

                                                            </tbody>
                                                            <tfoot>
                                                                <tr style="padding-left:20px; padding-right:20px;">
                                                                    <td>
                                                                        <button type="button" class="btn btn-primary btn-sm" ng-click="Addrow()" onchange="">Add</button>
                                                                    </td>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                        <dir-pagination-controls max-size="10"
                                                                                 direction-links="true"
                                                                                 boundary-links="true">
                                                        </dir-pagination-controls>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                                                                                                   
                                        <hr style="margin-top: 0px; margin-bottom: 0px;" />
                                        <div>
                                            <div class="form-group" style="width: 120%; text-align: center; padding: 10px;">
                                                <div class="col-md-offset-2 col-md-5">
                                                    <p>
                                                        <button class="btn btn-primary btn-sm" ng-click="Save(userForm.$valid);Delete()" @*ng-click="Save();Delete();" *@> @*Save*@{{Action}}</button>
                                                        <button class="btn btn-primary btn-sm" data-dismiss="modal" ng-click="close()">Close</button>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4" style="margin-left: 27px;display:inline-block">
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3"></div>
                            <div class="col-md-" style="text-align: right;display:inline-block ;margin-left:80px">
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div id="grid" style="margin-left:10px;margin-right:10px;"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
