﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMDebentures

<div class="row col-md-12 mt30 content-box">
    <div class="col-md-12 colpadding0">
        <div class="row">
            @if (Model.Message)
            {
                <div class="col-md-12">

                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.SuccessErrorMsg)))
                {
            <lable>@Model.SuccessErrorMsg</lable>
                }
                    </div>

                </div>
    }
        </div>

        <div class="row">
            @if (Model.errorMessage)
            {
                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.SuccessErrorMsg)))
                {
            <lable>@Model.SuccessErrorMsg</lable>
                }
                    </div>

                </div>
    }
        </div>

        <div id="divfrmUpdateDebenture">
            @using (Ajax.BeginForm("AddDebenger", "CapitalMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divfrmUpdateDebenture" }, new { id = "frmdebenger" }))
    {
                @Html.AntiForgeryToken();
                @Html.HiddenFor(m => m.Id, new { @id = "txtDebenger" })
                <div>
                    <div class="row colpadding0 mt30">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-3 colpadding0"><label class="control-label">Whether the Company has issued debentures?</label></div>
                            <div class="col-md-3 colpadding0">
                                @(Html.Kendo().RadioButtonFor(m => m.IsDebentures).Label("Yes").Value(true).HtmlAttributes(new { }))
                                &nbsp; &nbsp;
                                @(Html.Kendo().RadioButtonFor(m => m.IsDebentures).Label("No").Value(false).HtmlAttributes(new { }))
                            </div>
                        </div>
                    </div>

                    @{
                string div_class = "display:none";
                if (Model.IsDebentures == true)
                {
                    div_class = "display:block";
                }
                    }
                    <div id="debenture" style="@div_class">
                        <div class="row colpadding0">

                            <div class="col-md-12 colpadding0 table-responsive">
                                <table class="table" id="tbldebenture">
                                    <thead>
                                        <tr>
                                            <th class="text-left">
                                                <label class="head-label"> Particulars</label>
                                            </th>
                                            <th class="text-left">
                                                <lable class="head-label">Number of Units </lable>
                                            </th>
                                            <th class="text-left">
                                                <label class="head-label">
                                                    Nominal Value per unit
                                                </label>
                                            </th>
                                            <th class="text-left">
                                                <label class="head-label">
                                                    Total Value
                                                </label>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><lable class="control-label">Non Convertible debentures</lable></td>
                                            <td>@(Html.Kendo().TextBoxFor(m => m.NumberofUnitsncd).HtmlAttributes(new { @Id = "txtNumberofUnitsncd", @onchange = "onchangDebenger(this);", @type = "number", min = "0", @class="text-right" }))</td>
                                            <td>@(Html.Kendo().TextBoxFor(m => m.NominalValueperunitncd).HtmlAttributes(new { @Id = "txtNominalValueperunitncd", @onchange = "onchangDebenger(this);", @type = "number", min = "0", @class = "text-right" }))</td>
                                            <td>@(Html.Kendo().TextBoxFor(m => m.TotalValuencd).HtmlAttributes(new { @Id = "txtTotalValuencd", @readonly = "readonly", @class = "NoDrop text-right", @type = "number", min = "0" }))</td>
                                        </tr>
                                        <tr>

                                            <td><lable class="control-label">Partly Convertible debentures</lable></td>
                                            <td>@(Html.Kendo().TextBoxFor(m => m.NumberofUnitspcd).HtmlAttributes(new { @Id = "txtNumberofUnitspcd", @onchange = "onchangDebenger(this);", @type = "number", min = "0", @class = "text-right" }))</td>
                                            <td>@(Html.Kendo().TextBoxFor(m => m.NominalValueperunitnpcd).HtmlAttributes(new { @Id = "txtNominalValueperunitnpcd", @onchange = "onchangDebenger(this);", @type = "number", min = "0", @class = "text-right" }))</td>
                                            <td>@(Html.Kendo().TextBoxFor(m => m.TotalValuenpcd).HtmlAttributes(new { @Id = "txtTotalValuenpcd", @readonly = "readonly", @class = "NoDrop text-right", @type = "number", min = "0" }))</td>
                                        </tr>
                                        <tr>
                                            <td><lable class="control-label">Fully Convertible debentures</lable></td>
                                            <td>@(Html.Kendo().TextBoxFor(m => m.NumberofUnitsfcd).HtmlAttributes(new { @Id = "txtNumberofUnitsfcd", @onchange = "onchangDebenger(this);", @type = "number", min = "0", @class = "text-right" }))</td>
                                            <td>@(Html.Kendo().TextBoxFor(m => m.NominalValueperunitnfcd).HtmlAttributes(new { @Id = "txtNominalValueperunitnfcd", @onchange = "onchangDebenger(this);", @type = "number", min = "0", @class = "text-right" }))</td>
                                            <td>@(Html.Kendo().TextBoxFor(m => m.TotalValuenfcd).HtmlAttributes(new { @Id = "txtTotalValuenfcd", @readonly = "readonly", @class = "NoDrop text-right", @type = "number", min = "0" }))</td>
                                        </tr>

                                        <tr>
                                            <td><lable class="control-label">Total</lable></td>
                                            <td></td>
                                            <td></td>
                                            <td>@(Html.Kendo().TextBoxFor(m => m.TotalDebentures).HtmlAttributes(new { @readonly = "readonly", @class = "NoDrop text-right", @Id = "txtTotalDebentures", @type = "number" }))</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>

                                    </tfoot>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="row col-md-12 colpadding0 mt30 text-center">
                    <button type="submit" id="btnDebenture" class="btn btn-primary" value="Save" name="submitButton"><span class=""></span>Save</button>
                </div>

                        }
        </div>
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        if(@Model.Id>0)
        {

            //$("#btnDebenture").kendoButton({
            //    enable: false
            //});
        }
    })
</script>