﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMBodyCorporate



@*<div id="example" style="margin-right:2%;">
    <div id="window">*@
<div class="row">
    @if (Model.Message)
            {
        <div class="col-md-12">

            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                @if (!(string.IsNullOrEmpty(@Model.SuccessErrorMsg)))
                {
                    <lable>@Model.SuccessErrorMsg</lable>
                }
            </div>

        </div>
    }
</div>

<div class="row">
    @if (Model.errorMessage)
            {
        <div class="col-md-12">
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                @if (!(string.IsNullOrEmpty(@Model.SuccessErrorMsg)))
                {
                    <lable>@Model.SuccessErrorMsg</lable>
                }
            </div>

        </div>
    }
</div>
<!-- this will be the content of the popup -->
<div id="DIVBodyCorporateCapital">
    @using (Ajax.BeginForm("CreateBodyCorporateCapitalMaster", "CapitalMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DIVBodyCorporateCapital" , OnBegin = "OnOpen", OnComplete = "OnRefresh", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { id = "frmUpdatebodycorporateCapital" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="ml-mr">
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m=>m.EntityId)

            <div class="row mt30 colpadding0">
                <div class="col-md-12 colpadding0">
                    <fieldset class="col">
                        <legend><label style="font-size:17px">Body Corporate</label></legend>

                        <div class="row  form-group">
                            <div class="col-md-12 colpadding0">

                                <div class="col-md-3 colpadding0">
                                    <span style="color:red"></span><label for="txtSecurityName" class="control-label">Name of Security</label>

                                    @(Html.Kendo().TextBoxFor(m => m.Security_Name).HtmlAttributes(new { @class = "form-control k-textbox", @Id = "txtSecurityName", style = "width: 100%", }))
                                    @Html.ValidationMessageFor(model => model.Security_Name, "", new { @class = "text-danger" })

                                </div>

                                <div class="col-md-3 colpadding0">
                                    <div class="col-md-1 colpadding0"></div>
                                    <div class="col-md-11 colpadding0">
                                        <span></span><label for="txtSecurityNumber" class="control-label">Number of Securities :</label>
                                        @(Html.Kendo().TextBoxFor(m => m.Securities_No).HtmlAttributes(new { @class = "form-control k-textbox", @Id = "txtSecurityNumber", style = "width: 100%", @type = "number", @onchange = "onchangeeventAddAuthorized(this,0);", }))
                                        @Html.ValidationMessageFor(model => model.Securities_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3 colpadding0">
                                    <div class="col-md-1 colpadding0"></div>
                                    <div class="col-md-11 colpadding0">
                                        <span style="color:red"></span><label for="txtSecurities_Nomval" class="control-label">Nominal Value of Securities</label>
                                        @(Html.Kendo().TextBoxFor(m => m.Securities_Nomval).HtmlAttributes(new { @class = "form-control k-textbox", @Id = "txtSecurities_Nomval", style = "width: 100%", @type = "number", @onchange = "onchangeeventAddAuthorized(this,1);", }))
                                        @Html.ValidationMessageFor(model => model.Securities_Nomval, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3 colpadding0">
                                    <div class="col-md-1 colpadding0"></div>
                                    <div class="col-md-11 colpadding0">
                                        <span style="color:red"></span><label for="txttotvalueSecurity" class="control-label">Total Value of Securities</label>

                                        @(Html.Kendo().TextBoxFor(m => m.TotValSecurities).HtmlAttributes(new { @class = "form-control k-textbox", @Id = "txttotvalueSecurity", style = "width: 100%", @type = "number", @readonly = "readonly" }))
                                        @Html.ValidationMessageFor(model => model.TotValSecurities, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row  form-group">
                            <div class="col-md-12 colpadding0">

                                <div class="col-md-3 colpadding0">
                                    @*<div class="col-md-1 colpadding0"></div>
                                        <div class="col-md-11 colpadding0">*@
                                    <span></span><label for="txtCurrency" class="control-label">Currency:</label>
                                    @(Html.Kendo().TextBoxFor(m => m.Currency).HtmlAttributes(new { @class = "form-control k-textbox", @Id = "txtCurrency", style = "width: 100%", }))
                                    @Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })
                                    @*</div>*@
                                </div>
                                <div class="col-md-5 colpadding0" style="top:23px">
                                    <div class="col-md-1 colpadding0"></div>
                                    <div class="col-md-7 colpadding0">
                                        <span style="color:red"></span><label for="txtSecurities_Nomval" class="control-label">Whether listed on Stock Exchange</label>
                                    </div>
                                    <div class="col-md-4 colpadding0">
                                        @(Html.Kendo().RadioButtonFor(m => m.IslistedOnStockExchange).Label("Yes").Value(true).HtmlAttributes(new { @Id = "rdbIslistedOnStockExchange" }))
                                        &nbsp; &nbsp;
                                        @(Html.Kendo().RadioButtonFor(m => m.IslistedOnStockExchange).Label("No").Value(false).HtmlAttributes(new { @Id = "rdbIslistedOnStockExchange" }))
                                        @Html.ValidationMessageFor(model => model.IslistedOnStockExchange, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div id="DIVStockExchangeBodyCorporate" style="display:none">
                                    <div class="col-md-4 colpadding0">
                                        <div class="col-md-1 colpadding0"></div>
                                        <div class="col-md-11 colpadding0">
                                            <span style="color:red"></span><label for="txtStockExchange" class="control-label">Stock Exchange</label>
                                            @(Html.Kendo().MultiSelectFor(m => m.StockExchange)

.DataTextField("Name")
.DataValueField("Id")
.Filter("contains")
.DataSource(source =>
{
    source.Read(read =>
    {
        read.Url("/api/EntityMasterAPI/GetMultiselectorStockExchange").Type(HttpVerbs.Get);
    })
    .ServerFiltering(true);
})
.HtmlAttributes(new { style = "width: 100%", @Id = "ddlMmultipleSelector" }))

                                            @Html.ValidationMessageFor(model => model.StockExchange, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>


        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                <div class="k-edit-buttons k-state-default" style="background:!important;background:none;">
                    <button type="submit" id="home" class="k-primary k-button k-grid-update k-button-icontext" value="Save" name="submitButton"><span class=""></span>Save</button>
                  
                </div>
            </div>
        </div>
    }
    @*</div>
        </div>*@
</div>

<script>
    var validator = $("#frmUpdatebodycorporateCapital").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
    $(document).ready(function () {
        
        var radiobtnval = document.getElementById("rdbIslistedOnStockExchange")
        if (radiobtnval.checked == true) {
            document.getElementById('DIVStockExchangeBodyCorporate').style.display = 'block';
        }
        else {
            document.getElementById('DIVStockExchangeBodyCorporate').style.display = 'none';

        }
    });

    $("#menu3").click(function (z) {

        z.preventDefault();
        z.stopPropagation();
        $('#wndAdd').data("kendoWindow").close();
        $('#gridKendo').data('kendoGrid').refresh();
    })

    function OnSuccess(data) {
        $('#gridKendo').data('kendoGrid').dataSource.read();
        $('#gridKendo').data('kendoGrid').refresh();
      
    }
    function OnFailure(data) {

        
    }
</script>