﻿
@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMllpCapital

<div id="example">
    <div id="window">
        <!-- this will be the content of the popup -->
        @if (Model.Message)
            {
            <div class="row">
                <div class="col-md-6">

                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.SuccessErrorMsg)))
                {
                            <lable>@Model.SuccessErrorMsg</lable>
                        }
                    </div>

                </div>
            </div>
        }

        @if (Model.errorMessage)
            {
            <div class="row">

                <div class="col-md-6">
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.SuccessErrorMsg)))
                {
                            <lable>@Model.SuccessErrorMsg</lable>
                        }
                    </div>

                </div>

            </div>
        }
       
        <div id="DIVLLPCapital">
            @using (Ajax.BeginForm("CreateLLPCapitalMaster", "CapitalMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DIVLLPCapital", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmUpdateLLPCapital" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(m=>m.Entity_Id)
                <div class="ml-mr">
                    <div class="row colpadding0">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-3"> <label>LLP Capital Contribution is:</label></div>
                            <div class="col-md-5 colpadding0">
                                @(Html.Kendo().RadioButtonFor(m => m.IsDesiorPart).Label("Partner").Value(true).HtmlAttributes(new { @Id = "rdbIsDesiorPart" }))
                                &nbsp; &nbsp;
                                @(Html.Kendo().RadioButtonFor(m => m.IsDesiorPart).Label("Designated Partener").Value(false).HtmlAttributes(new { @Id = "rdbIsDesiorPart" }))
                                @Html.ValidationMessageFor(model => model.IsDesiorPart, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row mt30 colpadding0">
                        <div class="row colpadding0">
                            <div class="col-md-12 colpadding0" style="margin-right: 12px;">
                                <fieldset class="col">
                                    <legend><label style="font-size:17px">LLP Capital Contribution </label></legend>

                                    <div class="col-md-12 colpadding0">
                                        <div id="DIVdpinno">
                                            <div class="col-md-4 colpadding0">
                                                <span style="color:red"></span><label for="txtPartner" class="control-label">Name of the Partner</label>
                                                @(Html.Kendo().DropDownListFor(m => m.DesignatedPartner_Id)
.DataTextField("Partner_Name")
.DataValueField("Id")
.DataSource(source =>
{
    source.Read(read =>
    {
        read.Url("/api/CapitalMasterAPI/GetDesignatedPartnerName?EntityId="+Model.Entity_Id).Type(HttpVerbs.Get);
    })
    .ServerFiltering(true);
})

.HtmlAttributes(new { style = "width: 100%", @Id = "ddlPartner_Name", onchange = "changeNatureOfInterest(this)" })
                                                )
                                                @Html.ValidationMessageFor(model => model.Partner_Name, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="col-md-4 colpadding0">

                                                <div class="col-md-1 colpadding0"></div>
                                                <div class="col-md-11 colpadding0">
                                                    <span style="color:red"></span><label for="txtCIN" class="control-label">DPIN Number</label>

                                                    @(Html.Kendo().TextBox().Name("DPIN_No").HtmlAttributes(new { @class = "form-control k-textbox", @Id = "txtDPIN", style = "width: 100%", @readonly = "readonly" }))
                                                    @Html.ValidationMessageFor(model => model.DPIN_No, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="col-md-4 colpadding0">
                                                <div class="col-md-1 colpadding0"></div>
                                                <div class="col-md-11 colpadding0">
                                                    <span></span><label for="txtcapitalContribution" class="control-label">Capital Contribution:</label>
                                                    @(Html.Kendo().TextBoxFor(m => m.Capital_Contribution).HtmlAttributes(new { @class = "form-control k-textbox", @Id = "txtcapitalContributiondpn", style = "width: 100%", @type = "number" }))
                                                    @Html.ValidationMessageFor(model => model.Capital_Contribution, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="DIVnondegignatedpatner">
                                        <div class="col-md-12 colpadding0">
                                            <div class="col-md-3 colpadding0">
                                                <div class="col-md-1 colpadding0"></div>
                                                <div class="col-md-11 colpadding0">
                                                    <span></span><label for="txtPartner_Name" class="control-label">Name of the Partner</label>
                                                    @(Html.Kendo().TextBoxFor(m => m.Partner_Name).HtmlAttributes(new { @class = "form-control k-textbox", @Id = "txtPartner_Name", style = "width: 100%" }))
                                                    @Html.ValidationMessageFor(model => model.Partner_Name, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-3 colpadding0">
                                                <div class="col-md-1 colpadding0"></div>
                                                <div class="col-md-11 colpadding0">
                                                    <span></span><label for="txtPANNo" class="control-label">PAN</label>
                                                    @(Html.Kendo().TextBoxFor(m => m.PANNo).HtmlAttributes(new { @class = "form-control k-textbox", @Id = "txtPANNo", style = "width: 100%; text-transform: uppercase;" }))
                                                    @Html.ValidationMessageFor(model => model.PANNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-3 colpadding0">
                                                <div class="col-md-1 colpadding0"></div>
                                                <div class="col-md-11 colpadding0">
                                                    <span></span><label for="txtAadhar" class="control-label">Aadhar</label>
                                                    @(Html.Kendo().TextBoxFor(m => m.Address).HtmlAttributes(new { @class = "form-control k-textbox", @Id = "txtAadhar", style = "width: 100%" }))
                                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-3 colpadding0">
                                                <div class="col-md-1 colpadding0"></div>
                                                <div class="col-md-11 colpadding0">
                                                    <span></span><label for="txtcapitalContribution" class="control-label">Capital Contribution</label>
                                                    @(Html.Kendo().TextBoxFor(m => m.Capital_ContributionforPartener).HtmlAttributes(new { @class = "form-control k-textbox", @Id = "txtcapitalContribution", style = "width: 100%", @type = "number" }))
                                                    @Html.ValidationMessageFor(model => model.Capital_ContributionforPartener, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                    </div>

                    <div class="row colpadding0 mt30">
                        <div class="col-md-12 colpadding0">
                            <div class="k-edit-buttons k-state-default" style="background:!important;background:none;">
                                <button type="submit" id="home" class="k-primary k-button k-grid-update k-button-icontext" value="Save" name="submitButton"><span class=""></span>Save</button>
                                <button type="button" id="btnllpcapital" class="k-button" value="Close"><span class=""></span>Close</button>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</div>

<script>
    var validator = $("#frmUpdateLLPCapital").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
    $(document).ready(function () {
        
        var radiobtnval = document.getElementById("rdbIsDesiorPart")
        if (radiobtnval.checked == true) {
            document.getElementById('DIVdpinno').style.display = 'none';

            document.getElementById('DIVnondegignatedpatner').style.display = 'block';
        }
        else {
            document.getElementById('DIVdpinno').style.display = 'block';
            document.getElementById('DIVnondegignatedpatner').style.display = 'none';
            removeDataValidationDropDown($('#ddlPartner_Name'));
        }
    });

    function changeNatureOfInterest(obj) {
        
        var ddldpin = $("#" + obj.id).data("kendoDropDownList");
        var index = ddldpin.selectedIndex;
        var DpinNO = ddldpin.dataItem(index).DPIN_No;
        $('#txtDPIN').val(DpinNO);
    }

    $("#btnllpcapital").click(function (z) {
        
        z.preventDefault();
        z.stopPropagation();
        $('#wndAdd').data("kendoWindow").close();
        $('#gridKendo').data('kendoGrid').dataSource.read();
        $('#gridKendo').data('kendoGrid').refresh();
    })

</script>