﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMUnclassified
<div class="row col-md-12 mt30 content-box">
    <div class="col-md-12 colpadding0">
        <div class="row">
            @if (Model.Message)
            {
                <div class="col-md-12">

                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.SuccessErrorMsg)))
                {
                            <lable>@Model.SuccessErrorMsg</lable>
                        }
                    </div>

                </div>
            }
        </div>

        <div class="row">
            @if (Model.errorMessage)
            {
                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.SuccessErrorMsg)))
                {
                            <lable>@Model.SuccessErrorMsg</lable>
                        }
                    </div>

                </div>
            }
        </div>

        <div id="divfrmUpdateUnclassifiedCapital">
            @using (Ajax.BeginForm("AddUnclassifiedCapital", "CapitalMaster", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", UpdateTargetId = "divfrmUpdateUnclassifiedCapital" }, new { id = "frmUnclassified" }))
            {
                @Html.AntiForgeryToken();

                @*@Html.HiddenFor(m => m.Id, new { @value = @Model.Id })*@
                @Html.HiddenFor(m => m.Id, new { @Id = "txtunClassified" })

                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-4 colpadding0"><label class="control-label">Whether the Company is having Unclassified Share Capital?</label></div>
                        <div class="col-md-3 colpadding0">
                            @(Html.Kendo().RadioButtonFor(m => m.IsUnclassified).Label("Yes").Value(true).HtmlAttributes(new { }))
                            &nbsp; &nbsp;
                            @(Html.Kendo().RadioButtonFor(m => m.IsUnclassified).Label("No").Value(false).HtmlAttributes(new { }))
                        </div>
                    </div>
                </div>

                string div_class = "display:none";
                if (Model.IsUnclassified == true)
                {
                    div_class = "display:block";
                }

                <div id="divfrmUpdateUnclassifiedCapital1" style="@div_class">
                    <div class="row colpadding0">
                        <div class="col-md-12 colpadding0 table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-left">
                                            <label class="head-label"> Particulars</label>
                                        </th>
                                        <th class="text-left">
                                            <label class="head-label">Authorised Capital </label>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><lable class="control-label">Total amount of unclassified shares</lable></td>
                                        <td>@(Html.Kendo().TextBoxFor(m => m.UnAuthorizedCapita).HtmlAttributes(new { @type = "number", min = "0", @class="text-right" }))</td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                @*<div class="k-edit-buttons k-state-default" style="background:!important;background:none;">

                      <button type="submit" id="btnUnclassified" class="k-primary k-button k-grid-update k-button-icontext" value="Save" name="submitButton"><span class=""></span>Save</button>

                    </div>*@

                <div class="row col-md-12 colpadding0 mt30 text-center">
                    <button type="submit" id="btnUnclassified" class="btn btn-primary" value="Save" name="submitButton"><span class=""></span>Save</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    var validator = $("#frmUnclassified").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
</script>

