﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMllpCapital

@{

    Layout = "~/Areas/BM_Management/Views/Shared/BM_layout.cshtml";
}

<title></title>

<style>
    html {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .field-validation-error {
        color: #ff0000;
    }

    .k-current-page {
        display: none;
    }

    html .k-upload-empty {
        border-width: 1px;
    }

    .k-edit-form-container {
        position: relative;
        width: 900px;
    }

    .k-grid-edit {
        height: 32px;
        width: 33px;
        padding: 6px 0px 10px 0;
        /*white-space: nowrap;*/
        overflow: hidden;
        /*border-radius: 20px;*/
    }

    .k-grid-delete {
        height: 32px;
        width: 33px;
        padding: 5px 0px 10px 0;
        overflow: hidden;
    }

    .fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 2em;
        }

        .fieldlist label {
            display: block;
            padding-bottom: 1em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

    .mt30 {
        margin-top: 18px;
    }

    .k-grid-add {
        float: right;
        /*background-color: #1fd9e1;*/
        /*color: white;*/
    }
    /*.k-add
        {
            background-image:url("'../../../../Images/Add_new_icon.png'")
        }*/
    .k-edit-buttons {
        /*width: 1280px;*/
        text-align: center;
    }

    label {
        color: black;
    }

    .ml-mr {
        margin-left: 2%;
    }

    #gridKendo {
        /*margin: 0;
            padding: 0;/*
            border-width: 0;
            height: 100%;  DO NOT USE !important for setting the Grid height! */
    }

    fieldset {
        display: block;
        margin-inline-start: 2px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 1px;
        border-style: groove;
        border-color: rgba(128, 128, 128, 0.56);
        border-radius: 11px;
    }

    .k-window {
        width: 800px;
    }
</style>

<script>
    function onRowBound(e) {
        $(".k-grid-edit").find("span").addClass("k-icon k-edit");
        $(".k-grid-delete").find("span").addClass("k-icon k-delete");
        $(".k-grid-add").find("span").addClass("k-i-plus-outline");
    }

</script>

<div class="row Dashboard-white-widget">
    <div class="dashboard">
        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <div class="col-md-2 colpadding0"><h4>Company Name:</h4></div>
                <div class="col-md-4 colpadding0"><h4><b>@Model.EntityName</b></h4></div>

            </div>
        </div>

        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                @(Html.Kendo().Grid<BM_ManegmentServices.VM.VMllpCapital>()
        .Name("gridKendo")
        .Columns(columns =>
        {
            columns.Bound(o => o.Id).Visible(false);
            columns.Bound(o => o.Partner_Name).Title("Name of the Partner/Designated Partner");
            columns.Bound(o => o.Capital).Title("Capital Contribution");
            columns.Command(command =>
            {
                command.Custom("Edit").Click("CreateNew").HtmlAttributes(new { @class = "k-grid-edit" });
                command.Custom("Delete").HtmlAttributes(new { @class = "k-grid-delete" });
            })
            .Title("Action");
        })
        .EnableCustomBinding(true)
        .ToolBar(
        toolbar => toolbar.Custom().Text("New").HtmlAttributes(new { id = "customCommand", @class = "k-grid-add" })
        )
        .Events(e => e.DataBound("onRowBound"))
        .Navigatable()
        .Pageable(pageable => pageable
        .Refresh(false)
        .PageSizes(true)
        .ButtonCount(5))
        .Filterable()
        .Sortable()
        .Reorderable(reorderable => reorderable.Columns(true))
        .Resizable(resizable => resizable.Columns(true))
        .ColumnMenu()
        .DataSource(dataSource => dataSource
        .WebApi()
             .PageSize(20)
              .Model(model =>
              {
                  model.Id(o => o.Id);
              })
        .Read(read => read.Url("/api/CapitalMasterAPI/GetLLpCapital").Data("getEntityId").Type(HttpVerbs.Get))
               ))
            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                <button type="button" class="k-primary k-button k-grid-update k-button-icontext" onclick="location.href='@Url.Action("GetEntityDtls", "EntityMaster")';return false;">previous</button>

            </div>
        </div>

    </div>
</div>


@(Html.Kendo().Window()
    .Name("wndAdd")
    .Title("ShareHolding")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Scrollable(false)
    .Width(500)
    .Events(e => e.Open("adjustSize"))
    .Events(e => e.Refresh("OnRefresh"))
)

<script>
    function sync_handler(e) {
        
        this.read();
    }
    $(document).ready(function () {
        setactivemenu('leftmastermenu');
        fhead('Masters /LLP Capital');
    });

    function HideGridFields(e) {
        if (e.model.isNew()) {
            
            $('.k-grid-update').text("Save");
            $('.k-grid-cancel').text("Close");
        }
        else {
            $('.k-grid-update').text("Update");
            $('.k-grid-cancel').text("Close");
            $('.k-grid-update').focus().trigger('click');
        }
    }

    $(document).on("change", "input[name='IsDesiorPart']", function () {
        var partnerName = document.getElementById("txtPartner_Name");
        var PanNo = document.getElementById("txtPANNo");
        var CapitalContribution = document.getElementById("txtcapitalContribution");
        var dpinCapitalContribution = document.getElementById("txtcapitalContributiondpn");
        if (this.value == "True") {
            document.getElementById('DIVdpinno').style.display = 'none';
            document.getElementById('DIVnondegignatedpatner').style.display = 'block';
            partnerName.setAttribute("required", "required");
            PanNo.setAttribute("required", "required");
            CapitalContribution.setAttribute("required", "required");
            dpinCapitalContribution.removeAttribute("required");
            removeDataValidationDropDown($('#ddlPartner_Name'));
        }
        else {
            document.getElementById('DIVdpinno').style.display = 'block';
            document.getElementById('DIVnondegignatedpatner').style.display = 'none';

            partnerName.removeAttribute("required");
            PanNo.removeAttribute("required");

            CapitalContribution.removeAttribute("required");
            dpinCapitalContribution.setAttribute("required", "required");
        }
    })

    function getEntityId() {
        
        return {
            EntityId: "@ViewBag.EntityId"
        };
    }

    $("#customCommand").click(function (e) {
        e.preventDefault();
        CreateNew(e);
    });

    function CreateNew(e) {
        
        e.preventDefault();
        $("#wndAdd").attr("style", "min-height:100px;");

        var direction;

        if (e.currentTarget.innerText != "New") {
            $("#wndAdd").kendoWindow({
                title: "Edit - Entity Master",
            });
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            direction = "Edit?id=" + dataItem.Id + "&EntityId="+@ViewBag.EntityId;
            var wnd = $("#wndAdd").data("kendoWindow");
            var opts = wnd.options;
        }
        else {
            $("#wndAdd").kendoWindow({
                title: "Add - Entity Master",
            });

            $("#wndAdd").attr("style", "min-height:100px;");
            direction = "Edit?id=" + 0 + "&EntityId="+@ViewBag.EntityId;
            var wnd = $("#wndAdd").data("kendoWindow");
            var opts = wnd.options;
        }
        wnd = $("#wndAdd").kendoWindow({
            title: "Edit - Director Master",
            actions: [
                   "Pin",
                   "Minimize",
                   "Maximize",
                   "Close"
            ],
            content: direction,
            width: "56%",
            visible: false,
            modal: true,
            refresh: function () {this.center(); kendo.ui.progress(this.element, false);},
            close: function (e) {
                $(this.element).empty();
                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function () {    OnOpen();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;"); }
        }).data("kendoWindow");
        opts.width = "56%";
        wnd.setOptions(opts);
        wnd.center();
       // wnd.refresh(direction);
        wnd.open();
    }

    function adjustSize() {

    }
    function OnOpen(e) {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }

    function OnRefresh() {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }
</script>

