﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@{
    ViewBag.Title = "Attendance Report :: My Reports";
}

<style>    
    .k-grid-content .k-state-selected {
        color: #fff;
        background-color: transparent;
        border-color: transparent;
    }

    .k-grid-content{
        max-height:450px;
    }    

    .k-badge-rounded {
        border-radius: .25rem;
    }

    .k-badge {
        padding: .25em .4em;
        border-width: 1px;
        border-style: solid;
        border-color: transparent;
        box-sizing: border-box;
        color: inherit;
        background-color: transparent;
        font-size: 100%;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .k-badge-error {
        border-color: #e16e6a;
        color: #fff;
        background-color: #e16e6a;
    }

    .k-badge-success {
        border-color: #5ecab9;
        color: #fff;
        background-color: #5ecab9;
    }
</style>

<!-- Filter Script-->
<script>
    function getFilters() {
        
        var filter = { logic: "and", filters: [] };

        //Company/Entity
        var ddlEntityId = $("#ddlEntity").data("kendoDropDownTree");
        if(ddlEntityId!=null && ddlEntityId!=undefined){
            var selectedCompanies = ddlEntityId._values;;

            var filterEntity = { logic: 'or', filters: [] };
            if (selectedCompanies.length > 0) {
                for (var i = 0; i < selectedCompanies.length; i++) {
                    filterEntity.filters.push({ field: "EntityId", operator: "eq", value: parseInt(selectedCompanies[i]) });
                }
                filter.filters.push(filterEntity);
            }
        }

        //FY
        var ddlFY = $("#ddlFY").data("kendoDropDownTree");
        if(ddlFY!=null && ddlFY!=undefined){
            var selectedFYs = ddlFY._values;;

            var filterFY = { logic: 'or', filters: [] };
            if (selectedFYs.length > 0) {
                for (var i = 0; i < selectedFYs.length; i++) {
                    filterFY.filters.push({ field: "EntityId", operator: "eq", value: parseInt(selectedFYs[i]) });
                }
                filter.filters.push(filterFY);
            }
        }

        //Meeting
        var ddlMeetings = $("#ddlMeetings").data("kendoMultiSelect");
        if(ddlMeetings!=null && ddlMeetings!=undefined){
            var selectedMeetings = ddlMeetings._values;

            var filterMeetings = { logic: 'or', filters: [] };
            if (selectedMeetings.length > 0) {
                for (var i = 0; i < selectedMeetings.length; i++) {
                    filterMeetings.filters.push({ field: "MeetingID", operator: "eq", value: parseInt(selectedMeetings[i]) });
                }
                filter.filters.push(filterMeetings);
            }
        }       

        return filter;
    }

    function filterChange() {
        var filter = getFilters();
        grid = $("#gridReport").data("kendoGrid");
        grid.dataSource.filter(filter);
    }

    function ShowHideGridColumns() {
        
        var grid = $("#gridReport").data("kendoGrid");

        if(grid!=null && grid !=undefined){
            //Company/Entity Selection
            var ddlEntityId = $("#ddlEntity").data("kendoDropDownTree");
            var selectedCompanies = ddlEntityId._values;;

            if (selectedCompanies.length== 1) {
                grid.hideColumn("CompanyName");
            }else{

            }

            //Meeting Selection
            var ddlMeetings = $("#ddlMeetings").data("kendoDropDownTree");
            if(ddlMeetings!=null && ddlMeetings!=undefined){
                var selectedMeetings = ddlMeetings._values;;

                if (selectedMeetings.length == 1) {
                    grid.hideColumn("MeetingTitle");
                }else{

                }
            } 
        }
    }    

    function ddlFY_SelectedIndexChanged(){
        filterChange();
    }

    function ddlEntity_SelectChanged() {
        filterChange();
    }

    function GetAll_MyDocuments(){
        kendo.ui.progress($("#divGridParent"), true);

        var loggedInUserID = @AuthenticationHelper.UserID;
        var customerID=@AuthenticationHelper.CustomerID;
        var userRole='@AuthenticationHelper.Role';

        var sharedDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '/api/ComplianceAPI/GetAttendanceReport?userID='+loggedInUserID+'&customerID='+customerID+'&userRole='+userRole,
                    dataType: "json",
                }
            },
            schema: {
                model: { id: "ScheduleOnID" },
                data: function (response) {
                    if (response != null && response != undefined) {
                        return response;
                    }
                },
                total: function (response) {
                    if (response != null && response != undefined) {
                        if (response.length > 0) {

                        }
                        return response.length;
                    }
                }
            },
            
            pageSize: 10
        });

        sharedDataSource.read();

        BindGrid_MyDocuments(sharedDataSource);
        fillGrid_MyDocuments_Hidden(sharedDataSource);

        kendo.ui.progress($("#divGridParent"), false);
        //fillFinancialYear();
    }

    function onRowSelect(arg) {
        
        console.log("The selected ids are: [" + this.selectedKeyNames().join(", ") + "]");
    }

    function BindGrid_MyDocuments(dsMyDocuments){

        var fileName = '';
        var exportExcelName = fileName.concat('AttendanceReport-', '@DateTime.Now.ToString("ddMMyyyy")', ".xlsx");

        $("#gridReport").kendoGrid({
            dataSource: dsMyDocuments,
            autoBind:false,
            columnMenu: {
                columns:false,
            },
            filterable:true,
            sortable: true,
            scrollable: true,
            pageable: {
                pageSizes: true           
            },
            change: onRowSelect,
            dataBound: gridReport_RowDataBound,            
            columns: [           
                { field: "EntityId", title: "EntityId", hidden: true, },
                { field: "CompanyName", title: "Company", width: "20%", attributes: {"class": "showTooltip", style: 'white-space: nowrap;' }, sortable:true, filterable: { extra: false,multi: true, search: true, } },

                { field: "FY", title: "FY", hidden: true, },
                { field: "FYText", title: "Financial Year", width: "10%", attributes: { style: 'white-space: nowrap; text-align: center;' }, filterable: { multi: true, search: true, } },

                { field: "Meeting_ID", title: "MeetingID", hidden: true, },
                { field: "MeetingTitle", title: "Meeting", width: "20%", attributes: {"class": "showTooltip", style: 'white-space: nowrap;' }, filterable: { multi: true, search: true, } },
                
                { field: "MeetingDate", title: "Meeting Date", width: "8%", template: "#= MeetingDate == null ? '' : kendo.toString(kendo.parseDate(MeetingDate), \"dd-MMM-yyyy\")#",
                    attributes: { style: 'white-space: nowrap; text-align: center;' } , filterable: false, },
                               
                { field: "StartTime", title: "Start Time", width: "8%", attributes: { style: 'text-align: center;' }  },
                { field: "EndMeetingTime", title: "End Time", width: "8%", attributes: { style: 'text-align: center;' }  }, 

                { field: "Director_Id", title: "Director_Id", hidden: true, },
                { field: "DirectorName", title: "Director", width: "20%", attributes: {"class": "showTooltip", style: 'white-space: nowrap;' }, sortable:true, filterable: { extra: false,multi: true, search: true, } },
                { 
                    field: "Present", 
                    title: "Present", 
                    width: "6%", 
                    attributes: { style: 'white-space: nowrap;' }, 
                    template: kendo.template($("#present_template").html())
                },                
            ],
            editable: false,
            excel: {
                fileName: exportExcelName,
                allPages: true,
            },
            excelExport: function (e) {
                
                var sheet = e.workbook.sheets[0];

                for (var rowIndex = 1; rowIndex < sheet.rows.length; rowIndex++) {                        
                    var row = sheet.rows[rowIndex];
                    var cellIndex = 3;

                    var value = row.cells[cellIndex].value;
                    var newValue = DateFormatConverter(value);

                    row.cells[cellIndex].value = newValue;
                    row.cells[cellIndex].format = "dd-MMM-yyyy";
                    row.cells[cellIndex].autoWidth = true;
                }

                var columns = e.workbook.sheets[0].columns;
                columns.forEach(function (column) {
                    delete column.width;
                    column.autoWidth = true;
                });
            },
        });
    }

    function DateFormatConverter(providedDate) {

        var strDate = '';
        kendo.culture("en-IN");
        if (providedDate != null && providedDate != undefined) {
            strDate = kendo.toString(kendo.parseDate(providedDate), "dd-MMM-yyyy")
        }
        return strDate;
    }

    var initialLoad=true;
    function gridReport_RowDataBound(e) {        
        
        GetICons();      

        var grid = $("#gridReport").data("kendoGrid");
        if(grid!=null &&grid!=undefined){
            getGridborder(grid);
        }

        if(initialLoad){
            fillFinancialYear();
            initialLoad=false;
        }
    }

    function toolTipContent(e) {
        return e.target.context.innerText;
    }

    function fillGrid_MyDocuments_Hidden(dataSource) {
        $("#gridReport_Hidden").kendoGrid({
            columns: [
                        { field: "EntityId" },
                        { field: "CompanyName" },
                        { field: "FY" },
                        { field: "FYText" },
                        { field: "MeetingID" },
                        { field: "MeetingTitle" },
                        { field: "AgendaID" },
                        { field: "AgendaItemTextNew" },
                        { field: "DirectorId" },
                        { field: "DirectorName" },
            ],
            editable: false,
            dataSource: dataSource,
            autoBind:false,
        });
    }

    function fillFinancialYear() {

        
        // Gets the data source from the grid.
        var grid = $("#gridReport_Hidden").data("kendoGrid");

        if(grid!=null && grid!=undefined){
            var meetingData = grid.dataSource;
            //meetingData.filter({});

            var dataFiltered = meetingData.dataFiltered();

            const result = [];
            const map = new Map();

            $.each(dataFiltered, function(index, item){
                if(!map.has(item.FY)){
                    map.set(item.FY, true);    // set any value to Map
                    result.push({
                        FY: item.FY,
                        FYText: item.FYText
                    });
                }
            });

            BindFinancialYear(result);
        }
    }

</script>

<!--popup schedule details-->
<script>
    function BindEntity() {
        
        var loggedInUserID = @AuthenticationHelper.UserID;
        var customerID=@AuthenticationHelper.CustomerID;
        var userRole='@AuthenticationHelper.Role';

        $("#ddlEntity").kendoDropDownTree({
            placeholder: "Company - All",
            filter: "contains",
            autoClose: false,
            tagMode: "single",
            checkboxes: true,
            checkAll: true,
            checkAllTemplate: "Select All",
            dataTextField: "EntityName",
            dataValueField: "Id",
            //autoBind:false,
            change: function (e) {
                ddlEntity_SelectChanged();
            },
            dataSource: {
                transport: {
                    read: {
                        url: '/api/EntityMasterAPI/MyAssignedEntities?custID='+customerID+'&userID='+loggedInUserID+'&userRole='+userRole,
                    }
                },
                schema: {
                    model: {
                        id: "Id",
                        hasChildren: false
                    },
                },
            },
        });
    }

    function BindFinancialYear(dataSource) {
        

        if ($('#ddlFY').data('kendoDropDownTree')) {
            $('#ddlFY').data('kendoDropDownTree').destroy();
            $('#divDDLFY').empty();
            $('#divDDLFY').append('<input id="ddlFY" data-placeholder="Financial Year" style="width: 95%;" />');
        }

        $("#ddlFY").kendoDropDownTree({
            placeholder: "Financial Year-All",
            filter: "contains",
            autoClose: true,
            tagMode: "single",
            checkboxes: true,
            checkAll: true,
            checkAllTemplate: "Select All",
            dataTextField: "FYText",
            dataValueField: "FY",
            autoBind:false,
            change: function (e) {
                ddlFY_SelectedIndexChanged();
            },
            dataSource: dataSource
        });
    }

    function ExportToExcel(e) {
        e.preventDefault();
        kendo.ui.progress($("#gridReport").data("kendoGrid").element, true);

        // trigger export of the products grid
        $("#gridReport").data("kendoGrid").saveAsExcel();

        kendo.ui.progress($("#gridReport").data("kendoGrid").element, false);
        return false;
    }
</script>

<script type="text/x-kendo-template" id="present_template">    
    <div>
        #if(Attendance == 'P'){#
        <span class="k-badge k-badge-success k-badge-rounded">#:Present#</span>
        #}else{#
        <span class="k-badge k-badge-error k-badge-rounded">#:Present#</span> 
        #}#       
    </div>
</script>

<div class="Dashboard-white-widget">
    <div class="dashboard">

        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="form-group">                    

                    <div id="divDDLFY" class="col-md-2 colpadding0">
                        <input id="ddlFY" class="form-control" data-placeholder="Financial Year" style="width: 95%;" />
                    </div>

                    <div id="divddlEntityId" class="col-md-3 colpadding0">
                        <input id="ddlEntity" data-placeholder="Company" style="width: 95%;" />
                    </div>                                        

                    <div id="divMeetingType" class="col-md-3 colpadding0 hidden">
                        <input id="ddlMeetingType" data-placeholder="Meetings" style="width: 95%;" />
                    </div>                   

                    <div id="divBtnExport" class="col-md-1 colpadding0">
                        <button id="btnExcel" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Export to Excel"><span class="k-icon k-i-excel"></span>Export</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row colpadding0 mt10">
            <div class="col-md-12 colpadding0">
                <div id="divGridParent">
                    <div id="gridReport"></div>
                </div>

                <div id="divHiddenGridParent" class="hidden">
                    <div id="gridReport_Hidden"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divOverView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog" style="width: 1150px;">
        <div class="modal-content" style="width: 100%;">
            <div class="modal-header" style="border-bottom: none;">
                <button type="button" class="close" data-dismiss="modal" onclick="CloseClearOV();" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <iframe id="OverViews" src="about:blank" width="80%" height="100%" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var breadCrumbData = [
            {
                displayText: "My Reports",
                navigateUrl: "#",
            },
            {
                displayText: "Attendance Report",
                navigateUrl: "#",
            }
        ];

        setBreadCrumb(breadCrumbData);

        BindEntity();
        //BindGrid_MyDocuments();
        GetAll_MyDocuments();       

        $("#btnExcel").click(function (e) {
            ExportToExcel(e);
        });

        $("#gridReport").kendoTooltip({
            filter: ".showTooltip",
            content: toolTipContent,            
            show:PositionTooltip
        });
    });
</script>