﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.AgendaMasterVM

<div id="divDetailsOfAgendaNew">
    <style>
        
.contextmenu {
    margin: 0;
    position: absolute;
    *display: inline;
    *zoom: 1;
    min-width: 100px;
    background-color: #fff;
    padding: 2px 0;
    border-radius: 4px;
    box-shadow: 1px 2px 30px #ddd;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    font-family: 'Roboto';
}
user agent stylesheet
html {
    color: -internal-root-color;
}

contextmenu-visible {
    display: inline-block;
}

    </style>
    @using (Ajax.BeginForm("ProcessAgenda", "AgendaMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divDetailsOfAgendaNew", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmAddEditAgendaNew" }))
    {
        <div id="example">
            <div id="window" style="width:1290px; min-height:490px; max-height:490px;overflow-y:auto;overflow-x:hidden">

                <div id="frmAddEditAgenda" style="margin-left:2%; margin-right:2%;">

                    <div class="row colpadding0" style="margin-left:3%">
                        <div class="col-md-12 colpadding0">
                            <!-- this will be the content of the popup -->
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @if (Model.Message != null)
                    {
                        if (Model.Message.Success)
                        {
                            <div class="row">
                                <div class="col-md-12" id="DivsuccessI">
                                    <div class="alert alert-success alert-dismissible">
                                        <button class="close" type="button" onclick="hideAlert();">×</button>
                                        <lable id="lblsuccessI">@Model.Message.Message</lable>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-md-12" id="DiverrorI">
                                    <div class="alert alert-danger alert-dismissible">
                                        <button class="close" type="button" onclick="hideAlert();">×</button>
                                        <lable id="lblerrormsgI">@Model.Message.Message</lable>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                    @(Html.HiddenFor(m => m.BM_AgendaMasterId))
                    <fieldset class="col" style="margin-right:5px;">
                        <legend class="amp-mb5"><label style="font-size:17px">Agenda Details </label></legend>

                        <div class="row form-group">
                            <div class="col-md-12 colpadding0">
                                <div class="col-md-2 colpadding0">
                                    <span style="color:red">*</span><label class="control-label">Applicability</label>
                                    @(Html.Kendo().MultiSelectFor(model => model.lstEntity)
                .DataValueField("EntityTypeId")
                .DataTextField("EntityTypeName")
                .Events(e => e.Change("onChange_lstEntity"))
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Url("/api/EntityMasterAPI/GetDropDownforEntityTypeVM").Type(HttpVerbs.Get);
                    })
                    .ServerFiltering(false);
                })
                .HtmlAttributes(new { style = "width: 95%;", @class = "hidden" })
                                    )

                                    @Html.EditorFor(m => m.EntityType)
                                </div>

                                <div class="col-md-2 colpadding0">
                                    <div class="col-md-1 colpadding0"></div>
                                    <div class="col-md-11 colpadding0">
                                        <span style="color:red">*</span><label class="control-label">Part</label>
                                        @Html.EditorFor(m => m.PartId)
                                    </div>
                                </div>

                                <div class="col-md-8 colpadding0">
                                    <div class="col-md-1 colpadding0"></div>
                                    <div class="col-md-11 colpadding0">
                                        <span style="color:red">*</span><label class="control-label">Agenda</label>
                                        @(Html.TextAreaFor(m => m.Agenda, new { @class = "form-control k-textbox", @Id = "Agenda", style = "width: 98%; height:69px;" }))
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12 colpadding0">
                                <div class="col-md-3 colpadding0">
                                    <span style="color:red"></span><label class="control-label">Stages</label><br />&nbsp; &nbsp;
                                    @Html.RadioButtonFor(model => model.IsMultiStageAgenda, "false") Single Stage&nbsp; &nbsp;
                                    @Html.RadioButtonFor(model => model.IsMultiStageAgenda, "true") Multiple Stage
                                    @Html.ValidationMessageFor(model => model.IsMultiStageAgenda, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-3 colpadding0">
                                    <div class="col-md-1 colpadding0"></div>
                                    <div class="col-md-11 colpadding0">
                                        <span style="color:red"></span><label class="control-label">Frequency</label>
                                        @Html.EditorFor(m => m.FrequencyId)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="divAgenda_" class="row form-group">
                            <div class="col-md-12 colpadding0">

                                <div class="col-md-3 colpadding0">
                                    <span style="color:red">*</span><label class="control-label">Type of Meeting</label>
                                    @Html.EditorFor(m => m.MeetingTypeId)
                                </div>

                                <div class="col-md-3 colpadding0">
                                    <div class="col-md-1 colpadding0"></div>
                                    <div class="col-md-11 colpadding0">
                                        <span style="color:red"></span><label class="control-label">Can Passed by Circular Resolution</label><br />&nbsp; &nbsp;
                                        @Html.RadioButtonFor(model => model.CanPassedByCircularResolution, "true") Yes&nbsp; &nbsp;
                                        @Html.RadioButtonFor(model => model.CanPassedByCircularResolution, "false") No
                                        @Html.ValidationMessageFor(model => model.CanPassedByCircularResolution, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3 colpadding0">
                                    <div class="col-md-1 colpadding0"></div>
                                    <div class="col-md-11 colpadding0">
                                        <span style="color:red"></span><label class="control-label">Post AGM/EGM/Postal Ballot Required</label><br />&nbsp; &nbsp;
                                        @Html.RadioButtonFor(model => model.IsPostBallotRequired, "true") Yes&nbsp; &nbsp;
                                        @Html.RadioButtonFor(model => model.IsPostBallotRequired, "false") No &nbsp; &nbsp;
                                        @Html.ValidationMessageFor(model => model.IsPostBallotRequired, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3 colpadding0">
                                    <div class="col-md-1 colpadding0"></div>
                                    <div class="col-md-11 colpadding0">
                                        <span style="color:red"></span><label class="control-label">Voting/Noting</label><br />&nbsp; &nbsp;
                                        @Html.RadioButtonFor(model => model.IsVoting, "true")Voting&nbsp; &nbsp;
                                        @Html.RadioButtonFor(model => model.IsVoting, "false")Noting
                                        @Html.ValidationMessageFor(model => model.IsVoting, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div id="divAgenda1_" class="row form-group">
                            <div class="col-md-12 colpadding0">

                                <div>
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" id="mytab1" href="#tabAgendaTemplate">Agenda Template</a></li>
                                        <li><a data-toggle="tab" id="mytab2" href="#tabResolutionTemplate">Resolution Template</a></li>
                                        <li><a data-toggle="tab" id="mytab3" href="#tabMinutesTemplate">Minutes Template</a></li>
                                    </ul>

                                    <div class="tab-content">
                                        <div id="tabAgendaTemplate" class="tab-pane fade in active">
                                            @(Html.Kendo().EditorFor(m => m.AgendaFormat)
                        .HtmlAttributes(new { style = "height:240px" })
                        .Encode(false)
                        .Resizable(resizable => resizable.Content(false).Toolbar(true))
                        .Tools(tools => tools.CustomButton(cb => cb.Name("names_").ToolTip("Insert a horizontal rule").Exec(@<text>
                            function(e) {
                            var editor = $(this).data("kendoEditor");
                            editor.exec("inserthtml", { value: "<hr />" }); 
                                            }
                              </text>)))
                                            )
                                        </div>

                                        <div id="tabResolutionTemplate" class="tab-pane fade">
                                            @(Html.Kendo().EditorFor(m => m.ResolutionFormat)
                        .HtmlAttributes(new { style = "height:240px" })
                        .Encode(false)
                        .Resizable(resizable => resizable.Content(false).Toolbar(true))
                        .Tools(tools => tools.CustomButton(cb => cb.Name("names_").ToolTip("Insert a horizontal rule").Exec(@<text>
                            function(e) {
                            var editor = $(this).data("kendoEditor");
                            editor.exec("inserthtml", { value: "<hr />" });
                            }
                        </text>))
                                )
                                            )
                                        </div>

                                        <div id="tabMinutesTemplate" class="tab-pane fade">
                                            @(Html.Kendo().EditorFor(m => m.MinutesFormat)
                        .HtmlAttributes(new { style = "height:240px" })
                        .Encode(false)
                        .Resizable(resizable => resizable.Content(false).Toolbar(true))
                                            )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @if (Model.BM_SubAgendaMaster != null)
                        {
                            var i = -1;

                            <div id="divSubAgendaCmd_" class="row">
                                <div style="margin-right:50px;">
                                    <button type="submit" value="AddSubAgenda" name="command_name" id="command_name" class="k-grid-add k-button k-button-icontext pull-right">Add</button>
                                </div>
                            </div>

                            <div id="divSubAgenda_" class="row form-group">
                                <div class="col-md-12 colpadding0">

                                    <div class="demo-section k-content">
                                        <h4>Sub Agendas</h4>
                                        
                                        <ul class="k-widget k-panelbar k-reset k-header" id="panelbarSubAgenda" data-role="panelbar" tabindex="0" role="menu">

                                            @foreach (var item in Model.BM_SubAgendaMaster)
                                            {
                                                i++;
                                                <li class="k-item k-state-default k-first" aria-expanded="false" role="menuitem">
                                                    <span class="k-link k-header">@item.SubAgenda<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>

                                                    <div style="padding: 10px;">

                                                        <ul class="nav nav-tabs">
                                                            <li class="active"><a data-toggle="tab" id="mytab1_@i" href="#tabAgendaDetails_@i">Agenda Details</a></li>
                                                            <li><a data-toggle="tab" id="mytab1_@i" href="#tabAgendaTemplate_@i">Agenda Template</a></li>
                                                            <li><a data-toggle="tab" id="mytab2_@i" href="#tabResolutionTemplate_@i">Resolution Template</a></li>
                                                            <li><a data-toggle="tab" id="mytab3_@i" href="#tabMinutesTemplate_@i">Minutes Template</a></li>
                                                        </ul>

                                                        <div class="tab-content">

                                                            <div id="tabAgendaDetails_@i" class="tab-pane fade in active">
                                                                <table style="width:90%">
                                                                    <tr>
                                                                        <td colspan="3">
                                                                            <div>
                                                                                <span style="color:red">*</span><label class="control-label">Agenda</label>
                                                                                @(Html.TextAreaFor(m => m.BM_SubAgendaMaster[i].SubAgenda, new { @class = "form-control k-textbox", style = "width: 98%; height:69px;" }))
                                                                                @(Html.HiddenFor( m=> m.BM_SubAgendaMaster[i].BM_SubAgendaMasterId))
                                                                                @(Html.HiddenFor(m => m.BM_SubAgendaMaster[i].BM_AgendaMasterId))
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="3"><br /></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div>
                                                                                <span style="color:red">*</span><label class="control-label">Type of Meeting</label>
                                                                                @Html.EditorFor(m => m.BM_SubAgendaMaster[i].MeetingTypeIdSub)
                                                                            </div>

                                                                        </td>

                                                                        <td>
                                                                            <div>
                                                                                <span style="color:red"></span><label class="control-label">Stage</label>
                                                                                @Html.EditorFor(m => m.BM_SubAgendaMaster[i].StageId)
                                                                            </div>

                                                                        </td>

                                                                        <td>
                                                                            <div>
                                                                                <span style="color:red"></span><label class="control-label">Sequence</label><br />
                                                                                @Html.Kendo().TextBoxFor(m => m.BM_SubAgendaMaster[i].Sequence).HtmlAttributes( new { @style = "width:35px;" })
                                                                            </div>
                                                                        </td>
                                                                        

                                                                        
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="3"><br /></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="width:33%">
                                                                            <div>
                                                                                <span style="color:red"></span><label class="control-label">Can Passed by Circular Resolution</label><br />&nbsp; &nbsp;
                                                                                @Html.RadioButtonFor(model => model.BM_SubAgendaMaster[i].CanPassedByCircularResolutionSub, "true") Yes&nbsp; &nbsp;
                                                                                @Html.RadioButtonFor(model => model.BM_SubAgendaMaster[i].CanPassedByCircularResolutionSub, "false") No
                                                                                @Html.ValidationMessageFor(model => model.BM_SubAgendaMaster[i].CanPassedByCircularResolutionSub, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </td>
                                                                        <td style="width:33%">
                                                                            <div>
                                                                                <span style="color:red"></span><label class="control-label">Post AGM/EGM/Postal Ballot Required</label><br />&nbsp; &nbsp;
                                                                                @Html.RadioButtonFor(model => model.BM_SubAgendaMaster[i].IsPostBallotRequiredSub, "true") Yes&nbsp; &nbsp;
                                                                                @Html.RadioButtonFor(model => model.BM_SubAgendaMaster[i].IsPostBallotRequiredSub, "false") No &nbsp; &nbsp;
                                                                                @Html.ValidationMessageFor(model => model.BM_SubAgendaMaster[i].IsPostBallotRequiredSub, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </td>
                                                                        <td style="width:33%">
                                                                            <div>
                                                                                <span style="color:red"></span><label class="control-label">Voting/Noting</label><br />&nbsp; &nbsp;
                                                                                @Html.RadioButtonFor(model => model.BM_SubAgendaMaster[i].IsVotingSub, "true")Voting&nbsp; &nbsp;
                                                                                @Html.RadioButtonFor(model => model.BM_SubAgendaMaster[i].IsVotingSub, "false")Noting
                                                                                @Html.ValidationMessageFor(model => model.BM_SubAgendaMaster[i].IsVotingSub, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>

                                                            <div id="tabAgendaTemplate_@i" class="tab-pane fade">
                                                                @(Html.Kendo().EditorFor(m => m.BM_SubAgendaMaster[i].AgendaFormatSub)
                                                               .HtmlAttributes(new { style = "height:240px" })
                                                               .Encode(false)
                                                               .Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                               .Tools(tools => tools
                                                                //.CustomTemplate(ct => ct.Template("<label for='templateTool' style='vertical-align:middle;'>Background:</label> <select id='templateTool'><option value=''>none</option><option value='\\#ff9'>yellow</option><option value='\\#dfd'>green</option></select>"))
                                                                //.CustomTemplate(ct => ct.Template("<label for='templateTool' style='vertical-align:middle;'>Custom:</label> <input type='button' value='Add' onclick='showMsg(this);'>"))
                                                                .CustomTemplate(ct => ct.Template("<input type='button' value='T' onclick='showMsg(this,event);'>"))
                                                               )
                                                                )
                                                            </div>

                                                            <div id="tabResolutionTemplate_@i" class="tab-pane fade">
                                                                @(Html.Kendo().EditorFor(m => m.BM_SubAgendaMaster[i].ResolutionFormatSub)
                                                                .HtmlAttributes(new { style = "height:240px" })
                                                                .Encode(false)
                                                                .Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                                )
                                                            </div>

                                                            <div id="tabMinutesTemplate_@i" class="tab-pane fade">
                                                                @(Html.Kendo().EditorFor(m => m.BM_SubAgendaMaster[i].MinutesFormatSub)
                                                                .HtmlAttributes(new { style = "height:240px" })
                                                                .Encode(false)
                                                                .Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                                )
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                    </fieldset>
                </div>
            </div>

        </div>

        <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;">
            <button type="button" id="command_name" name="command_name" value="save" onclick="saveAgenda();" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
            <button type="button" id="btnclose2" class="k-button">Close</button>
        </div>

        <div class="contextmenu contextmenu-visible" id="menu" style="left: 667px; top: 190px;">
            <ul>
                <li class="menu-item " onclick="setText()">Create New Template</li>
                <li class="menu-item "><a href="https://www.google.com" class="menu-link" target="_blank">Google</a></li>
                <li class="menu-item menu-disable">Disabled Item</li><li class="menu-line"></li>
                <li class="menu-item "><div>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Label</th>
                                <th>Type</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" />
                                </td>
                                <td>
                                    <input type="text" />
                                </td>
                                <td></td>
                                <td>Action</td>
                            </tr>
                        </tbody>
                    </table>
                    </div></li>
                <li class="menu-item ">Close The Menu</li>
            </ul>
        </div>

        <script>
            function showMsg(e, evt) {
                debugger;
                var aaa = e.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement;
                var tbody = e.parentElement.parentElement.parentElement.parentElement.parentElement;
                var textArea = tbody.rows[1].cells[0].children[1].id;
                var aa = $("#" + textArea).data("kendoEditor").body;
                aa.innerHTML = aa.innerHTML + " {{NAME}}";


                var wnd = $("#wndAdd").data("kendoWindow");
                var position = wnd.options.position;

                $("#menu").css("position", "absolute");
                $("#menu").css("display", "block");
                $("#menu").css("left", evt.clientX - position.left);
                $("#menu").css("top", evt.clientY - position.top - 25);
            }
        </script>

<script>

    $("#Agenda").contextmenu(function (e) {
        debugger;
        e.preventDefault();

        var wnd = $("#wndAdd").data("kendoWindow");
        var position = wnd.options.position;
        //position.top = "50px";
        //position.left = "2.5%";
        $("#menu").css("position","absolute");

        //alert( "Handler for .contextmenu() called." );
        $("#menu").css("display", "block");

        $("#menu").css("left", e.pageX - position.left);
        $("#menu").css("top", e.pageY - position.top -25);

        //$("#menu").css({ left: e.pageX, top: "5" });
    });

    $("#menu").hover(
        function () {
            $(this).append($("<span> ***</span>"));
        },
        function () {
            $(this).find("span:last").remove();
            $(this).css("display", "none");
        }
        );

    function setText()
    {
        alert('Click');
    }

</script>

<script>
    function saveAgenda() {
        var validator = $("#frmAddEditAgendaNew").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
        if (validator.validate()) {

            var input = $("<input>")
               .attr("type", "hidden")
               .attr("name", "command_name").val("save");
            $('#frmAddEditAgendaNew').append(input);

            $("#frmAddEditAgendaNew").submit();
        }
    }

    $(document).ready(function () {
        $("#panelbarSubAgenda").kendoPanelBar({
             //expandMode: "single"
        });
        
        if('@Model.IsMultiStageAgenda' == "True" || '@Model.IsMultiStageAgenda' == "true")
        {
            IsMultistage(true);
        }
        else{
            IsMultistage(false);
        }
    });

    $(document).on("change", "input[name='IsMultiStageAgenda']", function () {
        debugger;
        if (this.value == "true" || this.value == "True") {
            IsMultistage(true);
            }
            else {
            IsMultistage(false);
            }
    });

    function IsMultistage(v)
    {
        if(v==true)
        {
            $("#divSubAgenda_").removeClass('hidden');
            $("#divSubAgendaCmd_").removeClass('hidden');
            $("#divAgenda_").addClass('hidden');
            $("#divAgenda1_").addClass('hidden');
        }
        else {
            $("#divSubAgenda_").addClass('hidden');
            $("#divSubAgendaCmd_").addClass('hidden');
            $("#divAgenda_").removeClass('hidden');
            $("#divAgenda1_").removeClass('hidden');
        }
    }

    $("#btnclose2").click(function (e) {
        $("#wndAdd").data("kendoWindow").close();
    });
</script>

    }

</div>