﻿@using Kendo.Mvc.UI;
@model  BM_ManegmentServices.VM.AdditionalCompliances_VM

<div id="DivNewCompliances">
    @using (Ajax.BeginForm("CreateAdditionalCompliances", "AgendaMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivNewCompliances" }, new { id = "frmNewCompliances" }))
    {
        @Html.HiddenFor(m=>m.Id);
        <div class="row">
            @if (Model.Success)
                {
                <div class="col-md-12">

                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.Message)))
                        {
                            <lable>@Model.Message</lable>
                        }
                    </div>
                </div>
            }
        </div>

            <div class="row">
                @if (Model.Error)
                {
                    <div class="col-md-12">
                        <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            @if (!(string.IsNullOrEmpty(@Model.Message)))
                            {
                                <lable>@Model.Message</lable>
                            }
                        </div>
                    </div>
                }
            </div>
        <div class="row colpadding0" style="overflow:hidden">
            <div class="col-md-12 colpadding0">
                <div class="row colpadding0 mt30">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <span style="color:red"></span><lable class="control-label">Type</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @*<label class='container1'>
                                Non-Secreterial
                                <input id='IsNoncomorSEBI' name='SEBI' type='radio' value='NonCompliance'>
                                <span class='checkmark1'></span>
                            </label>
                            <label class='container1'>
                                SEBI
                                <input id='IsNoncomorSEBI' name='SEBI' type='radio' value='SEBI'>
                                
                                <span class='checkmark1'></span>
                            </label>*@
                            @*@(Html.Kendo().RadioButtonFor(m => m.IsShorter).Label("Shorter Notice").Checked(true).Value("true").HtmlAttributes(new { @Id = "IsShorter" })) &nbsp; &nbsp;
                                @(Html.Kendo().RadioButtonFor(m => m.IsShorter).Label("Regular Notice").Value("false").HtmlAttributes(new { @Id = "IsShorter" }))*@
                            @*@Html.ValidationMessageFor(model => model.IsShorter, "", new { @class = "text-danger" })*@

                            @(Html.Kendo().RadioButtonFor(m => m.SEBI).Label("NonCompliance").Value("NonCompliance").HtmlAttributes(new { }))
                            &nbsp; &nbsp;
                            @(Html.Kendo().RadioButtonFor(m => m.SEBI).Label("SEBI").Value("SEBI").HtmlAttributes(new { }))
                        </div>
                    </div>
                </div>

                <div class="row mt30 colpadding0">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <span style="color:red"></span><lable class="control-label">&nbsp;Compliance ID</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @Html.Kendo().TextBoxFor(model => model.ComplianceNumber).HtmlAttributes(new { style = "width: 95%;" })

                        </div>
                    </div>

                </div>

                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0">
                        <div class="text-center">
                            <button type="Submit" id="command_name" name="command_name" value="save" class="btn btn-primary" onclick="saveadditionalCom()">Save</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
</div>
<script>
    function saveadditionalCom()
    {
        debugger;
        //var validator1 = $("#frmNewCompliances").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

        $("#frmNewCompliances").submit();
    }
</script>