﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.ComplianceList_VM
@{
    ViewBag.Title = "Index";

}
<script>
    var initialLoad = true;
    function onRowBound(e) {

        var grid = $("#gridKendoadditionCompdata").data("kendoGrid");

        GetICons();
        getGridborder(grid);

    }
</script>


<div class="row Dashboard-white-widget">
    <div class="dashboard">
        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="col-md-10 colpadding0">
                    <input id='filter' placeholder="Search by Compliance Id/Type" class='k-textbox' style="width: 52%" autocomplete="off" />
                </div>
                <div class="col-md-1 colpadding0 ">

                </div>

                <div class="col-md-1 colpadding0 text-right">
                    <button class="btn btn-primary" id="CreateNewCompliance" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</button>
                </div>

            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">

                @(Html.Kendo().Grid<BM_ManegmentServices.VM.ComplianceList_VM>()
                .Name("gridKendoadditionCompdata")
               .Columns(columns =>
               {
                   columns.Bound(o => o.AdditionalCompId).Visible(false);
                   columns.Bound(o => o.ComplianceId).Title("Compliance Id").Width("10%");
                   columns.Bound(o => o.ShortDesc).Title("Short Description").Width("60%");
                   columns.Bound(o => o.Type).Title("Type").Width("20%");

                   columns.Command(command =>
                   {
                       command.Custom("Edit").Click("EditNewCompliance").HtmlAttributes(new { @class = "k-grid-edit hoverCircle" });

                       command.Custom("delete").Click("Deleteassignment").HtmlAttributes(new { @class = "k-grid-delete hoverCircle" });
                   })
                   .Title("Action").Width("10%");
               })

        .EnableCustomBinding(true)

        .Events(e => e.DataBound("onRowBound"))
        .Navigatable()
        .Pageable(pageable => pageable
        //.Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
               .DataSource(dataSource => dataSource
        .WebApi()
        .PageSize(10)
        .ServerOperation(false)
              .Model(model =>
              {
                  model.Id(o => o.AdditionalCompId);

              })
        .Read(read => read.Url("/api/AdditionalCompliances/GetadditionalCompliances").Type(HttpVerbs.Get))
                       ))
            </div>
        </div>
    </div>
</div>
<div id="modalWindow">
    <h5>Are you sure?</h5>
    <button id="yes" class="k-button">Yes</button>
    <button id="no" class="k-button">No</button>
</div>



@(Html.Kendo().Window()
    .Name("wndAdd")
    .Visible(false)
    .Modal(true)

)
<script>
    //added by Ruchi
    //$(document).ready(function () {
    //    $("#btnAddnewCompliances").click(function (e) {
    //        e.preventDefault();
    //        EditNewCompliance();
    //    });
    //});
    $("#CreateNewCompliance").click(function (e) {
        debugger;
        EditNewCompliance(e);
    });
    function EditNewCompliance(e) {
        debugger;
        //$("#wndAdd").attr("style", "min-height:100px;");

        $("#wndAdd").kendoWindow({
            title: "Additional Compliances",
            modal: true
        });
        if (e.currentTarget.innerText != "New") {
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            var direction = "AddNewCompliances?Id=" + dataItem.AdditionalCompId;
            var wnd = $("#wndAdd").data("kendoWindow");
            var opts = wnd.options;
        }
        else {
            var direction = "AddNewCompliances?Id=" + 0;
            var wnd = $("#wndAdd").data("kendoWindow");
            var opts = wnd.options;
        }
        //kendo.ui.progress(wnd.element, true);
        // first click of the button - will automatically fetch the contentUrl
        wnd = $("#wndAdd").kendoWindow({
            // title: "Template",
            actions: ["Close"],
            content: direction,
            width: "40%",
            height: "40%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () {
                //OnOpen();
                OnOpen();
            },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                $('#gridKendoadditionCompdata').data('kendoGrid').dataSource.read();
                $('#gridKendoadditionCompdata').data('kendoGrid').refresh();

            }
        }).data("kendoWindow");
        // }
        opts.width = "40%";
        opts.height = "50%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();

    }
    //added by Ruchi

    function adjustSize() {
        // if ($(window).width() < 500 || $(window).height() < 400) {
        //   this.maximize();
        // }
    }

    function OnRefresh() {

        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function OnOpen(e) {

        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }

    function OnOpene(e) {

        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }

    function iterateMeeting(object) {

        var str = "";
        if (object !== null && object.length > 0) {
            for (var x = 0; x < object.length; x++) {
                str += object[x] + ", ";
            }
        } else {
            str += "";
        }
        return trimChars(str, ", ");
    }
    function trimChars(str, c) {
        var re = new RegExp("^[" + c + "]+|[" + c + "]+$", "g");
        return str.replace(re, "");
    }


    var wnd;
    $(document).ready(function () {
        wnd = $("#modalWindow").kendoWindow({
            title: "Delete confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");
    });


    function deleteuserassignment(Id) {
        $.ajax({
            url: "/api/AdditionalCompliances/DeleteAdditionalCompliances?Id=" + Id,
            method: "DELETE",
            success: function () {
                alert("Selected Record Deleted Successfully");
                $('#gridKendoadditionCompdata').data('kendoGrid').dataSource.read();
                $('#gridKendoadditionCompdata').data('kendoGrid').refresh();
            }
        });
    }

    function Deleteassignment(e) {
        e.preventDefault();

        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var Id = dataItem.AdditionalCompId;

        wnd.center().open();
        $("#yes").click(function () {
            deleteuserassignment(Id)
            grid.removeRow(row);
            wnd.close();
        });

        $("#no").click(function () {
            wnd.close();
        });
    }
</script>

<!-- Filter Script-->
<script>
    function filterChange() {
        debugger;
        var filter = { logic: 'or', filters: [] };

        var t = $('#filter');
        if (t.val() != "") {
            filter.filters.push({ logic: "or", field: "ComplianceId", operator: "contains", value: t.val() });
            filter.filters.push({ logic: "or", field: "Type", operator: "contains", value: t.val() });
        }

        grid = $("#gridKendoadditionCompdata").data("kendoGrid");
        grid.dataSource.filter(filter);
    }
</script>

<script>
    $('#filter').on('input', function (e) {
        filterChange();
    });
</script>
