﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="RLCSVendor.master.cs" Inherits="com.VirtuosoITech.ComplianceManagement.Portal.RLCSVendor" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AVANTIS - Products that simplify">
    <meta name="author" content="FortuneCookie - Development Team">
    <title>DASHBOARD :: AVANTIS - Products that simplify</title>
    <!-- Bootstrap CSS -->
    <link href='<%# ResolveUrl("NewCSS/bootstrap.min.css")%>' rel="stylesheet" type="text/css" />
    <!-- bootstrap theme -->
    <link href='<%# ResolveUrl("NewCSS/bootstrap-theme.css")%>' rel="stylesheet" type="text/css" />
    <link href='<%# ResolveUrl("NewCSS/responsive-calendar.css")%>' rel="stylesheet" type="text/css" />
    <link href='<%# ResolveUrl("NewCSS/font-awesome.min.css")%>' rel="stylesheet" type="text/css" />
    <!-- full calendar css-->
    <link href='<%# ResolveUrl("assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css")%>' rel="stylesheet" type="text/css" />
    <!-- owl carousel -->
    <link rel="stylesheet" href='<%# ResolveUrl("NewCSS/owl.carousel.css")%>' type="text/css" />
    <!-- Custom styles -->
    <link rel="stylesheet" href='<%# ResolveUrl("NewCSS/fullcalendar.css")%>' type="text/css" />
    <link href='<%# ResolveUrl("NewCSS/stylenew.css")%>' rel="stylesheet" type="text/css" />
    <link href='<%# ResolveUrl("NewCSS/jquery-ui-1.10.4.min.css")%>' rel="stylesheet" type="text/css" />
    <link href='<%# ResolveUrl("Newjs/bxslider/jquery.bxslider.css")%>' rel="stylesheet" type="text/css" />

    <link href="NewCSS/kendo.common.min.css" rel="stylesheet" />
    <link href="NewCSS/SimpleIcons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.118/styles/kendo.rtl.min.css">
    <link href="NewCSS/kendo.default.min.css" rel="stylesheet" />
    <link href="NewCSS/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="NewCSS/colorbucket.css" rel="stylesheet" />
    <script type="text/javascript" src="../Newjs/jquery.js"></script>
    <script type="text/javascript" src="../Newjs/jquery-ui-1.9.2.custom.min.js"></script>
    <script type="text/javascript" src="https://kendo.cdn.telerik.com/2017.1.118/js/jszip.min.js"></script>
    <script src="../Newjs/kendo.all.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD50uFhROVysfZducuIgGl1ltBV3Hx-Ig8"></script>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
   <%-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92029518-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-92029518-2');
    </script>--%>

    <script type="text/javascript">
        window.history.forward();       
        function preventBack() {window.history.forward(1); }
        $(document).ready(function(){
            $("#panelbar").kendoPanelBar({
                expandMode: "multiple"
            });           
        });

    </script>

    <script type="text/javascript">

        function openSubMenu(menuID){                 
            $(menuID).css('display','block');
        }

        function closeSubMenu(menuID){                  
            $(menuID).css('display','none');
        }

        $("#Mastersubmenu").mouseleave(function() {
            $('#Mastersubmenu').css('display','none');
        });

        function fmenustyle() {         
            var vales=$('#CMPMenuBar').find('ul.level1');
            var lienl= $(vales).find('li.has-popup');

            for(var i=0; i< $(lienl).length;i++)
            {
                var limenu=$(lienl)[i];
               
                if(typeof(limenu)!='undefined'){
                    var ulmenu=$(limenu).find('ul');

                    $(ulmenu).removeClass('level2');
                    $(ulmenu).removeClass('dynamic');
                    $(ulmenu).addClass('gw-');
                    $(ulmenu).removeAttr("style");
                    $(ulmenu).css('display','none');
                    $(ulmenu).css('padding-left','5px');
                    $(ulmenu).addClass('newtestcss');
                    $(limenu).removeClass('has-popup');
                    $(limenu).removeClass('static');
                    $(limenu).css('cursor','pointer');
                }
            }

            var hgtsubmenu=$('ul.newtestcss');

            for(var h=0; h< $(hgtsubmenu).length;h++)
            { 
                var hgtsubmenu1=$(hgtsubmenu)[h];
                var lisubmenu=$(hgtsubmenu1).find('li').length;
              
                if(lisubmenu>16){			 
                    $(hgtsubmenu1).css('margin-top','-300px');
                }else if(lisubmenu>10){
                    $(hgtsubmenu1).css('margin-top','-150px')			
                }else if(lisubmenu<=7){
                    $(hgtsubmenu1).css('margin-top','-50px');		
                } 
            }
        }

        function setactivemenu(id) {                
            fmenustyle();
            //auditmenu active to set
            for(var ii=0; ii< $('.level2').length ; ii++)
            {               
                var inneranchor=$('.level2')[ii];
                if($(inneranchor).html().toLowerCase()==id.toLowerCase())
                {                   
                    var mainli=$(inneranchor).closest('li');
                    var mainul=$(mainli).closest('ul');
                    $(inneranchor).addClass('highlighted');
                    $(mainli).addClass('active');
                    $(mainul).css('display','block');
                    
                    $(mainul).addClass('active');
                    return true;
                }
                $(inneranchor).removeClass('highlighted');
            }

            $('.leftdummy').removeClass("menuactive"); 
            $('#' + id).addClass("menuactive");
        };

    </script>

    <script type="text/javascript">
     
        $(document).ready(function(){            
            $('#divThemeChange').parent().toggleClass('theme-active');

            $('#divThemeChange').click(function () {
                $('#divThemeChange').parent().toggleClass('theme-active');
            });

            $('#ProfilePicTop').click(function () {
                $('#divThemeChange').parent().toggleClass('theme-active');                
            });

            $('#openpicdetail').click(function () {
                $('#divThemeChange').parent().toggleClass('theme-active');                
            });
            

            $(document).click(function () {
                //$('#divThemeChange').parent().toggleClass('theme-active');
            });

        });   

        function reloadPage(){
            location.reload(true);
        }
    </script>

    <style type="text/css">
        .theme-panel .theme-collapse-btn {
            font-size: 18px;
        }

        #sidebar {
            width: 225px;
            background: #fff;
            z-index: 10;
        }

        #main-content {
            margin-left: 225px;
        }

        .glyphicon {
            top: 0px;
            font-family: 'Glyphicons Halflings';
        }

        #panelbar {
            max-width: 400px;
            margin: 0 auto;
        }

        .search-row {
            float: left;
            margin-top: 1px;
            margin-left: 16px;
        }

        .dashboard-weather-icon {
            font-size: 37px;
            padding-top: 0px;
            color: #1fd9e1;
        }

        .teamMate h2 {
            font-size: 1.4em;
            font-weight: normal;
            padding-top: 20px;
        }

        .teamMate p {
            margin: 0;
        }

        .teamMate img {
            display: inline-block;
            margin: 5px 15px 5px 5px;
            border: 1px solid #ccc;
            border-radius: 50%;
        }

        .details {
            display: inline-block;
            vertical-align: top;
        }
    </style>

    <style type="text/css">
        
    </style>

    <style type="text/css">
        .nicescroll-rails {
            width: 11px !important;
        }

            .nicescroll-rails > div {
                width: 10px !important;
                background-color: #1FD9F7 !important;
            }

        #collapsePerformerLoc > div > div > div > div > div > div > a.bx-prev {
            left: 0%;
        }

        #collapsePreviewerLoc > div > div > div > div > div > div > a.bx-prev {
            left: 0%;
        }

        .clock {
            float: left;
            margin-left: 5px;
        }

        ul.sidebar-menu li a {
            text-decoration: none;
            display: block;
            padding: 15px 0 15px 10px;
            font-size: 16px;
            font-weight: 300;
            outline: 0;
            transition: all .3s ease;
        }

        .bx-loading {
            display: none !important;
        }

        .icon-instruction-l {
            background: url(../img/icons/line-icon.png) no-repeat -928px -136px;
            width: 28px;
            height: 25px;
            display: inline-block !important;
        }

        .dashboard-weather p {
            color: #1fd9e1;
            font-size: 16px;
            font-weight: 300;
        }
    </style>

    <style type="text/css">
        .dropdown-menu.extended.logout > li > a {
            border-bottom: 1px solid #EBEBEB !important;
            font-size: 13px;
            list-style: none;
            padding: 7px 10px !important;
            width: 100%;
            display: inline-block;
        }

        .dropdown-menu.extended {
            width: 50% !important;
            top: 0px;
            min-height: 100px;
        }

        .theme-panel {
            width: 279px;
        }

        .dropdown-menu {
            position: absolute;
            display: table;
        }

        .newtestcss {
            position: fixed;
            left: 248px;
            background: white;
            width: 250px !important;
            z-index: 15;
            border: 1px solid #e5e5e5;
        }

            .newtestcss > li {
                padding: 5px;
            }

        ul.level1.gw-nav.gw-nav-list.static {
            width: 100% !important;
        }

        #CMPMenuBar a.level1 {
            margin-left: 5px;
        }

        ul.sidebar-menu li a {
            text-decoration: none;
            display: block;
            padding: 10px 0 10px 10px;
            font-size: 16px;
            font-weight: 300;
            outline: 0;
            transition: all .3s ease;
        }

        .icon-envelope-white {
            background: url(../Images/Message-new.png);
        }
    </style>

    <style>
        .k-panelbar > li.k-state-default > .k-link.k-state-selected, .k-panelbar > li > .k-state-selected, .k-state-selected > .k-link {
            color: #515967;
        }

        .k-panelbar > li.k-state-default > .k-link.k-state-hover, .k-panelbar > li.k-state-hover > .k-link, .k-tabstrip-items .k-state-hover .k-link {
            background-color: #F4F4F4;
        }

        .k-block, .k-draghandle, .k-grid-header, .k-grouping-header, .k-header, .k-pager-wrap, .k-toolbar, .k-treemap-tile, html .km-pane-wrapper .k-header {
            background-color: white;
        }

            .k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
                background-color: #F4F4F4;
            }

        .k-list > .k-state-focused.k-state-selected, .k-listview > .k-state-focused.k-state-selected, .k-state-focused.k-state-selected, td.k-state-focused.k-state-selected {
            box-shadow: none;
        }

        .k-state-hover {
            background-color: #F4F4F4;
        }

        .k-state-active {
            background-color: #eee;
        }

        .k-panelbar .k-content > .panelBar-content {
            height: 400px;
            overflow: auto;
        }

        .k-icon-32 {
            font-size: 18px; /* Sets icon size to 32px */
        }

        .k-panel > .k-item > .k-link, .k-panelbar > .k-item > .k-link {
            line-height: 3.34em;
        }

        .k-i-file-txt {
            content: "\e908";
        }


        .k-link k-header > i {
            margin-right: 0.5em;
        }

        .k-state-selected {
            color: #fff;
            background-color: #f3f3f3;
            border-color: #1a87cd;
        }

        .k-autocomplete, .k-colorpicker, .k-combobox, .k-datepicker, .k-datetimepicker, .k-dropdown, .k-dropdowntree, .k-listbox, .k-multiselect, .k-numerictextbox, .k-selectbox, .k-textbox, .k-timepicker, .k-toolbar .k-split-button {
            position: relative;
            display: inline-block;
            width: 9.4em;
        }

        .k-panelbar > li.k-state-default > .k-link, .k-tabstrip-items .k-state-default .k-link {
            color: #515967;
            font-size: 16px;
        }

        .k-panelbar > .k-item > .k-link {
            border-color: #f4f4f4;
        }

        .k-dropdown .k-state-focused, .k-filebrowser-dropzone, .k-list > .k-state-hover, .k-mobile-list .k-edit-label.k-check:active, .k-mobile-list .k-item > .k-label:active, .k-mobile-list .k-item > .k-link:active, .k-mobile-list .k-recur-view .k-check:active, .k-pager-wrap .k-link:hover, .k-scheduler .k-scheduler-toolbar ul li.k-state-hover, .k-splitbar-horizontal-hover:hover, .k-splitbar-vertical-hover:hover, .k-state-hover, .k-state-hover:hover {
            color: #2e2e2e;
            background-color: #f4f4f4;
        }

        .k-menu-level2 {
            padding-left: 3em;
        }

        .k-pager-numbers .k-state-selected {
            border-style: solid;
            border-width: 1px;
            text-align: center;
            border-radius: 1.0833em;
            background-color: white;
            color: #000000;
        }

        k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
            color: #263248;
        }
    </style>
</head>
<body style="background: #F4F4F4;">
    <form id="form1" runat="server"  autocomplete="off">
        <asp:ScriptManager ID="Isdf" runat="server"></asp:ScriptManager>
        <div>
            <asp:UpdateProgress ID="updateProgress" runat="server">
                <ProgressTemplate>
                    <div style="position: fixed; text-align: center; height: 100%; width: 100%; top: 0; right: 0; left: 0; z-index: 9999999; background-color: #000000; opacity: 0.7;">
                        <asp:Image ID="imgUpdateProgress" runat="server" ImageUrl="~/Images/processing.gif"
                            AlternateText="Processing..." ToolTip="Processing ..." Style="padding: 10px; position: fixed; top: 45%; left: 45%;" />
                    </div>
                </ProgressTemplate>
            </asp:UpdateProgress>

            <section id="container" class="">
                <!--sidebar start-->
                <aside>
                    <%  if (user_Roles != null)
                        { %>
                    <div id="sidebar" class="nav-collapse">
                        <!--logo start-->

                        <%  if (user_Roles.Contains("HMGMT"))
                            { %>
                        <a class="logo" style="height: 63px; padding: 0 0 0 10px;" href="../RLCS/RLCS_HRMDashboardNew.aspx">
                            <%}
                                else if (user_Roles.Contains("HMGR"))
                                { %>
                            <a class="logo" style="height: 63px; padding: 0 0 0 10px;" href="../RLCS/RLCS_HRMDashboardNew.aspx">
                                <%}
                                    else if (user_Roles.Contains("LSPOC"))
                                    { %>
                                <a class="logo" style="height: 63px; padding: 0 0 0 10px;" href="../RLCS/RLCS_HRMDashboardNew.aspx">
                                    <%}
                                        else if (user_Roles.Contains("HAPPR"))
                                        { %>
                                    <a class="logo" style="height: 63px; padding: 0 0 0 10px;" href="../RLCS/RLCS_HRMDashboardNew.aspx">
                                        <%}%>
                                        <img src="../img/TeamLease.png" style="height: 60px;" />
                                    </a>
                                    <div class="clearfix"></div>
                                    <!--logo end-->

                                    <!-- sidebar menu start-->
                                    <ul class="sidebar-menu">
                                        <li class="active">
                                            <div style="height: 50px; background: #fff; padding: 15px; border-top: 1px #f4f4f4 solid; color: #000; color: #000; padding-top: 3px; padding-left: 6px;">
                                                <a class="" style="background: transparent; display: none;" href="../../ProductMapping/ProductMappingStructure.aspx">
                                                    <i class="icon_house" style="color: black;"></i>
                                                    <span style="font-weight: 400; color: #515967; font-size: 16px;">Home</span>
                                                    <span class="badge bg-dashboard"></span>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>

                                    <ul id="panelbar" style="border-right: 0px; border-bottom: 0px;">
                                        <li id="leftdashboardmenu">
                                            <%  if (user_Roles.Contains("HVAUD") || user_Roles.Contains("HVEND"))
                                                { %>
                                            <a class="" href="../RLCSVendorAudit/RLCSVendorAuditDashboard.aspx">
                                                <i class="icon_desktop" style="margin-right: 0.5em;"></i>My Dashboard
                                              <%}%>
                                        </li>

                                        <% if (user_Roles.Contains("HVADM"))
                                            { %>
                                        <li>
                                            <a href="../RLCSVendorAudit/RLCS_ContractorMaster.aspx">
                                                <i class="k-icon k-i-file-txt k-icon-32" style="margin-right: 0.5em;"></i>Create Contract</a>
                                        </li>
                                        <li>
                                            <a href="../RLCSVendorAudit/RLCSUploadChecklist.aspx">
                                                <i class="k-icon k-i-file-txt k-icon-32" style="margin-right: 0.5em;"></i>Checklist Master</a>
                                        </li>
                                        
                                        <li>
                                            <a href="../RLCSVendorAudit/RLCSActassignment.aspx">
                                                <i class="k-icon k-i-file-txt k-icon-32" style="margin-right: 0.5em;"></i>CheckList Assignment</a>
                                        </li>
                                        <li>
                                            <a href="../RLCSVendorAudit/RLCSAuditChecklistSchedule.aspx">
                                                <i class="k-icon k-i-file-txt k-icon-32" style="margin-right: 0.5em;"></i>Schedule Audit</a>
                                        </li>
                                        <%}
                                          else if (user_Roles.Contains("HVAUD"))
                                            { %>
                                        <li>
                                            <a href="../RLCSVendorAudit/RLCSActassignment.aspx">
                                                <i class="k-icon k-i-file-txt k-icon-32" style="margin-right: 0.5em;"></i>CheckList Assignment</a>
                                        </li>
                                        <li>
                                            <a href="../RLCSVendorAudit/RLCSAuditChecklistSchedule.aspx">
                                                <i class="k-icon k-i-file-txt k-icon-32" style="margin-right: 0.5em;"></i>Schedule Audit</a>
                                        </li>                                        
                                        <%} else if (!user_Roles.Contains("HVADM") && Vednor_Roles.Contains("HVAUD"))
                                            { %>
                                        <li>
                                            <a href="../RLCSVendorAudit/RLCSUploadChecklist.aspx">
                                                <i class="k-icon k-i-file-txt k-icon-32" style="margin-right: 0.5em;"></i>Upload Checklist</a>
                                        </li>
                                        <li>
                                            <a href="../RLCSVendorAudit/RLCSAuditChecklistSchedule.aspx">
                                                <i class="k-icon k-i-file-txt k-icon-32" style="margin-right: 0.5em;"></i>Schedule Audit</a>
                                        </li>
                                        <%}%>
                                        

                                        <li id="leftdocumentsmenu1">
                                            <%  if (user_Roles.Contains("HVEND") || user_Roles.Contains("HVADM") || user_Roles.Contains("HVAUD"))
                                                { %>
                                            <a class="" href="../RLCSVendorAudit/RLCS_VendorAuditReport.aspx">
                                                <i class="icon_desktop" style="margin-right: 0.5em;"></i>My Report
                                              <%}%>
                                        </li>

                                    </ul>

                                    <!-- sidebar menu end-->
                    </div>

                    <div id="sidebar-small" class="nav-collapse">
                        <!--logo start-->
                        <% if (user_Roles.Contains("HMGMT") || user_Roles.Contains("LSPOC") || user_Roles.Contains("HMGR") || user_Roles.Contains("HAPPR"))
                            { %>
                        <a class="logo" style="height: 63px; padding: 1px 0 0 25px;" href="../RLCS/RLCS_HRMDashboardNew.aspx">
                            <%}%>
                            <img src="../img/TeamLease.png" />
                        </a>

                        <div class="clearfix"></div>
                        <!--logo end-->

                        <!-- sidebar-small menu start-->

                        <!-- sidebar-small menu end-->
                    </div>
                    <%}%>
                </aside>
                <!--sidebar end-->

                <!--main content start-->
                <section id="main-content" style="background: #f4f4f4;">
                    <header class="header gray-bg" style="min-height: 63px;">
                        <div class="nav search-row" id="top_menu">
                            <!--  search form start -->
                            <ul class="nav top-menu">
                                <li>
                                    <div class="toggle-nav" style="float: right; padding-top: 0px !important; display: none;">
                                        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom">
                                            <img src="../img/menu-ico.png" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <asp:UpdatePanel ID="UpdatePanel1" runat="server" UpdateMode="Conditional">
                                        <ContentTemplate>
                                            <div style="width: 275px; border: 1px solid; border-radius: 5px; background-color: white;" runat="server" id="divCustomer">

                                                <asp:DropDownListChosen ID="ddlCustomers" Width="100%" OnSelectedIndexChanged="ddlCustomers_SelectedIndexChanged" AutoPostBack="true"
                                                    DataPlaceHolder="Select Customer" runat="server" AllowSingleDeselect="false" class="form-control" Style="width: 250px; float: left;">
                                                </asp:DropDownListChosen>

                                            </div>
                                        </ContentTemplate>
                                        <Triggers>
                                            <asp:PostBackTrigger ControlID="ddlCustomers" />
                                        </Triggers>
                                    </asp:UpdatePanel>
                                    <asp:UpdatePanel ID="UpDetailView" runat="server" UpdateMode="Conditional" OnLoad="upDivLocation_Load" style="display: none; width: 275px; border: 1px solid; background-color: #FFF; border-radius: 5px; height: 35px;">
                                        <ContentTemplate>
                                            <%-- <div>
                                                <asp:TextBox ID="txtSearch" placeholder="Search" runat="server" class="form-control" Style="width: 250px; float: left; border: none"></asp:TextBox>
                                                <img class="search-button" onclick="fsearch()" src="../images/search-img.png" style="float: left; display: inherit; cursor: pointer; /* vertical-align: middle; */margin-top: 3%;">
                                                <div id="DivSearch" runat="server" class="form-control" style="display: none; position: fixed; left: 24%; top: 9.5%; border-top: none !important; border: 1px solid; width: 275px; height: auto; z-index: 50; background-color: #FFF;"></div>
                                            </div>--%>
                                        </ContentTemplate>
                                    </asp:UpdatePanel>
                                </li>
                            </ul>
                            <!--  search form end -->
                        </div>

                        <div class="top-nav notification-row">
                            <!-- notificatoin dropdown start-->
                            <ul class="nav pull-right top-menu" style="margin-top: -18px;">

                                <!-- inbox notificatoin start-->
                                <li id="mail_notificatoin_bar" style="margin-top: 12px; margin-left: 10px; display: none;">
                                    <a style="cursor: pointer" onclick="openhelp()">
                                        <i class="icon-question-l" data-toggle="tooltip" data-placement="bottom" title="Help Center"></i>
                                    </a>
                                    <ul class="dropdown-menu extended logout maillistclass" style="top: 22px;">
                                    </ul>
                                </li>

                                <li id="mail_notificatoin_bar" style="margin-left: 0px; display: none;">
                                    <a href="../RLCS/RLCS_Emaillist.aspx">
                                        <i class="icon-envelope-l topmailbox" data-toggle="tooltip" data-placement="bottom" title="Message Center"></i>
                                        <span class="badge bg-important notification" id="mailcount"></span>
                                    </a>
                                    <ul class="dropdown-menu extended logout maillistclass" style="top: 22px;">
                                    </ul>
                                </li>
                                <!-- inbox notificatoin end -->

                                <!-- alert notification start-->
                                <li id="alert_notificatoin_bar" style="margin-top: 12px; margin-left: 0px;">
                                    <a href="../RLCS/RLCS_Notification.aspx">
                                        <i class="icon-bell-l" data-toggle="tooltip" data-placement="bottom" title="Notification Center"></i>
                                        <span class="badge bg-important notification" id="Notecount"></span>
                                    </a>
                                </li>
                                <!-- alert notification end-->

                                <!-- user login dropdown start-->
                                <li class="dropdown">

                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#" style="float: left;"><%--id="openpicdetail"--%>
                                        <span class="profile-ava">
                                            <img runat="server" id="ProfilePicTop" src="../img/profile_pic.png" style="height: 50px; width: 50px;" />
                                        </span>
                                        <span class="username"><%= com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.User %></span>
                                         
                                            <a href="../Logout.aspx" data-toggle="tooltip" data-placement="bottom" title="Logout" style="float: left; cursor: pointer; margin-top: 15px; color: #fff;">
                                                <i class="fa fa-power-off"></i>
                                            </a>
                                        </li>
                                <!-- user login dropdown end -->

                            </ul>
                            <!-- notificatoin dropdown end-->
                        </div>
                    </header>

                    <div class="row" style="background: #fff; height: 50px;" id="timedateProgress">
                        <div class="col-md-12">
                            <div class="col-md-6 col-sm-6 col-lg-6 colpadding0">
                                <h1 id="pagetype" style="margin-top: 5px; padding: 5px;"></h1>
                            </div>

                            <div class="col-md-6 col-sm-6 col-lg-6 colpadding0">
                                <div class="col-md-2 col-sm-2 col-lg-2 colpadding0">
                                    <h1 id="clockone" style="padding: 5px; margin-top: 5px; float: left;">22 : 02</h1>
                                    <div class="borderright" style="height: 40px; margin-top: 5px;"></div>
                                </div>

                                <div class="col-md-4 col-sm-4 col-lg-4 colpadding0">
                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                        <img src="../img/icon-sunnyday.png" id="whetherpic" style="padding: 5px;" />
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-lg-8">
                                        <h4 id="daytype" style="padding: 5px; color: #1fd9e1">Sunny Day</h4>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-3 col-lg-3 colpadding0">
                                    <h4 style="padding: 5px;"><%=DateTime.Now.ToString("MMM dd yyyy") %></h4>
                                </div>

                                <div class="col-md-3 col-sm-3 col-lg-3 colpadding0">
                                    <div class="col-lg-4 col-md-4 colpadding0">
                                        <div class="dashboard-weather-icon" id="temp">
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-8" style="text-align: center;">
                                        <h4 id="dCity" style="margin-top: 3px; color: #1fd9e1;"></h4>
                                        <h4 id="dCountry"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix" style="height: 15px"></div>

                    <section id="sectionContentChildPage" class="container-fluid" style="max-width: 100%;">
                        <div class="row" id="childrow">
                            <div class="dashboard">
                                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                                </asp:ContentPlaceHolder>
                            </div>
                        </div>
                    </section>
                </section>
                <!--main content end-->
            </section>
        </div>

        <div class="modal fade" id="docViewer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width: 900px; height: 500px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="fvideostop()">×</button>
                    </div>
                    <div class="Help_logo" style="position: absolute; width: 50%; background-image: url(../img/TeamLease.png); background-size: 100% 100%; position: absolute; left: 2%; width: 12%; height: 76px; top: 0%;">
                    </div>
                    <div class="Help_Back" style="background: #1fd9e1; color: #688a7e; height: 70px; border-radius: 9px; margin-left: 10.1%; width: 90%; margin-top: -3.1%;"></div>
                    <div class="modal-body">
                        <iframe src="about:blank" id="dicviewer" width="100%" height="500px" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            function openemail() { 
                $('#emailicon').hide();
                $('#idemail').show();
            }

            function openticket(){ 
                $('#ticketicon').hide();
                $('#idticket').show();
            }

            function hideticket() {
                $('#ticketicon').show();
                $('#idticket').hide();
            }

            function hidemessage() {
                $('#emailicon').show();
                $('#idemail').hide();
            }

            $("#txttomail").blur(function () {
                if ($(this).val() == '')
                {
                    $(this).val('To');
                }
            });

            $("#txttomail").focus(function () {
                if ($(this).val() == 'To') {
                    $(this).val('');
                }
            });

            $("#txtsub").blur(function () {
                if ($(this).val() == '') {
                    $(this).val('Subject');
                }
            });

            $("#txtsub").focus(function () {

                if ($(this).val() == 'Subject') {
                    $(this).val('');
                }
            });

            $("#txtmsgbody").blur(function () {                    
                if ($(this).val() == '') {
                    $(this).val('Message');
                }
            });

            $("#txtmsgbody").focus(function () {
                if ($(this).val() == 'Message') {
                    $(this).val('');
                }
            });

            $("#ticketmessage").blur(function () {                    
                if ($(this).val() == '') {
                    $(this).val('Message');
                }
            });

            $("#ticketmessage").focus(function () {
                if ($(this).val() == 'Message') {
                    $(this).val('');
                }
            });

            $("#ticketsubject").blur(function () {                    
                if ($(this).val() == '') {
                    $(this).val('Subject');
                }
            });

            $("#ticketsubject").focus(function () {
                if ($(this).val() == 'Subject') {
                    $(this).val('');
                }
            });
        </script>

        <script>
            function Displays() {
                $('#updateProgress').show();
                setTimeout(function() {  $("#updateProgress").hide(); $("#updateProgress").html(); }, 3000);
                return true;
            };
        </script>

        <script type="text/javascript" src="../Newjs/bxslider/jquery.bxslider.js"></script>
        <script type="text/javascript" src="../Newjs/bootstrap.min.js"></script>
        <!-- nice scroll -->
        <script type="text/javascript" src="../Newjs/jquery.scrollTo.min.js"></script>
        <script type="text/javascript" src="../Newjs/jquery.nicescroll.js"></script>
        <!-- charts scripts -->
        <script type="text/javascript" src="../assets/jquery-knob/js/jquery.knob.js"></script>
        <script type="text/javascript" src="../Newjs/owl.carousel.js"></script>
        <!-- jQuery full calendar -->
        <script type="text/javascript" src="../Newjs/fullcalendar.min.js"></script>
        <!--script for this page only-->
        <script type="text/javascript" src="../Newjs/calendar-custom.js"></script>
        <script type="text/javascript" src="../Newjs/jquery.rateit.min.js"></script>
        <!-- custom select -->
        <script type="text/javascript" src="../Newjs/jquery.customSelect.min.js"></script>
        <!--custome script for all page-->
        <script type="text/javascript" src="../Newjs/scripts.js"></script>
        <!-- custom script for this page-->

        <script type="text/javascript">
           

        </script>

        <script type="text/javascript">
            //carousel
            function ReadQuerySt(e) {
                try {
                    for (hu = window.location.search.substring(1), gy = hu.split('&'), i = 0; i < gy.length; i++)
                        if (ft = gy[i].split('='), ft[0].toLowerCase() == e.toLowerCase()) return ft[1];
                    return ''
                } catch (t) {
                    return ''
                }
            }

            $(document).ready(function () {
                $("#owl-slider").owlCarousel({
                    navigation: true,
                    slideSpeed: 300,
                    paginationSpeed: 400,
                    singleItem: true
                });
                   
                $('.bxslider-map').bxSlider({
                    //nextSelector: '#slider-next',
                    //prevSelector: '#slider-prev',
                    minSlides: 1,
                    maxSlides: 1,
                    slideWidth: 300,
                    slideMargin: 50,
                    moveSlides: 1,
                    auto: false,
                });
                getdateclock();           
            });
               
            function getdateclock(){ 
                var today = new Date();
                var h = today.getHours();
                var m = today.getMinutes();
                var s = today.getSeconds();
                if(m<10){
                    m = "0"+m;
                }
                if(s<10){
                    s = "0"+s;
                }

                $("#clockone").html(h+" : "+m);
                setTimeout(function(){getdateclock()}, 500);
            }            
            //custom select box
            $(function () {
                $('select.styled').customSelect();
            });                
          
            $(function () {
                $(".knob").knob({
                    draw: function () {
                        // "tron" case
                        if (this.$.data('skin') == 'tron') {
                            var a = this.angle(this.cv)  // Angle
                            , sa = this.startAngle          // Previous start angle
                            , sat = this.startAngle         // Start angle
                            , ea                            // Previous end angle
                            , eat = sat + a                 // End angle
                            , r = 1;
                            this.g.lineWidth = this.lineWidth;
                            this.o.cursor
                            && (sat = eat - 0.3)
                            && (eat = eat + 0.3);
                            if (this.o.displayPrevious) {
                                ea = this.startAngle + this.angle(this.v);
                                this.o.cursor
                                && (sa = ea - 0.3)
                                && (ea = ea + 0.3);
                                this.g.beginPath();
                                this.g.strokeStyle = this.pColor;
                                this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sa, ea, false);
                                this.g.stroke();
                            }
                            this.g.beginPath();
                            this.g.strokeStyle = r ? this.o.fgColor : this.fgColor;
                            this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sat, eat, false);
                            this.g.stroke();

                            this.g.lineWidth = 2;
                            this.g.beginPath();
                            this.g.strokeStyle = this.o.fgColor;
                            this.g.arc(this.xy, this.xy, this.radius - this.lineWidth + 1 + this.lineWidth * 2 / 3, 0, 2 * Math.PI, false);
                            this.g.stroke();

                            return false;
                        }
                    }
                });
            });
          
            ///*script to showHide Div*/
            function closeDiv(id) {
                if (document.getElementById(id + 'Checkbox') != null && document.getElementById(id + 'Checkbox') != undefined) {
                    document.getElementById(id + 'Checkbox').className = 'menucheckbox-notchecked';
                    document.getElementById(id).style.display = 'none';
                    // widgets(id, 'False');
                  
                  
                    // do something
                }
            }

            function showDiv(id) {             
                if (document.getElementById(id + 'Checkbox') != null && document.getElementById(id + 'Checkbox') != undefined) {
                    if (document.getElementById(id).style.display != 'none' && document.getElementById(id).style.display != '') {
                        document.getElementById(id + 'Checkbox').className = 'menucheckbox-notchecked';
                        document.getElementById(id).style.display = 'none';
                        // widgets(id, 'False');
                        
                    }
                    else {
                        //if (document.getElementById(id + 'Checkbox').className == 'menucheckbox-checked') {
                        document.getElementById(id).style.display = 'block';
                        document.getElementById(id + 'Checkbox').className = 'menucheckbox-checked';
                        //widgets(id, 'True');
                     
                    }
                }
                $('li.dropdown').addClass('open')
            }

            function closeDiv1(id) {
               
                if (document.getElementById(id + 'Checkbox') != null && document.getElementById(id + 'Checkbox') != undefined) {
                    document.getElementById(id + 'Checkbox').className = 'menucheckbox-notchecked';
                    
                    try{document.getElementById(id).style.display = 'none';}catch(e){}
                    // do something
                }
            }

            function showDiv1(id) {               
                if (id != null) {
                    if (document.getElementById(id + 'Checkbox') != null && document.getElementById(id + 'Checkbox') != undefined) {
                          
                        //typeof (locationsInternal1) !== 'undefined'
                        if (typeof (document.getElementById(id)) != 'undefined' && document.getElementById(id)!=null) {
                            if (document.getElementById(id).style.display != 'none' && document.getElementById(id).style.display != '') {
                                document.getElementById(id + 'Checkbox').className = 'menucheckbox-notchecked';
                                document.getElementById(id).style.display = 'none';
                            } else {
                                //if (document.getElementById(id + 'Checkbox').className == 'menucheckbox-checked') {
                                document.getElementById(id).style.display = 'block';
                                document.getElementById(id + 'Checkbox').className = 'menucheckbox-checked';

                            }
                        }
                    }
                }
            }          

            function msg() {
                if(validateemail()){
                    var k = 0;
                    $.ajax({
                        async: true,
                        type: 'Post',
                        url: '/dailyupdateservice.svc/UserMessaging',                       
                        data: JSON.stringify({"recepient": $('#txttomail').val(),"sender": <%= com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID %>, "subject":  $('#txtsub').val(), "message":  $('#txtmsgbody').val()}),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        processData: true,
                        success: function (result) {
                            
                            if(result.UserMessagingResult==true){
                                $("#idemail").hide(); 
                                $("#emailicon").show(); 

                                if(result.sendmailresult==true){
                                    $("#mailSuccess").show();
                                    $("#mailSuccess").html('Message sent successfully');
                                    setTimeout(function() {  $("#mailSuccess").hide(); $("#mailSuccess").html(); }, 5000);
                                } else {
                                    $("#mailSuccess").show();
                                    $("#mailSuccess").html('Message sent fail');
                                    setTimeout(function() {  $("#mailSuccess").hide(); $("#mailSuccess").html(); }, 5000);
                                }

                                $('#txttomail').val('To');
                                $('#txtmsgbody').val('Message');
                                $('#txtsub').val('Subject');                              
                            }                          
                        },
                        error: function (e, t) { }
                    });
                }
            }

            $(function () {
                $('#btnsendmailNew').click(function () {
                    if(validateemail()){
                        var fileUpload = $('#FileUpload1').get(0);
                        var files = fileUpload.files;
                        test = new FormData();
                        for (var i = 0; i < files.length; i++) {
                            test.append(files[i].name, files[i]);
                        }
                        test.append('txttomail',$('#txttomail').val());
                        test.append('txtsub',$('#txtsub').val());
                        test.append('txtmsgbody',$('#txtmsgbody').val());
                        test.append('Sender',('<%= com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID %>'))
                        $.ajax({
                            url:"/FileUploadHandler.ashx",
                            type: "POST",
                            contentType: false,
                            processData: false,
                            data: test, 
                            
                            success: function (result) {                        
                                         
                                $("#idemail").hide(); 
                                $("#emailicon").show();
                                if(Displays()==true)  
                                {
                                    if(result=='True')
                                    {
                                        $("#mailSuccess").show();
                                        $("#mailSuccess").html('Message sent successfully');
                                        setTimeout(function() {  $("#mailSuccess").hide(); $("#mailSuccess").html(); }, 5000);
                                    }
                                    else
                                    {
                                        //Displays();
                                        $("#mailSuccess").show();
                                        $("#mailSuccess").html('Message sent fail');
                                        setTimeout(function() {  $("#mailSuccess").hide(); $("#mailSuccess").html(); }, 5000);
                                    }
                                }
                                $('#txttomail').val('To');
                                $('#txtmsgbody').val('Message');
                                $('#txtsub').val('Subject');
                                $('#FileUpload1').val('');  
                            },
                            error: function (err) {

                            }
                        });
                    }
                });
            })

            function ticket() {
                if(validateticket()){
                    var k = 0;
                    $.ajax({
                        async: true,
                        type: 'Post',
                        url: '/dailyupdateservice.svc/ticket',
                        //  url: '/dailyupdateservice.svc/UserMessaging?recepient='+$('#txttomail').val()+'&sender=<%= com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID %>'+'&subject='+ $('#txtsub').val() +'&message='+$('#txtmsgbody').val(),
                        data: JSON.stringify({"subject": $('#ticketsubject').val(),"message":$('#ticketmessage').val(),"requestor":<%= com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID %>,"tickettype":$('#issues').val()}),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        processData: true,
                        success: function (result) 
                        {
                            if(Displays() ==true)  
                            {    
                                if(result.ticketResult==true)
                                {
                                    $("#idticket").hide(); 
                                    $("#ticketicon").show(); 
                                    $("#mailSuccess").show();
                                    $("#mailSuccess").html('Ticket raised successfully');
                                    setTimeout(function() {  $("#mailSuccess").hide(); $("#mailSuccess").html(); }, 5000);
                                    $('#ticketsubject').val('Subject');
                                    $('#ticketmessage').val('Message');
                                    $('#issues').val('0');
                              
                                }
                            }
                        },
                        error: function (e, t) { }
                    });
                }
            } 

            function fvideostop(){
                $('#dicviewer').attr('src','about:blank');
            }

            function openhelp(){
                //var a=document.getElementById("pagetype").innerHTML;
                //if(document.location.href.toLowerCase().indexOf('managementdashboard') >-1 && a.toLowerCase()=='dashboard')
                //{
                //    a='managementDashboard';
                //}
                //var url=("../NewMgmtHelp.aspx?id="+a);
    
                //$('#docViewer').modal('show'); 
  
                //$('#dicviewer').attr('src',url);

                 <% if (com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role =="MGMT"){%>              
            
            var url=("../NewMgmtHelp.aspx?id=");
            $('#docViewer').modal('show'); 
  
            $('#dicviewer').attr('src',url);
            <% } else {%>    
             
            
            var url=("../NewHelp.aspx?id=");
            $('#docViewer').modal('show'); 
  
            $('#dicviewer').attr('src',url);
            <% } %>     
                        
            }

            function   openFirsthelp(){   
                
                var url=("../NewHelp.aspx?id=");
    
                $('#docViewer').modal('show'); 
  
                $('#dicviewer').attr('src',url);
            }

            function getwidgets(){
                var k = 0;
                $.ajax({
                    async: true,
                    type: 'GET',
                    url: '/dailyupdateservice.svc/getwidgets?userid=<%= com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID %>',
            content: 'application/json;charset=utf-8',
            processData: true,
            success: function (result)
            {
                //   
                if (result.ComplianceSummary == true) {
                    showDiv1('compliancesummary');
                } else {
                    closeDiv1('compliancesummary');
                }
                if (result.DailyUpdate == true) {
                    showDiv1('dailyupdates');
                } else {
                    closeDiv1('dailyupdates');
                }
                if (result.FunctionSummary == true) {
                    showDiv1('FunctionSummary');
                } else {
                    closeDiv1('FunctionSummary');
                }
                if (result.NewsLetter == true) {
                    showDiv1('newsletter');
                } else {
                    closeDiv1('newsletter');
                }
                if (result.Performer == true) {
                    showDiv1('performersummary');
                } else {
                    closeDiv1('performersummary');
                }
                if (result.PerformerLocation == true) {
                    showDiv1('performerlocation');
                } else {
                    closeDiv1('performerlocation');
                }
                if (result.Reviewer == true) {
                    showDiv1('reviewersummary');
                } else {
                    closeDiv1('reviewersummary');
                }
                if (result.ReviewerLocation == true) {
                    showDiv1('reviewerlocation');
                } else {
                    closeDiv1('reviewerlocation');
                }
                if (result.RiskCriteria == true) {
                } else {
                    closeDiv1('RiskCriteria');
                }
                if (result.PenaltySummary == true) {
                } else {
                    closeDiv1('ContentPlaceHolder1_PenaltyCriteria');
                }
                if (result.EventOwner == true) {
                    showDiv1('eventownersummary');
                } else {
                    closeDiv1('eventownersummary');
                }
                if (result.TaskSummary == true) {
                    showDiv1('performersummarytask');
                } else {
                    closeDiv1('performersummarytask');
                }
                if (result.ReviewerTaskSummary == true) {
                    showDiv1('reviewersummarytask');
                } else {
                    closeDiv1('reviewersummarytask');
                }
                if (result.compliancecalender == true) {
                    showDiv1('ContentPlaceHolder1_ComplianceCalender');
                } else {
                    closeDiv1('ContentPlaceHolder1_ComplianceCalender');
                }
                    
            },
            error: function (e, t) { }
        });
    }
                
    function getmailscnt() {
        var k = 0;
        $.ajax({
            async: true,
            type: 'GET',
            url: '/dailyupdateservice.svc/Mailscnt?userid=<%= com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID %>',
                content: 'application/json;charset=utf-8',
                processData: true,
                success: function (result) {
                            
                    $('#mailcount').html(result);
                },
                error: function (e, t) { }
            });
        }

        //getmailscnt();

        function getmails(){
            var k = 0;
            $.ajax({
                async: true,
                type: 'GET',
                url: '/dailyupdateservice.svc/Mails?userid=<%= com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID %>',
                content: 'application/json;charset=utf-8',
                processData: true,
                success: function (result) {
                           
                    var str='';
                    for(var i=0;i < result.length;i++)
                    {
                        if(result[i].IsRead==true)
                            str+='<li style="background-color:gray;color:white"><a href="../mailsdetails.aspx?id='+result[i].Id+'">'+result[i].Subjecttext+'</a></li>' ;
                        else
                            str+='<li ><a href="../maildetails.aspx?id='+result[i].Id+'">'+result[i].Subjecttext+'</a></li>' ;
                    }
                    if(result.length>0)
                    {
                        str+='<li ><a href="../Emails.aspx">View all</a></li>' ;
                    }
                    $('.maillistclass').html(str);
                },
                error: function (e, t) { }
            });
        }

        $(".topmailbox").click(function () 
        {
            // getmails();
        });
              
        function WhetherIinfo(city) {
            var k = 0;
            $.ajax({
                async: true,
                type: 'Get',
                url: '/dailyupdateservice.svc/GetWhetherInfo?city=' + $('#dCity').html(),
                content: 'application/json;charset=utf-8',
                processData: true,
                success: function (result) {
                    
                    $("#temp").html(parseInt(parseInt(parseInt(((result.main.temp - 273) * 1.8) + 32) -32) *(5/9)) + '<span><sup>o</sup>C</span>');
                    if (result.weather[0].main.toLowerCase() == "clear") {
                        $("#daytype").html("Sunny day");
                        $("#whetherpic").attr("src","../img/icon-sunnyday.png");
                    } else if (result.weather[0].main.toLowerCase() == "haze" || result.weather[0].main.toLowerCase() == "Mist") {
                        $("#daytype").html("Mostly Cloudy");
                        $("#whetherpic").attr("src","../img/cloudy.png");
                    }
                    else if (result.weather[0].main.toLowerCase() == "Sunn") {
                        $("#daytype").html("Mostly Cloudy");
                        $("#whetherpic").attr("src", "../img/icon-sunnyday.png");
                    }

                },
                error: function (e, t) { }
            })
        }
                
        var geocoder2;       

        //Get the latitude and the longitude;
        function successFunction(position) 
        {
            //var lat = position.coords.latitude;
            //var lng = position.coords.longitude;
            //var latlng = new google.maps.LatLng(lat, lng);
            //geocoder2.geocode({ 'latLng': latlng }, function (results, status) {
            //    if (status == google.maps.GeocoderStatus.OK) {
            //        // console.log(results)
            //        if (results[1]) {
            //            //formatted address
            //            for (var i = 0; i < results[0].address_components.length; i++) {
            //                for (var b = 0; b < results[0].address_components[i].types.length; b++) {
            //                    if (results[0].address_components[i].types[b] == "administrative_area_level_2") {
            //                        //this is the object you are looking for
            //                        var city = results[0].address_components[i].long_name;
            //                        $('#dCity').html(city);

            //                        WhetherIinfo();
            //                    }
            //                    if (results[0].address_components[i].types[b] == "country") {
            //                        var country = results[0].address_components[i].long_name;
            //                        $('#dCountry').html(country);
            //                    }
            //                }
            //            }
            
            //        } else {
                 
            //        }
            //    } else {
                 
            //    }
            //});
        }

        function errorFunction() { }; geocoder2 = new google.maps.Geocoder();
               
        // A $( document ).ready() block.
        $(document).ready(function () {                 
            if ($("#Ishome").val() == "false") 
            {
                if($("#sectionContentChildPage")!=null || $("#sectionContentChildPage")!=undefined){
                    $("#sectionContentChildPage").removeClass();
                    $("#sectionContentChildPage").addClass("container");
                }               

                $("#childrow").addClass("Dashboard-white-widget");
                //$("p").addClass("myClass yourClass");
                $('.rev_dr').hide(); 
            }  
        });

        function setactivemenu(id){           
            $('.leftdummy').removeClass("menuactive"); 
            $('#' + id).addClass("menuactive");
        };

    
              
        $(document).tooltip({ selector: '[data-toggle="tooltip"]' });
           
        $('.btn-search').on('click', function() {               
            $(document).tooltip({ selector: '[data-toggle="tooltip"]' });     
        });

        function fhead(val){ 
            $('#pagetype').html(val);                
        }

        //// validation mail 
        function IsValidEmail(email){ 
            var expr = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            return expr.test(email);
        };

        function validateticket(){                                    
            var message =$('#ticketmessage').val();
            var Subject = $('#ticketsubject').val();
            var tickettype= $('#issues').val();
            var emailsvalid=true;                                                          
            if (Subject == "" || Subject.toLowerCase() == "subject")
            {
                $('#ticketsubject').closest('div').css('border-bottom-color','#FF0000');
                return false;
            }
            else
            {
                $('#ticketsubject').closest('div').css('border-bottom-color','#eeeeee');
            }

            if (tickettype == "0")
            {
                $('#issues').closest('div').css('border-bottom-color','#FF0000');
                return false;
            }
            else
            {
                $('#issues').closest('div').css('border-bottom-color','#eeeeee');
            }
                   
            return true;
        };

        function validateemail(){
                   
            var Email =$('#txttomail').val();
            var Subject = $('#txtsub').val();
            var emailsvalid=true;
            if (Email == "" || Email.toLowerCase() == "to")
            {
                $('#txttomail').closest('div').css('border-bottom-color','#FF0000');                     
                return false;
            }
            else
            { 
                var emailarray=Email.split(',');
                for(var i=0;i<emailarray.length;i++)
                {
                    if(!IsValidEmail(emailarray[i]))
                    {
                        emailsvalid=false;
                    }
                }
                if(!emailsvalid)
                {
                    $('#txttomail').closest('div').css('border-bottom-color','#FF0000');
                }else
                {
                    $('#txttomail').closest('div').css('border-bottom-color','#eeeeee');
                }                                                             
                if (Subject == "" || Subject.toLowerCase() == "subject")
                {
                    $('#txtsub').closest('div').css('border-bottom-color','#FF0000');
                    return false;
                }else
                {
                    $('#txtsub').closest('div').css('border-bottom-color','#eeeeee');
                }
                   
                return true;
            }
        };
          
        function GetUnreadNotifications() {

            var k = 0;
            $.ajax({
                async: true,
                type: 'GET',
                url: '/dailyupdateservice.svc/NotificationMail?userid=<%= com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.UserID %>',
                content: 'application/json;charset=utf-8',
                processData: true,
                success: function (result) {                            
                    $('#Notecount').html(result);
                },
                error: function (e, t) { }
            });
        }

        //GetUnreadNotifications();

        function fred(obj)
        {            // 
            document.location.href= $(obj).attr('data-ref');
        } 
        
        $('.btn-minimize').click(function () { 
            var s1=$(this).find('i');
            if($(this).hasClass('collapsed')){
                $(s1).removeClass('fa-chevron-down');
                $(s1).addClass('fa-chevron-up');  
            }else
            {
                $(s1).removeClass('fa-chevron-up');
                $(s1).addClass('fa-chevron-down');
            }
        });

        function btnminimize(obj) { 
            var s1=$(obj).find('i');
            if($(obj).hasClass('collapsed')){
       
                $(s1).removeClass('fa-chevron-up');
                $(s1).addClass('fa-chevron-down');
            }else
            {
                $(s1).removeClass('fa-chevron-down');
                $(s1).addClass('fa-chevron-up');
            }
        }

        function initializeJQueryUI(textBoxID, divID) {  
            $("#" + textBoxID).unbind('click');

            $("#" + textBoxID).click(function () {
                $("#" + divID).toggle("blind", null, 500, function () { });
            });
        }
        </script>



        <script type="text/javascript">
            $('.close').on('hidden.bs.modal', function () {
                callPlayer('yt-player', 'stopVideo');
            });

            $(document).ready(function () {
                setInterval(function () { fcallpage(); }, 5000);
            });
            function fcallpage() {
                $.ajax({
                    url: "../blank.aspx", success: function (result) {
                    }
                });
            }
        </script>

        <asp:HiddenField ID="hfID" runat="server" />
        <asp:HiddenField ID="Ishome" runat="server" Value="false" />
        <asp:HiddenField ID="hdnProfileID" runat="server" Value="false" />
        <asp:HiddenField ID="hdnAuthKey" runat="server" Value="false" />
    </form>
</body>
</html>
