﻿<!DOCTYPE html>
<html>
<head>

    <link href="~/select2/select2.min.css" rel="stylesheet" />
    <link href="~/content/bootstrap.css" rel="stylesheet" />
    <link href="~/content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.common.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.rtl.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.silver.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="~/content/datepicker3.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../Newjs/jquery-1.12.4.min.js"></script>
    <script src="~/masters/bootstrap.min.js"></script>
    <script src="~/select2/select2.min.js"></script>
    <script src="~/select2/select2.full.js"></script>
    <script src="~/scripts/anjular(1.5.0).min.js"></script>
    <script src="~/masters/angular.js"></script>
    <script src="~/scripts/angular.js"></script>
    <script src="~/scripts/angular.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/scripts/date.js"></script>
    <script src="~/masters/dirpagination.js"></script>
    <script type="text/javascript" src="../../Newjs/kendo.all.min.js"></script>
    <script type="text/javascript" src="../../Newjs/jszip.min.js"></script>

    <style type="text/css">

        .select2-container--default .select2-selection--multiple:before {
            content: ' ';
            display: block;
            position: absolute;
            border-color: #888 transparent transparent transparent;
            border-style: solid;
            border-width: 5px 4px 0 4px;
            height: 0;
            right: 6px;
            margin-left: -4px;
            margin-top: -2px;
            top: 50%;
            width: 0;
            cursor: pointer;
        }

        .select2-container--open .select2-selection--multiple:before {
            content: ' ';
            display: block;
            position: absolute;
            border-color: transparent transparent #888 transparent;
            border-width: 0 4px 5px 4px;
            height: 0;
            right: 6px;
            margin-left: -4px;
            margin-top: -2px;
            top: 50%;
            width: 0;
            cursor: pointer;
        }

        .div.k-grid-footer, div.k-grid-header {
            border-top-style: solid;
            border-top-width: 1px;
        }

        .k-grid-content {
            min-height: 394px !important;
        }

        html {
            color: #666666;
            font-size: 15px;
            font-weight: normal;
            font-family: 'Roboto',sans-serif;
        }

        .k-checkbox-label, .k-radio-label {
            display: inline;
        }

        .myKendoCustomClass {
            z-index: 999 !important;
        }

        .k-header .k-grid-toolbar {
            background: white;
            float: left;
            width: 100%;
        }

        .k-grid td {
            line-height: 1.0em;
        }

        .k-i-more-vertical:before {
            content: "\e006";
        }

        .k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
            background-color: #1fd9e1;
            background-image: none;
        }

        k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
            color: #000000;
            border-color: #1fd9e1;
            background-color: #f6f6f6;
        }

        #grid .k-grid-toolbar {
            background: white;
        }


        .k-pager-wrap > .k-link > .k-icon {
            margin-top: 0px;
            color: inherit;
        }

        .toolbar {
            float: left;
        }

        html .k-grid tr:hover {
            background: #E4F7FB;
        }

        html .k-grid tr.k-alt:hover {
            background: #E4F7FB;
            min-height: 30px;
        }

        .k-grid tbody .k-button {
            min-width: 30px;
            min-height: 30px;
            border-radius: 35px;
        }

        .k-button-icontext .k-icon, .k-button-icontext .k-image, .k-button-icontext .k-sprite {
            margin-right: 0px;
            margin-right: 0px;
            margin-left: 0px;
            margin-left: 0px;
        }

        .k-auto-scrollable {
            overflow: hidden;
        }

        .k-grid-header {
            padding-right: 0px !important;
        }

        .k-multicheck-wrap .k-item {
            line-height: 1.2em;
            font-size: 14px;
            margin-bottom: 5px;
        }

        label {
            display: inline-block;
            margin-bottom: 0px;
        }

        .k-filter-menu .k-button {
            width: 27%;
        }

        .k-label input[type="checkbox"] {
            margin: 0px 5px 0 !important;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            font-size: 15px;
            background: #f8f8f8;
            font-family: 'Roboto',sans-serif;
            color: #2b2b2b;
            font-weight: 400;
        }

        .k-primary {
            border-color: #1fd9e1;
            background-color: #1fd9e1;
        }

        .k-pager-wrap {
            background-color: #f8f8f8;
            color: #2b2b2b;
        }

        td.k-command-cell {
            border-width: 0 1px 0 1px;
        }

        .k-grid-pager {
            border-width: 1px 1px 1px 1px;
        }

        span.k-icon.k-i-calendar {
            margin-top: 6px;
        }

        .col-md-2 {
            width: 20%;
        }

        .k-filter-row > th:first-child, .k-grid tbody td:first-child, .k-grid tfoot td:first-child, .k-grid-header th.k-header:first-child {
            border-left-width: 1px;
            line-height: 14px;
        }

        .k-grid tbody tr {
            height: 38px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#Startdatepicker").kendoDatePicker({
                format: "dd-MMM-yyyy",
                change: FilterAll
            });
            $("#Lastdatepicker").kendoDatePicker({

                format: "dd-MMM-yyyy",
                change: FilterAll
            });
            var record = 0;
        });

        function onChange() {           
            FilterAll();
        }
        function BindStatus() {
            $("#dropdownStatus").kendoDropDownList({
                autoClose: true,
                autoWidth: true,                
                optionLabel: "Select Status",
                dataTextField: "StatusType",
                dataValueField: "StatusType",
                change: function (e) {
                    FilterAll();
                },
                dataSource:
                    {
                        severFiltering: true,
                        transport: {
                            read: '../sales/getAllStatus'
                        },                     
                    }
            });
        }
        
        function BindCustomer() {

            $("#dropdownCustomerName").kendoDropDownList({
                autoClose: true,
                autoWidth: true,              
                optionLabel: "Select Customer",
                dataTextField: "Name",
                dataValueField: "Name",
                change: function (e) {
                    FilterAll();
                },
                dataSource:
                    {
                        severFiltering: true,
                        transport: {
                            read: '../sales/getAllCustomer'
                        },                        
                    }

            });
        }
        function FilterAll() {
            if (($("#dropdownStatus").data("kendoDropDownList").value() != 0 && $("#dropdownStatus").data("kendoDropDownList").value() != -1 && $("#dropdownStatus").data("kendoDropDownList").value() != "") ||
            ($("#dropdownCustomerName").val() != 0 && $("#dropdownCustomerName").val() != -1 && $("#dropdownCustomerName").val() != "") ||
            ($("#Startdatepicker").val() != null && $("#Startdatepicker").val() != "") ||
            ($("#Lastdatepicker").val() != null && $("#Lastdatepicker").val() != "")
            ) {
                var finalSelectedfilter = { logic: "and", filters: [] };               
                if ($("#dropdownStatus").data("kendoDropDownList").value() != 0 && $("#dropdownStatus").data("kendoDropDownList").value() != -1 && $("#dropdownStatus").data("kendoDropDownList").value() != "") {
                    var FYFilter = { logic: "or", filters: [] };
                    FYFilter.filters.push({
                        field: "FilterStatus", operator: "eq", value: $("#dropdownStatus").data("kendoDropDownList").value()
                    });
                    finalSelectedfilter.filters.push(FYFilter);
                }
                if ($("#dropdownCustomerName").val() != 0 && $("#dropdownCustomerName").val() != -1 && $("#dropdownCustomerName").val() != "") {
                    var FYFilter = { logic: "or", filters: [] };
                    FYFilter.filters.push({
                        field: "CustomerName", operator: "eq", value: $("#dropdownCustomerName").val()
                    });
                    finalSelectedfilter.filters.push(FYFilter);
                }
                if ($("#Startdatepicker").val() != null && $("#Startdatepicker").val() != "") {
                    var DateFilter = { logic: "or", filters: [] };
                    DateFilter.filters.push({
                        field: "TransactionDate", operator: "gte", value: kendo.parseDate($("#Startdatepicker").val(), 'dd-MMM-yyyy')
                    });
                    finalSelectedfilter.filters.push(DateFilter);
                }
                if ($("#Lastdatepicker").val() != null && $("#Lastdatepicker").val() != "") {
                    var DateFilter = { logic: "or", filters: [] };
                    DateFilter.filters.push({
                        field: "TransactionDate", operator: "lte", value: kendo.parseDate($("#Lastdatepicker").val(), 'dd-MMM-yyyy')
                    });
                    finalSelectedfilter.filters.push(DateFilter);
                }
                if (finalSelectedfilter.filters.length > 0) {
                    var dataSource = $("#grid").data("kendoGrid").dataSource;
                    dataSource.filter(finalSelectedfilter);
                }
                else {
                    $("#grid").data("kendoGrid").dataSource.filter({});
                }
            }
            else {
                $("#grid").data("kendoGrid").dataSource.filter({});
            }

            //if (($("#dropdownStatus").val() != 0 && $("#dropdownStatus").val() != -1 && $("#dropdownStatus").val() != "") ||
            //    ($("#dropdownCustomerName").val() != 0 && $("#dropdownCustomerName").val() != -1 && $("#dropdownCustomerName").val() != "") ||
            //    ($("#Startdatepicker").val() != null && $("#Startdatepicker").val() != "") ||
            //    ($("#Lastdatepicker").val() != null && $("#Lastdatepicker").val() != "")
            //    ) {
            //    var finalSelectedfilter = { logic: "and", filters: [] };            
            //    if ($("#dropdownStatus").val() != 0 && $("#dropdownStatus").val() != -1 && $("#dropdownStatus").val() != "") {
            //        var FYFilter = { logic: "or", filters: [] };
            //        FYFilter.filters.push({
            //            field: "FilterStatus", operator: "eq", value: $("#dropdownStatus").val()
            //        });
            //        finalSelectedfilter.filters.push(FYFilter);
            //    }
            //    if ($("#dropdownCustomerName").val() != 0 && $("#dropdownCustomerName").val() != -1 && $("#dropdownCustomerName").val() != "") {
            //        var FYFilter = { logic: "or", filters: [] };
            //        FYFilter.filters.push({
            //            field: "CustomerName", operator: "eq", value: $("#dropdownCustomerName").val()
            //        });
            //        finalSelectedfilter.filters.push(FYFilter);
            //    }
            //    if ($("#Startdatepicker").val() != null && $("#Startdatepicker").val() != "") {
            //        var DateFilter = { logic: "or", filters: [] };
            //        DateFilter.filters.push({
            //            field: "TransactionDate", operator: "gte", value: kendo.parseDate($("#Startdatepicker").val(), 'dd-MMM-yyyy')
            //        });
            //        finalSelectedfilter.filters.push(DateFilter);
            //    }
            //    if ($("#Lastdatepicker").val() != null && $("#Lastdatepicker").val() != "") {
            //        var DateFilter = { logic: "or", filters: [] };
            //        DateFilter.filters.push({
            //            field: "TransactionDate", operator: "lte", value: kendo.parseDate($("#Lastdatepicker").val(), 'dd-MMM-yyyy')
            //        });
            //        finalSelectedfilter.filters.push(DateFilter);
            //    }
            //    if (finalSelectedfilter.filters.length > 0) {
            //        var dataSource = $("#grid").data("kendoGrid").dataSource;
            //        dataSource.filter(finalSelectedfilter);
            //    }
            //    else {
            //        $("#grid").data("kendoGrid").dataSource.filter({});
            //    }
            //}
            //else {
            //    $("#grid").data("kendoGrid").dataSource.filter({});
            //}
        }
      
        var app=angular.module("KendoDemos", ['angularUtils.directives.dirPagination',"kendo.directives" ]);
        angular.element(document).ready(function () {
            //angular.bootstrap(document, ["app"]);
        })
      
        app.directive("select2", function ($timeout, $parse) {
            return {
                restrict// Code goes here
            : 'AC',
                require: 'ngModel',
                link: function (scope, element, attrs) {
                    console.log(attrs);
                    $timeout(function () {
                        element.select2();
                        element.select2Initialized = true;
                    });

                    var refreshSelect = function () {
                        if (!element.select2Initialized) return;
                        $timeout(function () {
                            element.trigger('change');
                        });
                    };

                    var recreateSelect = function () {
                        if (!element.select2Initialized) return;
                        $timeout(function () {
                            element.select2('destroy');
                            element.select2();
                        });
                    };

                    scope.$watch(attrs.ngModel, refreshSelect);

                    if (attrs.ngOptions) {
                        var list = attrs.ngOptions.match(/ in ([^ ]*)/)[1];
                        // watch for option list change
                        scope.$watch(list, recreateSelect);
                    }

                    if (attrs.ngDisabled) {
                        scope.$watch(attrs.ngDisabled, refreshSelect);
                    }
                }
            };
        });
        app.controller("MyCtrl", function ($scope, $http, $timeout, $window, $filter) {            
            function ConvertJsonDateToDateTime1(date) {
                const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                var parsedDate = new Date(parseInt(date.substr(6)));
                var tzoffset = (new Date(parsedDate)).getTimezoneOffset() * 60000;
                var localISOTime = (new Date(parsedDate - tzoffset)).toISOString().substring(0, 10).replace('T', ' ');
                var currentTime = new Date(parseInt(date.substr(6)));
                var month = currentTime.getMonth();
                var monthname = monthNames[month]
                var day = ("0" + (currentTime.getDate())).slice(-2);
                var year = currentTime.getFullYear();
                var date = day + "-" + monthname + "-" + year;
                return date;
            }            
            BindStatus();
            $("#dropdownStatus").data("kendoDropDownList").value('Pending for Approval');
            BindCustomer();
            Bindgrid();            
            FilterAll();           
            function Bindgrid() {
                var grid = $('#grid').data("kendoGrid");
                if (grid != undefined || grid != null)
                    $('#grid').empty();
                var grid = $("#grid").kendoGrid({
                    dataSource: {
                        transport: {
                            read: '../ManagerApprovel/getAllExapanses'
                        },
                        pageSize: 10

                    },
                    excel: {
                        allPages: true,
                    },
                    noRecords: true,
                    messages: {
                        noRecords: "No records found"
                    },
                    sortable: true,
                    groupable: true,
                    filterable: true,
                    columnMenu: true,
                    pageable: true,
                    reorderable: true,
                    resizable: true,
                    multi: true,
                    selectable: true,
                    dataBinding: function () {
                        record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
                        if (this.ReminderStatus == 0) { template: "#=pending" }
                    },
                    dataBound: OnGridDataBoundAdvanced,
                    columns: [
                        {
                            title: "Sr",
                            template: "#= ++record #",
                            width: "58px",
                        },
                {
                    field: "TransactionSerial", title: 'Statement No.',
                    attributes: {
                        style: 'white-space: nowrap;'

                    }, filterable: {
                        extra: false,
                        operators: {
                            string: {
                                eq: "Is equal to",
                                neq: "Is not equal to",
                                contains: "Contains"
                            }
                        }
                    }
                },
                {
                    field: "TransactionDate", title: 'Date',
                    type: "date",
                    format: "{0:dd-MMM-yyyy}"
                },

                   {
                       field: "IsRecoverable", title: 'Recoverable/Not',
                       attributes: {
                           style: 'white-space: nowrap;'

                       }, filterable: {
                           extra: false,
                           operators: {
                               string: {
                                   eq: "Is equal to",
                                   neq: "Is not equal to",
                                   contains: "Contains"
                               }
                           }
                       }
                   },
                    {
                        field: "CustomerName", title: 'Customer Name',
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            extra: false,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "TotalExpense", title: 'Total Expense',
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            extra: false,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "ApprovedExpense", title: 'Approved Expense',
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            extra: false,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },
                    {
                        field: "FilterStatus", title: 'Status',
                        attributes: {
                            style: 'white-space: nowrap;'

                        }, filterable: {
                            extra: false,
                            operators: {
                                string: {
                                    eq: "Is equal to",
                                    neq: "Is not equal to",
                                    contains: "Contains"
                                }
                            }
                        }
                    },

                    {
                        command: [
                            { name: "edit", text: "", iconClass: "k-icon k-i-hyperlink-open", className: "ob-edit" },
                            //{ name: "edit1", text: "", iconClass: "k-icon k-i-delete k-i-trash", className: "ob-deleteuser" },
                            { name: "download", text: "", iconClass: "k-icon k-i-download", className: "ob-download" },
                            { name: "view", text: "", iconClass: "k-icon k-i-eye", className: "ob-view" }
                        ], title: "Action", lock: true, width: "15%;",// width: 150,
                    }
                    ]
                });

                $("#grid").kendoTooltip({
                    filter: "td:nth-child(2)", //this filter selects the second column's cells
                    position: "down",
                    content: function (e) {
                        var content = e.target.context.textContent;
                        return content;
                    }
                }).data("kendoTooltip");

                $("#grid").kendoTooltip({
                    filter: "td:nth-child(3)", //this filter selects the second column's cells
                    position: "down",
                    content: function (e) {
                        var content = e.target.context.textContent;
                        return content;
                    }
                }).data("kendoTooltip");

                $("#grid").kendoTooltip({
                    filter: ".k-grid-edit",
                    content: function (e) {
                        return "Edit";
                    }
                });

                $("#grid").kendoTooltip({
                    filter: ".k-grid-edit1",
                    content: function (e) {
                        return "Delete";
                    }
                });

                $("#grid").kendoTooltip({
                    filter: ".k-grid-view",
                    content: function (e) {
                        return "View";
                    }
                });
            }

            function OnGridDataBoundAdvanced(e) {
                var grid = $("#grid").data("kendoGrid");
                var gridData = grid.dataSource.view();
                for (var i = 0; i < gridData.length; i++) {
                    var currentUid = gridData[i].uid;
                    if (gridData[i].Status == "Pending for Approval") {

                    }
                    else {
                        var currentRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                        var createUserButton = $(currentRow).find(".ob-edit");
                        createUserButton.hide();

                        //var createUserButton1 = $(currentRow).find(".ob-deleteuser");
                        //createUserButton1.hide();
                    }
                }
            }
            //Edit Expanse  Deatais
            $(document).on("click", "#grid tbody tr .ob-edit", function (e) {
                $('#popup').modal('show');
                $scope.DisplayForm = true;
                $scope.addplus = false;
                $scope.addminus = true;
                $scope.editminus = false;
                $scope.tables = true;
                $scope.userForm.$setPristine();
                var item = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
                $('#popup').modal('show');
                $scope.DisplayForm = true;
                $scope.addplus = false;
                $scope.addminus = true;
                $scope.editminus = false;
                $scope.tables = true;
                //$scope.IsSelectedOrder1 = true;
                $scope.IsCommentcompulsoryonRow = true;
                $scope.userForm.$setPristine();

                $.post("../managerapprovel/getAllmanagerApprovels1/", { tId: item.TransactionID }, function (r) {
                    $scope.approvals = [];
                    for (var i = 0; i < r.length; i++) {                        
                        var app = {};
                        if (r[i].ApprovallevelID == r[i].EmpID) {
                            app.IsSelectedOrder1 = true;
                            
                        } else {                          
                            app.IsSelectedOrder1 = false;                           
                        }
                        app.SalesExpensesTransactionID = r[i].TransactionID;
                        app.TransactionDate = ConvertJsonDateToDateTime1(r[i].TransactionDate);
                        app.TranscationDetailDate = ConvertJsonDateToDateTime1(r[i].TranscationDetailDate);
                        app.EmpID = r[i].EmpID;
                        app.TransactionID = r[i].TransactionID;
                        app.ExpenseType = r[i].ExpenseType;
                        app.Expenses = r[i].Expenses;
                        app.Customer = r[i].Customer;
                        app.Amount = r[i].Amount;
                        app.FileName = r[i].FileName;
                        app.Remark = r[i].Remark;
                        app.EmpName = r[i].EmpName;
                        app.TransactionSerial = r[i].TransactionSerial;
                        app.ApprovallevelID = r[i].ApprovallevelID;
                        app.DocumentTransactionID = r[i].DocumentTransactionID;
                        app.TransactionDetailID = r[i].TransactionDetailID;
                        app.SalesExpensesTransactionDetailID = r[i].TransactionDetailID;
                        app.ApprovalFlag = r[i].Flag;
                        $scope.approvals.push(app);
                    }
                    $scope.$apply();
                });
                $scope.Action = "Save";
            });

            //download file based upon DocumentTransactionID
            $(document).on("click", "#grid tbody tr .ob-download", function (e) {
                var item = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
                $('#downloadfile').attr('src', '../Common/DownloadMyDocument.aspx?InstanceID=' + item.TransactionID);
                //$('#downloadfile').attr('src', '/Common/DownloadMyDocument.aspx?InstanceID=' + item.DocumentTransactionID);

                e.preventDefault();
                return false;
            });

            //View file based upon DocumentTransactionID
            $(document).on("click", "#grid tbody tr .ob-view", function (e) {
                var item = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
                $('#divViewDocument').modal('show');
                $('.modal-dialog').css('width', '90%');
                //$('#OverViews').attr('src', '/Common/DocumentOverview.aspx?InstanceID=' + item.DocumentTransactionID);
                $('#OverViews').attr('src', '../Common/DocumentOverview.aspx?InstanceID=' + item.TransactionID);
                e.preventDefault();
                return false;
            });

            $scope.form = false;
            $scope.form1 = false;
            $scope.editminus = false;
            $scope.tabs = false;
            $scope.addplus = true;
            $scope.addminus = false;
            $scope.tables = false;
            $scope.ShowLoader = false;
            GetStatus();
            $scope.dateOptions1 = {
                changeYear: true,
                changeMonth: true,
                yearRange: '1900:-0',
            };

            function GetStatus() {
                $scope.statuses = [];
                $http({
                    method: 'Get',
                    url: '../managerapprovel/GetStatus',
                }).then(function (response) {
                    $scope.statuses = response.data;
                }), function (error) {
                    $scope.message = 'Unexpected Error';
                };
            }            
            $scope.IsExist = false;
            $scope.IsDurationExist = false;
            var currentDate = new Date();
            var newDate = new Date(currentDate.setDate(currentDate.getDate() - 1));
            $scope.approvals = [];
            $scope.sort = function (keyname) {
                $scope.sortKey = keyname;
                $scope.reverse = !$scope.reverse;
            }
            //Add new records
            $scope.Addapproval = function () {
                $scope.approvals = [];
                $scope.DisplayForm = true;
                $scope.addplus = false;
                $scope.addminus = true;
                $scope.editminus = false;
                $scope.tables = true;
                $scope.userForm.$setPristine();
                clearFields();
                //  $scope.Action = "Reject";

            }
            //download file based upon DocumentTransactionID
            $scope.Download = function (approval) {
                //$('#downloadfile').attr('src', '/Common/DownloadMyDocument.aspx?InstanceID=' + approval.DocumentTransactionID);
                $('#downloadfile').attr('src', '../Common/DownloadMyDocument.aspx?InstanceID=' + approval.TransactionID);
            };
            //Preview file based upon DocumentTransactionID
            $scope.Preview = function (approval) {
                $('#divViewDocument').modal('show');
                $('.modal-dialog').css('width', '90%');
                //$('#OverViews').attr('src', '/Common/DocumentOverview.aspx?InstanceID=' + approval.DocumentTransactionID);
                $('#OverViews').attr('src', '../Common/DocumentOverview.aspx?InstanceID=' + approval.TransactionID);
            };

          
            //save or update code  to database approve

            $scope.ApproveNew = function (isValid, approval) {                              
                if (isValid) {
                    $scope.userForm.$setPristine();
                    var entry = {};
                    var details = new Array();
                    var detail = {};

                    detail.TransactionDetailID = approval.TransactionDetailID;
                    detail.SalesExpensesTransactionID = approval.SalesExpensesTransactionID;
                    detail.SalesExpensesTransactionDetailID = approval.SalesExpensesTransactionDetailID;
                    detail.ApprovalFlag = approval.ApprovalFlag;
                    detail.TransactionDate = approval.TransactionDate;
                    detail.ApprovallevelID = approval.ApprovallevelID;
                    detail.ActionTypeID = 1;
                    detail.Comments = approval.Comments;
                    detail.TransactionID = approval.TransactionID;
                    details.push(detail);                  
                    entry.Approvals = details;

                    $http({
                        method: "post",
                        url: "../managerapprovel/SaveApprovals",
                        dataType: 'json',
                        headers: { "Content-Type": "application/json" },
                        data: '{TimeSheets: ' + JSON.stringify(entry) + '}'
                    }).then(function (response) {
                        $scope.msg = response.data;
                        if (response.data == "Approval has been Processed Successfully!") {
                            $scope.tabs = false;
                            $scope.adtabls = false;
                            $scope.form = false;
                            $scope.form1 = false;
                            $scope.DisplayForm = false;
                            $scope.addplus = true;
                            $scope.addminus = false;
                            $scope.editminus = false;
                            $scope.DeleteAlert = false;
                            $scope.AddAlert = true;
                            $scope.EditAlert = false;
                            approval.IsCommentcompulsoryonRow = false;
                            approval.IsSelectedOrder1 = false;                            
                        }
                        else {
                            $scope.tabs = true;
                        }

                    }), function (error) {
                        $scope.Message = error.Message;
                    }
                }
                else {
                    // Show error Message if Form not valid.
                    if ($scope.userForm.$error.required != undefined) {
                        for (var i = 0; i < $scope.userForm.$error.required.length; i++) {
                            $scope.userForm.$error.required[i].$pristine = false;
                        }
                    }
                }
            };
            $scope.Approve = function (isValid) {                
                $scope.IsValid = false;
                if (isValid) {
                    $scope.userForm.$setPristine();
                    var entry = {};
                    var details = new Array();
                    for (var i = 0; i < $scope.approvals.length; i++) {                        
                        if ($scope.approvals[i].Selected) {
                            $scope.IsValid = true;
                            var detail = {};
                            detail.TransactionDetailID = $scope.approvals[i].TransactionDetailID;
                            detail.SalesExpensesTransactionID = $scope.approvals[i].SalesExpensesTransactionID;
                            detail.SalesExpensesTransactionDetailID = $scope.approvals[i].TransactionDetailID;
                            detail.ApprovalFlag = $scope.approvals[i].ApprovalFlag;
                            detail.TransactionDate = $scope.approvals[i].TransactionDate;

                            detail.ApprovallevelID = $scope.approvals[i].ApprovallevelID;
                            detail.ActionTypeID = 1;
                            detail.Comments = $scope.approvals[i].Comments;
                            detail.TransactionID = $scope.approvals[i].TransactionID;
                            details.push(detail);

                        }
                        else {
                        }
                    }

                    entry.Approvals = details;
                    $http({
                        method: "post",
                        url: "../managerapprovel/SaveApprovals",
                        dataType: 'json',
                        headers: { "Content-Type": "application/json" },
                        data: '{TimeSheets: ' + JSON.stringify(entry) + '}'
                    }).then(function (response) {
                        $scope.msg = response.data;
                        if (response.data == "Approval has been Processed Successfully!") {
                            $scope.tabs = false;
                            $scope.adtabls = false;
                            $scope.form = false;
                            $scope.form1 = false;
                            $scope.DisplayForm = false;
                            $scope.addplus = true;
                            $scope.addminus = false;
                            $scope.editminus = false;
                            $scope.DeleteAlert = false;
                            $scope.AddAlert = true;
                            $scope.EditAlert = false;
                            Bindgrid();
                            clearFields();
                            angular.element('#popup').modal('hide');
                        }
                        else {
                            $scope.tabs = true;
                        }

                    }), function (error) {
                        $scope.Message = error.Message;
                    }
                }
                else {
                    // Show error Message if Form not valid.
                    if ($scope.userForm.$error.required != undefined) {
                        for (var i = 0; i < $scope.userForm.$error.required.length; i++) {
                            $scope.userForm.$error.required[i].$pristine = false;
                        }
                    }
                }
            };
           
            //save data reject

            $scope.RejectNew = function (isValid, approval) {              
                if (isValid) {
                    if (approval.Comments == "" || approval.Comments == undefined) {
                        approval.IsCommentcompulsoryonRow = true;
                        $scope.IsRemarkValid = false;
                    } else {
                        approval.IsCommentcompulsoryonRow = false;
                        $scope.IsRemarkValid = true;
                    }
                    $scope.userForm.$setPristine();
                    if ($scope.IsRemarkValid) {
                       
                        var entry = {};
                        var details = new Array();
                    
                        var detail = {};
                        detail.TransactionDetailID = approval.TransactionDetailID;
                        detail.SalesExpensesTransactionID = approval.SalesExpensesTransactionID;
                        detail.SalesExpensesTransactionDetailID = approval.SalesExpensesTransactionDetailID;
                        detail.ApprovalFlag = approval.ApprovalFlag;
                        detail.TransactionDate = approval.TransactionDate;
                        detail.ApprovallevelID = approval.ApprovallevelID;
                        detail.ActionTypeID = 2;
                        detail.Comments = approval.Comments;
                        detail.TransactionID = approval.TransactionID;
                        details.push(detail);

                        //}

                        entry.Approvals = details;
                        $http({
                            method: "post",
                            url: "../managerapprovel/SaveApprovals",
                            dataType: 'json',
                            headers: { "Content-Type": "application/json" },
                            data: '{TimeSheets: ' + JSON.stringify(entry) + '}'
                        }).then(function (response) {
                            $scope.msg = response.data;

                            if (response.data == "Rejection has been Processed Successfully!") {
                                $scope.tabs = false;
                                $scope.adtabls = false;
                                $scope.form = false;
                                $scope.form1 = false;
                                $scope.DisplayForm = false;
                                $scope.addplus = true;
                                $scope.addminus = false;
                                $scope.editminus = false;
                                $scope.DeleteAlert = false;
                                $scope.AddAlert = true;
                                $scope.EditAlert = false;                                
                                approval.IsSelectedOrder1 = false;
                                approval.IsCommentcompulsoryonRow = false;

                                //Bindgrid();
                                //clearFields();
                                //angular.element('#popup').modal('hide');
                            }
                            else {
                                $scope.tabs = true;
                            }

                        }), function (error) {
                            $scope.Message = error.Message;
                        }
                    }
                }
                else {
                    // Show error Message if Form not valid.
                    if ($scope.userForm.$error.required != undefined) {
                        for (var i = 0; i < $scope.userForm.$error.required.length; i++) {
                            $scope.userForm.$error.required[i].$pristine = false;
                        }
                    }
                }
            };
            $scope.Reject = function (isValid) {
                
                $scope.IsValid = false;
                if (isValid) {

                    for (var i = 0; i < $scope.approvals.length; i++) {
                        
                        if ($scope.approvals[i].Comments == "" || $scope.approvals[i].Comments == undefined) {                            
                            $scope.IsRemarkValid = false;
                            break;
                        } else {                            
                            $scope.IsRemarkValid = true;
                        }
                    }
                    for (var i = 0; i < $scope.approvals.length; i++) {
                        
                        if ($scope.approvals[i].Selected) {
                            $scope.IsValid = true;
                        }
                        else {
                            $scope.IsValid = false;
                        }
                    }

                    $scope.userForm.$setPristine();
                    if ($scope.IsRemarkValid) {
                        
                        var entry = {};
                        var details = new Array();
                        for (var i = 0; i < $scope.approvals.length; i++) {
                            
                            if ($scope.approvals[i].Selected) {
                                $scope.IsValid = true;
                                var detail = {};
                                detail.TransactionDetailID = $scope.approvals[i].TransactionDetailID;
                                detail.SalesExpensesTransactionID = $scope.approvals[i].SalesExpensesTransactionID;
                                detail.SalesExpensesTransactionDetailID = $scope.approvals[i].TransactionDetailID;
                                detail.ApprovalFlag = $scope.approvals[i].ApprovalFlag;
                                detail.TransactionDate = $scope.approvals[i].TransactionDate;
                                detail.ApprovallevelID = $scope.approvals[i].ApprovallevelID;
                                detail.ActionTypeID = 2;
                                detail.Comments = $scope.approvals[i].Comments;
                                detail.TransactionID = $scope.approvals[i].TransactionID;
                                details.push(detail);
                            }
                            else {
                            }
                        }

                        entry.Approvals = details;
                        $http({
                            method: "post",
                            url: "../managerapprovel/SaveApprovals",
                            dataType: 'json',
                            headers: { "Content-Type": "application/json" },
                            data: '{TimeSheets: ' + JSON.stringify(entry) + '}'
                        }).then(function (response) {
                            $scope.msg = response.data;

                            if (response.data == "Rejection has been Processed Successfully!") {
                                $scope.tabs = false;
                                $scope.adtabls = false;
                                $scope.form = false;
                                $scope.form1 = false;
                                $scope.DisplayForm = false;
                                $scope.addplus = true;
                                $scope.addminus = false;
                                $scope.editminus = false;
                                $scope.DeleteAlert = false;
                                $scope.AddAlert = true;
                                $scope.EditAlert = false;
                                Bindgrid();
                                clearFields();
                                angular.element('#popup').modal('hide');
                            }
                            else {
                                $scope.tabs = true;
                            }

                        }), function (error) {
                            $scope.Message = error.Message;
                        }
                    }
                }
                else {
                    // Show error Message if Form not valid.
                    if ($scope.userForm.$error.required != undefined) {
                        for (var i = 0; i < $scope.userForm.$error.required.length; i++) {
                            $scope.userForm.$error.required[i].$pristine = false;
                        }
                    }
                }
            };


            //Check uncheck all elements based upon checkbox selection
            $scope.CheckUncheckHeader = function () {                
                $scope.IsAllChecked = false;
                for (var i = 0; i < $scope.approvals.length; i++) {
                    if (!$scope.approvals[i].Selected) {
                        $scope.IsAllChecked = false;
                        break;
                    }
                };
            };
            $scope.CheckUncheckHeader();
            $scope.CheckUncheckAll = function () {
                for (var i = 0; i < $scope.approvals.length; i++) {
                    $scope.approvals[i].Selected = $scope.IsAllChecked;
                }
            };

            //Disable future days in date
            var firstDay1 = (new Date().getMonth() + 1) + "/01/" + new Date().getFullYear();
            $scope.eventdate = firstDay1;
            $scope.MaxDate = new Date();
            //Back Functionality
            $scope.close = function () {
                $scope.DisplayForm = false;
                $scope.tabs = false;
                $scope.adtabls = false;
                $scope.form = false;
                $scope.form1 = false;
                $scope.addminus = false;
                $scope.addplus = true;
                $scope.editminus = false;
                Bindgrid();
                clearFields();
                $scope.DisplayForm = false;
                angular.element('#popup').modal('hide');

                // Reset Error.
                $scope.userForm.$setPristine();
            }
            //cancel Functionality
            $scope.cancel = function () {
                $scope.DisplayForm = false;
                $scope.tabs = false;
                $scope.adtabls = false;
                $scope.form = false;
                $scope.form1 = false;
                $scope.addminus = false;
                $scope.addplus = true;
                $scope.editminus = false;
                clearFields();
                $scope.DisplayForm = false;
                loadPaytypes();
                // Reset Error.
                $scope.userForm.$setPristine();
            }
            //clear Fileds
            function clearFields() {
                //$scope.approvals = [{ Date: new Date() }];
                $scope.userForm.$setPristine();
                $scope.CheckUncheckAll();                
            }

        });

    </script>


</head>
<body>
    <div class="container">
        <div id="example" ng-app="KendoDemos">
            <div ng-controller="MyCtrl">               
                <div style="padding-top:10px"></div>

                <div class="alert alert-danger" ng-show="DeleteAlert" ng-model="delete">
                    <strong>{{delete}}</strong>
                </div>
                <div class="alert alert-success" ng-show="AddAlert" ng-model="add">
                    <strong>{{msg}}</strong>
                </div>
                <div class="alert alert-info" ng-show="EditAlert" ng-model="edit">
                    <strong>{{msg}}</strong>
                </div>
                
                <div class="modal fade" id="popup" data-keyboard="false" data-backdrop="static" style="border:0px;margin-left: 35px;position: absolute;overflow: hidden;padding-top:30px" role="dialog">
                    <div style="width:1250px;" @*ng-show="(attendances).length>0"*@>
                        <div class="modal-content">
                            <div class="modal-header pt-reduced pb-reduced" style="background-color:#6db6ec;">
                                <button type="button" class="close" data-dismiss="modal" ng-click="close()">x</button>
                                <h4 class="modal-title" style="text-align:center;height: 20px;color:white" ng-show="(approvals).length>0"><b>Manager Approval Details</b></h4>
                            </div>
                            <div class="modal-body">
                                <div id="wrapper" class="clearfix" @*ng-show="DisplayForm"*@ scroll-bookmark="bookmark">
                                    <form name="userForm" novalidate ng-show="(approvals).length>0">
                                        <div class="col-md-12">
                                            <div>                                                
                                                <div id="table">
                                                    <div class="table-responsive " style="" scroll-bookmark="bookmark2">
                                                        <table id="tblOrders" cellpadding="12" class="table table-bordered table-hover table-striped" style="margin-left: 0px; margin-right: 20px;">
                                                            <thead style="background-color:#6db6ec;color:white;font-size:12px;">
                                                                <tr>
                                                                    <th align="left" style="display:none;">
                                                                        <label>
                                                                            <input type="checkbox" ng-model="IsAllChecked" ng-change="CheckUncheckAll()" />
                                                                            Select All
                                                                        </label>
                                                                    </th>
                                                                    <th style="cursor: pointer;" ng-click="sort('TransactionSerial')"><b>Statement No.</b><span class="glyphicon sort-icon" ng-show="sortKey=='TransactionSerial'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                                    <th style="cursor: pointer;" ng-click="sort('TranscationDetailDate')"><b>Date</b><span class="glyphicon sort-icon" ng-show="sortKey=='TranscationDetailDate'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                                    <th style="cursor: pointer;" ng-click="sort('EmpName')"><b>Employee Name</b><span class="glyphicon sort-icon" ng-show="sortKey=='EmpName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                                    <th style="cursor: pointer;" ng-click="sort('ExpenseType')"><b>ExpenseType</b><span class="glyphicon sort-icon" ng-show="sortKey=='ExpenseType'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                                    <th ng-click="sort('Customer')"><b>Customer</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Customer'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                                    <th ng-click="sort('Amount')"><b>Amount</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Amount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>                                                                    
                                                                    <th ng-click="sort('Remark')"><b>Expenses Information</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Remark'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>                                                                    
                                                                    <th ng-click="sort('Comments')"><b>Approval Comments</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Comments'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>                                                                    
                                                                    <td>Actions</td>
                                                                </tr>
                                                            </thead>

                                                            <tbody dir-paginate="approval in approvals|orderBy:sortKey:reverse|filter:search|itemsPerPage:10" ng-model="search">
                                                                <tr>
                                                                    <td style="font-size:12px; display:none;">
                                                                        <label for="chkEmployee_{{approval}}" >
                                                                            <input id="chkEmployee_{{approval.SalesExpensesTransactionID}}" type="checkbox" ng-model="approval.Selected" ng-change="CheckUncheckHeader()" />
                                                                            <p style="display:none;">
                                                                                {{approval.SalesExpensesTransactionID}}
                                                                            </p>
                                                                        </label>
                                                                        <input type="hidden" ng-model="approval.SalesExpensesTransactionID" />
                                                                        <input type="hidden" ng-model="approval.EmpID" />
                                                                        <input type="hidden" ng-model="approval.TransactionID" />
                                                                        <input type="hidden" ng-model="approval.ApprovallevelID" />
                                                                        <input type="hidden" ng-model="approval.ApprovalFlag" />
                                                                        <input type="hidden" ng-model="approval.DocumentTransactionID" />
                                                                        {{approval.selected}}
                                                                    </td>
                                                                    <td style="font-size:13px">
                                                                        {{approval.TransactionSerial}}
                                                                    </td>
                                                                    <td style="font-size:12px">
                                                                        {{approval.TranscationDetailDate}}                                                                       
                                                                    </td>

                                                                    <td style="font-size:12px">
                                                                        {{approval.EmpName}}
                                                                    </td>
                                                                    <td style="font-size:12px">
                                                                        {{approval.ExpenseType}}
                                                                    </td>
                                                                    <td style="font-size:12px">
                                                                        {{approval.Customer}}
                                                                    </td>
                                                                    <td style="font-size:12px">
                                                                        {{approval.Amount}}
                                                                    </td>
                                                                  

                                                                    <td style="font-size:12px">
                                                                        <input type="text" class="form-control input-sm" ng-model="approval.Remark" />
                                                                    </td>
                                                                    <td style="font-size:12px"> 
                                                                        <input type="text" class="form-control input-sm" ng-model="approval.Comments" name="remark{{$index}}" />
                                                                        <p style="color: red" ng-show="approval.IsCommentcompulsoryonRow"
                                                                           class="help-block">
                                                                            Remark is Required
                                                                        </p>
                                                                        
                                                                    </td>

                                                                    <td>
                                                                    
                                                                        <button class="btn btn-primary btn-sm"  ng-show="approval.IsSelectedOrder1"  ng-click="ApproveNew(userForm.$valid,approval);Delete()" > @*Save{{Action}}*@ Approve</button>
                                                                        <button class="btn btn-primary btn-sm"  ng-show="approval.IsSelectedOrder1" ng-click="RejectNew(userForm.$valid,approval);Delete()" > @*Save{{Action}}*@ Reject</button>
                                                                        <a class="glyphicon glyphicon-download-alt" ng-click="Download(approval)" href=""></a>
                                                                        @*<div style="display:none;">*@
                                                                            <a class="glyphicon glyphicon-eye-open" ng-click="Preview(approval)" href=""></a>
                                                                        @*</div>*@
                                                                    </td>
                                                            </tbody>

                                                        </table>
                                                        @*<span id="spnError" style="color: red; margin-left:20px;" class="error" ng-hide="IsValid == null || IsValid">Please select at-least one checkbox.</span>
                                                        <br />*@
                                                        <dir-pagination-controls max-size="8"
                                                                                 direction-links="true"
                                                                                 boundary-links="true">
                                                        </dir-pagination-controls>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @*<hr />*@
                                        <div style="display:none;">
                                            <div class="form-group" style="width: 120%; text-align: center; padding: 10px;">
                                                <div class="col-md-offset-2 col-md-5">
                                                    <p>
                                                        <button class="btn btn-primary btn-sm" ng-click="Approve(userForm.$valid);Delete()"> @*Save{{Action}}*@ Approve</button>
                                                        <button class="btn btn-primary btn-sm" ng-click="Reject(userForm.$valid);Delete()"> @*Save{{Action}}*@ Reject</button>                                                        
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="alert alert-info" ng-show="(approvals).length==0" style="color: red;text-align:center; font-weight: bold">No Records Found</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4" style="margin-left:-18px;display:inline-block">
                                <h1 class="modal-title" style="text-align:left;height: 30px;font-size: 16px;"><b>Approval Details</b></h1>
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3"></div>                          
                        </div>
                    </div>
                </form>           
                <div class="row" style="padding-bottom: 10px; margin-left: -4px; padding-top: 2px;">
                    <input id="dropdownStatus" data-placeholder="Status" style="width: 15%;" />
                    <input id="Startdatepicker" placeholder="Start Date" cssclass="clsROWgrid" title="startdatepicker" style="width: 12%;" />
                    <input id="Lastdatepicker" placeholder="End Date" title="enddatepicker" style="width: 12%;" />
                    <input id="dropdownCustomerName" data-placeholder="Status" style="width: 15%;" />
                </div>
                <div class="row" @*style="padding-top: 12px;"*@>
                    <div id="grid" style="margin-left:10px;margin-right:10px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="divViewDocument" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog" style="width: 70%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" style="height: 570px;">
                    <div style="width: 100%;">
                        <div class="col-md-12 colpadding0">
                            <label Style="color: red;"></label>
                            <fieldset style="height: 550px; width: 100%;">
                                <iframe src="about:blank" id="OverViews" width="100%" height="100%" frameborder="0"></iframe>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <iframe id="downloadfile" src="about:blank" width="0" height="0"></iframe>
</body>
</html>





