﻿
@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VM_CircularResolution

<script type="text/javascript">
    function onDataBound(arg) {
        debugger;
        var multiselect = $("#lstAgendas").data("kendoMultiSelect");

        if (multiselect != null || multiselect != undefined) {
            var checkedIds = multiselect.value();

            var grid = $('#gridAgendaList').data().kendoGrid;
            var view = grid.dataSource.view();

            if (checkedIds != null || checkedIds != undefined) {
                if (checkedIds.length > 0) {
                    for (var i = 0; i < checkedIds.length; i++) {
                        var selectedID = checkedIds[i];
                        for (var j = 0; j < view.length; j++) {
                            if (selectedID == view[j].BM_AgendaMasterId) {
                                view[j].IsSelected = true;

                                this.tbody.find("tr[data-uid='" + view[j].uid + "']").find(".chkbx").attr("checked", "checked");
                            }
                        }
                    }
                }
            }
        }
    }

    function OnRefresh() {
        var wnd = $("#wndPopupAgenda").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function AddEditAgenda(e) {
        debugger;
        e.preventDefault();
        OnOpen('a');

        $("#wndPopupAgenda").attr("style", "min-height:100px;");

        var direction = "EditNewMeeting?Id=" + 0;

        if (e.currentTarget.innerText != "New") {
            $("#wndPopupAgenda").kendoWindow({
                title: "Edit-Agenda",
            });

            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            var agendaID = dataItem.BM_AgendaMasterId;
            direction = "@Url.Action("GetAgenda", "AgendaMaster")?id=" + agendaID;

            var wnd = $("#wndPopupAgenda").data("kendoWindow");
            var opts = wnd.options;
        }
        else {
            $("#wndPopupAgenda").kendoWindow({
                title: "Add New-Agenda",
            });

            $("#wndPopupAgenda").attr("style", "min-height:100px;");

            direction = "@Url.Action("GetAgenda", "AgendaMaster", new { id= 0 })";

            var wnd = $("#wndPopupAgenda").data("kendoWindow");
            var opts = wnd.options;
        }

        wnd = $("#wndPopupAgenda").kendoWindow({
            title: "Edit - Meeting",
            actions: ["Pin", "Minimize", "Maximize", "Close"],
            content: direction,
            width: "60%",
            position: {
                top: 100, // or "100px"
            },
            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresh(); },
            close: function (e) {
                $(this.element).empty();
                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {
                OnOpen();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");

        opts.width = "95%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();
    }

    $("#AddAgenda").click(function (e) {
        e.preventDefault();
        AddEditAgenda(e);
    });
</script>

<script>

    function checkGreaterDate() {
        var cDate = $("#CircularDate").data("kendoDatePicker").value();
        var dDate = $("#DueDate").data("kendoDatePicker").value();

        if (cDate != '' && dDate != '' && cDate != null && dDate != null) {
            if (cDate < dDate) {
                return true;
            } else {
                return false;
            }
        }
    }

    function checkDateDifference() {
        debugger;
        var cDate = $("#CircularDate").data("kendoDatePicker").value();
        var dDate = $("#DueDate").data("kendoDatePicker").value();

        if (cDate != '' && dDate != '') {
            var diff = Math.round((dDate - cDate) / 1000 / 60 / 60 / 24);
            if (diff > 0 && diff <= 7) {
                return true;
            } else {
                return false;
            }
        }
    }

    //function startChange() {
    //    debugger;
    //    var endPicker = $("#DueDate").data("kendoDatePicker"),
    //        startDate = this.value();

    //    if (startDate) {
    //        startDate = new Date(startDate);
    //        startDate.setDate(startDate.getDate() + 8);

    //        endPicker.max(startDate);
    //    }
    //}

    //function endChange() {
    //    debugger;
    //    var startPicker = $("#CircularDate").data("kendoDatePicker"),
    //        endDate = this.value();

    //    if (endDate) {
    //        endDate = new Date(endDate);
    //        endDate.setDate(endDate.getDate() - 8);
    //        startPicker.min(endDate);
    //        startPicker.value = '';
    //    }
    //}

</script>

<div class="row colpadding0" style="max-height:520px;overflow-y:auto;overflow-x:hidden;">
    <div class="col-md-12 colpadding0">

        <div class="row">
            @if (Model.saveSuccess)
            {
                <div class="col-md-12">
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.Message)))
                        {
                            <lable>@Model.Message</lable>
                        }
                    </div>
                </div>
            }
        </div>

        <div class="row">
            @if (Model.errorMessage)
            {
                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.Message)))
                        {
                            <lable>@Model.Message</lable>
                        }
                    </div>
                </div>
            }
        </div>

        <div id="DivMeetingDtls">
            @using (Ajax.BeginForm("SaveCircular", "CircularResolutionList", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivMeetingDtls", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmSaveMeeting" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.CircularID)

                <div class="container">
                    <div class="row mt30">
                        <div class="col-md-4 colpadding0">
                            <span style="color:red">*</span>
                            <label for="ddlEntity" class="control-label">Entity/Company</label>
                            @(Html.Kendo().DropDownListFor(m => m.companyID)
                                .DataTextField("EntityName")
                                .DataValueField("Id")
                                .Filter("contains")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Url("/api/EntityMasterAPI/GetDropDownforEntity").Type(HttpVerbs.Get);
                                    }).ServerFiltering(false);
                                }).HtmlAttributes(new { style = "width: 97%", @Id = "ddlEntity", autocomplete = "off" })
                            )
                        </div>

                        <div class="col-md-4 colpadding0">
                            <span style="color:red">*</span><label class="control-label">Meeting Type</label>
                            @(Html.Kendo().DropDownListFor(m => m.meetingTypeID)
                                .DataValueField("Id")
                                .DataTextField("MeetingTypeName")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Url("/api/CommitteeCompAPI/GetMeetingTypeForDropDown?getAll=false").Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(false);
                                })
                                .HtmlAttributes(new { @class = "myMultiSelect2", style = "width: 97%;", @Id = "ddlMeetingType", @onchange = "ddlMeetingType()" })
                            )
                        </div>

                        <div class="col-md-3 colpadding0">
                            <span style="color:red">*</span><label for="CircularNo" class="control-label">Number</label>
                            @(Html.Kendo().TextBoxFor(m => m.CircularNo).Value(1).HtmlAttributes(new { @class = "k-textbox", style = "width:95%" }))
                            @Html.ValidationMessageFor(model => model.CircularNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div id="divDates" class="row mt30">
                        <div class="col-md-3 colpadding0">
                            <span style="color:red">*</span><label for="CircularDate" class="control-label">Circular Date</label>
                            @(Html.Kendo().DatePickerFor(m => m.CircularDate)
                                .Format("dd/MM/yyyy")
                                .Min("01/01/2019")
                                //.Events(e => e.Change("dateChange"))
                                .ParseFormats(new List<string>() { "dd/MM/yyyy" })
                                .HtmlAttributes(new { style = "width: 97%", onchange = "checkDate(this);" }))

                            @Html.ValidationMessageFor(model => model.CircularDate, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-3 colpadding0">
                            <span style="color:red">*</span><label for="txtDueDate" class="control-label">Due Date</label>
                            @(Html.Kendo().DatePickerFor(m => m.DueDate)
                                .Format("dd/MM/yyyy")
                                .Min("01/01/2019")
                                //.Events(e => e.Change("dateChange"))
                                .ParseFormats(new List<string>() { "dd/MM/yyyy" })
                                .HtmlAttributes(new { style = "width: 97%", onchange = "checkDate(this);" }))

                            @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row mt30" style="display:none;">
                        <div class="col-md-12 colpadding0">
                            @(Html.Kendo().MultiSelectFor(model => model.lstAgendas)
                                .DataValueField("BM_AgendaMasterId")
                                .DataTextField("Agenda")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Url("/api/AgendaMasterAPI/GetAllDropDownCircularAgenda").Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(true);
                                }).HtmlAttributes(new { style = "width: 95%;" }))
                        </div>
                    </div>

                    <div class="row mt30">
                        <div class="col-md-12 colpadding0">
                            @(Html.Kendo().Grid<BM_ManegmentServices.VM.AgendaMasterVM>()
                            .Name("gridAgendaList")
                            //.ColumnResizeHandleWidth(800)
                            .Columns(columns =>
                            {
                            columns.Template(@<text></text>).ClientTemplate("<input type='checkbox' #= IsSelected ? checked='checked':'' # class='chkbx' />")
                                .HeaderTemplate("<input type='checkbox' id='masterCheckBox' onclick='checkAll(this)'/>");
                                //columns.Bound(o => o.IsForAllEntityType).HeaderTemplate("<input id='selectall' class='chkbx' type='checkbox' onclick='ToggleChkBox(this.checked);' />").ClientTemplate("<input id='checkbox' onclick='grdChkBoxClick(this); ' class='chkbxq' type='checkbox' />").Sortable(false).Filterable(false).Width(30);
                                columns.Bound(o => o.BM_AgendaMasterId).Visible(false);
                                columns.Bound(o => o.Agenda).Title("Agenda");
                                columns.Bound(o => o.IsVoting);
                                columns.Command(command =>
                                {
                                    command.Custom("Edit").Click("AddEditAgenda").HtmlAttributes(new { @class = "k-grid-edit" });
                                })
                                .Title("Action").Width(50);
                            }).EnableCustomBinding(true)
                            .Events(e => e.DataBound("onDataBound"))
                            .ToolBar
                            (toolbar => toolbar.Custom().Name("AddAgenda").Text("New").HtmlAttributes(new { id = "AddAgenda", @class = "k-grid-add k-button k-button-icontext" }))
                            .Navigatable()
                            .Groupable()
                            .Pageable(pageable => pageable
                            .Refresh(true)
                            .PageSizes(true)                            
                            .ButtonCount(10))
                            .Filterable()
                            .Sortable()
                            .Reorderable(reorderable => reorderable.Columns(true))
                            .Resizable(resizable => resizable.Columns(true))
                            .ColumnMenu()
                            .DataSource(dataSource => dataSource
                            .WebApi()
                            .PageSize(10)
                            .ServerOperation(false)
                            .Model(model =>
                            {
                                model.Id(o => o.BM_AgendaMasterId);
                            })
                            .Read(read => read.Url("/api/AgendaMasterAPI/GetAllCircularAgenda").Type(HttpVerbs.Get))
                                            ))

                            @(Html.Kendo().Window()
                            .Name("wndPopupAgenda")
                            .Visible(false)
                            .Modal(true)
                            .Draggable(false)
                            .Scrollable(false)
                            .Pinned(true)
                            .Events(e => e.Refresh("OnRefresh")))
                        </div>
                    </div>

                    <div id="remark">
                        <div class="row mt30">
                            <div class="col-md-12 colpadding0">
                                <span style="color:red">*</span><label class="control-label">Remark</label>
                                @(Html.Kendo().TextBoxFor(m => m.Type).HtmlAttributes(new { @style = "width:100%" }))
                            </div>
                        </div>
                    </div>

                    <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;margin-top: 2%;">
                        <button type="submit" id="btnSubmit" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
                        <button type="button" id="btnclose2" class="k-button">Close</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $("#btnclose2").click(function (z) {
        z.preventDefault();
        z.stopPropagation();
        $('#wndpopupMeeting').data("kendoWindow").close();
        $('#gridKendo').data('kendoGrid').dataSource.read();
        $('#gridKendo').data('kendoGrid').refresh();
    });

    function ddlMeetingType() {
        debugger;
        var meetingtype = $("#ddlboardMeetin").data("kendoDropDownList").value();
        if (meetingtype == 10) {
            $("#remark").show();
        }
        else {
            $("#remark").hide();
        }
    }

    function checkDate(e) {
        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }
</script>

<script type="text/javascript">
    $(function () {
        $('#gridAgendaList').on('click', '.chkbx', function () {
            debugger;
            var checked = $(this).is(':checked');
            var grid = $('#gridAgendaList').data().kendoGrid;
            var dataItem = grid.dataItem($(this).closest('tr'));
            dataItem.set('IsSelected', checked);
            selectDeselect_MultiSelect();
        });
    });

    function checkAll(ele) {
        debugger;
        var state = $(ele).is(':checked');
        var grid = $('#gridAgendaList').data().kendoGrid;
        $.each(grid.dataSource.view(), function () {
            if (this['IsSelected'] != state)
                this.dirty = true;
            this['IsSelected'] = state;
        });

        selectDeselect_MultiSelect();
        grid.refresh();
    }

    function selectDeselect_MultiSelect() {
        debugger;
        var checkedIds = [];
        var grid = $('#gridAgendaList').data().kendoGrid;

        if (grid != undefined || grid != null) {
            $.each(grid.dataSource.view(), function () {
                if (this['IsSelected'] == true)
                    checkedIds.push(this['BM_AgendaMasterId']);
            });

            if (checkedIds.length > 0) {
                var multiselect = $("#lstAgendas").data("kendoMultiSelect");

                // get the value of the multiselect.
                var value = multiselect.value();

                // set the value of the multiselect.
                multiselect.value(checkedIds); //select items which have value respectively "1" and "2"
            }
        }
    }

    $("#divDates").kendoValidator({
        rules: {
            customRule1: function (input) {
                if (input.is("[name=CircularDate]") || input.is("[name=DueDate]")) {                    
                    var result = checkGreaterDate();
                    alert("checkGreaterDate-" + result);
                    return result;
                }
                return true;
            },
            customRule2: function (input) {
                if (input.is("[name=CircularDate]") || input.is("[name=DueDate]")) {
                    var result = checkDateDifference();
                    alert("checkDateDifference-" + result);
                    return result;
                }
                return true;
            }
        },
        messages: {
            customRule1: "Due Date must be greater than Circular Date",
            customRule2: "Due Date can not be greater than 7 days",
        }
    });

</script>

<script type="text/javascript">
    $(document).ready(function () {
        var validator1 = $("#frmSaveMeeting").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

        $("#CircularNo").attr("readonly", true);
        
        $("#CircularDate").removeAttr("data-val-date");
        $("#DueDate").removeAttr("data-val-date");

        if ($("#CircularDate").val() == "01/01/0001") {
            $("#CircularDate").val('');
        }

        if ($("#DueDate").val() == "01/01/0001") {
            $("#DueDate").val('');
        }

        $("#remark").hide();
    });
</script>

