﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@{
    ViewBag.Title = "Customer :: Masters";
    Layout = "~/Areas/BM_Management/Views/Shared/BM_Layout.cshtml";
}

<style>
    .customer-photo {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
</style>

    <script>
    $(document).ready(function () {

        var breadCrumbData = [
            {
                displayText: "Masters",
                navigateUrl: "#",
            },
            {
                displayText: "Group/Client",
                navigateUrl: "#",
            }
        ];

        setBreadCrumb(breadCrumbData);

        BindGrid();
    });

    function BindGrid() {

        kendo.ui.progress($("#divGridParent"), true);

        var loggedInUserID = @AuthenticationHelper.UserID;
        var customerID=@AuthenticationHelper.CustomerID;
        var userRole='@AuthenticationHelper.Role';

        var showSelf = false;

        var sharedDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '/api/CustomerMasterAPI/GetAllMyCustomers?userID=' + loggedInUserID + '&custID=' + customerID + '&SPID=-1&distID=' + customerID + '&roleCode=' + userRole + '&showSelf=' + showSelf,
                    dataType: "json",
                }
            },
            schema: {
                model: { id: "ID" },
                data: function (response) {
                    if (response != null && response != undefined) {
                        return response;
                    }
                },
                total: function (response) {
                    if (response != null && response != undefined) {
                        if (response.length > 0) {

                        }
                        return response.length;
                    }
                }
            },

            pageSize: 10
        });

        sharedDataSource.read();

        $("#gridCustomers").kendoGrid({
            dataSource: sharedDataSource,
            autoBind: false,
            columnMenu: {
                columns: false,
            },
            filterable: true,
            sortable: true,
            scrollable: true,
            pageable: {
                pageSizes: true
            },
            //change: onRowSelect,
            dataBound: gridCustomers_RowDataBound,
            columns: [
                { field: "ID", title: "ID", width: "5%", hidden: true },

                {
                    template: "<div style='float:left;'>#= GetCustLogo(data)#</div><div class='customer-name'>#: Name #</div>",
                    title: "Name", width: "40%", attributes: { "class": "showTooltip", style: 'white-space: nowrap;' }, filterable: { multi: true, search: true, }
                },
                
                { field: "BuyerContactNumber", title: 'Contact', width: "15%", attributes: { style: 'white-space: nowrap;' }, filterable: { multi: true, search: true, } },
                { field: "BuyerEmail", title: 'Email', width: "15%", attributes: { "class": "showTooltip", style: 'white-space: nowrap;' }, filterable: { multi: true, search: true, } },

                { field: "Status", title: 'Status', width: "10%", attributes: { "class": "showTooltip", style: 'white-space: nowrap;' }, filterable: { multi: true, search: true, } },
                {
                    command:
                        [
                          { name: "edit", className: "hoverCircle", visible:"showHideEditDeleteButton", click: EditCustomer  },
                          { name: "delete", className: "hoverCircle", visible:"showHideEditDeleteButton", click: DeleteCustomer },
                            { name: "setting", className: "hoverCircle", visible:"showHideSettingButton",click:ShowSettings },
                        ],
                    title: "Action",
                    attributes: { style: "text-align:center;" },
                    headerAttributes: { style : "text-align:center;" },
                    lock: true, width: "15%;"
                }
            ],
            editable: false,
        });

        kendo.ui.progress($("#divGridParent"), false);
    }

    function showHideEditDeleteButton(data) {
        var myCustID=@AuthenticationHelper.CustomerID;
        var showHide = true;

        if(myCustID!=null && myCustID!=undefined){
            if (data.ID != null && data.ID != undefined) {
                if(data.ID === myCustID){
                    showHide=false;
                }
            }
        }

        return showHide;
    }

    function showHideSettingButton(data) {
        var myCustID=@AuthenticationHelper.CustomerID;
        var showHide = false;

        if (myCustID != null && myCustID != undefined) {
            if (data.ID != null && data.ID != undefined) {
                if (data.ID === myCustID) {
                    showHide = true;
                }
            }
        }

        return showHide;
    }

    var initialLoad = true;
    function gridCustomers_RowDataBound(e) {
        GetICons();
        $("#gridCustomers tr.k-alt").removeClass("k-alt");

        $("#gridCustomers").kendoTooltip({
            filter: ".k-grid-edit",
            content: function (e) {
                return "Edit";
            },
            show:PositionTooltip
        });

        $("#gridCustomers").kendoTooltip({
            filter: ".k-grid-delete",
            content: function (e) {
                return "Delete";
            },
            show:PositionTooltip
        });

        $("#gridCustomers").kendoTooltip({
            filter: ".k-grid-setting",
            content: function (e) {
                return "Configuration";
            },
            show:PositionTooltip
        });

        if (initialLoad) {
            BindAutoComplete();
            initialLoad = false;
        }
    }

    function EditCustomer(e) {
        //var item = $("#gridCustomers").data("kendoGrid").dataItem($(this).closest("tr"));
        var item = $("#gridCustomers").data("kendoGrid").dataItem($(e.currentTarget).closest("tr"));
        var CustID = item.ID;

        OpenAddEditCustomerPopup(CustID);
        return false;
    }

    function OpenAddEditCustomerPopup(CustID) {
        $('#divAddEditCustomerDialog').show();
        var myWindowAdv = $("#divAddEditCustomerDialog");

        myWindowAdv.kendoWindow({
            width: "60%",
            height: '80%',
            iframe: true,
            model:true,
            title: "Customer Details",
            visible: false,
            actions: ["Close"],
            close: onClose,
            open: function () {
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        });

        $('#iframeAdd').attr('src', 'about:blank');
        myWindowAdv.data("kendoWindow").center().open();
        $('#iframeAdd').attr('src', "/Areas_Secretarial/AddEditCustomer.aspx?CustomerID=" + CustID);
        return false;
    }

    function ShowSettings(e) {
        debugger;
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        var custID = dataItem.ID;
        var custName = dataItem.Name;
        OpenEntitySettingPopup(custID, custName);
        return false;
    }

    function OpenEntitySettingPopup(CustID, CustName) {
        $('#divAddEditCustomerDialog').show();
        $('#iframeAdd').attr('src', 'about:blank');

        var myWindowAdv = $("#divAddEditCustomerDialog");

        myWindowAdv.kendoWindow({
            width: "50%",
            height: '80%',
            iframe: true,
            model:true,
            title: "Configuration - "+CustName,
            visible: false,
            open: function () {
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        });

        $('#iframeAdd').attr('src', "/Areas_Secretarial/AddEditEntityWiseConfigurations.aspx?CustomerID=" + CustID);
        myWindowAdv.data("kendoWindow").center().open();
        return false;
    }


    function onClose() {
        $('#gridCustomers').data('kendoGrid').dataSource.read();
    }

    function DeleteCustomer(e) {
        var item = $("#gridCustomers").data("kendoGrid").dataItem($(e.currentTarget).closest("tr"));

        if(item!=null && item!=undefined){
            var resp = confirm("Are You Sure! You Want to Delete Customer Record - "+item.Name +" ?");
            if (resp == true) {

                $.ajax({
                    url: "/api/CustomerMasterAPI/DeleteCustomer?custID=" + item.ID,
                    dataType: "json",
                    success: function (result) {
                        $("#gridCustomers").data("kendoGrid").dataSource.read();

                    },
                    error: function (result) {

                    }
                });
            }
        }

        return false;
    }

    function GetCustLogo(data) {
        debugger;
        var colors = {};
        var html;

        if (data.ID > 0 && data.LogoPath != null) {
            if (data.LogoPath.startsWith("~")) {
                html = "<img class='customer-photo' src='" + data.LogoPath.substring(1, data.LogoPath.length) + "'/>";
            } else {
                html = "<img class='customer-photo' src='" + data.LogoPath + "'/>";
            }
        } else {
            colors = [
                "#42A5F5",
                "#008391",
                "#846600",
                "#CC0060",
                "#330099",];
            var result;
            var count = 0;

            result = colors[Math.floor(Math.random() * colors.length)];

            var custName = data.Name;
            var intials = custName.charAt(0);

            html = "<span class='customer-photo textimage' style='text-align: center;color:white;background-color:" + result + "'><b>" + intials + "</b></span>";
        }
        return html;
        }

        function BindAutoComplete() {
            var autoCompleteData = [];
            autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridCustomers', 'Name'));

            if (autoCompleteData != null && autoCompleteData != undefined) {
                $("#filterSearch").kendoAutoComplete({
                    dataSource: autoCompleteData,
                    filter: "contains",
                    placeholder: "Search by Name",
                    separator: ", ",
                    change: AutoComplete_onChange,
                });
            }
        }

        function AutoComplete_onChange() {
            filterChange();
    }

    function filterChange() {

        var filter = { logic: 'or', filters: [] };

        //var t = $('#filter');
        //if (t.val() != "") {
        //    filter.filters.push({ logic: "or", field: "EntityName", operator: "contains", value: t.val() });
        //    filter.filters.push({ logic: "or", field: "Type", operator: "contains", value: t.val() });
        //    filter.filters.push({ logic: "or", field: "LLPI_CIN", operator: "contains", value: t.val() });
        //}

        var txtSearch = $('#filterSearch');
        if (txtSearch.val() != "") {
            var splittedData = txtSearch.val().trim().split(",");

            for (var i = 0; i < splittedData.length; i++) {
                if (splittedData[i].trim() != "") {
                    filter.filters.push({ logic: "or", field: "Name", operator: "contains", value: splittedData[i].trim() });

                }
            }
        }

        var grid = $("#gridCustomers").data("kendoGrid");
        grid.dataSource.filter(filter);

    };

    function clearfilter(e) {
        var txtStartPeriod = $("#filter").val();

        if (txtStartPeriod != null && txtStartPeriod != undefined) {
            $("#filter").val("");

        }
        $('#clearfillter').css('display', 'none');

        $("#gridCustomers").data("kendoGrid").dataSource.filter({});
    }
    </script>


<div class="Dashboard-white-widget">
    <div class="dashboard">

        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="col-md-4 colpadding0">
                    <div class="input-group">
                        <input id='filterSearch' type="text" class="form-control" placeholder="Search by Name" autocomplete="off">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit" style="height:36px">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-7 colpadding0 text-center">
                    <label>
                        @ViewBag.totalCustomerCreated-Customers / @ViewBag.totalEntityCreated-Entities Created against a Limit of @ViewBag.totalCustomerLimit-Customers / @ViewBag.totalEntityLimit-Entities
                    </label>
                </div>

                <div class="col-md-1 colpadding0 text-right">
                    <a class="btn btn-primary" id="btnAddNew" title="Add New" onclick="return OpenAddEditCustomerPopup(0)"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</a>
                </div>
            </div>
        </div>

        <div class="row colpadding0 mt10">
            <div id="divGridParent" class="col-md-12 colpadding0">
                <div id="gridCustomers"></div>
            </div>
        </div>

        <div id="divAddEditCustomerDialog">
            <iframe id="iframeAdd" style="width: 100%; height: 100%; border: none"></iframe>
        </div>
    </div>
</div>

