﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.DetailsOfInterest

<div id="example">
    <div id="window">

        <div class="row">
            <div class="col-md-12" style="display:none" id="DivsuccessI">
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <lable id="lblsuccessI"></lable>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="display:none" id="DiverrorI">
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <lable id="lblerrormsgI"></lable>
                </div>
            </div>
        </div>

        <div class="row colpadding0" style="margin-left:3%">
            <div class="col-md-12 colpadding0">
                <div class="row">
                    <div class="col-md-12" style="display:none" id="Divsuccess">
                        <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <lable id="lblsuccess"></lable>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="display:none" id="Diverror">
                        <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <lable id="lblerrormsg"></lable>
                        </div>
                    </div>
                </div>
                <!-- this will be the content of the popup -->

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row mt30 colpadding0">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-6 colpadding0">
                            <span style="color:red">*</span><lable class="control-label">Entity Name </lable>
                            @(Html.Kendo().DropDownListFor(model => model.Entity_Id)
                                    .DataValueField("Id")
                                    .DataTextField("EntityName")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/DirectorMasterAPI/GetDropDownEntityForDetailsOfInterest?Director_Id="+Model.Director_ID).Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(true);
                                    })
                                    .Value(Model.Entity_Id.ToString())
                                    .OptionLabel("Select")
                                    .HtmlAttributes(new { style = "width: 95%;", onchange = "ddlEntity_Id_Changed()" })
                            )
                        </div>

                        <div class="col-md-6 colpadding0">
                            <div class="col-md-1 colpadding0">
                            </div>
                            <div class="col-md-11 colpadding0">
                                <span style="color:red">*</span><label class="control-label">Entity Type</label>

                                @(Html.Kendo().DropDownListFor(model => model.TypeOfEntity)
                                    .DataValueField("EntityTypeId")
                                    .DataTextField("EntityTypeName")
                                    .OptionLabel("Select")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/EntityMasterAPI/GetDropDownforEntityTypeVM").Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(true);
                                    })
                                    .Value(Model.TypeOfEntity.ToString())
                                    .HtmlAttributes(new { @class = "amp-h25", style = "width: 95%;" ,onchange = "ddlTypechange(this)" })
                                )

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt30 colpadding0">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-6 colpadding0">
                            <span style="color:red">*</span><label Id="lblotherentity" class="control-label">Name of the other Entity</label>
                          
                            @(Html.Kendo().TextBoxFor(m => m.NameOfOther).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 95%", autocomplete = "off" }))
                            @Html.ValidationMessageFor(model => model.NameOfOther, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6 colpadding0">
                            <div class="col-md-1 colpadding0">
                            </div>
                            <div class="col-md-11 colpadding0">
                                <span style="color:red">*</span><label class="control-label">Nature of Interest or concerned</label>

                                @(Html.Kendo().DropDownListFor(m => m.NatureOfInterest)
                                      .OptionLabel("Select")
                                      .DataTextField("Name")
                                      .DataValueField("Id")
                                      .DataSource(dataSource =>
                                      {
                                          dataSource.Read(read =>
                                          {
                                              read.Url("/api/DirectorMasterAPI/GetNatureOfInterestByEntityType").Data("filterNatureOfInterest").Type(HttpVerbs.Get);
                                          })
                                          .ServerFiltering(true);
                                      })
                                      .HtmlAttributes(new { style = "width: 95%;", onchange = "changeNatureOfInterest(this)" })
                                      .CascadeFrom("TypeOfEntity"))

                                @Html.ValidationMessageFor(model => model.NatureOfInterest, "", new { @class = "text-danger" })

                            </div>
                        </div> 
                    </div>
                </div>

                <div class="row mt30 colpadding0">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-6 colpadding0">
                            <span style="color:red">*</span><label id="lblcin" class="control-label">CIN</label>
                            @(Html.Kendo().TextBoxFor(m => m.CIN).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 95%", @id = "txtCIN", autocomplete = "off" }))
                            @Html.ValidationMessageFor(model => model.CIN, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6 colpadding0" >
                            <div class="col-md-1 colpadding0"></div>
                            <div class="col-md-11 colpadding0">
                                <span id="sp_DesignationNew" style="color:red">*</span><label class="control-label">Designation</label>
                                @(Html.Kendo().DropDownListFor(model => model.DirectorDesignationId)
                                                       .DataValueField("ID")
                                                       .DataTextField("Name")
                                                       .DataSource(source =>
                                                       {
                                                           source.Read(read =>
                                                           {
                                                               read.Url("/api/DesignationMasterAPI/GetDesignation").Data("filterDirectorDesignationId").Type(HttpVerbs.Get);
                                                           })
                                                           .ServerFiltering(true);
                                                       })
                                                       .Value(Model.DirectorDesignationId.ToString())
                                                       //.OptionLabel("Select")
                                                       .HtmlAttributes(new { style = "width: 95%;" })
                                                       .CascadeFrom("NatureOfInterest")
                                )
                                @Html.ValidationMessageFor(model => model.DirectorDesignationId, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row mt30 colpadding0">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-6 colpadding0">
                            <span style="color:red">*</span><label class="control-label">PAN</label>
                            @(Html.Kendo().TextBoxFor(m => m.PAN).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 95%", @id = "txtPAN", autocomplete = "off" }))
                            @Html.ValidationMessageFor(model => model.PAN, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6 colpadding0" id="divifDirector">
                            <div class="col-md-1 colpadding0"></div>
                            <div class="col-md-11 colpadding0">
                                <span id="sp_DirNew" style="color:red">*</span><label class="control-label">Type of Directorship</label>
                                @(Html.Kendo().DropDownListFor(model => model.IfDirector)
                                                               .DataValueField("ID")
                                                               .DataTextField("Name")
                                                               .DataSource(source =>
                                                               {
                                                                   source.Read(read =>
                                                                   {
                                                                       read.Url("/api/DesignationMasterAPI/GetDirectorTypeOfMembership").Data("filterDirectorTypeOfMembership").Type(HttpVerbs.Get);
                                                                   })
                                                                   .ServerFiltering(true);
                                                               })
                                                               .Value(Model.IfDirector.ToString())
                                                               //.OptionLabel("Select")
                                                               .HtmlAttributes(new { style = "width: 95%;" })
                                                               .CascadeFrom("DirectorDesignationId")
                                )
                                @Html.ValidationMessageFor(model => model.IfDirector, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row mt30 colpadding0">
                    <div class="col-md-12 colpadding0">
                        

                        <div class="col-md-6 colpadding0">
                                <span style="color:red">*</span><label class="control-label">Date when the interest arosed</label>

                                @(Html.Kendo().DatePickerFor(m => m.Arosed)
                                    .Max(DateTime.Today)
                                    .Format("dd/MM/yyyy")
                                    .ParseFormats(new List<string>() { "dd/MM/yyyy" })
                                    .HtmlAttributes(new { style = "width: 95%", @Id = "Arosed", onchange = "checkDate(this);", autocomplete = "off" })
                                )
                                @Html.ValidationMessageFor(model => model.Arosed, "", new { @class = "text-danger" })
                               </div>

                        <div class="col-md-6 colpadding0">
                            <div class="col-md-1 colpadding0"></div>
                            <div class="col-md-11 colpadding0">
                                <span id="sp_intertNew" style="color:red">*</span><label class="control-label">If Interest through Relatives</label>

                                @Html.Kendo().MultiSelectFor(model => model.IfRelatives).DataValueField("Id").DataTextField("Name").DataSource(source => { source.Read(read => { read.Url("/api/DirectorMasterAPI/GetRelativesList?Director_Id=" + @Model.Director_ID + "").Type(HttpVerbs.Get); }).ServerFiltering(false); }).HtmlAttributes(new { @class = "amp-h25", style = "width: 95%;" })
                                @Html.ValidationMessageFor(model => model.IfRelatives, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row mt30 colpadding0">
                    <div class="col-md-12 colpadding0">

                        <div class="col-md-6 colpadding0">
                            <div class="col-md-6 colpadding0">
                                <span style="color:red"></span><label class="control-label">Date of Appointment</label>
                                @(Html.Kendo().DatePickerFor(m => m.DateofAppointment)
                                                                .Max(DateTime.Today)
                                                                .Format("dd/MM/yyyy")
                                                                .ParseFormats(new List<string>() { "dd/MM/yyyy" })
                                                                .HtmlAttributes(new { style = "width: 95%", @Id = "DateofAppointment", onchange = "checkDate(this);", autocomplete = "off" })
                                )
                            </div>

                            <div class="col-md-6 colpadding0">
                                <div class="col-md-1 colpadding0"></div>
                                <div class="col-md-11 colpadding0">
                                    <span style="color:red"></span><label id="lblBoardResolutionDate" class="control-label">Board Resolution Date</label>
                                    @(Html.Kendo().DatePickerFor(m => m.BoardofResolution)
                                                        .Max(DateTime.Today)
                                                        .Format("dd/MM/yyyy")
                                                        .ParseFormats(new List<string>() { "dd/MM/yyyy" })
                                                        .HtmlAttributes(new { style = "width: 95%", @Id = "BoardofResolution", onchange = "checkDate(this);", autocomplete = "off" })
                                    )
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 colpadding0">
                            <div class="col-md-1 colpadding0"></div>
                            <div class="col-md-5 colpadding0">
                                <span style="color:red" id="spanshareholding">*</span><label id="lblshareholder" class="control-label">% of shareholding</label>

                                @(Html.Kendo().TextBoxFor(m => m.PercentagesOfShareHolding).HtmlAttributes(new { @class = "k-textbox", style = "width: 70%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.PercentagesOfShareHolding, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-5 colpadding0 pull-right">
                                <span></span><label class="control-label">No. of Shares held</label>

                                @(Html.Kendo().TextBoxFor(m => m.NumberofShares).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" ,type = "number",min = "0" }))
                                @Html.ValidationMessageFor(model => model.NumberofShares, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            function ddlEntity_Id_Changed() {

                var ddlEntityType = $("#Entity_Id").data("kendoDropDownList");

                var index = ddlEntityType.selectedIndex;

                var Item = ddlEntityType.dataItem(index);
                var TypeOfEntityDropDown = $("#TypeOfEntity").data("kendoDropDownList");

                var _txtNameOfOther = $("#NameOfOther");
                var _txtCIN = $("#txtCIN");
                var _txtPAN = $("#txtPAN");

                if (ddlEntityType.value() > 0) {
                    TypeOfEntityDropDown.readonly();
                    TypeOfEntityDropDown.value(ddlEntityType.dataItem(index).Entity_Type);

                    _txtNameOfOther.val('');
                    _txtCIN.val(ddlEntityType.dataItem(index).CIN);
                    _txtPAN.val(ddlEntityType.dataItem(index).PAN);

                    _txtNameOfOther.attr('readonly', true);
                    _txtCIN.attr('readonly', true);
                    _txtPAN.attr('readonly', true);
                    TypeOfEntityDropDown.readonly();

                    removeDataValidation(_txtNameOfOther);
                    removeDataValidationDropDown($("#TypeOfEntity"));
                    removeDataValidation(_txtCIN);
                    removeDataValidation(_txtPAN);
                    if (ddlEntityType.dataItem(index).Entity_Type == 3) {
                        $("#lblcin").text("LLPIN");
                        $("#lblshareholder").text("Capital Contribution");
                        $("#lblNumbershareheld").text("Capital Contribution Amount");
                    }
                    else if (ddlEntityType.dataItem(index).Entity_Type == 4 || ddlEntityType.dataItem(index).Entity_Type == 5) {
                        $("#lblcin").text("Registration Number");

                    }
                    else {
                        $("#lblcin").text("CIN");
                        $("#lblshareholder").text("% of shareholding");
                        $("#lblNumbershareheld").text("No of Shares held");
                    }

                    return true;
                }
                else {
                    TypeOfEntityDropDown.select(0);
                    TypeOfEntityDropDown.readonly(false);

                    _txtNameOfOther.val('');
                    _txtCIN.val('');
                    _txtPAN.val('');

                    _txtNameOfOther.attr('readonly', false);
                    _txtCIN.attr('readonly', false);
                    _txtPAN.attr('readonly', false);

                    dataValidation(_txtNameOfOther, 'Please enter name of other entity');
                    dataValidation(_txtCIN, 'Please enter CIN number');
                   
                    if ($("#TypeOfEntity").data("kendoDropDownList").value() == 3) {
                        $("#lblcin").text("LLPIN Number");
                        $("#lblshareholder").text("Capital Contribution");
                        $("#lblNumbershareheld").text("CapitalContribution Amount");
                        dataValidation(_txtCIN, 'Please enter LLPIN Number');
                    }
                    else if ($("#TypeOfEntity").data("kendoDropDownList").value() == 4 || $("#TypeOfEntity").data("kendoDropDownList").value() == 5) {
                        $("#lblcin").text("Registration Number");
                        dataValidation(_txtCIN, 'Please enter Registration Number');
                    }
                    else {
                        $("#lblshareholder").text("% of shareholding");
                        $("#lblNumbershareheld").text("No.of share Held");
                        $("#lblcin").text("CIN");
                        dataValidation(_txtCIN, 'Please enter CIN Number');
                      
                    }
                    return false;
                }
                
            }

            function changeNatureOfInterest(obj) {

                var ddlNatureOfInterest = $("#" + obj.id).data("kendoDropDownList");
                var val = ddlNatureOfInterest.value();
                var index = ddlNatureOfInterest.selectedIndex;
                var isDirector = ddlNatureOfInterest.dataItem(index).IsDirector;
                var isMNGT = ddlNatureOfInterest.dataItem(index).IsMNGT;
                var ddlDirectorDesignationId = $("#DirectorDesignationId").data("kendoDropDownList");
                var ddlIfDirector = $("#IfDirector").data("kendoDropDownList");

                var ddlIfRelatives = $("#IfRelatives").data("kendoMultiSelect");

                ddlDirectorDesignationId.select(0);
                ddlIfDirector.select(0);
                ddlIfRelatives.value([]);
                removeDataValidationDropDown($("#IfDirector"));

                $("#sp_DirNew").addClass("hidden");
                $("#sp_intertNew").addClass("hidden");
                if (isDirector == true || isMNGT == true) {
                    ddlDirectorDesignationId.readonly(false);
                    ddlIfRelatives.readonly();
                    $("#sp_DesignationNew").removeClass("hidden");
                    if (isDirector == true) {
                        ddlIfDirector.readonly(false);
                        $("#sp_DirNew").removeClass("hidden");
                    }
                    else {
                        ddlIfDirector.readonly();
                    }

                    var ddlEntity = $("#Entity_Id").data("kendoDropDownList").value();
                    var ddlEntityType = $("#TypeOfEntity").data("kendoDropDownList").value();
                    if ((ddlEntityType == 10 || ddlEntityType == 1 || ddlEntityType == 2) && (val == 2 || val == 13)) {

                        $("#PercentagesOfShareHolding").attr('readonly', 'readonly');
                        $("#PercentagesOfShareHolding").css("cursure", "no-drop");

 						$("#PercentagesOfShareHolding").val("0");
                        $("#PercentagesOfShareHolding").change();
                        $("#NumberofShares").attr('readonly', 'readonly');
                        $("#NumberofShares").css("cursure", "no-drop");
                        $("#NumberofShares").val("");
                        $("#NumberofShares").change();
                        $("#divshareheld").hide();                    }
				else if ((ddlEntityType == 5))
                {
             
                        $("#PercentagesOfShareHolding").attr('readonly', 'readonly');
                        $("#PercentagesOfShareHolding").css("cursure", "no-drop");
                        $("#PercentagesOfShareHolding").val("0");
                        $("#PercentagesOfShareHolding").change();
                        $("#NumberofShares").attr('readonly', 'readonly');
                        $("#NumberofShares").css("cursure", "no-drop");
                        $("#NumberofShares").val("");
                        $("#NumberofShares").change();
                        $("#divshareheld").hide();
                  
                }
                else
                {
                    $("#PercentagesOfShareHolding").removeAttr('readonly');
                    $("#NumberofShares").removeAttr('readonly');
                    $("#divshareheld").show();
                }
                    return true;
                }
                else if (val == "7") {
                    ddlDirectorDesignationId.readonly();
                    ddlIfDirector.readonly();
                    ddlIfRelatives.readonly(false);
                    $("#sp_intertNew").removeClass("hidden");
                    return true;
                }
                else if (val != 2 && (ddlEntityType == 5))
                {
                    $("#PercentagesOfShareHolding").removeAttr('readonly');
                    $("#NumberofShares").removeAttr('readonly');
                  
                }
                else {
                    ddlDirectorDesignationId.readonly();
                    ddlIfDirector.readonly();
                    ddlIfRelatives.readonly();
                    return false;
                }
            }

            function ddlTypechange(e) {

                var ddlEntity = $("#Entity_Id").data("kendoDropDownList").value();
                var ddlEntityType = $("#TypeOfEntity").data("kendoDropDownList").value();
                if (ddlEntity = -1) {
                    if (ddlEntityType == 3) {
                        $("#lblotherentity").text("Name of LLP");
                        $("#lblcin").text("LLPIN");
                        $("#lblshareholder").text("% of Capital Contribution");
                        document.getElementById("divifDirector").style.display = "none";
                        $("#spanshareholding").text("");

                    }
                    else if (ddlEntityType == 4) {
                        $("#lblotherentity").text("Name of Trust");
                        $("#lblshareholder").text("% of Capital Contribution");
						$("#lblNumbershareheld").text("CapitalContribution Amount");
                        $("#lblcin").text("Registration Number");
                        $("#spanshareholding").text("");

 					 $("#PercentagesOfShareHolding").removeAttr('readonly');
                       $("#NumberofShares").removeAttr('readonly');                   
 }
                   
                   else if (ddlEntityType == 5) {
                       $("#lblotherentity").text("Name of Body Corporate");
                       $("#lblcin").text("Registration Number");
                       $("#spanshareholding").text("");
                      
                       $("#PercentagesOfShareHolding").attr('readonly', 'readonly');
                       $("#NumberofShares").removeAttr('readonly');
                      
                      
                   }
                    else {
                        $("#lblotherentity").text("Name of Company");
                        $("#lblcin").text("CIN");

                        $("#lblshareholder").text("% of shareholding");
						$("#lblNumbershareheld").text("NO of Share Held");
                        document.getElementById("divifDirector").style.display = "block";
                    }

                }
            }

        </script>


    </div>
</div>


