﻿
@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Director_MasterVM

<div id="example">
    <div id="window">
        <!-- this will be the content of the popup -->

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        <div class="container" style="margin-left:3%">
            <div class="row mt30">
                <div class="col-md-12 colpadding0">
                    <div class="col-md-6 colpadding0">
                        <div class="col-md-3 colpadding0">
                            <span style="color:red">*</span><lable class="control-label">Salutation</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @Html.Kendo().DropDownListFor(model => model.Salutation).BindTo(new SelectList(new List<object> {
                        new {id="1",text="Mr."},
                        new {id="2",text="Mrs."},
                        new {id="3",text="Ms."},

                    }, "id", "text")).HtmlAttributes(new { style = "width: 100%" })

                            @Html.ValidationMessageFor(model => model.Salutation, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6 colpadding0">
                        <div class="col-md-3 colpadding0">
                            <span style="color:red">*</span><lable class="control-label">Name</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().TextBoxFor(m => m.FirstName).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%" }))
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt30">

                <div class="col-md-12 colpadding0">
                    <div class="col-md-6 colpadding0">
                        <div class="col-md-3 colpadding0">
                            <lable class="control-label">Father/Middle Name</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().TextBoxFor(m => m.MiddleName).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%" }))
                            @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="col-md-6 colpadding0">
                        <div class="col-md-3 colpadding0">
                            <lable class="control-label">Surname/Family Name</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().TextBoxFor(m => m.LastName).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%" }))
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

            </div>
            <div class="row mt30">
                <div class="col-md-12 colpadding0">
                    <div class="col-md-6 colpadding0">
                        <div class="col-md-3 colpadding0">
                            <span style="color:red">*</span><lable class="control-label">DIN</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().TextBoxFor(m => m.DIN).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%" }))
                            @Html.ValidationMessageFor(model => model.DIN, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6 colpadding0">

                    </div>
                </div>
            </div>
            <div class="row mt30">
                <div class="col-md-12 colpadding0">

                    <div class="col-md-6 colpadding0">
                        <div class="col-md-3 colpadding0">
                            <span style="color:red">*</span><lable class="control-label">Whether resident in India</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @Html.Kendo().DropDownListFor(model => model.ResidentInIndia).BindTo(new SelectList(new List<object> {
                        new {id="1",text="Yes"},
                        new {id="0",text="No"},
                    }, "id", "text")).Events(e => e.Change("onResidentInIndia")).HtmlAttributes(new { style = "width: 100%" })

                            @Html.ValidationMessageFor(model => model.ResidentInIndia, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6 colpadding0">
                        <div class="col-md-3 colpadding0">
                            <span style="color:red">*</span><lable class="control-label">Nationality</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @Html.Kendo().DropDownListFor(model => model.Nationality).BindTo(new SelectList(new List<object> {
                        new {id="1",text="Indian"},
                        new {id="2",text="other"},
                    }, "id", "text")).HtmlAttributes(new { style = "width: 100%" })
                            @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
            </div>
            <div class="row mt30">
                <div class="col-md-12 colpadding0">

                    <div class="col-md-6 colpadding0">
                        <div class="col-md-3 colpadding0">
                            <span style="color:red">*</span><lable class="control-label">Occupation</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @Html.Kendo().DropDownListFor(model => model.Occupation).BindTo(new SelectList(new List<object> {
                        new {id="1",text="Self Employed"},
                        new {id="2",text="Professional"},
                        new {id="3",text="Homemaker"},
                        new {id="4",text="Student"},
                        new {id="5",text="Serviceman"},
                    }, "id", "text")).Events(e => e.Change("onOccupationChange")).HtmlAttributes(new { style = "width: 100%" })
                            @Html.ValidationMessageFor(model => model.Occupation, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6 colpadding0">
                        &nbsp;
                    </div>

                </div>
            </div>
            <div id="divAreaOfOccupation" class="row mt30">
                <div class="col-md-12 colpadding0">
                    <div class="col-md-6 colpadding0">
                        <div class="col-md-3 colpadding0">
                            <span style="color:red">*</span><lable class="control-label">Area of Occupation</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @Html.Kendo().DropDownListFor(model => model.AreaOfOccupation).BindTo(new SelectList(new List<object> {
                        new {id="1",text="Government"},
                        new {id="2",text="Teaching"},
                        new {id="0",text="Others"},
                    }, "id", "text")).Events(e => e.Change("onAreaOfOccupation")).HtmlAttributes(new { style = "width: 100%" })
                            @Html.ValidationMessageFor(model => model.AreaOfOccupation, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div id="divOtherOccupation" class="col-md-6 colpadding0">
                        <div class="col-md-3 colpadding0">
                            <span style="color:red">*</span><lable class="control-label">Other Occupation</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().TextBoxFor(m => m.OtherOccupation).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%" }))
                            @Html.ValidationMessageFor(model => model.OtherOccupation, "", new { @class = "text-danger" })
                        </div>
                    </div>


                </div>
            </div>
            <div class="row mt30">
                <div class="col-md-12 colpadding0">
                    <div class="col-md-6 colpadding0">
                        <div class="col-md-3 colpadding0">
                            <span style="color:red">*</span><lable class="control-label">Educational Qualification</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @Html.Kendo().DropDownListFor(model => model.EducationalQualification).BindTo(new SelectList(new List<object> {
                        new {id="1",text="X/SSLC/Junior/Equivalent"},
                        new {id="2",text="XII/SSC/High/Equivalent"},
                        new {id="3",text="Graduation/Bachelor/Equivalent"},
                        new {id="4",text="Post-Graduation/Master/Equivalent"},
                        new {id="5",text="Professional"},
                        new {id="6",text="Executive Program"},
                        new {id="7",text="Doctorate"},
                        new {id="8",text="Diploma"},
                        new {id="9",text="Others"},
                    }, "id", "text")).HtmlAttributes(new { style = "width: 100%" })
                            @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6 colpadding0">
                        <div class="col-md-3 colpadding0">
                            <span style="color:red">*</span><lable class="control-label">Other Qualification</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().TextBoxFor(m => m.OtherQualification).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%" }))
                            @Html.ValidationMessageFor(model => model.OtherQualification, "", new { @class = "text-danger" })
                        </div>
                    </div>


                </div>
            </div>
            <div class="row mt30">
                <div class="col-md-12 colpadding0">
                    <div class="col-md-6 colpadding0">
                        <div class="col-md-3 colpadding0">
                            <span style="color:red">*</span><lable class="control-label">Date of Birth</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().TextBoxFor(m => m.DateOfBirth).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%" }))
                            @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6 colpadding0">
                        <div class="col-md-3 colpadding0">
                            <span style="color:red">*</span><lable class="control-label">Gender</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @Html.Kendo().DropDownListFor(model => model.Gender).BindTo(new SelectList(new List<object> {
                        new {id="Male",text="Male"},
                        new {id="Female",text="Female"},
                        new {id="Other",text="Other"},
                    }, "id", "text")).HtmlAttributes(new { style = "width: 100%" })
                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div id="divPAN" class="row mt30">
                <div class="col-md-12 colpadding0">
                    <div class="col-md-6 colpadding0">
                        <div class="col-md-3 colpadding0">
                            <span style="color:red">*</span><lable class="control-label">PAN</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().TextBoxFor(m => m.PAN).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%" }))
                            @Html.ValidationMessageFor(model => model.PAN, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6 colpadding0">
                        <div class="col-md-3 colpadding0">
                            <span style="color:red"></span><lable class="control-label">Upload</lable>
                        </div>
                        <div class="col-md-7 colpadding0">

                        </div>
                    </div>
                </div>
            </div>
            <div id="divAdhaar" class="row mt30">
                <div class="col-md-12 colpadding0">
                    <div class="col-md-6 colpadding0">
                        <div class="col-md-3 colpadding0">
                            <span style="color:red">*</span><lable class="control-label">Adhaar No</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().TextBoxFor(m => m.Adhaar).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%" }))
                            @Html.ValidationMessageFor(model => model.Adhaar, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6 colpadding0">
                        <div class="col-md-3 colpadding0">
                            <span style="color:red"></span><lable class="control-label">Upload</lable>
                        </div>
                        <div class="col-md-7 colpadding0">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt30">
                <div class="col-md-12 colpadding0">
                    <div class="col-md-6 colpadding0">
                        <div class="col-md-3 colpadding0">
                            <span id="spanPassport" style="color:red">*</span><lable class="control-label">Passport</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().TextBoxFor(m => m.PassportNo).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%" }))
                            @Html.ValidationMessageFor(model => model.PassportNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6 colpadding0">
                        <div class="col-md-3 colpadding0">
                            <span style="color:red"></span><lable class="control-label">Upload</lable>
                        </div>
                        <div class="col-md-7 colpadding0">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt30">
                <div class="col-md-12 colpadding0">
                    <div class="col-md-6 colpadding0">
                        <div class="col-md-3 colpadding0">
                            <span style="color:red">*</span><lable class="control-label">Email Id(Personal)</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().TextBoxFor(m => m.EmailId).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%" }))
                            @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6 colpadding0">
                        <div class="col-md-3 colpadding0">
                            <span style="color:red">*</span><lable class="control-label">Email Id(Official)</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().TextBoxFor(m => m.EmailId_Official).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%" }))
                            @Html.ValidationMessageFor(model => model.EmailId_Official, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt30">
                <div class="col-md-12 colpadding0">
                    <div class="col-md-6 colpadding0">
                        <div class="col-md-3 colpadding0">
                            <span style="color:red">*</span><lable class="control-label">Desc Expiry Date</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().TextBoxFor(m => m.DESC_ExpiryDate).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%" }))
                            @Html.ValidationMessageFor(model => model.DESC_ExpiryDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
