﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.DetailsOfInterest

<div id="example">
    <div id="window">

        <div class="row">
            <div class="col-md-12" style="display:none" id="DivsuccessI">
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <lable id="lblsuccessI"></lable>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="display:none" id="DiverrorI">
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <lable id="lblerrormsgI"></lable>
                </div>
            </div>
        </div>

        <div class="row colpadding0" style="margin-left:3%">
            <div class="col-md-12 colpadding0">
                <div class="row">
                    <div class="col-md-12" style="display:none" id="Divsuccess">
                        <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <lable id="lblsuccess"></lable>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="display:none" id="Diverror">
                        <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <lable id="lblerrormsg"></lable>
                        </div>
                    </div>
                </div>
                <!-- this will be the content of the popup -->

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row mt30 colpadding0" >
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-6 colpadding0">
                            <span style="color:red">*</span><lable class="control-label">Entity Name </lable>
                            @(Html.Kendo().DropDownListFor(model => model.Entity_Id)
                                    .DataValueField("Id")
                                    .DataTextField("EntityName")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/DirectorMasterAPI/GetDropDownEntityForDetailsOfInterest?Director_Id="+Model.Director_ID).Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(true);
                                    })
                                    .Value(Model.Entity_Id.ToString())
                                    .OptionLabel("Select")
                                    .HtmlAttributes(new { style = "width: 95%;", onchange = "ddlEntity_Id_Changed()" })
                            )
                        </div>

                        <div class="col-md-6 colpadding0">
                            <div class="col-md-1 colpadding0">
                            </div>
                            <div class="col-md-11 colpadding0">
                                <span style="color:red">*</span><label class="control-label">Entity Type</label>

                                @(Html.Kendo().DropDownListFor(model => model.TypeOfEntity)
                                    .DataValueField("EntityTypeId")
                                    .DataTextField("EntityTypeName")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/EntityMasterAPI/GetDropDownforEntityTypeVM").Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(true);
                                    })
                                    .Value(Model.TypeOfEntity.ToString())
                                    .HtmlAttributes(new { @class = "amp-h25", style = "width: 95%;" })
                                )

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt30 colpadding0">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-6 colpadding0">
                            <span style="color:red">*</span><label class="control-label">Name of the other Entity</label>

                            @(Html.Kendo().TextBoxFor(m => m.NameOfOther).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 95%", autocomplete = "off" }))
                            @Html.ValidationMessageFor(model => model.NameOfOther, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6 colpadding0">
                            <div class="col-md-1 colpadding0">
                            </div>
                            <div class="col-md-11 colpadding0">
                                <span style="color:red">*</span><label class="control-label">Nature of Interest or concerned</label>

                                @(Html.Kendo().DropDownListFor(m => m.NatureOfInterest)
                                      .OptionLabel("Select")
                                      .DataTextField("Name")
                                      .DataValueField("Id")
                                      .DataSource(dataSource =>
                                      {
                                          dataSource.Read(read =>
                                          {
                                              read.Url("/api/DirectorMasterAPI/GetNatureOfInterestByEntityType").Data("filterNatureOfInterest").Type(HttpVerbs.Get);
                                          })
                                          .ServerFiltering(true);
                                      })
                                      .HtmlAttributes(new { style = "width: 95%;", onchange = "changeNatureOfInterest(this)" })
                                      .CascadeFrom("TypeOfEntity"))

                                @Html.ValidationMessageFor(model => model.NatureOfInterest, "", new { @class = "text-danger" })

                            </div>
                        </div> 
                    </div>
                </div>

                <div class="row mt30 colpadding0">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-6 colpadding0">
                            <span style="color:red">*</span><label class="control-label">CIN</label>
                            @(Html.Kendo().TextBoxFor(m => m.CIN).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 95%", @id = "txtCIN", autocomplete = "off" }))
                            @Html.ValidationMessageFor(model => model.CIN, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6 colpadding0">
                            <div class="col-md-1 colpadding0"></div>
                            <div class="col-md-11 colpadding0">
                                <span id="sp_DirNew" style="color:red">*</span><label class="control-label">If Director</label>
                                @Html.Kendo().DropDownListFor(model => model.IfDirector).BindTo(new SelectList(new List<object> {
                                    new {id="0",text="Select"},
                                    new {id="1",text="Executive Chairman"},
                                    new {id="2",text="MD/CEO"},
                                    new {id="3",text="KMP"},
                                    new {id="4",text="Non-Executive Chairman"},
                                    new {id="5",text="Executive"},
                                    new {id="6",text="Non-Executive"},
                                    new {id="7",text="Non-Executive Independent"},
                                    new {id="8", text="Designated Partner"}}, "id", "text")).HtmlAttributes(new { style = "width: 95%;" })
                                @Html.ValidationMessageFor(model => model.IfDirector, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt30 colpadding0">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-6 colpadding0">
                            <span style="color:red">*</span><label class="control-label">PAN.</label>
                            @(Html.Kendo().TextBoxFor(m => m.PAN).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 95%", @id = "txtPAN", autocomplete = "off" }))
                            @Html.ValidationMessageFor(model => model.PAN, "", new { @class = "text-danger" })
                        </div>

                        @*<div class="col-md-6 colpadding0 hidden">
                            <div class="col-md-1 colpadding0"></div>
                            <div class="col-md-11 colpadding0">
                                <span id="sp_intertNew1" style="color:red">*</span><label class="control-label">If Interest through Relatives</label>
                                @Html.Kendo().DropDownListFor(model => model.IfInterestThroughRelatives).DataValueField("Id").DataTextField("Name").DataSource(source => { source.Read(read => { read.Url("/api/DirectorMasterAPI/GetRelativesList?Director_Id=" + @Model.Director_ID + "").Type(HttpVerbs.Get); }).ServerFiltering(false); }).HtmlAttributes(new { @class = "amp-h25", style = "width: 95%;" })
                                @Html.ValidationMessageFor(model => model.IfInterestThroughRelatives, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                        <div class="col-md-6 colpadding0">
                            <div class="col-md-1 colpadding0"></div>
                            <div class="col-md-11 colpadding0">
                                <span id="sp_intertNew" style="color:red">*</span><label class="control-label">If Interest through Relatives</label>

                                @Html.Kendo().MultiSelectFor(model => model.IfRelatives).DataValueField("Id").DataTextField("Name").DataSource(source => { source.Read(read => { read.Url("/api/DirectorMasterAPI/GetRelativesList?Director_Id=" + @Model.Director_ID + "").Type(HttpVerbs.Get); }).ServerFiltering(false); }).HtmlAttributes(new { @class = "amp-h25", style = "width: 95%;" })
                                @Html.ValidationMessageFor(model => model.IfRelatives, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="row mt30 colpadding0">
                    <div class="col-md-12 colpadding0">
                        

                        <div class="col-md-6 colpadding0">
                                <span style="color:red">*</span><label class="control-label">Date when the interest arosed</label>

                                @(Html.Kendo().DatePickerFor(m => m.Arosed)
                                    .Max(DateTime.Today)
                                    .Format("dd/MM/yyyy")
                                    .ParseFormats(new List<string>() { "dd/MM/yyyy" })
                                    .HtmlAttributes(new { style = "width: 95%", @Id = "Arosed", onchange = "checkDate(this);", autocomplete = "off" })
                                )
                                @Html.ValidationMessageFor(model => model.Arosed, "", new { @class = "text-danger" })
                               </div>

                        <div class="col-md-6 colpadding0">
                            <div class="col-md-1 colpadding0"></div>
                            <div class="col-md-11 colpadding0">
                                <span style="color:red">*</span><label class="control-label">% of shareholding</label>

                                @(Html.Kendo().TextBoxFor(m => m.PercentagesOfShareHolding).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 95%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.PercentagesOfShareHolding, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            function ddlEntity_Id_Changed()
            {
                
                var ddlEntityType = $("#Entity_Id").data("kendoDropDownList");

                var index = ddlEntityType.selectedIndex;

                var Item = ddlEntityType.dataItem(index);
                var TypeOfEntityDropDown = $("#TypeOfEntity").data("kendoDropDownList");

                var _txtNameOfOther = $("#NameOfOther");
                var _txtCIN = $("#txtCIN");
                var _txtPAN = $("#txtPAN");

                if (ddlEntityType.value() > 0) {
                    TypeOfEntityDropDown.readonly();
                    TypeOfEntityDropDown.value(ddlEntityType.dataItem(index).Entity_Type);

                    _txtNameOfOther.val('');
                    _txtCIN.val(ddlEntityType.dataItem(index).CIN);
                    _txtPAN.val(ddlEntityType.dataItem(index).PAN);

                    _txtNameOfOther.attr('readonly', true);
                    _txtCIN.attr('readonly', true);
                    _txtPAN.attr('readonly', true);
                    TypeOfEntityDropDown.readonly();

                    removeDataValidation(_txtNameOfOther);
                    removeDataValidationDropDown($("#TypeOfEntity"));
                    removeDataValidation(_txtCIN);
                    removeDataValidation(_txtPAN);

                    return true;
                }
                else {
                    TypeOfEntityDropDown.select(0);
                    TypeOfEntityDropDown.readonly(false);

                    _txtNameOfOther.val('');
                    _txtCIN.val('');
                    _txtPAN.val('');

                    _txtNameOfOther.attr('readonly', false);
                    _txtCIN.attr('readonly', false);
                    _txtPAN.attr('readonly', false);

                    dataValidation(_txtNameOfOther, 'Please enter name of other entity');
                    dataValidation(_txtCIN, 'Please enter CIN number');
                    dataValidation(_txtPAN, 'Please enter PAN');
                    
                    return false;
                }
                
            }

            function changeNatureOfInterest(obj) {

                var ddlNatureOfInterest = $("#" + obj.id).data("kendoDropDownList");
                var val = ddlNatureOfInterest.value();

                var ddlIfDirector = $("#IfDirector").data("kendoDropDownList");

                var ddlIfRelatives = $("#IfRelatives").data("kendoMultiSelect");

                

                ddlIfDirector.select(0);
                ddlIfRelatives.value([]);
                removeDataValidationDropDown($("#IfDirector"));

                $("#sp_DirNew").addClass("hidden");
                $("#sp_intertNew").addClass("hidden");
                if (val == "2" || val == "9" || val == "10") {
                    ddlIfDirector.readonly(false);
                    ddlIfRelatives.readonly();
                    
                    $("#sp_DirNew").removeClass("hidden");
                    return true;
                }
                else if (val == "7") {
                    ddlIfDirector.readonly();
                    ddlIfRelatives.readonly(false);
                    $("#sp_intertNew").removeClass("hidden");
                    return true;
                }else{

                    ddlIfDirector.readonly();
                    ddlIfRelatives.readonly();
                    return false;
                }
                
                
            }

        </script>
        

    </div>
</div>


