body {background:#e86eaa url(../images/bg-main.jpg) repeat-x  fixed; text-align:justify; color:#494949; font-family: 'Open Sans', sans-serif; line-height:24px;}
a { color:#F00;}
a:hover {color:#0C0;}
#page {}
@import url(http://fonts.googleapis.com/css?family=Dancing+Script|Open+Sans);

h1 {font-family: 'Dancing Script', cursive; margin-bottom:40px;}
h2 { font-size:18px; margin:10px 0 10px 0; color:#e86aa7;}

/* Header Classes Start */

#header { padding-top:10px;}
.logo { float:left;}
.main-nav { float:right; font-family: 'Dancing Script', cursive; margin:20px 0 0 0; background:url(../images/main-nav-border.png) bottom no-repeat; padding:0 0 10px 70px;}
.main-nav a { padding:15px 13px 15px 13px; margin:0 8px; color:#58424c; font-size:16px; text-decoration:none; font-size:20px;}
.main-nav a:hover, .main-nav .selected { color:#FFF;}

.social-links { float:right; margin:10px 0 0 0;}

/* Header Classes End */


/* Maincontainer Classes Start */

#maincontainer { background:#FFF; padding:35px; margin-top:25px;}
.banner { width:1003px; height:360px; display:block; margin:-17px 0 0 -18px;}
.shadow { width:999px; height:77px; background:url(../images/shadow.png) no-repeat; margin-top:-40px;}
.tagline { margin-top:0px; float:left; display:block; width:100%;}
.tagline h1 { font-size:40px; color:#000; float:left;}

.btn-readmore { background:#f289be; color:#FFF; font-size:14px; padding:5px 25px; border:solid 3px #ffcfe7; text-decoration:none; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
.btn-readmore:hover { background:#000; border:solid 3px #333; color:#FFF;}

.box-up-sell { float: left; overflow: hidden; margin-top:30px;}
.box-up-sell img {}
.box-up-sell ul li { margin-right:35px; width:160px; height:184px; text-align:left; text-transform:uppercase; font-size:15px; color:#333; background:#f8d3e3; padding-top:5px; text-align:center;}
.box-up-sell ul li a { margin-top:5px; display:block;}
.box-up-sell .mini-products-grid { background: none repeat scroll 0 0 #fff; float: left; width:934px; }
.box-up-sell .special-price { margin: 0; text-align: center; width:100%; }

.enquiry-form { background:#f1f1f1; padding:30px; width:700px; margin-left:100px; border:solid 1px #CCC;}
.enquiry-form label{ display:block; float:left; width:200px; text-align:right; padding:10px 10px 0 0;}
.txtbox-enquiry { padding:7px 10px; border:solid 1px #CCC; background:#FFF !important; font-size:12px !important; width:300px; font-family:Arial, Helvetica, sans-serif; -moz-box-shadow:
		1px 1px 5px rgba(204,204,204,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow:
		1px 1px 5px rgba(204,204,204,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	box-shadow:
		1px 1px 5px rgba(204,204,204,1),
		inset 0px 0px 1px rgba(0,0,0,0.2);}
.select-enquiry { height:30px; border:solid 1px #CCC; background:#FFF; font-size:14px; width:320px;}
.btn-submit { background:#000; color:#FFF; padding:7px 25px; border:solid 3px #333;; margin-top:10px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; text-transform:uppercase; -moz-border-radius:5px; -webkit-border-radius:5px; cursor:pointer;-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;}
.btn-submit:hover { background:#333;}

.contact-details { float:left; background:#f0f0f0; padding:20px; width:380px; margin-right:0px;}
.photogallery { margin:0; padding:0;}
.photogallery li { float:left; list-style:none; margin:16px 16px; height:150px; -moz-box-shadow:
		0px 0px 12px rgba(0,0,0,0.5),
		inset 10px 10px 1px rgba(0,0,0,1);
	-webkit-box-shadow:
		0px 0px 12px rgba(0,0,0,0.5),
		inset 10px 10px 1px rgba(0,0,0,1);
	box-shadow:
		0px 0px 12px rgba(0,0,0,0.5),
		inset 10px 10px 1px rgba(0,0,0,1);}
		
.service-box { float:left; width:200px; min-height:300px; border:solid 5px #FFF; margin:0 22px 65px 0; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#FFF; 
 -moz-box-shadow:
		5px 5px 12px rgba(0,0,0,0.3),
		inset 0px 0px 0px rgba(0,0,0,1);
	-webkit-box-shadow:
		5px 5px 12px rgba(0,0,0,0.3),
		inset 0px 0px 0px rgba(0,0,0,1);
	box-shadow:
		5px 5px 12px rgba(0,0,0,0.3),
		inset 0px 0px 0px rgba(0,0,0,1);}
.service-box:hover { border:solid 5px #CCC;}
.service-box h3 { display:block; background:#EEE; padding:10px 10px; margin-bottom:0; font-size:16px; text-align:left;}
.service-box img { float:left;}
.service-details { float:left; background:#FFF; width:170px; margin-left:0px; padding:10px 0 0 25px; font-size:13px;}
.service-box ul { margin:0 0 0 0px; padding:0;}
.service-details span { float:right;display:block; width:100%; text-align:right; cursor:pointer; text-transform:uppercase; color:#e86aa7;}

#viewall { margin:0 !important; list-style:none; float:right; width:180px;}
#viewall ul { margin:20px 0 0 20px; padding:0; float:left;}
.treeview { list-style:none;}
.collapsable span { }
.collapsable:hover { cursor:pointer;}

/* Maincontainer Classes End */


/* Footer Classes Start */

#footer { color:#FFF; font-size:11px; padding:10px 0 10px 0; float:left; width:100%;}
.copyright { float:left;}
.marvel-solution { float:right;}
.marvel-solution a {color:#FFF; text-decoration:none;}
.marvel-solution a:hover {color:#000;}

/* Footer Classes End */







