﻿body
{
	font-family: Tahoma;
	color: White;
	margin: 0px;
	padding: 0px;
	font-size: 13px;
	color: #333;
}

.menu
{
	list-style-type: none; /* Added By Sudarshan For Menu Bar*/
	background-color: #465C71;
	border: 1px #4E667D solid;
	color: #DDE4EC;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	list-style-image: none;
}


/* Added By Sudarshan For Menu Bar
#CMPMenuBar ul.dynamic
{
	padding-top: 6px;
}*/

.menuItem
{
	list-style: none;
	background-color: #465C71;
	color: #DDE4EC;
	padding: 7px;
	display: inline-block;
	text-align: left;
	text-decoration: none;
	cursor: pointer;
	
}

/*
.menu ul li a.selected
{
 text-align: center !important;
}

*/

/* Added By Sudarshan For Menu Bar*/
#CMPMenuBar li
{
}

.menu .level1 li a
{
	/*margin: 0px 10px 0px 10px*/
	padding: 3px;
}

#CMPMenuBar a.level1
{
    text-align:center;
}

.menu ul li a:hover
{
	background-color: #bfcbd6;
	color: #465c71;
	text-decoration: none;
	
}



.menu ul li ul li a
{
	border-bottom: 1px solid #bfcbd6 !important;
}



a.normal:link, a.normal:active, a.normal:visited
{
	background-color: #465C71;
	border: 1px #4E667D solid;
	color: #DDE4EC;
	padding: 5px;
	display: inline-block;
	width: 120px;
	text-align: left;
	text-decoration: none;
}

/* Added By Sudarshan For sublink menu*/
a.sublink:link,a.sublink:active,a.sublink:visited
{
	background-color:#2478C1;
	border-radius:5px;
	color: #DDE4EC;
	padding: 3px;
	display: inline-block;
	text-align: left;
	text-decoration: none;
	font-family: Tahoma;
	font-size:10pt;
}

a.sublink:hover
{
	background-color: #6AAAF2;
	text-decoration: none;
}


/* end By Sudarshan*/

a.normal:hover
{
	width: 120px;
	background-color: #BFCBD6;
	color: #465C71;
	text-decoration: none;
}


a.selected:link, a.selected:active, a.selected:visited, a.selected:hover
{
	border: 1px #4E667D solid;
	padding: 5px;
	display: inline-block;
	text-align: left;
	text-decoration: none;
	width: 120px;
	background-color: #BFCBD6;
	color: #465C71;
	text-decoration: none;
}

/* Bug Fix 0000799 */
a img
{
	border: none;
}

.label
{
	width: 70px;
	display: block;
	float: left;
	font-size: 13px;
	color: #000000;
	font-weight: bold;
}

.button
{
	padding: 5px;
	text-decoration: none;
	color: #000;
	background: #f2f2f2;
	font-weight: bold;
	border: solid 1px #928282;
	font-style: normal;
	font-variant: normal;
	font-size: 8pt;
	line-height: normal;
	font-family: Tahoma, Helvetica, sans-serif;
	height: 29px;
	width: 120px;
	cursor: pointer;
}

.filter
{
	background-color: White;
	display: block;
	color: black;
	width: 100%;
}

.filter td
{
	padding-left: 10px;
}

.input
{
	width: 150px;
	border: 1px solid #ccc;
}

.reportfield
{
	position: relative;
	height: 20px;
}

.reportitem
{
	width: 100%;
}

.reportitem tr
{
	position: relative;
	height: 20px;
	color: #333333;
	background-color: White;
	font-weight: normal;
}
.reportitem tr td
{
	padding: 5px;
	border-bottom: 1px solid grey;
}

.ui-combobox
{
	position: relative;
	display: inline-block;
	background-color: White;
}
.ui-combobox-toggle
{
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0; /* adjust styles for IE 6/7 */
	height: 1.7em;
	top: 0.1em;
}
.ui-combobox-input
{
	margin: 0;
	padding: 0.3em;
}
.ui-autocomplete-category
{
	font-weight: bold;
}

.ui-autocomplete
{
	max-height: 100px;
	overflow-y: auto; /* prevent horizontal scrollbar */
	overflow-x: hidden;
}
/* IE 6 doesn't support max-height
     * we use height instead, but this forces the menu to always be this tall
     */
* html .ui-autocomplete
{
	height: 100px;
}

.no-close .ui-dialog-titlebar-close
{
	display: none;
}


#footer
{
 clear: both;
 overflow: hidden;
 color: #FFFFFF;
 margin: 0px 0px 0px 0px;
 padding: 2px 0px 2px 0px;
 background-color: #3A4F63;
}
#footer a
{
 text-decoration: none;
 color: #FFFFFF;
}
#footer a:hover
{
 text-decoration: underline;
 color: #FFFFFF;
}

.pagefilter
{
    width: 75%; 
    padding-right: 20px
}
.newlink
{
    width:7%;
    padding-right:15px
}

th a
{
    text-decoration: none;
}

.vdsummary
{
    font-family:Lucida Grande,Lucida Sans,Arial,sans-serif;
    font-size:13px;
    border: solid 1px red;  
    background-color: #ffe8eb;
}