﻿
@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMCountry

<div id="example">
    <div id="window" style="width:446px; max-height:550px;overflow-y:auto;overflow-x:hidden">
        <!-- this will be the content of the popup -->

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       @Html.HiddenFor(m=>m.CountryId)
        <div class="ml-mr">
   
                    @Html.Partial("AddEditCountry", Model)
           </div>
    </div>
</div>
