﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMCountry


<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <!-- this will be the content of the popup -->

        <div class="row">
            @if (Model.success)
            {
                <div class="col-md-12">

                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.Message)))
                {
                            <lable>@Model.Message</lable>
                        }
                    </div>

                </div>
            }
        </div>

        <div class="row">
            @if (Model.error)
            {
                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.Message)))
                {
                            <lable>@Model.Message</lable>
                        }
                    </div>

                </div>
            }
        </div>
        <div id="DivCountryDtls">

            @using (Ajax.BeginForm("SaveCountry", "CountryCityStateMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivCountryDtls", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmCountry" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.CountryId)

                <div class="row mt30">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-3 colpadding0">
                            <span style="color:red">*</span><lable class="control-label">Countary Name:</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().TextBoxFor(m => m.CountryName).HtmlAttributes(new { @class = "form-control k-textbox", @Id = "txtCountryName", style = "width: 100%" }))
                            @Html.ValidationMessageFor(model => model.CountryName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;margin-top: 2%;">
                    <button type="submit" id="btnllp" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
                    <button type="button" id="btncountry" class="k-button">Close</button>
                </div>

            }
        </div>
    </div>
</div>

<script>
    var validator1 = $("#frmCountry").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");


    $("#btncountry").click(function (z) {
        z.preventDefault();
        z.stopPropagation();
        $('#wndAdd').data("kendoWindow").close();
        $('#gridKendo').data('kendoGrid').dataSource.read();
        $('#gridKendo').data('kendoGrid').refresh();
    });
</script>