﻿<!DOCTYPE html>
<html>
<head>

    <title> </title>
    <link href="~/select2/select2.min.css" rel="stylesheet" />
    <link href="~/content/bootstrap.css" rel="stylesheet" />
    <link href="~/content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.common.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.rtl.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.silver.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="~/content/datepicker3.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../Newjs/jquery-1.12.4.min.js"></script>
    <script src="~/masters/bootstrap.min.js"></script>
    <script src="~/select2/select2.min.js"></script>
    <script src="~/select2/select2.full.js"></script>
    <script src="~/scripts/anjular(1.5.0).min.js"></script>
    <script src="~/masters/angular.js"></script>
    <script src="~/scripts/angular.js"></script>
    <script src="~/scripts/angular.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/scripts/date.js"></script>
    <script src="~/masters/dirpagination.js"></script>
    <script type="text/javascript" src="../../Newjs/kendo.all.min.js"></script>
    <script type="text/javascript" src="../../Newjs/jszip.min.js"></script>

    @*<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

        <script src="http://ui-grid.info/release/ui-grid.js"></script>

        <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">*@
    <script type="text/javascript">

        var app = angular.module("KendoDemos", ['angularUtils.directives.dirPagination', "kendo.directives"]);
        //   var app = angular.module("KendoDemos", ["ui.grid"]);
        angular.element(document).ready(function () {
            //angular.bootstrap(document, ["app"]);
        })


        app.controller("MyCtrl", function ($scope, $http,  $window) {

            $scope.DisplayForm = true;
            $scope.addplus = false;
            $scope.addminus = true;
            $scope.editminus = false;
            $scope.tables = true;

            //$http({
            //    method: 'Get',
            //    url: '/FinanceRecovery/getAllExpenseRecoveryDetails1/'
            //}).success(function (data) {
            //    debugger;
            //    $scope.recoveries = data;
            //});

            $scope.recoveries = [];
            $.post("../FinanceRecovery/getAllExpenseRecoveryDetails/", function (r) {

               
                for (var i = 0; i < r.length; i++) {

                    var app = {};
                    app.SalesExpensesTransactionID = r[i].TransactionID;
                    app.TransactionID = r[i].TransactionID;
                    app.CustomerName = r[i].CustomerName;
                    app.Amount = r[i].Amount;
                    //app.TransactionDate = ConvertJsonDateToDateTime1(r[i].TransactionDate);
                    //app.TransactionDetailDate = ConvertJsonDateToDateTime1(r[i].TransactionDetailDate);
                    app.TransactionSerial = r[i].Transactionserial;
                  
                    app.DocumentTransactionID = r[i].DocumentTransactionID;
                    app.FileName = r[i].FileName;
                    $scope.recoveries.push(app);
                }
                $scope.$apply();
            });

            $scope.form = true;
            $scope.editminus = false;
            $scope.tabs = false;
            $scope.addplus = true;
            $scope.addminus = false;
            $scope.tables = false;
            $scope.ShowLoader = true;


            $scope.sort = function (keyname) {
                $scope.sortKey = keyname;
                $scope.reverse = !$scope.reverse;
            }



            //download file based upon DocumentTransactionID
            $scope.Download = function (recovery) {
         
                $('#downloadfile').attr('src', '../Common/DownloadExpenseRecoveyDocument.aspx?InstanceID=' + recovery.TransactionID);
               
            };

            //Check uncheck all elements based upon checkbox selection
            $scope.CheckUncheckHeader = function () {
               
                $scope.IsAllChecked = false;
                for (var i = 0; i < $scope.recoveries.length; i++) {
                    if (!$scope.recoveries[i].Selected) {
                        $scope.IsAllChecked = false;
                        break;
                    }
                };
            };
            $scope.CheckUncheckHeader();

            $scope.CheckUncheckAll = function () {
                for (var i = 0; i < $scope.recoveries.length; i++) {
                    $scope.recoveries[i].Selected = $scope.IsAllChecked;
                }
            };

            $scope.Invoice = function (recovery) {
             
                
                var details = new Array();
               
                for (var i = 0; i < recovery.length; i++) {
                 
                    if ($scope.recoveries[i].Selected) {
                        var detail = {};
                        $scope.TransactionIDList = [];
                     
                        detail.TransactionIDList = $scope.recoveries[i].TransactionID;
                        details.push(detail);
                        
                    }
                }
                debugger;
                $scope.approvals = [];
                var TransactionIDs = {TransactionID : details};
                $http({
                   
                    method: "post",
                    url: "../financeRecovery/SaveInvoice",
                    dataType: 'json',
                    headers: { "Content-Type": "application/json" },
                    //data: { transactionID: Approvals.TransactionID }
                   
                    data: JSON.stringify({ TransactionIDs })

                   
                }).then(function (response) {
                   
                    if (response.data == true) {
                     
                        alert("Push To Invoice Successfully Done");
                        $window.location.reload();
                    }
                   

                }), function (error) {
                    $scope.message = 'Unexpected Error';
                };
                
                 
               
            };

        });

       

    </script>

    <style type="text/css">
        .myGrid {
            width: 500px;
            height: 200px;
        }
    </style>

</head>

<body ng-app="KendoDemos">

    <form class="form-horizontal">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4" style="margin-left:40px;margin-top:15px;">
                    <h1 class="modal-title" style="text-align:left; height: 30px;font-size: 16px;"><b>Expense Recovery</b></h1>
                </div>

            </div>
        </div>
    </form>

    <div ng-controller="MyCtrl">

        <div class="alert alert-danger" ng-show="DeleteAlert" ng-model="delete">
            <strong>{{delete}}</strong>
        </div>
        <div class="alert alert-success" ng-show="AddAlert" ng-model="add">
            <strong>{{msg}}</strong>
        </div>
        <div class="alert alert-info" ng-show="EditAlert" ng-model="edit">
            <strong>{{msg}}</strong>
        </div>

        <div class="modal-body">
            <div id="wrapper" class="clearfix" scroll-bookmark="bookmark">
                <form name="userForm" novalidate>
                    <div class="col-md-12">
                        <div>

                            <div id="table">
                                <div class="table-responsive " style="" scroll-bookmark="bookmark2">
                                    <table id="tblOrders" cellpadding="12" class="table table-bordered table-hover table-striped" style="margin-left: 20px; margin-right: 20px;">
                                        <thead style="background-color:#6db6ec;color:white;font-size:12px;">
                                            <tr>

                                                <th align="left" style="width: 50px;">
                                                    <label>
                                                        <input type="checkbox" ng-model="IsAllChecked" ng-change="CheckUncheckAll()" />
                                                        Select All
                                                    </label>
                                                </th>
                                                <th style="width: 100px;" ng-click="sort('CustomerName')"><b>Customer</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='CustomerName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                <th style="width: 50px;" ng-click="sort('Amount')"><b>Expense(INR)</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Amount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                <th style="width: 100px;" ng-click="sort('TransactionSerial')"><b>Statement No</b><span class="glyphicon sort-icon" ng-show="sortKey=='TransactionSerial'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                <td style="width: 80px;">Proof for Download</td>
                                            </tr>
                                        </thead>

                                        <tbody dir-paginate="recovery in recoveries|orderBy:sortKey:reverse|filter:search|itemsPerPage:10" ng-model="search">
                                            <tr>
                                                @*<td style="font-size:12px">
                                                        {{recovery.selected}}
                                                    </td>*@

                                                <td style="font-size:12px">
                                                    <label for="chkEmployee_{{recovery}}">
                                                        <input id="chkEmployee_{{}}" type="checkbox" ng-model="recovery.Selected" ng-change="CheckUncheckHeader()" />
                                                        {{}}
                                                    </label>
                                                    <input type="hidden" ng-model="recovery.TransactionID" />
                                                    <input type="hidden" ng-model="recovery.DocumentTransactionID" />
                                                    <input type="hidden" ng-model="recovery.SalesExpensesTransactionID" />
                                                  
                                                    {{recovery.selected}}
                                                </td>

                                                <td style="font-size:12px">
                                                    {{recovery.CustomerName}}
                                                </td>
                                                <td style="font-size:12px">
                                                    {{recovery.Amount}}
                                                </td>
                                                <td style="font-size:13px">
                                                    {{recovery.TransactionSerial}}
                                                </td>
                                                <td>
                                                    <a class="glyphicon glyphicon-download-alt" ng-click="Download(recovery)" href=""></a>

                                                </td>
                                        </tbody>

                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="form-group" style="width: 100%; text-align: right; padding: 10px;">
                            <div class="col-md-12">
                                <p>
                                    <button class="btn btn-primary btn-sm" ng-click="Invoice(recoveries);">Push to Invoice</button>
                                   
                                </p>
                            </div>
                        </div>
                    </div>


                </form>

                <div class="alert alert-info" ng-show="(recoveries).length==0" style="color: red;text-align:center; margin-left:35px; font-weight: bold">No Records Found</div>

            </div>
        </div>

    </div>
    <iframe id="downloadfile" src="about:blank" width="0" height="0"></iframe>
</body>

</html>