﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.PreviewAgendaVM

<style>
     #gridMinutesItemSearch .k-grid-header {
        height: 0;
        border-bottom-width: 0;
        display: none;
        overflow: hidden;
    }

   #gridMinutesItemSearch .k-grid td {
    line-height: 1.5em;
    }

    #gridMinutesComments .k-grid-header {
        height: 0;
        border-bottom-width: 0;
        display: none;
        overflow: hidden;
    }

         td.noWhiteSpace {
    white-space: initial;
}
</style>

@if (Model != null)
{
    var SrNo = 0;
    var SrN = 0;
    var strMeetingSrNo = "";
    var adjourned = (@Model.IsAdjourned == true ? " (Adjourned)" : "");

    if (Model.MeetingSrNo != null)
    {
        var MeetingSrNo = Model.MeetingSrNo;
        if (MeetingSrNo == 1)
        {
            strMeetingSrNo = "1<sup>st</sup>";
        }
        else if (MeetingSrNo == 2)
        {
            strMeetingSrNo = "2<sup>nd</sup>";
        }
        else if (MeetingSrNo == 3)
        {
            strMeetingSrNo = "3<sup>rd</sup>";
        }
        else
        {
            strMeetingSrNo = MeetingSrNo + "<sup>th</sup>";
        }
    }

<script>
    function getCommentToolTip(e) {
        return e.target.attr('data-title');
    }

    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }
</script>

    <div style="overflow:hidden;">
 
        <div>
            @(Html.Kendo().Tooltip()
            .For("#divMOMPreview")
            .Filter(".marker")
            .Position(TooltipPosition.Top)
            .AutoHide(true)
            //.Width(200)
            .ContentHandler("getCommentToolTip")
            )

            @(Html.Kendo().Tooltip()
            .For("#gridMinutesItemSearch")
            .Filter("td:nth-child(1)")
            .ContentHandler("toolTipContent_gridNew")
            .Position(TooltipPosition.Top)
            .Width(200)
            .AutoHide(true) )
        </div>
     
        <div id="divMOMPreview">
            <div class="row">
                <div class="col-md-12 colpadding0">
                                    
                                 
                    <table>
                        <tr>
                            <td style="width:22%;vertical-align:top;">
                                <div style="max-height:480px;overflow-y :auto;">

                                    <div class="row master-Headre " style="background-color: whitesmoke;">
                                        <div class="col-md-12 colpadding0">
                                            <div class="col-md-1 colpadding0">
                                            </div>
                                            <div class="col-md-10 colpadding0">
                                                <input id='filterMinutesItemSearch' placeholder="Search" class='k-textbox' style="margin-top:15px;width:100%" autocomplete="off" onchange="filterChange(this)" />
                                            </div>
                                            <div class="col-md-1 colpadding0">
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row colpadding0">
                                        <div class="col-md-12 colpadding0">
                                            <table id="gridMinutesItemSearch">

                                                <colgroup>
                                                    <col />
                                                </colgroup>

                                                <thead>
                                                    <tr>
                                                        <th data-field="Agenda_Name">Agenda</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (var item in Model.lstAgendaItems)
                                                    {
                                                        SrN++;
                                                        <tr>
                                                            <td> <div class="page-thumb"><a href="#spMOMText_@item.MeetingAgendaMappingID"> @SrN. @Html.Raw(item.AgendaItemText)</a> </div> </td>
                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </td>

                            <td style="background-color:#dedddd;">
                                <div style="max-height:480px;overflow-y :auto;">

                                    <div id="main-content-agenda-preview" class="mycollapse myComment">
                                        <div id="blogs" class="widget">
                                            <div id="divEntityLetterHead" class="widget-item myHeading" style="text-align:center;margin-top:10px;padding-bottom: 20px;">
                                                MINUTES OF THE @Html.Raw(strMeetingSrNo)@adjourned MEETING OF THE @Model.MeetingTypeName.ToUpper() OF @Model.EntityName.ToUpper() HELD ON @Convert.ToDateTime(Model.MeetingDate).ToString("dddd").ToUpper(), @Convert.ToDateTime(Model.MeetingDate).ToString("MMMM dd, yyyy").ToUpper(), AT @Model.MeetingTime.ToUpper() AT @Model.MeetingVenue.ToUpper()
                                            </div>
                                            <div class="widget-item" style="margin-left:20px;padding-top:10px;">
                                                @if (Model.lstMeetingAttendance != null)
                                                {
                                                    if (Model.lstMeetingAttendance.Count > 0)
                                                    {
                                                        <b>PRESENT</b><br />
                                                            <table style="width:100%">
                                                                @foreach (var item in Model.lstMeetingAttendance.Where(k => k.Attendance == "P"))
                                                                {
                                                                    <tr>
                                                                        <td style="width:40%"><b>@item.MeetingParticipant_Name</b></td>
                                                                        <td style="width:60%">@item.Designation</td>
                                                                    </tr>
                                                                }
                                                            </table>
                                                            <p>
                                                                The meeting commenced at @Model.MeetingStartTime.<br />
                                                            </p>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        @foreach (var item in Model.lstAgendaItems)
                                        {
                                            SrNo++;
                                            <div id="blogs" class="widget">

                                                <div class="widget-item" id="spMOMText_@item.MeetingAgendaMappingID">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td style="vertical-align: top;"><h4>@SrNo. </h4></td>
                                                                <td>
                                                                    <h4 style="text-align:justify;"><span> @Html.Raw(item.AgendaItemText)</span></h4>
                                                                    <p class="blog-info"></p>
                                                                    @Html.Raw(item.AgendaFormat)
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        }
                                        @{ SrNo++; }
                                        <div id="blogs" class="widget">
                                            <div class="widget-item">
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td style="vertical-align: top;"><h4>@SrNo. </h4></td>
                                                            <td>
                                                                <h4 style="text-align:justify;"><span> @Html.Raw("Vote of Thanks")</span></h4>
                                                                <p class="blog-info"></p>
                                                                @Html.Raw("There being no other matter to be transacted, the meeting concluded at " + Model.MeetingEndTime + ". with a vote of thanks to the Chair.")
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td><br /><br /><br /></td>
                                                        </tr>
                                                    </tbody>
                                                </table>


                                                @if (Model.meetingMinutesDetails != null)
                                                {
                                                    <table width="100%">
                                                        <tr>
                                                            <td style="width:50%">Place : @Model.meetingMinutesDetails.Place</td>
                                                            <td style="width:50%"><b>Chairman</b></td>
                                                        </tr>

                                                        <tr>
                                                            <td>Date of entering minutes : @(Model.meetingMinutesDetails.DateOfEntering.HasValue ? Convert.ToDateTime(Model.meetingMinutesDetails.DateOfEntering).ToString("dd/MM/yyyy") : "")</td>
                                                            <td>Date of signing minutes : @(Model.meetingMinutesDetails.DateOfSigning.HasValue ? Convert.ToDateTime(Model.meetingMinutesDetails.DateOfSigning).ToString("dd/MM/yyyy") : "")</td>
                                                        </tr>
                                                    </table>
                                                }

                                            </div>
                                        </div>

                                            <div id="blogs" class="widget">
                                                <p><br /></p>
                                                <p><br /></p>
                                                <p><br /></p>
                                                <p><br /></p>
                                                <p><br /></p>
                                                <p><br /></p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                               
                                    
                </div>
            </div>
        </div>

        </div>
 }

<script type="text/x-kendo-template" id="myTemplateSearchAgenda">
    <input id='filter' placeholder="Type to search" class='k-textbox' style="width:90%" autocomplete="off" onchange="filterChange(this)" />
</script>

<script>
    function show11() {
        
        var a = $('#spMOMText_165');
        //$('#spMOMText_165').scrollTo(1);
        $('#spMOMText_169').get(0).scrollIntoView(200);
        //$([document.documentElement, document.body]).animate({
        //    scrollTop: $('#spMOMText_165').offset().top
        //}, 2000);
    }


    $('#filterMinutesItemSearch').on('input', function (e) {

        var filter = { logic: 'or', filters: [] };

        var t = $('#filterMinutesItemSearch');
        if (t.val() != "") {
            filter.filters.push({ logic: "or", field: "Agenda_Name", operator: "contains", value: t.val() });
        }

        var grid = $("#gridMinutesItemSearch").data("kendoGrid");
        grid.dataSource.filter(filter);
    });

    $(document).ready(function () {
        
        //var grid = $('#gridMinutesItemSearch').kendoGrid({});
        //grid.refresh();

        $("#gridMinutesItemSearch").kendoGrid({
           // toolbar: kendo.template($("#myTemplateSearchAgenda").html()),
            sortable: false,
            scrollable: false,
            dataBound: function (e) {
                
                var grid = $("#gridMinutesItemSearch").data("kendoGrid");
                var data = grid.dataSource.data();
                $.each(data, function (i, row) {
                    $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

                    $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
                    $('tr[data-uid="' + row.uid + '"] ').css("background-color", "whitesmoke");
                    //$('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 1px 0 #DDDDDD");

                    //background-color: #cccaca;
                    var allRows = e.sender.items();
                    allRows.each(function (index, row) {
                        var nameCell = $(this).find("td");
                        nameCell.addClass("noWhiteSpace");
                    });

                })
            }
        });

    });
    
</script>