﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@{
    ViewBag.Title = "Draft Minutes";
}

<style>
    /*#DraftMinutes .k-grid-header {
        height: 0;
        border-bottom-width: 0;
        display: none;
        overflow: hidden;
    }*/

    .mt-1 {
        margin-top: 1%;
    }

    .seekavabtn {
        width: 11%;
        height: 25px;
        left: 1399px;
        top: 122px;
        background: #0090D6;
        border-radius: 5px;
    }

    .container .checkmarkava:after {
        left: 4px;
        top: 0px;
        width: 6px;
        height: 13px;
        border: solid #1976d2;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>

<!-- Agenda / MOM preview css-->
<style>
    .myHeading h3 {
        font-size: 1.2em;
        margin-top: 2px;
        text-align: center;
        color: #1f97f7;
        width: auto;
        font-weight: normal;
    }

    .myHeading h4 {
        font-size: 1.6em;
        /*text-transform: uppercase;*/
        text-align: center;
        font-weight: normal;
        /*color: #1f97f7;*/
        width: auto;
    }

    .myIndex h3 {
        font-size: 1.1em;
        margin-top: 1px;
        margin-left: 20px;
        text-align: left;
        width: auto;
        font-weight: normal;
    }

    #main-content-agenda-preview {
        display: table-cell;
        margin: 0;
        padding: 20px;
        /* width: 680px; */
        /*width: 980px;*/
        vertical-align: top;
    }

    .widget.placeholder {
        opacity: 0.4;
        border: 1px dashed #a6a6a6;
    }

    /* WIDGETS */
    .widget {
        margin: 0 0 10px;
        padding: 0;
        background-color: #ffffff;
        border: 1px solid #e7e7e7;
        border-radius: 3px;
        /*cursor: move;*/
    }


        .widget:hover {
            background-color: #fcfcfc;
            border-color: #cccccc;
        }

        .widget div {
            padding: 10px;
            min-height: 50px;
        }

        .widget h3 {
            font-size: 12px;
            padding: 8px 10px;
            text-transform: uppercase;
            border-bottom: 1px solid #e7e7e7;
            margin-top: 2px;
            text-align: right;
        }

            .widget h3 span {
                float: right;
            }

                .widget h3 span:hover {
                    cursor: pointer;
                    background-color: #e7e7e7;
                    border-radius: 20px;
                }

    /* BLOGS & NEWS */
    #blogs div,
    #news div {
        /*padding: 0 20px 20px;*/
        padding: 0 20px 1px;
    }

    #teammates h4,
    #blogs h4,
    #news h4 {
        width: auto;
        margin: 10px 0 2px;
        font-size: 1.4em;
        color: #1f97f7;
        font-weight: normal;
    }

    .blog-info {
        margin: 0 0 10px;
        font-size: .9em;
        color: #787878;
    }

    #sidebar #blogs h4 {
        font-size: 1em;
    }

    #sidebar #blogs p {
        display: none;
    }

    #sidebar #blogs .blog-info {
        display: block;
    }

    #main-content-agenda-preview #news h4 {
        font-size: 1.2em;
        line-height: 1.4em;
        height: 40px;
    }

        #main-content-agenda-preview #news h4 span {
            display: block;
            float: left;
            width: 100px;
            height: 40px;
            color: #000;
        }

    .hint {
        width: 250px;
        height: 100px;
        overflow: hidden;
    }

        .hint > h3 {
            padding-left: 20px;
        }
</style>

<style>
    .widget {
        margin-left: 50px;
        /*border-right-width: 0px;*/
        margin-bottom: 2px;
        margin-right: 50px;
    }

    #teammates h4,
    #blogs h4,
    #news h4 {
        /*margin-top :50px;*/
    }

    #blogs div,
    #news div {
        /*padding: 0 20px 20px;*/
        padding: 50px 90px 50px;
    }
</style>

<style>

    .page-thumb {
        /*padding: 5px 2px 5px;
    border: 1px;
    border-color: #c7c1c1;
    border-style: solid;
    margin-left: 5px;
    margin-right: 5px;
    max-height: 80px;
    padding-left:10px;*/
        padding: 20px 20px 20px;
        border: 1px;
        background-color: white;
        border-color: #c7c1c1;
        border-style: solid;
        margin-left: 20px;
        margin-right: 20px;
        /*max-height: 98px;
    padding-left: 10px;*/
        font-size: smaller;
        line-height: 1.5em;
    }
</style>

<!-- Draft Minutes Status-->
<style>
    .draft-status-label {
        color: #666;
    }
    .draft-status {
        text-align: center;
        /*margin-top: 2px;*/
        height: 21px;
        line-height: 1.6em;
        margin-left: 10px;
        margin-right: 10px;
        width: 20px;
    }
    .draft-status-received {
        background-color: #ffdcda;
        color: #b03830;
    }
    .draft-status-read {
        background-color: #ffefc7;
        color: #cf8224;
    }
    .draft-status-approved {
        background-color: #d7fccd;
        color: #259987;
    }
</style>

<script>

    function GetMeetingsDetails(data) {
        
        var str = "";

        var color = "#017fbe";

        //var day = moment(data.MeetingDate).format('DD');
        //var DateOfDraftCirculation = moment(data.DateOfDraftCirculation).format('DD/MM/YYYY');
        //        str += "<div style='padding-bottom:4px;margin:10px 10px;'><table cellpadding='0' cellspacing='0' style='width:100%;table-layout:fixed;'><tbody><tr><td style='vertical-align:top;width:55px;text-align:center;'><table cellpadding='0' cellspacing='0' style='width:50px;margin:0px auto;border:1px solid rgb(224, 224, 224);border-radius:5px;'><tbody><tr><td style='background-color:#017fbe;color:#ffffff;font-size:14px;line-height:12px;border-radius:4px 4px 0px 0px;'>" + data.Month + "</td></tr><tr><td style='color:#555555;font-size:20px;line-height:1;padding:5px 0px;'>" + data.Day + "</td></tr></tbody></table></td><td style='padding:0px 30px 0px 15px;vertical-align:top;'><h1 style='cursor:pointer;font-size:16px;line-height:1.4;margin-top:0px;padding-bottom: 0px;margin-bottom: 0px;font-weight:bold;'>" + data.MeetingTypeName + " Meeting</h1><p style='line-height:1.4;'></p><p style='line-height:1.4;margin-bottom: 0px;font-weight:bold;'>" + data.EntityName + "</p><p style='line-height:1.4;'></p></td></tr></tbody></table></div>";
        str = "<div style='padding-bottom:2px;margin:2px 2px;'><table cellpadding='0' cellspacing='0' style='width:100%;table-layout:fixed;'><tbody><tr><td style='vertical-align:top;width:55px;text-align:center;'><table cellpadding='0' cellspacing='0' style='width:50px;margin:0px auto;border:1px solid rgb(224, 224, 224);border-radius:5px;'><tbody><tr><td style='background-color:#017fbe;color:#ffffff;font-size:14px;line-height:12px;border-radius:4px 4px 0px 0px;'>" + data.Month + "</td></tr><tr><td style='color:#555555;font-size:20px;line-height:1;padding:5px 0px;'>" + data.Day + "</td></tr></tbody></table></td><td style='padding:0px 30px 0px 15px;vertical-align:top;'><h1 style='cursor:pointer;font-size:16px;line-height:1.4;margin-top:0px;padding-bottom: 0px;margin-bottom: 0px;font-weight:bold;'>" + data.MeetingTypeName + " Meeting [ " + data.MeetingSrNo + " ]</h1><p style='line-height:1.4;'></p><p style='line-height:1.4;margin-bottom: 0px;font-weight:bold;'>" + data.EntityName + "</p><p style='line-height:1.4;'></p></td></tr></tbody></table></div>";
        return str;
    }

    function onRowBound() {
        //var grid = $("#DraftMinutes").data("kendoGrid");
        //var data = grid.dataSource.data();
        //$.each(data, function (i, row) {
        //    $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

        //    $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
        //    $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 2px 0 #DDDDDD");
        //    $('tr[data-uid="' + row.uid + '"] ').css("height", "187px");
        //})


    }
</script>

<script type="text/javascript">
    function showMinutesOfMeeting(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var direction = "@Url.Action("DraftMinutesView", "MyMeetings")" + "?MeetingId=" + dataItem.MeetingID + "&DraftCirculationID=" + dataItem.DraftCirculationID;

        //if (dataItem.IsMeetingCompleted == true) {

            $("#wndMOMPreview").attr("style", "min-height:100px;");

            var wnd = $("#wndMOMPreview").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndMOMPreview").kendoWindow({
                actions: ["Close"],
                content: direction,
                width: "85%",
                visible: false,
                modal: true,
                refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
                open: function () { kendo.ui.progress(this.element, true); },
                close: function (e) {
                    
                   // var target = $('body .myComment');
                    //target.marker('destroy');
                    $(this.element).empty();
                    $('#DraftMinutes').data('kendoGrid').dataSource.read();
                }
            }).data("kendoWindow");
            opts.width = "85%";

            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
        //}
    }
</script>

<script>
    function getUserDetails() {
         var loggedInUserID = '@AuthenticationHelper.UserID';
        var customerID = '@AuthenticationHelper.CustomerID';
        return {
            customerId: customerID, userId : loggedInUserID
        }
    }

    function GetDraftMinutesStatus(data) {
        
        var str = "";
        if (data.IsRead == false) {
            str = "<div class='draft-status draft-status-received'>&nbsp;</div>";
        }
        else if (data.IsApproved == true) {
            str = "<div class='draft-status draft-status-approved'>&nbsp;</div>";
        }
        else if (data.IsRead == true) {
            str = "<div class='draft-status draft-status-read'>&nbsp;</div>";
        }

        return str;
    }
</script>

<div class="row master-Headre" style="height:50px;">
    <div class="col-md-12 vertical-center">
        <div class="col-md-8 colpadding0">
        </div>
        <div class="col-md-4 colpadding0">
            <div class="col-md-4">
                <div class="col-md-4 colpadding0">
                    <div class='draft-status draft-status-received'></div>
                </div>
                <div class="col-md-8">
                    <span class="draft-status-label">Received</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-4 colpadding0">
                    <div class='draft-status draft-status-read'></div>
                </div>
                <div class="col-md-8">
                    <span class="draft-status-label">Read</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-4 colpadding0">
                    <div class='draft-status draft-status-approved'></div>
                </div>
                <div class="col-md-8">
                    <span class="draft-status-label">Approved</span>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0">
        @(Html.Kendo().Window().Name("wndMOMPreview").Title("Draft Resolution & Minutes").Visible(false).Modal(true).Draggable(false).Scrollable(true))

        @(Html.Kendo().Grid<BM_ManegmentServices.VM.Dashboard.DraftMeetingListVM>
    ()
    .Name("DraftMinutes")
    .Columns(columns =>
    {
        columns.Bound(c => c.EntityName).Title("")
        .ClientTemplate("<div>#= GetMeetingsDetails(data)#</div>").HtmlAttributes(new { style = "width:70%" }).Sortable(false).Filterable(false).Title("Meeting");
        columns.Bound(c => c.DateOfDraftCirculation).ClientTemplate("#= GetDraftMinutesStatus(data)#").Title("");
        //columns.Bound(c => c.DateOfDraftCirculation).Title("");
        columns.Bound(p => p.DateOfDraftCirculation).ClientTemplate("#= DateOfDraftCirculation == null ? '' : kendo.toString(DateOfDraftCirculation, \"dd-MMM-yyyy\")#").HeaderTemplate("Received Date").Sortable(false).Width("12%");
        columns.Bound(p => p.DueDateOfDraftCirculation).ClientTemplate("#= DueDateOfDraftCirculation == null ? '' : kendo.toString(DueDateOfDraftCirculation, \"dd-MMM-yyyy\")#").HeaderTemplate("Due Date").Sortable(false).Width("12%");
        columns.Command(command =>
        {
            //command.Custom("MI").Click("showMinutesOfMeeting").HtmlAttributes(new { @class = "k-grid-mom" });
            command.Custom("D").Click("showMinutesOfMeeting").HtmlAttributes(new { @class = "k-grid-mom" });
        }).Title("Action");

    })
    .Events(e => e.DataBound("onRowBound"))

    .DataSource(dataSource => dataSource
    .WebApi()
    .PageSize(10)
    .ServerOperation(false)
    .Model(model =>
    {
        model.Id(o => o.MeetingID);
        model.Field(o => o.DraftCirculationID);
        model.Field(o => o.IsRead);
        model.Field(o => o.IsApproved);
    })

    .Read(read => read.Url("/api/MyMeetings/DraftMeetings").Data("getUserDetails"))

    ).HtmlAttributes(new { @style = "width:100%" })
    )
</div>
</div>

<script>
    $(document).ready(function () {

        var breadCrumbData = [
            {
                displayText: "My Meetings",
                navigateUrl: "#",
            },
            {
                displayText: "Draft Minutes",
                navigateUrl: "#",
            }
        ];

        setBreadCrumb(breadCrumbData);
    });
</script>