﻿@model BM_ManegmentServices.VM.VMOTP
@using Kendo.Mvc.UI;



<div class="polaroid polaroid rotate_left">
    <div id="wrapper">
        <div id="dialog">

            <h4>Please enter the 4-digit verification code we sent via SMS:</h4>
            @using (Ajax.BeginForm("verifyOTP", "OTP", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivEntityMaster", OnBegin = "OnOpen", OnComplete = "OnRefresh", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { id = "formOTP" }))
            {

                @Html.HiddenFor(m => m.EmilId)
                @Html.HiddenFor(m => m.MeetingId)
                <div class="form-group">
                    @Html.Kendo().TextBoxFor(m => m.otp).HtmlAttributes(new { @style = "width:100%", @class="form-control" ,@id = "name", @type = "number" })
                    </div>
                    <button class="btn btn-primary btn-embossed">Verify</button>

                    }
                </div>
    </div>
</div>